[2022-02-25 21:31] rolandfarkasCOM opened #6942 "WordPress FSE and AMP-WP lazy loads the Gutenberg logo block resulting in an LCP error"
### Bug Description

 I am not 100% sure if this is a problem with either AMP-WP or Gutenberg..

**Largest Contentful Paint** image was lazily loaded:

@westonruter, the `loading=lazy` attribute is present on the non-amp version of the page, so it could be Gutenberg causing this but could the AMP-WP plugin remove this from the Gutenberg logo block before rendering `<amp-img>`? Or shall I raise thi

[2022-02-25 23:22] westonruter commented on #6942
In WordPress core, the `get_custom_logo()` function explicitly omits the `loading` attribute, and I see that the Site Logo block's [`render_callback`](https://github.com/WordPress/gutenberg/blob/d5915916abc45e6682f4bdb70888aa41e98aa395/packages/block-library/src/site-logo/index.php#L26) in Gutenberg is calling that same function. So I don't know why `loading=lazy` would be present. This may have a

[2022-02-25 23:23] westonruter commented on #6925
FYI: https://github.com/WordPress/gutenberg/pull/38891 got labelled for backporting to a WP core minor release.

[2022-02-28 17:23] westonruter commented on #6909
Reopening since we'll close via the PR being merged.

[2022-02-28 21:07] #6893 closed, assigned to nobody

[2022-03-01 02:12] #6783 closed, assigned to nobody

[2022-03-01 02:27] westonruter opened #6947 "PHP files are being copied from `src/` into `assets/`"
### Bug Description

When running `npm run dev` I'm seeing in the console:

Additionally, I'm seeing a bunch of PHP files from `src` being copied into `assets`:

[code]

I believe this is a regression introduced by an upgrade to `@wordpress/scripts`.

### Expected Behaviour

Builds should work as they did before.

### Screenshots

_No response_

### PHP Version

_No response_

### Plugin Version

[2022-03-01 12:54] rolandfarkasCOM commented on #6942
Thank you for that @westonruter, that's a nice workaround and exactly what I needed! 🙏

[2022-03-01 16:31] westonruter commented on #6931
How I see this looking:

1. PX Engine provides a REST API endpoint, or else the interface for the AMP plugin to expose via the WordPress REST API.
2. A new metabox is added to the Validated URL screen, to appear before the current Stylesheets  metabox.
3. When accessing a Validated URL, we'll show the metabox initially without any PSI data, but then provide a button to fetch it. Once fetched, the

[2022-03-01 17:06] westonruter commented on #6931
We'll replicate the UI for presenting the Lighthouse results as shown on PageSpeed Insights, specifically this part:

[2022-03-01 17:06] westonruter commented on #6931
The screenshot of the page can be omitted.

[2022-03-02 19:05] ryanwelcher commented on #6947
I just pushed up https://github.com/WordPress/gutenberg/pull/39171 that makes copying PHP files opt-in. Any feedback is appreciated!

[2022-03-02 20:16] westonruter commented on #6947
@ryanwelcher I'm not sure this is the same, as our JS files are in `assets/src/` while we also have a `src/` for the autoloaded PHP files.

[2022-03-02 21:02] westonruter commented on #6947
(I probably don't know what I'm talking about.)

[2022-03-03 01:23] #809 closed

[2022-03-03 01:27] #6909 closed, assigned to nobody

[2022-03-03 04:24] westonruter commented on #6909
@danirueda You can use the [latest 2.2.x build](https://github.com/ampproject/amp-wp/wiki/Development-Builds) to utilize the fix now.

[2022-03-03 07:15] danirueda commented on #6909
@westonruter Ok!

Thank you!

[2022-03-03 13:59] ryanwelcher commented on #6947
I may have commented on the wrong ticket but that PR is in reference to https://github.com/ampproject/amp-wp/pull/6952

[2022-03-03 16:23] #6714 closed, assigned to nobody

[2022-03-03 16:31] delawski commented on #6947
@ryanwelcher This is the correct issue. Thank you for fast-tracking WordPress/gutenberg#39171. Thanks to that, we can revert the non-reliable changes (in #6955). The build process should now work as before.

[2022-03-03 16:33] delawski commented on #6947
@westonruter This is now ready for review: #6955.

[2022-03-03 16:50] #6947 closed, assigned to nobody

[2022-03-03 17:47] westonruter commented on #5340
@dhaval-parekh Instead of adding an entire new column, since we're not adding the ability to suppress the plugins from this screen I think it would be suitable just to add a “Suppressed on AMP Pages” link to the plugin meta links when a plugin is suppressed.

[2022-03-04 17:05] #6937 closed, assigned to nobody

[2022-03-04 23:28] westonruter commented on #6925
The fix was released as part of Gutenberg 12.7. It's not yet merged into core.

[2022-03-04 23:29] westonruter commented on #6925
I didn't see your question. But yes, this would prevent CSS transient caching from being disabled.

[2022-03-05 17:50] delawski opened #6958 "Parent theme with AMP incompatibilities is greyed-out in the Site Scan results"
### Bug Description

When both a child theme and its parent cause AMP incompatibilities, the parent theme appears to be inactive in the Site Scan results. This affects AMP Settings screen and in the Onboarding Wizard.

### Expected Behaviour

Both child and the parent theme should be displayed as active (similarly to plugins) if they cause AMP incompatibilities.

### Screenshots

![Screenshot 2022

[2022-03-05 17:51] delawski commented on #6958
This has been discovered while working on #6814 / #6859.

[2022-03-07 10:39] milindmore22 commented on #6937
another user [reported](https://wordpress.org/support/topic/amp-page-caching-detected-3/) error

[2022-03-07 18:59] #6676 closed, assigned to nobody

[2022-03-08 20:36] westonruter commented on #5122
No UI is needed, no. But let's disable the auto-lightbox by default. See https://github.com/ampproject/amp-wp/pull/6936/files#r822046774.

[2022-03-08 23:20] #6807 closed, assigned to nobody

[2022-03-09 00:25] #6814 closed, assigned to nobody

[2022-03-09 00:25] #6958 closed, assigned to delawski

[2022-03-09 00:29] westonruter commented on #5404
Re-opening because there's a failure for the Twenty Twenty test:

<img width="959" alt="image" src="https://user-images.githubusercontent.com/134745/157349089-7faabc96-92fe-43c5-b283-9ce769a4858b.png">

[2022-03-09 00:30] westonruter commented on #5404
Aside: if it's feasible to add a test for Twenty Twenty-Two as well, that would be great.

[2022-03-09 12:30] milindmore22 opened #6968 "Improve checks for image dimensions extraction to avoid warnings"
### Bug Description

As per this [support topic](https://wordpress.org/support/topic/php-warning-division-by-zero-in-class-amp-img-sanitizer-php-on-line-299/) User seeing a warning while extracting a dimension of an image.

``` PHP Warning: Division by zero in /wp-content/plugins/amp/includes/sanitizers/class-amp-img-sanitizer.php on line 299```

I am not able to reproduce the issue at my end by I

[2022-03-09 16:46] #5404 closed, assigned to nobody

[2022-03-09 17:39] #6059 closed, assigned to nobody

[2022-03-09 18:52] #5122 closed, assigned to nobody

[2022-03-09 18:55] westonruter commented on #5122
To test this, try with a theme like Twenty Seventeen. I found that auto-lightbox didn't engage in Twenty Twenty or Twenty Twenty-One because they already use lightboxes.

[2022-03-10 17:34] #5340 closed, assigned to nobody

[2022-03-10 17:49] westonruter commented on #6968
This is the line in question:

https://github.com/ampproject/amp-wp/blob/28bc1bb1ef7b4d78cdcce16d7c0ce114a1acec5e/includes/sanitizers/class-amp-img-sanitizer.php#L299

Somehow `$dimensions['width']` is `0`. Fixing the symptom would be to just make sure that `$dimensions['width'] > 0`. I wonder if it is actually `false` here and it is being cast to `0`. I wonder if instead of checking `isset()` if

[2022-03-11 04:54] #6921 closed, assigned to nobody

[2022-03-14 14:05] anubisthejackle opened #6974 "Unable to install as git submodule"
### Bug Description

It appears we are unable to install as a git submodule using the `2.2.1-built` tag, as the branch was deleted and left the tag as an orphan.

### Expected Behaviour

We should be able to install as a git submodule.

### Screenshots

_No response_

### PHP Version

_No response_

### Plugin Version

2.2.1

### AMP plugin template mode

Standard

### WordPress Version

_No respo

[2022-03-14 14:32] anubisthejackle commented on #6974
Scratch this. I didn't realize I wasn't getting the tags when I ran fetch.

`git fetch --all --tags` found the right tag for me, and I was able to update my submodule.

[2022-03-14 14:32] #6974 closed, assigned to nobody

[2022-03-14 14:52] emidiao commented on #5023
@sboerrigter I am having the same problem with tailwind3, if possible would you please share how you solved using https://github.com/MadLittleMods/postcss-css-variables ?

[2022-03-14 17:59] westonruter commented on #6974
Excellent.

(BTW, your surname is great.)

[2022-03-14 19:00] sboerrigter commented on #5023
@emidiao i've installed that package and added something like this to my `postcss.config.js` file:

[code]

And I added a NPM script to to my `package.json` file to build the CSS output for AMP without CSS variables:

[code]

Good luck!

[2022-03-14 23:07] #6968 closed, assigned to nobody

[2022-03-15 21:20] westonruter commented on #4191
Here is another alternative which utilizes an iframe to embed the external POST form: https://amp-external-subscription-form-in-iframe.glitch.me/

[2022-03-15 23:34] #4742 closed, assigned to dhaval-parekh

[2022-03-17 21:44] schlessera commented on #6931
I'll be working on the REST API endpoint for now, to make the PX engine available from the frontend. I'll implement it in such a way that it will be easy to call directly on the server-side as well.

/cc @ediamin in case you plan to start work on the REST API endpoint as well. I'll take this on for now.

[2022-03-18 17:15] westonruter commented on #6925
How to test this:

1. On 2.2.1 with WordPress 5.9.1 active, run this WP-CLI command to disable CSS transient caching: `wp eval "AMP_Options_Manager::update_option('amp_css_transient_monitor_disable_caching', true);"`
2. Go to Site Health and verify that the transient caching is disabled:
![image](https://user-images.githubusercontent.com/134745/159049809-ca4814aa-74ee-4b3d-8710-79e8d4dd0a11.png)
3

[2022-03-18 17:17] #6925 closed, assigned to dhaval-parekh

[2022-03-22 06:56] pooja-muchandikar commented on #6714
QA Passed ✅

Before: Tabs were not getting enabled/disabled and explicit refresh was necessary.

https://user-images.githubusercontent.com/41000648/159421584-a27a797f-8394-47ba-be1b-2aa0fe8a619b.mov

---

After: Tabs are now getting enabled/disabled as soon as AMP settings are saved.

https://user-images.githubusercontent.com/41000648/159421670-011b5935-b3e1-4c37-8b6d-67ebd3344b2e.mov

[2022-03-22 06:58] pooja-muchandikar commented on #6783
QA Passed ✅

But note that this comment https://github.com/ampproject/amp-wp/pull/6874#pullrequestreview-877568300 is yet to be resolved. There is still a minor difference between AMP and non-AMP pages which is the toggle button is not hidden/shown on scroll.

[2022-03-22 06:59] pooja-muchandikar commented on #6958
QA Passed ✅

Before: Parent theme being greyed out

<img width="1263" alt="parent-theme-after-scan-greyed-out" src="https://user-images.githubusercontent.com/41000648/159296267-9c501def-3664-4789-95ef-0395f6ade437.png">

---

After: Parent theme looks fine

<img width="1277" alt="parent-theme-after-scan-looks-fine" src="https://user-images.githubusercontent.com/41000648/159296414-9d7cce20-3f28-4e9

[2022-03-22 07:11] pooja-muchandikar commented on #6814
QA Passed ✅ for the main feature implemented.

Scan results with no errors after theme activation

<img width="1249" alt="Scan-results with no errors" src="https://user-images.githubusercontent.com/41000648/159272867-b7438bce-fbdc-4d40-ad60-8059d3e42d04.png">

---

Scan results with errors after theme activation

<img width="1262" alt="Scan results with errors" src="https://user-images.githubuserc

[2022-03-22 07:58] pooja-muchandikar commented on #809
QA Passed ✅ The Post Embeds looks fine.

Before: Posts embeds were not rendering properly

<img width="1076" alt="Screenshot 2022-03-22 at 1 08 07 PM" src="https://user-images.githubusercontent.com/41000648/159430969-1204b475-9e33-488e-be54-8014ecf0f0f0.png">

---

After: Posts embeds are rendering properly

<img width="1046" alt="Screenshot 2022-03-22 at 1 07 58 PM" src="https://user-images.githu

[2022-03-22 11:17] pooja-muchandikar commented on #6734
QA Passed ✅

Captions with hyperlinks looks better.
Themes Tested: Twenty Twenty One, Twenty Twenty Two and Twenty Twenty

**Twenty Twenty One**
![2021](https://user-images.githubusercontent.com/41000648/159434737-9f01db8a-1893-4a83-b42c-170fe08972a2.png)

---

**Twenty Twenty Two**
![2022](https://user-images.githubusercontent.com/41000648/159434784-da7a61c1-ddd7-419d-9d1f-94f60c4bf3aa.png)

---

[2022-03-23 07:13] pooja-muchandikar commented on #5122
QA Passed ✅

Before: Image had lightbox effect even if lightbox toggle was off

https://user-images.githubusercontent.com/41000648/159640210-beb31634-bcb8-4a95-90f7-c60ef0bdab94.mov

---

After: Image is displayed in lightbox only if lightbox toggle is enabled

https://user-images.githubusercontent.com/41000648/159640411-be2060a7-7c7f-4a13-887f-3d3eab95c5a8.mov

---

[2022-03-23 10:37] pooja-muchandikar commented on #6807
QA Passed ✅ for the new enhancement implemented.

Before: On Site Scan screen links were hidden for non-technical savvy

<img width="1264" alt="Screenshot 2022-03-23 at 11 01 37 AM" src="https://user-images.githubusercontent.com/41000648/159630653-83e6aed4-113a-4cf7-a8af-2d0edc141c8b.png">

---

After: On Site Scan screen links are displayed for non-technical savvy

<img width="1269" alt="Screensh

[2022-03-23 10:59] pooja-muchandikar commented on #5340
QA Passed ✅ for the feature implemented.

Plugin suppression notice is shown on plugins screen

![image](https://user-images.githubusercontent.com/41000648/159682377-aadfca67-57e3-4ff5-935f-947ea577ccfc.png)

--

**Found one issue with the redirection link**

If `Suppressed on AMP Pages` link is clicked from plugin screen, it should redirect to AMP settings > Plugin Suppression section. But curren

[2022-03-24 07:22] pooja-muchandikar commented on #6925
Followed the steps mentioned in [this](https://github.com/ampproject/amp-wp/issues/6925#issuecomment-1072619121) comment and found that the changes are reflecting in the markup but not on the Site health screen, with latest 2.2.2alpha Site health screen still shows transient caching is disabled

1. Firstly, was able to reproduce the issue with AMP 2.2.1 and WordPress 5.9

<img width="777" alt="Scr

[2022-03-24 13:21] pooja-muchandikar commented on #6968
QA Passed ✅

Images are rendering proper dimensions and no warnings are displayed.

| Image type    | Actual Dimension | Displayed Dimensions | Warning |
| ------------- | ------------- | ----------- | ----------- |
| JPEG   | 534x340 | 534x340 | NO
| PNG  |  1080x1920 | 1080x1920 | NO |
| JPG | 1280x796 | 1280x796 | NO|
| PNG | 920x946 | 920x946 | NO |

[2022-03-28 10:21] pooja-muchandikar opened #7001 "AMP Settings Page > Site Scan screen there should be space between buttons"
### Bug Description

Site scan screen can we have some padding between the Rescan Site and Browse Site buttons?

The buttons looks attached on click.

### Expected Behaviour

There should be some padding between the buttons

### Screenshots

![image](https://user-images.githubusercontent.com/41000648/160322039-b0e8a0d6-e5b5-4d88-b9d9-e01e0199854b.png)

### PHP Version

_No response_

### Plugin Ve

[2022-03-28 13:50] maitreyie-chavan commented on #5340
@dhaval-parekh please could you take a look at the issue mentioned in the QA notes?

[2022-03-28 13:53] maitreyie-chavan commented on #6925
@dhaval-parekh please take a look at the issue reported in the QA notes

[2022-03-28 18:36] srtfisher opened #7002 "amp-embed heights attribute being stripped"
### Bug Description

When using the ZergNet `<amp-embed>` [defined here](https://github.com/ampproject/amphtml/blob/main/ads/vendors/zergnet.md) in the latest version of the plugin, the `heights` attribute is being stripped. This wasn't an issue previously when using 1.4.2.

### Expected Behaviour

The use of the above `<amp-embed>` includes the proper `heights` attribute.

### Screenshots

<img w

[2022-03-28 19:31] srtfisher commented on #7002
Through some debugging, it seems that passing false to `amp_enable_optimizer` fixes this.

[2022-03-28 19:40] srtfisher commented on #7002
Disabling https://github.com/ampproject/amp-toolbox-php/blob/main/src/Optimizer/Transformer/ServerSideRendering.php fixes this issue

[2022-03-29 07:29] perumaltcs commented on #1003
Amp Validation

/  warn  The native JavaScript AMPHTML Validator (validator.js) has been turned down. If you are seeing this error, update your tooling to instead load the API compatible WebAssembly AMPHTML Validator (validator_wasm.js) instead.

please anyone can help

[2022-03-29 15:41] westonruter commented on #6925
Just saw the fix was merged into the WordPress 5.9 branch: https://github.com/WordPress/wordpress-develop/commit/f4837d7b6297ec47dc12035de813b5801ce514fd

So it should be part of WordPress 5.9.3.

[2022-03-29 16:17] westonruter commented on #809
If the embed is in the (initial) viewport when it loads, then it's expected that it would not resize since this would cause a layout shift.

[2022-03-29 16:20] westonruter commented on #5340
I think this is a separate issue with the Settings screen. Namely, I think the Review section is loaded asynchronously after the scrolling has started so that once the scrolling ends up the Review section and not Plugin Suppression. So that would be a separate bug that can be addressed in another issue.

[2022-03-29 16:23] westonruter commented on #5340
I can't reproduce the issue myself in Chrome.

[2022-03-29 16:26] westonruter opened #7005 "Ensure Plugin Suppression section is scrolled into view when deep linked"
### Bug Description

As noted by @pooja-muchandikar in https://github.com/ampproject/amp-wp/issues/5340#issuecomment-1076232982:

I think this is a separate issue with the Settings screen. Namely, I think the Review section is loaded asynchronously after the scrolling has started so that once the scrolling ends up the Review section and not Plugin Suppression.

Nevertheless, I am not able to repro

[2022-03-29 16:26] westonruter commented on #5340
I've filed that as #7005, and I'm moving this to QA Passed.

[2022-03-29 21:35] westonruter commented on #7001
I see this is also the case for the Review section:

<img width="641" alt="image" src="https://user-images.githubusercontent.com/134745/160711164-c7fe0b87-89ad-4ae0-8780-3a52c72ce579.png">

[2022-03-29 21:37] westonruter commented on #7001
In the Onboarding Wizard there is a 1rem space:

<img width="408" alt="image" src="https://user-images.githubusercontent.com/134745/160711518-d0edd31a-f315-44a6-bc9b-821e10cad863.png">

[2022-03-29 21:49] westonruter commented on #7001
I believe it will be as simple as this:

[code]

[2022-03-29 21:52] westonruter commented on #1003
@Perumalt82 I think you're commenting on the wrong repo. Please see these issues:

* https://github.com/ampproject/amphtml/issues/36067
* https://github.com/ampproject/amphtml/issues/36110

[2022-03-29 23:02] #6367 closed, assigned to nobody

[2022-03-29 23:07] westonruter commented on #6814
The difference is non-technical users wouldn't be shown the list of URLs? I see no reason why that would be preferable. So I think the way it is now is best.

Moving to QA Passed.

[2022-03-29 23:40] #7001 closed, assigned to nobody

[2022-03-30 06:22] pooja-muchandikar commented on #7001
QA Passed ✅

Spacing between buttons is fixed for Site Scan and Review section.

### Before:
Site Scan Section
<img width="1240" alt="Screenshot 2022-03-30 at 11 48 06 AM" src="https://user-images.githubusercontent.com/41000648/160764282-d02c0d73-de25-46ed-a230-e9ea74bd07d6.png">

---

Review Section
<img width="1138" alt="Screenshot 2022-03-30 at 11 49 24 AM" src="https://user-images.githubuserco

[2022-03-30 06:26] dhaval-parekh opened #7013 "UI glitch in Site scanning in safari browser (version 14.0.3)"
### Bug Description

As mentioned in https://github.com/ampproject/amp-wp/issues/6807#issuecomment-1076212257 by @pooja-muchandikar

### Expected Behaviour

UI should be consistent in the safari browser safari browser (version 14.0.3)

### Screenshots

_No response_

### PHP Version

_No response_

### Plugin Version

2.2.2-alpha

### AMP plugin template mode

Standard, Transitional, Reader

### W

[2022-03-30 22:09] #7013 closed, assigned to nobody

[2022-03-30 22:27] westonruter commented on #6925
I'm not able to reproduce this issue. Parsed CSS transient caching is getting re-enabled for me:

https://user-images.githubusercontent.com/134745/160941273-02fe0c55-efe2-46aa-a66d-b3c9aff8a0a4.mov

[2022-03-30 22:44] westonruter commented on #6947
Files lists between 2.2.1 and 2.2.2-alpha shows that the expected files are added/removed:

[code]

[2022-03-30 22:49] westonruter commented on #6059
**QA Passed**

I added a Custom HTML block that contained the following:

[code]

On an AMP page, it came out as expected:

[code]

[2022-03-31 05:34] pooja-muchandikar commented on #7013
QA Passed ✅
The UI looks fine in Safar browser 14.0.3 and also the latest version.

UI looks fine in Chrome too..

Safari Version 14.0.3
<img width="1107" alt="Screenshot 2022-03-31 at 10 50 37 AM" src="https://user-images.githubusercontent.com/41000648/160982081-e3326340-39f0-493b-a5ef-92747c6a1abf.png">

---

Safari Version 15
<img width="1008" alt="Screenshot 2022-03-31 at 10 46 01 AM" src="htt

[2022-03-31 07:24] pooja-muchandikar commented on #6925
QA Passed ✅

Cross-checked the issue again with latest development build and seems its working fine. Parsed CSS transient caching is getting re-enabled.

<img width="994" alt="Screenshot 2022-03-31 at 12 52 36 PM" src="https://user-images.githubusercontent.com/41000648/161000282-b7b14a11-58b0-4930-99e4-665b6c1c7274.png">

[2022-03-31 08:00] dhaval-parekh commented on #6643
✅  **QA Passed**

Below script render only once in the "completion screen" in onboarding wizard. which were rendering twice in 2.2.1

https://github.com/ampproject/amp-wp/blob/4547bfb2d6cd7f2699ae970a660c20d36ea192ad/includes/amp-helper-functions.php#L201-L218

---

<img width="1667" alt="image" src="https://user-images.githubusercontent.com/8168027/161006633-70a73b62-0b3b-4d12-a0b2-6ff927772928.p

[2022-03-31 09:04] dhaval-parekh commented on #6676
Steps for QA

- Create one post with the below content.
[code]

- Output should be (Updated markup)
[code]

[2022-03-31 10:05] pooja-muchandikar commented on #6676
QA Passed ✅

![image](https://user-images.githubusercontent.com/41000648/161030265-651bcb48-0a74-4979-9b44-de0cee97ae4a.png)

[2022-03-31 11:13] pooja-muchandikar commented on #6367
The drop-down is in place for Analytics section

![image](https://user-images.githubusercontent.com/41000648/161040106-01842083-8e48-4eb4-8735-8c6396964514.png)

---

But as per the following [description](https://github.com/ampproject/amp-wp/issues/6367#issue-917641421), I think on selecting the input from drop-down the vendors should get prefilled.

[2022-03-31 11:34] dhaval-parekh commented on #6937
✅ **QA Passed**

With then new changes Fatal error is not occurring when `wp_remote_retrieve_header()` returning arrays [here](https://github.com/ampproject/amp-wp/blob/7c2b5ae700c460bea95fda7e68dde145ae6a0537/src/Admin/SiteHealth.php#L627).

Notes: I couldn't able to reproduce this issue without modifying the code, And testing is done after tweaking the code to reproduce this issue.

[2022-03-31 11:39] dhaval-parekh commented on #6883
Step for QA is provided here https://github.com/ampproject/amp-wp/pull/6897#issuecomment-1084258761

[2022-03-31 11:40] pooja-muchandikar commented on #6883
QA Passed ✅

Eligible post types for AMP are visible in Supported Templates section

<img width="1162" alt="Screenshot 2022-03-31 at 2 21 20 PM" src="https://user-images.githubusercontent.com/41000648/161016337-8665ed38-ae80-4edd-b03d-58c2692e32fa.png">

[2022-03-31 13:02] milindmore22 commented on #6367
[examples](https://github.com/ampproject/amphtml/blob/main/examples/analytics-vendors.amp.html)

[2022-03-31 15:24] westonruter commented on #6676
@pooja-muchandikar It seems you're testing on the `develop` branch (with 2.3-alpha) as opposed to the `2.2` branch (with 2.2.2-alpha). At the moment the only difference between the two branches is native `img` is being used in `develop`, but generally QA should be done with release branch builds.

[2022-03-31 15:35] #6911 closed, assigned to nobody

[2022-03-31 16:10] westonruter commented on #6367
We can address this in a follow-up issue.

[2022-04-01 08:09] pooja-muchandikar commented on #6676
Hi @westonruter,

Sorry for the confusion. I did check the issue with release branch that is `2.2.2-alpha` and its working fine.

![image](https://user-images.githubusercontent.com/41000648/161222034-4f9c7c49-aeab-404c-a492-47f2f0c1f982.png)

[2022-04-01 10:56] dhaval-parekh opened #7019 "Pre-fill default configuration for top analytic vendors."
### Feature Description

Currently, When users select "googleanalytics" or "gtag" in Analytics section ( in AMP Settings page) It pre-fills the default configuration.

<img width="1118" alt="image" src="https://user-images.githubusercontent.com/8168027/161249236-c990ade1-3cfc-497d-9506-9de8e9ecd943.png">

A similar feature, we need to implement for other top vendors.

1. Google Analytics
2. Google

[2022-04-01 10:59] dhaval-parekh commented on #7019
Related issue #6367

[2022-04-01 13:11] dhaval-parekh commented on #6893
✅  **QA Pass**

Test in WordPress 5.8 (Similar result found in WordPress versions 5.6 and 6.7)

**Before**

https://user-images.githubusercontent.com/8168027/161268889-956739ba-540a-438f-82fd-754ff3e34acc.mov

**After**

https://user-images.githubusercontent.com/8168027/161268551-3e85a17d-7c28-427f-afd2-0860f79fbf4e.mov

---

Similar results ( As shown in after video ) were found in the latest ver

[2022-04-05 08:24] dhaval-parekh commented on #7005
@pooja-muchandikar Can you please provide a specific Browser and it's the version where you were facing this issue?
And if you can provide screen resolution that will be great..

[2022-04-06 07:47] pooja-muchandikar commented on #7005
@dhaval-parekh Following are the details where issue was observed.

AMP Mode: Standard

Browser Details:
Chrome Version 100.0.4896.60 (Official Build)

Screen Resolutions Tested:
1440x900 and 1280×640

**NOTE:** Redirections is working fine with above resolution in safari browser(v14 and v15)

[2022-04-06 10:23] milindmore22 opened #7029 "Skip rendering child amp-img tags of amp-mega-menu"
### Bug Description

A user [reported](https://wordpress.org/support/topic/amp-mega-menu-am-img/) a that he encounter a validation error when he tries to add amp-img under amp-mega-menu component. the validation error is regarding sizer being descendent of amp-mega-menu which is not allowed.

I am able to reprorudcue the issue at my end using the following HTML snippet

[code]

Users Site: https:/

[2022-04-06 17:00] westonruter commented on #7029
Seems like this may be a bug with the AMP validator. Namely, `i-amphtml-sizer` is not included among this list: https://github.com/ampproject/amphtml/blob/cb67fc9827971df8d0ca0ad0b5b123496323b03a/extensions/amp-mega-menu/validator-amp-mega-menu.protoascii#L153-L209

Now that native `img` elements are valid AMP, I think the best short-term fix would be to just opt for native `img` via:

[code]

[2022-04-06 17:02] westonruter commented on #7029
Oh, but `img` isn't in that list either!

[2022-04-06 17:11] westonruter commented on #7029
I've opened https://github.com/ampproject/amphtml/pull/38028 to address this.

[2022-04-06 21:10] westonruter opened #7031 "Bump minimum PHP version from 5.6 to 7.0"
### Feature Description

As discovered in a [support topic](https://wordpress.org/support/topic/version-2-2-2-parse-error-syntax-error-unexpected/), when Composer runs now on PHP 8 it will generate an `autoload_real.php` that causes syntax errors for PHP 5.6. According to the latest [WordPress Statistics](https://wordpress.org/about/stats/), PHP 5.6 only accounts for 6.6% of all installs, and any

[2022-04-07 00:35] tofunofficel opened #7033 "Not supported AMP"
### Bug Description

![Screenshot_20220407-060020_Chrome](https://user-images.githubusercontent.com/67199357/162097088-2fda8680-fbce-4035-bdbf-2b4405b19b19.jpg)

### Expected Behaviour

AMP not support
My PHP & WordPress both are updated. But Steel showing critical error.

### Screenshots

![Screenshot_20220407-060020_Chrome](https://user-images.githubusercontent.com/67199357/162097115-e44abb71-a3

[2022-04-07 10:10] milindmore22 commented on #7033
Hello @tofunofficel

We provide support using [WordPress Support Forums](https://wordpress.org/support/plugin/amp/#new-topic-0),
Please visit AMP->Support and and Generate the UUID

Here is how
https://www.youtube.com/watch?v=wXoHwRvYsW8&t

Once you got UUID please [create a support topic](https://wordpress.org/support/plugin/amp/#new-topic-0) using WordPress Support forum, add details about your

[2022-04-07 10:10] #7033 closed, assigned to nobody

[2022-04-07 16:38] westonruter opened #7035 "Add toggle to manage whether native `img` is used instead of `amp-img` and add admin pointer"
### Feature Description

With #6805 we're now defaulting to native `img` instead of `amp-img`. However, this could have unintended side effects (e.g https://github.com/ampproject/amp-wp/issues/7029#issuecomment-1090497930) since `amp-img` has been around from the beginning and there may be CSS selectors written that specifically target `amp-img`. Previously the CSS sanitizer would convert `img` se

[2022-04-14 15:55] fellyph opened #7056 "Desktop Expanded menu not Working on the Twenty Twenty Theme"
### Bug Description

The core theme Twenty Twenty, has different Menu Locations and one option is the Desktop Expended Menu:

<img width="775" alt="Screen Shot 2022-04-14 at 16 17 42" src="https://user-images.githubusercontent.com/330792/163421163-2db1e22b-5697-48b0-9714-1f45740df5d0.png">

When this option is selected only appears in the non-AMP version:

**non-AMP version:**
<img width="1414" al

[2022-04-14 16:00] westonruter commented on #7056
What is the “AMP sidebar menu” theme location there? Where is that coming from?

[2022-04-14 16:09] westonruter commented on #7056
We should check to see if this is a recent regression.

[2022-04-14 16:13] fellyph commented on #7056
The "AMP Sidebar menu" is from the [James's sidebar menu plugin](https://wordpress.org/plugins/amp-sidebar-hamburger-menu/)

[2022-04-14 16:17] westonruter commented on #7035
To avoid headaches with regressions where `img` isn't yet supported fully (e.g. https://github.com/ampproject/amp-wp/issues/7029#issuecomment-1090497930), I think we should continue to default to `amp-img` and then have a toggle to opt-in to native `img`.

[2022-04-14 16:23] westonruter commented on #5788
This makes more sense to be tackled in https://github.com/WordPress/performance

[2022-04-14 16:23] #5788 closed, assigned to nobody

[2022-04-14 16:28] westonruter commented on #4668
This has largely been addressed as part of the Site Scanning update: https://github.com/ampproject/amp-wp/pull/6835#issuecomment-1062243293

[2022-04-14 16:28] #4668 closed, assigned to nobody

[2022-04-14 16:30] westonruter commented on #6649
This is done.

[2022-04-14 16:30] #6649 closed, assigned to delawski

[2022-04-14 16:35] westonruter commented on #7029
The resolution for this issue is to update the plugin's validator spec once the amphtml PR is merged.

[2022-04-14 16:36] #6942 closed, assigned to nobody

[2022-04-14 16:37] #6415 closed, assigned to nobody

[2022-04-14 16:41] westonruter commented on #4687
Moving this to amp-toolbox-php since the code has moved there.

[2022-04-14 16:43] #5079 closed, assigned to nobody

[2022-04-14 21:11] westonruter opened #7057 "Update sanitizer for auto-lightbox disabling to target root element instead of body"
### Feature Description

Based on https://github.com/ampproject/amphtml/pull/37854#issuecomment-1099619098 it turns out that now if you add `data-amp-auto-lightbox-disable` to the root `html` element, not only will the auto-lightbox behavior be disabled but also the auto-lightbox script will also be prevented from being autoloaded. So we need to update `AMP_Auto_Lightbox_Disable_Sanitizer` (introd

[2022-04-18 17:04] #7005 closed, assigned to nobody

[2022-04-18 19:55] eldietista commented on #7031
Its funny.
I reviewed the plugin explaining exactly the problem with for this php 5.6 compatibility, speed....and you deleted my review and blocked my user.
But I find here that you do know that WP doesn´t support 5.6.
And you do know that is slower.
And despite you do perfectly know, you cant accept a review with one star and instead keep deleting WP users older than this plugin.
Its extremely sa

[2022-04-18 20:22] westonruter commented on #7031
@eldietista

I didn't delete your review and I didn't block you. This was done by a forum moderator because you violated the support forum guidelines. The forum moderator explicitly contradicted you when you said that WordPress requires PHP 7: WordPress requires PHP 5.6 but recommends PHP 7.

Where do you find here that WP doesn't support 5.6? I never said that. I just said that only 6.6% of WordP

[2022-04-19 07:39] yogeshbeniwal opened #7067 "Use Non-AMP link in transitional mode"
### Feature Description

Currently while using transitional mode, all internal links are appended with paired URL structure like /amp/.

An option can be added to keep all internal links on page as non-amp, this is for use case where first page can be AMP from SERP and then next page visit utilise all features (which are not supported by AMP as of now)

### Acceptance Criteria

_No response_

###

[2022-04-19 18:20] westonruter commented on #7067
AMP-to-AMP linking is enabled by default when either:

1. You're using Transitional mode.
2. You have mobile redirection enabled in Reader mode.

You can turn off AMP-to-AMP linking with this filter:

[code]

[2022-04-19 19:23] #7067 closed, assigned to nobody

[2022-04-20 16:59] #6759 closed, assigned to nobody

[2022-04-27 17:29] #7019 closed, assigned to nobody

[2022-05-09 11:20] dhaval-parekh commented on #7056
After checking with a different version found that this bug introduces in AMP version 2.2.2 ( because of [this](https://github.com/ampproject/amp-wp/pull/6312/files#diff-a29bb1b373fe5ec82590f011babf3afd5ddab11e722ae6e84fe624daf215afd3L2924-L2928) change )

Before the change it was converting `.no-js .hide-no-js` selector into `:root:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) .no-js .h

[2022-05-09 16:28] #7031 closed, assigned to nobody

[2022-05-12 17:03] #7057 closed, assigned to nobody

[2022-05-18 21:39] #7035 closed, assigned to nobody

[2022-05-18 23:07] #4733 closed, assigned to nobody

[2022-05-19 16:03] westonruter commented on #7029
We need to wait for https://github.com/ampproject/amphtml/pull/38028 to be merged.

[2022-05-20 01:19] #6798 closed, assigned to nobody

[2022-05-23 05:08] jcvignoli commented on #5386
Hello! Any news about this feature?

[2022-05-23 19:13] westonruter commented on #5386
@jcvignoli Hi. No news, but as [indicated](https://wordpress.org/support/topic/translate-and-or-remove-exit-mobile-version-text/#post-13410577) in the support topic you can hide it with this CSS (e.g. in the Customizer's Additional CSS section):

[code]

[2022-05-23 19:16] jcvignoli commented on #5386
Thanks, but was looking for a more sustainable way, like a function...

[2022-05-26 17:24] #7056 closed, assigned to dhaval-parekh

[2022-05-26 17:57] westonruter opened #7122 "Scripts added by PWA plugin on error template are removed by sanitizer"
### Bug Description

The PWA plugin adds a couple scripts to the error template:

[code]

These are getting stripped from the page when in Moderate/Strict standboxing, and in Loose they are getting retained with a `data-amp-unvalidated-tag` attribute added to them. In Loose mode, this is causing the CSS processing to be disabled, resulting in no `style[amp-custom]` to be added to the page. Since t

[2022-05-27 16:40] maitreyie-chavan commented on #7122
Having @thelovekesh pick this one up

[2022-05-27 16:44] thelovekesh commented on #7122
Thanks, @maitreyie-chavan!  I’ve begun working on this and will aim to send over the PR by Monday.

[2022-05-27 16:52] thelovekesh commented on #7122
@westonruter I think sanitizer should work on both offline and 500 pages as we have added reload script to both.

It will result something like:
[code]

[2022-05-27 17:04] westonruter commented on #7122
@thelovekesh That looks like it will work. I think it could be optimized a bit further by using XPath to query for the two scripts as opposed to looping over all scripts on the page.

[2022-05-27 17:08] thelovekesh commented on #7122
I have tested it and it's working fine. I will optimize it further by using XPath to query.

I have named the file `class-amp-pwa-plugin-sanitizer.php`. Does it look right to you?

[2022-05-27 17:09] westonruter commented on #7122
Let's call it rather `class-amp-pwa-script-sanitizer.php` since if PWA is merged into core then it wouldn't be a plugin anymore.

[2022-05-30 15:09] thelovekesh commented on #7122
@westonruter Should I introduce a filter to generate an XPath query?
e.g.
[code]

There can be use cases when users want to add more scripts in offline or 500 error pages. Thoughts?

[2022-05-31 16:39] westonruter commented on #7122
@thelovekesh nah, I think that would be overkill.

[2022-06-01 18:07] milindmore22 opened #7130 "amp-base-carousel heights attribute is not rendered properly."
### Bug Description

We got a [support topic](https://wordpress.org/support/topic/icons-not-displaying-when-amp-is-activated/), from a theme developer who was working to implement amp-base-carousel and found out that the heights attribute is not properly rendered when used with the AMP plugin.

Sample Code to reproduce the issue.

[code]
The non-AMP version renders correctly, but the AMP version h

[2022-06-01 18:31] westonruter commented on #7130
@ediamin Is this the same as you reported in https://github.com/ampproject/amp-toolbox/issues/1314 and https://github.com/ampproject/amp-toolbox-php/issues/511?

[2022-06-01 18:37] westonruter commented on #7130
Or it could be https://github.com/ampproject/amp-toolbox/issues/1304.

@milindmore22 If you turn off SSR does that fix the issue?

[2022-06-02 10:16] milindmore22 commented on #7130
@westonruter Yes, If I turn off SSR it does fixes that issue

[2022-06-02 10:19] ediamin commented on #7130
Yes, I believe it's related to the inline padding-top property of the sizer element.

[2022-06-06 01:43] daeho-ro opened #7136 "Lightbox is not working for webp images"
### Bug Description

I have uploaded webp images and it is well seen on my blog but when I click the image, the lightbox is not appear and even it is not clicked.

So, I take a look what is wrong and found that the webp images
[code]
has the figure tag without the lightbox option and the png images
[code]
has the figure tag with the lightbox option.

### Expected Behaviour

I would expect that the

[2022-06-06 01:46] daeho-ro commented on #7136
Oh... I didn't turned on the lightbox effect :(

[2022-06-06 01:48] #7136 closed, assigned to nobody

[2022-06-06 11:18] pooja-muchandikar commented on #7035
QA Passed ✅

- Toggle is implemented to manage whether to use native img instead of amp-img
- With this toggle being disable, the image will have `amp-img` by default
- If toggle is enabled, then image will use `img` ✅

https://user-images.githubusercontent.com/41000648/172150813-8b0b07dd-607a-469b-90da-93065f308145.mov

---

[2022-06-06 14:31] milindmore22 commented on #7130
Recently [merged PR](https://github.com/ampproject/amp-wp/pull/7121) by @ediamin fixed the issue, tested on dev

[2022-06-06 14:47] pooja-muchandikar commented on #7005
QA Passed ✅  With One Regression Issue.

Chrome Version 102.0.5005.61, Also checked with Chrome Version 100.0.4896.60 -> Review Plugin Suppression is redirected/scrolled to proper section.

---

**But Found one regression issue(Browser Safari Version 14.0.3  and Safari 15.3)** When the Review Plugin Suppression is scrolled to review section the menu from left sidebar scrolls upwards. Because of th

[2022-06-06 15:18] pooja-muchandikar commented on #7056
QA Passed ✅

Cross checked the issue with the test environment mentioned in the issue description and the fix added to the issue is working as expected.

https://user-images.githubusercontent.com/41000648/172190249-f882f4ca-f2b3-48df-9292-7ed4cb176cf9.mov

[2022-06-06 17:59] #7130 closed, assigned to nobody

[2022-06-06 18:04] westonruter commented on #7005
That would seem like it is a bug in WordPress core and not something we should worry about.

[2022-06-07 05:57] pooja-muchandikar commented on #7057
QA Passed ✅

data-amp-auto-lightbox-disable attribute is shown in HTML tag instead of body tag.

**Before: data-amp-auto-lightbox-disable attribute in body tag**

<img width="953" alt="Screenshot 2022-06-07 at 11 22 19 AM" src="https://user-images.githubusercontent.com/41000648/172305729-19b9c180-0b94-409b-9d9f-bb3adce1ab2d.png">

---

**After: data-amp-auto-lightbox-disable attribute in HTML tag*

[2022-06-07 06:01] pooja-muchandikar commented on #7019
QA Passed ✅

Cross checked the 10 top vendors listed in issue description all are working fine except Google Ads. Google Ads default configuration is not getting pre-filled and this is expected behaviour as per the conversation with @dhaval-parekh

https://user-images.githubusercontent.com/41000648/172155316-d8eadba7-d69d-4610-8a26-592f0f3a20cd.mov

[2022-06-08 13:28] IIM-Andreas opened #7140 "CTP + Routing + Endpoint problem"
Hi
i have my problem with a special case.

Example:
I have a custom post type with the slug foobar. I didn't like the routing so I made a custom route
`'<domain>/cakes/<foobar-name>/bar'`.
This CTP routing works fine.
But when I then call
`'<domain>/cakes/<foobar-name>/bar/amp'`
with the AMP plugin, I get a 302 redirect (back to `'<domain>/cakes/<foobar-name>/bar'`) and not the appropriate amp pag

[2022-06-08 14:12] milindmore22 commented on #7140
@IIM-Andreas

All support requests are handled on WordPress support forums,  please create a [new support topic](https://wordpress.org/support/plugin/amp/#new-topic-0) on the WordPress support forum, and please share the code that registers your custom post type in the Support forum description along with your AMP Support UUID

AMP support UUID can be generated by visiting AMP->Support

[![IMAGE A

[2022-06-08 14:12] #7140 closed, assigned to nobody

[2022-06-10 07:29] pooja-muchandikar commented on #7031
QA Passed ✅

Created an environment with PHP 5.6 and tried to install AMP plugin(development build), error was displayed mentioning requirement of PHP .0 as expected.

![image](https://user-images.githubusercontent.com/41000648/173013437-03c49914-daa7-49fe-8e00-5135233df367.png)

[2022-06-10 08:11] pooja-muchandikar commented on #4733
Performed smoke testing on the plugin and the features are working as expected ✅
No blockers found so far.

[2022-06-10 08:12] pooja-muchandikar commented on #6759
Performed smoke testing on the plugin and the features are working as expected ✅
No blockers found so far.

[2022-06-10 17:27] #7122 closed, assigned to nobody

[2022-06-13 18:15] #5120 closed, assigned to nobody

[2022-06-13 18:43] westonruter commented on #7122
✅ **QA Passed**

I deployed to weston.ruter.net and when I was offline I saw:

The scripts have `data-px-verified-tag` as expected:

And because all PX-verified, stylesheet processing is retained:

----

Aside: Because a Mustache template tag is used in place of the JSON `script` for the offline template, the AMP optimizer transformer complains about invalid JSON not allowing it to optimize it:

I

[2022-06-14 20:43] westonruter opened #7148 "Browserslist: caniuse-lite is outdated"
### Bug Description

When running `npm install` now, I'm getting:

[code]

### Expected Behaviour

No warning.

### Screenshots

_No response_

### PHP Version

_No response_

### Plugin Version

2.3.0

### AMP plugin template mode

Standard, Transitional, Reader

### WordPress Version

_No response_

### Site Health

_No response_

### Gutenberg Version

_No response_

### OS(s) Affected

_No res

[2022-06-15 00:02] stephenmorton opened #7149 "I just updated to AMP for wordpress 2.3 It appears this upgrade broke my page formatting"
### Bug Description

I just updated from I guess 2.2 to 2.3 and it broke my page formatting. It was the latest version as of an hour ago. I updated it only about 30 mins ago as an update was available. It appears to have broken my wordpress page formatting. I am not sure it is this as I also updated woocommerce at the same time. I am thinking about rolling back to the previous version. What is the

[2022-06-15 00:12] westonruter commented on #7149
You can downgrade by downloading the 2.2 version linked to from the Previous Versions section at https://wordpress.org/plugins/amp/advanced/

With the `amp.zip` file in hand, you can then upload it to WordPress via the admin in Plugins > Add New > Upload. This will then override 2.3 with 2.2.

Do not uninstall. No need to deactivate.

Providing a screenshot would be helpful. It's likely that WooCo

[2022-06-15 00:24] stephenmorton commented on #7149
Hi Westonruter, thanks for your quick response. Actually, I don't think this update caused the issue, I think it may have been woocommerce. I have already rolled back this with a rollback plugin, but the site is the same, so I think woocommerce. I'll close this, sorry for the false alarm.

[2022-06-15 00:24] #7149 closed, assigned to nobody

[2022-06-15 00:54] westonruter commented on #7149
Thanks for the update. Still, you may want to consider the moderate
sandboxing level as a way to continue using WooCommerce and AMP in Standard
mode.

[2022-06-15 05:46] pooja-muchandikar opened #7152 "Invalid Attribute Error displayed in Editor"
### Bug Description

For any image available in editor if Lightbox is enabled, Invalid attribute error is shown. This error is specifically visible in WordPress 6.0.

With WordPress 5.8 this error is not displayed and is working as expected.

### Expected Behaviour

Error shouldn't be shown, should be able to check image in lightbox.

### Screenshots

Editor Error Screenshot of WP 6.0

<img width=

[2022-06-15 11:00] Robertght opened #7154 "Lightbox effect: Fails if image is aligned"
### Bug Description

HIt looks like the AMP lightbox effect fails if an image is aligned inside the editor.

Previous issue: https://github.com/ampproject/amp-wp/issues/2936

Also replicated it here: https://github.com/Automattic/wp-calypso/issues/62774

### Expected Behaviour

To be able to open the lightbox.

### Screenshots

_No response_

### PHP Version

8

### Plugin Version

2.3.0

### AMP

[2022-06-15 13:47] milindmore22 opened #7155 "Add a fallback Settings."
### Feature Description

We are getting a lot of support topics where they can't access settings this might be due to third-party plugins or themes conflicting sometimes wrong configuration etc. we can't pinpoint a single issue.
example topics: [topic1](https://wordpress.org/support/topic/amp-settings-something-went-wrong-2/) [topic2](https://wordpress.org/support/topic/amp-scan-fails-cannot-read-

[2022-06-15 19:02] westonruter commented on #7152
Is this when you have enabled native `img` in the advanced settings? It may be what @milindmore22 also found and reported in chat.

[2022-06-15 21:08] #7148 closed, assigned to nobody

[2022-06-15 21:11] #3302 closed

[2022-06-15 21:13] #6931 closed, assigned to schlessera, dhaval-parekh

[2022-06-15 21:14] #6703 closed, assigned to ediamin

[2022-06-15 21:15] #6441 closed, assigned to delawski

[2022-06-15 21:16] #5976 closed, assigned to nobody

[2022-06-15 21:16] #5928 closed, assigned to kmyram

[2022-06-15 21:16] #5909 closed, assigned to kmyram

[2022-06-15 21:16] #5907 closed, assigned to kmyram

[2022-06-15 21:17] #5679 closed, assigned to jwold

[2022-06-15 21:18] westonruter commented on #5499
Done in #6802

[2022-06-15 21:18] #5499 closed, assigned to nobody

[2022-06-15 21:21] #4712 closed, assigned to nobody

[2022-06-15 21:21] #4711 closed, assigned to nobody

[2022-06-15 21:23] #2795 closed

[2022-06-16 02:53] pooja-muchandikar commented on #7152
No, even if native `img` setting is disabled the error is shown.

[2022-06-16 16:49] westonruter commented on #7152
@thelovekesh Please investigate further.

[2022-06-16 17:00] milindmore22 commented on #7152
I think it's the same issue I mentioned in chat, it will show those attribute invalidations if you turn on lightbox and carousel with the native image and on gallery, I didn't encounter any issue while using amp-img

[2022-06-16 17:03] westonruter commented on #7152
@pooja-muchandikar Could you double check this?

[2022-06-16 17:15] westonruter commented on #7152
When native `img` is being used, instead of adding `layout=fill` we could instead add an inline `style` that has the same properties (e.g. `position:absolute; left:0; right:0; top:0; bottom: 0; width:100%; height:100%`).

The same is true for adding the `object-fit` attribute, we could instead add the inline `style`, `object-fit:cover`.

What we can't solve entirely is the `lightbox`, as this will

[2022-06-17 03:03] pooja-muchandikar commented on #7152
Sure checking, will share update in soon.

[2022-06-17 05:04] pooja-muchandikar commented on #7152
### Update:

First of all sorry for the inconvenience.

This was due to my site cache.

---

Secondly yes, the issue happens when `native img` is enabled. Performed the steps on fresh site and following is my observations.
- Native img is disable: tried creating gallery and enabled lightbox - no error displayed.
- Native img enabled: tried with same gallery and image and enabled lightbox - error w

[2022-06-20 10:51] milindmore22 commented on #7155
another [support topic](https://wordpress.org/support/topic/cannot-read-properties-of-null-reading-type-3/)

[2022-06-22 08:45] Bruse-Lee opened #7164 "How is the AMP component supported in Gutenberg Block"
I'm having a hard time developing gutenberg block.

AMP is enabled in my WordPress plug-in, so that my posts have AMP Page and non-AMP

The Gutenberg Block I developed is a search box that references custom scripts, which works well on non-AMP pages
But this doesn't work in AMP pages.I don't know how to modify my Gutenberg block to support AMP

Here is the core of my code, can someone tell me what

[2022-06-27 18:59] westonruter commented on #7164
Is the screenshot of the rendering from the frontend? It could be that `amp-script` tag is getting stripped out due to Kses. You may need to add it to the allowlist via the `wp_kses_allowed_html` filter. For example:

[code]

[2022-07-07 19:58] #7152 closed, assigned to thelovekesh

[2022-07-16 14:16] redac2022 opened #7186 "No drop down menu on mobiles with AMP enabled"
### Bug Description

In mobile version, my drop-down menu no longer works with AMP enabled.
I am using Elementor Pro, OCEAN theme.
(AMP currently desactivated)

### Expected Behaviour

I would like to be able to continue using the AMP plugin but this dropdown needs to work

### Screenshots

website : [https://redacteur-seo-freelance.com](https://redacteur-seo-freelance.com)

### PHP Version

7.4.2

[2022-07-18 18:53] westonruter commented on #7186
Hi there. Please open a topic on our support forum: https://wordpress.org/support/plugin/amp/

[2022-07-18 18:53] #7186 closed, assigned to nobody

[2022-07-24 11:47] rafaucau opened #7193 "Plugin removes `lighbox` attribute when using native `img` instead of `amp-img`"
### Bug Description

When the `Use native HTML image tag` option is enabled, this plugin considers the lightbox attribute as invalid and removes it by default.

### Expected Behaviour

The attribute is valid and should not be deleted or reported as invalid.

### Screenshots

![image](https://user-images.githubusercontent.com/25438601/180645235-ecac828a-3612-4578-8d49-76d01dafa59b.png)
![image](htt

[2022-07-25 18:09] westonruter commented on #7193
@rafaucau Thanks for reporting. We've actually fixed this recently in #7158 (for #7152), but it's not yet released. If you want to test the fix in a pre-release build, you can do so at https://github.com/ampproject/amp-wp/wiki/Development-Builds

[2022-07-25 18:09] #7193 closed, assigned to nobody

[2022-07-26 21:30] #7164 closed, assigned to nobody

[2022-07-26 21:31] #6555 closed, assigned to nobody

[2022-07-26 21:31] #6438 closed, assigned to nobody

[2022-07-26 21:32] #6114 closed, assigned to nobody

[2022-07-26 21:32] westonruter commented on #5826
Now that we have garbage collection, this is unnecessary.

[2022-07-26 21:32] #5826 closed, assigned to nobody

[2022-07-26 21:33] #6089 closed, assigned to schlessera

[2022-07-26 21:33] westonruter commented on #6035
You can now opt for native `img` in the Advanced settings of the plugin.

[2022-07-26 21:33] #6035 closed, assigned to milindmore22, jamesozzie

[2022-07-26 21:34] #5979 closed, assigned to nobody

[2022-07-26 21:35] #6123 closed, assigned to nobody

[2022-07-26 21:35] #6072 closed, assigned to nobody

[2022-07-26 21:36] #5671 closed, assigned to jwold

[2022-07-26 21:37] #5553 closed, assigned to nobody

[2022-07-26 21:37] #5552 closed, assigned to nobody

[2022-07-26 21:37] #5545 closed, assigned to nobody

[2022-07-26 21:38] #5431 closed, assigned to nobody

[2022-07-26 21:40] #5378 closed, assigned to nobody

[2022-07-26 21:40] #5369 closed, assigned to nobody

[2022-07-26 21:40] #5360 closed, assigned to nobody

[2022-07-26 21:40] #5276 closed, assigned to nobody

[2022-07-26 21:41] #5288 closed, assigned to westonruter

[2022-07-26 21:41] #5250 closed, assigned to nobody

[2022-07-26 21:42] #5215 closed, assigned to nobody

[2022-07-26 21:42] #5191 closed, assigned to delawski

[2022-07-26 21:43] #4997 closed, assigned to nobody

[2022-07-26 21:43] #4899 closed, assigned to nobody

[2022-07-26 21:50] westonruter commented on #7155
Adding fallback settings would essentially be bringing back the old settings screen which relied on the Settings API, with full page reloads and no JS being required. However, I'd want to avoid adding a parallel UI for managing settings. Maybe we can be more aggressive about ensuring our polyfilled scripts are loaded? What if the loading error message had a link which had a query parameter that ca

[2022-07-26 21:50] #4763 closed, assigned to nobody

[2022-07-26 21:51] #4730 closed, assigned to nobody

[2022-07-26 21:52] #4723 closed, assigned to nobody

[2022-07-26 21:52] #4717 closed, assigned to nobody

[2022-07-26 21:52] #4716 closed, assigned to nobody

[2022-07-26 21:58] westonruter commented on #4729
I did some work on a standalone app to help determine initial heights to reduce layout shift a year ago: https://googlechromelabs.github.io/layout-shift-terminator/

For more see: https://web.dev/embed-best-practices/

Granted, the functionality would be much improved with container queries live, but they're _almost_ ready: https://caniuse.com/?search=container%20queries

So we could code specific

[2022-07-26 22:07] westonruter commented on #4729
This could be contributed eventually to the [WordPress Performance](https://github.com/WordPress/performance/) plugin as well. See https://github.com/WordPress/performance/issues/117#issuecomment-1018717348 and https://github.com/GoogleChromeLabs/layout-shift-terminator/issues/5.

[2022-07-26 22:10] #4600 closed, assigned to nobody

[2022-07-26 22:10] #4714 closed, assigned to nobody

[2022-07-26 22:11] #4653 closed, assigned to nobody

[2022-07-26 22:13] #4570 closed, assigned to schlessera

[2022-07-26 22:13] #4568 closed, assigned to schlessera

[2022-07-26 22:13] #4447 closed

[2022-07-26 22:14] #4389 closed

[2022-07-26 22:14] #4295 closed

[2022-07-26 22:16] #4116 closed

[2022-07-26 22:16] #4071 closed

[2022-07-26 22:16] #3875 closed

[2022-07-26 22:17] #3441 closed

[2022-07-26 22:17] #3361 closed

[2022-07-26 22:18] #3158 closed

[2022-07-26 22:18] #3080 closed

[2022-07-26 22:18] #3077 closed

[2022-07-26 22:19] #2382 closed

[2022-07-26 22:19] #2316 closed

[2022-07-26 22:20] #1384 closed

[2022-07-26 22:21] #598 closed

[2022-07-28 16:27] #6755 closed, assigned to nobody

[2022-07-28 16:28] #6556 closed, assigned to nobody

[2022-07-28 16:29] #6507 closed, assigned to nobody

[2022-07-28 16:31] #5463 closed, assigned to nobody

[2022-07-28 16:31] #5363 closed, assigned to nobody

[2022-07-28 16:32] #5171 closed, assigned to nobody

[2022-07-28 16:33] #4751 closed, assigned to nobody

[2022-07-28 16:34] #4670 closed, assigned to nobody

[2022-07-28 16:34] #4671 closed, assigned to nobody

[2022-07-28 16:34] #4595 closed, assigned to nobody

[2022-07-28 16:35] #4571 closed, assigned to schlessera

[2022-07-28 16:35] #4569 closed, assigned to schlessera

[2022-07-28 16:36] #4444 closed

[2022-07-28 16:36] #3729 closed

[2022-07-28 16:37] #2817 closed

[2022-07-28 16:38] #2317 closed

[2022-07-28 16:38] #2045 closed

[2022-07-28 16:38] #1867 closed

[2022-07-28 16:39] #1626 closed

[2022-07-28 16:39] #1914 closed

[2022-07-28 16:39] #2035 closed

[2022-07-28 16:40] #2102 closed

[2022-07-28 16:40] #1401 closed

[2022-07-28 16:40] #1294 closed

[2022-07-28 16:41] #1450 closed

[2022-07-28 16:41] #4566 closed, assigned to schlessera

[2022-07-28 16:42] #6806 closed, assigned to dhaval-parekh

[2022-07-28 16:43] #5698 closed, assigned to nobody

[2022-08-03 21:29] #7154 closed, assigned to nobody

[2022-08-08 10:46] thelovekesh commented on #4729
@westonruter I performed some research on the above-mentioned scenarios and here are the findings.

- We can measure the height of the embed on the device on which the block editor is opened effectively. For other viewports, we can follow the same workaround as the `layout shift terminator` tool, but in that case, the main thread will be blocked for some time while the height gets measured for all

[2022-08-09 21:35] westonruter commented on #4729
Are you saying this will cause jank in the editor? For the Facebook Video embed, I'm seeing two long tasks for HTML parsing and FB script execution:

<img width="1282" alt="image" src="https://user-images.githubusercontent.com/134745/183764642-3dd96c8f-cb8d-471d-8334-9fd24685ced1.png">

This would particularly be annoying if the sizing is done after insertion while the user is still typing.

I gue

[2022-08-10 16:11] thelovekesh commented on #4729
For this, I am further investigating the use cases with iframe sandboxing as you suggested above. But furthermore, we will need to benchmark such scenarios which can affect editor performance.

I have added `<hr>`. Please check now.

[2022-08-10 22:41] westonruter commented on #4729
I'm not sure what you mean here. Could you elaborate?

[2022-08-11 07:03] thelovekesh commented on #4729
By the above statement I mean the lighthouse is still showing CLS even though I have provided element height by using Layout Shift Terminator.

[2022-08-11 19:03] westonruter commented on #4729
Strange. From the filmstrip, it doesn't seem that the initial height is being reserved. I can see the `<hr>` appearing immediately after the `<blockquote>` in the first screenshot:

<img width="190" alt="image" src="https://user-images.githubusercontent.com/134745/184218888-efd8833b-181a-4f17-987c-ae1f5918fbc4.png">

There should be a significant amount of space.

[2022-08-29 16:35] thelovekesh commented on #4729
@westonruter I have created a POC to demonstrate the possibilities of terminating CLS by measuring dimensions in an iframe. But instead of handling this automatically, I have provided a custom setting, and I will explore more approaches to make this process automatic.

You can find the plugin here - https://github.com/rtCamp/wp-cls-terminator.

Please note I have temporarily added only a few break

[2022-08-29 20:00] anrghg opened #7226 "CSS: `scroll-margin-top` is ineffective"
### Bug Description

The `scroll-margin-top` property value is disregarded despite being kept.

This bug only occurs when the page is served as AMP and the page scrolls to an HTML anchor after clicking on the same page. By contrast, when a URL with a fragment identifier is opened in a new tab, the behavior is as expected.

### Expected Behaviour

The scroll offset is always applied as specified.

[2022-08-29 21:59] anrghg commented on #7226
The issue is caused by AMP-HTML. When JavaScript is turned off, it goes away.

I'll open an issue there (https://github.com/ampproject/amphtml/issues/38423) and close this. Apologies.

[2022-08-29 21:59] #7226 closed, assigned to nobody

[2022-08-29 22:43] anrghg opened #7227 "Support `<noscript amp-noscript >` tags"
### Feature Description

Due to AMP-WP using `<noscript>`, issues arise that need to be worked around, e.g. by conditionally canceling `noscript` rules, depending on a dedicated class (in this example: `anrghg-is-amp`).

Example:
[code]

To ease implementations, `<noscript>` tags with the `amp-noscript` argument could be skipped when unwrapping `<noscript>`. So when we have things that should be u

[2022-08-30 01:38] westonruter commented on #7227
Thanks for the suggestion. This was actually already implemented via #6528 fixing #6030. The attribute name is `data-amp-no-unwrap`.

[2022-08-30 01:38] #7227 closed, assigned to nobody

[2022-08-30 10:16] anrghg commented on #7227
@westonruter You are welcome! Thank you for coming up with #6030 and implementing the `data-amp-no-unwrap` attribute! (In the cited use case coded while you were on it, the fix will avoid that the target entry shows up below the label of a collapsed TOC after reloading an AMP page no matter whether JS is on or off, which looked weird and is addressed in the 2ⁿᵈ paragraph of FAQ item https://wordpr

[2022-08-30 18:46] anrghg opened #7234 "`data-amp-no-unwrap` effectiveness restricted to `<body>` element, disregarded in `<head>`"
### Bug Description

`<noscript>` elements with the `data-amp-no-unwrap` property in the `<head>` are unwrapped regardless.

### Expected Behaviour

`<noscript data-amp-no-unwrap><style> /* This CSS applies only if JS is off. */ </style></noscript>`

### Screenshots

In the body, there is this test code:
[code]
On a page served as AMP: https://anrghg.sunsite.fr/test-amp-compat/features/helpers/#12

[2022-08-30 23:44] westonruter commented on #7234
I believe this would be addressed by implementing support for `head > noscript > style[amp-noscript]`. See #6603.

[2022-08-31 14:24] anrghg commented on #7234
@westonruter Thank you for opening and reopening #6603.

At my end I’ve moved the `style amp-noscript` to the body, still in a `noscript data-amp-no-unwrap`, but it gets processed despite its `mandatory_ancestor` is `head`. (So an empty `noscript data-amp-no-unwrap` is left over.)

I’ve vainly tried to set up a [playground](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+CjxodG1sIOKaoT4KICA8

[2022-08-31 17:50] westonruter commented on #7234
The issue is that the style sanitizer goes through and gathers up all styles and moves them all into the one `style[amp-custom]`. So what we need to do is keep track of the fact that the `style` was inside of a `noscript` and then put it into a `head > style[amp-noscript]` element when putting the styles back into the document.

Note that the `data-amp-no-unwrap` attribute is specific to the AMP p

[2022-08-31 18:40] anrghg commented on #7234
@westonruter Thank you for the information!

[2022-09-01 04:41] anrghg commented on #7234
@westonruter Although the cited edge case prompted me to add a paragraph (“There is a small likelihood for the same to happen while JavaScript is on. On AMP pages, the related style rule is always valid, but after clicking a heading number (which is when it would come into play) it is overridden by another one, activated using the AMP framework. Reloading the page in that state would result in a l

[2022-09-01 19:25] anrghg commented on #7234
@westonruter The scroll offset issue has already been fixed! ampproject/amphtml#35366

The only thing we need to know is that with AMP restricting support to `scroll-padding-*`, `scroll-margin-*` is de facto deprecated. https://github.com/ampproject/amphtml/issues/34378#issuecomment-1234672593

[2022-09-02 21:06] anrghg opened #7238 "No CSS compatibility: characters allowed per spec are rejected"
### Bug Description

`includes/sanitizers/class-amp-style-sanitizer.php:2150` has this regex to extract IDs: `/#([a-zA-Z0-9_-]+)/', resulting in not handling IDs containing (allowed) “ISO 10646 characters U+00A0 and higher”, so CSS targeting these is removed when AMP is on.

Since the page slug may be a body class, the same holds true for class names.

On the other hand, class names with a leading

[2022-09-02 21:10] anrghg commented on #7234
@westonruter I’ve looked into `includes/sanitizers/class-amp-style-sanitizer.php` trying to implement the fix you pointed out.

It seems tricky and would require reengineering the parsing as it should register what parent the `style` element is in, and sort rules into **two** groups.

Alongside there is a new issue #7238, while in the cited use case, the present issue is rather an insignificant ed

[2022-09-03 22:22] anrghg commented on #7238
The example pages worked yesterday, ,but today as I reverted the emoji in the title to the originally intended 😑, the pages — even newly created for the purpose — started throwing a 404 error.

While leaving the issue open since it is valid, I need to investigate and fix the bug causing the test failure.

[2022-09-04 01:00] anrghg commented on #7238
Example pages are up again, the bug is found and fixed. It is not about Unicode characters in slugs but Latin uppercase causing [hard-to-predict 404 errors](https://stackoverflow.com/questions/7996919/should-url-be-case-sensitive).

[2022-09-04 17:07] anrghg opened #7239 "Direct child combinators handled unpredictably, may cause CSS outages"
### Bug Description

When CSS contains `>`, AMP-WP may keep it or remove it. For instance, on a remote host it keeps the style rules in use, whether they contain direct child combinators or not, while on a local host, it keeps them only after the `>` symbols have been removed, else it discards those rules, resulting in unstyled message boxes, failing CSS tooltips, and thus a broken website.

Fortu

[2022-09-05 18:26] penguinawesome commented on #6399
Hii @Woollins how did you managed to solve your problem? We are encountering the same issue as yours where the output url is missing the subdirectory (just pointing to the root url which leads the page to 404)

**Edit:** See #7245.

[2022-09-06 16:48] penguinawesome opened #7245 "View Non-Amp Verison return root url instead of subdirectory"
### Bug Description

In the Admin mode - View Non-Amp Verison return root url instead of subdirectory

![image](https://user-images.githubusercontent.com/8090574/188690086-c8985b17-3602-4fb1-b56f-c59c136adc1b.png)

IT looks like there is an issue in this part of code under the file amp-helper-functions.php:
function amp_remove_paired_endpoint that returns the url without the subdirectory

Example:

[2022-09-06 23:50] westonruter commented on #7245
Could you go to the AMP > Support screen and generate a support UUID which our team can use to better understand your system?

[2022-09-07 00:04] westonruter commented on #7245
Are you manipulating the `REQUEST_URI` in some way?

[2022-09-07 00:07] westonruter commented on #7239
Do you have the full CSS code sample that can trigger the issue?

[2022-09-07 03:06] penguinawesome commented on #7245
@westonruter yes we set our REQUEST_URI in this approach in the wp-config to properly handle reverse proxy:

$_SERVER['REQUEST_URI'] = '/daily' . $_SERVER['REQUEST_URI'];
$_SERVER['SCRIPT_NAME'] = '/daily' . $_SERVER['SCRIPT_NAME'];
$_SERVER['PHP_SELF'] = '/daily' . $_SERVER['PHP_SELF'];

if ($_SERVER['HTTP_X_FORWARDED_PROTO'] == 'https')
$_SERVER['HTTPS']='on';

if (isset($_SERVER['HTTP_X_FORWARD

[2022-09-07 03:29] penguinawesome commented on #7245
Done. We have submitted the support already. Here is the UUID: ampwp-83b990e7-dc65-5808-8af6-5c2b3f16367d

![image](https://user-images.githubusercontent.com/8090574/188782364-444b5d1d-78cd-4706-8e78-b1a16e13659c.png)

[2022-09-07 06:29] thelovekesh commented on #7245
If I can understand it properly then modifying the `REQUEST_URI` is the culprit here. When the plugin removes the paired URL it seems it goes back to the original state of  `$_SERVER['REQUEST_URI']`.

@westonruter Just out of curiosity is this best practice to modify the `$_SERVER` global here? I think reverse proxy should be handled from a web server(Nginx or Apache).

[2022-09-07 08:03] anrghg commented on #7239
The example of message boxes was this combinator that caused discarding this ruleset. The fully configurable rules are in a PHP file:
[code]
The tooltips had many combinators like in this extract of affected CSS for anchor tooltips:
[code]
And also:
[code]
Then close to the same again for the separately configurable backlink tooltips.

[2022-09-07 15:25] anrghg commented on #7239
Sorry please: The full CSS is at https://plugins.trac.wordpress.org/browser/anrghg/tags/1.6.14/includes/styles.php?rev=2779672 (message box) and https://plugins.trac.wordpress.org/browser/anrghg/tags/1.6.14/includes/stylesplit.php?rev=2779672 (tooltips).

I’m able to reproduce the issue locally but not remotely despite on https://anrghg.sunsite.fr/test-amp-compat/features/notes-and-sources/ I’ve d

[2022-09-07 19:36] anrghg commented on #7239
@westonruter If you would like to run a test on a local host: Versions 1.6.12 – 1.6.17 are now [available](https://wordpress.org/plugins/anrghg/advanced/) again; the bug is up to [1.6.14](https://downloads.wordpress.org/plugin/anrghg.1.6.14.zip). The [content](https://anrghg.sunsite.fr/test-amp-compat/wp-content/uploads/testampcompatibility.WordPress.2022-09-07.xml) and [WP22 child style](https://

[2022-09-08 21:22] anrghg commented on #7239
@westonruter Apologies for screwing things up:  An extra test site is now live and the download links for local testing are also on this page: https://anrghg.sunsite.fr/issue-7239/direct-child-combinators-handled-unpredictably-may-cause-css-outages-7239/

Also I’ve now repeatedly been fixing and reproducing the bug locally under the same PHP and plugin versions (AMP: 2.3.0; ANRGHG: old 1.6.14) on

[2022-09-12 19:08] anrghg commented on #7239
Now the bug is fixed, no idea how, even after restoring all direct child combinators (some of which are however required to prevent a display bug). Sorry please. I’d considered the support forum, then found an issue was a better fit… Now I think closing this issue is agreed upon.

[2022-09-12 19:08] #7239 closed, assigned to nobody

[2022-09-13 01:17] westonruter commented on #7245
Modifying the `$_SERVER` global is the only way to achieve paired URLs for all possible URLs on a WordPress frontend since wordPress's rewrite rules are not expressive enough to do so.

Since the `REQUEST_URI` is being modified in `wp-config.php` then this should be the variable value that the `PairedRouting` service is working with. I don't see why it would be undoing it. There may be something e

[2022-09-13 02:34] penguinawesome commented on #7245
@westonruter do you have any suggestions on how should we fix or handle this issue? Btw clicking the View Amp version from non-amp version works, however the switching back to non-amp version has some issue.

I think the plugin has some issue related to --- when switching from amp version to non-amp verison in the admin mode

[2022-09-13 03:42] thelovekesh commented on #7245
@firephantomassasin I have tested it out locally on single and multisite setups. So far it's working as expected on my end.

If I am not mistaken here then it is a multisite setup. Right?

[2022-09-13 04:08] penguinawesome commented on #7245
@thelovekesh it is not a multisite setup. It is a reverse proxy setup. The front facing server www.investagrams.com is using different server and setup with a reverse proxy to point the /daily (subdirectory) going to this wordpress server which contains everything via private IP connection.

[2022-09-13 12:11] balajidamodare opened #7256 "How to remove data-ampdevmode="""
### Bug Description

How to remove or disable adding this attribute data-ampdevmode=""?

### Expected Behaviour

This is a question but here don't have the option to raise a question so I selected it as bug sorry for that. because of this I can't validate directly local and dev ENV on the AMP validator.

so please help to disable the data-ampdevmode="" attribute through a plugin.

### Screenshots

[2022-09-13 12:34] milindmore22 commented on #7256
Hello @balajidamodare

The `data-ampdevmode=""` attribute will be added only when the user is logged in and if you have the WordPress admin bar enabled.

I'll mark this as resolved Open a <a href="https://wordpress.org/support/plugin/amp/#new-topic-0" rel="noopener" target="_blank">new support topic</a> in WordPress Support forum if you face further issues.

[2022-09-13 12:34] #7256 closed, assigned to nobody

[2022-09-16 15:58] thelovekesh opened #7257 "Introduce code splitting and lazy load components to reduce bundle sizes"
Currently, AMP plugin JS assets constitute various modules which are as follows with their bundle size:

| Module | Stat | Parsed | Gzipped |
| ------------- | ------------- | ------------- | ------------- |
| AMP Validation | 54.74 KB | 21.97 KB | 7.77 KB |
| Block Editor  | 171.13 KB | 83.56 KB | 21.42 KB  |
| Classic Editor |  |  |  |
| Admin | 81.32 KB | 34.54 KB  | 12.02 KB |
| Customizer | 3

[2022-09-19 18:53] westonruter commented on #7257
Oof. 3.13 MB for the Settings page? That's big.

Why are some of the module rows blank?

I'm hesitant to spend a significant amount of time on the code splitting since performance of the pages hasn't been a user complaint so far. Nevertheless, if it is a quick win then I don't see why we shouldn't do it.

[2022-09-20 00:32] westonruter opened #7263 "Running `npm run test:php` is broken after wp-env update to wp-env 5.0.0"
### Bug Description

With the update to wp-env 5.0.0, running `npm run test:php` now results in a fatal error. This package update had a backwards-incompatible change as explained in the [release notes](https://github.com/WordPress/gutenberg/blob/trunk/packages/env/CHANGELOG.md#500-2022-07-27):

We didn't catch it via CI because GHA doesn't run Docker to run the tests. When running in the local Do

[2022-09-20 03:39] thelovekesh commented on #7257
Ahh. Sorry, I forgot to mention. While analyzing modules, no analyzing stats were there for empty blank ones. I think it's due to their fewer bundle chunks(and less in size) or there is just a plain css/js file that does not contain any other dependency in it.

I think it's because it loads on the admin side and performance doesn't matter much(I mean PX). After the first-time load, static assets g

[2022-09-22 18:55] #7263 closed, assigned to thelovekesh

[2022-09-22 21:25] westonruter opened #7267 "Disable experimental Bento integration in Sandboxing"
### Feature Description

As discovered in a [support topic](https://wordpress.org/support/topic/progressive-mode/), the Bento implementation of some components (at least `amp-accordion`) is broken, at least when used on a page with the AMP runtime. Also, since the Bento AMP experiment is still present, pages using the Bento versions of components cannot be valid AMP. Therefore, we should go ahead

[2022-09-22 21:49] westonruter opened #7268 "Extend Sandboxing experiment to Paired AMP modes"
### Feature Description

Currently the Sandboxing experiment is limited to Standard mode. This is because pages using the experiment are not valid AMP, meaning they will not get indexed. Nevertheless, invalid paired AMP pages are still useful for one important case: a mobile-optimized version of the site. When mobile redirection is enabled in particular, being able to serve pages using the AMP run

[2022-09-26 14:37] balajidamodare opened #7270 "Redirecting desktop request to AMP Mobile page"
### Bug Description

Hi There,

Not sure if this is a bug or a question.
but when I am hitting AMP URL on the Desktop it's redirecting to AMP Page how we can redirect only mobile requests to AMP pages otherwise keep all Desktop requests on the Normal page.

### Expected Behaviour

If Requests came form mobile instead of redirecting it to the AMP page it needs to show the normal desktop page.

###

[2022-09-26 16:54] milindmore22 commented on #7270
Hello @balajidamodare

There seems some confusion,

If you visit a non-AMP page on the desktop it will not redirect to the AMP page but if you visit the non-AMP page on Mobile it will redirect to the AMP page.

It's very unlikely that users will find an AMP page when they search for something on a desktop unless he is using Standard Mode or directly using AMP page URL

If a user searches for somet

[2022-09-26 16:54] #7270 closed, assigned to nobody

[2022-09-26 17:58] #7267 closed, assigned to nobody

[2022-10-04 05:24] westonruter opened #7285 "Incorrect assumption of hex input by `ReaderThemeSupportFeatures::get_relative_luminance_from_hex()`"
### Bug Description

See [support forum topic](https://wordpress.org/support/topic/php-8-0-compatibility-error/).

The `ReaderThemeSupportFeatures::get_relative_luminance_from_hex()` method incorrectly assumes hex input:

https://github.com/ampproject/amp-wp/blob/a373ac8f65f26ee7df7313ff5d734b5704781ab0/src/ReaderThemeSupportFeatures.php#L364-L383

It turns out that in some cases, a theme may be p

[2022-10-06 18:19] #7285 closed, assigned to nobody

[2022-10-07 13:28] Naren-hybreeder commented on #1340
Hi @shangdev ,

I am also getting the same issue.. I have AMP URL https://example.com/blog/blog1/amp/ and the canonical showing https://example.com/blog/blog1/

Once you added the above code,  is it really working? I have tried but not working for me.

[2022-10-08 00:25] westonruter opened #7289 "Automatically mark GA4 scripts as being PX-verified"
### Feature Description

As we have [advised](https://wordpress.org/support/topic/how-to-ga4-to-amp/#post-15870515) in the support forum, site owners can use GA4 on AMP pages by using the moderate sandboxing level and adding `data-px-verified-tag` to the Google Analytics scripts.

We should add a sanitizer that will do this automatically when the user has selected either the Moderate or Loose sand

[2022-10-10 08:48] thelovekesh commented on #5683
@westonruter Do we still need this?

[2022-10-10 16:07] rafaucau opened #7291 "The complex CSS is removed"
### Bug Description

I have such CSS and it works fine on the standard version of the site:
[code]

However, when I display the AMP version of the page, it is broken because there is only such CSS left in the `.container` class:
[code]

I don't even see in the file preview that it was removed, so it's probably some kind of bug:
![image](https://user-images.githubusercontent.com/25438601/194908753-

[2022-10-13 12:48] thelovekesh commented on #7291
I believe the problem arises from `100% - calc(var(—container-padding)* 2)` which the parser is unsure how to handle, but browsers are fairly intelligent and automatically display the desired results.

It should be possible for the parser to parse it as intended if you make it a little more precise.
[code]

[2022-10-13 13:24] rafaucau commented on #7291
Thanks, it helped! I'm using SCSS and had to additionally wrap it in `#{' '}` because the Sass compiler simplifies some things.
[code]

I think this should be fixed in this plugin anyway, since the Sass compiler turns it into a shorter version by default and this is valid CSS.

[2022-10-13 18:08] westonruter commented on #7291
@rafaucau This would be something needing to be fixed in the underlying [PHP-CSS-Parser](https://github.com/sabberworm/PHP-CSS-Parser) package. Could you report the issue there instead?

[2022-10-13 18:35] rafaucau commented on #7291
It appears that it is already reported there: https://github.com/sabberworm/PHP-CSS-Parser/issues/388

[2022-10-17 17:49] westonruter commented on #5683
It's not important, nah.

[2022-10-17 17:49] #5683 closed, assigned to nobody

[2022-10-18 11:34] milindmore22 opened #7309 "Add Filter that can be used to disable auto site scan on plugin page."
### Feature Description

A user on [support topic](https://wordpress.org/support/topic/disable-site-scan/#post-16098734) asked if we have any filter to disable auto site scan on the plugin page.

As discussed on slack service is not shared so it will be easy for users to toggle off with a filter.

### Acceptance Criteria

A new filter that can disable site scan (auto site scan) on plugin page.

##

[2022-10-19 06:48] thelovekesh commented on #7309
@westonruter In this situation, we have the option to turn off the site scan by ceasing to enqueue `amp-site-scan-notice` assets in the admin, but doing so will also have an impact on the site scan drawer on the settings page.

What if we could regulate it via settings rather than a filter, in my opinion? We can offer some choices in the `site scan` drawer, including the ability to disable the `si

[2022-10-19 10:17] milindmore22 commented on #7309
@thelovekesh I will recommend going with disabling the site scan on `themes.php` and `plugins.php` since the manual site scan (drawer) is a feature and we should not disable it as the manual site scan will only trigger when the user performs a certain action (click site scan button)

The auto scan on the plugins and themes page is affecting users without their intention and slowing down the bulky

[2022-10-19 21:19] westonruter commented on #7309
@thelovekesh Thanks for pointing out the fact that merely dequeuing the script/style could disable the scan. In that case, since there is a fixed handle, could not a mini plugin be created that runs only on the plugins screen or the themes screen that runs at `admin_enqueue_scripts` priority 11 and dequeues the `amp-site-scan-notice` style/script?

Since only one user has requested this, I hesitat

[2022-10-20 04:34] thelovekesh commented on #7309
It does make sense, yes.

Since there is very little likelihood that it will be utilized by external plugins, I am also against it, at least for the filter. Additionally, its overkill to have a setting on our options page if it isn't frequently requested.

💯

[2022-10-20 09:39] thelovekesh commented on #7309
Mini plugin for disabling site scan on plugins/themes activation page - https://github.com/rtCamp/amp-site-scan-disable

[2022-10-21 16:14] #4400 closed

[2022-10-27 17:46] #7289 closed, assigned to nobody

[2022-10-28 10:24] milindmore22 commented on #7309
Since this is not every user request, we will be providing this as a mini plugin, the plugin has been added to the [mini plugin and extensions page](https://amp-wp.org/documentation/extending-amp-compatibility-extensions-and-mini-plugins/)

[2022-10-28 10:24] #7309 closed, assigned to thelovekesh

[2022-10-31 13:36] thelovekesh commented on #5701
@westonruter I am planning to add multisite tests workflow using wp-env.  Which WP and PHP versions it should cover?  or it should be the same as current test workflows. In this case, we will be having 2x test workflows.

[2022-11-01 00:02] westonruter commented on #5701
Just adding one additional test with the latest WP version and PHP 7.4 should be good, as that corresponds to the [majority of installs](https://wordpress.org/about/stats/).

[2022-11-01 11:00] milindmore22 opened #7322 "Validation issue with WP 6.1 core navigation block"
### Bug Description

The core navigation block enqueues a script for the block, creating an invalidation in the core.

The error is reproducible with Twenty Twenty-Two and Twenty Twenty-three theme

[code]
However, the menu toggle is working on AMP pages.

### Expected Behaviour

The Core and Core themes should not create validation issues

### Screenshots

![image](https://user-images.githubuserc

[2022-11-01 15:47] thelovekesh commented on #7322
The navigation block was modified in https://github.com/WordPress/gutenberg/pull/40135, which caused the block's view script to be spllited and now it's the cause of the validation issue. Also, this navigation block was previously made amp-compatible in https://github.com/ampproject/amp-wp/pull/6838.

Since it doesn't implement something new other than splitting the block's view script, dequeuing

[2022-11-01 16:24] westonruter commented on #7268
This specifically has in mind this code:

https://github.com/ampproject/amp-wp/blob/08906e47d2d5ee7e2b5aaf34fd84aff1e8738c95/includes/validation/class-amp-validation-manager.php#L2035-L2052

Note the check for `amp_is_canonical()`. Essentially this needs to be changed to also return `true` if sandboxing is enabled and it is set to level 1 or 2. This will prevent redirecting to the non-AMP version

[2022-11-01 18:04] westonruter commented on #7322
The handle `wp-block-navigation-view-2` is curiously named!

[2022-11-01 18:05] #7322 closed, assigned to nobody

[2022-11-02 14:15] stouch commented on #6399
Hi,
We have the same issue on our blog,
How did you patch this @firephantomassasin ?
Have you planned to release something in the next days @westonruter ?
Thank you

[2022-11-02 14:16] penguinawesome commented on #6399
@stouch none yet, i am waiting for the bug fix. Please +1 on my post here: https://github.com/ampproject/amp-wp/issues/7245

[2022-11-03 00:02] westonruter opened #7324 "Exclude unused validator spec classes from amp-toolbox-php"
### Bug Description

The optimized autoloader generates a [class map](https://plugins.trac.wordpress.org/browser/amp/tags/2.3.0/vendor/composer/autoload_classmap.php) with many many files. The majority of these files (936 out of 1,375 or 68%) come from the validator spec files in amp-toolbox-php located in `vendor/ampproject/amp-toolbox/src/Validator/Spec/`. I received a report that the `ClassLoad

[2022-11-03 05:47] thelovekesh commented on #7324
@westonruter This patch removes above mentioned Spec files from class map.

[code]

To remove these files from our build, we can add `vendor/ampproject/amp-toolbox/src/Validator/Spec/` in the exclude file patterns in build runner(Grunt).

---

EDIT:

Just tried excluding Spec files from the build and it results in a fatal error but removing these files from the class map works fine.

<details>
  <

[2022-11-03 17:52] westonruter commented on #7324
The fatal error is due to some code in the plugin using a spec class?

[2022-11-04 14:41] thelovekesh commented on #7324
Not sure yet 🤔 . I am just curious why it's creating an instance of `Spec` when we are not using it in the plugin. Also removing `vendor/ampproject/amp-toolbox/src/Validator/Spec/` from the class map works fine.

[2022-11-04 15:11] westonruter commented on #5701
As part of this, could you also add a local development command using the Docker environment to test multisite? Maybe you're planning to do that anyway for debugging the current failures anyway.

[2022-11-04 16:14] thelovekesh commented on #5701
I have added it as a command and it uses the wp-env.

https://github.com/ampproject/amp-wp/blob/ac70da52a6aa245b53d5e7661b1fa7920df027e3/package.json#L146

[2022-11-07 21:54] stouch commented on #6399
I finally edited the extension myself by adding my `blog` prefix like that :
[code]
at the end of the `function amp_get_current_url()` (includes/amp-helper-functions.php)

Hoping though that the next release will fix this big issue @westonruter

[2022-11-08 17:18] stouch opened #7329 "wp_nav_menu suffix in Custom links to remote websites"
### Bug Description

This plugin adds a suffix /amp to my custom links to remote websites in my footer menu (wp_nav_menu).

My blog is under a subpath (/blog) so I was able to manually remove this suffix (and keep it only for my blog links) with :

[code]
in `amp/src/PairedUrl.php`.

### Expected Behaviour

The suffix must no be added to custom links in wp menus.

### Screenshots

_No response_

#

[2022-11-08 18:50] westonruter commented on #7329
The plugin should only be adding the AMP endpoint to links on the same domain as the WP install. Are you saying it is adding the link to other parts of your site which are not part of the WordPress subdirectory install? What does `home_url()` return for you?

The logic for determining whether a given link should get the AMP endpoint is as follows:

https://github.com/ampproject/amp-wp/blob/092b4b8

[2022-11-08 19:18] stouch commented on #7329
Thanks.
Actually, We have a website under ourdomain.com/app and we have our blog under /blog. And we have some wp_nav_menu custom links that point to  ourdomain.com/app/xxx etc.
I already had an issue with the fact that this plugin does not handle well the case when wp is hosted under a subdirectory :
https://github.com/ampproject/amp-wp/issues/6399

Thank you for your add_filter solution (I did n

[2022-11-08 19:27] westonruter commented on #7329
@thelovekesh Would you update the logic in `is_frontend_url()` to verify that the provided `$url` has the same `path` prefix as the `home_url()`? We an add a `home_path` member variable where we are currently storing the `home_host`:

https://github.com/ampproject/amp-wp/blob/092b4b8a717c0ed7d7dc257fe5e042e6aab566f9/includes/sanitizers/class-amp-link-sanitizer.php#L82

[code]

[2022-11-10 16:18] #7329 closed, assigned to nobody

[2022-11-10 16:19] westonruter commented on #7329
@stouch The fix has been merged, and there is a pre-release production build you can test: https://github.com/ampproject/amp-wp/pull/7330#issuecomment-1308283943

[2022-11-10 21:36] andyblackwell opened #7337 "Optimize Production Composer Build to reduce needless file lookups"
### Bug Description

I recently did an optimization pass on our sites, and after profiling them found that several plugins with local composer /vendor builds were not fully optimized for production, AMP being one of these.

The plugin's local composer autoloader is not built with `--classmap-authoritative`, and by default the composer ClassLoader will prepend itself to the list of autoloaders. Bot

[2022-11-10 21:55] westonruter commented on #7337
Thank you for this. Closely related to #7324 which we're also investigating right now.

[2022-11-11 08:52] artby04 opened #7338 "AMP breaks site functionality"
### Bug Description

I installed the amp plugin, there were no compatibility errors.

After installation, the site stopped working as it should. For example: the self-written form for submitting stopped working
(photo below)

Also, the built-in chat and recaptcha stopped working.

How can I fix this and is it possible at all?

### Expected Behaviour

Everything is working

### Screenshots

![2022-

[2022-11-11 11:16] milindmore22 commented on #7338
@artby04 We provide support actively on WordPress support forums, Please [create a new support topic](https://wordpress.org/support/plugin/amp/#new-topic-0) on WordPress Support forums

[2022-11-11 11:16] #7338 closed, assigned to nobody

[2022-11-17 06:45] andyblackwell commented on #7324
Those Validator\Spec files look like they're used during html optimization, and not just test specs (if that's what you were thinking), so you won't be able to remove them and shouldn't exclude them from the classmap.

https://github.com/ampproject/amp-toolbox-php/search?q=optimizer+validator%5Cspec&type=code

It still worked when you only removed from the classmap due to how you do the composer b

[2022-11-17 20:26] westonruter commented on #7324
Got it. I see `Validator\Spec` mentioned in these files:

[code]

Specifically these usages:

[code]

So if it ends up being that we should still exclude unused classes, perhaps we can just do so for `AmpProject\Validator\Spec\Tag`, `AmpProject\Validator\Spec\AttributeList`, `AmpProject\Validator\Spec\Error`, etc.

[2022-11-17 22:08] andyblackwell commented on #7324
to be honest, I would **highly** recommend not messing with excluding these files to avoid unexpected breakage
especially since even those you mentioned at the end to still exclude, I can see are all still actually used in that library and would result in breakage

in my opinion, the performance boost to be gained here is going to be adding `--classmap-authoritative` to your build like mentioned i

[2022-11-18 16:51] westonruter commented on #7324
OK, agreed. I'm removing this issue from the milestone and deprioritizing.

[2022-11-24 05:33] #5701 closed, assigned to nobody

[2022-11-28 00:44] johocen168 opened #7356 "“Buy now” button act as “add to cart” instead of link to product page"
### Feature Description

When connecting "Shopping" with WooCommerce in the web story setting, the "Shop Now" button will bring up the product page with product title, price, images and description (which is retrived from the product page of WooCommerce) together with a “Buy now” button.

Click the “Buy now” button will link to the product page of WooCommerce again, means the visitor will see the

[2022-11-28 12:18] milindmore22 commented on #7356
@johocen168  We provide support actively on WordPress support forums, Please [create a new support topic](https://wordpress.org/support/plugin/amp/#new-topic-0) on WordPress Support forums

[2022-11-28 12:18] #7356 closed, assigned to nobody

[2022-11-28 14:02] johocen168 commented on #7356
I was guided from [web story](https://wordpress.org/support/topic/settingshoppingmanage-products-in-woocommerce/) plugin support to here...you could log an [AMP project GitHub request](https://github.com/ampproject/amphtml/issues/new/choose)

Anyway, I will create a new support topic on WordPress Support forums.
Thanks

[2022-11-30 00:16] westonruter commented on #7155
@milindmore22 Do you think that a WP-CLI interface for the settings (https://github.com/ampproject/amp-wp/issues/5783) would satisfy this well enough?

[2022-11-30 09:43] milindmore22 commented on #7155
@westonruter yes, that will also work!
cc : @thelovekesh

[2022-11-30 18:55] westonruter commented on #5783
@milindmore22 What settings are the most important to be included in the CLI interface? We won't likely need to include every possible setting (e.g. toggling specific templates). We should prioritize what will actually be useful (e.g. switching template mode).

[2022-11-30 21:58] #7268 closed, assigned to nobody