[2020-05-13 23:33] westonruter commented on #4626
Only do this for logged-in users, who also have DevTools turned on. Or, for users who have the Customizer open (especially in the new Reader mode, wherein we may need to have some message when navigating to a URL that has AMP disabled on it).

[2020-05-13 23:35] westonruter commented on #4626
This is also related to Reader Mode Expansion in that we'll need to allow every URL to be accessible in the Customizer, regardless of whether AMP is enabled for the post type or the template. We'll need to show some notice saying AMP is not available for visitors, but otherwise the user still needs to be able to navigate around the site in the Customizer preview.

[2020-05-13 23:52] #4561 closed, assigned to nobody

[2020-05-14 00:02] westonruter commented on #1401
This really depends on https://github.com/ampproject/amphtml/issues/26033

Each tag spec in AMP should have a URL associated with it. This will help both the AMP validator and the AMP plugin.

[2020-05-14 00:10] westonruter commented on #1864
Yes, we should just remove this warning.

But we should actually remove the ability for a theme to prevent AMP from being disabled. The challenge is if a theme depends on AMP components, then disabling AMP will cause problems. But when Bento AMP is a thing and themes can depend on AMP components specifically, then themes can have AMP turned off and reliably use AMP components.

[2020-05-14 00:12] #1730 closed

[2020-05-14 00:13] westonruter commented on #1730
Closing as @jwold is creating new issues for this.

[2020-05-14 00:33] westonruter commented on #2314
I think this is closely related to #1864.

[2020-05-14 00:35] westonruter commented on #2314
I don't think we should do this. We should actually remove the ability for a theme to prevent AMP from being disabled. The challenge is if a theme depends on AMP components, then disabling AMP will cause problems. But when Bento AMP is a thing and themes can depend on AMP components specifically, then themes can have AMP turned off and reliably use AMP components.

[2020-05-14 00:35] #2314 closed

[2020-05-14 01:49] joshcronin opened #4722 "Meta tag invalid property error"
## Bug Description
The AMP validation is picking up an invalid property in the viewport meta tag even though the property it is saying is invalid does not exist.

## Expected Behaviour
Viewport meta tag should not be flagged as invalid.

## Steps to reproduce
1. Include meta tag for viewport such as `<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale

[2020-05-14 05:49] westonruter commented on #4722
Interesting. I’m not able to reproduce that issue.

I’ve tried editing Twenty Twenty’s header.php to supply this meta viewport:

[code]

When I validate the page, I get no validation error.

If I change it to:

[code]

Then I get one validation error: “Invalid property: foo”. It then says that the original invalid property value was:

[code]

Which is correct.

So I’m confused why this is happenin

[2020-05-14 05:58] schlessera commented on #4722
According to the screenshot, you have a property `0=Array` in your meta tag, which is the invalid property.

I guess that some code within the theme fails generating a valid property because it doesn't receive `[ $key => $value ]`, but rather `[[ $key => $value]]`, which is parsed to `0 => [ $key => $value ]`.

Finding that broken piece of code and fixing it should get rid of the above validation

[2020-05-14 06:00] westonruter commented on #4722
@schlessera apparently there is no PHP generation of the `meta` tag though? @joshcronin can you share the full PHP code that is generating the tag?

[2020-05-14 06:15] schlessera commented on #4722
@westonruter Note that the screenshot shows something else than the issue description.

[2020-05-14 06:17] schlessera commented on #4722
Ah, just read through the support ticket. The GH issue here is misleading, actually.

I'm thinking it could also be a part of our processing code that fails in producing a valid attribute somewhere. I'll double-check.

[2020-05-14 07:15] deepaklalwani97 opened #4723 "The multi-column gallery is showing indifferent height in AMP mode."
## Bug Description

The multi-column gallery is showing indifferent height in AMP mode and does not look consistent with the non-AMP mode when crop image toggle is enabled for the gallery block. In the AMP mode, the height is calculated differently resulting in the inconsistent look in AMP and non-AMP mode.

Issue 1:
By default, the Gallery block does not apply fixed height and width attributes to

[2020-05-14 08:52] joshcronin commented on #4722
Removing the trailing self-closing slash makes no difference.

The tag is hard coded into the head, the code is:
[code]

[2020-05-14 19:40] westonruter opened #4729 "Reduce cumulative layout shift (CLS) by attempting to determine heights of embeds beforehand"
## Feature description

[Cumulative Layout Shift](https://web.dev/cls/) (CLS) is a huge detriment to user experience on the web. It is also a huge challenge to solve in the case of 3rd-party embeds. For some AMP components, in particular [`amp-iframe`](https://amp.dev/documentation/components/amp-iframe/#iframe-resizing) and [`amp-list`](https://amp.dev/documentation/components/amp-list/#specifyin

[2020-05-14 21:08] jwold commented on #4718
Discussed in our backlog grooming today and John will add details as he has opportunity.

[2020-05-14 21:08] jwold commented on #4703
Design notes from meeting:

- How can we anchor the messaging in a nutshell about how the two themes work based on how you’re coming here
- Link off to learn more from AMP site. Maybe cute illustration with it.
- If you uncheck checkbox, then right side would just say AMP, not mobile/amp. https://d.pr/i/xsyOkE

[2020-05-14 21:10] jwold commented on #4700
Notes from meeting:

- You can go through wizard completely or bail and restart.
- If you go through wizard again after completely entirely it should show what they selected before
- If they abort wizard and come back it will have default values or what they selected before
- Add AC to the “container UI” issue to define the elements we’re building `Joshua task`

[2020-05-15 05:47] schlessera commented on #4729
For some of these, we might still be able to calculate a close approximate height on the serverside based on the content from the embed, but it would mean supporting adding per-embed logic to do so.

For example, for a gist, you'll probably get very close by counting the number of lines and then calculating something like `$top_chrome + ( $lines * $line_height ) + $horizontal_scrollbar? + $bottom_

[2020-05-15 11:13] jonoalderson opened #4730 "Canonical URL tag should not be output for non-public posts when Yoast SEO is active"
## Bug Description

When Yoast SEO (or Yoast SEO Premium) is active, it takes over managing the presentation of the canonical URL tag (amongst others). Specifically, the AMP plugin's output for this is disabled, and Yoast's normal logic outputs its own tag.

This works correctly in all scenarios _except_ for when the post is 'non-public' (set to `private`, or where Yoast SEO settings result in the

[2020-05-15 12:19] schlessera commented on #4730
The AMP spec actually requires a canonical link to be present: https://amp.dev/documentation/guides-and-tutorials/learn/spec/amphtml/?referrer=ampproject.org#required-markup

The plugin currently makes sure this is the case by unconditionally adding a canonical link if none is present:

https://github.com/ampproject/amp-wp/blob/b9556a12a31fe926de24149ca4fd3b412875b221/includes/class-amp-theme-supp

[2020-05-15 12:34] jdevalk commented on #4730
I've noticed this while debugging, and want to just state that this is 100% in conflict with the requirements for Google search as stated by John Mueller amongst other people...

[2020-05-15 12:39] jdevalk commented on #4730
For reference:

- https://www.seroundtable.com/google-noindex-rel-canonical-confusion-26079.html
- https://www.searchenginejournal.com/google-dont-mix-noindex-relcanonical/262607/

etc.

[2020-05-15 13:14] pradeep910 commented on #4694
@westonruter Is there any reason to only keep `object-fit:cover` until the video starts playing? Just curious. I checked this css property with video playing, I don't see anything affected by it. As soon as we play video, the cover image disappears and never shows back again. It will be all video frames later.

[2020-05-15 14:11] westonruter commented on #4694
That's a good question. If we can confirm that the aspect ratio of the video is correctly reflected in the `width` and `height`, then there's no reason to not do `object-fit:cover`. However, if this can't be guaranteed then the result can be cropped video playback, which could be bad if not intended. Right?

[2020-05-15 14:20] westonruter commented on #4730
Is it necessary to remove `canonical` if there is already a `noindex`?

[2020-05-15 14:52] schlessera commented on #4730
According to @softplus from that Reddit post, the Google index would prioritize the `canonical` over the `noindex`, and thus try to combine the pages.

The `canonical` points to the non-AMP version. As both the AMP and the non-AMP version have a `noindex`, even combining them because of the `canonical` should still result in a `noindex` being set.

If you're going AMP-first, the `canonical` would

[2020-05-15 16:42] schlessera opened #4733 "Raise PHPStan level for the `AmpProject\AmpWP` package to 4"
## Feature description

The plugin package (`AmpProject\AmpWP`) is currently sitting at and enforcing level 3 of PHPStan static analysis.

There are 27 errors that need to be fixed so that we can raise the level to 4 and enforce this new quality level in Travis CI.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance c

[2020-05-15 16:42] schlessera commented on #4733
### includes/admin/class-amp-post-meta-box.php
|Line|Error|
|---:|---|
|136|Property WP_Screen::$is_block_editor (bool) in isset() is not nullable.|
|268|Property WP_Post::$ID (int) in isset() is not nullable.|
### includes/amp-helper-functions.php
|Line|Error|
|---:|---|
|1703|Strict comparison using === between false and string will always evaluate to false.|
### includes/class-amp-theme-support

[2020-05-15 17:04] pradeep910 commented on #4694
You are right Weston. After testing with some more images and variations we found that the video aspect ratio changes if we set horizontal image for the vertical video and vice versa.

[2020-05-15 17:07] westonruter commented on #4694
But, in the case when we're able to determine the dimensions of the video, for example when the video file is in the media library:

https://github.com/ampproject/amp-wp/blob/a3b421dd48316aed585fe75840662e1227ad4552/includes/sanitizers/class-amp-video-sanitizer.php#L199-L236

Then adding `object-fit:cover` would seem to make sense, since it won't impact the video playback.

[2020-05-15 17:09] pradeep910 commented on #4694
Yes, that makes sense.

[2020-05-15 19:14] westonruter commented on #4705
Observation: Asking if someone is a technical person is not the same as asking if they are technically a person.

[2020-05-15 19:18] westonruter commented on #4707
The user shouldn't be forced to go to the Customizer at the end. They should also be able to just exit the wizard.

Actually, when in Reader mode, this last screen could actually embed the AMP version of the site inside of an iframe. The user can then indicate whether they are happy with how it looks. If not, then they can proceed to the Customizer or else they can just go back to the dashboard.

[2020-05-15 19:22] westonruter commented on #4709
See also https://github.com/ampproject/amp-wp/issues/4707#issuecomment-629433953:

[2020-05-15 19:22] westonruter commented on #4712
cf. #2316

[2020-05-15 19:24] westonruter commented on #4713
Yes, this is key. Consistency between the stepping wizard and the full settings screen.

[2020-05-15 19:26] westonruter commented on #4715
This is already captured in #2673.

[2020-05-15 19:27] westonruter commented on #4715
Also, it's not just about Reader mode but whenever the user has Dev Tools disabled, regardless of the template mode.

[2020-05-15 19:34] westonruter commented on #4708
I don't think we actually need to worry about this. If we try too hard to add pointers, we'll have trouble as we start allowing more themes which have their own unique settings.

The AMP toggle in the Customizer today's Reader mode won't apply in the new Reader mode when a theme is selected. So yes, the question is how we can be more explicit that the user is editing the AMP version of the site wh

[2020-05-15 19:38] westonruter commented on #4719
This step is not going to be about plugin compatibility scanning only. It will also check for the theme compatibility. If a theme is generating AMP validation errors, then this will be a signal for which template mode will be recommended to the user. For example:

* If there are no errors caused by the theme or plugins, then we could recommend Standard mode.
* If there are no errors caused by the

[2020-05-15 19:58] amedina commented on #4705
If the user is not technically a person, then the plugin should default to Reader mode.

[2020-05-15 22:43] westonruter commented on #4694
Then again, it would be preferable for a user to select a poster image with the same aspect ratio, as otherwise there are pixels being downloaded which are never displayed. But as a small enhancement, giving videos with poster images that have known dimensions a `object-fit:cover` seems like a good mini enhancement.

[2020-05-15 23:07] westonruter commented on #4703
Nevertheless, we can actually show the AMP version of a site in a wizard, since there will be room to show it in an iframe. This makes sense in a step after the side-by-side preview, as a way to show them what it actually looks like so they can decide whether or not to open the AMP Customizer. See https://github.com/ampproject/amp-wp/issues/4707#issuecomment-629433953.

[2020-05-15 23:18] amedina commented on #4707
Agree users should not be forced to go to the Customizer. They should have a clear option to go there either at the end of the flow or any time afterwards. The former would be helpful for users not familiar with the Customizer, and the latter would be more general.

[2020-05-15 23:50] amedina commented on #4708
@jwold Can we fill out the Feature Description?

[2020-05-15 23:52] amedina commented on #4715
@jwold we need to fill out the Feature Description and make the issue titles more descriptive. `Error Handling in Reader Mode` offers little perspective on what the feature is about.

[2020-05-16 09:24] pierlon opened #4735 "AMP page for image attachment has wrong alignment for image"
## Bug Description

The AMP page for an image attachment displays the image as centered, while the image non-AMP counterpart is left-aligned.

## Expected Behaviour

AMP and non-AMP page for an image attachment should have the same alignment.

## Steps to reproduce

1. View the page for an image attachment.
2. Compare the non-AMP and AMP version of the page

## Screenshots

![image](https://user-i

[2020-05-16 11:03] jdevalk commented on #4730
@schlessera I really respect your development skill, but in this case I think you shouldn't be making these decisions. I need a statement from @softplus that clarifies this or from another known Googler on the search side, as otherwise myself and our support team will be explaining this over and over and over again.

[2020-05-16 16:31] My1 commented on #1216
another question would be whether or not this is even possible on for example a plain webhoster and if not just let the user supress the notification as there's nothing the user can do anyway

[2020-05-17 12:01] softplus commented on #4730
This is a non-issue. Theoretically, the given A->canonical->B, both A & B should be equivalent with regards to content & indexationability (noindex or not). In the cases here, as far as I understand them, it's either:

* A=B (self-canonical): then both A & B have the same noindex/not-noindex status automatically, which is fine
* A=AMP, B=HTML: if both A & B have the same noindex/not-noindex status

[2020-05-17 18:44] jdevalk commented on #4730
So.... In which cases @softplus is this NOT a non-issue?

Are you saying that noindex is more important than canonical and I can thus have both on a page? Because that's definitely different from what I've understood before but something that _would_ make me very happy. If that's *not* what you're saying, can you please elaborate a bit more on when this is a problem and when it isn't, and why?

[2020-05-18 06:47] westonruter commented on #4723
What is the selector for this rule in the original CSS?

[2020-05-18 07:39] sagarnasit commented on #4723
@westonruter Original selector is `.wp-block-gallery.is-cropped .blocks-gallery-item img`
![image](https://user-images.githubusercontent.com/25276905/82186487-93ff6d80-9908-11ea-9344-462cfbf2876b.png)

[2020-05-18 13:09] itowhid06 opened #4740 "Videos without cover is not visible in AMP if "preload:none" attribute is added in "video" shortcode"
## Bug Description

In the WordPress Block Editor, if a video shortcode with `preload=”none”` attribute is added then video does not appear in AMP version until we click on the blank space of Video. Though the video element is visible if it has a cover. This is happening presumably because of this block of code https://github.com/ampproject/amphtml/blob/master/extensions/amp-video/0.1/amp-video.js

[2020-05-18 13:49] johnwatkins0 commented on #4718
@jwold @westonruter @kmyram I've updated the description on this issue. Let me know if you have any questions or feedback. Expecting to have a PR ready in the first half of this week.

[2020-05-18 15:39] amedina commented on #4718
@johnwatkins0 The description is good. Could you update the title of the issue to be more descriptive as well?

[2020-05-18 15:56] jwold commented on #4709
I'm good with exploring either of those options. Thanks!

[2020-05-18 15:58] jwold commented on #4707
I'll explore this as a design, my understanding from previous discussions was we could only show a screenshot. Thanks!

[2020-05-18 16:03] westonruter commented on #4707
@jwold it's true that we can only show a screenshot when showing the non-AMP and AMP versions side by side, because we cannot embed the desktop non-AMP version in an iframe. However, after that summary step we can show just the AMP version in an iframe where we intend to show a mobile preview.

[2020-05-18 16:40] westonruter commented on #4723
OK, thanks. And this applies to both GIF and non-GIF images, correct?

The CSS in question is coming from core: https://github.com/WordPress/WordPress/blob/307725883a1783123051fef0650f1e4990dce0b0/wp-includes/css/dist/block-library/style.css#L560-L580

Either we add new CSS rule as follows:

[code]

Which does not seem ideal. Or, what is likely better, is to hook into the generation of the Gallery

[2020-05-18 17:51] westonruter commented on #4599
Making relative URLs absolute will also prevent validation errors stemming from disallowed relative URLs, for example: https://wordpress.org/support/topic/app-banners-for-amp/#post-12854027

[2020-05-18 19:17] westonruter opened #4742 "Meta viewport properties no longer need extraneous whitespace removed"
## Bug Description

In https://github.com/ampproject/amp-wp/pull/4137 we removed whitespace in meta property values. This a workaround for https://github.com/ampproject/amphtml/issues/26496 which flagged such whitespace as being a validation error. This is now fixed the AMP validator, so this code can be eliminated:

https://github.com/ampproject/amp-wp/blob/2bfb9bb9450d11a652827da39533746bc6e5357

[2020-05-18 20:03] westonruter commented on #4740
Humm. That seems almost like a bug in AMP. There's no indication that clicking the `amp-video` element will cause it to load. It's not even keyboard-accessible. What's more is that it seems like clicking the `amp-video` should then cause the video to start playing immediately, rather than requiring a second click. I think this warrants an AMP issue.

However, in practice, such shortcodes with `pre

[2020-05-18 20:44] westonruter commented on #4735
Somehow this issue is caused by this rule:

[code]

This was added in #4421 to fix #4419:

https://github.com/ampproject/amp-wp/blob/2bfb9bb9450d11a652827da39533746bc6e5357c/includes/sanitizers/class-amp-core-theme-sanitizer.php#L778-L803

[2020-05-18 20:52] jwold commented on #4708
Sure thing!

[2020-05-18 21:29] jwold commented on #4707
Are you suggesting adding another step to the onboarding wizard to show the AMP iframe?

[2020-05-18 21:36] amedina commented on #3725
Tested this and is working. I am noticing a delay on the updating of the status of the errors upon an update, but the behavior of the PR holds.

[2020-05-18 21:45] amedina commented on #3726
QA passed.

[2020-05-18 21:47] amedina commented on #4606
@schlessera Please add QA/Testing criteria for this issue and associated PRs.

[2020-05-18 21:49] amedina commented on #4379
@schlessera Please include QA/Testing criteria.

[2020-05-18 21:53] amedina commented on #4216
This documentation covers aspects of the optimizer as a library, but it does not address the documentation needs for the optimizer being used inside the AMP plugin. We should address the former first, and the former should be ready once the optimizer library is actually ready for release independently of the AMP plugin. Let's create a separate issue to address this.

[2020-05-18 21:56] amedina opened #4743 "Create documentation for AMP Optimizer (inside the plugin)"
As a developer I would like to be in the know regarding the capabilities and benefits brought by the AMP optimizer library. Also, any configuration options available and how to calibrate the use of this plugin feature according to my needs,.

[2020-05-19 00:30] amedina commented on #4590
The tooltip is showing properly, but the styling of the buttons changed. The way they were styled before looked better (see screenshots at the beginning of this issue; and see attachments in this comment). Now the `Preview` and the `AMP Preview` look disconnected.

![Screen Shot 2020-05-18 at 5 28 51 PM](https://user-images.githubusercontent.com/506089/82271642-3a5d6a00-992d-11ea-8a1b-ade6971e9db8

[2020-05-19 00:39] westonruter commented on #4457
Closely related to #1895 which is for adding `preconnect` links for components used on the page. These links should only be done for components that are in the first viewport.

[2020-05-19 01:39] pierlon commented on #4609
**QA Testing instructions:**

1. Add a Custom HTML block with the following content:
[code]
2. On the AMP page, verify that the following CSS rule exists in the page source:
[code]
3. Verify that the non-AMP and AMP page are the same :
![image](https://user-images.githubusercontent.com/16200219/82274977-29cee300-9971-11ea-82a2-b9c10a7c4e38.png)

[2020-05-19 02:22] westonruter commented on #4707
Not necessarily. I meant this to be the final step, part of the one that you had prompting the user they were about to enter the Customizer. Instead, the last step of the wizard can include:

1. Iframe with AMP version of site
2. Link to exit wizard
3. Link to open AMP Customizer

[2020-05-19 02:24] westonruter commented on #4590
@amedina this is expected. The button is required to be disconnected in current versions of Gutenberg because the Preview dropdown component is not extendable.

[2020-05-19 02:25] pierlon commented on #4580
**QA testing instructions:**

1. Download, install, and activate the following gist plugin: https://gist.github.com/pierlon/cb3dc7e78ae99ba48e377d8256de5cb5
2. On the frontend of the site, the admin bar should be showing 8 validation errors:
    ![image](https://user-images.githubusercontent.com/134745/78631610-b0ac7e00-7851-11ea-9cd7-a67effc2c7be.png)
3. When clicking on the "Validate" link above

[2020-05-19 02:35] amedina commented on #4590
I see. It looks weird disconnected because the semantics of the `AMP` symbol is not conveyed as clearly.

Let's ship it and we will revise during UX review.

[2020-05-19 06:14] schlessera opened #4744 "Twentyfifteen: Sidebar has unexpected scrollbar"
## Bug Description

The sidebar in the `twentyfifteen` Core theme has an unexpected scrollbar in the sidebar.

## Expected Behaviour

The sidebar should just be integrated into the page and not scroll separately.

## Steps to reproduce

1. Install and activate the `twentyfifteen` theme
2. Make sure you have multiple widgets in the main sidebar to fill more than one scree.
3. Go to the AMP version

[2020-05-19 06:17] westonruter commented on #4744
This is expected, actually. The only way I could figure out how to emulate the theme's sidebar behavior in AMP was to use `position:sticky` with overflow scrolling.

[2020-05-19 06:51] schlessera commented on #4492
**QA passed**

- Widgets render correctly on the AMP version of the page.
- Video size is calculated correctly and is a pixel-perfect match in size to the non-AMP version (note that the player itself looks differently in terms of controls).
- No validation errors on the page.
- The original issue of producing an error because the widgets were unregistered is solved as well, the widgets can now be

[2020-05-19 07:37] schlessera commented on #4744
If you use `position: sticky; top: 32px` without any `max-height`, it's already closer to the original theme and doesn't add a scrollbar. The only difference is that it starts to scroll later than the original theme, but that's already an improvement over now.

With `position: sticky; bottom: x?` we could probably replicate the original behavior completely, but that would require a markup change,

[2020-05-19 07:39] schlessera commented on #4744
The original theme weirdly enough only uses the sticky on the largest breakpoint, but not on the intermediate one - which has the same overall layout.

[2020-05-19 09:01] schlessera opened #4745 "PHPStan is not automatically using the latest version to run its tests"
## Bug Description

We currently download a fixed version of PHPStan. As this is not being caught by Dependabot, it means that we're never really using the best possible version of PHPStan.

We should instead download the latest version at all times, and this will then properly update issues as PHPStan gets smarter with each release.

Note:
This will add the following new issues with the latest ve

[2020-05-19 13:23] schlessera commented on #4609
**QA Passed**

The class can be found in the source of the AMP page:

![Image 2020-05-19 at 3.22.14 PM.png](https://images.zenhubusercontent.com/57bd4612e40e5714b16dc08b/62085a07-4161-4c9a-82d6-1336e09acc4b)

Both non-AMP and AMP page look identical:

![Image 2020-05-19 at 3.21.51 PM.png](https://images.zenhubusercontent.com/57bd4612e40e5714b16dc08b/ecc60c45-e1cd-4b5f-8f5d-4f18309e775f)

[2020-05-19 13:27] schlessera commented on #4609
This also works correctly with the type of notation used in Atomic CSS (acss.io):

![Image 2020-05-19 at 3.26.45 PM.png](https://images.zenhubusercontent.com/57bd4612e40e5714b16dc08b/0053d24e-2a4a-4ba9-b788-710f64e669b7)

In the above screenshot, the second green box uses the following:
[code]

[2020-05-19 13:55] schlessera commented on #4580
**QA Failed!**

![#c5f015](https://via.placeholder.com/10/c5f015/000000?text=+) The validation errors are correctly announced in the admin bar:

![Image 2020-05-19 at 3.47.59 PM.png](https://images.zenhubusercontent.com/57bd4612e40e5714b16dc08b/452e2b50-65e6-4313-bc26-ae37dc0d4842)

![#c5f015](https://via.placeholder.com/10/c5f015/000000?text=+) The error message is correctly displayed in the admi

[2020-05-19 14:52] pierlon commented on #4448
**QA passed**

With the demo plugin given in the QA testing instructions above:

- No extraneous row actions on "Validated URLs" screen:
![image](https://user-images.githubusercontent.com/16200219/82341158-9680c680-99df-11ea-8b27-4dfb06fa6c8e.png)

- No extraneous actions on "Validated URL" screen:
![image](https://user-images.githubusercontent.com/16200219/82341544-19a21c80-99e0-11ea-86b0-9a373b3

[2020-05-19 16:00] pierlon commented on #4465
**QA passed:**

With the following markup on the AMP page:
[code]

- The AMP Validator only complains of dev mode being enabled:
![image](https://user-images.githubusercontent.com/16200219/82349408-92f23d00-99e9-11ea-94e6-8f15bc5970b3.png)

- The only validation error shown is for incomplete layout attributes not being specified:
![image](https://user-images.githubusercontent.com/16200219/82349497

[2020-05-19 17:42] westonruter commented on #4580
@schlessera I'm not seeing this. I see 8 validation errors in the admin bar and then 4 when looking at the validated URL screen.

![image](https://user-images.githubusercontent.com/134745/82359504-d3879180-99bc-11ea-9032-82329f74d086.png)

I'm not seeing the `font` validation errors.

Actually, I think the reason for this discrepancy is that Xdebug is outputting the `font` tags perhaps for you to

[2020-05-19 17:47] westonruter commented on #4744
OK, it's been a couple years since I worked on this (see #1074).

The code in question is:

https://github.com/ampproject/amp-wp/blob/b48aba3980239bd883c4623ece9bd227fa4d4b8e/includes/sanitizers/class-amp-core-theme-sanitizer.php#L1203-L1212

If your approach works better then I'm all for it!

[2020-05-19 23:06] westonruter commented on #4740
Humm, actually I'm not seeing the issue I described now. When I add a video block that has `preload=none` the result is:

![image](https://user-images.githubusercontent.com/134745/82386796-2b88bd00-99ea-11ea-950c-8fb1650f9836.png)

I get the same result when adding a video in a Classic block (which is a `video` shortcode).

[2020-05-19 23:12] pierlon commented on #4580
Yes, turning off `display_errors` does suppress the `font` validation errors. I'll open a PR for this.

[2020-05-20 01:07] pierlon opened #4747 "Suppress validation errors that may occur from fatal errors being displayed"
## Bug Description

While performing QA on #4580, @schlessera brought to light an issue with the number of validation errors that should be displayed when validating a page with fatal errors. It was found that the number of validation errors being reported for a page with fatal errors being displayed can differ, depending on the environment the plugin is in (see https://github.com/ampproject/amp-w

[2020-05-20 06:35] westonruter commented on #4580
Given that #4747 has been opened, I'm moving this issue to QA Passed.

[2020-05-20 19:34] westonruter commented on #4747
To reproduce the issue, I had to enable Xdebug and turn on the `html_errors` PHP setting.

[2020-05-20 20:25] westonruter opened #4750 "Script translations lack source attribution"
## Bug Description

Given a plugin that enqueues a script and adds script translations:

[code]

This results in `i18n.js` being enqeued from core, but the plugin is properly attributed. The `foo.js` file is also properly attributed to the plugin. The translations `script` however is not properly attributed:

![image](https://user-images.githubusercontent.com/134745/82493607-19b42200-9a9d-11ea-805

[2020-05-20 22:53] johnwatkins0 commented on #4718
Updated the issue description after an email discussion with Felix and Adam on the development of Site Kit. Based on their experience with that plugin it sounds like attempting to use JS packages  from core is more trouble than it's worth. I crossed out that section of the description.

[2020-05-20 23:12] westonruter opened #4751 "Indicate validation errors which occur on other URLs and warn when keeping them"
## Feature description

When an invalid script is being enqueued unconditionally on every template, every URL that is validated will have a validation error for that invalid markup being listed. When a user looks at the list of validation errors for a given URL, there is currently no indication of which errors are (potentially) unique to that URL and which are known to also occur on other URLs as

[2020-05-20 23:15] westonruter opened #4752 "Store revision history for validation error statuses"
## Feature description

When someone changes the status of a validation error, such as to keep some invalid markup, there is currently no history of this change being made. Therefore, some author who has access to developer tools could decide to keep some invalid markup that actually occurs on every page (see #4751), and the result would be turning off AMP for the entire site. (See #2673 for restr

[2020-05-21 02:25] westonruter opened #4753 "Normalize script contents that contain nonces"
## Feature description

A common source of validation errors is a script that is enqueued along with a call to `wp_localize_script()` which contains a nonce. For example:

[code]

This results in two validation errors:

![image](https://user-images.githubusercontent.com/134745/82514074-89d89d00-9ac9-11ea-8aa4-d080b685129a.png)

The validation error for the inline script, however, will continually

[2020-05-21 02:46] pierlon commented on #1864
@westonruter I think you're mistaken. If AMP has been disabled for a post with the `amp_skip_post` filter, the error message would be _"A plugin or theme has disabled AMP support."_.

In this case, the error message _"Your site does not allow AMP to be disabled."_ is shown when a plugin/theme forcibly set's a template as being supported or not via the [`amp_supportable_templates` filter](https://g

[2020-05-21 03:01] westonruter commented on #1864
Ah, ok.

Yes, as I don't think we'd be able to tell the difference between whether a theme or plugin is trying to prevent disabling.

In short, we'd be eliminating the `immutable` aspect of the supportable templates.

However, at the same time, the notices and the toggle here should only be exposed to users who have developer tools enabled. In other words, the notice could actually remain in place

[2020-05-21 03:03] westonruter commented on #2673
Furthermore, the “Enable AMP” checkbox should be gated behind whether developer tools are enabled, not just whether the user is an administrator. For more on this, see https://github.com/ampproject/amp-wp/issues/1864#issuecomment-631850402.

[2020-05-21 17:14] schlessera commented on #4752
Copied from Slack:

[2020-05-21 21:27] johnwatkins0 commented on #4718
@jwold Assigning this to you to take a crack at QA. Let me know if you run into difficulties with step 1. You won't need to change branches to test this, because it's been merged.

Don't spend too much time getting set up if you hit any roadblocks, because we can always look into setting up a QA server somewhere if your machine does not like doing these things, but do reach out for help if you get

[2020-05-21 22:27] jwold commented on #4718
John walked me through getting Docker setup on my computer and I was able to verify that this is working in QA ([screenshot](https://d.pr/i/RU6GbH))

[2020-05-21 22:31] westonruter opened #4754 "Embedding VideoPress video causes validation error"
## Bug Description

When embedding a VideoPress video such as https://videopress.com/v/kUJmAcSf in a VideoPress block, the result is a validation error:

![image](https://user-images.githubusercontent.com/134745/82612486-d5e21b00-9b77-11ea-9cdb-2b8bfaa1cd2b.png)

The fix for this was partially implemented in #3542 because WordPress.tv also uses VideoPress architecture. So it just needs to be exten

[2020-05-21 23:16] westonruter commented on #4718
Aside: @johnwatkins0 Could you outline the steps you went through to do this? We may want to add this to the plugin wiki for others to get set up as well.

[2020-05-22 00:09] johnwatkins0 commented on #4718
@westonruter The steps in https://github.com/ampproject/amp-wp/wiki/Engineering-Guidelines worked more or less as outlined. The main issue was Joshua did not have Composer installed, and the auto-install in `./bin/local-env/start.sh` failed silently:

![Screen Shot 2020-05-21 at 15 04 58](https://user-images.githubusercontent.com/9020968/82617536-fb7e1d00-9b95-11ea-9b32-492f69549389.png)

So I wal

[2020-05-22 00:19] johnwatkins0 commented on #4718
These are the Composer steps we took:

[code]
[source](https://getcomposer.org/download/)

Then this:
[code]

And `which composer` to confirm.

[2020-05-22 02:45] schlessera opened #4756 "Allow single-line docblocks for typehints in PHPCS"
## Feature description
Right now, when we need to add a type-hinting docblock to the code for the IDE or one of the code quality tools to better interpret our code, PHPCS forces us to use multi-line docblocks with a description:
[code]

This usually produces a lot of noise that is unnecessary.

PHPCS should be configured to allow for single-line docblocks that we can use for type-hinting:
[code]

[2020-05-22 02:57] schlessera commented on #4745
Resolved via #4738

[2020-05-22 03:22] westonruter commented on #4718
Composer and NPM should be part of the Docker container(s) to make this easier, no?

[2020-05-22 03:23] schlessera commented on #4444
I'm all but finished with setting up Lighthouse in a GitHub Action, and I've set up a Lighthouse CI Server on a small GCP K8s stack.

For the Lighthouse CI server, it would be best to have a domain to refer to it, instead of an IP address, in case we need to change something about the GCP stack. Could we maybe have a subdomain on `amp-wp.org` to redirect to it, like `lighthouse.amp-wp.org` or `lhc

[2020-05-22 03:56] johnwatkins0 commented on #4718
Anyone working with the code locally will need NPM and Composer on their system anyway to build the plugin to run in the Docker container. Joshua is an edge case because he never had a reason to install Composer until I asked him to QA this.

But I like the idea of alternative "QA mode" steps for local setup, where it's assumed there won't be any code edits. In that mode maybe a non-coding contrib

[2020-05-22 04:21] johnwatkins0 commented on #4718
Unless all developer actions could be performed inside the docker container 🤔

[2020-05-22 04:23] schlessera commented on #4718
@pierlon is currently looking at automating ZIP builds per PR and letting the plugin switch to arbitrary release channels.

Once that is in, Joshua will be able to switch to a given branch from within the admin dashboard instead, and never deal with the console or any build tools.

[2020-05-22 04:25] johnwatkins0 commented on #4718
Yes, that is an amazing idea.

[2020-05-22 05:37] westonruter commented on #4718
Exactly. This actually is what I'm doing via Lando in the [wordpressdev](https://github.com/GoogleChromeLabs/wordpressdev) environment. Lando is based on Docker. The main thing that is not ideal is the slower performance of running things in the container. But it's worth it for the benefits of containerization for me. But I was curious if you the Docker setup had that in an alternative way.

[2020-05-22 05:59] westonruter opened #4757 "Tumblr embeds cause validation errors and fail to embed"
## Bug Description

When embedding a Tumblr post like https://teded.tumblr.com/post/184736320764/how-do-vaccines-work

I get a validation error for an invalid script:

![image](https://user-images.githubusercontent.com/134745/82635135-676f7e00-9bb4-11ea-9c32-57f2057855d3.png)

And the post fails to embed:

![image](https://user-images.githubusercontent.com/134745/82635200-8bcb5a80-9bb4-11ea-97b5-5

[2020-05-22 05:59] westonruter commented on #4757
@pierlon I'm assuming this should be handled as part of #4650.

[2020-05-22 06:28] westonruter commented on #4444
Yes, that makes sense to me. @amedina currently has access to the DNS for amp-wp.org, so he can add the desired CNAME.

[2020-05-22 11:35] itowhid06 opened #4758 "Post with Amazon Kindle block producing validation error"
## Bug Description

In the WordPress Block Editor, if the **Amazon Kindle** block is added then a validation error occurs.

As there is a `type="text/html"` attribute-value combination present in the iframe generated from the **Amazon Kindle** embed and `type` is not a standard `<iframe>` attribute, that is why the validation error occurs. Though `type` is a non-standard attribute, it is fairly co

[2020-05-22 13:54] pierlon commented on #4757
Yes it is, see 21ae657d0c3228051f9138941da32759c38dd387.

[2020-05-22 17:12] DarrenHuangTW commented on #908
Doing research and found this thread :-)

@koconder I'm not seeing AMP plugin supporting GTM installation yet. Can't see updates on https://github.com/duracelltomi/gtm4wp/pull/63 either. Is this still something in the backlog?

@glenngabe I have an easy hack around - put GTM snippet within a custom HTML widget and it works well so far! :-)

[2020-05-22 19:41] johnwatkins0 commented on #4700
I've updated the implementation brief with a few details about what I'm working on for this. I'll fill in the QA steps when I create the PR.

[2020-05-22 21:27] amedina commented on #908
Notice that Google Tag Manager is supported by Site Kit in a fully AMP-compatible way. Check: https://sitekit.withgoogle.com/

[2020-05-23 19:48] westonruter commented on #2673
The mechanism for disabling dev tools is being explored in #4644, with the code likely being split out from that prototype branch.

[2020-05-23 20:34] westonruter commented on #4479
Additional requirements:

1. Add a section the admin screen which has a checkbox enable mobile redirection. This section will only be displayed when the site is in Transitional or Reader mode.
2. When a user is automatically redirected to the AMP version (or lands on the AMP version), there needs to be a way to navigate back to the non-AMP version. This can be implemented by default via a section

[2020-05-24 17:37] pierlon opened #4763 "Global attributes on meta[name=viewport] tag are removed when sanitized"
## Bug Description

When a `meta[name=viewport]` tag is sanitized by the meta sanitizer, only the `name` and `content` attributes are kept, and the other attributes removed. For example, a meta tag such as:

[code]
when sanitized, becomes:

[code]

This happens because the `AMP_Meta_Sanitizer::ensure_viewport_is_present()` method collects all viewport settings from all the  `meta[name=viewport]` t

[2020-05-24 19:27] mainframeai opened #4764 "Request for Expert Mode. Or at least a more granular/controllable Tree-Shaking"
## Options – Not decisions

I have recently encountered the problem of being limited by the tree-shaking mechanisms of the amp-plugin.

It seems to like to remove some more complicated selectors, which I happen to need.
I assume that the Tree-shaker might might not exactly get that I need those classes and definitions.

Nevertheless: What I personally would prefer, would be a slightly more granula

[2020-05-24 19:33] westonruter commented on #4764
Please share the selectors specifically that are getting tree-shaken undesirably, along with the corresponding markup. It is possible to exempt certain selectors from tree shaking via filter.

More granular in what way?

[2020-05-24 20:05] mainframeai commented on #4764
[code]

I was using amp-bind with states for a "very customized" accordion-like feature-widget and the system threw out my selectors entirely. :) That were some of those. :)

Which is a pity since on the other hand the tree-shaker system performed admirably on the Wp-Forms plugin. :)

Granularity:

I would love to prevent AMPlification on already AMP-centric components which were done via a custom

[2020-05-24 20:07] mainframeai commented on #4764
[code]

[2020-05-24 20:17] westonruter commented on #4764
Your CSS is using a class selector `.chide` but there is no such `class` in the HTML.

I'm not sure I understand. If you're already using AMP-centric (AMP-compatible) components, then “AMPification” would be just passing through the markup without making changes. If you are getting errors, then apparently you're not writing valid AMP. What errors are being reported? Are they related to using “tran

[2020-05-24 20:36] mainframeai commented on #4764
Hey Weston… Thanks a lot for taking time on sunday.

Yes … this class gets added dynamically… I didn't specify it further, as I have been using it in a more general way. I forgot about that though later (#braindead) ....

But how would I get those selectors into my AMP CSS … ?
The initial state is just that every Div is presented as shown… :)

This is basically  non existent anymore… I had some sl

[2020-05-24 20:43] westonruter commented on #4764
I don't understand. How are you intending to add the classes dynamically? You can't use JS for that, but you can use the AMP `toggleClass` action, or you can use amp-bind. When doing so, the AMP plugin will automatically detect the class names being used and account for them when tree shaking.

I suggest creating a standalone example of what you are intending to do, outside of WordPress. For examp

[2020-05-24 20:43] #4764 closed, assigned to nobody

[2020-05-24 20:54] johnwatkins0 commented on #4702
Related to #4478 and #4560.

[2020-05-25 03:51] johnwatkins0 commented on #4702
@westonruter Is there any reason we shouldn't make the following request within the plugin to get Reader-friendly themes? https://amp-wp.org/wp-json/wp/v2/ecosystem?ecosystem_types=245&_fields=id,link,title,content,featured_media,meta&per_page=99

I'd like to do one of:

1. Within a REST endpoint in the plugin, fetch that data from amp-wp.org, fetch the featured media, clean up the data a bit, and

[2020-05-25 04:20] pierlon opened #4766 "Generate a built plugin for PRs, develop, and master branch"
## Feature description

It would be nice if we could have a generated build for the `develop` and `master` branches, along with PRs. That would allow for easier testing of changes, and should enhance the QA process.

[2020-05-25 04:23] schlessera commented on #4766
As a side effect of https://github.com/ampproject/amp-wp/pull/4761, I'm already building a release ZIP for each PR and commit.

Once that PR is merged, you'll have access to these artifacts for 90 days per commit.

I'm also looking into surfacing it via an updating comment on the corresponding PR right now.

[2020-05-25 04:24] schlessera commented on #4766
For the `develop` and `master` branches, where could we best surface the links? Just post them to `#amp-plugin-git` on Slack?

[2020-05-25 04:36] pierlon commented on #4766
The GitHub actions I've been working on stores the built plugin as an artifact and also in the repository's wiki, which [Site Kit also does](https://github.com/google/site-kit-wp/blob/0e01f4536dcaf077f9b77f60c46f1a2b2273d5dc/.github/workflows/build-pr.yml#L62-L87), for example.

That allows us to craft a URL to the plugin build with only the branch name or PR number given, and requires no call to

[2020-05-25 04:42] pierlon opened #4767 "Create a plugin to allow for easy switching of plugin builds"
Once plugin builds for branches and PRs are possible (see #4766), we should take advantage of this novelty by creating a separate plugin to allow for easy switching between versions of the plugin. This would enhance the QA process, for example, as one would no longer have to setup a developer environment to build the plugin.

[2020-05-25 04:53] schlessera commented on #4766
Sounds good.

I don't know what state your workflow is in. Should we consolidate what we both have worked on right away, or should I just have my current version merged and you'll adapt as needed?

[2020-05-25 05:01] pierlon commented on #4766
The latter sounds like a better option. The only thing I see missing from yours is generating a production build of the plugin and deploying the built zips to the wiki. I can add both of those things if you create a separate PR with your action.

[2020-05-25 05:51] schlessera commented on #4766
My PR is all but ready, it just requires a token to be added as a secret (I don't have access to the repo settings).

I guess it can be merged pretty quickly, so no need for a separate PR, unless @westonruter sees a major issue with the approach.

[2020-05-25 05:52] schlessera commented on #4766
Hmm, given that the test site is not properly populated, a separate PR is probably better anyway. I'll split them up.

[2020-05-26 06:06] westonruter commented on #4479
In addition to point 2 above:

7. When a mobile user manually navigates to the `noamp` version, there should be a link displayed for mobile visitors to resume navigating the mobile version of the site (the AMP version), where available. For context, see how GitHub offers the link to the desktop version (including a means of making it permanent, which I don't think we necessarily need), and then ho

[2020-05-26 06:51] westonruter commented on #4479
Here's how this could look:

Mobile Twenty Twenty | Mobile Classic | Desktop Twenty Twenty
---------------|--------|---------
![image](https://user-images.githubusercontent.com/134745/82866813-7882fc80-9ede-11ea-8976-2a9cc47f4f62.png) | ![image](https://user-images.githubusercontent.com/134745/82866687-42457d00-9ede-11ea-938b-7c76a58d1f73.png) | ![image](https://user-images.githubusercontent.com/1

[2020-05-26 16:19] westonruter commented on #2673
Something else to consider is allowing users who have dev-tools turned off to still access the validated URL screen but in read-only mode.

[2020-05-26 16:23] westonruter commented on #4684
As part of this, I think we should perhaps change the order of the template modes. The Reader mode should perhaps come first since it's the mode that users will most often have success with, and it it is selected by default anyway.

[2020-05-26 17:32] johnwatkins0 commented on #4702
I have updated the implementation brief on this issue covering discussions today, including the above question.

[2020-05-26 20:46] westonruter opened #4774 "Gallery shortcodes unexpectedly show as carousels by default in Transitional/Standard mode"
## Bug Description

When a site has galleries in Classic blocks, these are always getting displayed as carousels unless the author goes into the code editor and adds `amp-carousel=false` to the `[gallery]` shortcodes. This was done back at a time before the block editor existed and at a time in which the gallery block styles couldn't be rendered in Reader mode safely. Both of these are no longer t

[2020-05-26 20:54] westonruter commented on #4774
Here's a workaround plugin to prevent `gallery` shortcodes from rendering as carousels by default: https://gist.github.com/westonruter/98e2e6559389840111b430ab4db2075d

[2020-05-27 05:19] westonruter opened #4779 "Garbage-collect validated URL posts which have all validation errors reviewed, and remove empty validation error terms"
## Feature description

When a URL is validated, an `amp_validated_url` post type instance is created to capture the results of validating the page for AMP validation issues. Other data is stored in postmeta as well, including the queried object, the stylesheets, and details for any validation error that occured. At present, these validated URLs remain in perpetuity until a user manually selects v

[2020-05-27 05:27] westonruter commented on #4779
Note a related issue for garbage-collecting `amp_validation_error` taxonomy terms that don't have any associated `amp_validated_url` posts (i.e. the terms which are empty). This was originally suggested in #1415 but I decided against it because it can mask something important about the validation errors being reported, namely ones which have variable script content in them (e.g. nonces, per #4753)

[2020-05-27 05:51] westonruter commented on #4766
This still makes me feel somewhat uncomfortable, storing ZIPs in the wiki. That just feels like abuse or at least a hack.

As an alternative to this, could we create a special “Pre-release” release where the ZIPs are uploaded to as assets? This would give them predictable filenames, for example if the tag is `branches` then the URL for a `update/foo` branch could perhaps be `https://github.com/amp

[2020-05-27 06:00] westonruter commented on #4766
In other words, Git is not really meant for storing binary files. The size of the Wiki repo is just going to balloon as more and more ZIP objects are added to its history, each new push to a PR resulting in a Wiki commit adding another 1+ megabytes to the repo size.

[2020-05-27 06:04] westonruter commented on #4702
Also, based on chatting today, we may need to supply mobile viewport screenshots of the themes we provide in Reader mode. That adds weight to the need to draw from a curated list and not just pull down from an endpoint. We'll not be able to show a list of themes based on theme slugs alone, as we'll also need to provide the mobile viewport screenshot. True these screenshots could be served by amp-w

[2020-05-27 06:07] westonruter commented on #4702
For themes that are _not_ already installed, shouldn't there rather be an `available` field? For themes which are not installed but where a site allows them to be installed, then it could be `true` as well. Then there could be another field for `installed`. When `installed` and `available` are both false, then the theme would need to be disabled from being selected.

[2020-05-27 13:49] johnwatkins0 commented on #4702
@jwold Is working on the screenshots. Joshua, let me know if you need help gathering a list of the themes that are on wordpress.org. Note that we also need a screenshot of the classic theme.

[2020-05-27 13:58] johnwatkins0 commented on #4702
With the current approach, the user isn't going to need to know whether the theme has been installed already. When they reach the last step, the plugin will determine whether it needs to be downloaded or not, which will all happen under the hood.

Unless there's a reason we should surface to the user that they don't have the theme installed, like text to the effect of "This theme will be installed

[2020-05-27 15:03] amedina commented on #4766
I agree. I also feel the wiki path is hacky.

[2020-05-27 17:51] jwold commented on #4702
So we have a potential issue. When you go to preview a theme, the demo content shown is simply a list of all the elements in the theme, it is not a "designed" version of the theme.

So, a mobile preview of the theme is nothing like the screenshot shared. We'd need to recreate each theme to look somewhat decent on mobile. That's a bit of a lift.

<img width="1109" alt="Screen Shot on 2020-05-27 at

[2020-05-27 17:55] westonruter commented on #4702
To gather mobile screenshots, you'd have to activate the theme and perhaps reset some settings so the default header image is used, or else supply a header image. So yes, there's a bit of work to get the theme configured for a good mobile screenshot, but not more than a few minutes per theme I'd think.

[2020-05-27 19:19] jwold commented on #4702
Just tested out the activation theme. There were a few weird settings with this one (some stuff in widgets, some stuff in Customizer), as well as needing to hunt down where the original image was, and re-writing the headlines/taglines, etc. Took 30 minutes, but I'm mostly happy with the results.

<img width="1051" alt="Screen Shot 2020-05-27 at 12 19 23 PM" src="https://user-images.githubuserconte

[2020-05-27 19:35] johnwatkins0 commented on #4702
@jwold In case it's useful, here's are the themes I'm working with (their slugs and parent slugs).

[code]

[2020-05-27 21:48] westonruter commented on #4702
Per our conversation over chat, only the core themes should be included. So that is specifically this list of themes:

* twentytwenty
* twentynineteen
* twentyseventeen
* twentysixteen
* twentyfifteen
* twentyfourteen
* twentythirteen
* twentytwelve
* twentyeleven

This does not include twentyten since it is not responsive.

[2020-05-27 23:59] westonruter opened #4783 "Filtering Schema.org metadata to empty value results in empty JSON added to page"
## Bug Description

In a [support topic](https://wordpress.org/support/topic/remove-schema-markup/) a user needed to disable the Schema.org metadata from being added to the page. I was going to advise using this:

[code]

However, this results in this being added to the page:

[code]

So I had to instead do this which is much more verbose:

[code]

## Expected Behaviour

If the Schema.org metadata

[2020-05-28 06:26] pierlon opened #4784 "Description for AMP panel in Customizer is outdated"
The description for the AMP panel in the Customizer is outdated and needs to be updated. Currently, it is:

https://github.com/ampproject/amp-wp/blob/b4d13f255e33d9935343067970fa6e1c2f01a902/includes/admin/class-amp-customizer.php#L97

And a screenshot of the description:

![image](https://user-images.githubusercontent.com/16200219/83445273-37d63680-a43c-11ea-8bd9-2dd9b4e82908.png)
---------------

[2020-05-28 09:19] pierlon commented on #4766
It is a bit of a hack indeed. For Site Kit, they've automated removing the assets stored in the wiki once the PR has closed.

That sounds like a much better solution. If it is possible it would be more than welcome.

[2020-05-28 22:43] westonruter opened #4795 "Wizard Step: Theme compatibility scanning"
## Feature description

Alongside plugin compatibility scanning (#4719), scanning is also needed for the active theme. In particular, if the theme is not generating validation errors, then Standard or Transitional modes may be good choices. If the theme is generating validation errors, however, then Reader mode may be the best bet especially if the user does not have technical ability to fix the i

[2020-05-29 05:46] askmeoffers opened #4797 "Unused Java Script Issue on Page Speed Tool"
Hi Team ,

Thanks  in advance for building and working on such a great AMP framework and helping us with easy to use wordpress plugin .

Recently I noticed that all AMP java scripts are being flagged as unused for our oyo coupons stores and all other stores as well

https://askmeoffers.com/coupon-deal-offer-promo-store/oyorooms-com/

on google page speed tool
https://developers.google.com/speed/pa

[2020-05-29 06:20] westonruter commented on #4797
Hello, this would be a question for the AMP core project. Please file your issue upstream: https://github.com/ampproject/amphtml/issues

[2020-05-29 06:20] #4797 closed, assigned to nobody

[2020-05-29 08:12] schlessera opened #4798 "Failing tests in `ampproject/optimizer` library"
## Bug Description

The tests in the `ampproject/optimizer` are currently failing due to the following recently merged PR in the `ampproject/amp-toolbox` package:

https://github.com/ampproject/amp-toolbox/pull/763

Link to failing build: https://travis-ci.org/github/ampproject/amp-wp/builds/692440360

The failures are due to the ID generation not using the same prefix and indexing scheme.

## Exp

[2020-05-29 08:43] askmeoffers commented on #4797
Hi Weston ,

Thanks for pointing this out.

But that team never reply to any tickets

Thanks

[2020-05-29 21:46] westonruter commented on #4797
Something which should help with unused JS is this issue which will split the scripts into modern JS and then legacy JS that includes polyfills. See https://github.com/ampproject/amphtml/issues/28310.

[2020-05-29 22:39] johnwatkins0 opened #4801 "Setup Wizard: Reader theme status/availability variations"
## Feature description

Breaking this out from #4702 because the PR for that issue (#4800) is already huge.

#4800 implements a screen that's going to look something like this (excuse the placeholders):

<img width="1325" alt="Screen Shot 2020-05-29 at 5 21 03 PM" src="https://user-images.githubusercontent.com/9020968/83310204-dc544080-a1d0-11ea-9e0b-1add47884960.png">

Currently the user can sele

[2020-05-29 22:41] johnwatkins0 commented on #4801
@jwold @westonruter @amedina I created this as a follow-up to #4702. It will be small engineering-wise, but I wanted to get any opinions on the approach and maybe have our solution reflected in the comps.

[2020-05-29 23:11] johnwatkins0 commented on #4801
@westonruter Re: your comment on #4702:

This is one status I might be missing so far. I'm not sure I've encountered a scenario where a theme is installed but not available. Can you elaborate on when this might occur? I'll need to work out the logic on the backend side, and then it does sound like we'd want these to be disabled.

[2020-06-01 04:07] westonruter commented on #4801
@johnwatkins0 By `available` I meant what you call, more precisely,`can_install`. I think I may have missed a “not” in that first sentence.

Something that comes to mind is that instead of `is_installed` and `can_install` perhaps we should combine these into a single non-boolean field called `status` (for example). It could have three values (for example):

* `installed`: already installed, so we

[2020-06-01 14:33] johnwatkins0 commented on #4801
@jwold On the technical side, I'm going to make the update similar to how Weston suggested above. For the UI, I think the main thing we need is disabling the themes that are not installable. We may also want to handle the case where one of the reader themes is the active theme on the site.

[2020-06-01 15:19] #4718 closed, assigned to nobody

[2020-06-01 16:45] amedina commented on #4784
@pierlon Please add a screenshot depicting the message to be update.

[2020-06-01 19:16] pierlon commented on #4784
@amedina I've added a screenshot to the original comment as requested.

[2020-06-02 05:00] westonruter opened #4804 "Header image fails to load in Customizer for Twenty Seventeen theme in Standard mode"
## Bug Description

When the Twenty Seventeen theme is active and the AMP plugin is in Standard template mode, opening the Customizer shows a missing header image:

![image](https://user-images.githubusercontent.com/134745/83481575-087ef400-a453-11ea-8b5e-c5f76b9f9af7.png)

Contrast this with Transitional mode when the AMP runtime is not being loaded in the Customizer:

![image](https://user-image

[2020-06-02 06:58] #4798 closed, assigned to nobody

[2020-06-02 15:39] #4654 closed, assigned to pierlon

[2020-06-02 15:39] #4659 closed, assigned to nobody

[2020-06-02 15:39] #4666 closed, assigned to schlessera

[2020-06-02 15:39] #4692 closed, assigned to pierlon

[2020-06-02 15:39] #4747 closed, assigned to nobody

[2020-06-02 15:39] #4758 closed, assigned to westonruter

[2020-06-02 15:39] #3725 closed

[2020-06-02 15:39] #3726 closed

[2020-06-02 15:39] #4377 closed

[2020-06-02 15:39] #4379 closed

[2020-06-02 15:39] #4380 closed

[2020-06-02 15:39] #4465 closed

[2020-06-02 15:39] #4590 closed, assigned to amedina

[2020-06-02 15:39] #4606 closed, assigned to schlessera

[2020-06-02 15:39] #4448 closed

[2020-06-02 15:39] #4616 closed, assigned to westonruter

[2020-06-02 15:39] #4628 closed, assigned to pierlon

[2020-06-02 15:39] #4633 closed, assigned to nobody

[2020-06-02 15:39] #4658 closed, assigned to nobody

[2020-06-02 15:39] #4678 closed, assigned to nobody

[2020-06-02 15:39] #4216 closed

[2020-06-02 15:39] #4525 closed, assigned to schlessera

[2020-06-02 15:39] #4580 closed, assigned to nobody

[2020-06-02 15:39] #4609 closed, assigned to nobody

[2020-06-02 15:39] #4656 closed, assigned to amedina

[2020-06-02 15:39] #4667 closed, assigned to nobody

[2020-06-02 15:39] #4492 closed

[2020-06-02 15:39] #4612 closed, assigned to westonruter

[2020-06-02 15:39] #4745 closed, assigned to nobody

[2020-06-02 16:44] johnwatkins0 commented on #4704
@jwold @westonruter @amedina

Question that has come up around the admin notice. Currently the AMP plugin has this notice that shows on the plugin options screen until the user dismisses it:

<img width="860" alt="Screen Shot 2020-06-02 at 11 38 17 AM" src="https://user-images.githubusercontent.com/9020968/83546551-76b0ce80-a4c6-11ea-97bf-f36abc3d5868.png">

I think our options for this new notice

[2020-06-02 17:47] westonruter opened #4805 "Reviewed status not indicated on the validation error details screen"
## Feature description

When a validation error is unreviewed, it has the “unmoderated” styling in the error index:

![image](https://user-images.githubusercontent.com/134745/83551020-9a6f1700-a4bc-11ea-842c-8d63cfb94890.png)

However, when viewing the validation error details screen, the reviewed status is not indicated anywhere:

![image](https://user-images.githubusercontent.com/134745/83551072

[2020-06-02 18:50] #4754 closed, assigned to pierlon

[2020-06-02 19:31] #4439 closed

[2020-06-02 19:55] westonruter commented on #4470
Update: This is an anti-pattern which should not be used! See https://github.com/ampproject/amphtml/issues/21912#issuecomment-617995565

The amp-img docs that used it as an example has been removed: https://github.com/ampproject/amphtml/pull/28655

[2020-06-02 20:03] westonruter commented on #4573
Closing in favor of removing the Exit Reader Mode link entirely in #4796.

[2020-06-02 20:03] #4573 closed, assigned to nobody

[2020-06-02 21:59] jwold commented on #4801
@johnwatkins0 here's the treatment I'm thinking, would love feedback:

![4801](https://user-images.githubusercontent.com/3411173/83574012-62c69600-a4e1-11ea-947d-20db9ba35f1c.png)

1. The active theme displays (if it's one on the list), but has a blue notice that it's the main theme, and has no radio button.

2. The selected state is a selected radio button and an outline an the image (I saw you'v

[2020-06-02 22:14] westonruter commented on #4801
The theme cards somewhat lack visual separation. I think there should be borders around the entire theme card, with a blue color treatment for the selected theme. There may not even need to be a radio button displayed. In other words, each theme card can be considered a button. Although perhaps that would cause problems with the Learn More link.

As opposed to having the same warning message repea

[2020-06-02 23:04] johnwatkins0 commented on #4707
Mentioned on Slack:

This screen should include a list of "what to do next" items (Customizer, etc) along with recommendations for additional enhancements that go well with the AMP plugin.

[2020-06-02 23:10] #4700 closed, assigned to nobody

[2020-06-03 19:02] maharrx commented on #1356
@westonruter the plugin does not work for me. I get following error:

`xhr-impl.js:87 POST https://minklashbarny.com/passages/contact/?_wp_amp_action_xhr_converted=1&__amp_source_origin=https%3A%2F%2Fminklashbarny.com`

`[amp-form] Form submission failed: Error: HTTP error 406​​​
    at bb (https://cdn.ampproject.org/v0.js:29:169)
    at Ya.f.createError (https://cdn.ampproject.org/v0.js:24:149)

[2020-06-03 19:14] westonruter commented on #1356
@rajmdtu Try navigating to https://minklashbarny.com/passages/contact/?_wp_amp_action_xhr_converted=1&__amp_source_origin=https%3A%2F%2Fminklashbarny.com

Notice the error message:

You need to adjust the ModSecurity rules to allow the `__amp_source_origin` query parameter. This has come up before:

* https://wordpress.org/support/topic/your-submission-failed-the-server-responded-with-code-2/
* ht

[2020-06-03 19:25] amedina commented on #4801
Following up here in case I am missing something :) I liked the mobile
frame that Joshua showed today, and agree with Weston on the need of a
"card-like" layout of the theme components.

+1 to having the warning message abstracted out (e.g. a single message)

+1 on omitting the theme the desktop theme from the Reader mode theme list.
Once the user is here we have determined with certainty that Rea

[2020-06-03 19:39] maharrx commented on #1356
Thank you for the quick response.
And Sorry for the [duplicate](https://gist.github.com/westonruter/3501016b0d44af45d878067b1856e023#gistcomment-3328657) (which I deleted now).

[2020-06-04 02:55] jwold commented on #4707
We discussed today trying a `getting started` module on the settings page once they exit the wizard. This could take the place of this recommendation.

[2020-06-04 02:56] jwold commented on #4801
I think we've captured these suggestions. Thanks!

[2020-06-04 15:49] laurelfulford opened #4810 "Embed Blocks (YouTube, Vimeo): Extra space on top"
## Bug Description

If you embed a YouTube, Vimeo etc. block, it has a large gap at the top when "Resize for smaller devices" is turned on.

It looks like this was previously fixed in https://github.com/ampproject/amp-wp/pull/1683; best I can tell, the issue is that similar styles are now attached to `wp-has-aspect-ratio` class, [as of Gutenberg 8.2](https://github.com/WordPress/gutenberg/pull/215

[2020-06-04 16:29] johnwatkins0 opened #4811 "Setup Wizard: Visual/style polish"
## Feature description

I'm creating this issue to track overall CSS/style around the setup wizard UI. This will allow us to keep moving forward with functionality while visual design is in flux.

Current work for this issue:

- Bringing design more in line with amp.dev while keeping some continuity with the WP admin
- Visual improvements to the Reader theme selection screen

## Acceptance criteri

[2020-06-04 16:38] jwold commented on #4704
I like this direction. Exploring it now in design.

[2020-06-04 19:47] johnwatkins0 commented on #4720
Closing this, as it was decided we wouldn't need this screen.

[2020-06-04 19:47] #4720 closed, assigned to nobody

[2020-06-05 01:15] johnwatkins0 opened #4812 "Setup Wizard: Error messaging"
## Feature description

When an unrecoverable error occurs somewhere in the setup wizard -- particularly if the device loses connectivity between the start and end of the process -- further advancement through the wizard should be prevented, and the user should see an error message informing them of the issue.

## Acceptance criteria

* User doesn't see cryptic error messages
* Error messages are

[2020-06-05 19:52] westonruter commented on #4479
An interesting alternative approach has been taken by @selul as [mentioned](https://wordpress.org/support/topic/great-perfomance/#post-12942287) on a the forums:

This is an interesting approach. If a site opts-in to PHP-based mobile redirection, should we actually switch to serving the AMP version instead of redirecting to the AMP version?

I followed up on the forum as follows:

[2020-06-05 20:40] johnwatkins0 commented on #4705
@westonruter Do you think the "Are you technical?" question in the setup wizard can tie directly into whether developer tools are enabled/disabled? So "Yes, I'm technical" would enable them, and "No, not technical" would disable them. Do you know if there's an in-progress branch somewhere implementing this option? I assume it would just be a `developer_tools_enabled` boolean, correct?

[2020-06-05 21:10] westonruter commented on #4705
The dev tools enabled option is in the Reader themes prototype PR (#4644), but it needs to be revisited. In particular, the dev tools option needs to not be an option at all, but rather something that is stored in user meta. It needs to be a user-level preference. But yes, the technical question should be linked to this user preference. If you want to implement support for that user preference ind

[2020-06-05 22:28] pierlon commented on #4479
I think that's a highly opinionated approach that is best left up to the user to implement. The issue here is that the canonical URL could be AMP or non-AMP, depending on the user-agent; some people would be for it, some won't. Our current implementation of mobile redirection would serve as a solution for the majority of users, I believe.

---

@westonruter Do you mean redirecting from `/?amp` to

[2020-06-05 22:32] westonruter commented on #4479
Yes, that's what I meant. Corrected.

[2020-06-06 01:12] westonruter commented on #4479
Regardless, we'll need to make sure that the response header `Vary: User-Agent` added to #4796 when `amp_redirect_via_js` is filtered to be `false`, as redirects can be cached.

But what would the practical difference be (from a user perspective) between redirection and dynamic serving ? If a mobile user gets redirected from `/` to `/?amp`? If the user tries going to `/` manually they'll still get

[2020-06-06 01:13] westonruter commented on #4479
Nevertheless, I wonder if redirecting mobile users to the AMP version will cause problems for crawlers who are attempting to access the `canonical` URL?

[2020-06-06 04:40] westonruter commented on #4479
Aside: When the AMP Cache requests an AMP page, the `User-Agent` is currently:

[code]

[2020-06-06 10:23] selul commented on #4479
@westonruter Thanks for your thorough feedback!

I'm following up on this, not sure if this helps,  for themeisle.com/blog we have mobile-first indexing and use this approach of serving AMP to the mobile user on `wp_is_mobile` and Google manage to serve the page as AMP.

For codeinwp.com previously we have used the same mechanism but we have desktop-first indexing for this site and Google still ma

[2020-06-07 00:20] mmprep opened #4815 "Odnoklassniki"
Friends,

it seems that in order for you to somehow move to correct bugs I need to remind you of them repeatedly.

I have already contacted your technical support service: the button to share within Odnoklassniki does not work.
Click and see for yourself. It is easy.

Thank you.

[2020-06-07 00:25] mmprep opened #4816 "Ads after X paragraphs"
Dear developers,

how about adding support for displaying ads after EACH X paragraphs?

That would be great.

Thank you.

[2020-06-07 02:56] westonruter commented on #4816
The AMP plugin does not put ads into pages. This is the responsibility of some other plugin.

[2020-06-07 02:56] #4816 closed, assigned to nobody

[2020-06-07 02:57] westonruter commented on #4815
The AMP plugin has no social sharing functionality. It integrates with other plugins that provide that functionality, like Jetpack. You'll need to reach out to the plugin (or theme) that adds that button to the page.

[2020-06-07 02:57] #4815 closed, assigned to nobody

[2020-06-07 05:19] westonruter commented on #4479
The three approaches to supporting mobile devices are documented in the [Choose a mobile configuration](https://developers.google.com/search/mobile-sites/mobile-seo) guide:

1. [Responsive Web Design](https://developers.google.com/search/mobile-sites/mobile-seo/responsive-design), which corresponds to the Standard mode.
2. [Dynamic Serving](https://developers.google.com/search/mobile-sites/mobile-

[2020-06-07 06:41] shabdghosh opened #4819 "Error in required structured data element"
Hello,

When I test my AMP pages with the Google testing tool, an error is return:
https://search.google.com/structured-data/testing-tool?hl=en#url=https%3A%2F%2Fshabdghosh.com%2Fmadhya-pradesh%2Fjabalpur%2F%3Famp

It also means my AMP pages are not valid in the Google Sear Console.

A required structured data is missing. How can I fix that issue ?

[2020-06-07 07:33] westonruter commented on #4819
The `image` field is `false`:

![image](https://user-images.githubusercontent.com/134745/83962872-161eea00-a856-11ea-9ec2-3d7962903f02.png)

Nevertheless, I don't believe this is coming from the AMP plugin since the issue is also present in the non-AMP page: https://shabdghosh.com/madhya-pradesh/jabalpur/

See rest results: https://search.google.com/structured-data/testing-tool?hl=en#url=https%3A%

[2020-06-07 07:33] #4819 closed, assigned to nobody

[2020-06-08 18:09] jwold opened #4822 "During the onboarding wizard screenshots of mobile websites should animate when choosing a reader theme"
## Feature description

Currently we have a list of reader themes to choose from during the onboarding process. The screenshots are mobile, and are framed inside a mobile device graphical container.

We'd like to explore the lift to animate the screenshots within that container.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

#

[2020-06-08 19:22] johnwatkins0 commented on #4705
Connecting the "Are you technical?" selection to a user-level option isn't 100% making sense to me. Imagine a scenario where a website has (1) an editorial administrator and (2) a technical administrator; each might choose something different on that screen, and the outcome of the wizard and its impact on the site could end up being completely different (editorial person would end up in Reader mod

[2020-06-08 19:44] westonruter commented on #4491
Pull request for validator has been merged: https://github.com/ampproject/amphtml/pull/27518

So we can move forward with using a base64-encoded SVG image sizer.

[2020-06-08 19:49] jwold commented on #4705
@johnwatkins0 we may be able to get around this by showing the user that dev tools will be turned on/off and letting them change that if they disagree. We make the smart defaults in the wizard and let them override.

[2020-06-08 19:57] westonruter commented on #4705
If a website has both a technical administrator and an editorial administrator, it seems very unlikely that the non-technical administrator would be the one tasked with installing and configuring the AMP plugin. In fact, a technical question may even prompt them to ask their technical administrator for help. Otherwise, if the editorial administrator made the wrong choice then the technical adminis

[2020-06-08 20:05] westonruter commented on #2673
Upon thinking about this further, I think we should indeed restrict dev tools to just the users who can `manage_options`. So there would be three possible states:

1. Administrator who has developer tools enabled would see validation error messages in the editor and would have access to the validation error screens.
2. Administrator who has developer tools disabled would see minimized validation e

[2020-06-08 20:05] westonruter commented on #2673
Also, as noted on https://github.com/ampproject/amp-wp/issues/4705#issuecomment-640853679:

[2020-06-08 20:08] johnwatkins0 commented on #4705
👍 I'll go ahead with tying the "Are you technical?" screen to a user meta field.

This also brings to mind another potential detail for the Template Modes screen (@jwold): when the user arrives on that screen they will see what's recommended, but nothing will be selected by default. But if the setup wizard has been completed previously then maybe we should not only have the existing option checked

[2020-06-08 20:13] westonruter commented on #4705
And the recommendation may change based on the current user's technical experience. The messaging shown with each template mode may change. But the previously-selected template mode would still remain selected by default. The user could change the template mode based on any changes to the recommendations, however.

[2020-06-08 20:22] johnwatkins0 commented on #4811
Relevant comment from @pierlon on #4800:

https://github.com/ampproject/amp-wp/pull/4800/files#r436900881

[2020-06-08 20:26] westonruter commented on #4810
@laurelfulford Would you please test https://github.com/ampproject/amp-wp/pull/4813 to confirm it fixes the issue for you?

[2020-06-08 21:01] pierlon commented on #4811
Some other suggestions:

- Allow for the direct navigation to a a page by clicking on the title in the stepper

- Show a "disabled" state for the steps that have not been visited yet. For example:

    Before | After
    ---|---
    ![image](https://user-images.githubusercontent.com/16200219/84079909-ddece800-a9ca-11ea-971c-d6ff3fc7357a.png) | ![image](https://user-images.githubusercontent.com/162

[2020-06-09 00:35] laurelfulford commented on #4810
I can confirm that it fixes the issue for me -- thanks for checking! 🙌

[2020-06-09 01:20] #4810 closed, assigned to westonruter

[2020-06-09 03:49] westonruter commented on #4479
OK, after inquiring, the approach you're taking is legitimate. However, there is something important to be aware of. In particular, since you have mobile-first indexing, Googlebot will only ever see that you have an AMP version. This means that if you have content that is unique to the desktop version of your site, then it won't get indexed. Since you are in Transitional mode and the AMP and non-A

[2020-06-09 04:26] schlessera opened #4824 "Spec tests need to be version-locked on 1.5 branch"
## Bug Description

We are currently always pulling the latest spec files from the [`ampproject/amp-toolbox`](https://github.com/ampproject/amp-toolbox project) to run the language-agnostic spec tests against our optimizer implementation.

This also happens in the separate 1.5 branch that we have open for bug fixes. However, while this causes the 1.5 branch to always run against the latest spec fi

[2020-06-09 07:46] westonruter commented on #4824
Fixed by #4825 and #4826.

[2020-06-09 07:46] #4824 closed, assigned to nobody

[2020-06-09 15:31] jwold commented on #4795
**From John:**

So we’ll need something that says “Here are the features of your site that will be missing in Reader mode.” Some of this could end up being opaque, e.g., if post types, taxonomies, or blocks are registered with nonexistent or untranslatable labels. We might have to keep the language vague (e.g., “Four registered post types will be missing in Reader mode.“). Also, blocks can be regi

[2020-06-09 16:20] jwold commented on #4707
We discussed a number of options and I'll update the design.

[2020-06-10 00:27] johnwatkins0 opened #4827 "REST endpoint for plugin options"
As discussed over chat, this issue resulted in `amp-options` being `null` in the response for me.

Something to consider is adding a new AMP endpoint specific for its options, rather than re-using core's options endpoint. Then we'll have more flexibility possibly. Similar to how @pierlon created a new rest field for storing the `amp_enabled` state for a given post, rather than rely on the core-pro

[2020-06-10 03:19] #4766 closed, assigned to pierlon

[2020-06-10 04:27] schlessera opened #4830 "GHA jobs for dev & prod ZIPs should be done in parallel"
## Feature description

The new GitHub Actions workflow for building both development and production ZIP files and upload them currently builds the two versions sequentially:

![Image 2020-06-10 at 6 20 23 AM](https://user-images.githubusercontent.com/83631/84226730-e6384680-aae2-11ea-8f22-8d6630ec17ef.png)

As this job is a dependency of all the other integration jobs, this wastes about half a mi

[2020-06-10 04:33] westonruter opened #4831 "Switch from Renovate to Dependabot for dependency updates"
## Feature description

We've seen that Dependabot does better at updating PHP dependencies in the `composer.json`.

Also, now that we have a GitHub action which does ZIP builds for PRs, this is restricted to PRs not coming from forks, which is another benefit that Dependabot provides.

Therefore, we should decommission Renovate and switch instead to Dependabot.

---------------

_Do not alter or

[2020-06-10 05:27] #4830 closed, assigned to nobody

[2020-06-10 14:21] johnwatkins0 commented on #4811
We'll need a way to handle long theme descriptions, some of which may be provided via filter and hence out of our control:

<img width="239" alt="Screen Shot 2020-06-10 at 9 17 52 AM" src="https://user-images.githubusercontent.com/9020968/84279247-5c48a780-aafb-11ea-863b-324158cde99a.png">

I'm thinking one of two options:

1. Use CSS to truncate the text with an ellipsis after a single line or mu

[2020-06-10 14:24] jwold commented on #4811
I kind of like on AMPWP how they truncate it, I'm ok with that personally: https://d.pr/i/D6e0wd

The `show more` may not be necessary because we have the learn more link already.

[2020-06-10 20:58] johnwatkins0 commented on #4811
Got that working with a bit of JS:

<img width="994" alt="Screen Shot 2020-06-10 at 3 57 22 PM" src="https://user-images.githubusercontent.com/9020968/84317918-35a66300-ab33-11ea-930c-5b542429f7af.png">

Limiting the word count to 20.

[2020-06-10 21:01] jwold commented on #4811
Love it!

[2020-06-10 21:14] amedina commented on #4811
Very nice.

On Wed, Jun 10, 2020 at 2:02 PM Joshua Wold <notifications@github.com>
wrote:

[2020-06-10 21:35] johnwatkins0 commented on #4811
@jwold With the latest design updates, I could use your guidance on fonts. I see some Poppins and some Noto Sans. I see those are being used on amp.dev and can be easily included with Google Fonts, which would be great.

But I also a couple of variations of SF Pro, which isn't available via Google. Do you plan to include that one in the final designs, or can I assume one of the Google Fonts can be

[2020-06-10 22:46] amedina commented on #4708
Related to: https://github.com/ampproject/amp-wp/issues/4784

[2020-06-10 22:57] westonruter commented on #4779
Actually, we _should_ do this for `amp_validation_error` terms that are in the **reviewed** state. This will address the concern I had about masking validation errors that occur only once, since such validation errors would almost always be in the new state.

[2020-06-11 03:38] westonruter commented on #4779
Actually, humm, this could still be problematic. Consider this scenario:

1. I validate a URL.
2. I evaluate the validation validation errors and decide to leave all as _removed_. I mark all as _reviewed_.
3. After a week, the validated URL is post gets garbage-collected since all of its validation errors have been reviewed.

If at this point, the reviewed validation errors are _also_ deleted, the

[2020-06-11 06:58] deverman commented on #4634
Hello is this the same problem I was experiencing in this screen shot? See below the tiny less than postage stamp images. I installed this plugin as part of news pack. When I changed the theme back to my previous theme I still have the same problem. After disabling this plugin the problem went away. I am currently using https but on a very very slow VPS so I'm wondering if there was some connectio

[2020-06-11 15:34] jwold commented on #4709
Updated based on our discussing earlier this week for how the wizard will change if this mode is selected.

[2020-06-11 15:37] jwold commented on #4710
Updated based on our discussing earlier this week for how the wizard will change if this mode is selected.

[2020-06-11 15:49] amedina commented on #4779
Makes sense.

Alternatively, we could consider having a separate screen for Validated URLs which have been "fully reviewed". The goal would be to declutter the information handling for the user, while still keep the validation errors would be kept until they become stale.

Another (related) aspect we have discussed before (I think): could we automatically delete "Empty" validation errors (Clear Em

[2020-06-11 19:38] westonruter commented on #4779
We could default to showing validated URLs with unreviewed errors:

![image](https://user-images.githubusercontent.com/134745/84430989-647a1300-abdf-11ea-923b-f5a8d94a9e79.png)

But still, the underlying need for the issue here is to reduce the database size. So we still should remove the reviewed validated URLs regardless.

Yes, that's what we discussed in #1415 but I don't think we can do so bec

[2020-06-11 21:29] westonruter commented on #4634
@deverman Please capture the HTML page output for the AMP version and put it into a Gist or on Glitch so we can see what is being generated.

[2020-06-11 22:02] westonruter commented on #4710
Correct. There wouldn't need to be a need to wait for the Done screen for either Standard mode or Transitional mode because the theme would already be installed.

Actually no, it would not be present for Standard mode. Only Reader and Transitional mode. In Standard, there is not a separate version to redirect to.

I suppose there is a need for the steps to be dynamic then? I mean, if I select Stan

[2020-06-11 23:01] westonruter commented on #4709
See https://github.com/ampproject/amp-wp/issues/4710#issuecomment-642953907.

For all three modes, there should be a call to action to browse the site (in the new AMP version whichever that is). In Standard mode, this is just browsing the site as normal since there is only one version. In Transitional and Reader modes, this means browsing the AMP version.

In addition to these, Reader mode will al

[2020-06-12 14:46] jwold commented on #4710
I have an idea.

* Rename `Reader Themes` to `Theme selection`
* Skip step automatically
* If user selects `previous`, they can go back to that screen, but it will be dynamically updated with a message, something like:

Headline: Theme selection
Description: When the template mode is set to `Reader`, an AMP compatible version theme must be chosen. You've selected `Standard` mode, so this step is n

[2020-06-12 14:59] johnwatkins0 commented on #4811
@jwold Will we be updating the active state background color for the stepper component?

<img width="427" alt="Screen Shot 2020-06-12 at 9 57 57 AM" src="https://user-images.githubusercontent.com/9020968/84516350-4ff75280-ac93-11ea-9b4e-c5d138d0dc96.png">

Not sure this blue is looking quite right.

[2020-06-12 16:43] #4702 closed, assigned to nobody

[2020-06-12 18:20] westonruter commented on #4710
Yeah, I think that works well.

[2020-06-12 20:52] westonruter opened #4838 "Supply width/height to images in the content with filters where possible"
## Feature description

WordPress 5.5 is going to ship with lazy-loaded images. As part of this, it became clear that WordPress needs to ensure that images have `width` and `height` attributes present on content images to [Avoid layout shifting due to images not having dimension attributes](https://core.trac.wordpress.org/ticket/50367). If that patch does indeed make it into 5.5, then the AMP plug

[2020-06-12 23:31] schlessera commented on #4743
I've written up a first draft of the docs here: https://amp-wp.org/?p=6541&post_type=documentation&preview=1&_ppp=e792aba45a

[2020-06-12 23:33] schlessera commented on #4743
The formatting is totally off for the second column header of the table:
![Image 2020-06-13 at 1 32 16 AM](https://user-images.githubusercontent.com/83631/84553909-d3598800-ad15-11ea-8d1f-c8bfa69f56ab.png)

Is this something we need to fix with CSS, or is there a markup hack I should use?

[2020-06-12 23:44] westonruter commented on #4743
I've seen this elsewhere on the site. @jamesozzie Did you have a fix for that?

Short answer, I don't know. Maybe you could add `&nbsp;` characters?

[2020-06-12 23:46] schlessera commented on #4743
It doesn't include any spaces at all.

[2020-06-12 23:49] westonruter commented on #4743
OK, then apparently we need to fix it with CSS.

[2020-06-13 00:26] westonruter commented on #4753
We should also normalize numbers (e.g. timestamps and random numbers) as well as datetime strings.

[2020-06-13 20:24] westonruter opened #4843 "Instruct users to flush page cache when changing template modes"
## Feature description

If the `WP_CACHE` constant is enabled or if a site is detected to have page caching (#4386), when the user switches the Template mode (or the Reader theme) they should be prompted to flush their page cache.

We should also consider firing an action like `amp_page_cache_flush_needed` when such a setting is changed. This would facilitate third party plugins integrating with t

[2020-06-15 00:31] westonruter commented on #4756
This issue is also discussed at https://github.com/WordPress/WordPress-Coding-Standards/issues/403.

[2020-06-15 00:39] westonruter commented on #4752
I realized that we actually are already storing some data in `term_meta` right now: the timestamp on which the term is created.

https://github.com/ampproject/amp-wp/blob/68873f367ff92ffaf71d18ba64fc53acdbcf3efe/includes/validation/class-amp-validated-url-post-type.php#L759-L764

This is used to populate the “Last Seen” column in the Error Index screen. In reality, this data could be obtained by q

[2020-06-15 02:05] #4696 closed, assigned to nobody

[2020-06-15 02:05] #4676 closed, assigned to nobody

[2020-06-15 02:25] westonruter commented on #4115
The right solution for this will be to make use of the `attr()` function in CSS once it is available for types or units. For example, the `border` attribute could be rewritten as `data-border`. Then the `amp-default.css` could have this CSS rule like so:

[code]

Read more on [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/attr).

No browsers support this yet, however. See [caniuse](https:/

[2020-06-15 02:32] westonruter commented on #2431
Note: With v1.6 we plan to soft-deprecate support for WordPress 4.9. What this looks like is the admin screen and wizard onboarding flows will not be available for sites running 4.9. Such sites will should instead be shown an upgrade notice. They won't be able to change settings until they upgrade. /cc @johnwatkins0

[2020-06-15 02:44] westonruter commented on #965
This is being implemented now by @johnwatkins0, although not specifically the Customizer settings. See #4827.

[2020-06-15 02:44] #965 closed

[2020-06-15 03:05] #1324 closed

[2020-06-15 03:51] westonruter commented on #4213
Closing as I believe the discovery has been completed.

[2020-06-15 03:51] #4213 closed

[2020-06-15 19:16] westonruter commented on #4722
I just saw something pop up in a [support forum topic](https://wordpress.org/support/topic/a-white-screen-of-death-was-encountered-which-is-likely-due-to-a-php-fatal-error/) which appears to be a similar issue here:

This is line in question:

https://github.com/ampproject/amp-wp/blob/447816862d1b393f038b7572240aa029812fbbc9/includes/sanitizers/class-amp-style-sanitizer.php#L3405

[2020-06-15 20:48] #4827 closed, assigned to pierlon

[2020-06-15 21:27] westonruter commented on #4626
Actually, redirection is already prevented in the Customizer preview:

https://github.com/ampproject/amp-wp/blob/0391d505fc21c35e7095bc910966b85bad252318/includes/class-amp-theme-support.php#L2113-L2126

[2020-06-15 23:05] #4811 closed, assigned to amedina

[2020-06-16 02:55] #4812 closed, assigned to amedina

[2020-06-16 02:59] #4643 closed, assigned to schlessera

[2020-06-16 03:04] #4783 closed, assigned to schlessera

[2020-06-16 04:01] westonruter commented on #2317
In v1.6+ I want to see the analytics screen removed entirely and moved into an “Advanced” area of the main settings screen. This Advanced section would be collapsed by default. We'd use the REST API to update the Analytics and get rid of the current codebase entirely. The beginning of this Advanced section for Analytics would encourage the use of AMP-compatible analytics plugins.

[2020-06-16 04:37] westonruter commented on #4491
While the urgency for this seems to have lessened given the bug being fixed in W3 Total Cache, it still seems worthwhile to do for validation hardening.

[2020-06-16 04:56] schlessera opened #4863 "Revert converting decimal image sizes to integers for sizer SVG generation"
## Feature description

For the issue with decimal image sizes described at https://github.com/ampproject/amp-wp/issues/4493, we resorted to a workaround while the validator was being adapted, by truncating the image sizes to integer values for the SVG generation.

As https://github.com/ampproject/amphtml/issues/27528 has been fixed upstream, we should revert this work-around.

---------------

_D

[2020-06-16 05:08] schlessera opened #4865 "Replace deprecated PHPStan autoload_files option"
## Bug Description

PHPStan has deprecated the `autoload_files` option and is now throwing a warning. This is because it can now parse PHP code without executing it.

To get rid of this warning, we need to removethe `autoload_files` option in the plugin and both libraries, and if the scan then fails, replace it as needed with the corresponding alternatives:

[code]

## Expected Behaviour

PHPStan

[2020-06-16 05:27] westonruter commented on #4722
@joshcronin Do you have `@viewport` (with or without vendor prefixes) in your stylesheets?

I found a way to reproduce the problem, with this plugin code:

[code]

The fix is to correct how `$viewport_rules` are merged:

[code]

[2020-06-16 05:35] #4491 closed

[2020-06-16 05:50] #4722 closed, assigned to schlessera

[2020-06-16 06:30] westonruter commented on #4722
Since the PR has been fixed and the commit cherry-picked onto the `1.5` branch, you can test the most recent `1.5.4-alpha` build here: https://storage.googleapis.com/ampwp_github_artifacts/refs/heads/1.5/prod/amp.zip

[2020-06-16 06:51] #4863 closed, assigned to nobody

[2020-06-16 10:31] schlessera opened #4869 "Add Optimizer smoke test to Site Health integration"
## Feature description

If the Optimizer throws a fatal error, it will not take the server down, but rather fail silently and leave the unoptimized output to be sent to the browser.

This means you can have an inactive Optimizer (that just takes up server resources without producing a result) without knowing it.

The Site Health integration should be extended to add a smoke test that tries to opti

[2020-06-16 11:33] kishanugc opened #4870 "AMP list Initialization from amp-state issue"
### **AMP list failed to Initialization from amp-state**
We try many times using amp state but amp plugin removes amp list code or removes SRC attribute. We have bind amp list SRC using amp state value according to the amp. Please check the below Screenshot for more detail.
![image](https://user-images.githubusercontent.com/60003727/84768151-5ff39700-aff1-11ea-8e16-6f0943f5224a.png)

Right now, we

[2020-06-16 13:51] johnwatkins0 opened #4871 "Setup wizard: Final copy for all screens"
## Feature description

Creating this issue to track the creation of copy for the setup wizard. Having this handled separately will allow us to avoid having design and engineering held up by wording concerns until the finished product is ready. At that time we can put in all the hard-coded text in one sitting.

## Acceptance criteria

* Clear, translatable, user-friendly text on all screens

## Im

[2020-06-16 14:06] jwold commented on #1288
This issue has been resolved with other on boarding related issues.

[2020-06-16 14:06] #1288 closed

[2020-06-16 14:32] jwold commented on #4812
Should I archive this issue on the board?

[2020-06-16 14:33] jwold commented on #4811
Should I archive this one on the board?

[2020-06-16 15:13] pierlon opened #4872 "Prevent GHA build workflow from being run on external PRs"
## Feature description

We should prevent running the GHA build workflow on external PRs as they will not have receive the secret tokens necessary to carry out actions such as uploading built zips to GCS and commenting on PRs.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

[2020-06-16 15:27] jwold commented on #4795
Is this an issue that needs copy to display what's happening to the user, or would this be a background task?

[2020-06-16 18:49] johnwatkins0 commented on #4706
@jwold Very minor suggestion on this:

<img width="510" alt="Screen Shot 2020-06-16 at 1 29 37 PM" src="https://user-images.githubusercontent.com/9020968/84813356-7986e580-afd5-11ea-9f7e-12dc493d01d6.png">

With the design shown here, there is a down arrow that I presume expands/contracts the details section, so initially the user only sees the top row (everything above the gray line) until the ar

[2020-06-16 19:23] #4872 closed, assigned to pierlon

[2020-06-16 19:29] westonruter commented on #4870
This was fixed in https://github.com/ampproject/amp-wp/pull/4548 but it is not yet in a stable release. If you are currently developing your site and are comfortable using the 1.6-alpha version, then I recommend using the latest build from `develop`: https://github.com/ampproject/amp-wp/wiki/Development-Builds

Otherwise, we may cherry-pick the fix specifically for the upcoming 1.5.4 release.

[2020-06-16 19:35] jwold commented on #4706
Thinking about this now, the reason to switch it up makes sense.

[2020-06-16 19:40] westonruter commented on #4795
The site compatibility scan involves checking URLs representative of the various templates and post types. So let's say that there are a dozen such URLs. There should be a progress bar that shows the status of checking each. The overall screen would say: “Checking Site Compatibility” with perhaps a description:

The site compatibility scan step of the wizard should have a progress bar that shows w

[2020-06-16 19:41] westonruter commented on #4812
It needs QA still no? Once QA'ed then it would move right to the next column, eventually to Done.

[2020-06-16 19:43] jwold commented on #4812
I saw that you `closed` it. Maybe that was an accident?

[2020-06-16 20:03] johnwatkins0 commented on #4795
@westonruter I've begun thinking about this as part of #4706. For #4706 I'll just be building the UI and persisting the user selection, but the recommendation engine will come out of this and plugin scanning, along with what the user chooses for the technical question.

We should sketch out the algorithm for the degree to which we recommend each mode.

E.g., just thinking out loud -- this is proba

[2020-06-16 20:33] westonruter commented on #4812
It was closed because the linked PR was merged. A closed issue is then moved to “Ready for QA”. It only gets reopened if it needs more work.

[2020-06-16 20:51] jwold commented on #4491
What is the change that I can help with here?

[2020-06-16 21:03] westonruter commented on #4491
It's to do QA, but it's more appropriate for me to do this one.

[2020-06-16 21:56] johnwatkins0 commented on #4863
Moving this to QA Passed now, as I was able to add an AMP image with a decimal dimension locally, and no validation errors appeared.

<img width="826" alt="Screen Shot 2020-06-16 at 4 55 15 PM" src="https://user-images.githubusercontent.com/9020968/84832126-4d2d9200-aff2-11ea-9dd7-645497c159af.png">

<img width="769" alt="Screen Shot 2020-06-16 at 4 55 35 PM" src="https://user-images.githubusercon

[2020-06-16 22:59] johnwatkins0 commented on #4667
@westonruter For QA purposes, is there an easy way for me to look at a WP post and confirm that it was generated via Optimizer SSR?

[2020-06-16 23:14] pierlon commented on #4667
@johnwatkins0 One way is to check the page source for `i-amphtml-` attributes, or seeing if the `<html>` element has the `transformed` attribute, which is required for optimized AMP.

[2020-06-17 01:53] johnwatkins0 commented on #4667
Thanks, @pierlon . Moving this to QA Passed because `WP_DEBUG` does not seem to have an effect on SSR.

[2020-06-17 02:19] westonruter commented on #4811
Archiving is done once the release is done. If it passes QA, then it gets moved to “QA Passed” on the board.

[2020-06-17 02:19] westonruter commented on #4811
Or if QA is not relevant, straight to Done.

[2020-06-17 02:38] pierlon commented on #4754
**QA Passed:**

There are no validation errors for VideoPress embeds.

[2020-06-17 02:50] schlessera opened #4876 "Integrate a dependency injector"
## Feature description

After a discussion with @westonruter, we concluded that it is preferable to include an actual dependency injector right away, instead of slowly building more and more custom code around dependency usage in an ad-hoc YAGNI manner.

The services-based architecture should be able to instantiate services with their dependencies in an easy and reliable way and be future-proof.

[2020-06-17 02:54] pierlon commented on #4692
**QA Passed:**

The embed is visually the same as the non-AMP counterpart and has the right layout applied when the "wide width" alignment is applied to the embed block:

![image](https://user-images.githubusercontent.com/16200219/84849770-95c26b00-b045-11ea-8f99-fb62300cc21e.png)

[2020-06-17 03:08] westonruter commented on #4491
Verified that base64-encoded image is used as sizer and no validation error is present:

![image](https://user-images.githubusercontent.com/134745/84850636-11ec8c80-b00d-11ea-9c3a-72627249db9a.png)

Given this sizer image:

[code]

The base64-encoded data decodes as:

[code]

[2020-06-17 03:14] pierlon commented on #4654
I don't think can be QA'd since it pertains to parsing of Optimizer spec tests, unless I'm mistaken @schlessera?

[2020-06-17 13:16] schlessera commented on #4666
QA passed.

![Image 2020-06-17 at 3 10 23 PM](https://user-images.githubusercontent.com/83631/84902738-7e1ecd00-b0ad-11ea-8273-a428f60ce824.png)
![Image 2020-06-17 at 3 14 58 PM](https://user-images.githubusercontent.com/83631/84902753-824aea80-b0ad-11ea-8a4b-c64d434a6497.png)

[2020-06-17 13:42] schlessera commented on #4643
QA passed.

On Site Health page:
![Image 2020-06-17 at 3 41 07 PM](https://user-images.githubusercontent.com/83631/84905534-11a5cd00-b0b1-11ea-86bd-0113ae6e5071.png)

On Dashboard page:
![Image 2020-06-17 at 3 41 32 PM](https://user-images.githubusercontent.com/83631/84905568-1d918f00-b0b1-11ea-88b2-75096a82ef33.png)

[2020-06-17 13:47] schlessera commented on #4783
QA passed.

The schema is properly produced when no filter is active.
![Image 2020-06-17 at 3 45 01 PM](https://user-images.githubusercontent.com/83631/84906069-bfb17700-b0b1-11ea-8337-9e29b567ebd3.png)

When a filter reduces the schema to an empty array, we don't get a useless schema entry, but rather no schema entry at all:
![Image 2020-06-17 at 3 46 08 PM](https://user-images.githubusercontent.

[2020-06-17 14:04] kishanugc opened #4878 "Specifying query parameters with default data using AMP autocomplete"
### We can't bind SRC using AMP Autocomplete with a query parameter.
We have been created different endpoints for default results & search results.
We try to bind different JSON endpoints for default results & search results but it's not working in amp autocomplete with query parameters.
Right now, we print JSON endpoints for testing. Please check below URL & Screenshot for more detail.
URL : http

[2020-06-17 18:52] jwold commented on #4801
@johnwatkins0 two AC that you probably captured, but I'll add to the description:

* If you approach the `Reader themes` page, and are using a theme in your site that would have appeared on the list, hide that list. It's an unlikely scenario, but better to hide to avoid any issues.
* Themes not in installed are for a specific scenario where the site is on a locked production environment - you can

[2020-06-17 19:16] jwold commented on #4706
@johnwatkins0 the best way I can think to switch things up would be something like this:

https://v.usetapes.com/4YbSvZyUb3

[2020-06-17 19:38] #4876 closed, assigned to nobody

[2020-06-18 13:34] johnwatkins0 commented on #4706
That will work. Using the core `PanelBody` component, that whole row will be clickable (and will have a hover state indicating as such).

[2020-06-18 14:59] jwold opened #4881 "Onboarding wizard: Scrolling mobile images on reader themes screen"
## Feature description

<img width="1086" alt="Screen Shot 2020-06-18 at 07 59 23" src="https://user-images.githubusercontent.com/3411173/85036993-a6540d80-b139-11ea-8ebd-ffed78f81cf8.png">

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## De

[2020-06-18 15:15] sirbrillig opened #4882 "phpcs-variable-analysis 2.6.2 is missing a bunch of bug fixes"
## Bug Description

This package currently depends on phpcs-variable-analysis 2.6.2, but that package version is missing many bug fixes present in the current version (2.8.2 at the time of this writing).

(Relatively minor, but the impetus for this issue is that the Tests directory was included in 2.6.2 and prior to sirbrillig/phpcs-variable-analysis@9d86ccb and sirbrillig/phpcs-variable-analysis@

[2020-06-18 15:17] johnwatkins0 commented on #4881
@jwold I believe this is a duplicate of #4822. Should we close one?

[2020-06-18 15:20] schlessera commented on #4882
Well, even though I agree we should keep dependencies up-to-date as best we can, I wouldn't say being on the second-to-last minor should be considered a bug...

Is there something specific that is breaking for you because of that?

[2020-06-18 15:20] jwold commented on #4881
Good catch. Thanks!

[2020-06-18 15:20] #4881 closed, assigned to nobody

[2020-06-18 15:29] sirbrillig commented on #4882
Hah. Sorry, I got a bug report on the package, but it turns out it was from on old version of _this_ package. Nevermind!

[2020-06-18 15:29] #4882 closed, assigned to nobody

[2020-06-18 19:26] westonruter commented on #4882
@sirbrillig We have a PR pending to update in #4803. It's blocked on another PR, so that's why we haven't updated yet.

[2020-06-19 17:58] #4477 closed

[2020-06-19 19:04] westonruter opened #4886 "Eliminate the use of 'master' branch name and whitelist/blacklist terminology"
As [proposed](https://make.wordpress.org/core/2020/06/18/proposal-update-all-git-repositories-to-use-main-instead-of-master/) in WordPress Make/Core, and as has been proposed and actioned on throughout the industry, we should eliminate the use of the `master` from the codebase due to its negative connotations with slavery. This has already been done for `worker-dom` and it is also being worked on

[2020-06-19 19:17] pierlon commented on #4886
If it makes one more person comfortable contributing to the project, then I'm for it :+1:.

---

I'd like to think majority of developers see the ~`master`~ branch as the latest stable version of the project. The only problem I could see with removing it (well, an inconvenience really) is that if someone were to clone the repository, they would be on the `develop` branch by default. They would the

[2020-06-19 19:33] westonruter commented on #4886
Yes, the ~`master`~ branch is an alias for the latest stable release. That's the only purpose it serves. How about we eliminate it for now, and if it turns out that people are wanting it, we can re-add a branch for this purpose, like `latest`. Otherwise, if someone wants to be on the latest state of the codebase, all they have to do is just:

[code]

[2020-06-19 19:35] pierlon commented on #4886
Sounds good.

[2020-06-19 20:17] westonruter commented on #4886
I [added](https://github.com/ampproject/amp-wp/wiki/Engineering-Guidelines/_compare/140bb49609e35e9e5542dc2ea4f71014c65c3b8c...1fde8f739ace54ea42a8fcb0a035349f4d0f7757) that to the [Engineering Guidelines](https://github.com/ampproject/amp-wp/wiki/Engineering-Guidelines) doc:

![image](https://user-images.githubusercontent.com/134745/85176637-20b28980-b22f-11ea-9236-254ad1c1c2e2.png)

[2020-06-19 20:24] #4886 closed, assigned to pierlon

[2020-06-19 20:31] westonruter commented on #4886
The ~`master`~ branch has been deleted.

Before:

<img width="1004" alt="Screen Shot 2020-06-19 at 13 30 12" src="https://user-images.githubusercontent.com/134745/85177547-2f9a3b80-b231-11ea-89ab-99563f0260a3.png">

After:

![image](https://user-images.githubusercontent.com/134745/85177510-201af280-b231-11ea-8d53-8a7d15c5a43b.png)

![image](https://user-images.githubusercontent.com/134745/85177592

[2020-06-20 05:47] #4705 closed, assigned to nobody

[2020-06-22 07:15] schlessera opened #4898 "Disable DI filtering by default"
**@westonruter:** In a subsequent PR, yes, I would say we should keep it closed for now. This will reduce the maintenance burden for backwards-compatibility until we are more comfortable allowing site owners to hook into plugin internals.

(_Originally posted in https://github.com/ampproject/amp-wp/pull/4877#issuecomment-645553721_)

[2020-06-22 07:18] schlessera opened #4899 "Close off service container after initialization"
**@westonruter:** Will we need that functionality? If not, I'd say remove it.

_Originally posted in https://github.com/ampproject/amp-wp/pull/4877#issuecomment-645553721_

We cannot remove the `put()`, as it is used for initially populating it. But we can add logic to close it off and prohibit further changes after the initial setup.

[2020-06-22 16:29] westonruter commented on #4878
Is this a problem with the WordPress plugin or an issue with AMP itself? Are you able to accomplish what you want when creating a static HTML page? If so, you should inquire via https://amp.dev/support/

[2020-06-22 17:21] amedina commented on #4898
Agree. Keeping it filterable could be, in principle, a maintenance problem. Let's discuss.

[2020-06-23 16:12] jwold commented on #4704
<img width="1458" alt="Screen Shot 2020-06-23 at 9 12 34 AM" src="https://user-images.githubusercontent.com/3411173/85428179-b0a74a80-b531-11ea-816a-86ca5f06b675.png">

[2020-06-23 16:17] jwold commented on #4707
![Screen Shot on 2020-06-23 at 09-17-31](https://user-images.githubusercontent.com/3411173/85428669-68d4f300-b532-11ea-8f03-2d1b993d7a11.png)

[2020-06-23 16:20] jwold commented on #4801
![4706](https://user-images.githubusercontent.com/3411173/85428884-b8b3ba00-b532-11ea-94de-053ae9481efc.png)

[2020-06-23 16:26] kmyram commented on #4625
Copy doc: https://docs.google.com/document/d/1yjpVpGV6PCPs641hzmUWXzo0a46VKvjiWTytFqxtyEk/edit#

[2020-06-23 16:41] schlessera opened #4906 "Validator uses Service container when it is not yet populated"
## Bug Description

Hook timings can throw a fatal error in the validation manager when the hook wrapping callback is triggered while the service container hasn't been populated yet.

## Expected Behaviour

The service container should always be populated as soon as the "sourcing" is active.

## Steps to reproduce

1. Install and activate 'wpforms-lite'.
2. Refresh the validation of a page.
3. **V

[2020-06-23 16:54] westonruter commented on #4723
@deepaklalwani97 Can you share the markup of the gallery from the AMP version of the page? The issue may actually be the failure to fetch image sizes. See #4634.

[2020-06-23 18:00] #4906 closed, assigned to nobody

[2020-06-23 20:59] jwold commented on #4704
Took a stab at what the settings page could look like for the wizard onboarding notice. Also ended up giving a treatment of the entire settings page to see how it would feel.

![Exploration](https://user-images.githubusercontent.com/3411173/85461921-caf51e80-b559-11ea-9a79-bbad878aa939.png)

cc @amedina, @westonruter, @johnwatkins0

[2020-06-23 21:17] jwold commented on #4708
Thinking the main thing we could do is a small illustration and tweak the copy.

![export 2](https://user-images.githubusercontent.com/3411173/85465289-7784cf80-b55d-11ea-94b4-b17fe957b9f3.png)

[2020-06-23 22:42] amedina commented on #4704
I like it!

Modulo the copy (this needs work), it looks good.

[2020-06-23 22:46] jwold commented on #4704
Awesome! Agree on tweaking the copy. 
GitHub <notifications@github.com> wrote:
“I like it!

Modulo the copy (this needs work), it looks good.”

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-24 02:59] westonruter opened #4913 "Add filter to exclude links on an individual basis from AMP-to-AMP linking"
## Feature description

AMP-to-AMP linking was introduced in #1389 via #3627 and enabled by default in Transitional mode or in Reader mode via the `amp_to_amp_linking_enabled` filter. Then in #3689 via #4146 individual links can be disabled from AMP-to-AMP linking in these ways:

* Filter `amp_to_amp_excluded_urls` to add all URLs that should be excluded from AMP.
* Add a `noamphtml` link relation

[2020-06-24 03:00] westonruter commented on #3689
See #4913 for a proposal to add a filter for fine-grained AMP-to-AMP linking exclusions.

[2020-06-24 07:59] schlessera opened #4914 "Validate filtered services in service container"
## Bug Description

If filtering of services for the service container is enabled, we currently don't validate the result.

In a current case with PHPStan, this leads to a PHP warning. The reason for the warning is that PHPStan executes the code (to be changed), which triggers the filter. As `global $wp_filter` is `null` though, the result of `apply_filters()` is also `null`.

## Expected Behaviou

[2020-06-24 08:02] schlessera commented on #4865
Reopening, as this is still needed for the main plugin analysis.

[2020-06-24 11:59] deepaklalwani97 commented on #4723
@westonruter This [Gist](https://gist.github.com/deepaklalwani97/6ade5a40d1255d134bd4fb75ba583913) contains the markup for the gallery on the AMP pages.

[2020-06-24 15:50] johnwatkins0 commented on #4704
@jwold I think we'll need to include this:

<img width="700" alt="Screen Shot 2020-06-24 at 10 48 06 AM" src="https://user-images.githubusercontent.com/9020968/85588509-5dec9200-b608-11ea-9975-1e6e96c0af24.png">

[2020-06-24 16:48] johnwatkins0 opened #4922 "Setup wizard: Welcome screen for v1.6"
## Feature description

With the site scan coming in 1.7 (via #4719), we need an initial screen to introduce users to the wizard in version 1.6. @jwold Has created the following:

<img width="853" alt="Screen Shot 2020-06-24 at 11 46 59 AM" src="https://user-images.githubusercontent.com/9020968/85597742-84163000-b610-11ea-953d-c5c00e5651fc.png">

## Acceptance criteria

* Helpful text introducing

[2020-06-24 18:44] #4706 closed, assigned to jwold

[2020-06-24 18:59] #4914 closed, assigned to pierlon

[2020-06-24 19:22] westonruter commented on #4704
Yes, that will be displayed when the “Serve all templates as AMP” toggle is off.

[2020-06-24 19:28] westonruter commented on #4723
OK, thanks. It doesn't seem to be the same issue then. If it was, the images would have the class name of `amp-wp-unknown-size`.

[2020-06-24 19:57] jwold commented on #4704
Here's a stab at the remaining content:

![Group 3058](https://user-images.githubusercontent.com/3411173/85621525-46b6a000-b61a-11ea-8271-96ebae105501.png)

[2020-06-24 21:06] pierlon opened #4940 "Dashicon used to denote valid AMP is not available on WP < 5.1"
## Bug Description

Regression introduced in #4382.

The Dashicon used to denote valid AMP for a page (`yes-alt`) is not available in WordPress 5.1 and below. Because of this, a "square box" is shown:

![image](https://user-images.githubusercontent.com/16200219/85627145-9a96a880-b65d-11ea-90b6-b70f786dbd7f.png)

The Dashicon `yes` is available in WordPress 5.1, however, and could be a used as a po

[2020-06-24 22:02] westonruter commented on #4940
Do you have a recommended alternative? What about the non-alt version?

[2020-06-24 22:05] westonruter commented on #4704
The Content Types and Templates should go _inside_ that Supported Templates box. They are conditionally shown if the toggle is off. Also note that the templates are presented as a hierarchy, so there will necessarily be indentations.

[2020-06-24 22:40] westonruter commented on #4707
@jwold We can actually include the iframe in all three versions. We just have to make sure we put the AMP version of a URL on the site into the iframe, but this will apply regardless of Standard, Transitional, or Reader.

[2020-06-24 22:40] westonruter commented on #4707
The iframe would necessarily be showing the site in a mobile viewport, of course.

[2020-06-24 22:49] johnwatkins0 commented on #4801
We will need to filter out the active theme from this screen. E.g., if the site is using Twenty Twenty as its main theme, we just won't show it here.

[2020-06-24 22:58] pierlon commented on #4940
We could use the Dashicon `yes` as an alternative, or provide a polyfill for `yes-alt` glyph by loading its [SVG](https://github.com/WordPress/dashicons/blob/master/sources/svg/yes-alt.svg) counterpart.

[2020-06-24 23:57] westonruter opened #4941 "Error index does not identify kept errors in filter"
## Bug Description

If you have a validation error which is _unreviewed_ and _kept_, it will not be listed via the status filter:

![image](https://user-images.githubusercontent.com/134745/85638720-817d0000-b63b-11ea-91a1-b6b6ef745eab.png)

![image](https://user-images.githubusercontent.com/134745/85638757-9a85b100-b63b-11ea-9b94-7eab587d2e3b.png)

## Expected Behaviour

## Steps to reproduce

1.

[2020-06-24 23:58] westonruter commented on #4941
Note that it works as expected if the kept validation error is reviewed:

![image](https://user-images.githubusercontent.com/134745/85638846-dcaef280-b63b-11ea-90a1-f3789df1817a.png)

![image](https://user-images.githubusercontent.com/134745/85638859-e46e9700-b63b-11ea-901f-fe513610c250.png)

[2020-06-25 18:57] westonruter commented on #4838
This has been committed to core, to be part of WordPress 5.5: https://core.trac.wordpress.org/ticket/50367#comment:11

We could adapt the [commit](https://core.trac.wordpress.org/changeset/48170) to apply to content in older versions of WP.

[2020-06-25 18:59] jwold commented on #4707
Updated the `done` page. Ready for review.

![Done reader](https://user-images.githubusercontent.com/3411173/85782298-56e28400-b6db-11ea-9bf6-db6fd918b713.png)
![Done standard](https://user-images.githubusercontent.com/3411173/85782316-5944de00-b6db-11ea-9bf9-753d1ca48167.png)
![Done transitional](https://user-images.githubusercontent.com/3411173/85782322-59dd7480-b6db-11ea-8fb3-863c02a491f2.png)

[2020-06-25 19:39] #4898 closed, assigned to nobody

[2020-06-25 22:49] westonruter opened #4946 "Consider use of namespace or prefixed static class for “template tags” and “template conditionals”"
## Feature description

`is_amp_endpoint()` is likely the most frequently used function by 3rd party developers. In #4796 there is now another function called `is_amp_available()` which is largely a subset of `is_amp_endpoint()`.

Should functions like these be namespaced or (as suggested by @schlessera) placed in a static class so as to take advantage of autoloading?

Originally discussed in http

[2020-06-25 23:03] #4940 closed, assigned to nobody

[2020-06-26 04:32] #4703 closed, assigned to nobody

[2020-06-26 04:32] #4709 closed, assigned to jwold

[2020-06-26 04:32] #4710 closed, assigned to jwold

[2020-06-26 17:56] westonruter commented on #4707
Instead of “Scrollable view of your site” it should probably just say, “Live view of hour site” or something.

It would also seem to make sense to put the Browse button in the inside of that box around the iframe, as the button is essentially causing the user to break out of the iframe.

[2020-06-26 20:13] jwold commented on #4707
Good point! Here's an update:

![Done standard](https://user-images.githubusercontent.com/3411173/85897213-bb224800-b7ae-11ea-8146-a95774cd06ae.png)
![Done transitional](https://user-images.githubusercontent.com/3411173/85897214-bc537500-b7ae-11ea-85d8-d4da6ad341d4.png)
![Done reader](https://user-images.githubusercontent.com/3411173/85897216-bcec0b80-b7ae-11ea-92e6-5b1dc45b58b6.png)

[2020-06-26 20:18] jwold commented on #4707
Good point! Some updates:

![Done standard](https://user-images.githubusercontent.com/3411173/85897572-6e8b3c80-b7af-11ea-92b9-d378663a024e.png)
![Done transitional](https://user-images.githubusercontent.com/3411173/85897581-721ec380-b7af-11ea-9772-21e3e54b0a20.png)
![Done reader](https://user-images.githubusercontent.com/3411173/85897582-72b75a00-b7af-11ea-934e-ed7af2b19c29.png)

[2020-06-26 21:12] johnwatkins0 commented on #4707
Minor bug fix to include in this PR (thanks @pierlon). Z-index adjustments needed:

![image](https://user-images.githubusercontent.com/9020968/85901627-d64d8180-b7c7-11ea-85d3-23008237c1d0.png)

[2020-06-27 00:26] #4608 closed, assigned to pierlon

[2020-06-27 03:00] westonruter commented on #2204
As part of this, we need to make sure that query vars from the non-AMP page are persisted on to the linked AMP page. So that would be something like this given the current codebase:

[code]

[2020-06-27 19:09] westonruter opened #4950 "Leading and trailing whitespace on URLs can cause unexpected behavior (including leaked validation errors)"
## Bug Description

This is a follow-up to #4117 which addressed initial whitespace in `href` causing a validation error. In the PR #4166, the resolution was to trim whitespace characters from the attribute value. However, this is not accounting for URL-encoded whitespace in the same way. It is also causing AMP validation errors to leak. Consider this non-AMP vs AMP content, with CSS that displays

[2020-06-28 05:33] #4479 closed

[2020-06-28 05:33] #4619 closed, assigned to pierlon

[2020-06-28 05:33] #4626 closed, assigned to pierlon

[2020-06-28 05:33] #4913 closed, assigned to nobody

[2020-06-28 06:40] #4922 closed, assigned to nobody

[2020-06-29 03:05] #4878 closed, assigned to nobody

[2020-06-29 19:32] #4801 closed, assigned to amedina

[2020-06-29 19:39] johnwatkins0 commented on #4707
@westonruter @jwold  In the iframe preview, if we load the homepage for reader mode it's not going to show as AMP because only single posts use AMP. It would be easy to pull in the latest post and show that in the iframe instead of the homepage. Would that work?

Also want to make sure I have all these URLs right:

### Standard

- Iframe: Use the homepage URL (no `?amp` needed)
- "Visit your site"

[2020-06-29 20:03] westonruter commented on #4707
Right, we'll need to obtain a URL for _something_ that will be an AMP page. You may be able to re-use `amp_admin_get_preview_permalink()` for this purpose. This function probably needs to be extended to support more templates, but it should be good enough for now. It will handle all of the cases above.

This link should indeed load the URL returned by `amp_admin_get_preview_permalink()` by default

[2020-06-29 20:49] spacedmonkey opened #4952 "Implement register_theme_feature function"
## Feature description

As for WordPress 5.5 and [[48171]](https://core.trac.wordpress.org/changeset/48171), there is a new function called `register_theme_feature`. This method defines expected values of  `theme_support` and weather or not to show theme supports value in the theme REST API. As this plugins uses `add_theme_support( 'amp', [ 'paired' => false ] )`, the AMP plugin should register it

[2020-06-30 14:06] johnwatkins0 commented on #4704
Since we have built most of this UI already, I think it would make sense to build this page using the React components we already have (with a small amount of refactoring to ensure everything is reusable). It will work the same from a user standpoint, except for the small difference that the interface will be rendered client-side.

[2020-06-30 14:23] johnwatkins0 commented on #4704
I'm breaking the plugin screen notice into a separate issue and keeping this one focused on the settings screen because the two updates are functionally separate.

[2020-06-30 14:26] johnwatkins0 opened #4961 "Plugin activation notice on plugins and AMP settings screens"
## Feature description

When activating the plugin on the plugins screen, the user should be encouraged to set up the plugin immediately without having to go and look for where to start.

## Acceptance criteria

Screenshot:

<img width="1458" alt="Screen Shot 2020-06-23 at 9 12 34 AM" src="https://user-images.githubusercontent.com/3411173/85428179-b0a74a80-b531-11ea-816a-86ca5f06b675.png">

On plu

[2020-06-30 15:07] jwold opened #4962 "Onboarding wizard UI polish for Version 1.6"
## Feature description

Throughout the onboarding wizard there are a few UI issues we should tackle, spit and polish sort of work. There are also a few more that we should discuss and decide how we would like to proceed. I'll list them out below.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

**Welcome

[2020-06-30 15:07] jwold commented on #4962
@amedina, @johnwatkins0, @westonruter a few of these might be worth discussing in our meeting.

[2020-06-30 18:28] johnwatkins0 commented on #4962
@jwold Here's the simplified "Previously selected" on the technical question screen. It does make sense that we might want to do something more with this visually, but this works for now (text aside).

<img width="946" alt="Screen Shot 2020-06-30 at 1 27 09 PM" src="https://user-images.githubusercontent.com/9020968/86163214-8a575100-bad5-11ea-92f7-197f48533c1d.png">

[2020-06-30 20:12] jwold commented on #4962
Perfect. Agreed we’ll want to revisit later. But for now I think we ship it. 
GitHub <notifications@github.com> wrote:
“@jwold Here's the simplified "Previously selected" on the technical question screen. It does make sense that we might want to do something more with this visually, but this works for now (text aside).”

[Screen Shot 2020-06-30 at 1 27 09 PM]
“ —
You are receiving this because you

[2020-06-30 21:07] westonruter opened #4968 "“Leave a Comment” link in Legacy Reader mode fails to take user to non-AMP version"
## Bug Description

Regression introduced in #4796.

When mobile redirection is enabled, clicking the “Leave a Comment” just causes the user to be redirected back to the AMP page:

The “Leave a Comment” link in Legacy Reader mode needs the `noamp=mobile` query parameter added to it.

## Expected Behaviour

In legacy Reader mode, a comment link should always link to the non-AMP version.

----------

[2020-06-30 21:32] amedina commented on #4703
QA Passed.

[2020-06-30 21:56] westonruter commented on #1756
The site health test message can not only flag the count of URLs that have unreviewed validation errors, but also the list of plugins that are causing them. Then the CTA can be to go to the Plugin Suppression section on the admin screen.

[2020-06-30 23:41] amedina commented on #1756
Another CTA could be `Contact System Admin` or similar flow to request
support.

On Tue, Jun 30, 2020 at 2:56 PM Weston Ruter <notifications@github.com>
wrote:

[2020-07-01 00:15] westonruter commented on #1756
Yeah, we could do a query for the other administrators and list those who have Developer Tools turned on as good candidates to reach out to.

[2020-07-01 00:55] #4961 closed, assigned to amedina

[2020-07-01 04:25] #2673 closed

[2020-07-01 04:25] #4480 closed

[2020-07-01 07:32] schlessera opened #4970 "Add Server-Timing metrics to backend code"
## Feature description

To be able to measure, track and improve on backend AMP generation and optimization, we should add [`Server-Timing` HTTP header entries](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Server-Timing) that measure the processing time of each of the important subsystems.

These metrics can then be read via the [`PerformanceServerTiming` interface](https://developer.

[2020-07-01 09:04] schlessera commented on #4970
There is already server-timing code in place, actually: `AMP_HTTP::send_server_timing()`, however, it is disabled by default.

I suggest:
- adapting the code so that only 1 single header is sent;
- enabling a limited amount of data by default for gathering field data;
- enabling all data ~by default when WP_DEBUG is true~ when `?amp_verbose_server_timing=1` is set.

[2020-07-01 16:30] westonruter commented on #4970
The reason why `Server-Timing` is disabled by default is captured in #2268.

[2020-07-01 16:49] westonruter commented on #4970
I think we should capture these entries:

1. Output buffering (before the AMP plugin is starts processing)
2. Style sanitizer
3. Tag and attribute sanitizer
4. Other sanitizers (including custom ones)
5. Optimizer

[2020-07-01 17:00] jwold commented on #4713
This is now redundant and copies #4704

[2020-07-01 17:00] #4713 closed, assigned to nobody

[2020-07-01 17:01] westonruter commented on #4704
Also need to incorporate the Plugin Suppression section: https://github.com/ampproject/amp-wp/pull/4657

[2020-07-01 23:23] westonruter commented on #4560
@johnwatkins0 Assigning this to you since this is what you built as part of the wizard (#4702) and also what you'll be adding to the admin settings screen (#4704).

The plumbing of actually loading the selected Reader theme is what I'm working on in #4478.

[2020-07-02 02:07] #4707 closed, assigned to nobody

[2020-07-02 05:36] westonruter opened #4971 "Wizard: Done screen doesn't show expected state when previous selections were retained"
## Bug Description

If I tap through to select a Reader theme, and save, and then reload to just click Next all the way to the end, then the Done screen lacks the Customizer button and the copy. The themeSupport variable is apparently null.

![image](https://user-images.githubusercontent.com/134745/86320150-0f805a00-bbeb-11ea-8ac4-c025ca1868d8.png)

Compare with if I try the same thing but toggle

[2020-07-02 05:41] westonruter opened #4972 "Wizard: Improve layout of Done screen"
## Feature description

The layout of the final screen can be improved a bit by reducing the second border around the iframe and moving the heading over the iframe to instead be a caption:

Before | After
-------|-----
![image](https://user-images.githubusercontent.com/134745/86320317-76057800-bbeb-11ea-9d8c-318dc3bbadf6.png) | ![image](https://user-images.githubusercontent.com/134745/86320330-7f8

[2020-07-02 05:45] westonruter opened #4974 "Wizard: Improve functionality of Close button vs Finish button"
## Feature description

When on the Done screen, the Close button and the Finish button do the same thing:

Should the close button be removed on the Done screen then? There's no sense to “Exit” the wizard when on the Done screen as the icon implies.

Also, I think the Close button should intentionally do `history.back()` to take the user to the screen they were just on (or else pass the return UR

[2020-07-02 05:51] westonruter opened #4975 "Wizard: Improve template mode selection and Reader theme selection when active theme is also a Reader theme"
## Feature description

When a site has a Reader theme already set as the active theme (e.g. Twenty Twenty), when the user expresses they are non-technical then _both_ the Reader mode and the Transitional mode should show as ✅  recommended options.

Additionally, when selecting Reader mode, the list of themes should no longer omit the active theme from the list. Instead, if the user selects the ac

[2020-07-02 06:09] #4971 closed, assigned to nobody

[2020-07-02 13:42] johnwatkins0 commented on #4962
Fixed by #4966

[2020-07-02 13:42] #4962 closed, assigned to nobody

[2020-07-02 14:00] jwold commented on #4972
Great suggestions. I like these changes. 

[2020-07-02 23:53] westonruter opened #4978 "Expose loopback request test failure when "Failed to fetch URL to validate""
## Feature description

As seen in this [support topic](https://wordpress.org/support/topic/amp-validated-urls-failed-to-fetch-url-to-validate/), when a site is unable to perform loopback requests, this is not made immediately clear to the user. The error message does tell the user to verify the site can perform loopback requests:

![image](https://user-images.githubusercontent.com/134745/86417969

[2020-07-03 00:12] westonruter opened #4979 "Consider eliminating loopback requests when performing AMP validation"
## Feature description

A common issue in the support forums is failing to validate a URL due to loopback requests not working. It's true that this exposes a critical error with a WordPress site that needs to be fixed anyway, but we should consider whether we absolutely need to do loopback requests.

Currently validation is performed by submitting a validation request to WordPress, including the U

[2020-07-03 16:46] askmeoffers opened #4981 "Google ads AMP Analytics Issue"
Hi ,

I want to add google Ads global Tracking code into my 100% AMP WordPress site :

below is code I want to add in amp analytics but After i Add I see 404 error for ads.json file

Please help me with this

Code snippet for ads

[code]

![image](https://user-images.githubusercontent.com/55142548/86486961-7da75700-bd7a-11ea-8925-418d45c35e10.png)

![image](https://user-images.githubusercontent.co

[2020-07-03 17:11] westonruter commented on #4981
You provided a type of `ads` when you should provide the type as `gtag`.

Also, the `data-credentials="include"` attribute is not added via this interface.

It is preferable for you to add this `amp-analytics` markup via plugin code like the following:

[code]

[2020-07-03 17:11] #4981 closed, assigned to nobody

[2020-07-04 01:19] westonruter commented on #4560
As noted in #4984, when selecting a non-legacy theme in Reader mode, the same UI to “show all templates as AMP” and the ability to select individual templates needs to be offered. These options should be disabled when the Legacy theme is selected.

[2020-07-04 04:43] #4804 closed, assigned to nobody

[2020-07-05 18:42] westonruter opened #4989 "Eliminate "AMP Settings" panel from Gallery block"
## Feature description

In the theme of preventing the user from having to know anything about AMP (#4554, #4555, #4556, #4557) to author content, we should also consider eliminating the dedicated “AMP Settings” panel from the Gallery block:

![image](https://user-images.githubusercontent.com/134745/86539641-180ab600-beb3-11ea-9b84-c207c6197963.png)

At one level this could just be a matter of rem

[2020-07-05 23:06] johnwatkins0 opened #4990 "Onboarding wizard: improve Reader mode and Transitional mode recommendations"
From @westonruter in https://github.com/ampproject/amp-wp/pull/4980#discussion_r449695131.
____________________

We should export to JS this logic from PHP:

[code]

Note I'm intentionally using `get_stylesheet()` here as opposed to `get_template()` because child themes of core themes are often not AMP-compatible.

Nevertheless, we may want to hold off on doing this until I finish my work on the R

[2020-07-06 19:52] #4972 closed, assigned to amedina

[2020-07-06 19:52] #4974 closed, assigned to amedina

[2020-07-06 19:52] #4975 closed, assigned to amedina

[2020-07-06 23:29] westonruter commented on #4870
I'll include this in a 1.5.x release.

[2020-07-07 02:34] westonruter commented on #4870
PR #4992 merged into `1.5` branch. Build for testing available at https://github.com/ampproject/amp-wp/pull/4992#issuecomment-654514947.

[2020-07-07 02:34] #4870 closed, assigned to nobody

[2020-07-07 15:43] jwold commented on #4719
What about scenarios where there are theme errors, but no plugin errors?

[2020-07-07 15:50] jwold commented on #4719
![My Sketches - 2020-07-07 08 20 49](https://user-images.githubusercontent.com/3411173/86807562-d4d55200-c02e-11ea-8847-8a89d430d8c9.jpg)

[2020-07-07 16:33] westonruter commented on #4386
We could use `WP_CACHE` constant as detection for whether page caching is enabled (or rather if `advanced-cache.php` drop-in exists). For sites with an external caching layer, then we may need to have a button in the Site Health test for the user to say “I do have page caching!” which can then suppress the test failure. In a subsequent release, we could improve the detection for external caching l

[2020-07-07 16:56] #4699 closed, assigned to nobody

[2020-07-07 18:42] johnwatkins0 opened #4996 "Illegal string offset warning in plugin suppression table"
## Bug Description

While working on #4704, I saw the following:

<img width="959" alt="Screen Shot 2020-07-07 at 1 36 42 PM" src="https://user-images.githubusercontent.com/9020968/86826945-fea26f00-c056-11ea-9711-d9279a02a67e.png">

This is the plugin I used to generate the error for testing: https://gist.github.com/westonruter/6880918d45deb39c89e17f3b76583521

I briefly tried fixing it on my bra

[2020-07-07 19:08] askmeoffers opened #4997 "AMP Performance aspects in future releases"
Respected Weston Sir ,

Thank you for building such a great amp plugin for wordpress and we are loving it .

While I was testing various releases of AMP ( development / production ) I noticed that we are adding some UI / Setup feature in AMP plugin and those features were already added in upto date dev build of AMP here
https://github.com/ampproject/amp-wp/wiki/Development-Builds

I noticed that t

[2020-07-07 19:16] westonruter commented on #4997
Plugin performance is a top priority and recent changes should definitely not be slowing the plugin down. In fact the opposite should be true.

You mention the development build is making the site slow. Slow in what respect? Server-side performance or frontend performance?

Take note of #4991 which was just merged yesterday. It drastically improves server-side performance.

Please also look at you

[2020-07-07 19:34] askmeoffers commented on #4997
Hi Thanks for quick revert .

I just installed updates from #4991  and its live on my site .

Also I can see in Site Health that there is a warning about CSS transient caching being disabled as per below snapshot .

How to enable it ? Via which button ?

How I measure speed of my site is by using online below tool and we see scores on both mobile and desktop

https://developers.google.com/speed/pa

[2020-07-07 19:54] westonruter commented on #4997
Since you have an external objet cache then this is not applicable. No button is shown because parsed CSS transient caching is not relevant. So that's not the issue.

How do you know the issue is with the AMP plugin being slower or if the issue is a change due to an update in Lighthouse with the introduction of Web Core Vitals?

[2020-07-07 20:56] askmeoffers commented on #4997
Thanks!

I will do below steps to replicate the issue and share the details

1) I will discuss this with our theme development team to get their feedback as well.
2) I will do the detailed testing with different releases of AMP plugin and see how scores are improving/reducing ( page speed score of the lighthouse ).

Yes, I am aware of Web Core Vitals and also familiar that they are throwing unused

[2020-07-07 21:09] pierlon commented on #4996
@johnwatkins0 The branch you were working on was `feature/4704-settings-screen-updates`, right?

[2020-07-07 21:16] johnwatkins0 commented on #4996
Actually this might be a false alarm because I'm no longer seeing it. I'll assign this to myself and report back if it comes again.

<img width="1114" alt="Screen Shot 2020-07-07 at 4 16 20 PM" src="https://user-images.githubusercontent.com/9020968/86844141-39170680-c06d-11ea-9aa8-3298eb939a63.png">

[2020-07-07 21:18] pierlon commented on #4996
Ah OK. I wasn't able to replicate the issue locally, but I'll keep an eye on it still.

[2020-07-07 21:41] westonruter commented on #4795
Here's the logic that WP-CLI uses to prevent a theme from being loaded when `--skip-themes` is supplied:

https://github.com/wp-cli/wp-cli/blob/cb7a8af075edf8a83d3a273e03ceb5716f15eb34/php/WP_CLI/Runner.php#L1339-L1341

https://github.com/wp-cli/wp-cli/blob/cb7a8af075edf8a83d3a273e03ceb5716f15eb34/php/WP_CLI/Runner.php#L1633-L1677

[2020-07-08 04:03] westonruter commented on #4719
Yes, if there are theme errors, then we recommend Reader mode.

If there are no theme errors but there are plugin errors, then Transitional mode can recommended (especially for technical users).

If there are no theme errors nor plugin errors, then Standard mode can be recommended (especially for technical users).

I believe the scenarios are captured in the [AMP Copy Configuration Table](https://

[2020-07-08 08:00] schlessera commented on #4997
I'm definitely interested in hearing more details about the exact changes. We're currently heavily invested in making the performance as good as technically possible, and the more data we have, the better we know what to optimize for.

Also, great to hear that the Optimizer release already had such a good result for you, thanks for letting us know!

[2020-07-08 10:29] schlessera opened #5002 "Add microcaching to capture WordPress page"
## Feature description

I have the hypothesis that somewhat often, a regular WordPress page will be generated, and then after that, the AMP page will be generated with only a small delay in-between (or vice-versa, AMP and then WP regular).

I think this can happen:
- in paired browsing mode
- probably during Google indexing (where Google sees the AMP rel link after indexing the page)
- when doing

[2020-07-08 11:53] okupdatenumber opened #5004 "AMP Frontpage SEO Error"
Our WordPress website has a home page frontpage set up.  Everything is going well without the AMP, but as soon as the AMP activates, a lot of problems arise that is happening to all WordPress users.

Error List 🧐👨‍💻

1. page published & page modified details was missing on opengraph.
2. AMP live list is not Update on Google.

[2020-07-08 12:33] askmeoffers commented on #5002
Sounds Interesting we will wait for this updates @schlessera and many thanks for building AMP optimizer framework.

[2020-07-08 16:01] westonruter commented on #5004
Please share the URL for your site.

[2020-07-08 18:27] westonruter opened #5006 "Unable to preview customizing the color scheme in Twenty Nineteen when AMP page loaded"
## Bug Description

When customizing the Twenty Nineteen theme and previewing an AMP page (either because the site is in Transitional mode and you clicked “Customize” while on an AMP page, or you have Twenty Nineteen selected as the Reader theme and you are customizing the AMP page), if you try changing the Primary Color:

![image](https://user-images.githubusercontent.com/134745/86955902-2e13b300

[2020-07-08 21:26] #4941 closed, assigned to schlessera

[2020-07-08 21:31] westonruter commented on #5002
I don't think this is the case. Themes and plugins will often vary the output of the page based on whether `is_amp_endpoint()`.

[2020-07-08 21:33] #2044 closed

[2020-07-08 21:33] #4476 closed

[2020-07-08 21:33] #4478 closed

[2020-07-08 21:35] westonruter commented on #2044
Note this has been implemented in #4984 not by adding features to the legacy post templates but rather to use entire AMP-compatible themes in Reader mode.

[2020-07-08 22:04] westonruter commented on #4708
Implemented in #4984.

[2020-07-08 22:04] #4708 closed, assigned to amedina

[2020-07-08 22:36] westonruter opened #5008 "Indicate which controls in the AMP Customizer for a Reader theme are shared with the non-AMP active theme"
## Feature description

When a Reader theme has been selected for Reader mode, the Customizer opened from an AMP page will be distinctly for the theme that was chosen for Reader mode. It will have the theme-specific settings for the Reader theme instead of the settings for the active theme. Additionally, the Themes panel and Widgets panels are removed from the AMP Customizer:

Non-AMP Customizer |

[2020-07-09 02:07] amedina commented on #5002
+1

On Wed, Jul 8, 2020 at 2:32 PM Weston Ruter <notifications@github.com>
wrote:

[2020-07-09 05:37] westonruter commented on #2724
After thinking about this more, I think we need to eliminate `templates_supported` entirely. It turns out to not even be enforced right now because you can still have a site with `'templates_supported' => 'all'` which also is in Transitional (`paired`) mode. The original intention of this theme support flag (as demonstrated in #1864) is to _prevent_ a user from turning off AMP, with the goal of pr

[2020-07-09 05:39] westonruter commented on #2724
On a related note: I think that `paired => true` should be the default when `add_theme_support('amp')` is added because, again, the reality is that all themes need to support when AMP is on or off.

I think the `paired` flag is actually of extremely little value. At best it is a signal for which mode a theme prefers to be in. But the user can always override. We should consider removing it as well

[2020-07-09 05:44] westonruter commented on #1864
Per https://github.com/ampproject/amp-wp/issues/2724#issuecomment-655912218, I'm now thinking that we should eliminate a whole bunch of stuff that has turned out to _not_ be useful over the years:

* The `templates_supported` flag.
* The `immutable` flag for templates supplied via the `amp_supportable_templates` filter.
* The `paired` flag.
* The `available_callback` flag (already removed in `deve

[2020-07-09 05:48] schlessera commented on #5002
Ah, yes, of course.

Do you think it would make sense to detect usage of `is_amp_endpoint()` and micro-cache if it was not used?

[2020-07-09 06:04] westonruter commented on #5002
No, because `is_amp_endpoint()` will be used on _every_ page, if not by a third party theme/plugin theme AMP plugin itself. For example, when `is_amp_endpoint()` is true then the AMP plugin will preemptively not use MediaElement.js and it will preemptively use AMP components for some oEmbeds, for example. In other words, the plugin does as much as it can do during template generation to create the

[2020-07-09 17:23] amedina commented on #2724
This is an important change, making the plugin more user-centric by minimizing the surface touch points on programmatic access.

[2020-07-09 17:46] johnwatkins0 commented on #4996
I haven't seen this again. Going to close it.

[2020-07-09 17:46] #4996 closed, assigned to johnwatkins0

[2020-07-09 20:51] johnwatkins0 opened #5013 "Move Analytics Options submenu into "Advanced" section of settings page"
## Feature description

Mentioned by @westonruter here: https://github.com/ampproject/amp-wp/pull/4998#discussion_r452433011

## Acceptance criteria

- No more Analytics Options menu
- Form exists on settings page in a section that can be expanded/collapsed

## Implementation brief

* Handle fetching, updating data via the AMP Options REST endpoint

## QA testing instructions

*

## Demo

*

## Ch

[2020-07-09 21:18] askmeoffers commented on #4997
Hi @schlessera ,

My team is still debugging the issue of slowness and I will share the detailed report with different versions of AMP plugin soon.

Meanwhile, I had a few points which we can think of and which might improve the performance of a page

The only metric we use is the Lighthouse score ( Web Vitals )

Point 1) Optimizing DOM elements using AMP plugin ( like CSS tree shaking)

A large D

[2020-07-09 21:43] johnwatkins0 opened #5014 "Plugin settings page: Handle plugin suppression table via REST/React"
## Feature description

In #4998 the plugins settings page rebuilt using REST endpoints and components created for the onboarding wizard. Converting the Plugin Suppression table to this approach was deferred due to the size of the task.

Current screenshot:

<img width="935" alt="Screen Shot 2020-07-09 at 5 02 47 PM" src="https://user-images.githubusercontent.com/9020968/87095293-1835e900-c206-11e

[2020-07-09 22:01] johnwatkins0 opened #5015 "Plugin settings page: Handle post type/template selection via REST/React"
## Feature description

Following up on #4998, which rebuilt the plugin settings screen using REST endpoints and components built for the setup wizard. One part that was largely left out of the updates due to its potential size and complexity was this:

<img width="876" alt="Screen Shot 2020-07-09 at 4 57 13 PM" src="https://user-images.githubusercontent.com/9020968/87094955-76160100-c205-11ea-80e

[2020-07-09 23:28] westonruter commented on #5013
Also referenced in https://github.com/ampproject/amp-wp/issues/2317#issuecomment-644517692, which may or may not be resolved by whatever PR closes this.

[2020-07-09 23:43] westonruter commented on #5013
While not as important as #5014 or #5015, this would be great to include in 1.6 because then we can eliminate all of the old form-based options processing in favor of exclusively using the REST API.

[2020-07-10 00:01] #4475 closed

[2020-07-10 00:01] #4560 closed, assigned to nobody

[2020-07-10 00:01] #4704 closed, assigned to amedina

[2020-07-10 00:01] #4990 closed, assigned to pierlon

[2020-07-10 01:10] johnwatkins0 opened #5016 "Revise onboarding wizard entry points"
## Feature description

Naming the issue as such so I can combine two small updates into one 😄

As discussed in Slack, we will:

- Remove the "Onboarding Wizard" menu item
- Remove the plugin activation notice on the settings screen

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Users can access the o

[2020-07-10 01:18] johnwatkins0 opened #5017 "Settings screen: Make template mode and reader theme sections more compact"
## Feature description

From @amedina on Slack:

1. ~Make the Template Mode an accordion of sorts, when the selected theme is open, and the others are collapsed.~ Make each template mode selectable and expandable.
2. Provide a way to browse available themes without having all them on the screen at the same time

And from @westonruter:

## Acceptance criteria

* Template mode will display three sel

[2020-07-10 01:19] johnwatkins0 commented on #5017
@jwold Not sure if we want to save this for after 1.6 or not (I'll leave that decision to you, @westonruter and @amedina), but I'm going to assign this to you to consider options and maybe mock something up when the time comes.

[2020-07-10 01:33] johnwatkins0 opened #5018 "Minor UI updates on settings screen"
## Feature description

Copying from Slack.

1.

![image (1)](https://user-images.githubusercontent.com/9020968/87106310-c9e31300-c222-11ea-80c7-205cdd572d5d.png)

2.

![image (2)](https://user-images.githubusercontent.com/9020968/87106367-ed0dc280-c222-11ea-80d9-70dcb4b772db.png)

3.

4.

5.

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Chan

[2020-07-10 01:34] johnwatkins0 commented on #5018
@jwold Interested in your input on any of these items before I work on them.

[2020-07-10 02:21] jwold commented on #5018
@johnwatkins0 my thoughts :)

This should be fine.

Agreed, let's remove the margin.

I think it would look imbalanced. Not a fan of this, but ok if we want to try it. Screenshot of what it would look like: https://d.pr/i/z40Y8q

I think that's a good idea.

I was actually thinking the same! :)

[2020-07-10 02:22] westonruter commented on #5017
I think we have time. Milestoned.

[2020-07-10 04:32] westonruter opened #5020 "Settings screen fields are empty when first activating the plugin"
## Bug Description

When first accessing the admin screen after activating the plugin (and not going through the wizard), all of the settings are blank (e.g. the template mode is not selected). While this is correct for the Wizard, it cannot be correct for the admin screen as for users who have upgraded to the this version of the plugin need to have all their previously-saved settings shown.

## E

[2020-07-10 05:48] johnwatkins0 commented on #5020
Yes, good point. Currently when `plugin_configured` (a new option) is `false` we unset the default template mode and reader theme in the React state to force the user to make choices. This was intended for the wizard but it's applying to the settings screen as well. For this fix we can:

1. Pass a prop into the React options context provider to indicate we're on the settings page and not to unset

[2020-07-10 06:07] westonruter commented on #5020
It depends on what we want existing users of the plugin to be presented with the wizard as blank or using the values they previously have been using.

If we don't want that, then 1 is the correct approach.

If we don't, then we could do something in `\AMP_Options_Manager::get_options()` where we make the `plugin_configured` key `true` if `$options` was not empty. So something like:

[code]

I kind

[2020-07-10 14:47] sboerrigter opened #5021 "CSS sanitizer removes classes with a slash (/)"
## Bug Description

Classes with slashes (such as `.w-1/4`) are not included in the CSS output on AMP pages.

## Expected Behaviour

If the HTML marktup contains a CSS class with a slash (such as `class="w-1/4"`) the styling for that class should be included in the CSS output.

## Steps to reproduce

1. Edit a template file (such as `single.php`).
2. add a CSS class with a slash (such as `<h1 clas

[2020-07-10 14:56] sboerrigter opened #5023 "CSS sanitizer removes CSS variables"
## Bug Description

CSS variables (such as `border-color:rgba(0,0,0,var(--border-opacity))`) are not included in the CSS output on AMP pages.

## Expected Behaviour

If the HTML marktup contains a CSS class with a CSS variable (such as `--border-opacity: 0;`) the styling for that css variable should be included in the CSS output.

## Steps to reproduce

1. Edit a template file (such as `single.php

[2020-07-10 15:17] pierlon commented on #5021
This seems to be a duplicate of #4609. We do have a fix for this ( see #4610), which is set to be available in v1.6 of the plugin.

[2020-07-10 15:43] jwold commented on #5017
Working on some ideas now for this.

[2020-07-10 15:47] pierlon commented on #5023
This should not be the case. Our included CSS tree shaker only removes unused CSS from AMP pages; if the CSS is not targeting an HTML element on the page, it will be removed.

For example (with AMP Plugin v1.5.5), if I add an HTML block with the following content:

[code]

I can see that the HTML element is styled appropriately:

![image](https://user-images.githubusercontent.com/16200219/87172917

[2020-07-10 16:34] jwold commented on #5017
Ok, got a few concepts I'd like to discuss.

1. Let's set a max-width on the content boxes and center them in the screen. Thinking 1060px. The exact padding inside and spacing between elements is still WIP.
2. Shrink the illustrations to 48px.
3. Add a simple thumbs up icon when the mode is recommended. Then selecting it gives the expanded answer below.
4. Try a carousel WITHIN the reader mode. Pu

[2020-07-10 17:44] westonruter commented on #5023
The issue is `var(--varname)` being nested inside of other CSS functions.

Consider this example:

[code]

The correct rendering is:

Note Opacity2 and Opacity3 look the same.

But on an AMP page it is rendered incorrectly, where the `color` value fails to be parsed:

This is due to the `var()` being nested inside of the `rgba()` function.

This is a known issue in the PHP-CSS-Parser:

https://git

[2020-07-10 17:46] sboerrigter commented on #5021
@pierlon thanks for the quick reply and sorry that I didn't see #4609.

I just tried the development version of the plugin and it seems like version 1.6 indeed fixes this issue 😄. I'll wait for that to be released. Thanks!

[2020-07-10 17:46] #5021 closed, assigned to nobody

[2020-07-10 17:55] westonruter commented on #5017
Yeah, I think these are definite improvements.

For the carousel, one challenge will be how the first and the last theme appear when selected, as they couldn't be centered, correct? Is it intended that the selected theme always be in the center?

I don't think we need to make the center/selected theme taller. I presume that clicking the left/right arrows should not cause cause selection to happen,

[2020-07-10 18:02] amedina commented on #5017
Sounds good. If we do so, should we do the same with the blue info messages inside the boxes?

<img width="1071" alt="Screen Shot 2020-07-10 at 10 54 22 AM" src="https://user-images.githubusercontent.com/506089/87183820-b88a1d00-c29b-11ea-97fc-1e390b7e4e19.png">

It sounds good. What is the current `px` value?

This I am not sure about this. It is not clear for users what the thumbs up icon means,

[2020-07-10 18:10] sboerrigter commented on #5023
Cool, thanks for the quick help guys.

Do you think this fix will make it into version 1.6 of the AMP plugin? And when is that version planned to release? In the [milestone](https://github.com/ampproject/amp-wp/milestone/28) I see "Due by August 01, 2020". Is that correct?

[2020-07-10 19:03] amedina commented on #5017
+1

Following up on my comment: I think we should keep (at least not v1.6) the template modes as they are now, as well as the inner boxes with the info and recommendation messages:

<img width="881" alt="Screen Shot 2020-07-10 at 12 02 58 PM" src="https://user-images.githubusercontent.com/506089/87189318-4d454880-c2a5-11ea-8c16-e6e5192bbfdc.png">

[2020-07-10 19:28] johnwatkins0 opened #5024 "Onboarding wizard: Next button sometimes incorrectly disabled"
## Bug Description

As brought up on Slack:

<img width="400" alt="Screen Shot 2020-07-10 at 12 07 58 PM" src="https://user-images.githubusercontent.com/9020968/87191024-36a8ec80-c2b9-11ea-91b3-5ad6ab61cb81.png">

Bug is probably somewhere in here:

https://github.com/ampproject/amp-wp/blob/develop/assets/src/onboarding-wizard/pages/template-mode/index.js#L32-L46

## Expected Behaviour

If the use

[2020-07-10 19:44] westonruter commented on #5023
We've adjusted the milestone date back to August 15th. If the issue is fixed upstream in PHP-CSS-Parser then we should definitely include the fix in v1.6.

[2020-07-11 23:43] #5006 closed, assigned to schlessera

[2020-07-12 18:30] westonruter commented on #5017
I'm not sure because these take up a lot of space, and there is a lot of elements on the settings screen. In the wizard we show them fully expanded but that makes sense to me because the modes are the only things shown on the screen. But on the settings screen having them collapsed seems better. But I also realize that it will be somewhat annoying to only expand the box when the radio button is se

[2020-07-12 18:59] westonruter commented on #4633
QA Passed

`amp-embedly-card` is used:

![image](https://user-images.githubusercontent.com/134745/87254342-d2139c00-c436-11ea-93e2-5e20a2e1584b.png)

The Good: It looks better than the non-AMP version.
The Bad: It's not 1:1 visual parity and there is a “Powered by embedly” caption.
The Ugly: It involves iframes nested 4 levels deep.

Overall, it's better than before.

[2020-07-12 19:28] westonruter commented on #4747
One side effect of this is if I have a non-fatal error with Xdebug enabled, I will get validation errors reported on the frontend but _not_ when validating a URL.

For example, with this plugin code:

[code]

And with Xdebug running and the `wp-config.php` containing:

[code]

The frontend shows:

But the Validated URL screen shows:

We could work around this by explicitly sanitizing the markup th

[2020-07-12 19:36] westonruter commented on #4940
QA Passed.

WP 5.0:

![image](https://user-images.githubusercontent.com/134745/87255029-0b9ad600-c43c-11ea-846b-f160ffa1c5e1.png)
![image](https://user-images.githubusercontent.com/134745/87255037-1d7c7900-c43c-11ea-9857-81081d6a9774.png)

WP 5.4:

![image](https://user-images.githubusercontent.com/134745/87255060-4f8ddb00-c43c-11ea-95fc-9ffbf67758d2.png)
![image](https://user-images.githubusercon

[2020-07-12 19:40] westonruter commented on #3474
QA Passed for plugins.

Before bumping Akismet version:

![image](https://user-images.githubusercontent.com/134745/87255085-94b20d00-c43c-11ea-9f7d-e48b64286773.png)

After:

![image](https://user-images.githubusercontent.com/134745/87255089-a1cefc00-c43c-11ea-81b8-d780cc228afb.png)

But _not_ for the theme. Changing the ~plugin~ **theme** version does not have the same effect.

[2020-07-12 21:11] westonruter commented on #4659
QA Passed

I can show show the custom fields, add a custom field, and then toggle AMP off, save, reload and the toggle remains off. I can then turn AMP on, save, reload, and the toggle remains on.

![image](https://user-images.githubusercontent.com/134745/87256670-98985c00-c449-11ea-9184-0c9052581821.png)

[2020-07-13 03:22] #3474 closed

[2020-07-13 18:15] #5024 closed, assigned to nobody

[2020-07-13 18:46] #4784 closed, assigned to amedina

[2020-07-13 18:46] #5008 closed, assigned to pierlon

[2020-07-13 18:54] #5004 closed, assigned to nobody

[2020-07-13 20:56] westonruter opened #5039 "Theme mods (including nav menu locations) are not copied from active theme to reader theme"
## Bug Description

When selecting a Reader theme, the theme mods from the active theme are not copied. This leaves the nav menus empty (or else the theme fallback of listing all pages is done) and other customizations are also left out. For non-menus, this is actually normal core behavior when switching themes. Core does not copy theme mods when switching themes, since the theme mods may not be a

[2020-07-13 23:08] amedina commented on #5017
Yeah; this is a good approach. I like conciseness and less text.

[2020-07-14 05:20] #1864 closed

[2020-07-14 05:20] #2724 closed

[2020-07-14 05:20] #4593 closed, assigned to nobody

[2020-07-14 15:45] jwold commented on #5017
@Weston

Agreed. We probably just should keep them all the same height.

@alberto

I'm thinking the blue info boxes are ok to just go to their natural max width, however long the content is. The boxes will be max-width 1060px, and the content inside will be max width 960px. Like this: https://d.pr/i/XXvgJp.

Actually, I'll modify that slightly. I want to do a max-height of 48px (or 50px, I think t

[2020-07-14 15:46] jwold commented on #5017
<img width="1155" alt="Screen Shot 2020-07-14 at 8 45 57 AM" src="https://user-images.githubusercontent.com/3411173/87446709-7d932c80-c5ae-11ea-97a2-825cbbfe02f7.png">

---

---

<img width="761" alt="Screen Shot 2020-07-14 at 8 46 07 AM" src="https://user-images.githubusercontent.com/3411173/87446715-8126b380-c5ae-11ea-99b0-3ee6f1468a30.png">

[2020-07-14 17:42] jwold commented on #5017
Updating description at the top with the latest.

[2020-07-14 21:15] #5020 closed, assigned to pierlon

[2020-07-14 22:22] johnwatkins0 commented on #5015
@westonruter Just confirming as I translate this bit into React, is this user_supported thing obsolete now?

[code]

[2020-07-14 22:24] #5016 closed, assigned to nobody

[2020-07-14 22:27] westonruter commented on #5015
Correct! The `user_supported` is gone.

[2020-07-14 22:27] westonruter commented on #5015
I mean, it's just redundant now with `supported`.

[2020-07-14 22:38] westonruter opened #5043 "Prevent showing admin settings UI until REST API requests have finished loading"
## Bug Description

I noticed when accessing the admin screen, there is a short period of time where none of the fields are populated:

![image](https://user-images.githubusercontent.com/134745/87483067-a5eb4d00-c5e7-11ea-815d-0e0b998e7c01.png)

Only then to be followed up with the previously-selected options being indicated:

![image](https://user-images.githubusercontent.com/134745/87483105-bbf9

[2020-07-14 23:04] westonruter opened #5045 "Wizard should direct users in Reader mode to Customizer at Done screen rather than Settings screen"
## Feature description

Based on https://github.com/ampproject/amp-wp/issues/5039 what we really want is for users in Reader mode to be directed to the AMP Customizer to ensure the proper customizations are in place. Because if they don't do this, the nav menus probably won't be assigned and the colors won't be reflecting the active theme.

So in reality, I'd probably say we should make “Customize

[2020-07-14 23:11] amedina commented on #5024
QA Passed.

[2020-07-14 23:23] amedina opened #5046 "Refine copy of `Supported Templates` section in admin screen"
- Both sections heading must be **bold**
-  Make first-column heading concise: `Content types available as AMP`
-  In second column, make the Singular template non-selectable when it is required by other templates (e.g. Posts)
- Remove notice `Required...`

<img width="1250" alt="Screen Shot 2020-07-14 at 4 12 34 PM" src="https://user-images.githubusercontent.com/506089/87485575-f9609980-c5ed-11ea

[2020-07-15 00:27] amedina commented on #4479
QA Passed.

[2020-07-15 00:33] amedina commented on #4705
QA passed.

[2020-07-15 00:46] amedina commented on #4871
Related: https://github.com/ampproject/amp-wp/issues/5046

[2020-07-15 00:48] amedina commented on #4871
- Center notice and icon.
- May use a smaller notice box proportional to the message to avoid excessive blank space

<img width="880" alt="Screen Shot 2020-07-14 at 5 43 18 PM" src="https://user-images.githubusercontent.com/506089/87490302-37fc5100-c5fa-11ea-9674-5250010a75ca.png">

[2020-07-15 04:11] #5014 closed, assigned to westonruter

[2020-07-15 05:38] schlessera commented on #4997
Thanks for these suggestions, @askmeoffers!

Yes, this is an on-going effort that is a big part of the plugin.

We might be able to drastically reduce this for images as WordPress will provide the needed information right away.

This is hard to do reliably across web hosts, as we'd need to run a binary and also figure out where to store the new files (the filesystem might be read-only?).

We're al

[2020-07-15 06:55] schlessera opened #5047 "Add admin bar performance overview"
## Feature description

To give a site owner an overview of backend and frontend performance of the AMP processing, we should add an overview into the admin bar integration.

We should have the backend performance metrics, where we visualize the server-timing measurements, and a frontend performance where we show Core Web Vitals and maybe other vital values specific to WP or AMP.

Both of these wi

[2020-07-15 10:33] schlessera commented on #4827
**QA passed**

The REST API endpoint is discoverable:

![Image 2020-07-15 at 12 06 39 PM](https://user-images.githubusercontent.com/83631/87534616-8e1ed200-c696-11ea-9789-4b96419b918d.png)

It cannot be used by an unauthenticated user:

![Image 2020-07-15 at 12 17 44 PM](https://user-images.githubusercontent.com/83631/87534650-98d96700-c696-11ea-849a-4058d4353f6d.png)

It returns the correct infor

[2020-07-15 10:42] schlessera commented on #4872
**QA passed**
![Image 2020-07-15 at 12 41 57 PM](https://user-images.githubusercontent.com/83631/87535949-9415b280-c698-11ea-9bee-4903758b746f.png)

[2020-07-15 10:51] schlessera commented on #4913
**QA passed**

Given the following filter:

![Image 2020-07-15 at 12 51 05 PM](https://user-images.githubusercontent.com/83631/87536751-e7d4cb80-c699-11ea-8df1-da4f1c9437b9.png)

The correct link is excluded from AMP-to-AMP linking:

![Image 2020-07-15 at 12 50 53 PM](https://user-images.githubusercontent.com/83631/87536777-f327f700-c699-11ea-950f-26409ec8a392.png)

[2020-07-15 12:28] schlessera commented on #4619
**QA passed**

The `is_amp_available()` function is present and works.

It also lets the user know if it is called at the wrong time within the WordPress lifecycle:

![Image 2020-07-15 at 2 26 28 PM](https://user-images.githubusercontent.com/83631/87544851-66843580-c6a7-11ea-8d15-5c99a37eb0d1.png)

[2020-07-15 14:48] johnwatkins0 commented on #5018
While working on this today I'm going to explore placing the plugin suppression and template sections into an "Advanced" panel. If it's not simple, I will save that for later.

[2020-07-15 15:20] johnwatkins0 opened #5048 "Wizard: Uninstallable reader theme incorrectly listed as available"
## Bug Description

From @amedina in Slack.

________________

1. With `define( 'DISALLOW_FILE_MODS', true );` in wp-config.php.
2. Delete all themes except 2015, 2016, including 2020 which was the active theme. Rerun wizard:
<img width="1228" alt="Screen Shot 2020-07-14 at 6 02 58 PM" src="https://user-images.githubusercontent.com/9020968/87563095-763e5280-c684-11ea-96f0-f6df50602a85.png">

The w

[2020-07-15 15:35] pierlon commented on #4914
Verified in QA:

PHPStan does not trigger a warning when `composer analyze` is run:

![image](https://user-images.githubusercontent.com/16200219/87565118-c03d2d80-c6b0-11ea-837e-b7750ec1afce.png)

[2020-07-15 15:43] westonruter commented on #4952
Explainer: https://make.wordpress.org/core/2020/07/15/register-theme-feature-api/

[2020-07-15 15:51] johnwatkins0 commented on #5018
I'm also going to switch to WP 5.0 and test everything.

[2020-07-15 16:00] pierlon commented on #4886
**QA passed:**

There are still some instances of `master`, `blacklist` and `whitelist` in the project, but that's a side-effect from:

- direct and indirect dependencies in use
- code comments that require use of these terms (eg. ignoring a code style rule, or link to docs)

---

Count of instances of `whitelist`:

![image](https://user-images.githubusercontent.com/16200219/87567247-9802fe00-c6b3

[2020-07-15 16:13] swissspidy opened #5050 "Allow filtering list of eligible post types"
## Feature description

In the Web Stories plugin we currently skip AMP for the `web-story` post type entirely using the `amp_skip_post` filter.

Since the Stories post type is `public`, it will appear in the list of eligible post types on the settings screen:

<img width="948" alt="AMP Plugin Stories content type" src="https://user-images.githubusercontent.com/841956/87568386-df928580-c6c5-11ea-9

[2020-07-15 16:22] schlessera opened #5051 "amp_get_current_url() broken in CLI context (on broken sites)"
## Bug Description

`amp_get_current_url()` is broken in CLI contest. If it tries to parse a broken home URL and needs to guess the domain, it just assumes that `$_SERVER['HTTP_HOST']` exists, which is not true outside of the webserver context, like when running WP-CLI commands via the `cli` SAPI. This causes PHP to throw a notice.

## Expected Behaviour

It should not throw any PHP notices, regar

[2020-07-15 16:55] schlessera commented on #4941
**QA passed**

This works as expected:
![Image 2020-07-15 at 6 39 37 PM](https://user-images.githubusercontent.com/83631/87573127-ce00ac00-c6cc-11ea-856f-078a48f77533.png)

[2020-07-15 17:03] schlessera commented on #4525
**QA passed**

The error for calling it too early is fixed:
![Image 2020-07-15 at 7 02 41 PM](https://user-images.githubusercontent.com/83631/87573895-ddccc000-c6cd-11ea-868d-e3986776434f.png)

[2020-07-15 17:12] johnwatkins0 commented on #5017
I'm including several of the small updates here in #5049.

Not including;

1. Themes carousel
2. Expandable template modes

Wanted to call out one piece in the comps:

<img width="502" alt="Screen Shot 2020-07-15 at 12 07 26 PM" src="https://user-images.githubusercontent.com/9020968/87574422-f4562580-c693-11ea-9d63-03c138752c3e.png">

This came up during an earlier stage when we were working throu

[2020-07-15 17:24] westonruter commented on #5018
@johnwatkins0 Here's another issue that can be easily addressed here. The toggles don't feel the same as the radio buttons in two ways:

1. The outline is different. Radio button is 2px whereas toggle is 1px.
2. The color is different. Radio button is medium gray but toggle is dark gray.

Radio Unselected | Radio Selected
------------|----------
![radio-unselected](https://user-images.githubuserco

[2020-07-15 17:46] johnwatkins0 commented on #5018
I'll make those adjustments. I might be imagining things, but I updated to the WP 5.5 nightly this morning and I think the switch was changed. I'll make sure 5.5 isn't having any other unwanted effects.

[2020-07-15 17:51] jwold commented on #5018
Agreed with all Weston's feedback except, I would lean toward 2px widths, just because we're trying to copy amp.dev with all their icons being 2px. Not a hill I'd die on, but a preference for now.

[2020-07-15 18:22] jwold commented on #5017
Here's a concept that's worth discussing. It makes the boxes a little bigger, but should simplify the technical work to select the radio button at the top, while the arrow expands the box. Thoughts?

![Standard 5](https://user-images.githubusercontent.com/3411173/87581263-7bec6600-c68d-11ea-9ab4-b1721140a702.png)

cc @amedina and @westonruter

[2020-07-15 18:23] amedina commented on #5017
I like it very much.

[2020-07-15 18:27] johnwatkins0 commented on #5018
Updated the borders for radios, toggles, and checkboxes to be consistent in 3fba71ac9:

<img width="42" alt="Screen Shot 2020-07-15 at 1 25 39 PM" src="https://user-images.githubusercontent.com/9020968/87581587-d04c1180-c69e-11ea-81e1-770f1482d530.png">

[2020-07-15 18:28] westonruter commented on #5017
Will every mode always have a notice, whether info, warning, or error?

[2020-07-15 18:33] jwold commented on #5017
We haven't officially decided on this. It works better if there IS a notice, but I wouldn't want to just add noise if it's not relevant.

[2020-07-15 18:39] westonruter commented on #5017
@jwold How about doing this instead: add a vertical separator between the toggle side and the radio side to make it clear where the dropdown button target is. Like this:

![image](https://user-images.githubusercontent.com/134745/87582786-c838a580-c68f-11ea-8b35-4e34dde14d10.png)

[2020-07-15 18:50] jwold commented on #5017
I didn't realize we could have them on the same line. I think that's a great idea @westonruter if we can pull it off technically :)

[2020-07-15 18:56] johnwatkins0 commented on #5017
I will give it a try.

[2020-07-15 19:20] westonruter commented on #5046
Fixed in 32b1dd1c9c57ed5a4caa1f233ca592463a3c4359

[2020-07-15 19:23] pierlon commented on #4626
@westonruter Would you still deem the message informing the user of AMP being disabled for the page necessary?

[2020-07-15 19:25] westonruter commented on #5046
Fixed in 9105286f9

[2020-07-15 19:28] westonruter commented on #5046
What appears here is actually not intended to be a heading. It's a description. The heading got hidden accidentally. Now it appears as:

![image](https://user-images.githubusercontent.com/134745/87587093-7fd0b600-c696-11ea-92b7-c595fe9aee3a.png)

When in legacy mode, the heading is hidden since only the post types are shown in the first place:

![image](https://user-images.githubusercontent.com/13

[2020-07-15 19:33] pierlon commented on #4626
**QA passed**

- Paired browsing is available even though kept errors are on the page
- The disabled icon is shown as the status for AMP
- Redirection does not occur to the non-AMP page
- Redirection does occur for a person without dev tools
- Brief summary shown for validation errors to indicate why AMP is disabled

![image](https://user-images.githubusercontent.com/16200219/87587683-f343e900-c6d

[2020-07-15 19:37] westonruter commented on #5046
How about this as an alternative: When unchecking the Singular template, throw up a `confirm()` dialog:

![image](https://user-images.githubusercontent.com/134745/87588044-dd193700-c697-11ea-96c9-033a76c6846f.png)

Done in 0a6df8c9a6f7f8d1ec00ea9b4af70d8db4c2b297.

[2020-07-15 19:39] amedina commented on #5046
Love those changes. Very much aligned with the rest of the UI.

[2020-07-15 19:49] westonruter commented on #5046
One other thing I noticed missing is a description paragraph to go under the Templates heading. So in 1084e1899 I've added a paragraph that has a link to the [template hierarchy](https://developer.wordpress.org/themes/basics/template-hierarchy/) handbook page:

![image](https://user-images.githubusercontent.com/134745/87589042-7f85ea00-c699-11ea-948f-a5018724b7aa.png)

[2020-07-15 19:59] westonruter commented on #4626
It would be a good enhancement. The legacy reader mode has this in that the AMP toggle becomes disabled if AMP is not available for the URL being previewed. We could do something similar when a Reader theme is selected, though we'd have to figure out where to place that notice. Not important for now though.

[2020-07-15 20:08] amedina commented on #4812
@johnwatkins0  The QA instructions do not apply to local testing.

[2020-07-15 20:10] amedina commented on #4801
- This passes QA for the common use cases
- Pending review of the problem identified regarding the deletion of the active theme and the `Congratulations` screen message.

[2020-07-15 20:15] amedina commented on #4961
Test:
Upon activating the plugin on a new site, a notice should appear in the Plugins screen with a link to the onboarding.
Created a new site in Local by Flywheel, notice did not appear.
Wizard notice in Settings screen shows `Reopen Wizard` button the first time is accessed.

[2020-07-15 20:35] amedina commented on #5046
Oh yes; that is needed.

The copy: `Serve all templates as AMP regardless of what is being queried` can be calibrated as well. We will do that on the copy overall pass.

[2020-07-15 20:39] amedina commented on #5017
+1  Having the notice in the same line with the separator before the toggle would make it the UI sleeker and more compact.

+1 on the notice. Once we have site scan, there should be a meaningful notice in every case.

[2020-07-15 21:45] westonruter commented on #5017
The full notice text can be displayed once expanded, however. Otherwise, a short “Recommended” can be shown when for the option(s) which are recommended. No need to show a warning if the user is not trying to select the mode in the first place.

[2020-07-15 22:32] #4970 closed, assigned to pierlon

[2020-07-15 22:52] westonruter commented on #5051
I don't believe this occurs if your `wp-cli.yml` has a `url` field already supplied.

Also, my `wp-config.php` has `WP_HOME` and `WP_SITEURL` set. So I'm not seeing it here either.

The issue will only occur if `home_url()` does not return a URL with a `host` in it. Why is this occurring for you?

[2020-07-15 23:49] westonruter commented on #5048
On a related note, we should probably update the logic in `ReaderThemeLoader` to abort `override_theme` if the provided `reader_theme` is not available.

Actually, I thought this would have been accounted for already per:

https://github.com/ampproject/amp-wp/blob/7dc643bfcae164963f3244596944fa04998698f8/src/ReaderThemeLoader.php#L147-L155

The `$reader_theme` variable here should be `null` if the

[2020-07-15 23:52] westonruter commented on #5050
Filter can be added here in `AMP_Post_Type_Support::get_eligible_post_types()`:

https://github.com/ampproject/amp-wp/blob/7dc643bfcae164963f3244596944fa04998698f8/includes/class-amp-post-type-support.php#L35-L50

[2020-07-16 00:41] westonruter commented on #4961
I deleted my `amp-options` and then activated the AMP plugin. I saw the notice as expected:

![image](https://user-images.githubusercontent.com/134745/87613383-06e75380-c6c2-11ea-9234-4e93f03f8e6e.png)

The settings screen also prompts me to open the wizard:

![image](https://user-images.githubusercontent.com/134745/87613426-29796c80-c6c2-11ea-8add-891fff734566.png)

[2020-07-16 00:50] westonruter commented on #4448
QA Passed

Screen | Before | After
--------|-------|-----
Post List Table | ![image](https://user-images.githubusercontent.com/134745/87613773-2337c000-c6c3-11ea-97c2-7270d6e42783.png) | ![image](https://user-images.githubusercontent.com/134745/87613781-2d59be80-c6c3-11ea-85c3-b0b96b1f7921.png)
Term List Table | ![image](https://user-images.githubusercontent.com/134745/87613852-5a0dd600-c6c3-11ea-

[2020-07-16 00:53] westonruter commented on #4906
QA Passed

Re-checking a validated URL succeeds and no error appears in the error log.

[2020-07-16 00:58] westonruter commented on #4593
QA Passed

When turning off support for the Page post type…

Admin user sees:

Block Editor | Classic Editor
-------------|--------------
![image](https://user-images.githubusercontent.com/134745/87614254-5c246480-c6c4-11ea-9a2f-bc3c54cf5fa5.png) | ![image](https://user-images.githubusercontent.com/134745/87614390-bd4c3800-c6c4-11ea-92da-f1673079b651.png)

Editor user sees:

Block Editor | Classic

[2020-07-16 01:07] westonruter commented on #4804
QA Passed

![image](https://user-images.githubusercontent.com/134745/87614832-00f37180-c6c6-11ea-99ea-73b4a6fddbf9.png)

[2020-07-16 01:08] amedina commented on #4961
QA passed.

[2020-07-16 04:22] schlessera commented on #5051
My bad, I forgot an important step in the replication instructions. This issue only happens if you have a bad home URL that `wp_parse_url()` cannot properly parse to begin with.

I've adapted the description and instructions above.

[2020-07-16 05:59] #5015 closed, assigned to pierlon

[2020-07-16 05:59] #5046 closed, assigned to westonruter

[2020-07-16 06:41] westonruter commented on #5051
So this would be very unusual to encounter, yeah?

[2020-07-16 06:43] westonruter commented on #5050
I think we need to do two things:

1. Eliminate showing the notice if the post type is not supported.
2. Discontinue subsuming the post types under the “all templates supported” checkbox. As demonstrated by the needs of web stories, there can be public post types which should not be processed by the AMP plugin even when all templates of the site should otherwise be served as AMP. This will elimina

[2020-07-16 06:46] westonruter commented on #5050
As opposed to a filter, we could also introduce a `show_in_amp` attribute on the actual `WP_Post_Type` objects. It could be `true` by default for any `public` post, but then you could override it to be `false` which could have the same effect as the filter. Maybe not ideal because that would be adding a new variable to a class that doesn't define it. I did do this in the Customize Posts plugin, ho

[2020-07-16 06:47] schlessera commented on #5051
Yes, but the entire point of the other PR I QAed where I detected this issue was to make it robust against edge cases.

[2020-07-16 07:27] swissspidy commented on #5050
What about post type supports?

[2020-07-16 10:49] schlessera commented on #2724
**QA passed**

Tested various combinations in both the Gutenberg editor:

![Image 2020-07-16 at 12 48 37 PM](https://user-images.githubusercontent.com/83631/87662590-b6740280-c762-11ea-86b9-3f39a20b86c9.png)

... as well as the Classic editor:

![Image 2020-07-16 at 12 48 22 PM](https://user-images.githubusercontent.com/83631/87662617-c12e9780-c762-11ea-9686-672d8e74a17a.png)

[2020-07-16 13:13] westonruter commented on #5050
The plugin already supports an `amp` post types support, but it is used to indicate which post types should be enabled _by default_. However, the user can enable AMP for all post types or disable AMP for any post types using the admin UI. Therefore `amp` post type support is only a positive signal for post types that _do_ support AMP. There is no way to use post type support to indicate that a pos

[2020-07-16 13:21] sebastianbenz opened #5055 "Optimize hero images"
## Feature description

The validator support for server-side rendering amp-img as img has been merged ([cl/321463348](http://cl/321463348)). Would be great to also support this in the AMP WP plugin. As a reference on how to add it, you can find the AMP Optimizer integration [here](https://github.com/ampproject/amp-toolbox/pull/859).

A few notes on the AMP Optimizer integration:

1.  It will eith

[2020-07-16 16:01] pierlon commented on #5020
**QA Passed**

A default set of options is set and persisted if the `amp-options` option does not exist:

![image](https://user-images.githubusercontent.com/16200219/87694330-930a8100-c77d-11ea-9067-9d40f58b72fc.png)

[2020-07-16 16:11] pierlon commented on #1864
**QA Passed**

When a template is disabled, the following (collapsible) notice is now shown:

![image](https://user-images.githubusercontent.com/16200219/87695415-ff39b480-c77e-11ea-8579-a341c9a22bf7.png)

If the user is not an administrator, the notice is not shown.

[2020-07-16 16:24] schlessera commented on #5006
**QA passed**

The theme's primary color can be changed and reflects changes in realtime on the AMP version of a page:

![Image 2020-07-16 at 6 23 07 PM](https://user-images.githubusercontent.com/83631/87696732-81cb6f80-c791-11ea-928b-3c42f5734291.png)

The style to make this possible is marked with `data-ampdevmode`:

![Image 2020-07-16 at 6 23 29 PM](https://user-images.githubusercontent.com/836

[2020-07-16 17:27] westonruter commented on #5055
This is great.

For added heuristics in the WordPress context, we may be able to use the same logic that is being used for lazy-loading images that landed in 5.5-beta: the `loading=lazy` is omitted from images that are likely to be used in the first viewport. We could use the same logic to add `data-hero` to the page if no `amp-img` elements exist on the page with that attribute. See https://core.

[2020-07-16 19:11] pierlon commented on #5008
**QA Passed**

When customizing a Reader theme:

- AMP notice is shown in root panel

![image](https://user-images.githubusercontent.com/16200219/87712060-aaeefe80-c797-11ea-8fb4-e3b452bb803b.png)

- Notice is shown in Menus panel:

![image](https://user-images.githubusercontent.com/16200219/87712212-e12c7e00-c797-11ea-9206-b6c754eef9e1.png)

- Notices are shown for shared options:

![image](https

[2020-07-16 19:43] pierlon commented on #4970
**QA Passed**

- When logged in, the server timing metrics are sent:

Without `amp_verbose_server_timing` query var | With `amp_verbose_server_timing` query var
---|---
![image](https://user-images.githubusercontent.com/16200219/87714968-1f2ba100-c79c-11ea-85b2-d4489772623c.png) | ![image](https://user-images.githubusercontent.com/16200219/87715019-379bbb80-c79c-11ea-8962-52c944c962fc.png)

- When

[2020-07-16 20:12] westonruter commented on #5045
Now that we have a Customizer link at the top of the settings screen this is less important, but I think it's still a good change to make.

[2020-07-16 20:12] pierlon commented on #4990
**QA failed**

Template mode recommendations are not improved and does not factor in whether the current theme is AMP compatible:

![image](https://user-images.githubusercontent.com/16200219/87717822-8d726280-c7a0-11ea-91d6-5233bb8f431a.png)

The AMP settings page does seem to make note of the current theme being AMP compatible, however:

![image](https://user-images.githubusercontent.com/16200219

[2020-07-16 20:13] amedina commented on #5045
Yeah; this is important still to complete the flow nicely.

[2020-07-16 22:29] #5018 closed, assigned to nobody

[2020-07-16 22:29] #5043 closed, assigned to westonruter

[2020-07-17 04:14] #5050 closed, assigned to westonruter

[2020-07-17 10:26] swissspidy commented on #5050
Awesome @westonruter!

Opened https://github.com/google/web-stories-wp/issues/3257 to make use of this in the Web Stories plugin.

[2020-07-18 04:29] westonruter commented on #2817
I just realized that the code snippet in the description will no longer work as of #5010 since the database option now controls the mode. So this means we do need this filter for v2.0.

The filter should be able to force AMP to be disabled for a given URL, ensuring that an arbitrary URL can serve non-AMP content even when Standard mode is enabled.

There's also a need for sites in Transitional/Rea

[2020-07-20 13:57] schlessera commented on #4569
I'm hitting technical limitations here with the approach I have been using: Using a PHP built-in server within GitHub Actions and running the Lighthouse CI collection against that local server.

The following limitations make collecting useful information hard:
1. The built-in PHP server does not support HTTP/2, which makes all network access slower.
2. The built-in PHP server does not support .ht

[2020-07-20 14:01] schlessera commented on #4569
As an alternative (to avoid publicly accessible deployments), we could use our own GitHub Actions runner instead. The way I understand this so far is that we'd provide a machine that runs GitHub Actions job queue and point GitHub to using that one instead of the provided VMs it uses by default.

By doing so, we could reserve a VM where we control the dimensioning, so that we can still run a localh

[2020-07-20 14:08] schlessera commented on #4569
Another alternative would be to look into the other CI providers: Travis CI, Circle CI, ...

GitHub Actions seems to fluctuate very heavily, but my guess would be that not all of the CI providers have such a pronounced fluctuation, and using a different one for the Lighthouse collection might solve issue 4. above.

[2020-07-20 15:25] schlessera opened #5066 "Disconnected foreach in core block handler"
In the Core block embed handler, there's a `foreach` loop that seems out of place and is a probable bug:

https://github.com/ampproject/amp-wp/blob/b51629b407f74f99521e69fc6c080a57552b7068/includes/embeds/class-amp-core-block-handler.php#L347-L355

Note that this `foreach` loop runs for every `$text_widget` that is found by the wrapping `foreach` loop, but doesn't seem to have any relation to said

[2020-07-20 17:57] amedina commented on #4569
Going with Travis would be good.

On Mon, Jul 20, 2020 at 7:08 AM Alain Schlesser <notifications@github.com>
wrote:

[2020-07-20 18:52] westonruter commented on #5066
The origin of that code is #4515 and my commit here: edf3d5d37be6d3ae3b1385f0ead8a0f7320667d5

The relation to the Text widget is `video` shortcodes that occur _inside_ the Text widget. Does that make sense?

[2020-07-20 19:13] pierlon opened #5070 "Choosing custom reader theme does not show its info when said info is no longer supplied"
## Bug Description

To summarize the overly complex title, if I activate a plugin that adds a custom reader theme like so:

[code]

Then deactivate said plugin, the following can be seen in the Reader themes section on the Settings page:

![image](https://user-images.githubusercontent.com/16200219/87976197-3c25e400-cabc-11ea-9374-0fef9388d428.png)

Notice that the theme name is not being shown. Th

[2020-07-20 19:56] schlessera commented on #5066
The _inside the text widget_ part is missing, it's just doing the same
operation over the entire document _for each text widget_.

On Mon, 20 Jul 2020, 20:52 Weston Ruter <notifications@github.com> wrote:

[2020-07-20 23:09] westonruter opened #5072 "Remove obsolete Hulu embed handler"
## Feature description

Hulu silently dropped oEmbed support: https://wptavern.com/wordpress-5-5-to-remove-hulu-from-list-of-supported-oembed-providers

Therefore, the AMP plugin should eliminate `AMP_Hulu_Embed_Handler`.

Relates to removing Vine support in #4673.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance c

[2020-07-21 00:22] westonruter commented on #5066
Ah, I see. I neglected to include the `$text_widget` element as the XPath query context. Fix in #5074.

[2020-07-21 01:13] #4673 closed, assigned to westonruter

[2020-07-21 01:13] #5072 closed, assigned to nobody

[2020-07-21 06:32] westonruter opened #5077 "Reader mode switches to Transitional when active theme is child of reader theme"
## Bug Description

If my active theme is a child theme of Twenty Twenty, if I try setting my Reader theme to Twenty Twenty then it switches me unexpectedly to Transitional mode. That shouldn't be the case. I should only be automatically switched to Transitional mode if the Reader theme is set to be the _same_ as the active theme.

## Expected Behaviour

If the active theme is a parent and the Rea

[2020-07-21 07:12] westonruter commented on #5070
I suppose we should force the current reader theme to be among the list. If the active reader theme is not in the list after filtering, then we should ensure it gets included.

[2020-07-21 10:47] netnaps commented on #3812
the Google AdSense publisher id starts with pub-, not ca-pub- as per google screenshot attached.
![Screenshot 2020-07-21 at 4 16 38 PM](https://user-images.githubusercontent.com/67054369/88046395-9b8ffc80-cb6d-11ea-9322-cc6bcf34e8ef.png)

[2020-07-21 17:20] westonruter commented on #1216
We've agreed this is not feasible to do in a general way. It is up to hosts to add this information via `mu-plugins` on their respective platforms.

Here's an example for how a host can override the test actions to include not only host-specific documentation link but also a button that could be used to enable object caching on their platform:

[code]

The recommended site test result then looks l

[2020-07-21 17:20] #1216 closed

[2020-07-21 18:03] westonruter opened #5079 "Add SSR of amp-list Mustache templates"
## Feature description

The `amp-list` component now allows for initial hydration via `amp-state`: https://blog.amp.dev/2020/07/21/the-value-of-amp-list-initialization-from-state/

This is a great improvement to DX by eliminating the need to manually render the data server-side. Nevertheless, there _is_ still a small performance hit for CLS or LCP. Given that the rendering of the `amp-list` conten

[2020-07-21 18:53] westonruter commented on #5023
Upstream PR has been merged: https://github.com/sabberworm/PHP-CSS-Parser/pull/197

[2020-07-21 21:07] johnwatkins0 commented on #5017
@jwold @amedina @westonruter How do you think we should handle uninstallable themes on the settings screen? Having no put a great deal of effort into it so far, here's how it looks currently. Feels like it should be much, much smaller but I'm not sure how best to fit it all in.

<img width="604" alt="Screen Shot 2020-07-21 at 4 05 41 PM" src="https://user-images.githubusercontent.com/9020968/88107

[2020-07-22 06:16] westonruter commented on #5017
Humm. Good question. What if the unavailable themes are not shown in a section below… what if the “Unavailable themes” heading and description were put into a notice, and that this notice can contain a checkbox or button to toggle whether the unavailable themes are included in the carousel? The unavailable themes will have radio buttons which are disabled, and perhaps the entire card should have s

[2020-07-22 06:18] #5023 closed, assigned to westonruter

[2020-07-22 06:19] westonruter commented on #5023
@sboerrigter Please test the build with the patches applied to verify the issue is fixed: https://github.com/ampproject/amp-wp/pull/5081#issuecomment-662210637

[2020-07-22 09:07] sboerrigter commented on #5023
@westonruter yep, the patch fixed the issue. Thanks!

[2020-07-22 15:09] jwold opened #5082 "UI tweaks for onboarding Wizard"
## Feature description

Suggesting a few tweaks for the onboarding wizard to improve consistency.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Update font size https://d.pr/i/A1z0LA, https://d.pr/i/7huAgQ, https://d.pr/i/0rLgtY, https://d.pr/i/dlhjyX, https://d.pr/i/2BaZXl
* Review alignment: https:

[2020-07-22 19:05] westonruter opened #5083 "Reduce FOUT in Onboarding Wizard and Settings Screen"
## Bug Description

Since a custom font is being used in the Onboarding Wizard and Settings Screen, there is some FOUT (Flash Of Unstyled Text) that appears when first loading either screen the first time. Now that the Settings Screen shows a loading spinner this issue is much less pronounced, but it's still there.

We could try to reduce the FOUT by tuning the fallback fonts to more closely match

[2020-07-22 20:09] johnwatkins0 commented on #5017
Here's how I have that looking now (note items with the gray overlay). The toggle is off by default.:

<img width="1045" alt="Screen Shot 2020-07-22 at 3 08 13 PM" src="https://user-images.githubusercontent.com/9020968/88223563-49161500-cc2d-11ea-9fbe-3cd414b07543.png">

[2020-07-22 22:03] westonruter commented on #5017
I think that's pretty good. An idea to make it more clear which themes are unavailable: put some text over the _image_ that says “Unavailable”. This could have an rgba background with 50% opacity or something and rounded corners positioned in the center over the unavailable theme screenshot.

[2020-07-23 06:42] schlessera opened #5084 "Add PSR-12 code standard enforcement to external libraries"
## Feature description

The external libraries currently have no code standards check. This needs to be added, together with #4655.

The coding standard to use should be based off of PSR-12.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## D

[2020-07-23 07:52] schlessera commented on #5084
A code standards check was actually present, but it was hard-coded into the Composer command. It is preferable to have a separate rule file to apply automatically.

[2020-07-23 15:28] jwold opened #5086 "Create dynamic steps in onboarding wizard based on template mode selection"
## Feature description

During the onboarding wizard the user progresses and selects options relevant to their site. When they reach the `Template Mode` screen, they can choose between Reader, Transitional, and Standard mode. If they choose Transitional or Standard, they're taken to the Summary screen. However, if they choose `Reader`, they're taken to a new step: `Reader Themes`. This is a new st

[2020-07-23 20:03] #5077 closed, assigned to pierlon

[2020-07-23 22:57] westonruter commented on #4569
Maybe this isn't a good idea, but here it is: could we obtain the Lighthouse results and then just subtract the TTFB time from LCP? Or rather, we could take the output of the PHP process and save it to a static HTML file which we can then load with consistent serving time. If we're using Blackfire to test PHP performance, then isn't the Lighthouse result most revealing for what happens _after_ PHP