[2018-10-09 18:57] davisshaver commented on #1498
https://github.com/Automattic/amp-wp/pull/1499
https://github.com/Automattic/amp-wp/pull/1500

[2018-10-09 19:00] davisshaver commented on #1496
See followup notes in https://github.com/Automattic/amp-wp/issues/1498.

Parsely patch contributed.

[2018-10-10 00:00] westonruter commented on #1498
Can you please elaborate on the problem that you're facing? In particular, please share code that you are using which is not working as expected.

[2018-10-10 00:06] davisshaver commented on #1498
I _think_ I see what’s going on now, could you review https://github.com/Automattic/amp-wp/pull/1499#issuecomment-428385899 and if you agree I can flesh out the docs part?

[2018-10-10 04:03] austintude commented on #1497
Ive made the shift. I'll let you know if it repeats. Otherwise, no news
will equal good news. Should have a new blog to post in 7 days.
Thanks

Daniel Bisett - Owner / Developer ~ Austintatious Design

On Tue, Oct 9, 2018, 3:47 PM Weston Ruter <notifications@github.com> wrote:

[2018-10-10 06:21] itsmeevg opened #1501 "How can i add amp-sidebar?"
Plugin version 1.0-RC1
Wordpress version 4.9.8
Hello.
How can i add amp-sidebar? Or convert to amp sidebar existing tag?

When I manually add the amp sidebar, I get an error
![image](https://user-images.githubusercontent.com/7571432/46716645-90582f00-cc6d-11e8-8fc2-a471f209f4b9.png)
![image](https://user-images.githubusercontent.com/7571432/46716657-9b12c400-cc6d-11e8-93f1-9f7dc6690b74.png)

[2018-10-10 09:15] fabianmarz commented on #736
In case someone stumbles across this: I had the same issue today. This was caused because of the wrong placement of the `<amp-sidebar>` container where I placed it in a div, not as a direct child of `<body>`. As the [docs](https://www.ampproject.org/docs/reference/components/amp-sidebar#behavior) state:

[2018-10-10 15:24] pacifier007 opened #1502 "Should errors be shown when paired mode takes care of it?"
I have noticed every post shows error in paired mode even when it's being taken care by sanitizer and frontend is perfectly valid.

Whenever you add/edit a post, there's the:
`There is content which fails AMP validation. Non-accepted validation errors prevent AMP from being served, and the user will be redirected to the non-AMP version.`

However, it's completely valid output in paired mode. It ju

[2018-10-10 16:44] westonruter commented on #1501
@itsmeevg The `amp-sidebar` element must be a direct child of the `body` element (not `header`), as was coincidentally just noted in https://github.com/Automattic/amp-wp/issues/736#issuecomment-428499146

[2018-10-10 16:44] #1501 closed

[2018-10-10 16:45] westonruter commented on #1502
Are you using 1.0-RC1?

[2018-10-10 17:40] westonruter commented on #1502
@pacifier007 I think I see what you mean. When I have the auto-accept sanitization checkbox set, I am presented with this notice:

![image](https://user-images.githubusercontent.com/134745/46754569-a5d25680-cc77-11e8-8030-cd077015ef19.png)

Even though the new validation errors are being auto-accepted, the notice doesn't really make this fact clear. It should say something to the effect of:

👉 Imp

[2018-10-11 18:04] westonruter commented on #1492
Adding filters _inside_ of a sanitizer is not going to be viable because this will break caching. Any filtering needs to be done at the level of the args being passed into the sanitizers, such as via the `amp_content_sanitizers` filter, which is improved in #1478.

It sounds like the more fundamental issue is that the tree shaking should be extended to handle more cases. Alternatively, you should

[2018-10-11 18:42] asadkn commented on #1492
As long as the devs are aware of the cache at this filter, I don't think that should prevent addition of filters or hooks. Filters at a _processing_ level are perfectly fine.

While the proponents of AMP would prefer "native" AMP everywhere, the reality is "paired" is the practical mode that most are adopting. Tree shaking has been the best addition to this plugin and having the ability to extend

[2018-10-11 20:40] westonruter commented on #1492
Filters at the processing level are the ones that are most problematic for caching. The sanitizers should be considered a black box that take an input and an output. If the sanitizers have previously computed the output for a given input, then they can short-circuit be serving the cached output for the given input.

This doesn't have anything to do with native vs paired. The post processor (saniti

[2018-10-11 21:34] asadkn commented on #1492
I wasn't implying it has anything to do with native vs paired. To clarify, I was emphasizing not everything is built for native AMP and this is why the paired mode - AMP being an afterthought - is the reality. Hence, edge-cases do exist that can't be covered by the tree shaker and extending it usually is the sensible course of action.

I know about the cache implications here and any extension can

[2018-10-11 22:51] westonruter commented on #1492
Thanks. One reason for making the methods private for the sanitizers is that it reduces the API surface area that the plugin has to maintain. In the future I expect more of the methods can be made public, but they are private for 1.0.

It would be helpful to see some examples of how you intend the `amp_selector_should_include` filter to work. Maybe there is an alternative. However, is this not an

[2018-10-12 00:04] asadkn commented on #1492
There are skinning systems used based on multiple compounded classes in the selector, for instance:

[code]

If `class="block dark"` exists on the page, even if rest of blocks are just `class="block-b"` and so on, their .dark counterparts and all the shared child classes will be preserved. Removing them saves about 16KB of CSS in this case.

Don't have the exact code with me right now, but I am us

[2018-10-12 10:57] envintus opened #1506 "Cannot render AMP version of pages"
I'm using 1.0-RC1 and have AMP configured to run in Classic mode and have my custom templates setup in `my-theme-dir/amp`. Posts, Pages, and a Custom Post Type, `job_site`, I've created are selected to be AMPlified using the plugin.

I have the following AMP template files under `my-theme-dir/amp`:
- front-page.php
- page.php
- single.php
- single-job_site.php (custom post type)

AMPplified versio

[2018-10-12 17:00] westonruter commented on #1506
You shouldn't be doing this. The plugin will add this automatically when there is an AMP version of the post/page available.

Did you enable post type support for Pages in the AMP settings screen? If you have a custom page template assigned to a page, you'll also need to explicitly opt-in to enabling AMP on each page via this toggle in the publish metabox:

![image](https://user-images.githubuserc

[2018-10-12 17:19] westonruter opened #1507 "Sanitizer doesn't catch non-focusable element with `on` attribute for missing role & tabindex"
Create a post with the content containing:

[code]

When viewing the post on the frontend, the plugin's sanitizer doesn't complain at all about this. The AMP validator, however, does complain:

![image](https://user-images.githubusercontent.com/134745/46883821-05f80280-ce08-11e8-84e2-a77d5c04b49a.png)

Generally the plugin removes markup that is invalid rather than supply markup that is missing. B

[2018-10-12 17:34] fthead9 opened #1508 "Native AMP mode error acceptance issue"
It seems there is a disconnect in the description of native AMP or a process isn't working correctly. When checking native AMP in RC1 you are presented with this message:

"Reuses active theme's templates to display AMP responses but does not use separate URLs for AMP. Your canonical URLs are AMP. AMP-specific blocks are available for inserting into content. Any AMP validation errors are automatic

[2018-10-12 17:48] amedina commented on #1508
Thanks for raising  this issue; the new documentation for the plugin (in the works) should definitely better explain this kind of scenario.

If you had a prior version of  the plugin active before, the posts that had been validated already do not get automatically re-validated. This means if those posts have validation errors, they will not be served as AMP until the are re-checked and any existin

[2018-10-12 18:50] fthead9 commented on #1508
I had a feeling it might be related to having the previous plugins installed. Thanks for confirming and agreed, new documentation would be helpful.

[2018-10-12 22:09] postphotos commented on #1400
Updated to add AC4 (see #1479).

[2018-10-12 22:14] postphotos commented on #1479
Thanks @westonruter for breaking this out - I've added some ACs here (cc @alcurrie). 👍

[2018-10-12 22:52] postphotos opened #1509 "Updates to Readme for v1.0"
**As a potential user of the AMP for WordPress plugin, I should have an experience that accurately reflects the features of the tools available to me.**

_Rationale: Since so much has changed since 0.7 (including the spiritual death of the blue bar) we should give this some attention. Note that this readme powers the w.org/plugins/ page for our plugin._

- [ ] AC1: Update copy to reflect new featu

[2018-10-12 23:03] amedina commented on #1509
This is an important part of the release. We should have a Readme that is much more readable than the current one. Let's define a good structure and update the content properly.

[2018-10-14 16:08] BRoz opened #1510 "Remove schema.org data"
I need to remove all schema.org json data added to my AMP pages, how do i achieve this?

I've tried using functions.php and this:

[code]
But it doesn't work as expected.

[2018-10-14 18:36] westonruter commented on #1510
Why do you need to remove it?

[2018-10-14 22:37] BRoz commented on #1510
I want to implement my own custom data.

[2018-10-14 23:36] kienstra commented on #1493
**Question About Moving To v1.0 Project**

Hi @westonruter and @alcurrie,
What do you think about adding this to the [v1.0 project](https://github.com/Automattic/amp-wp/projects/6), to be part of the `1.0` release?

It'd be good to have this in `1.0`. And it's not a new feature, so I think it would be fair to add it in another `RC`, like `RC2`.

[2018-10-15 00:41] alcurrie commented on #1493
@kienstra  - Adding this fix, to the [v1.0 project](https://github.com/Automattic/amp-wp/projects/6) makes sense to me. It is arguably in the grey area between feature improvement and bug fix, but since this is intended make the core functionality of work more completely/correctly it makes sense to me add it to another 'RC' for the '1.0', but as I'm new to the project interested in @westonruter op

[2018-10-15 03:34] westonruter commented on #1510
Why don't you just add a `amp_post_template_metadata` filter that overrides the default data?

[2018-10-15 04:07] westonruter commented on #1493
It's not a blocker for 1.0. We can have it come in 1.1.

[2018-10-15 04:40] austintude commented on #1497
This issue needs re-opening as it is not resolved.
Again my the website I have the AMP plugin deployed on bexhale.com is not working correctly.
The issues are the same as described above: the plugin works on the posts but not on the pages.
The website itself was built using WPRig and should be in full native operation out-of-the-box but after every update (or so it would appear) to a post or other

[2018-10-15 05:13] westonruter commented on #1492
The tree shaker currently obtains a list of all classes used in the doc. It seems like there could be an efficient way to get all class names used together and then find the intersection between these and the concatenated class names used in style rules. We'd need to carefully optimize the data structure and algorithm to not adversely impact performance.

[2018-10-15 05:44] westonruter commented on #1497
You should not be manually including the AMP component scripts. They will be automatically added based.on whether or not you have an AMP component used in the document.

[2018-10-15 15:18] BRoz commented on #1510
I'd rather remove them before, and integrating my own script into the head of the amp template.

[2018-10-15 16:36] kienstra commented on #1509
Thanks for adding this, an update to the `readme` is definitely needed.

[2018-10-15 17:41] mihdan opened #1512 "PHP Warning: Invalid argument supplied for foreach()"
in `/home/m/mihdan/kobzarev.com/public_html/wp-content/plugins/amp/includes/amp-post-template-actions.php on line 70`

PHP 7.1
WordPress 4.9.8
AMP 0.7.2

[2018-10-15 18:36] austintude commented on #1497
Roger that. I'll check with Morten (WPRig) to see if there might be a
causal relationship and I'll also turn off the various plugins for testing
(though this won't likely be performed until after the election, Nov. 6th,
when the site will be 'pulled down').

Daniel Bisett - Owner / Developer ~ Austintatious Design

On Mon, Oct 15, 2018, 10:56 AM Alberto A. Medina <notifications@github.com>
wrote:

[2018-10-15 23:40] westonruter commented on #1512
Do you have anything that is manipulating the `font_urls`?

https://github.com/Automattic/amp-wp/blob/0.7.2/includes/amp-post-template-actions.php#L70

[2018-10-16 06:03] mihdan commented on #1512
no

[2018-10-17 11:34] swissspidy opened #1513 "Legit CSS selector renamed"
In my theme I have some code like this (simplified):

HTML:

[code]

CSS:

[code]

With AMP active, it looks like this:

[code]

CSS:

[code]

As a result, my video container is unexpectedly unstyled when using AMP.

I've now fixed this by using `.type-video` instead of `.video` in my selector as a workaround.

However, I'm curious why this happens in the first place. Is `video` some kind of reser

[2018-10-17 23:49] westonruter commented on #1513
Good catch. This is a bug indeed.

The `video` keyword here is defined at:

https://github.com/Automattic/amp-wp/blob/a3983a0758dc5357592f6461c56e5345b78cacb3/includes/sanitizers/class-amp-video-sanitizer.php#L42

And then `video` is ending up as `$html_selector` in:

https://github.com/Automattic/amp-wp/blob/a3983a0758dc5357592f6461c56e5345b78cacb3/includes/sanitizers/class-amp-style-sanitizer.ph

[2018-10-18 02:14] westonruter commented on #1513
I think the lookbehind assertion needs to be changed to `(?<=^|\s|>)` because we are looking for the string being preceded either by nothing, whitespace, or a direct descent selector.

[2018-10-18 15:30] westonruter commented on #1513
@swissspidy could you try making that change and see if it fixes the issue?

[2018-10-18 15:45] swissspidy commented on #1513
Thanks for looking into this!

In a quick test there doesn't seem to be any difference when I replace `(?<=^|[^a-z0-9_-])` with `(?<=^|\s|>)`. But perhaps there's some caching involved somewhere. I'll have another look later.

[2018-10-18 15:58] westonruter commented on #1513
@swissspidy yes the parsed CSS is cached. Please flush transients.

The PR will need to bump the version here:

https://github.com/Automattic/amp-wp/blob/a3983a0758dc5357592f6461c56e5345b78cacb3/includes/sanitizers/class-amp-style-sanitizer.php#L780

[2018-10-18 16:02] swissspidy commented on #1513
Ah yes! Now it works indeed 🙂

[2018-10-18 21:10] davisshaver commented on #1273
I would be happy to help test this. I am working on adding a few non-AMP pages to my fork of the AMP News page (for checkout, mostly). I saw the changelog for https://github.com/Automattic/amp-wp/pull/1235, but the `add_theme_support` snippet in there didn't work for me. Sorry if I missed this somewhere but what's the most straightforward way to opt a page out of html[AMP]  when using this for `ad

[2018-10-19 18:04] westonruter commented on #1510
That is not advisable because other themes/plugins may want to augment the Schema.org metadata, and if they can't use the filter then there is no central way to do so.

[2018-10-19 18:04] #1510 closed

[2018-10-19 18:39] westonruter opened #1515 "Strip @charset CSS at-rules"
Themes sometimes include a [`@charset` at-rule](https://developer.mozilla.org/en-US/docs/Web/CSS/@charset). For example, in the Twenty Nineteen theme under development it is getting added by the SASS generator:

https://github.com/WordPress/twentynineteen/blob/01423c688c684ee4faee3d496a128e6f389ea614/style.css#L1

This rule is not valid in AMP because styles must be in the `style[amp-custom]` elem

[2018-10-19 19:15] austintude commented on #1497
Alberto et al.
I have had an opportunity to play with the plugins. It appears that at
least the Cache Enabler by KeyCDN is causing errors. After reactivating,
the first repaint of the page after clearing cache gives an AMPed page but
with 51 errors. After reloading a second time, the AMP plugin no longer
fires and all AMP related elements fail to load.

Is there an alternative method for caching i

[2018-10-19 22:06] westonruter commented on #1497
You should disable that caching plugin for AMP responses, if possible.

[2018-10-19 22:39] austintude commented on #1497
I've disabled the plugin. Will it always be a conflict? If so is there an
alternative?

Daniel Bisett - Owner / Developer ~ Austintatious Design

On Fri, Oct 19, 2018, 5:06 PM Weston Ruter <notifications@github.com> wrote:

[2018-10-19 22:41] westonruter commented on #1497
I don't know. Probably something to check with the plugin author on.

[2018-10-22 08:57] mahnunchik opened #1516 "Use the_author function to retrieve post_author"
Hi,

It would be more compatible to use `the_author` function to retrieve `post_author`. Source: https://github.com/Automattic/amp-wp/blob/develop/includes/templates/class-amp-post-template.php#L268

In current implementation I could't override it globally (like in example: https://wordpress.stackexchange.com/questions/158056/change-author-name-to-sitename-on-frontend)

[2018-10-22 09:01] mahnunchik opened #1517 "Use the_author function to retrieve post_author"
It would be more compatible to use `the_author` function to retrieve `post_author`. Source: https://github.com/Automattic/amp-wp/blob/develop/includes/templates/class-amp-post-template.php#L268

In current implementation I could't override it globally (like in example: https://wordpress.stackexchange.com/questions/158056/change-author-name-to-sitename-on-frontend)

[2018-10-22 13:19] westonruter commented on #1517
Duplicate of #1516.

[2018-10-22 13:19] #1517 closed

[2018-10-22 13:22] westonruter commented on #1516
If you switch to using the new paired/native modes in v1.0 (see [RC1](https://make.xwp.co/2018/10/06/amp-plugin-release-v1-0-rc1/?amp)) then you'll be able to re-use the same techniques as you normally do when writing theme templates, like using `the_author()`.

The other alternative is to just override the `meta-author.php` template in your theme: https://github.com/Automattic/amp-wp/blob/develop

[2018-10-22 17:59] westonruter opened #1518 "Further compress CSS by renaming long class names to short versions"
In Twenty Seventeen, the `style.css` has the following class names mentioned with the following frequencies:

[code]

Instead of mentioning `main-navigation` (15 bytes) a total of 74 times, we could compress that down to just single byte `a` which would bring the total size used down from 1110 bytes to just 74 bytes—a 93% savings. This is a similar approach that is taken in JS minification, like w

[2018-10-22 18:14] jpettitt commented on #1518
A few thing I learned doing this:

1. Create a classes to preserve list based on any that are manipulated by `amp-bind` and well as any that match `^amp-.*`
2. Preserve classes mentioned in `[class=^="foo-"]` selectors (yes people do that).
3. Be careful of collisions with existing class names.
4. Don't rename anything to `.ad` it will get trashed by ad blockers.
5. When replacing in the html star

[2018-10-22 19:56] kienstra commented on #1400
**Question About ACs**

Hi @postphotos,
What do you think about removing AC4 (Re-implement to meet the spec of #1479)? Issue #1479 is on the `v1.1` project.

Side note: this issue is awaiting the product site to be able to link to it.

[2018-10-22 20:01] kienstra commented on #1400
**Status**

This issue is awaiting the product site to be able to link to it in the copy (AC2, AC3). There's no action needed now.

[2018-10-22 23:53] nodakjones opened #1521 "gravity forms on 1.0-beta4-built branch"
I've downloaded the 1.0-beta4-built branch and I'm using a new install of Wordpress (v 4.9.8) with the 2017 theme and the amp plugin and the gravity forms plugin (v2.3.5).  I'm running amp in paired mode and I have the following shim in place in my functions.php:

[code]

I have a simple test gravity form with two fields: name and email.  They are both just text fields.  I have the form inserted o

[2018-10-23 00:33] westonruter commented on #1521
In your network console in DevTools look at the response body of the XHR request. I bet there is a PHP warning that is getting output.

[2018-10-23 00:38] nodakjones commented on #1521
Good thought, but I’m not seeing any php errors or warnings:  https://pastebin.com/FhUbvKmv

Eric C Jones

Managing Partner
Data Imagery
data-imagery.com
eric@data-imagery.com 
253-461-1110

On October 22, 2018 at 5:33:27 PM, Weston Ruter (notifications@github.com) wrote:

In your network console in DevTools look at the response body of the XHR request. I bet there is a PHP warning that is getting

[2018-10-23 02:47] westonruter commented on #1521
Ok. Well, it is returning a full HTML document to clearly the `gform_post_submission` action is not getting triggered. Perhaps there is some server-side form validation that is failing. You should make sure that all validation is done client-side as well to make sure that invalid forms don't get submitted. Otherwise, if it isn't this, then you'll have to find why that action isn't getting triggere

[2018-10-23 04:54] nodakjones commented on #1521
I had set the gf form to redirect, but I must have had the URL incorrect.  I entered an https url and things work perfectly now.  Thanks!

On October 22, 2018 at 7:48:11 PM, Weston Ruter (notifications@github.com) wrote:

Ok. Well, it is returning a full HTML document to clearly the gform_post_submission action is not getting triggered. Perhaps there is some server-side form validation that is fai

[2018-10-23 05:16] #1521 closed

[2018-10-23 05:27] #1364 closed

[2018-10-23 21:19] alcurrie opened #1522 "Update the border in the AMP Story interface to be more apparent for pages"
As an editor creating an AMP story, I'd like there to be a more apparent border for pages in the AMP Stories editor
- [ ] AC: Make border more apparent for pages - https://d.pr/i/j9e2Nq
     Design for updated border around the active AMP Story page is shown in this mockup: https://cl.ly/fc36d7797fbb

[2018-10-23 21:31] alcurrie opened #1523 "Fix default text in Paragraph in the AMP Stories editor"
**As an editor creating an AMP story, I'd like the default text to appear inside the dashed border that’s shown by default**
- [  ]  _AC1:_  In the interface to add text in a paragraph, the dashed border should be made bigger to fit in the default text or the text content should be made shorter so that the default text content that shows fits within the dashed border
 -  ![screen shot 2018-10-16 a

[2018-10-23 22:24] alcurrie opened #1524 "Fix the outline box and block selector to make it clearer what block has been selected."
**As a AMP Stories author, I want the interface for the outline box and the block selector improved so that I can easily understand what block has been selected**
 - [ ]  _AC 1:_ Fix/Improve  the interface for the outline box and the block selector to make it clearer what block has been selected
    - [ ]  _AC 2:_ Add Blue outline with highlight around selected block
          **Selected Block** (

[2018-10-23 22:55] alcurrie opened #1525 "Blocks > Remove “AMP Story” prefix from the block names since they are only made available when editing an AMP Story post in the first place."
As an author/editor building an AMP story, I don't need to see the “AMP Story” prefix in the block names, since I already know that I'm creating an AMP story.
- [ ] AC1: Remove “AMP Story” prefix from the block names
![removeampstoriesfromlabels](https://user-images.githubusercontent.com/18579988/47395785-1ce70080-d6f6-11e8-968c-f6d9b6b33db1.jpg)
-  applies to both the labeling when the user adds

[2018-10-23 23:26] alcurrie opened #1526 "Blocks > Do not allow more than one block inside the AMP Grid layer when the 'fill' template is selected"
**As a editor/author creating an AMP story I want to be prevented from adding more than one block to the AMP Grid Layer when using the 'fill template' so that I don't hide all the 'other' blocks by mistake.**

- [ ] _AC 1:_  When the fill template is selected for the AMP Grid Layer, only 1 block can be added to the Grid Layer
- [ ] _AC2:_ Appropriate messaging in the interface will let the user kn

[2018-10-23 23:30] christianc1 opened #1528 "AMP Gallery Block Sanitizer transforming all <ul>'s to carousels."
In cc53173, logic was added (from the commit message for back-compat), setting the `AMP_Gallery_Block_Sanitizer::$args['carousel_required']` to true.  This affects all installations that have not explicitly declared some sort of `add_theme_support` for amp.

An issue arises as the logic in `AMP_Gallery_Block_Sanitizer::sanitize` allows through all `<ul>` nodes.  Further in the method, there is a c

[2018-10-24 00:01] christianc1 commented on #1528
We were able to hotfix this issue with a version of the following:

[code]

[2018-10-24 07:43] pradeep910 commented on #1521
@nodakjones

If you want to make the gform ajaxified.
Here is the gist - https://gist.github.com/pradeep910/b25525034289ab0bc2b7fa0896f4ac90

Hope this helps you.

[2018-10-24 15:33] alcurrie opened #1530 "Blocks > Make AMP Stories block more granular by providing different blocks for different layout options"
**As AMP story creator, I'd like the AMP Stories block to be more granular so I can split the grid layer, for different layout options.**
 - [ ] _AC 1:_ Split up the grid layer into separate blocks: vertical grid layer, thirds grid layer, horizontal grid layer, fill grid layer.
 - [ ] _AC 2:_ The fill grid layer will be able to be further specialized with more preconfigured block configurations fo

[2018-10-24 16:42] kienstra commented on #1400
**Moving Into To Do**

As there is no action needed now, I'm moving this into 'To Do.'

When the product site has the URL ready, I'll add it to the tooltip, and request QA from @csossi.

[2018-10-24 20:40] alcurrie commented on #1530
_**Questions/Notes for design/interface  discussion**_
_AC 1_ - Confirm interface change i.e. the current grid layer change from grid layer with templates (ie. thirds, horizontal) to grid layer types (ie. thirds grid layer,)
_AC 2_  - Confirm create  2 new preconfigured blocks' (ie. 1 with pre-configured block background fill image) and 1 with  background fill video layer)
_AC 3_ - Example of 'bet

[2018-10-24 21:05] alcurrie opened #1531 "Blocks > Creating a new Page block should have a block template with a background image layer (populated with a default image) and a vertical grid layer"
**As an author creating a new AMP story page, I want the default block template to have a background image layer and a vertical grid layer. The background layer should be populated with a default image**
 - [x] _AC 1:_ When creating a new AMP story page the default template will include the following elements:
   - [x]  A background image layer block populated with a default image
   - [x]  A vert

[2018-10-24 21:15] alcurrie opened #1532 "Improve the flow for adding new page blocks below existing stories"
**As a AMP story author, I want a better user flow for adding new page blocks below existing stories, so I'm able to easily understand how to add new pages to my AMP story**
 - [ ] _AC 1:_ Identify interface changes from what is currently available for blocks in AMP stores, that would improve the flow to add new story pages below existing story pages (i.e. show 'ghosted' page with icon)

[2018-10-24 21:42] westonruter commented on #1532
Note: The big plus icon now seems to be part of Gutenberg itself, although it is not shown in a ghosted page:

![image](https://user-images.githubusercontent.com/134745/47463402-f8912f80-d79a-11e8-8218-f74840266f8a.png)

[2018-10-25 13:44] alcurrie commented on #1532
@westonruter Thanks for the call out on the plus already being available. I've updated AC1 to take into account that this task maybe partially done, though may need some additional improvements to meet the overall 'goal' in this ticket.

@jwold -  Based on Weston's screen shot, this looks like we'll need to take this into account when making this interface change to make adding pages easier.
 From

[2018-10-25 15:34] westonruter commented on #1513
Do you want to open a PR or do you want me to?

[2018-10-26 00:38] #1249 closed

[2018-10-29 07:45] mehigh commented on #1532
We could get inspired from the standard photo editors new layer icon:
![](https://pe-images.s3.amazonaws.com/basics/cs6/layers/background-layer-action/photoshop-new-layer-icon.png)
Or maybe something like this:
https://thenounproject.com/term/add-layer/340550/

This provides more information than a regular plus sign.

The plus at the bottom would make sense to add another page in the story, the la

[2018-10-30 01:59] alcurrie opened #1536 "New User Experience: Suggest what to do with sites who run Classic Mode who can run Paired or Native modes"
Related to: #1288

[2018-10-30 02:02] alcurrie opened #1537 "New User Experience: obtain the validation results for the most recently-published post and make them available to the user even before activating paired or classic modes"
Related to #1288

[2018-10-30 02:13] alcurrie commented on #1384
Based on the discussion in #1288 re.   I've added a new issue What to do with sites who run Classic Mode who can run Paired or Native modes in v1.1. #1538 - there may be some overlap with this discussion though.

[2018-10-30 02:36] kienstra commented on #1288
**Thanks For Opening New Issue**

Hi @alcurrie,
Thanks for opening #1536 and #1537 for this issue's AC4 and AC5. Now that all of the ACs on this issue are complete, what do you think about moving this to 'Ready for Merging'?

[2018-10-30 02:52] alcurrie opened #1541 "It should not be possible for an AMP story author to create blocks created outside of page"
**As a AMP story author, I don’t want be able to create blocks outside of the current page**

 - [ ] _AC 1:_  Ensure that it is not  possible to create blocks created outside of page: https://v.usetapes.com/IYEIsJFz2E.
     - [ ] _AC 2:_  It should be clear that top inserter is used for creating new blocks only in the current page/layer

[2018-10-30 03:07] alcurrie opened #1559 "Make UX for adding new blocks consistent"
**As an AMP story author, I want consistent a UX for adding new block, so I can more easily understand the process for adding new blocks**
 - [x] _AC 1:_ Make UX for adding new blocks consistent:  See screencast showing in consistencies between the process for adding a new block that varies depending on where the user clicks in the interface, or what template is being used: https://v.usetapes.com/

[2018-10-30 03:09] alcurrie commented on #1541
@jwold  - I think this was originally your screen cast. I'm not 100% on what the issue/recommendation here is?

[2018-10-30 03:15] alcurrie opened #1560 "Improve block placeholder styles to make it easier to see an empty element when it is added in a layer on top of another."
**As an AMP Story author, I'd like improved styling/interface  so that it's easier to see an empty element when it is added in a layer on top of another layer.**
 - [x] _AC 1:_ Improve block placeholder styles to make it easier to see an empty element when it is added in a layer on top of another.
      - [ ]  Resolved in #1563  AC-5 and AC-6 (block navigation), AC-7 and AC-8 (blue line selector),

[2018-10-30 03:20] kienstra commented on #1509
**In Progress**

With WIP PR #1561, I'm moving this to 'In Progress.'

[2018-10-30 03:28] alcurrie opened #1562 "Make adding a CTA button with text more intuitive"
**As a AMP stories author, I want to the process for adding a CTA button with text to be more intuitive so that i can easily add a CTA to my AMP story.**
 - [ ] _AC 1:_ Make adding a CTA button with text more intuitive.
         - [ ] _AC 2:_  Resolve the issue identified here: After adding a CTA button, it is difficult to figure out how to add the button text. There is an interface that allows th

[2018-10-30 03:35] alcurrie commented on #1288
That makes sense to me.  @kienstra

[2018-10-30 03:51] alcurrie opened #1563 "Parent/child relationship: it should be easier to select and identify an individual block within a layer."
As an AMP stories author, I want it to be be easier to select and identify an individual block within a layer
 - [ ] _AC 1:_ - Monitor the progress of  this PR  https://github.com/WordPress/gutenberg/pull/10545 and watch for it to be merged into Gutenberg.
 - [ ] _AC 2:_ - When  https://github.com/WordPress/gutenberg/pull/10545  is merged into the Gutenberg plugin re-evaluate/confirm the user expe

[2018-10-30 03:59] alcurrie opened #1564 "Improve Layer Manipulation"
**As an AMP story author, I'd like an improved user experience for manipulating layers**
- [  ]  AC1:  Refine the ability to move layers up and down
- [  ]  AC2:  Ideally allow the author to move layers up and down by:  re-using  the block reordering controls, and also by dragging the block layer cards.

[2018-10-30 04:10] alcurrie opened #1565 "Add larger default styles for fonts in AMP stories"
*As an AMP Author I would like add larger default styles for fonts in AMP stories, so that paragraph text for stories large by default instead of medium*
 - [ ] _AC 1:_ Add larger default styles for fonts (or leverage custom font sizes in Gutenberg) making the default font size for a paragraph large instead of medium.
 - [ ] _AC 2:_  **Optional:**  Make AMP Fit Text the default?  (_Try it and eval

[2018-10-30 12:02] PayteR opened #1566 "Using Sabberworm\CSS\CSSList\Document::splice() makes fatal error"
Hi im using dev version of this plugin. When i have  !important ruleset in post_content, then this error occurs

[code]
splice() method doesn't exists (anymore?), so it needs to be substituted

[2018-10-30 14:58] alcurrie opened #1567 "Understand Core blocks and customizations of their editing"
**As a AMP story author, I want more customization options for my AMP story**
 - [ ] ~_AC 1:_ Explore option to customize font faces (ie. maybe Google fonts)~ _This issue may be blocked by Gutenberg and/or other dependencies so we've separated this AC into a separate issue_ #1643  Related to #1565  - Larger default styles
 - [x] _AC 2:_ For images “caption” blocks are turned off by default with an

[2018-10-30 15:04] alcurrie opened #1569 "Address core AMP plugin Compatibility for AMP stories"
**As an AMP story creator, I would like to ensure my AMP stories are validated, and error free, and the interface provides me with feedback or validation information, to update my stories to include all required elements for AMP.**
 - [ ] _AC 1:_ Surface AMP Errors and Validation inside the Stories Editor
 - [ ] _AC 2:_  Add conditional validation to meet the AMP Stories spec. e.g.
   - [ ] _AC 3:

[2018-10-30 15:12] alcurrie opened #1570 "Preview should display all elements"
**As an author building an AMP story, I want to be able to preview my progress as I go along**
 ~- [ ] _AC 1:_ Force Cold Cache for preview~ (see discussion below re this issue working in local but not Pantheon test environment)
 - [x] _AC 2:_  Currently some elements are not showing on preview. Fix Preview so that all elements that are should be visible on the AMP story page/layout are shown in t

[2018-10-30 15:18] alcurrie opened #1571 "Advanced AMP Stories Demo"
**As a potential new AMP stories user I would like to see an Advanced AMP Stories Demo highlighting the new features and improvements and showcasing the improved user workflow.**
 - [ ] _AC 1:_ Demonstrate the engaging and nice looking story-telling experience
 - [ ] _AC 2:_ Showcase what can be done with the new AMP Stories workflow and features.

[2018-10-30 15:23] alcurrie opened #1572 "Essential User Manual (wiki page)"
**As a new AMP stories user I want a user manual that will introduce and provide help for understanding the capabilities of AMP stories and getting started using the tool**

 - [ ] _AC 1:_  Create an Essential User Manual (wiki page) which includes content in the following sections:
     - [ ] _AC 2:_  Introduction to the tool
     - [ ] _AC 3:_  Brief Gutenberg context
     - [ ] _AC 4:_  Referen

[2018-10-30 16:21] jwold commented on #1541
Howdy! The issue is that when I go to insert a new element, it shouldn't be possible for an element to be inserted into the AMP Story, UNLESS it gets dropped into a new page. The video shows an element getting dropped outside of a page, a little orphan all by itself.

We need to change it so that won't happen. This might be a Gutenberg dependency, so I'll let @miina weigh in on that.

[2018-10-30 16:52] miina commented on #1541
@alcurrie and @jwold: Correct, at this moment it's not possible to limit the blocks in Inserter for the root level. See the open issue for Gutenberg: https://github.com/WordPress/gutenberg/issues/7845.

[2018-10-31 21:04] alcurrie opened #1573 "Add a filter that to ensure that other plugins won't be able to turn off the Gutenberg for AMP Stories post type"
**As a site owner using AMP stories on my site, I want to make sure that other plugins won't be able to turn off Gutenberg for the AMP stories post type**
 - [ ] _AC 1:_  Add a filter to ensure other plugins won't be able to turn off Gutenberg for the AMP stories post type  see. https://make.wordpress.org/core/2018/10/30/block-editor-filters/
     - i.e.
[code]
 - [ ] _AC 2:_   Add a similar `use_

[2018-11-01 00:42] kwesir opened #1574 "Amp Sidebar Disappears inWordPress theme"
Amp Sidebar Disappears in my WordPress theme using AMP to WP official plugin Version 1.0-RC1-20181005T172737Z-6bf2a1d8

I have added direct child of the body,
I have added AMP component script to the head. The plugin will do this automatically.
Also add_theme_support('amp'); to the function.php

[2018-11-01 00:48] westonruter commented on #1574
Please share the code you are adding.

Is there a validation error being raised in the plugin, such as when you try to save a post?

[2018-11-01 01:18] kwesir commented on #1574
// Entire site render as Native AMP | function.php
	add_theme_support('amp');

		<header class="header-container">

			<div class="header flex-box margin-right-left-auto">

				<div role="button" on="tap:mobile-sidebar.toggle" tabindex="0" class="hamburger"><i class="material-icons">menu</i></div>
				  <a href="<?php echo esc_url( home_url( '/' ) ); ?>" class="margin-right-left-auto"><amp-img src

[2018-11-01 01:29] alcurrie commented on #1522
@jwold  though this task design change, this doesn't seem like this needs design UX feedback as the screenshot in the AC is fairly straightforward, though it may make sense to include it in the overall look at design/UX changes needed.

[2018-11-01 01:54] alcurrie commented on #1525
@jwold - this is an interface change and so should be included in the overall interface change, but I don't think it requires UX feedback. Does that sound right to you?

[2018-11-01 02:11] alcurrie commented on #1530
@miina  and @jwold  - can you please take a look at the AC in this issue as well as the  Questions/Notes for discussion.  I think this issue may need more elaboration/specifics.

cc. @mehigh

[2018-11-01 03:35] alcurrie commented on #1562
@jwold   / @mehigh  - @miina  - flagged that the issue documented in AC 2,  https://cl.ly/640fd0fc03ea, is no longer repeatable, likely due to a Gutenberg update.  See screencast: https://drive.google.com/file/d/1T_uXOvyIKE8h5Tzvdud2cHhm3qfeogoN/view?usp=sharing
However, the interface is still not intuitive, so the requirement in AC-3 or something that resolves that that same issue is still needed

[2018-11-01 08:12] kwesir opened #1575 "amp-sidebar disappears WordPress Theme Development"
Amp Sidebar Disappears in my Native WordPress theme using AMP to WP official plugin Version 1.0-RC1-20181005T172737Z-6bf2a1d8

I have added direct child of the body,
I have added AMP component script to the head. The plugin will do this automatically.
Also add_theme_support('amp'); to the function.php

Codes

</head>

	<body <?php body_class(); ?>>
	<div id="page" class="site">
	<a class="skip-lin

[2018-11-01 13:41] jwold commented on #1523
Mike will take a stab at this on his own.

[2018-11-01 13:43] jwold commented on #1524
This one needs investigation to make sure the issue still exists with the new Gutenberg update, and posting some screenshots or a video showing what the problem is.

[2018-11-01 13:44] jwold commented on #1526
This one will need some design feedback in terms of the messaging. We'll need to look into what kind of messaging option Gutenberg has now and then verify if we should change it.

[2018-11-01 13:52] jwold commented on #1530
Our understanding is that this issue is for the UX to only create icons for each of the new blocks,
Therefore we'll just focus on creating the icons at this time.

[2018-11-01 13:55] jwold commented on #1531
This one is not blocking development, UX just needs to provide a default image and an icon.

[2018-11-01 14:20] jwold commented on #1532
Dev is currently blocked by design as we need a UX suggestion for what it will look like.

[2018-11-01 14:33] jwold commented on #1559
**Regarding AC 1:**

Miina: This is an invalid AC and expected behavior.

When you have "Fill" as the layer template then the block inside it fills the whole layer -- that's why in case of Fill wherever you click you actually click on an INNER block. However in case of vertical you click on a LAYER itself so it selects the layer block.

To see which block is selected you can check the right sideba

[2018-11-01 14:35] jwold commented on #1560
If we can start by just adding margin between elements, it should solve usability by spacing all elements out a tad. We'll let the dev team take a stab at this and see if it works.

[2018-11-01 14:40] jwold commented on #1562
AC 3 is the only issue actually on this ticket, so therefore dev will move forward to followup on it, and if needed, will reach out for UX feedback, but it's not likely at this point.

[2018-11-01 14:42] jwold commented on #1563
At this point the UX feedback is to look at the changes that have been made in Gutenberg and see if we still need to make improvements, or rather things might be fine.

The only question is if we want to replace the custom controls we have (choosing layers), and replace with default navigation that shows all blocks.

[2018-11-01 14:44] jwold commented on #1564
This is not blocked by Gutenberg specifically, but we need to validate the complexity to do so.

AC 1: Look into it to see if it's clear how this happens or if we could make it simpler.
AC 2: If we replace block layer cards we wouldn't need this feature, If we end up removing the [layer](https://github.com/Automattic/amp-wp/issues/1563) cards, this wouldn't be relevant.

[2018-11-01 14:47] jwold commented on #1563
It may make sense to search issues in Gutenberg repo to identify ways to improve parent/child relationship.

[2018-11-01 14:48] jwold commented on #1564
Drag and drop elements may already be suggested in the Gutenberg repo, we should take a look.

[2018-11-01 15:28] csossi opened #1577 "Paired - Non-Amp Not Showing Icons"
https://paired-ampconfdemo.pantheonsite.io/
The Follow Us social icons aren't appearing on the non-AMP page
Amp:
![image](https://user-images.githubusercontent.com/16945664/47861398-1bd66300-ddc9-11e8-92e2-276c04b5a335.png)
Non-Amp:
![image](https://user-images.githubusercontent.com/16945664/47861442-37416e00-ddc9-11e8-897e-9e6356006878.png)

[2018-11-01 19:14] pacifier007 opened #1578 "Caching issues with URL change"
Curious as to why was the AMP url changed to ?amp from /amp/ as in the older versions? The old version was quite fine and it was compatible with all cache plugins.

The new URL makes it incompatible with sn important setting of almost all popular plugins. When you have plugins like WooCommerce and similar, you have to disable cache for query strings as they query strings are supposed to change beh

[2018-11-01 19:16] kienstra commented on #1574
**Toggling Sidebar**

Hi @kwesir,
Thanks for bringing this up.

On this line in the snippet above:

[code]

Have you tried changing:
[code]
to:
[code]

That toggles the sidebar to display. Of course, this example is unstyled:

![toggle-amp-sidebar](https://user-images.githubusercontent.com/4063887/47873946-22200b80-ddd8-11e8-9b9b-cce2183d007c.gif)

[2018-11-01 19:20] kienstra commented on #1575
Hi @kwesir,
Thanks for bringing this up.

Could you please see my response in https://github.com/Automattic/amp-wp/issues/1574#issuecomment-434899308?

If it's alright, I'm going to close this issue as a duplicate, and we can track this in #1574.

[2018-11-01 19:20] #1575 closed

[2018-11-01 19:31] kienstra commented on #1574
**Sorry, My Suggestion Was Wrong**

Hi @kwesir,
Sorry, the suggestion above uses code I copied from the [documentation](https://ampbyexample.com/components/amp-sidebar/). I'll work on another approach.

[2018-11-01 19:48] csossi opened #1579 "Native - Image Resolution"
https://native-ampconfdemo.pantheonsite.io/
Images appear "squished" on Native site:
![image](https://user-images.githubusercontent.com/16945664/47875311-995f9a80-ddec-11e8-8772-7f676e6e1f74.png)

[2018-11-01 19:50] csossi opened #1580 "Implement unique constraint in whitelist sanitizer"
Went to https://native-ampconfdemo.pantheonsite.io/

Got the attached amp validation errors:
![image](https://user-images.githubusercontent.com/16945664/47875757-bf396f00-dded-11e8-91f7-5349f9721701.png)

[2018-11-01 19:54] csossi opened #1581 "Native - Content Overlap"
https://native-ampconfdemo.pantheonsite.io/

Page has some content overlap re: video and side widget:
![image](https://user-images.githubusercontent.com/16945664/47875960-543c6800-ddee-11e8-8584-4d47c09a4acf.png)

[2018-11-01 20:15] westonruter commented on #1578
The `/amp/` endpoint is not compatible when using AMP across other templates of a site, beyond just posts. It also is not compatible with posts either when you are using custom endpoints that you want to serve as AMP as well. The query parameter is compatible with any permalink structure.

For more info on this, see https://wordpress.org/support/topic/0-6-0-not-working-for-pages/#post-9903766

[2018-11-01 20:19] kienstra commented on #1574
**Placement Of Snipped**

Hi @kwesir,
Is this on a live site, by chance? If not, could you possibly provide either the full theme, or the HTML from the document (not the PHP template)?

When copying your snippet into the `header.php` of a child theme of Twenty Seventeen, clicking 'menu' expands the `<amp-sidebar>`. Is that the case in your environment?

Here's the `header.php` file:

[code]

This

[2018-11-01 20:21] westonruter opened #1582 "Prevent HTML5 novalidate attribute from being added to commentform in AMP"
Unfortunately WordPress forces the `novalidate` attribute to be present on forms when the theme supports HTML5:

https://github.com/WordPress/wordpress-develop/blob/5d92e0c0a950399c53294a41000305ddcf47efb5/src/wp-includes/comment-template.php#L2383

But in AMP we really need the browser to be doing the client-side validation, especially in the case of when the user is offline because in that case

[2018-11-01 20:50] westonruter commented on #1566
Have you done `composer install` recently? The `slice` method has been introduced recently in the XWP fork of PHP-CSS-Parser: https://github.com/xwp/PHP-CSS-Parser/commit/30a931eed6d8c014751bc11602648f959771a627

[2018-11-01 21:00] westonruter opened #1583 "Add CSS code coverage analysis as part of validation process"
The CSS tree shaking does not eliminate all rules which do not apply to the current document. While the effectiveness can be improved (e.g. #1492) but it should never achieve 100% unused rule removal. CSS tree-shaking needs to be done at runtime, and the more sophisticated the tree-shaking the slower the time will be for the post-processor to generate the response. A fast tree shaking strategy is

[2018-11-01 22:18] miina commented on #1524
Note for dev: Development is blocked by UX/design work.

[2018-11-01 22:19] miina commented on #1526
Note for dev: Development can be started independent of UX/Design work an consulted later to see if the existing messaging options are suitable as they are.

[2018-11-01 22:20] miina commented on #1567
Note for dev: Development is blocked by UX/design work.

[2018-11-01 22:57] kwesir commented on #1574
Please, can the theme to you through email.?

[2018-11-01 23:04] kienstra commented on #1574
Hi @kwesir,
Sure, email would be fine.

[2018-11-01 23:16] kienstra commented on #1581
**Thanks, Planning On Addressing**

Hi @csossi,
Thanks for opening this. I'm moving this into 'To Do' in the `1.0` project, and I'll work on it.

[2018-11-01 23:16] kienstra commented on #1580
**Thanks, Will Work On This**

Hi @csossi,
Thanks for opening this. I'm moving this into 'To Do' in the `1.0` project, and I'll work on it.

[2018-11-01 23:17] kienstra commented on #1579
**Thanks, Will Work On This**

Hi @csossi,
Thanks for opening this. I'm moving this into 'To Do' in the `1.0` project, and I'll work on it.

[2018-11-02 08:06] kwesir commented on #1574
Please, i have sent you the email to download the Theme. Thank you and counting your quick response.

[2018-11-02 09:54] kwesir commented on #1574
NO error validation. The whole amp-sidebar disappears. Very confusing.

[2018-11-02 14:55] jwold commented on #1524
In chatting with @alcurrie today here are a few issues we found:

1. https://v.usetapes.com/9JGJJu3uE7
2. https://d.pr/i/IG8PY3

There may be additional items to investigate, and there may be cross referenced items already called out in other issues, we'll circle back and validate what's unique to this ticket, and what might need to be added.

[2018-11-02 15:18] jwold commented on #1526
Had a chat with @alcurrie today and wanted to share a sketch that walks through the discussion. Currently we want to make sure that we're actively stopping users from doing the following:

1. If I have a block inside a fill layer (presumably an image?), I should not be able to add a second block by clicking the plus button in the header of the page.
2. If I have a block inside a fill layer, such a

[2018-11-02 15:21] PayteR commented on #1566
Ok i see, where is the issue now. I use Roots|Bedrock WP installation, so i use composer in root directory and added CSS-Parser there in composer.jsom manually. But when i add repository, i can't update because it wants authentication to github, even when repository is public

[code]

[2018-11-02 16:36] miina commented on #1526
@jwold Thanks for sharing the sketches and detailed thoughts for different cases.
On 1: Yes, most likely it would have either a video or an image.

Some thoughts:
For the 1.5 maybe we could think of as simple way as possible with the goal of providing a bug-less experience and not confusing the user but at the same time considering that "an ideal" experience could be implemented in Phase 2 and wou

[2018-11-02 17:15] westonruter commented on #1566
You may want to use a `built` tag instead of adding from source. You can install 1.0-RC1 with all of the dependencies resolved and sources built simply by checking out [`1.0-RC1-built`](https://github.com/Automattic/amp-wp/tree/1.0-RC1-built) instead.

For more background on this, see #1167.

[2018-11-02 20:02] kienstra commented on #1574
**Responded To email**

Hi @kwesir,
Thanks for emailing your theme. I responded to the email, and it looks like the `<amp-sidebar>` displays well when it's the first child of `<body>`.

This [AMP Playground example](https://ampbyexample.com/playground/#url=https%3A%2F%2Fampbyexample.com%2Fcomponents%2Famp-sidebar%2Fsource%2F) has the `<amp-sidebar>` as the first child of the `<body>`.

Though your

[2018-11-03 00:03] kienstra commented on #1580
**amp-geo error**

Hi @westonruter,
@csossi correctly [pointed out](https://github.com/Automattic/amp-wp/issues/1580#issue-376543765) that there's a validation error from there being 2 `<amp-geo>` elements.

That's because I added 2 of them to [this post](https://native-ampconfdemo.pantheonsite.io/wp-admin/post.php?post=512&action=edit) via Custom HTML elements, for testing:

<img width="1184" alt

[2018-11-04 17:40] westonruter commented on #1580
In this way, it is a similar issue to #1507.

[2018-11-04 20:44] kienstra commented on #1574
**Closing**

Hi @kwesir,
Thanks for bringing this up. Based on our conversation via email, your Native AMP theme looks good, and it looks like the `<amp-sidebar>` works, based on the small change of placing it as the first child of `<body>`.

Even though the [documentation](https://www.ampproject.org/docs/reference/components/amp-sidebar#behavior) only says that:

I'm closing this now. But feel fr

[2018-11-04 20:44] #1574 closed

[2018-11-05 14:19] alcurrie commented on #1580
Good catch @csossi  -  @westonruter @kienstra Based on the discussion above, I'm moving this issue in for review in V1.1. Let me know if there is anything discussed here that you think we should resolve in V 1.0

[2018-11-05 17:07] jwold commented on #1532
@miina howdy! @alcurrie and I spent a bit of time going over this, and I'd love your feedback, as well as letting me know if you need anything more.

Here is the graphic with suggested changes:

![frame](https://user-images.githubusercontent.com/3411173/48013836-1daa6a00-e0da-11e8-88a5-0d528480b23e.png)

And here is the Figma file: https://www.figma.com/file/fJFUvAKJGNjH2wCzgj5ke4PF/Untitled?node-

[2018-11-05 17:43] kienstra commented on #1580
H @alcurrie,
Thanks, good idea to move it into the [v1.1 project](https://github.com/Automattic/amp-wp/projects/7).

[2018-11-05 17:51] alcurrie commented on #1570
@miina  - this issue's is complete and could be moved into 'to do' but would it be helpful for your dev work to list out the new elements added to make sure that they display in preview, or, can you work on this without the final list of the new elements to be added?

[2018-11-05 18:03] miina commented on #1570
@alcurrie Thanks for checking.

On new elements: we'll be adding the following new blocks:
- Background Image Grid Layer;
- Background Video Grid Layer;
- Vertical Grid Layer;
- Thirds Grid Layer;

Note that these shouldn't actually change the content of the post and would mainly change the user interface in the editor, meaning that there wouldn't be any new elements added to the source / post con

[2018-11-05 19:42] jwold commented on #1530
Icons needed:

- Image fill layer
- Video fill layer
- Thirds layer
- Vertical layer
- Horizontal layer
- CTA Grid layer

[2018-11-05 19:52] jwold commented on #1526
If a user tries to add a second image into an image fill layer (this also applies for video fill layer), then the object will be automatically removed, and an error message will appear below the header, indicating that this isn't allowed.

Example of what the error could look like:

![screen shot 2018-11-05 at 11 50 47](https://user-images.githubusercontent.com/3411173/48022915-40944880-e0f1-11e8-

[2018-11-05 20:30] jwold commented on #1563
We had a great discussion on this, and want to circle back with the thought:

[2018-11-05 20:56] jwold commented on #1564
So if this were implemented in Gutenberg, it would make navigating nested blocks much easier: https://github.com/WordPress/gutenberg/issues/11408, especially if WordPress/gutenberg#11010 gets implemented.

[2018-11-05 23:36] kienstra opened #1591 "Accessibility testing for Compatibility Tool"
Please test the Compatibility Tool's 4 screens for accessibility:

# [AMP Validation Error Index](https://native-ampconfdemo.pantheonsite.io/wp-admin/edit-tags.php?taxonomy=amp_validation_error&post_type=amp_validated_url) (#1361):
<img width="1188" alt="error-index-screen" src="https://user-images.githubusercontent.com/4063887/48033084-8536d880-e11f-11e8-817e-9c6455228a6c.png">

# [AMP Validated

[2018-11-05 23:41] kienstra commented on #1591
**Admin Pointer 'Tooltips'**

Thanks to some [good input](https://github.com/Automattic/amp-wp/issues/1400#issuecomment-424232988), we know the admin pointer 'tooltips' on these screens aren't accessible (#1479).

[2018-11-06 01:18] kienstra commented on #1591
**Reporting Issues**

Feel free to open a separate issue for each of the 4 screens if you'd like, or raise all of them in this issue if they fit.

[2018-11-06 15:57] jwold commented on #1524
Discussion from Weston: Need to solve the problem of layer + paragraph on top of layer + paragraph. Maybe 50% background layer.

[2018-11-06 16:24] jwold commented on #1563
Another idea we just discussed was, what if we were to move the block navigator down into context for each page, and remove the existing layer cards. That could solve several problems at once, and allow us to follow along development of Gutenberg as the block navigator gets improved over time. Here's a quick sketching showing some possibilities:

<img width="1366" alt="my sketches - 2018-11-06 07

[2018-11-06 16:25] jwold commented on #1560
There's a further issue, which may be for this ticket, where a layer has a paragraph, and another layer has a paragraph, and they're right on top of each other; in that case it's very hard to see the paragraph of text from one layer to the next, since they overlap.

One suggestion was to put a 50% white opacity between layers to make them less visible.

[2018-11-06 17:02] cathibosco commented on #1563
I am doing a little mock up to support this version... This layout makes the most sense so far based on the navigation options everywhere on this page...

[2018-11-06 17:02] cathibosco commented on #1563
![48077934-4d6e7600-e19d-11e8-9b58-c3d99f392d2f](https://user-images.githubusercontent.com/4819761/48080541-e2806780-e1bb-11e8-8b1d-31a1db7a6fb6.jpg)

[2018-11-06 17:12] cathibosco commented on #1563
![screenshot-example1](https://user-images.githubusercontent.com/4819761/48081110-45263300-e1bd-11e8-83b8-8ad0166e873e.png)
![Uploading screenshot-example2-with-highlighted-navigagtional-areas.png…]()

[2018-11-06 18:02] cathibosco commented on #1563
Updated:
<img width="1800" alt="screenshot-example2" src="https://user-images.githubusercontent.com/4819761/48083858-3d1dc180-e1c4-11e8-9bda-6a9d10ba0d42.png">

[2018-11-06 18:33] miina commented on #1526
@alcurrie @jwold Note that this issue will likely get resolved within #1530 and might not need messaging afterall due to being able to just disable the Inserter.

I'll let you know in case it changes but at this moment UX changes shouldn't be needed at all. I'll move this ticket to "In Progress".

[2018-11-06 21:32] cathibosco commented on #1560
I mocked up an unattractive graphic to show what 50% opacity will do for us. It does help, but it seems like it is not enough. I am not sure how this would be done in terms of development but...

I included the 50% white opacity layer between the top and lower layer and then I also added a blur effect on the lower layer which in combination with the 50% white opacity made the top layer much better

[2018-11-07 06:55] lucky42890 commented on #1162
Is this issue solved ?

[2018-11-07 16:22] cathibosco commented on #1560
Here is a better visual of the blur effect...
I see this is used in Instagram on load.... as a placeholder and as the page loads..
It would be great if it was a valid option. Please take a look at the gif

https://canddstudios.d.pr/NZvofY

Here is a screenshot of Insta blur:
![img_2200](https://user-images.githubusercontent.com/4819761/48144638-428c1200-e27f-11e8-9993-995c482d6362.PNG)

[2018-11-07 21:19] alcurrie commented on #1563
@cathibosco / @jwold / @miina  I've updated the AC to reflect Cathi's recommendation.  Are there any other elements that need to be included  in the AC for this issue?

[2018-11-07 22:04] miina commented on #1563
@alcurrie: Thanks for the updates to ACs.

There are no technical issues for making this change, that would be styling only. One thing here is to consider that it's possible to hide the right sidebar and also the mobile view.

One additional thing to note here is that this would cancel the AC2 of #1559, otherwise looks good to me at this moment unless there are additional UX changes / behaviors th

[2018-11-07 22:20] miina commented on #1530
@jwold Assigning this to you as well since there are icons needed, the dev part should be ready (everything except for implementing the icons).

[2018-11-07 23:57] westonruter commented on #1162
No

[2018-11-08 02:03] kienstra commented on #1498
**Question About Filter**

Hi @davisshaver,
Thanks for bringing this up. You made a [good point](https://github.com/Automattic/amp-wp/pull/1500#discussion_r223864705):

Like you mentioned, the [Analytics wiki page](https://github.com/Automattic/amp-wp/wiki/Analytics#manually) only documents [an analytics filter](https://github.com/Automattic/amp-wp/blob/469e99213d58d2af83915ca5924657648365bde7/inc

[2018-11-08 11:58] davisshaver commented on #1498
Thanks @kienstra! That sounds good to me, glad to help with the docs update.

[2018-11-08 12:21] jacobschweitzer commented on #1525
Here is the PR for this change - https://github.com/Automattic/amp-wp/pull/1595

[2018-11-08 15:35] jwold commented on #1532
Thanks for the feedback @cathibosco, I'll go ahead and remove the UX feedback label now @alcurrie as I think this is dev ready.

[2018-11-08 16:35] jwold commented on #1530
Also need to create separate icons for fill image and fill video.

[2018-11-08 16:36] jwold commented on #1563
We just had a further discussion on this. A few takeaways:

1. The block navigator should display persistently on the left side of the page, and should look like the right sidebar.
2. We need to add Story Page numbers to the block navigator, as well as to the individual pages in the middle of the screen.
3. When we're done we should create an issue in Gutenberg to propose this new change for the b

[2018-11-08 17:15] miina commented on #1563
Thanks for logging that @jwold.

On point 2.: Lets look into this but it's possible that for doing that we'd have to replace the whole block navigator with a custom one since the navigator is pulling the names directly from blocks' names. If that would be the case then not sure if this would make sense. Thoughts?
cc @alcurrie @westonruter

[2018-11-08 17:18] jwold commented on #1563
2. That makes sense. If it requires custom work it's likely unfeasible for our upcoming deadline.

[2018-11-08 18:34] braican opened #1597 "AMP Preview button not working - just triggering a reload"
We have a site that is having an issue with the AMP preview button not working as expected. When the AMP preview button is clicked, the page triggers a reload rather than opening a new tab to the preview.

If no new content has been added, the admin page reloads. If new content _has_ been added, the `Leave Site` Javascript alert pops up:

![screen shot 2018-11-08 at 1 30 33 pm](https://user-images

[2018-11-08 18:48] jwold commented on #1530
<img width="333" alt="screen shot 2018-11-08 at 10 47 55 am" src="https://user-images.githubusercontent.com/3411173/48220330-d58e8000-e343-11e8-8e93-96c4d2b04fed.png">

Would love some feedback on this! :) @miina, @alcurrie, @cathibosco

[2018-11-08 18:50] jwold commented on #1530
Todo for later: we may want to make these stand out a bit differently in the inserter. For instance (crazy idea) adding a blue background to all items in the inserter that are for AMP Stories.

[2018-11-08 19:02] miina opened #1598 "Add custom category for AMP-specific editor blocks."
It's now possible to add custom categories to editor (Gutenberg) blocks in addition to the default categories ("Common", "Widgets", etc.):

https://wordpress.org/gutenberg/handbook/extensibility/extending-blocks/#managing-block-categories

Would be useful to add a separate category for AMP blocks so that they would be grouped more appropriately within Inserter.

[2018-11-08 19:06] jwold commented on #1530
Going to remove UX feedback for now, but happy to jump back in if need be!

[2018-11-08 19:09] miina commented on #1530
@jwold Thanks for the icons and for the thoughts, separating AMP Story blocks would be great, especially until it's not possible to hide all the non-AMP Story blocks.

It's possible to create a separate category for AMP Story blocks as well, so they would all appear separately grouped :)

One note on the icons: would it be possible to get these as .svg files, too? Whom should I ask for that?

Than

[2018-11-08 19:15] jwold commented on #1530
1. @miina I love the idea of putting them in a separate category. That should be enough.
2. Here are the SVGs, if you need any changes, or resizes, etc, let me know! :)

Download link: [svg-icons.zip](https://github.com/Automattic/amp-wp/files/2563206/svg-icons.zip)

[2018-11-08 19:35] jwold commented on #1567
At the moment I'm thinking a simple toggle in the right sidebar for captions, and a dropdown for fonts, should be sufficient.

@miina do you want me to mock this up?

[2018-11-08 19:43] jwold commented on #1564
@miina at the moment, if we go with the block navigator, as proposed [here](https://github.com/Automattic/amp-wp/issues/1563#issuecomment-436332598), then the only real change we're proposing is drag and drop capability on the block navigator items.

I could mock this up with an icon showing that they're draggable, or we could just leave them alone and let people discover this.

Welcome feedback o

[2018-11-08 20:40] miina commented on #1567
@jwold Thanks for asking, probably no need for mock at this moment -- the controls would probably have the default Gutenberg design, perhaps we could just verify with you after development if everything looks OK? Thoughts?

[2018-11-08 20:45] miina commented on #1531
@jwold Just saw this now, as chatted as well then probably having a default image / video wouldn't be the most user-friendly option and perhaps just expanding the default media selector to fill in the whole layer would make more sense at this moment. That should be quite straightforward to implement as well and if we see that in practice it doesn't seem to be a good idea then we could think of an

[2018-11-08 20:56] miina commented on #1564
@jwold For me it does make sense that these could be dragged and dropped even without an icon, however, not sure if that's just because I want this to happen or because it's actually intuitive, ha!

[2018-11-08 21:02] jwold commented on #1567
That's perfect. Thanks @miina!

[2018-11-08 21:08] jwold commented on #1530
Note: we ran into an issue with the SVG importing. @cathibosco is helping with making the SVG updates, which we'll post back to this issue.

[2018-11-09 00:31] cathibosco commented on #1560
@miina Do you think the blur effect is viable? For ac2?

[2018-11-09 00:38] cathibosco commented on #1524
Will the blur effect as demonstrated on 1560 be a valid option?

It can be seen in Instagram on page loading.
![0f4c4440-44de-447a-afc6-2d45b4067dc0](https://user-images.githubusercontent.com/4819761/48235888-da782180-e38d-11e8-8cba-c18e7b5c6972.jpeg)

https://canddstudios.d.pr/NZvofY

[2018-11-09 01:14] kienstra commented on #1498
**Document To Collaborate On The Wiki**

Hi @davisshaver,
Here's the beginning of a [document for wiki](https://docs.google.com/document/d/1YVZ7_OD3WG_QHJX5585Z7XaIZC6QKdnE3Nx_DXnF9NQ/edit?usp=sharing). It's in a Google Doc so we can collaborate on it better, as the [GitHub wiki pages](https://github.com/Automattic/amp-wp/wiki) don't lend themselves to collaborating very much.

Feel free to sugges

[2018-11-09 03:54] westonruter commented on #1597
If you open your DevTools console, is there any JavaScript error that is being raised?

[2018-11-09 14:38] davisshaver commented on #1498
@kienstra Thanks so much for including me. I added a few clarifications to the Google Doc, namely that a plugin developer will want to use both filters to ensure that all modes of AMP-WP are supported.

I am using the Parsely plugin as the example for my own tests. Here's the PR I've made adding Native/Paired support to that plugin. https://github.com/Parsely/wp-parsely/pull/116

[2018-11-09 16:17] cathibosco commented on #1524
Here is a visual suggestion for highlighting the element we are actively editing....
Outline with a shadow for displaying on light or dark backgrounds....

![amp-story-page-1-layer outlined](https://user-images.githubusercontent.com/4819761/48274219-d2ad9100-e410-11e8-9cc2-f19edc01505d.png)

[2018-11-09 16:20] cathibosco commented on #1524
AC2 We are moving the selector above the Page 1 editor so that should help resolve any overlapping with editing...
(if I am understanding these AC's correctly)

[2018-11-09 17:48] cathibosco commented on #1530
Revised SVG icon package version2
[Archive.zip](https://github.com/Automattic/amp-wp/files/2566937/Archive.zip)

[2018-11-09 18:01] cathibosco commented on #1563
For conversation on our next workshop...
<img width="1800" alt="screenshot-example2-numbered-pages" src="https://user-images.githubusercontent.com/4819761/48279772-933a7100-e41f-11e8-9119-a070f663194c.png">

[2018-11-09 18:37] miina commented on #1530
Fixed within #1594.

[2018-11-09 18:37] #1530 closed

[2018-11-09 18:37] kienstra commented on #1498
**Going To Copy Document Into Wiki**

Hi @westonruter,
If it's alright, I'm going to copy the [document](https://docs.google.com/document/d/1YVZ7_OD3WG_QHJX5585Z7XaIZC6QKdnE3Nx_DXnF9NQ/edit?usp=sharing) that @davisshaver and I have been working on into the bottom of the [Analytics wiki page](https://github.com/Automattic/amp-wp/wiki/Analytics).

Also, I'll clarify that the [wiki documentation](htt

[2018-11-09 18:37] miina commented on #1526
Fixed within #1594.

[2018-11-09 18:37] #1526 closed

[2018-11-09 18:38] miina commented on #1525
Fixed within #1595.

[2018-11-09 18:38] #1525 closed

[2018-11-09 18:45] arcangelini opened #1601 "WordPress branding for Business Plans"
When using the AMP plugin on WordPress.com Business plans the "Powered by WordPress" appears in the footer despite whatever is set for "Branding" in the "Site Identity" settings.

Video of testing ⇢ https://cld.wthms.co/hpkhGp
Test site enabled on ⇢ https://business-plan.blog

Ideally this should be disabled when the user hides the branding. It also may be beneficial to update the link to send to

[2018-11-10 09:04] shoppingandmore2017 opened #1602 "Automatik amp"

[2018-11-10 09:05] #1602 closed

[2018-11-10 09:16] shoppingandmore2017 opened #1603 "Automatik amp"

[2018-11-10 15:02] #1603 closed

[2018-11-10 18:36] westonruter commented on #1597
Do you have any different plugins active on staging vs production?

[2018-11-10 18:51] kienstra opened #1604 "Test with WordPress 5.0, bump tested version to 5.0"
**As a site owner, wanting to use the AMP plugin site with Wordpress 5.0, I want to know that the AMP plugin works with latest versions of Wordpress (ie. 5.0)  and Gutenberg  4.2.0**
_Acceptance Criteria_
- [ ] AC1. Test this plugin on the [Paired mode staging site](https://paired-ampconfdemo.pantheonsite.io/wp-admin/plugins.php?plugin_status=all&paged=1&s), which is now running WordPress `5.0-bet

[2018-11-10 18:55] kienstra commented on #1604
**In 'To do'**

Hi @alcurrie,
This is now in the ['To do' column of v1.0](https://github.com/Automattic/amp-wp/projects/6#card-14714880). Feel free to add anything, or ask questions.

The next step is for me to ask @csossi to test this, using the [Paired mode staging site](https://paired-ampconfdemo.pantheonsite.io/wp-admin/plugins.php?plugin_status=all&paged=1&s).

[2018-11-10 18:56] westonruter commented on #1604
For the Twenty Nineteen aspects here, see https://github.com/Automattic/amp-wp/pull/1587

[2018-11-10 21:36] westonruter commented on #1601
Hi there. This would be a question better suited for WordPress.com Support.

[2018-11-10 21:36] #1601 closed

[2018-11-10 21:36] westonruter commented on #1604
Merged PR regarding notice in compatibility tool: #1605.

[2018-11-10 21:55] valtermild commented on #1604
Fatal error: Uncaught Error: Call to undefined function gutenberg_get_jed_locale_data() in /home/v/valter8x/valter8x.beget.tech/public_html/wp-content/plugins/amp/includes/validation/class-amp-validation-manager.php:1919 Stack trace: #0 /home/v/valter8x/valter8x.beget.tech/public_html/wp-includes/class-wp-hook.php(286): AMP_Validation_Manager::enqueue_block_validation('') #1 /home/v/valter8x/valte

[2018-11-10 21:57] arcangelini commented on #1601
Thanks Weston : )

I actually am on WordPress.com Support as an HE and was hoping to submit this as a bug report. Would you have any suggestions where I could submit this instead?

[2018-11-11 10:59] shoppingandmore2017 opened #1606 "#1604 #1601 #1605 #1605 #1519 #1588 #221 #1179 #801"
_Originally posted by @shoppingandmore2017 in https://github.com/Automattic/amp-wp/commit_comment/create#commitcomment-31253425_

[2018-11-11 10:59] #1606 closed

[2018-11-11 11:52] shoppingandmore2017 opened #1607 "**Widget AMP Support**"
### Update: this list is now updated, and located in the [project wiki](https://github.com/Automattic/amp-wp/wiki/Native-WordPress-Widget-and-Embed-Support)

Widget | Status | Note
--- | --- | ---
[Archives](https://github.com/WordPress/wordpress-develop/blob/master/src/wp-includes/widgets/class-wp-widget-archives.php) *without* 'dropdown' |  ✅
[Archives](https://github.com/WordPress/wordpress-dev

[2018-11-12 09:32] shangdev opened #1610 "Links to Prev/Next Post causing canonical is incorrect !"
This is Links to Prev/Next Post: #507

This is problem: #1340

[2018-11-12 14:11] miina commented on #1541
Update:
Checked that at this moment it's still not possible to do this within Gutenberg via code.

Perhaps it would somehow be possible to hide all the other elements from the top Inserter via CSS except for the page. I looked into the source and it looks like the block icons have their block-specific classes in inserter, however, the wrapper (`li` element) does not -- even if we'd hide the inner

[2018-11-12 14:18] westonruter commented on #1601
@arcangelini You might want to check with @seanosh, who helped debug another issue with the footer credits being added in https://github.com/Automattic/amp-wp/pull/1066

[2018-11-12 14:19] seanosh commented on #1601
That would be @jhnstn actually, who worked on/debugged this issue originally :)

[2018-11-12 14:20] miina commented on #1559
@alcurrie It looks like we can close this issue for the following reasons:
AC1: This is expected behavior within Gutenberg editor and thus we wouldn't change that;
AC2: This is now invalid since we're going to remove the Layer Inserter within #1563;
AC3: This is blocked by Gutenberg (also see #1541);
AC4: Now that we have a larger plus icon below the page and also after we'll implement the ghosted

[2018-11-12 17:56] alcurrie commented on #1532
@jwold  and @cathibosco  - I've pulled this back to definition, as based on further discussion on related issues, the interface sketch here, is no longer up to dated.

[2018-11-13 00:38] miina commented on #1560
@cathibosco Looks like blur possibly together with opacity 50% background could work well.

We could try it out and then see how it looks like! And then think of alternatives if it still feels like not clear enough. Thoughts?

[2018-11-13 09:36] valtermild commented on #1604
After installing WordPress version 5.0 and the amp plugin
Version 1.0-RC2-20181105T185432Z-049b4cd2 and the activation of the new default Twenty Nineteen theme. When you try to add a new post, this error occurs.

[2018-11-13 15:01] miina commented on #1564
@cathibosco @jwold Actually there is one more thing from UX perspective -- the drag and drop is a possible change for the block navigator, however, we still have the default up/down arrows which are for changing the order of the layers.

We should probably figure out how to make more sense out of these -- for example maybe we should hide them for some layers. Or perhaps we should move these or som

[2018-11-13 16:04] jwold commented on #1564
I'm a fan of holding off on drag and drop for now in place of having the up/down layer buttons. That's a more straightforward right now!

1. Would children move with their parents? (I'm hoping so!)
2. Replicating functionality of Gutenberg should be fine for now, we might just need a bit more room, pushing the entire AMP Story over to the right a bit to make room for it. Would it be helpful to moc

[2018-11-13 16:25] miina commented on #1564
Thanks for the thoughts!

1. Yes, the children already move with their parents in case of the default up/down moving arrows;
2. Not sure exactly what you mean by that so it would be helpful if you could mock it up.

Just for clarity -- I'm talking about the default Up/Down arrows that already exist in Gutenberg just that they might not be most clearly understandable in case of having nested blocks

[2018-11-13 16:31] jwold commented on #1564
2. Yes, this screenshot is exactly what I was talking about. Thank you! My thought was in fact to use the exact same up/down arrows in Gutenberg for the block navigation. Just add a little more margin-left to the block navigator so there's more room for the arrows.

[2018-11-13 16:46] miina commented on #1564
Sounds good!

I'm wondering if it would also make sense to add a border to the arrows. For example at this moment when a layer is selected, it has a dotted border (not visible very clearly right now though), however, a hovered layer has blue border (visible on the screenshot above). Do you think that perhaps having the same border system could make the arrows more clear? For example that the selec

[2018-11-13 16:49] jwold commented on #1564
@miina great thoughts! Are you blocked today if it takes a few days to figure this out?

@cathibosco maybe we could discuss this in our workshop today.

[2018-11-13 16:52] miina commented on #1564
@jwold Development is unblocked for many other tickets so there is no rush at all.

[2018-11-13 17:09] alcurrie commented on #1559
@miina  - Based on your notes, I agree that it makes sense to close this, but as we're working on interface change recommendations that will likely address the 'reasons behind' these requirements, I'm going to leave assigned to me pending finalizing #1563, #1541, and #1532

[2018-11-13 17:11] miina commented on #1559
Sounds good, thank you, @alcurrie!

[2018-11-13 17:20] alcurrie commented on #1532
@cathibosco  can you take a look at this with the view to integrating it into the overall interface updates/changes.

cc. @jwold

[2018-11-13 23:15] alcurrie commented on #1564
@miina @jwold  and @cathibosco - I don't think we have complete resolution on this, in particular we still are not 100% resolved on how to recommend that the 'up/down' for blocks and layers will look/work on the main story page interface but we did, I believe, agree that the 'arrow' navigation would be available within the Block navigation.
Within the block navigation this would be the user flow:

[2018-11-14 00:15] alcurrie commented on #1604
Thanks for the update

[2018-11-14 07:09] kienstra commented on #1604
**Good Idea**

Hi @alcurrie,
Good idea. I updated a requirement to include testing on [Twenty Nineteen](https://github.com/wordPress/twentynineteen). That's now the active theme on the 'Paired' site:

https://paired-ampconfdemo.pantheonsite.io/

[2018-11-14 13:18] cathibosco commented on #1532
Got it added now - thank you @alcurrie

[2018-11-14 13:53] miina commented on #1564
@alcurrie Thank you for the update.

Are you asking if we have to have the default navigation with arrows at all for stories? It would be ideal if we could reuse the existing default Gutenberg features. The arrows are the default way how to move the layers up and down so it would be great if we could reuse these.

On drag and drop: Note that originally the idea was to add the drag and drop to the

[2018-11-14 14:06] cathibosco commented on #1564
Posting as I make a few variations - feedback is welcome always.... :)
<img width="1800" alt="overall-scene-5a" src="https://user-images.githubusercontent.com/4819761/48487556-956c4900-e7ec-11e8-9ff5-29b579df7c3e.png">

[2018-11-14 15:34] alcurrie commented on #1567
@miina  we are working on the updates to the overall interface, so just confirming that you do not need a mock for either of the AC items for this i.e. , A_C-1 - ability to customize font faces_, and _AC-2 change default for images to have “caption” blocks turned off by default and add an interface to turn them back on_  and that you're unblocked on this issue.

[2018-11-14 15:40] cathibosco commented on #1564
New and improved....
<img width="1800" alt="overall-scene-6a" src="https://user-images.githubusercontent.com/4819761/48493385-b4250c80-e7f9-11e8-919a-43623ca17c14.png">
<img width="1800" alt="overall-scene-6b" src="https://user-images.githubusercontent.com/4819761/48493386-b4250c80-e7f9-11e8-9cd9-d9384cd56053.png">

[2018-11-14 15:52] miina commented on #1567
@alcurrie That's correct, the ticket is unblocked, thanks for checking.

[2018-11-14 15:58] cathibosco commented on #1564
Ok here are 3 variations for us to review together
<img width="1800" alt="overall-scene-6a" src="https://user-images.githubusercontent.com/4819761/48494613-3f070680-e7fc-11e8-9836-7fcd908ac549.png">
![Uploading overall-scene-6b.png…]()
![Uploading overall-scene-6c.png…]()

[2018-11-14 16:34] cathibosco commented on #1564
with 50% opacity and blur
<img width="1800" alt="overall-scene-6d" src="https://user-images.githubusercontent.com/4819761/48496978-3cf37680-e801-11e8-9496-a324d025575c.png">

[2018-11-14 17:00] cathibosco commented on #1564
Lower story moved...
<img width="1800" alt="overall-scene-6d" src="https://user-images.githubusercontent.com/4819761/48498773-ea1bbe00-e804-11e8-94d8-300622729a0f.png">

[2018-11-14 17:41] braican commented on #1597
OK, I had missed this the first time. There were different versions of ACF Pro on our staging vs. our production environments. Staging was using ACF Pro v5.5.12, where production was using the latest ACF Pro v5.7.7.

Testing locally, I was able to identify that the AMP preview button works with ACF Pro up to version 5.7.4. Testing with ACF Pro version 5.7.5 broke the AMP preview button. It appears

[2018-11-14 17:52] jwold commented on #1565
For this issue dev will support by proposing how this would look and then design will validate once completed.

[2018-11-14 18:00] jwold commented on #1564
Howdy! A few additional notes from our call today.

<img width="1040" alt="my sketches - 2018-11-14 09 30 52" src="https://user-images.githubusercontent.com/3411173/48502325-1aa72c00-e7f4-11e8-8871-cc77674055f6.png">

We can't do arrows on block navigator right now, so instead what we could do is make arrows persistent when you select a layer in block navigator. Maybe have the arrows show up and p

[2018-11-14 22:55] jwold commented on #1522
This has been discussed in https://github.com/Automattic/amp-wp/issues/1564, proposing what the border should look like. Feeling pretty good with where we've landed.

[2018-11-14 23:18] jwold commented on #1571
The primary thing we should showcase is the work shown here: https://github.com/Automattic/amp-wp/issues/1564

[2018-11-15 06:41] westonruter commented on #1597
Is that something you can raise with ACF support?

[2018-11-15 13:51] alcurrie commented on #1560
@miina  - I've updated the AC here and assumed that the all the items here are covered in other issues as referenced. However, it may be easier from a development perspective to leave the move of the add layer interface change in this issue and remove it from the AC for #1563  Ideally, we could close issues that are covered off in 'other' issues, to clear the board, but there might be a reason, to

[2018-11-15 14:01] cathibosco commented on #1564
CTA layer is not displaying so we can work on the Thirds layer which displays below the CTA layer in the story.

<img width="1800" alt="overall-scene-7e" src="https://user-images.githubusercontent.com/4819761/48557496-ecd5ec00-e8b4-11e8-898f-7479ff6c7e46.png">

[2018-11-15 14:07] mehigh commented on #1541
@miina / @alcurrie
Please review this video I made here: https://dsh.re/a0287
It shows what I was able to achieve with this PR: https://github.com/Automattic/amp-wp/pull/1616

[2018-11-15 15:43] alcurrie commented on #1604
@csossi  - this is ready for your testing:
_The following site is set up to test the WP 5.0:_
 https://paired-ampconfdemo.pantheonsite.io/  (This site  is running AMP V1.0-RC,  Twenty-nineteen Theme,  Gutenberg 4.2.0  (not the newest) and WP 5.0beta 4

[2018-11-15 16:00] jwold opened #1617 "Add more color options to blocks"
Currently in the AMP Stories editor there is no way to add gradients to the block color options. We may want to investigate ways to do this, and see if that should be included in AMP Stories, or whether the task best belongs to a custom plugin, for example: https://github.com/lubusIN/block-background.

[2018-11-15 17:29] kienstra commented on #1498
**Thanks, Copied Document Into Wiki**

Hi @davisshaver,
Thanks for your work on the [document](https://docs.google.com/document/d/1YVZ7_OD3WG_QHJX5585Z7XaIZC6QKdnE3Nx_DXnF9NQ/edit?usp=sharing). It's now copied in the [Analytics wiki page](https://github.com/Automattic/amp-wp/wiki/Analytics#filtering-analytics-data-in-native-and-paired-mode).

Also, I [added some sentences](https://github.com/Autom

[2018-11-15 17:44] #1577 closed

[2018-11-15 17:59] swissspidy opened #1618 "Rename or replace gutenberg_get_jed_locale_data() usage"
`gutenberg_get_jed_locale_data()` is now `wp_get_jed_locale_data()` in WordPress core.

The plugin currently fatals because of that.

The function should be renamed in the plugin and perhaps even considered to replaced in WP 5.0+ as per https://make.wordpress.org/core/2018/11/09/new-javascript-i18n-support-in-wordpress/.

See also #1604.

[2018-11-15 18:00] swissspidy commented on #1618
Either way, it doesn't hurt to add some `function_exists()` checks as is already done in `\AMP_Post_Meta_Box`.

[2018-11-15 20:23] jwold commented on #1617
@alcurrie this would be a great one for our next phase!

[2018-11-15 21:31] #1515 closed

[2018-11-15 23:50] kienstra commented on #1604
**Thanks For Testing**
*Moving To 'To Do' To Await Developmnet*

Hi @csossi,
Thanks for testing this. I'm moving this to 'To Do' until there's work on the issues here.

[2018-11-16 06:03] westonruter commented on #1604
@valtermild The issue you identified has been fixed in #1612.

[2018-11-16 11:14] davisshaver commented on #1498
Looks good to me 👍

[2018-11-16 11:34] emmalewis opened #1620 "Polldaddy shortcode callback triggered when shortcode not present"
When using the plugin in conjunction with the Polldaddy plugin: https://wordpress.org/plugins/polldaddy/ the polldaddy shortcode callback function in `wpcom/class-amp-polldaddy-embed.php` is entered even when there is no polldaddy shortcode on the page. This results in a link at the bottom of the post content with text equal to the post title and url set to `https://polldaddy.com`.

[2018-11-16 14:35] alcurrie commented on #1563
@miina  I've included the updates to the dropdown for the Layer navigation in this issue (AC-10 and AC-11, but think it might make sense to move those requirements/AC to a separate issue.  Also, I'm making the assumption that the dropdown should only include available AMP stories Layers. Since we are building on the Gutenberg framework, I want to confirm that this is not a blocker technically.

[2018-11-16 15:34] kienstra commented on #1498
Thanks, @davisshaver! I'm closing this issue now if that's alright.

[2018-11-16 15:59] #1498 closed

[2018-11-16 16:20] westonruter commented on #1620
@emmalewis what do you have in your post content to cause this problem? I can't replicate the problem.

[2018-11-16 16:21] emmalewis commented on #1620
@westonruter Nothing. We have the polldaddy plugin activated but the problem is exclusively in posts that *don't* have a poll in them.

[2018-11-16 16:31] emmalewis commented on #1620
@westonruter Thanks so much for investigating. We are also on v0.7.2, you can see an example of the link being output at the bottom of this post, immediately underneath the main content. https://scienceblog.cancerresearchuk.org/2017/02/10/3-of-the-toughest-questions-in-cancer-and-more-than-70-million-to-solve-them/amp/

[2018-11-16 17:45] miina commented on #1563
@alcurrie On AC-10 and AC-11: We would essentially be moving this Layer inserter here to a new location:
![screen shot 2018-11-16 at 2 35 27 pm](https://user-images.githubusercontent.com/3294597/48637866-ae702800-e9ad-11e8-8866-47611b5078de.png)

This means that the issue including removing the currently existing Layer cards and moving the Layer inserter to a new location could also include AC-10

[2018-11-16 19:00] westonruter commented on #1620
In the non-AMP version of your post, there is a Polldaddy rating embed:

![image](https://user-images.githubusercontent.com/134745/48641128-9e485080-e98d-11e8-98c0-71f7ea1f215a.png)

This is output to the page as:

[code]

So that is where the link is coming from.

You probably have your Rating settings as follows:

![image](https://user-images.githubusercontent.com/134745/48641406-845b3d80-e98e-1

[2018-11-16 19:19] westonruter commented on #1620
A permanent fix can be found in #1621 which should be included as part of 1.0.

[2018-11-16 20:40] emmalewis commented on #1620
Great, thank you.

[2018-11-17 03:27] kevinlisota opened #1623 "Method to filter iframe attributes"
We have iframes in some of our posts. (omny studio embeds to be precise) Those iframes specifcy width/height attributes.

Upon AMP transformation, the `amp-iframe` gets the `layout="intrinsic"` attribute because of the width settings in the iframe embed.

This particular iframe doesn't work with responsive heights and needs to have `layout="fixed-height"` set instead.

I see where the `layout="int

[2018-11-18 06:47] westonruter commented on #1623
Are you able to add `layout="fixed-height"` to the originally-output `iframe` elements? For example, you could do this with a `the_content` filter:

[code]

That's somewhat brute-force. It would be better if you could add the `layout` attribute closer to where the `iframe` was originally introduced, for example by filtering oEmbed data or wrapping a shortcode output.

Once you set the `layout` the

[2018-11-18 06:56] westonruter commented on #1492
In addition to shaking compound class selectors such as `.block-news.dark`, other key selectors to shake include (from Twenty Nineteen):

* Different class names used in descendant selectors:`.entry .entry-header`
* The same class name used in descendant selectors: `.sub-menu .sub-menu .sub-menu .sub-menu`
* Child and sibling selectors: `.main-navigation .main-menu > li > a + svg`
* Element select

[2018-11-18 18:18] alcurrie commented on #1560
Thanks @miina   Per discussion above, we are closing this as the Acceptance criteria for this issue will be resolved by #1563 and #1524

cc. @westonruter

[2018-11-18 18:18] #1560 closed

[2018-11-18 18:43] alcurrie commented on #1563
@miina - I've updated AC10 and AC11 based on your clarifications above.

@cathibosco  - you may have already provided this, but could you make sure that @mehigh or @miina  have access to the new layer icons?

[2018-11-18 19:38] alcurrie commented on #1522
@mehigh  - for additional clarification I've updated the AC to show the reference to border, but as @jwold notes this is also shown in the latest designs discussed/posted in #1564

[2018-11-19 13:33] mehigh commented on #1541
What I've done there only went towards limiting the elements that can be added to the root level. It's a hackish solution as the interface isn't yet as intuitive as one could expect.
It's not ideal, not final. It only improves on the out of the box, but not by enough.

I think it's worth exploring unregistering core block types for the amp stories custom post type - as one can find references of h

[2018-11-19 13:42] mehigh commented on #1541
"as your screencast showed some elements that will be changed/no longer appear in the interface" -> when we're talking about the root inserter .. i only showed the "Page" element in there. If you're talking about the other inserters (child inserters) - I haven't touched those at all.

[2018-11-19 13:43] miina commented on #1541
@mehigh The issue with unregistering core block types is that we still need them -- it's just one Inserter in the root level where we don't need the core blocks -- we do need these within the layers though.

One option could be hiding the sections as well -- the Page should theoretically always appear as recently used block since we'll automatically add it when a new AMP Story Post is created. We

[2018-11-19 14:03] miina commented on #1541
@alcurrie Probably we could move this back to In Progress (It was already there but I moved it back to Definition since it seemed to be not possible via Backend solution, looks like there is a way via Frontend).

This ticket shouldn't have any influence on any other tickets and the task here should be defined -- to hide the unnecessary blocks from the Root level Block Inserter (all the other block

[2018-11-19 14:52] vishaldodiya opened #1624 "Need more validate before creating warning notices"
The amp block validator script throwing undefined function error.

<img width="1436" alt="screen shot 2018-11-19 at 8 11 48 pm" src="https://user-images.githubusercontent.com/10206090/48714162-1639a380-ec38-11e8-83d3-c51f7eabc3e2.png">

[code]

I think the validator is called too earlier to validate because I am getting the error before even my page has been loaded properly. It needs validation as

[2018-11-19 17:54] westonruter opened #1626 "Automatically move all keyframes to style[amp-keyframes] to save space in style[amp-custom]"
To save on the total CSS that is stored in `style[amp-custom]`, the plugin could automatically move all `@keyframes` rules to the `style[amp-keyframes]` element.

[2018-11-19 18:51] miina commented on #1565
@alcurrie As discussed then the optional AC2 second point (replicating AMP Fit Text within editor) is not doable with reasonable amount of work at this moment. It's not possible to use AMP components within editor at this moment so we would need to create a custom JS script that would copy the AMP script behavior. It makes sense to leave this out of the issue right now and perhaps come back to it

[2018-11-19 18:54] miina commented on #1569
Dev note: leaving this ticket for continuing later (next week) since this should not directly influence #1571.

[2018-11-19 21:20] mehigh commented on #1531
Selecting a layer beneath another is still not possible.
Current state of things: https://dsh.re/59b6e

I’ve spent 2 focused sessions on this ticket today and not much to show for :/ the animations / blurring are all UX improvements, but not being able to choose an image to upload in the lower layer is something still at play.

There is a core click listener which changes the is-selected element a

[2018-11-19 21:56] cathibosco commented on #1531
In our walk through and workshop sessions: We were discussing this:
- if you are working on a layer,  then every layer that is above it would not be visible or actionable -
and every layer below it would be blurred and cut to 30% opacity.
It looks like from the video you are not experiencing that when working on a fill layer. We were working with the block navigator though...
Dropping this mock up

[2018-11-20 01:01] alcurrie commented on #1564
@miina @cathibosco  I've updated the AC based on the discussion we had on Friday.  Cathi, to illustrate to the updated AC, could you please update  your mockup (I believe overall-scene-7d.png shown above is the most recent).  I realize when documenting the updates from Friday's discussion that the mock should be update as well if possible. See requested updates:  https://cl.ly/eab00718802c

[2018-11-20 01:43] alcurrie commented on #1571
@jwold @cathibosco and I met last and talked about a high level outline for what could be included in the demo and Joshua captured notes on some initial ideas:
For discussion, here are some elements that could be part of the demo
1. **Background and context of AMP Stories prior to the 1.5 update**
2. **AMP 1.5 Improvements to the Story Creation workflow**
Demo the new workflow using Block Navigati

[2018-11-20 06:36] westonruter commented on #1610
I think you're looking for https://github.com/Automattic/amp-wp/issues/1389

[2018-11-20 06:36] #1610 closed

[2018-11-20 06:51] kienstra commented on #1579
This is a good catch. It's addressed in PR #1627 with https://github.com/Automattic/amp-wp/pull/1627/commits/c9e0f03b34b423df011e108d5d8c390bcc2630ea. And it's also tracked in #1604.

[2018-11-20 06:51] #1579 closed

[2018-11-20 11:49] swissspidy commented on #1513
Unfortunately I haven't had much time to look into this and I probably won't get to look into #1534 again in time for 1.0. Any help is greatly appreciated.

[2018-11-20 15:35] mehigh commented on #1531
@miina
The last thing - if we can keep the is-selected class of the element we have in focus after we start clicking in the amp story all our problems should be gone:
https://dsh.re/2de3e
If we have to use some other class than is-selected, so be it.. in order to differentiate ourselves from the core Gutenberg functionality which ads and removes classes at will?

[2018-11-20 15:39] mehigh commented on #1523
This was actually changed due to a Gutenberg update - http://cloud.urldocs.com/9999eb79f633
gutenberg/build/editor/style.css has increased the size of the dotted outline and now it's respecting the size of the element as well.
I suggest this to be closed @alcurrie

[2018-11-20 16:22] mehigh commented on #1524
On making the text visible even on top of dark backgrounds (with black text) I've found the best results with using multiple text shadows, like this:
http://cloud.urldocs.com/c0f19d803ace
This shows an extreme case where the background has both light & dark shades.
And here's the same effect on top of a light gray color I inserted just for testing purposes - http://cloud.urldocs.com/ab49a834d832 -

[2018-11-20 16:31] mehigh commented on #1524
Addressed AC2 and AC6 in the referenced PR ^.

[2018-11-20 16:39] mehigh commented on #1524
@miina AC 3:_Add Blue outline what will show around Layer when the layer is selected
Selected Layer (ie thirds layer)_ would work if we keep the is-selected class going or handling a similar class added by ourselves when we click one of the layers.

[2018-11-20 17:21] miina commented on #1524
@mehigh There should be a default selector for it and we should actually already have a border, it's just not very visible:
![screen shot 2018-11-20 at 2 14 15 pm](https://user-images.githubusercontent.com/3294597/48790681-ae826780-ecce-11e8-969b-e830c8af8c2a.png)

Here you can see the `is-selected`:
![screen shot 2018-11-20 at 2 13 43 pm](https://user-images.githubusercontent.com/3294597/48790682

[2018-11-20 18:10] mehigh commented on #1531
Just merged it in, should be deployed soon.

[2018-11-20 18:12] miina commented on #1531
Closing as fixed in #1600.

[2018-11-20 18:12] #1531 closed

[2018-11-20 19:54] kienstra opened #1631 "Update readme images and heading"
AC1. Create a new [banner-772x250.png](https://github.com/Automattic/amp-wp/blob/7b459339d6b23af5e3afd19c2b6b7856ca199c1e/wp-assets/banner-772x250.png) and [banner-1544x500.png](https://github.com/Automattic/amp-wp/blob/7b459339d6b23af5e3afd19c2b6b7856ca199c1e/wp-assets/banner-1544x500.png) (the same image, just different sizes
AC2. Replace the [icon-128x128.png](https://github.com/Automattic/amp-

[2018-11-20 23:55] #1513 closed

[2018-11-21 02:58] westonruter commented on #1618
And the function has now been removed from core. We need to address this again.

See https://core.trac.wordpress.org/changeset/43910

[2018-11-21 03:00] westonruter commented on #1618
@swissspidy Can you figure out what needs to be done here for the 1.0-RC3 release tomorrow? /cc @kienstra

[2018-11-21 11:50] vishaldodiya commented on #1624
@westonruter
Yeah, You are right. I used latest 1.0 beta-4 Tag built ( as the plugin is used on my blog ). And The issue is resolved.
We can probably close this out.
Thanks.

[2018-11-21 12:33] mehigh commented on #1524
AC1's children:

AC2 - Text block selected border - Fixed in PR #1629 ( http://cloud.urldocs.com/7ec491663479 ).

AC3 - Layer selected border - Fixed in PR #1629 ( http://cloud.urldocs.com/7ec491663479 ).

AC4 - Story page selected border - Updated it to the same darker blue which is more visible - Fixed in PR #1629 ( http://cloud.urldocs.com/fed062238ec2 )

AC5 - Fixed with the already merged PR

[2018-11-21 13:01] cathibosco commented on #1631
Here is a draft for the banner ... feedback is always welcome
![amp-wordpress-plugin-banner-1544x500](https://user-images.githubusercontent.com/4819761/48842946-aa545980-ed63-11e8-9fc4-3e4d3837f68c.png)

[2018-11-21 13:21] cathibosco commented on #1631
![mock-up-1](https://user-images.githubusercontent.com/4819761/48843873-61ea6b00-ed66-11e8-8972-e23d488071b7.png)

[2018-11-21 13:46] alcurrie commented on #1559
@miina  - as discussed I've added/re-opened AC 3 (or in this case a sub-issue AC 3a)  in relation to the block inserter. A recent Gutenberg update created a bug for our work on AMP Stories, as it's now possible to to add a Thirds layer inside a Thirds layer; a Vertical Layer inside a Vertical layer, etc.  I've updated the notes/screenshot above, and am re-assigning this to you for review.

[2018-11-21 13:52] mehigh commented on #1565
@alcurrie
I confirmed this to be working OK before merging in
the font-sizes are selectable when amp-fit-text is not wanted: http://cloud.urldocs.com/5f16bfb9ac1c
amp-fit-text works as expected with no preview though in the editor.

[2018-11-21 15:19] #1624 closed

[2018-11-21 15:30] westonruter commented on #1631
I don't think we should have the WordPress logo in the banner. Also I think @amedina will suggest the against the diagonal lines.

The white text describing what AMP is should also be excluded because that will be problematic for translation.

[2018-11-21 15:34] westonruter commented on #1631
For the title of the plugin, it feels super verbose right now. Definitely wouldn't fit in a mobile viewport. I think it should just be plainly "AMP". Everything else could go into the description.

[2018-11-21 15:36] alcurrie commented on #1564
@miina - Here's the updated mockup for layer selected state. https://cl.ly/02a19d7c5026  I've also added mock up to the AC and updated - layer selected in the block navigation to only show highlighting the layer (ie. Thirds Layer) Note: labelling update for the hover on the arrows should  match the  AC above (Bring forward/Move back) not the mockup.

[2018-11-21 17:39] cathibosco commented on #1631
Let's look at this...
![mock-up-6](https://user-images.githubusercontent.com/4819761/48858865-848e7b00-ed8a-11e8-8c4b-5bcf8b796e10.png)

[2018-11-21 18:08] ineagu opened #1633 "release date"
I am waiting for v1 for a long time :), we added out of the box compatibility with v1 AMP plugin on our latest theme :
https://wordpress.org/themes/download/neve.1.0.9.zip?nostats=1 and would love to have at least some idea about when v1 is out.

We are already using the RC version on production at themeisle.com/blog/ and is doing well!

[2018-11-21 20:40] cathibosco commented on #1631
Last one for today - I agree with @westonruter the name is a bit long for mobile and for the product page... how do you like this version? @amedina

I can refresh this again on Friday... getting closer :)

![mock-up-7](https://user-images.githubusercontent.com/4819761/48867279-b19b5780-eda3-11e8-8452-b38f5d9db05f.png)

[2018-11-21 21:33] westonruter commented on #1633
Yeah, sorry about that. We've been having to make continual updates to the release candidates as development of WordPress 5.0 is causing changes to the Gutenberg APIs. There will be a new RC published today. We're essentially tracking WordPress 5.0 as the release date for AMP 1.0 as well.

[2018-11-21 21:35] ineagu commented on #1633
good to know, thanks!

[2018-11-21 22:11] #1618 closed

[2018-11-21 22:21] fthead9 commented on #1633
I just saw today that WP 5.0 won’t be released on the 27th. Does that mean AMP 1.0 is also getting pushed back?

Now that we’ve integrated your plugin instead of using our framework we’re stuck waiting to release our AMP WooCommerce plugin. Would really like to see AMP 1.0 out before EOM so we can finally launch. Please provide a release date update so we can plan accordingly.
Thanks,
Toren

[2018-11-21 23:08] jacobschweitzer commented on #1562
@miina Could you please review [this PR](https://github.com/Automattic/amp-wp/pull/1636) for me? Thanks!

I tried to add a RichText template but it was giving an error that `attributes` was empty though it seemed to work fine with existing blocks so I didn't catch it right away. I also tried with `core/paragraph` as the template but it was acting funny as well. Is there a place where `<InnerBlocks

[2018-11-22 02:47] amedina commented on #1633
Currently we are targeting December 4th as the release date. Unless something unforeseen happens, that will be the release date.

[2018-11-22 11:37] ineagu commented on #1633
Let's hope for the best :D

[2018-11-22 12:39] miina commented on #1562
@jacobschweitzer Just added some comments.

Saw your note just now about adding a RichText. Actually I think we were supposed to add `core/button` (Button block) template -- could you try with that to see if this works? If there's an issue with Gutenberg that doesn't allow doing that at this moment then we should log this for the next iteration of AMP Stories and can probably leave this AC out for

[2018-11-22 12:47] miina commented on #1524
@mehigh Assigned you back for now (for the last change of removing blue outline from selected parent).

[2018-11-22 13:12] miina commented on #1564
@alcurrie Thanks for the update.

One note on labelling: the arrows we are reusing are the default arrows for moving blocks -- not sure that we can actually easily change these.

However, the Arrow labels (Up and Down) do match the movement in the Block Navigation -- the Arrow Up moves the block Up in the Navigator, and the arrow down moves the block down. I'm wondering if this is actually more cl

[2018-11-22 15:37] alcurrie opened #1643 "Explore options for customizing font faces for AMP Stories"
**As a AMP story author, I want to be able to customize the fonts used for my AMP story**

- [ ] _AC 1:_ Explore option to customize font faces (ie. maybe Google fonts)
- Related to #1565 - Larger default styles and #1567 (This issue was previously part of #1567  but has been separated out here the discussion/follow up does not block the other work on that issue.)

NB: Per discussion in Slack this

[2018-11-22 15:38] alcurrie commented on #1643
@miina  - as discussed, I've broken this out into a separate issue for review discussion.

[2018-11-22 15:53] alcurrie commented on #1567
@miina  -  moved AC1: to a separate issue #1643

[2018-11-22 16:52] miina commented on #1541
@alcurrie: Update, it seems to be possible now without CSS; so I'll be resolving this together with #1559.

[2018-11-22 17:02] mehigh commented on #1532
@bluestormcreative This isn't ready for prime time. This shouldn't remove the side adder - http://cloud.urldocs.com/a4d53dd19dbf

Instead we need to figure out a way to turn this normally hidden + button at the bottom into a page adder:
http://cloud.urldocs.com/6c65fd7a3f02

[2018-11-22 17:15] mehigh commented on #1532
Actually the hiding of those elements I did undo quickly.. and the reason the add ghosted page went berserk is due to a Gutenberg update. You were seeing a different "+" structure than I'm seeing, hence the selectors didn't play along well.
I'm updating this to work with the newest version of G and 🤞 for this not to break next week.

[2018-11-22 17:17] cathibosco commented on #1631
Here are 2 variations to review please:
@westonruter @kienstra @amedina

![mock-up-8](https://user-images.githubusercontent.com/4819761/48916481-815dc280-ee50-11e8-96a3-f54530737813.png)

or

![mock-up-9](https://user-images.githubusercontent.com/4819761/48916482-815dc280-ee50-11e8-99c4-d8e00d88e7df.png)

[2018-11-22 17:35] cathibosco commented on #1631
Here is the file for the approved version without the rocket - we will start with that one and rename the plugin  AMP - thanks for all the reviews!
[Archive- AMP-plugin-page-art.zip](https://github.com/Automattic/amp-wp/files/2608976/Archive-.AMP-plugin-page-art.zip)

[2018-11-22 17:48] jacobschweitzer commented on #1562
@miina  I've updated it with `core/button` in the PR. I think I just misread the AC. Please have a look at the PR in relation to the other two issues there (blurring and CTA on first page).

[2018-11-22 18:14] mehigh commented on #1532
How this looks now:
http://cloud.urldocs.com/76c76d5127ca

The small page icons in the side-nav is updated now
The last add button is transformed into a ghosted page
The page border and background color will be updated in the ticket which handles the borders.

[2018-11-22 19:11] mehigh commented on #1532
This handles the first item in AC1 and AC3.
[x] - _Display ghosted Story page by default below the last AMP story page_
[ ] _On tap/click anywhere on the 'ghosted story' page a new story page is created_ -> I wasn't able to place an element with that functionality there. This work turns the old "+" at the end into a ghosted page only.
[ ] _When a new story is created_ -> no changes on this item in

[2018-11-22 19:11] mehigh commented on #1532
Fixed via merging #1632

[2018-11-22 19:11] #1532 closed

[2018-11-22 19:58] pacifier007 opened #1645 "Should AMP settings panels be open by default"
I find it distracting that in many Gutenberg blocks, AMP is the first panel. AMP is important and all but it's not the first thing I wish to interact with. It's above block's native Gutenberg controls and it's open by default. Even if it's kept above the native controls, I would suggest having it collapse by default. If someone wishes to interact with AMP settings, they can expand it.

In Gutenber

[2018-11-22 21:14] mehigh commented on #1524
Handled the last feedback of not applying the blue border to the parents of the selected item and merged the PR. Moving this on to QA.

[2018-11-22 21:14] #1524 closed

[2018-11-22 21:15] mehigh commented on #1522
The colors have been updated and now the page looks like this: http://cloud.urldocs.com/26f832e554cd
Closing as it was merged this along the fixes for 1524
Moving it on to QA.

[2018-11-22 21:15] #1522 closed

[2018-11-22 21:35] mehigh commented on #1541
Lovely solution, Miina.
Closing as merged. Passing on to QA.

[2018-11-22 21:35] #1541 closed

[2018-11-22 21:36] mehigh commented on #1559
Lovely solution, Miina.
Closing as merged. Passing on to QA.

[2018-11-22 21:36] #1559 closed

[2018-11-22 23:15] miina commented on #1562
Closing this this got fixed within #1636 .

[2018-11-22 23:15] #1562 closed

[2018-11-23 13:47] mehigh commented on #1564
The styling looks like this: http://cloud.urldocs.com/e1a46fd70c3e
It maintains the label looks which were normally added by Gutenberg while hovered.
The label disappears when the user selects an element inside of the layer and stays visible while the direct layer is selected.

[2018-11-23 13:51] mehigh commented on #1564
The styling looks like this: http://cloud.urldocs.com/e1a46fd70c3e
It maintains the label looks which were normally added by Gutenberg while hovered.
The label disappears when the user selects an element inside of the layer and stays visible while the direct layer is selected.

[2018-11-23 21:21] westonruter commented on #1645
Are you referring to the section that contains "Fit text"?

@miina Is it difficult to move the AMP settings down, perhaps before the Advanced section?

[2018-11-24 19:07] westonruter commented on #1570
Is preview an issue for regular posts as well? This seems like it could be an environment issue. Is it reproducible on a local testing environment?

[2018-11-24 19:54] cathibosco commented on #1631
@kienstra
We have updated the graphics to align with the new product site - these are now the approved graphics - can you add them to the repo for us when you are back?  thank you!! :)

[Plugin Graphics for Repo.zip](https://github.com/Automattic/amp-wp/files/2612550/Plugin.Graphics.for.Repo.zip)
![mock-up-new](https://user-images.githubusercontent.com/4819761/48972460-d2a8b600-eff8-11e8-8c5e-b75c

[2018-11-25 14:10] pacifier007 commented on #1645
Thanks for the reply.

Yes, I am referring to the panel that contains Fit Text pushing the native controls down. It's more distracting in the in the Image and Gallery blocks as there are many AMP setting fields there overshadowing the native controls which are supposed to be used more often.

[2018-11-25 17:30] westonruter commented on #1645
This makes sense to me.

@miina Can we move the section down?

[2018-11-25 17:44] mehigh commented on #1563
AC 4: _Update the AMP Stories interface to show the block navigation expanded by default, to the left of the active AMP story._ - *handled*
This was implemented to work from screen widths larger than 961px
On screens <960px the sidebar is automatically folded (that's how core works), and here toying with the layers is behind the top button here: http://cloud.urldocs.com/5f0c99fd0046

At the minimu

[2018-11-25 18:10] mehigh commented on #1564
AC4: _when the user selects the block, the arrows are persistent_ - **not handled**

I want to add on the arrows which change the order of the blocks or layers - it's not easy to persist them as they get added to the page only on hover by the Gutenberg core. If the elements were dormant, it would've been fairly easy to show them while the block is selected, but it that was not the case.

[2018-11-26 12:29] miina commented on #1645
@westonruter I'll look into this today / tomorrow.

[2018-11-26 13:40] alcurrie commented on #1643
Thanks @mehigh  - I think that sounds like a good approach to me from a user perspective. Do you have a sense of how time consuming and/or complex this would be to implement?

@miina  - do you have any concerns about this re. implementing/integrating with existing deliverables this week?

[2018-11-26 14:19] mehigh commented on #1643
@alcurrie - probably around a day. This doesn't exactly align with the deadlines.
Maybe if Miina thinks it's OK, we can take it into consideration as a - if we have the time.

[2018-11-26 16:59] miina commented on #1570
@jacobschweitzer I'm also not seeing any issues with the preview at this moment -- the thirds layer seems to display just fine; also the CTA button is displaying as expected. So it looks like the mentioned issues do not exist at this moment. Did you try testing it with assigning different values as well, for example the placement of the blocks within Thirds layer etc.? I tried it briefly and it se

[2018-11-26 17:16] miina commented on #1643
@mehigh Thank you for looking into this!

What would be relatively simple to do would be to add a new Select control for text blocks from where the user could choose the font-family. And then we could add this as an inline style for the relevant block. If this sounds like a suitable solution for text blocks then we might have time to add it, do you think that would be OK, to add the font family as

[2018-11-26 17:32] paulschreiber opened #1653 "Unused variable warning in add_twentynineteen_image_styles"
In `add_twentynineteen_image_styles()`, the `$args` variable is passed to the anonymous function, but never used in that function.
https://github.com/Automattic/amp-wp/blob/develop/includes/sanitizers/class-amp-core-theme-sanitizer.php#L1094

[2018-11-26 17:53] westonruter commented on #1645
Fixed by #1652.

[2018-11-26 17:53] #1645 closed

[2018-11-26 17:54] westonruter commented on #1653
@paulschreiber a PHP warning or a PHPCS warning?

[2018-11-26 17:58] paulschreiber commented on #1653
PHPCS unusued variable warning.

[2018-11-26 17:59] westonruter commented on #1653
Feel free to open a PR to the `1.0` branch. Please make sure to branch off of `1.0`.

[2018-11-26 18:21] westonruter opened #1654 "Sources column has undesirable line wrapping on Validated URL screen"
In the Validated URL screen, when there is a the publish metabox to the side, the Sources column is has some bad wrapping exhibited on a 1200px-wide screen (e.g. on Pixelbook):

![image](https://user-images.githubusercontent.com/134745/49033545-559a4f80-f164-11e8-83f8-46986fcbd058.png)

Also, when the dropdown say "New Accepted" the icon preceding gets a line break after it.

[2018-11-26 22:04] westonruter opened #1656 "Twenty Nineteen: Featured image in post list does not appear properly"
The featured image used appearing on a post list such as at https://2019-theme.amp-wp.org/ does not render properly:

![image](https://user-images.githubusercontent.com/134745/49044879-ffd59f80-f183-11e8-97ad-86a3d844fcab.png)

There is an unexpected gap in the right side of the image.

See https://2019-theme.amp-wp.org/

[2018-11-27 05:55] mddsharpp opened #1659 "RC3 - Structured Data Error"
On v1RC3 I get valid AMP but errors on structured data (SD). On the non-AMP test there is 1 entry for for article but on the AMP SD there are two article entries, one with an error and one without. Here is a URL you can test SD on on for non-AMP and AMP.

https://ccountync.com/morehead-city-used-game-consoles-for-sale-nc-xbox-nintendo-playstation-wii/

[2018-11-27 15:09] alcurrie commented on #1643
@miina / @mike That makes sense to me. Let's add this to the discussion at backlog grooming today.

[2018-11-27 16:44] cathibosco commented on #1631
@kienstra @amedina @westonruter
Please find the final graphics needed for the plugin repo here
[Launch with these Graphics.zip](https://github.com/Automattic/amp-wp/files/2620938/Launch.with.these.Graphics.zip)
![mock-up-launch](https://user-images.githubusercontent.com/4819761/49096963-bfd0f400-f239-11e8-80c5-d6785280d94b.png)

 :)

[2018-11-27 17:55] westonruter commented on #1659
It seems to be an issue with Phil Singleton's WP SEO Structured Data Plugin in that it outputs the Schema.org metadata in the footer, whereas the AMP plugin outputs it in the head.

The AMP plugin actually tries to prevent prevent outputting its own metadata if there is already a `script` on the page, but the problem is that it currently is only looking inside the `head` for such an element:

http

[2018-11-27 19:36] postphotos commented on #1631
Oooh! I really like this. Nice work, folks! 🥇

[2018-11-27 22:20] kienstra commented on #1656
**Question About Multidev Site**

Hi @westonruter,
It looks like https://2019-theme.amp-wp.org/ is running `1.0-RC2`. I can't reproduce this locally with `1.0`, but it does appear with `1.0-RC2`.

Would you have access to update the plugin on the multidev site? This might have been fixed by https://github.com/Automattic/amp-wp/commit/d7de7d17bd769d55e5adf95e0b6b2723c0d4932b in https://github.com/A

[2018-11-27 22:35] jacobschweitzer commented on #1567
This is ready for a code review when you've got a chance @miina :
https://github.com/Automattic/amp-wp/pull/1663
Thanks for your help getting me started on this!

[2018-11-27 22:36] westonruter commented on #1656
Sure enough! I pushed up a new build of `1.0` including changes from RC3 and I don't see the problem anymore. 😅

[2018-11-27 22:36] #1656 closed

[2018-11-27 22:48] kienstra commented on #1656
Nice, thanks!

[2018-11-27 23:18] westonruter commented on #1659
@mddsharpp See https://github.com/Automattic/amp-wp/pull/1664

[2018-11-28 14:30] #1659 closed

[2018-11-28 16:51] jacobschweitzer commented on #1570
@alcurrie I did some testing locally again and didn't notice any issues. I'll pass this along and hopefully it gets through QA without any trouble for you.

[2018-11-29 09:55] kienstra commented on #1509
Closing this, as #1662 handles this issue's requirements.

[2018-11-29 09:55] #1509 closed

[2018-11-29 15:59] alcurrie commented on #1570
@jacobschweitzer  - @cathibosco is seeing an issue with having to clear cache after every preview.  I'm moving this back to in progress, and will try to get some specifics or a screen cast to show issue.

Cathi can you add any specifics here?

[2018-11-29 18:20] westonruter commented on #1570
On which environment(s) is the issue being observed?

[2018-11-29 18:39] miina commented on #1570
@westonruter:
@cathibosco was testing this on the amp-stories development environment. Also, as far as I understood the issue came out well with adding and modifying animation settings for blocks/layers.

For example if you add an Animation type and preview it; and then change the animation type and click preview again, it still shows the previous animation type.

The environment has `amp-stories`

[2018-11-29 18:41] westonruter commented on #1570
But which _server_ environments is this being observed? Only on Pantheon? Also on local?

[2018-11-29 18:44] miina commented on #1570
Just tested -- locally it's refreshing correctly and displaying as expected!

[2018-11-29 20:58] alcurrie opened #1673 "AMP stories Interface fixes and enhancements for the Demo"
- [x] _AC-1_ - Because the display of the arrows is limited to the hover state, and changing it to be persistent on hover is blocked by Gutenberg, implement a solution using to 'show' the arrows in selected state and then the hide the CSS on hover when the can see and take action to move the page, block, or layer up or down.
- [x] _AC-2_ - Remove/hide the add layer interface from showing over the

[2018-11-29 21:21] mehigh commented on #1673
Fixed. Merged just now, so it should hit staging in a little while.

add layer inserter inside of the page is hidden when block navigation is visible: http://cloud.urldocs.com/5a99e782f703

block navigation doesn’t move up & down depending on the presence of the Add Layer button - http://cloud.urldocs.com/fbfad1b54f70

arrow display when the element is selected rather than just when hovering them

[2018-11-30 04:17] alcurrie commented on #1562
The core  functionality is confirmed working.  @csossi  - can you review this as part of your overall QA review.

[2018-11-30 06:49] kienstra commented on #1400
**Moving To 1.1 Project**

PR #1670 was the only remaining task for this issue planned for the 1.0 release.

But the links in it aren't to a live site, so I'm moving this issue out of the [1.0 project](https://github.com/Automattic/amp-wp/projects/6#card-12728821).

[2018-11-30 06:53] kienstra commented on #1502
**Does the PR address your points?**

Hi @pacifier007,
Thanks for bringing up the need for better notices.

Does PR #1676 address your points here?

[2018-11-30 14:24] alcurrie commented on #1569
@miina  - I know you're still working on this but in testing last night, the good news is that the AMP stories processes are looking good, but in testing different blocks and embed, etc (ie. YouTube) there were definitely some AMP errors being generated: https://cl.ly/36050d3aa8ca
Just thought ^ some extra egs. might help with troubleshooting.

[2018-11-30 14:36] mehigh commented on #1565
@alcurrie you have this toggle under AMP Settings for paragraphs:
http://cloud.urldocs.com/aa470166756b

Toggle that on and give the text a height it should respect.

Here's a 50px with a lot of text preview: http://cloud.urldocs.com/faf93e747598
And the same thing with less text: http://cloud.urldocs.com/3ac8c7d96502

https://amp-stories-ampconfdemo.pantheonsite.io/stories/951/

[2018-11-30 14:42] miina commented on #1569
Thank you for the additional details, @alcurrie. All these should get fixed within the current PR.

[2018-11-30 16:58] asadkn opened #1679 "Gutenberg lagging and high CPU usage when in paired mode"
When AMP is in paired mode, there's massive lag when using Gutenberg demo post. I have tried this with twentyseventeen theme, and Gutenberg + AMP RC3 plugins active. The problem doesn't occur with default settings but only when paired mode is activated via functions.php:

[code]

Screencast: https://d.pr/v/HLB3BN

[2018-11-30 17:17] lkraav commented on #1679
Looks very similar to what's happening in https://github.com/WordPress/gutenberg/pull/12312 and the underlying issues there.

[2018-11-30 17:20] alcurrie commented on #1531
I've confirmed adding a new page opens with a default template will include the following elements:
- A background image layer block
- A vertical grid layer on top of the background image layer
- media loader displays by default on the page and the AMP story author can add an image in the background and by default the image fills the space
See screencast:  https://cl.ly/8ea95bd1178e

As discussed

[2018-11-30 17:48] miina commented on #1679
@westonruter Testing locally with a long post on that PR branch: typing is very slow in both Paired and Native mode. With classic mode it seems to be the "normal" experience of Gutenberg. Switched these a few times just in case to make sure it was related to switching the mode and it seemed to be the same every time -- very slow typing in Native / Paired mode.

[2018-11-30 17:56] westonruter commented on #1679
That's not good! I wonder if it is due to AMP block extensions, or if it is due to the AMP block validation code. Please try disabling one or the other to see if you can narrow down where the problem is.

[2018-11-30 21:07] #235 closed

[2018-11-30 21:22] kienstra commented on #1679
**Request To Test PR**

Hi @asadkn,
Thanks a lot for bringing up this issue.

Could you please test #1679 to see if it fixes this for you? It worked for me locally.

It looks like you know how this works, but please do `npm run dev` to rebuild the JavaScript files.

[2018-11-30 22:08] asadkn commented on #1679
Seems to be all good 👍

[2018-11-30 22:14] westonruter commented on #1679
Merged into 1.0 branch. Will be part of 1.0-RC4. @asadkn Thank you very much for testing.

[2018-11-30 22:14] #1679 closed

[2018-12-01 00:10] beaucollins opened #1684 "Inline css generating invalid CSS"
I have a site with an unnecessary amount of inline styles due to copy/pasting Word content. However, the CSS generated in the header of the AMP version of the page appears to be invalid CSS (notice the extra `<br /></br>` tags:

[code]

It happens during the [`amp_post_template_add_styles`][amp_post_template_add_styles] function.

https://github.com/Automattic/amp-wp/blob/99d094341e5a011f71af4e934

[2018-12-01 00:37] westonruter commented on #1684
What version of the plugin are you testing with? And is there a URL where the issue can be observed?

[2018-12-01 00:39] beaucollins commented on #1684
Version 0.7.2

Here's an example https://autoacrepair1.com/2006-honda-civic-si-l4-2-0l/?amp

[2018-12-01 00:42] beaucollins commented on #1684
Upon further inspection it looks like the original `style=` attributes are invalid themselves. This may be something the AMP plugin wouldn't be able to "correct" given how bad the source styles are.

[2018-12-01 00:47] westonruter commented on #1684
Yeah, I see in the non-AMP version there are `<br>` tags:

[code]

Try removing the linebreaks in the underlying content.

Perhaps this is because you have linebreaks in your HTML and WordPress is messing it up with `wpautop`. Nevertheless, the newest version of the AMP plugin has an actual CSS parser which will only result in valid CSS being output. You'll be able to download 1.0-RC4 soon from ht

[2018-12-01 00:47] #1684 closed

[2018-12-01 00:49] beaucollins commented on #1684
That seems to be the case. The original content is getting a good cleanup in the meantime!

Good to hear 1.0-RC4 will be smart enough to correct such egregious content.

[2018-12-01 21:19] #1654 closed

[2018-12-02 13:49] alcurrie commented on #1532
Confirmed that add a new page interface, with the new 'ghosted' page interface, and the update of the icon for  pages in the block navigation elsewhere in the interface. https://cl.ly/24d18e6425f9

[2018-12-02 14:30] alcurrie opened #1686 "AMP Stories - Minor recommended interface improvements/fixes"
Based on QA review here are some outstanding minor recommended  interface improvements/fixes to make the AMP Stories interface easier for users:
- [ ] ~_1._ In the block navigation Page should be labelled Story Page in the block navigation
https://cl.ly/931b7c82df96~   - _Per @miina 's note below (https://github.com/Automattic/amp-wp/issues/1686#issuecomment-443753533), this is part of the request

[2018-12-02 14:55] alcurrie commented on #1541
This is confirmed fixed. If a user does not have a page selected, then the only block element that the user can add is a new page block:
https://cl.ly/063d83576ff3

[2018-12-02 15:15] alcurrie commented on #1530
Confirmed AC 1 and 2: splitting out into separate layer blocks, renaming layer blocks and updating the icons: https://cl.ly/0702f12301c6
I've confirmed that adding a YouTube video 'fills' the width of the page:
I've confirmed the improved defaults: https://cl.ly/7c8a49cb873c

2 questions:
1)  @miina  I don't see an autoplay option in the video player block options is there a reason this could not

[2018-12-02 22:44] alcurrie commented on #1567
Images are now confirmed to not show/display with captions by default. However, now there is no way to add a caption to an image.  (NB: ideally the caption should be a block option. However, it could also, just display the 'image caption'. Neither works currently.  https://cl.ly/bd57277d4b06'
Also, the image update interface does not seem to be clearing/closing once the images are updated.

[2018-12-02 23:02] jacobschweitzer commented on #1567
Hi @alcurrie the option is a toggle under AMP Story settings section labeled "Show or hide the caption" . I could see it in the video so I know it's not missing 😄 Maybe we could re-word it or put it in another place to make it easier to find? What do you think?

[2018-12-03 02:51] alcurrie commented on #1563
Confirmed working as specified in the AC: https://cl.ly/10fb41172e80

[2018-12-03 03:05] alcurrie commented on #1564
Confirmed updates to layer manipulation and labelling

[2018-12-03 03:16] alcurrie commented on #1562
Confirmed the interface to add a CTA button is now much simpler and easier to add to an AMP story https://cl.ly/5dc8d80adcd6

[2018-12-03 03:54] alcurrie commented on #1565
@mehigh  - I can see the Toggle under AMP settings and when I turn it on and view the text, see EG1 for default display:
EG1  - Default https://cl.ly/0562816d04f7

[2018-12-03 04:12] alcurrie commented on #1524
Confirmed working as described in the AC:    https://cl.ly/6f22f357812f

[2018-12-03 04:16] alcurrie commented on #1525
Confirmed working: https://cl.ly/6bd54fac3ae9

[2018-12-03 04:32] alcurrie commented on #1673
@mehigh  - I confirmed issues for AC-1 display of Arrows, AC-2- Remove/hide the add layer interface from showing over the AMP story interface (user can add layers from the new 'add Layer' link above the block navigation)  AC-3 block navigation doesn’t move up & down depending on the presence of the Add Layer button.

Re. AC-2  the user can still add a new block (ie. paragraph) within the layer, an

[2018-12-03 04:36] alcurrie commented on #1522
Confirmed: https://cl.ly/8da2559e0382

[2018-12-03 04:38] alcurrie commented on #1523
Confirmed: The border now goes around all text, and is the blue 'selected' text as shown here: https://cl.ly/8da2559e0382

[2018-12-03 04:50] alcurrie commented on #1526
The user is not blocked from adding a new block to an image fill layer using the 'insert block'.  See screencast: https://cl.ly/24e2f604ef79

[2018-12-03 05:02] alcurrie commented on #1559
This is confirmed working consistently.

[2018-12-03 05:09] alcurrie commented on #1570
@cathibosco  -can you provide some more examples/screencasts of where preview is not working for you?

[2018-12-03 05:12] alcurrie commented on #1567
Hi @jacobschweitzer  - thanks for the quick response.  I'll take another look!

[2018-12-03 05:19] alcurrie commented on #1567
@jacobschweitzer  - I just took another look. I'm not seeing where the 'AMP Story settings section labeled "Show or hide the caption" is. Any chance you could post a screen shot for me, or describe steps to find it.  https://cl.ly/83d4598b808e

[2018-12-03 07:53] mehigh commented on #1565
You can't preview the size of amp fit text inside the editor. Not sure what
you're after here?

On Mon, Dec 3, 2018, 06:04 alcurrie <notifications@github.com> wrote:

[2018-12-03 11:59] miina commented on #1526
@alcurrie The screencast shows that the paragraph is created _after_ the Image Fill Layer (inside Page block) but not _inside_ the image Fill Layer.

The AC1 here is for not being able to add more than one block _into_ Fill Layer which seems to be true -- it's not possible to add another block inside the Image Fill Layer.

The bug that you found seems to be a separate general issue, not a Fill Lay

[2018-12-03 12:03] miina commented on #1567
@alcurrie Note that the Fill Image can never have a caption -- that's because the Fill Image takes the whole room of the background so there is no room for the caption anymore. Other image blocks should have a caption option, could you try with any other Image block?

Do you think it would make sense to have the caption for the Background Fill Image as well?

[2018-12-03 12:16] jacobschweitzer commented on #1567
Thanks @miina I forgot about that detail related to the Fill Image, it won't show up there right now. Here is where it is located @alcurrie
![Image caption toggle](https://cl.ly/00b3f48696d1/%255Ba67c1eec05c57fdff88505d25c3e4957%255D_Image%2525202018-12-03%252520at%25252010.13.20%252520AM.png)

[2018-12-03 14:18] miina commented on #1530
@alcurrie:
1. Note that for the Video Settings to appear a video needs to be added first. For example if you add a Fill Video Layer and then add a video, this appears with the Autoplay option:
![screen shot 2018-12-03 at 11 15 38 am](https://user-images.githubusercontent.com/3294597/49378970-cbfefa80-f6ec-11e8-8fcf-093fc09b28a9.png)
2. Recommended size is 720x1280 px -- probably would be good to a

[2018-12-03 14:58] alcurrie commented on #1565
Thanks @mehigh  - Thanks for clarifying that I can't check inside the editor (or preview?) So I will go back and test 2 different pages and only look for the differences once they are published.

What I'm trying to understand is what impact, making the change is expected to have on publish?  What seems to be happening is that all text elements in the layer (i.e. even if they are in separate blocks

[2018-12-03 15:00] mehigh commented on #1565
If you add a lot of text and setup a height of 50px for example.. you’ll
get tiny text.
If you set a height of 50px and only write one word.. you’ll get that word
in a larger type face.

It basically tries to fill in the space you define (50px / 100 .. or
whatever) with the space you provide.. by adjusting the font-size up or
down until it makes a better use of the editor configured space.

On 3 D

[2018-12-03 15:04] alcurrie commented on #1530
Thanks @miina  - I'll retest and add a note for the Wiki. Re. messages for the 'next phase' do you mean that we should  consider adding support for other videos  sizes for the next phase, or are there other video related enhancements that we should be tracking?

[2018-12-03 15:18] miina commented on #1530
@alcurrie I'm thinking that probably generally in the next phase we would look over all the existing features and see if we could make things easier for the editor by displaying relevant messages for best practices and recommendations for AMP Stories. Such as display the recommended image size / ratio and the same for video, etc. Thoughts?

[2018-12-03 15:37] miina commented on #1686
Thank you for QA-ing the tickets, @alcurrie.

1: For doing that we would need to rename the block name -- then it would appear as "Story Page" everywhere. Initially it was "AMP Story Page" but that was [specifically requested](https://github.com/Automattic/amp-wp/issues/1525) to be removed from all the blocks and then it was left just with "Page". I'm fine either way but this is probably something

[2018-12-03 16:45] alcurrie opened #1688 "Issues returning to edit AMP stories after logging out and back in"
**Issue: Errors display in the AMP stories editor AMP stories after logging out and back in**

Once I log in and out of editing I am still getting the errors. Also the screen of the storyboard is displaying the add image in the thirds layer oddly… here are 2 screenshots. I can’t leave editing currently or else I get the error…  And upon returning to edit - the block editor is missing…  this is new

[2018-12-03 17:04] westonruter opened #1689 "Unable to dismiss AMP admin pointer on medium-sized screen"
On a screen resolution that is 1200px wide, the admin pointer for the AMP section is positioned below the viewport even after scrolling to the bottom of the window, meaning that the Dismiss link cannot be clicked:

![image](https://user-images.githubusercontent.com/134745/49388870-d237ab80-f6d9-11e8-94d9-702cf18a24d5.png)

This was reported originally at https://wordpress.org/support/topic/amp-not

[2018-12-03 19:19] HispanicLA opened #1691 "Multiple errormessages with AMP plugin"
I installed AMP version 0.7.2 for https://hispanicla.com. *in Spanish
With the following problems
1. At hispanicla.com/wp-admin this notice appears 4 times:
Notice: is_amp_endpoint se llamó incorrectamente. is_amp_endpoint() se reclamó antes de llamar al gancho 'parse_query'. Esta función siempre devolverá 'false' antes de llamar al gancho 'parse_query'. Por favor, visita Depuración en WordPress p

[2018-12-03 19:40] HispanicLA commented on #1691
Sorry. I took my own advise and deactivated each plugin and found a partial answer.
When the plugin **Google Analytics Dashboard for WP (GADWP)** version 5.3.7 was deactivated the error messages at wp-admin dissappeared. But the problem persists at the AMP validator.

[2018-12-03 20:52] miina commented on #1688
Fixed within #1690.

[2018-12-03 20:52] #1688 closed

[2018-12-04 00:21] fthead9 commented on #1633
Is the release still on track for this week?

Toren

[2018-12-04 01:13] westonruter commented on #1633
Yes

[2018-12-04 03:58] kienstra commented on #1691
**Looking At This Now**

Hi @HispanicLA,
Thanks for letting us know about this. I'm looking at this now.

[2018-12-04 04:40] kienstra commented on #1691
**Request To Test Without SEO Plugin**

Hi @HispanicLA,
Thanks for raising this.

It looks like the [Squirrly SEO](https://plugins.trac.wordpress.org/browser/squirrly-seo) plugin isn't compatible with this plugin.

If this is possible, you could test deactivating that plugin on a staging environment and let me know here if the [validation errors](https://validator.ampproject.org/#url=https%3A%2F%2

[2018-12-04 04:45] HispanicLA commented on #1691
Hello Ryan. Thank you for your reply. I´ll try now and will let you know.

On Mon, Dec 3, 2018 at 8:40 PM Ryan Kienstra <notifications@github.com>
wrote:

[2018-12-04 04:58] HispanicLA commented on #1691
Hi Ryan. Still failing.
https://validator.ampproject.org/#url=https%3A%2F%2Fhispanicla.com
(I just checked the URL of laopinion.com, my day job, and it also failed...
funny)
Caveat, I did not try it on a staging environment but live.
Thank you!
Gabriel

On Mon, Dec 3, 2018 at 8:45 PM hispanicLA <mail@hispanicla.com> wrote:

[2018-12-04 05:04] kienstra commented on #1691
Hi @HispanicLA ,
Thanks for letting me know.

It looks like [this AMP URL is valid](https://validator.ampproject.org/#url=https%3A%2F%2Fhispanicla.com%2Fescritores-y-periodistas-18859%3Famp).

Were you expecting to have your entire site run AMP?

The [link above](https://validator.ampproject.org/#url=https%3A%2F%2Fhispanicla.com) is for the homepage. With this plugin's version `0.7.2`, there's onl

[2018-12-04 05:29] HispanicLA commented on #1691
Thank you again for the great support. Now I understand.
I'd like to help if needed with testing the 1.0 release or other need.

BTW, another  test I did was validating with Google Search Console, with a
post I was editing and republishing.
This is the post:
https://hispanicla.com/beware-the-red-grasshopper-el-chapulin-colorado-9572

https://search.google.com/search-console/inspect?resource_id=htt

[2018-12-04 05:56] kienstra commented on #1691
Thanks, Gabriel!

You're right, the URL you shared has an AMP URL that doesn't look right:

https://hispanicla.com/beware-the-red-grasshopper-el-chapulin-colorado-9572/amp

Like you mentioned, it's redirecting here, with the 404 template:

https://hispanicla.com/beware-the-red-grasshopper-el-chapulin-colorado-9572https:/hispanicla.com/

Could you flush the rewrite rules?

You might already know ho

[2018-12-04 06:01] HispanicLA commented on #1691
I did, same result. Got the 404 message.
Thanks
G

On Mon, Dec 3, 2018 at 9:56 PM Ryan Kienstra <notifications@github.com>
wrote:

[2018-12-04 06:09] HispanicLA commented on #1691
Should I try, maybe, for this issue, version 1.0?

On Mon, Dec 3, 2018 at 10:01 PM hispanicLA <mail@hispanicla.com> wrote:

[2018-12-04 06:16] kienstra commented on #1691
Hi Gabriel,
The AMP URL in the `<link rel="amphtml" ...>` is:

https://hispanicla.com/beware-the-red-grasshopper-el-chapulin-colorado-9572/amp

...which, as you mentioned, has a 404.

But using `?amp` instead of `/amp` does work:
https://hispanicla.com/beware-the-red-grasshopper-el-chapulin-colorado-9572?amp

It looks like the page is using Comet Cache:

<img width="1168" alt="using-cache" src="ht

[2018-12-04 06:17] kienstra commented on #1691
Sure, if you'd like to test [version 1.0](https://github.com/Automattic/amp-wp/releases/tag/1.0-RC4-built) on a non-production environment, that'd be fine.

[2018-12-04 06:31] #1689 closed

[2018-12-04 06:32] kienstra commented on #1691
For reference, it looks like there was a similar issue raised for the Comet Cache Pro plugin, but they fixed it almost 3 years ago:

https://github.com/websharks/comet-cache/issues/688

[2018-12-04 06:36] HispanicLA commented on #1691
Not sure if this is what you meant I did the following:
Made a change to the post and using Comet Cache Pro cleared the cache in
that specific URL.
I repeated the same for
https://hispanicla.com/beware-the-red-grasshopper-el-chapulin-colorado-9572
Tried it on the validator and in Google Search Control. No cigar. Same
issue.

Now I am going to deactivate Comet Cache Pro and try again.

On Mon, Dec

[2018-12-04 06:40] kienstra commented on #1691
OK, thanks.

It looks like that page isn't cached right now:
https://hispanicla.com/beware-the-red-grasshopper-el-chapulin-colorado-9572

Let me know how it goes.

[2018-12-04 06:48] HispanicLA commented on #1691
Nope.
Uninstalled Comet Cache Pro.
Using /amp or /amp/ turns to:
https://hispanicla.com/beware-the-red-grasshopper-el-chapulin-colorado-9572https:/hispanicla.com/
FAIL in https://validator.ampproject.org LIVE TEST.
Also no change in Google Search Console. Interesting, but in the GOOGLE
INDEX there it returns fine, that is before I edited the file to republish
it. Those stories are from 2011-2014.

[2018-12-04 06:49] HispanicLA commented on #1691
Sorry. I should say
FAIL in https://validator.ampproject.org .
Also no change in Google Search Console LIVE TEST. Interestingly...

On Mon, Dec 3, 2018 at 10:48 PM hispanicLA <mail@hispanicla.com> wrote:

[2018-12-04 06:54] kienstra commented on #1691
Thanks, Gabriel.

Comet Cache Pro is probably not the cause.

Are there plugins that could be altering the rewrite rules?

Looking in the source of [this page](https://hispanicla.com/beware-the-red-grasshopper-el-chapulin-colorado-9572/), I don't see any obvious plugins that could be doing this.

It's strange that this AMP page returns a `301` (permanently moved):
https://hispanicla.com/beware-the

[2018-12-04 06:59] HispanicLA commented on #1691
Now I know the answer to " I'm not sure how it would append the origin of
the site to the URL: https:/hispanicla.com/"
My fault. I should have thought that.
I am using the plugin Redirection. Because typing hispanicla.com/amp gave
me a 404, I created this rule. Which is the cause of the problem.
I am disabling this rule right now. Very sorry.

301 /amp
https://hispanicla.com/

On Mon, Dec 3, 2018

[2018-12-04 07:01] kienstra commented on #1691
No problem, Gabriel! This is complex, it's hard to find the cause.

[2018-12-04 07:04] HispanicLA commented on #1691
https://hispanicla.com/beware-the-red-grasshopper-el-chapulin-colorado-9572/amp
Works fine in Google Search Console.
Also opens as an AMP file.
But not in
https://validator.ampproject.org
there still fails.
But I think that that was the main problem. Pfff!

On Mon, Dec 3, 2018 at 10:59 PM hispanicLA <mail@hispanicla.com> wrote:

[2018-12-04 07:06] HispanicLA commented on #1691
Thanks a lot, Ryan!

On Mon, Dec 3, 2018 at 11:03 PM hispanicLA <mail@hispanicla.com> wrote:

[2018-12-04 07:06] kienstra commented on #1691
Sure, Gabriel! Could you go to the validator again?

https://validator.ampproject.org/#url=https%3A%2F%2Fhispanicla.com%2Fbeware-the-red-grasshopper-el-chapulin-colorado-9572%2Famp

Here, it looks like it's valid.

[2018-12-04 07:08] HispanicLA commented on #1691
You are right, it is!
Thanks again.

On Mon, Dec 3, 2018 at 11:07 PM Ryan Kienstra <notifications@github.com>
wrote:

[2018-12-04 07:10] kienstra commented on #1691
Sure, Gabriel! Thanks for using the plugin.

[2018-12-04 07:15] kienstra commented on #1691
If it's alright, I'm going to close this issue. But feel free to @ mention me here or on another issue.

[2018-12-04 07:19] HispanicLA commented on #1691
I will. Good night.

On Mon, Dec 3, 2018 at 11:16 PM Ryan Kienstra <notifications@github.com>
wrote:

[2018-12-04 08:41] #1604 closed

[2018-12-04 09:13] mstrehse opened #1695 "Add filters and/or templates to make altering of the output possible"
Is it possible to add some templates or filters for e.g. the rendering of the amp-gallery-embed or the other amp tags, so that you can add captions to the images inside a amp-carousel image gallery? I think the gallery is renderes inside the *includes/embeds/class-amp-gallery-embed.php* inside the *render()* function, using the AMP_HTML_Utils. A filter to alter the rendering array would be nice. A

[2018-12-04 12:48] alcurrie opened #1696 "AMP stories pages should default to show all blocks/layers unblurred both when page is selected and when no blocks/elements are selected"
**_Issue:_ When the user views scrolls/views through viewing multiple AMP Story pages in an unpublished AMP story, any unselected AMP stories pages show as blurred**

_Test Steps_
See screencast: https://v.usetapes.com/iAcIOMPTKP

**Expected**
AMP stories pages should default to show all blocks/layers unblurred both when page is selected and when no blocks/elements are selected

_Actual_
Prior to

[2018-12-04 12:50] alcurrie commented on #1696
@mehigh @miina  - not sure if this is a FE or BE fix, but as this is a demo-blocker issue it would be great if this could be prioritized for AMP stories.

[2018-12-04 13:03] alcurrie commented on #1526
Thanks for clarifying @miina  -I'll move this back into QA and re-test, and check the 'other' issue and add a new ticket.

[2018-12-04 13:29] alcurrie commented on #1567
Confirmed that the image caption is turned off by default but works as expected if 'turned on' in AMP stories interface.  https://cl.ly/fdae55a78e9c
Also, shows correctly on Preview https://cl.ly/c016bbfff13d and when published https://cl.ly/af89ad38c519

[2018-12-04 13:56] miina commented on #1696
Thanks @alcurrie -- looking into it now.

[2018-12-04 13:58] alcurrie opened #1698 "Add layer interface is no longer appearing above block navigation for when editing 'published' AMP stories being edited"
Issue: After the latest update to AMP stories, I'm no longer seeing the Add Layer interface appearing above the Block Navigation when going back in to edit 'published' stories

*Test Steps*
Published Story, that is being edited:   https://cl.ly/4785c167f5f0

*Expected*
Add Layer should appear above the Block navigation in the edit interface, when any story page is selected when a user is editing a

[2018-12-04 14:01] alcurrie commented on #1698
@cathibosco  @jwold - just a heads up that this may impact demo.

@miina  and @mehigh  - I'm not sure whether this will need a FE or BE fix, so I've assigned you bot. Please let me know if I should re-assign to someone else.

[2018-12-04 14:02] miina commented on #1698
@alcurrie Thanks for the issue, this is related to #1696 and seems to come from the same problem. Looks like checking for inner selected blocks isn't working properly in Gutenberg anymore.

[2018-12-04 14:04] alcurrie commented on #1698
Thanks for the update @miina  - should I leave this with you then and take Mike off the assigned list?

[2018-12-04 14:06] miina commented on #1698
@alcurrie Yes, sounds good, thanks.

[2018-12-04 15:12] alcurrie commented on #1696
Thanks @miina  - I've taken Mike off the assigned list.

[2018-12-04 16:53] jwold commented on #1572
Work on this has begun here: https://github.com/Automattic/amp-wp/wiki/Essential-user-manual

[2018-12-04 17:47] #1620 closed

[2018-12-04 17:51] #1502 closed

[2018-12-04 17:55] kienstra commented on #1086
**Removing From Milestone**

If it's alright, I'm removing this from the `v1.0` milestone. This issue is really to track https://github.com/ampproject/amphtml/issues/17053, it doesn't require action unless that issue is fixed.

[2018-12-04 17:57] kienstra commented on #1237
**Moving Out Of Milestone**

As this is only tracking https://github.com/ampproject/amphtml/issues/17053, I'm moving this out of the `v1.0` milestone. There's no action needed, other than remove this issue's workaround if that issue is ever resolved.

[2018-12-04 17:58] #1006 closed

[2018-12-04 20:33] westonruter commented on #1288
We'll need to revisit the redesigned settings screen to make the template modes more visually appealing.

[2018-12-04 20:34] jwold commented on #1288
Agreed! I would love to come back to this and spend some time making it more intuitive.

[2018-12-04 20:37] kienstra commented on #1381
Yes, thanks for closing it.

[2018-12-04 22:00] #1566 closed

[2018-12-04 22:03] #1516 closed

[2018-12-04 22:03] #1506 closed

[2018-12-04 22:03] #1494 closed

[2018-12-04 22:04] #1435 closed

[2018-12-04 22:04] #1430 closed

[2018-12-04 22:06] #1237 closed

[2018-12-04 22:08] #1086 closed

[2018-12-04 22:32] #781 closed

[2018-12-04 22:32] #765 closed

[2018-12-04 22:35] #331 closed

[2018-12-04 22:36] #193 closed

[2018-12-04 22:39] #1279 closed

[2018-12-05 02:39] alcurrie commented on #1565
Thanks for the follow up, @mehigh

I've confirmed this is working
AC 1  larger font size by default as well as AC 2 the functionality to edit. Also the user can allow the text to automatically fit the container, or as expected the user can control the height of the container and the text/size will adjust within the container:
Tested AMP fit  on a Vertical block by limiting the height size to 70px

[2018-12-05 02:58] alcurrie commented on #1526
I've confirmed the AC for adding an image fill layer are met, as follows:
AC 1: When the fill image  template is selected - adding an image interface displays by default and the user can add/update only 1 image
AC2: and AC 3:  Instead of 'messaging' the user is only given the single option of uploading a image in the Fill image layer and there are no other options to add other blocks. So the user

[2018-12-05 03:03] alcurrie opened #1710 "It should not be possible to add any other blocks than Layer blocks and CTA blocks inside the Page block."
Resolve the issue identified here, where the tester was  able to add a paragraph block form an image fill layer, and have it appear outside of the Page>layer>block hierarchy
See screencast: https://cl.ly/24e2f604ef79

Issue found when testing: #1526

[2018-12-05 04:30] alcurrie commented on #1688
I was able to reproduce the same errors/issues in testing this evening. Try and create a more concise screenscast but this shows the overall process. https://cl.ly/579908b9652d

[2018-12-05 04:36] alcurrie commented on #1570
I'm definitely still seeing issue with caching in preview, ie. I make changes, update, and go to preview.  On preview, the changes don't display.  I reload the page and the updates display on preview.

[2018-12-05 04:54] VisWong opened #1711 "Plugin could not be activated because it triggered a fatal error."
Fatal error: Class 'DOMDocument' not found in /var/www/html/wordpress/wp-content/plugins/amp-wp/includes/class-amp-wp-html-util.php on line 9

Here is the error while activating the plug-in.

I am using php7 and already installed php-xml module.

Any one encounter the same issue and have solution?

[2018-12-05 05:07] alcurrie commented on #1530
That's a great idea @miina. Let's track that that for next phase I've made a note to follow up after WCUS.  I'll update the notes for the WIKI as well

However this issue is confirmed complete, with the confirmation of the Video Autoplay. : https://cl.ly/3b53097e0789

[2018-12-05 05:13] kienstra commented on #1711
Hi @VisWong,
It looks like that is for another [AMP plugin](https://plugins.trac.wordpress.org/browser/amp-wp/).

For example, here's the [location of that error](https://plugins.trac.wordpress.org/browser/amp-wp/trunk/includes/class-amp-wp-html-util.php?rev=1984423#L9) in its repo.

[2018-12-05 05:13] #1711 closed

[2018-12-05 07:40] #1581 closed

[2018-12-05 07:40] #1631 closed

[2018-12-05 07:49] VisWong commented on #1711
Thank you for your reply @kienstra

I just download it from wordpress plug-in market.

I am not so sure what should I do to complete the installation...

I would be very grateful if you could give me more guides.

Thanks a million.

[2018-12-05 07:52] kienstra commented on #1711
Hi @VisWong,
Would you like to try our plugin instead?

https://wordpress.org/plugins/amp/

[2018-12-05 08:06] VisWong commented on #1711
Oh, sorry, i was asking at the wrong place...

[2018-12-05 08:10] kienstra commented on #1711
No problem, @VisWong.

Here's the support forum for that plugin:
https://wordpress.org/support/plugin/amp-wp

[2018-12-05 15:02] westonruter commented on #1570
I'm gonna confused as to why this would be. I don't believe that Varnish cache is active on the multidev environments. Also, the the user is logged in anyway, so it should pass through everything. Only thing I can think of is a database latency issue, but we haven't noticed that being a problem elsewhere on this env, have we? /cc @ataylorme

[2018-12-05 17:46] ataylorme commented on #1570
Varnish is active but in a less aggressive way than test/live. For example, CSS and JS are not cached.

Correct, Varnish is not active for authenticated users

[2018-12-05 19:30] #1578 closed

[2018-12-05 19:31] westonruter commented on #1597
Thanks. Please feel free to continue commenting after I close this. We can re-open if needed.

[2018-12-05 19:31] #1597 closed

[2018-12-05 19:35] westonruter commented on #1353
This is implemented, no?

In paired mode with auto-sanitization I see:

![image](https://user-images.githubusercontent.com/134745/49539037-9b9c9500-f881-11e8-95b2-962c0f5ae2b3.png)

In paired mode without auto-sanitization I see:

![image](https://user-images.githubusercontent.com/134745/49539094-c25acb80-f881-11e8-8495-684aab3abceb.png)

In native mode I see:

![image](https://user-images.githubu

[2018-12-05 19:35] #1353 closed

[2018-12-05 19:40] westonruter commented on #1695
Have you tried 1.0? The [RC4 pre-release](https://github.com/Automattic/amp-wp/releases/tag/1.0-RC4) is available now but we are going to release 1.0.0 later today.

If you switch to the new paired or native modes, then WordPress's own default gallery shortcode will be used.

Otherwise, you can just use the `post_gallery` filter to override the gallery to render whatever you like.

[2018-12-05 19:40] #1695 closed

[2018-12-05 19:40] #1623 closed

[2018-12-05 19:41] kienstra commented on #1353
Good point, @westonruter. #1676 implements this. Thanks for moving this into the `v1.0` milestone.

[2018-12-05 19:42] westonruter commented on #1371
I'm going to milestone this for 1.0.1 since we may need to increase the timeout generally.

[2018-12-05 19:43] #1300 closed

[2018-12-05 20:01] westonruter commented on #1633
Update: Release is now scheduled for tomorrow. (Since nothing else is happening that day 😉.)

[2018-12-06 19:04] jacobschweitzer commented on #1643
I've done the work on this locally but am getting permissions errors when trying to push the code now.
@miina @westonruter I've signed the CLA just a little while ago, maybe I have to wait for that to go through?

[2018-12-06 19:49] jacobschweitzer commented on #1643
@miina  Could you take a look when you get a chance? Thanks!
https://github.com/ampproject/amp-wp/pull/1713

[2018-12-06 20:46] miina commented on #1688
@alcurrie The specific issues that Cathi reported should be fixed -- one part of the issue was related to animations and the other to block navigation not being visible.

However, there are other things that are not working properly, such as using italic and alignment with paragraph -- it would probably need thorough QA on all the features and settings and then logging those specifically depending

[2018-12-06 20:47] miina commented on #1696
This was fixed within #1702.

[2018-12-06 20:47] #1696 closed

[2018-12-06 21:23] westonruter opened #1714 "Total included CSS size can be incorrect"
I looked at a size and found a surprising line in the manifest for the `style[amp-custom]`:

[code]

This should not happen because any stylesheets over 50KB should get excluded. Nevertheless, the page passes AMP validation and when I copied the contents of the element the total number of bytes was actually 49,986 bytes (talk about cutting it close). So the plugin was correct in allowing that CSS,

[2018-12-07 07:12] tryazi opened #1717 "bbpress topics and answers"
The new update did not solve the problem. BBpress issues support amp. Cannot display responses. We ask that the topics and answers are displayed on the same amp page. The amp plugins are available.

Sample

Better Amp Plugin.

I think you'il be sensitive to this.

[2018-12-07 09:15] #1633 closed

[2018-12-07 09:17] ineagu opened #1718 "compatible themes/plugins"
@westonruter there is any plans for listing themes/plugins that work by default with ampwp, besides the core ones that have been bundled?  We added this on https://wordpress.org/themes/neve/, and wondering :)

[2018-12-07 17:07] jwold opened #1719 "blah"
blh

[2018-12-07 17:08] #1719 closed

[2018-12-07 20:08] KZeni opened #1720 "Plugin Conflict: Also using Give plugin currently creates 500 server error when viewing /wp-admin/"
I’m getting a 500 server error when trying to access the site admin after updating AMP to the latest version while also running the current version of https://wordpress.org/plugins/give/. Turns out that there’s a conflict with Give which my sites were running into. I also believe the issue could be specific to PHP 7.x (a matter of the number of variables provided to a function vs. what was expecte

[2018-12-09 10:16] bantilan opened #1722 "Jetpack/Wordpress Pixel for AMP page is not added, after the last update"
Hi,

It seems the pixel for tracking the views for jetpack is not added on the latest update for AMP. when i check the google cache amp, there is no wordpress pixel added.

[2018-12-10 08:05] tryazi opened #1724 "Amp included bbpress ?"
![amp](https://user-images.githubusercontent.com/45657726/49718474-3f63b780-fc6b-11e8-8d65-f7f3cac763e6.png)

Amp plugin supports for bbress topics. However, we want to view the topics and responses.

It doesn't make it your plugin. The screenshot is better than the plugin. We expect you to update your plugin this way.

The response and the subject amp should also be displayed.

[2018-12-10 10:36] dartiss commented on #1722
This may explain what I'm seeing - Jetpack stats are not tracking AMP pages anymore

[2018-12-10 14:15] bantilan commented on #1722
@dartiss , I temporarily fix it by adding this code in the templates/footer.php

`<?php
/**
 * Footer template part.
 *
 * @package AMP
 */
function jetpack_amp_build_stats_pixel_url() {
	global $wp_the_query;
	if ( function_exists( 'stats_build_view_data' ) ) { // Added in <https://github.com/Automattic/jetpack/pull/3445>.
		$data = stats_build_view_data();
	} else {
		$blog     = Jetpack_Options

[2018-12-10 16:21] dartiss commented on #1722
Continuation of discussion at https://wordpress.org/support/topic/v1-0-has-broken-jetpack-stats-tracking/

[2018-12-10 16:48] westonruter commented on #1722
I can see what the problem is. The `Jetpack_AMP_Support::jetpack_is_amp_request()` method is defective.

A quick workaround until it is fixed is to add this to your plugin or theme:

[code]

I'll open a PR in Jetpack with a permanent fix.

[2018-12-10 18:11] dartiss commented on #1722
I've applied it to one of my sites and I'll let you know if it resolves the issue.

If this is applied to Jetpack will having this patch as well cause problems?

[2018-12-10 18:35] westonruter commented on #1722
PR has been opened for Jetpack: https://github.com/Automattic/jetpack/pull/10918

Please test and provide feedback there.

[2018-12-10 18:35] #1722 closed

[2018-12-11 07:55] kienstra commented on #1724
Hi @tryazi,
Thanks for bringing this up.

Is that screenshot from this AMP plugin? I haven't seen it.

[2018-12-11 08:03] tryazi commented on #1724
The image of this better amp plugin. Your plugin contains only the subject. No response.

If the better amp plugin provided a neat view, I would use it. My expectation from your plugin is to resolve this issue and make it available.
![adfsf](https://user-images.githubusercontent.com/45657726/49786285-50c4c680-fd34-11e8-8d90-6db3fc978f83.png)

[2018-12-11 15:45] jwold commented on #1572
I believe this is good for now.

On Tue, Dec 11, 2018 at 6:27 AM alcurrie <notifications@github.com> wrote:

[2018-12-11 15:52] Jany-M commented on #1720
Same here, but it might look like this needs a better fallback/failsafe, not just Give conflicting.

[code]

[2018-12-11 15:53] kienstra commented on #1724
OK, so the image is from another AMP plugin?

And it sounds like our plugin does have the subject, and you'd like it to also have a response?

[2018-12-11 15:58] tryazi commented on #1724
The first image is yes.

[2018-12-11 20:11] kienstra commented on #1720
Hi @KZeni,
Thanks for bringing this up, and for opening #1725. I've also opened https://github.com/impress-org/give/pull/3899.

[2018-12-11 21:43] westonruter commented on #1720
Closing since PRs merged for AMP plugin.

[2018-12-11 21:43] #1720 closed

[2018-12-11 23:14] westonruter commented on #1724
We haven't yet looked into plugin compatibility with bbPress. Improving support with themes and plugins is something we'll be moving into now in the new year.

[2018-12-12 07:34] tryazi commented on #1724
Okay, I'il be waiting for new developments. Can be inspired by the other plugin.

We can close the subject

@kienstra @westonruter

[2018-12-12 15:47] #1572 closed

[2018-12-12 15:48] #1571 closed

[2018-12-12 15:54] miina commented on #1686
@alcurrie As talked this ticket can be removed to backlog for future iteration.

[2018-12-12 16:54] udegbunamchuks commented on #1095
Thanks a lot sir. Scripts appearing more than once were driving me nuts. This fixed them all.

[2018-12-12 18:16] alcurrie commented on #1686
Thanks @miina  - I've moved this to the backlog to be looked at for a future iteration for AMP stories.

[2018-12-12 18:51] alcurrie opened #1729 "For Thirds template the block placement in the editor does not reflect the actual placement of the block"
**The block placement for blocks in the thirds template in the editor does not reflect the actual placement of the block as it will be in preview and on publication**

_Test Steps/issue_
https://cl.ly/90312a375eca

**Expected**
The block position on AMP story editor  the layer/story should be accurate ie. a block set to bottom third should show in the bottom third of the page in the editor as well

[2018-12-12 19:18] alcurrie commented on #1570
I have confirmed with @cathibosco and also found in my testing in the demo site, that the Preview is accurate, and as long as the user clears cache the preview is accurate.  Also, as noted this is not repeatable in a local environment but only on the Pantheon demo site.

@westonruter  / @miina Based on that, we are recommending marking this issue as 'done' for the 'display all Elements' core deliv

[2018-12-12 19:48] alcurrie commented on #1688
@miina - Cathi went through a fairly extensive test process preparing the demo, and we have captured issues found in issues resolved in this project or to be tracked for consideration for a future 'beta' iteration.

I've confirmed creating, previewing and publishing an AMP story:
https://cl.ly/40ce2a005e4b
Navigating back in to edit an AMP story it's no longer showing the error messages.
https://c

[2018-12-12 20:57] alcurrie opened #1730 "Create a tool/user flow for a new user installing the AMP Plugin for the First time"
Consider developing a workflow to take a new user through installing the plugin for the first time, and give them guidance about their theme, installed plugins and how to interpret and handle issues.

_Some ideas/examples_:
If there are JS errors, there’s a good chance the theme just won’t work. Offer feedback/recommendations i.e.  “Hey there! We took a look at your theme and it looks like there a

[2018-12-12 21:00] alcurrie commented on #1730
This recommendation was based on feedback from @sirjonathan based on his initial experience installing the plugin on his own site.

[2018-12-12 21:35] alcurrie opened #1731 "Further enhancements to Preview to ensure that users never have to manually clear cache to see the latest changes"
As an AMP Story author, I want to always see my newest changes in the Preview with having to clear cache

_Background:_ this issue to further iterate on the issue discuss in #1570  that users building AMP stories in the Pantheon demo environment frequently had to clear cache to see an updated preview. However, since this issue is not repeatable in a local environment but only on the Pantheon demo

[2018-12-12 22:19] alcurrie opened #1732 "Add a notice that informs users that their active theme and plugins may not be fully compatible with the new native/paired modes"
**As a site owner installing the AMP plugin for the first time, I'd like to see a notice that lets me know if my active theme and/or plugins may not be fully compatible with the new native/paired mode**

- [ ] _AC 1:_ After that AMP 1.0 plugin is installed, check whether the current active theme and all active plugins, are compatible with native/paired AMP modes
- [ ] _AC 2:_ If the active theme a

[2018-12-12 22:20] alcurrie commented on #1732
@westonruter  - as discussed I added issue and  high level AC to v 1.0.2 milestone

[2018-12-12 22:32] vitorfernandes1976 opened #1733 "Problem: "URL validation failed to due to the absence of the expected JSON-containing AMP_VALIDATION comment after the body""
Hello.

I have a problem.
Without understanding the reason, when validating pages / articles this error message appears:

"URL validation failed to due to the absence of the expected JSON-containing AMP_VALIDATION comment after the body."

What is the reason ?
What is the best solution?

Thank you

Vitor Fernandes

[2018-12-12 22:44] westonruter commented on #1733
Are there any errors in your PHP error log?

What plugins do you have active?

[2018-12-12 22:56] vitorfernandes1976 commented on #1733
Hi westonruter; very thanks.

I have few plugins. All paid and legal.
I can not find any errors in the PHP log.
It's very weird; because it worked well, and without anything done it began to present that problem.

![print_rr_error](https://user-images.githubusercontent.com/45834146/49904130-245a9880-fe61-11e8-82ac-716740848661.png)

very thks
VF

[2018-12-12 23:01] westonruter commented on #1733
I assume that this only is a problem when you have switched to the native mode. If you go back to classic then you don't have a problem, correct?

Try going to a URL on your site and while you are logged in add `?amp_validate` to the end of the URL. Does anything get rendered?

The other suggestion I have is to try deactivating plugins one by one and for each deactivated plugin, re-check to see if

[2018-12-12 23:05] vitorfernandes1976 commented on #1733
Hi;

see please (all ok):  [https://radioregional.pt/franca-atentado-causa-4-mortos-e-varios-feridos-graves/?amp_validate](https://radioregional.pt/franca-atentado-causa-4-mortos-e-varios-feridos-graves/?amp_validate)

[2018-12-12 23:09] westonruter commented on #1733
That URL does not work for me because I am not logged-in as an admin. The `amp_validate` URL only works if you are logged-in.

But I'm not seeing that https://radioregional.pt/franca-atentado-causa-4-mortos-e-varios-feridos-graves/ is an AMP document. Even though you have Native mode selected, it is not an AMP page, as you can see from https://validator.ampproject.org/#url=https%3A%2F%2Fradioregio

[2018-12-12 23:21] vitorfernandes1976 commented on #1733
Thanks

I deactivated all plugins (except AMP) and continue the same errors.

I activated WP_DEBUG

In Classic mode works well yes.

I'll give you access admin:

181/5000
Hello.

I deactivated all plugins (except AMP) and continue the same errors.

I activated WP_DEBUG

In Classic works well yes.

I'll give you access admin:

https://radioregional.pt/wp-admin/
user: westonruter
pass: westonruter12

[2018-12-12 23:30] westonruter commented on #1733
@vitorfernandes1976 Please don't share passwords on GitHub. I've changed the password but someone could have defaced your site.

[2018-12-12 23:34] westonruter commented on #1733
There was in fact a PHP error. Look at the bottom of the page:

You need to install the iconv extension to PHP. This error will be caught with a better error message in v1.0.1 via #1727.

You may need to contact your server administrator to do this for you. Documentation: http://php.net/manual/en/iconv.installation.php

[2018-12-12 23:34] #1733 closed

[2018-12-12 23:47] vitorfernandes1976 commented on #1733
Thanks a lot

I installed ICONV for Apache 2.4, PHP 5.5, PHP 5.6 and PHP 7.0 on my VPS
server (WHM and Cpanel)

Worked !!!!

THANK YOU VERY MUCH.

Vitor Fernandes

Weston Ruter <notifications@github.com> escreveu no dia quarta, 12/12/2018
à(s) 23:34:

[2018-12-13 06:54] #1724 closed

[2018-12-13 08:41] otpidusprime opened #1739 "AMP errors on Google Search Console"
I had a user report Google Search Console giving this error:

`The tag 'head > style[amp-boilerplate]' is missing or incorrect, but required by 'noscript > style[amp-boilerplate]`

Digging into that it – came across this: https://github.com/ampproject/amphtml/blob/master/spec/amp-boilerplate.md

I gave the code mentioned in that GitHub page to them and suggested them to use the insert headers and

[2018-12-13 09:19] amedina commented on #1739
How is this related to the use of this plugin?

[2018-12-13 09:33] otpidusprime commented on #1739
Since the errors mentioned `amp` I thought it might be related to the use of the plugin.

I also thought it might be due to a plugin conflict, but wasn't sure about it and therefore wanted to ask here.

So this is Search Console then and not the plugin?

[2018-12-13 09:40] amedina commented on #1739
Correct; this is not related to the use of this plugin.

[2018-12-13 09:40] #1739 closed

[2018-12-13 09:43] amedina opened #1741 "Change label of Error Index page "Status" column"
Feedback from the AMP team suggests that we should change the label of the status for validation errors from "Status" to "Sanitization Status" reflecting the fact that actions taken by the user refer to the sanitization actions of the plugin, and not the error themselves.

/cc @pbakaus

[2018-12-13 16:20] amedina commented on #1420
It would be great to have strings a-la Lighthouse audit results, providing information/advice in the context of each error type.

[2018-12-13 18:58] westonruter commented on #1732
We should also add a notice to the readme that makes clear that custom JavaScript will be stripped from AMP responses. So if they have ads that require JS, then they'll need to use `amp-ad` wherever an ad placement occurs.

[2018-12-13 19:44] miina commented on #1643
Closed via #1713

[2018-12-13 19:44] #1643 closed

[2018-12-13 22:11] westonruter commented on #1741
That string is a bit long for the column. Can we just do "Sanitization"?

[2018-12-13 22:27] westonruter opened #1742 "Add AMP compatibility for older core themes: 2010, 2011, 2012, 2013, and 2014"
Even though these themes are no longer bundled with WordPress, they are still popular. We should add support for them in the plugin since they won't get built-in support in the near term.

- [x] Twenty Ten, Twenty Eleven, Twenty Twelve: #2407
- [x] Twenty Thirteen: #2476
- [x] Twenty Fourteen: #1873

[2018-12-13 22:43] westonruter commented on #1718
Yes, there is! We will be adding a submission form to amp-wp.org to submit additional themes and plugins to be featured. It looks like your theme is compatible at a basic level, but I encountered problems when I tried to apply the "pre-built websites with 1-click installation". When trying to apply Neve 2018, for example, there was too much CSS being added to the page from Elementor, causing the p

[2018-12-13 22:43] #1718 closed

[2018-12-13 22:47] ineagu commented on #1718
Hey, thanks for feedback, got your point, some people use the as blog only ( quite a lot), while others use the landing pages, next weeks we should have a gutenberg based primary landing page that should work with AMP.

Either way we'll submit the form and work from there :). btw we are working on our most popular theme to have the frontpage AMP compatible too, however the css tree-shaking cause s

[2018-12-13 22:49] westonruter commented on #1718
What problem is caused by tree shaking? May be a bug that needs to be fixed.

[2018-12-14 12:19] alcurrie commented on #1741
Should this task be added to the 1.0.2 milestone?

[2018-12-14 12:36] alcurrie opened #1744 "Resolve issue re. 1.0.1 update release notice not displaying on sites using the AMP plugin"
**Issue: There is no notification of the available plugin 1.0.1 release update for the AMP Plugin**

*Expected*
For a site running the AMP plugin 1.0 release, the admin user should see a notification, ie on the plugins listing page that there is an update version of the plugin available

*Actual*
The notification is not displaying:
<img width="1091" alt="screen shot 2018-12-14 at 1 37 05 am" src="

[2018-12-14 12:38] alcurrie commented on #1744
@amedina  - I added this issue to the v1.0.2 milestone

[2018-12-14 13:58] #1698 closed

[2018-12-14 15:30] westonruter commented on #1741
If @amedina confirms the shorter column label.

[2018-12-14 15:33] amedina commented on #1741
Confirmed. Let's go with 'Sanitization' as a replacement for 'Status'

[2018-12-14 15:40] miina commented on #1729
@alcurrie This ticket should be ready for QA as well now.

[2018-12-14 15:40] #1729 closed

[2018-12-14 17:32] westonruter commented on #1744
@alcurrie on which site was this seen? The prompt for plugin update is not part of the AMP plugin. It is part of WordPress core. There's nothing special that the AMP plugin should be doing here.

[2018-12-14 17:35] kienstra commented on #1744
Using the `amp.zip` file from the [1.0-RC3 release](https://github.com/ampproject/amp-wp/releases/tag/1.0-RC3), like in the screenshot above, this notice appeared as expected locally:

<img width="1286" alt="update-notice-appearing" src="https://user-images.githubusercontent.com/4063887/50018258-4143b880-ff94-11e8-89db-ce1a4cfe8031.png">

[2018-12-14 17:41] westonruter commented on #1744
It could be that the environment had a read-only filesystem due to being in Git mode. In this case I believe the update prompts are not presented. Or that they aren't presented in non-dev environments on Pantheon.

[2018-12-14 18:42] westonruter commented on #1741
What would we do with the Status dropdown?

![image](https://user-images.githubusercontent.com/134745/50021063-bca16c00-ff8c-11e8-9c18-3b7356d2f07b.png)

“All Sanitizations” no me cae bien.

[2018-12-14 19:01] westonruter commented on #1162
We need to update the whitelist sanitizer to automatically enqueue amp-bind when `data-amp-bind-*` attributes are found. Currently it is only doing so for bracketed attributes:

https://github.com/ampproject/amp-wp/blob/efd1d0759d000a82a48ae0a0dd1fca9bdbcf1d8d/includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php#L550-L558

This should also be done in the `process_alternate_names` method.

[2018-12-14 20:03] westonruter commented on #696
See explanation in https://github.com/ampproject/amp-wp/pull/1740#issuecomment-447393386

[2018-12-14 20:03] #696 closed

[2018-12-14 23:40] westonruter opened #1747 "Featured images on Twenty Nineteen homepage appear stretched"
Unlike #1656 where the image is not filling the entire width of the content, featured images in the post list of the homepage are stretching too wide on larger monitors:

![image](https://user-images.githubusercontent.com/134745/50035327-61846f00-ffb6-11e8-8128-86ddb2fbad33.png)

[2018-12-14 23:40] westonruter commented on #1747
This may need the same fix as done for Twenty Seventeen (#1677). /cc @kienstra

[2018-12-17 19:49] alcurrie commented on #1729
In retesting today, the issue with the positioning of elements within the thirds template, based on Upper third, Middle Third, Lower Third is confirmed resolved. https://cl.ly/3158c77184c2

[2018-12-17 19:59] alcurrie commented on #1643
I've confirmed the update to allow the user to update font sizes. It looks great @jacobschweitzer  and @miina https://cl.ly/15ebb47eb736

[2018-12-18 04:32] nabtron commented on #328
3 years and nobody still removed it, & we thought this project cares about people's opinion.

[2018-12-18 04:48] westonruter commented on #328
@nabtron if you don't want Merriweather, you can use Georgia now via the following plugin code:

[code]

I'll open a PR to remove Merriweather otherwise.

[2018-12-18 05:06] nabtron opened #1749 "Option to remove “Powered by WordPress” from footer"
Kindly add option to disabled this text, so that the plugin complies with WordPress guidelines.

Some reasons:

1. This is a plugin, not a theme.
2. This is not a "default" theme or "default" plugin. Thus logic that something default has it does not apply to it.
3. An option can easily be given in settings to show or hide it, like the WordPress policy says.
4. Not everyone in the world who uses Wo

[2018-12-18 05:09] #328 closed

[2018-12-18 06:23] nabtron opened #1750 "Allow iframe placeholder to be customized, and default to inline data: URI amp-img"
The CSS calls an image placeholder:

`amp/assets/images/placeholder-icon.png`

Kindly change that to base64 data so that there is no extra callback to server for such a small data.

Like this:
`
url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgAQMAAADYVuV7AAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAJtJREFUOMvd07sNAyEQBNA9ERBSwpVCaVAapVACIQFiLsAMi2UHl1jWTfaiXe1H5GlxeKWIiJ9oIhIm+jvA3MAs+A

[2018-12-18 06:26] nabtron opened #1751 "How to disable Gravatar author image?"
How can we prevent amp from loading the gravatar image for the author?

P.S. is it necessary for amp to have the author image? If yes then how can we replace it with a custom one.

Thanks.

[2018-12-18 17:47] westonruter commented on #1751
The gravatar is being output in this template partial: https://github.com/ampproject/amp-wp/blob/1.0.1/templates/meta-author.php

So you can override `templates/meta-author.php` in your theme, by defining an empty file `amp/meta-author.php`.

Note that this only applies to [classic templates](https://amp-wp.org/documentation/how-the-plugin-works/classic-templates/) and not the new [native/paired m

[2018-12-18 17:47] #1751 closed

[2018-12-19 18:55] westonruter opened #1755 "Add user interface for doing site validation of the various templates from the AMP Settings screen"
Breaking out from #1007 which focused specifically on using WP-CLI to do validation of an entire site.

Just as a user can run `wp amp validate-site` via WP-CLI to do bulk validation on the URLs of a site to check compatibility, there should also be a way to initiate this same validation via the admin.

As noted in https://github.com/ampproject/amp-wp/issues/1007#issuecomment-379936200:

See also

[2018-12-19 19:00] westonruter opened #1756 "Use WP Cron to periodically check site URLs for AMP validation"
Breaking out from #1007 which focused specifically on using WP-CLI to do validation of an entire site.

At the moment AMP validation is only performed in response to editing a post, or activating a plugin. There should be passive validation checks performed so that the user can be informed of issues that arise from adding widgets or making other site changes that do not result in validation being

[2018-12-20 08:27] tryazi opened #1771 "Plugin incompatibility Cache"
Hello there
I'm using the Premium Fastest cache plugin. This plugin works properly with the amp plugin.

But when the two work together, wp-admin is too bad. Very slow. I need to deactivate one of the two.

I reported the status to the add-on maker. I think you should take a look at this.

[2018-12-20 09:25] nabtron opened #1772 "How to add Custom Menu or Related Posts?"
How can we add related posts or custom menu at the end of the post content?

Add a widget sidebar hook for AMP pages to show them or anything else.

[2018-12-20 16:19] westonruter commented on #1771
Please share the URL to the caching plugin.

[2018-12-20 16:24] tryazi commented on #1771
https://tr.wordpress.org/plugins/wp-fastest-cache/

[2018-12-20 17:35] westonruter commented on #1772
The easiest way is to switch from Classic to Paired mode or Native mode. You can then use your normal theme in AMP, and the menus and widgets that are shown in your normal theme's templates. You can do this using the Twenty Fifteen through Twenty Nineteen core themes which have been tested. Other themes should work as well, but some functionality won't work (in particular, themes that depend on cu

[2018-12-20 17:35] #1772 closed

[2018-12-20 20:32] tryazi commented on #1771
Where can I find this code? I want to convert to automatic ads

https://cdn.ampproject.org/v0/amp-ad-0.1.js

@westonruter

[2018-12-20 21:34] westonruter commented on #1771
I don't understand. If you want to use [`amp-auto-ads`](https://www.ampproject.org/docs/reference/components/amp-auto-ads), then use `<amp-auto-ads>` in your template instead of `<amp-ad>`.

[2018-12-20 21:54] tryazi commented on #1771
Thank you. I did this.

[2018-12-21 15:45] nabtron commented on #1772
I've added related posts by using hook in the pure amp theme anyway. I'll support it as a free plugin on github for anyone who needs it (along with few other required tweaks like removing "powered by wordpress" from footer and gravatar removal.

Here is the override plugin: https://github.com/nabtron/wp-amp-override

[2018-12-21 19:23] myleshyson commented on #645
@amedina Hey I'm having the same issue. I have a testimonials custom post type, and have the archive option enabled. When I add this code snippet I expect both single testimonial pages and the testimonials archive to be redirected the the ?amp url when I append /amp.

The single post type page works
**/testimonials/chris/amp**

The archive page does not and throws a 404 error
**/testimonials/amp**

[2018-12-21 19:49] westonruter commented on #645
@myleshyson The classic mode of the plugin only supports AMP on singular post type templates. If you want AMP on non-singular templates, you'll need to switch to the new Paired or Native modes. In these modes, you're active theme's templates and stylesheets will be served in the AMP responses and all URLs of your site are then able to be served as AMP.

[2018-12-21 20:54] myleshyson commented on #645
@westonruter Hey thanks for getting back. I actually am using the paired option and it definitely keeps giving me a 404 error.

![screen shot 2018-12-21 at 15 53 00-fullpage](https://user-images.githubusercontent.com/11747187/50363217-b6852f80-0538-11e9-8596-7ee150d76b05.png)

[2018-12-21 20:58] myleshyson commented on #645
This is the workaround I came up with to get it to work but ideally this would work out of the box. I had to write some custom code to get the front page to work as well.

[code]

[2018-12-21 22:04] westonruter commented on #645
@myleshyson You shouldn't need this. Without your custom code, look at the non-AMP version of the page. In the page source, you should see an `amphtml` link in the head. You should see that it ends in `?amp` not `/amp/`. The `/amp/` URLs are only used in classic mode.

[2018-12-24 19:29] tryazi opened #1778 "HTML fragment responses are erroneously converted into incomplete AMP documents"
_Update from @westonruter:_

I've created a sample plugin that can be used to easily reproduce the issue: https://gist.github.com/westonruter/ca17e51c1fe7fe25efc95f04e98b3fbc

After activating the plugin and enabling native/paired mode, going to a URL such as https://example.com/?test_fragment&amp will show:

![image](https://user-images.githubusercontent.com/134745/51066084-22e5d280-15bd-11e9-88e

[2018-12-24 21:43] RealCarFax opened #1779 "Jetpack sharing buttons displaying as links."
I have two examples of the issue at hand:

**First example**
When the post is viewed normally, the sharing buttons appear like this:
<img width="576" alt="screen-shot-2018-12-09-at-1-15-05-pm" src="https://user-images.githubusercontent.com/7827472/50406858-5d1c3b00-079a-11e9-9326-3c81dcfa3e5f.png">

When we view the post via AMP, they appear as links instead of icons/buttons:
<img width="293" alt=

[2018-12-24 22:09] westonruter commented on #1779
Jetpack sharing buttons are working as expected for me: https://weston.ruter.net/2018/12/18/creating-gutenberg-blocks-without-a-build-step-via-htm/

However, I have a patch applied to fix a bug in the current version of Jetpack. You may want to try applying the changes from this PR: https://github.com/Automattic/jetpack/pull/10945

[2018-12-25 05:46] tryazi commented on #1778
I'm using Utf-8. I couldn't make sense for a few days. He gave a DB error. It happend like that. It improves if I pass the plug-in

[2018-12-26 15:49] westonruter commented on #1778
Regarding the line of code you linked to:

https://github.com/ampproject/amp-wp/blob/e60cb152a50e2ffbf5504d41aee859ad1d0e0baa/includes/class-amp-theme-support.php#L192

This is only relevant for sites that are not already served in UTF-8. For that you can refer to #855. But since your site is already in UTF-8, I don't know why you're seeing characters that are malformed.

[2018-12-26 16:37] westonruter opened #1780 "Block gallery styles erroneously get output as separate style from amp-custom in Classic mode"
Reported in https://wordpress.org/support/topic/amp-custom-is-missing-in-the-class-amp-gallery-embed-php/

On a site with Classic mode, the template is currently generating the following invalid markup in the head when a gallery is used:

[code]

This seems to be due to the use of `wp_print_styles` action introduced in https://github.com/ampproject/amp-wp/pull/1627 via https://github.com/ampprojec

[2018-12-28 14:47] myleshyson opened #1783 "Normal Pages being redirected to amp pages automatically"
For some reason my normal pages are being automatically redirected to the amp version using paired mode. I should only be taken to the amp version using the ?amp or /amp/ url in paired mode correct? I have the default twentynineteen theme installed and have tried to reinstall the plugin with no avail.

My guess is there is some post meta data set for some reason that automatically redirects all my

[2018-12-28 15:32] westonruter commented on #1783
In the paired mode there should never be a redirect from the non-AMP version to the AMP version. Also, the plugin never redirects away from your origin, so you should not see the AMP CDN when accessing your normal site URLs.

Perhaps there is a conflict with another of your plugins?

[2018-12-28 15:41] westonruter commented on #645
Why does the URL matter? Normally the paired URL is not exposed when accessing an AMP page via Google Search, Twitter, etc.

[2018-12-28 15:43] myleshyson commented on #645
I guess it doesn't haha. Purely an OCD vanity thing.

[2018-12-28 15:47] myleshyson commented on #1783
Hmm ok. I just deactivated every other plugin except for amp and it's still doing it.  And it does it regardless of whether its in paired mode or classic mode. The only way to stop it for now is to just disable the amp plugin.

[2018-12-28 16:00] westonruter commented on #1783
Ok, thanks for testing that.

What is an example non-AMP URL that shows this problem?

I suggest looking for instances of calls to redirect functions like:

https://github.com/ampproject/amp-wp/blob/19f1f246c613814d86498d30c8ee05e7f5c277fe/includes/class-amp-theme-support.php#L292

And for each one, replace them with something like `die( __FILE__ . ':' . __LINE__ )`. This will then indicate where

[2018-12-28 16:05] westonruter commented on #1783
Of better, add a new snippet to your theme's `functions.php` like this:

[code]

That will tell you more easily where in the plugin it is happening or if it is coming from core or a theme.

[2018-12-28 16:38] myleshyson commented on #1783
Haha ok I'm sorry about this. It was a Firefox AMP extension that was causing the issue. Once I removed it everything worked great.

[2018-12-28 16:38] #1783 closed

[2018-12-28 20:04] desnum opened #1785 "AMP Verification notice on post updates"
**Issue**: Every time a post is updated, there is a pop notice: "There are 2 issues from AMP validation which need review. But none are directly due to content here. However, your site is configured to automatically accept sanitization of the offending markup."

**Steps taken**: Site caches were cleared and AMP settings are set to Paired. Site appears fine, but the notice shows up with every post

[2018-12-28 20:12] westonruter commented on #1785
Please go to “Review Issues” and share a screenshot of what the issues are.

[2018-12-29 17:30] swissspidy opened #1786 "Incompatibility with Polylang's language taxonomy"
I installed Polylang on a site where I try to add AMP support in the theme. This mostly means a bunch of `is_amp_endpoint()` checks.

I've set up two languages, but haven't really done anything with them yet.

Now when I navigate to `/page/2/?amp`, `is_amp_endpoint()` ultimately calls `\AMP_Theme_Support::get_template_availability` which in turn calls `\AMP_Theme_Support::get_supportable_templates

[2018-12-29 18:31] desnum commented on #1785
For the latest post, when updated, the Review Issues link takes you here:

![amp-errors](https://user-images.githubusercontent.com/43796228/50541171-df777700-0b6d-11e9-95b5-357b0d2b7b14.png)

[2018-12-31 00:54] kevinlisota opened #1787 "Inline style adding a fixed width to responsive images within a <figure>"
Updated our site to AMP 1.0.1 and we are experiencing style issues for images within `<figure>` tags.

Our `<figure>` tags are set to center align using `margin: 0 auto`. The plugin is now adding the following inline CSS style:

[code]
The `amp-wp-##` class is an md5 hash generated by the plugin.

The fixed width declaration on the `<figure>` is causing images to overflow the viewport and not beha

[2018-12-31 22:24] Myth03 opened #1788 "Help -- getting google AMP errors which are making them not show up in the index!"
I am getting the following Google Validation errors for my site (SportMuse.net) which are causing them to be excluded. How do I go about fixing these?

Error | A tag on this page requires an AMP component 'script' tag, which is missing.
Error | Only amp-boilerplate and amp-custom 'style' tags are allowed, and only in the document head.
Error | Tag or text which is only allowed inside the body sect

[2019-01-01 05:05] #1779 closed

[2019-01-02 15:20] swissspidy opened #1791 "Comment reply not working with umlauts"
To reproduce:

1. Install AMP plugin
2. Activate Twenty Nineteen or any other theme that works well in native or paired mode
3. Write comment using a name with umlauts, e.g. "Max Müller".
4. Reload page, click on "Reply" to reply to that specific comment
5. Notice that "Max Müller" is displayed as "Max M\u00fcller".

Screenshot:

<img width="762" alt="screenshot 2019-01-02 at 16 16 30" src="https:

[2019-01-02 15:24] swissspidy opened #1792 "Missing confirmation message after posting comment"
According to #1029 / #936 confirmation messages should be displayed when posting a comment. However, that doesn't seem to be the case (anymore).

To reproduce:

1. Install AMP plugin
2. Activate Twenty Nineteen or any other theme that works well in native or paired mode
3. Enable comment moderation.
4. Write and submit a comment.
5. Note that the name & email fields are filled out, the textarea is

[2019-01-02 17:51] westonruter commented on #1792
@swissspidy The message in question for #1029 / #936 only applies to when using `<amp-live-list>` for comments. That is, enabling the `comments_live_list` argument for `amp` theme support.

I believe that the issue you are noticing here would be reproducible without AMP entirely. I just tried in Twenty Seventeen in a non-AMP page and I saw the same thing.

I believe you are noticing a core bug, na

[2019-01-02 18:07] westonruter opened #1793 "Make get_validated_url_file_path() more compatible custom theme and plugin directories"
Initial work landed in #1790 to make `get_validated_url_file_path()` work for locating stylesheets from the filesystem in a custom theme directory. This needs to be expanded to work not just for one theme directory registered under `ABSPATH . 'wp-content'` but also other locations.

If this can't be done reliably, then the plugin should just fetch the file over HTTP.

[2019-01-02 18:09] westonruter commented on #1791
Max Muoofcller is a cool name.

[2019-01-02 18:15] westonruter commented on #1791
Here is where that `comemnt_author` is coming from:

https://github.com/ampproject/amp-wp/blob/511a8b1d8f81f79ec6968a48637d22091e8ce700/includes/class-amp-theme-support.php#L1067-L1081

One fix could be to do:

[code]

Perhaps amp-bind doesn't support unicode escape sequences.

[2019-01-02 18:24] #1792 closed, assigned to nobody

[2019-01-03 06:33] westonruter commented on #1793
The key function here seems to be `get_theme_root_uri()`.

[2019-01-03 10:38] swissspidy commented on #1791
`JSON_UNESCAPED_UNICODE` works. Just noting that it's PHP 5.4+ only.

[2019-01-03 17:01] westonruter commented on #1791
We should probably consider bumping the minimum PHP version requirement at some point anyway.

[2019-01-04 19:31] westonruter commented on #1788
The AMP runtime `v0.js` is getting removed from the page.

Please try deactivating the optimizer plugins, in particular:

* Async JavaScript
* Autoptimize
* JCH Optimize
* SG Optimizer
* Speed Booster Pack

Try deactivating them one-by-one, and after each check if the issue is fixed. Use the AMP validator to check the URL after each plugin is deactivated: https://validator.ampproject.org/ This wil

[2019-01-05 06:25] #1788 closed, assigned to nobody

[2019-01-05 17:36] westonruter commented on #1788
@Myth03 So what was the resolution? This will be helpful for those in the future who gave this problem.

[2019-01-05 20:01] Myth03 commented on #1788
The error was coming from Speed Booster Pack. It appears that despite them allowing you to pick .js scripts to be excluded from their various speed improvements -- only some of them are actually excluded. Once I disabled this mod -- they all appeared to be working!

[2019-01-05 21:11] desnum commented on #1785
Updating the errors from New Accepted to just Accepted does initially clear the errors from that page (removing the red highlight color from that line), however when the Update button is clicked on that page, the errors return.

[2019-01-05 22:39] westonruter commented on #1785
@desnum Please expand the details of the two validation errors to reveal their properties.

[2019-01-07 08:56] geminorum opened #1796 "Please consider namespace for the styles!"
https://github.com/ampproject/amp-wp/blob/19f1f246c613814d86498d30c8ee05e7f5c277fe/assets/css/amp-validation-single-error-url.css#L108-L112

seriously?

[2019-01-07 09:45] narinderbisht opened #1797 "In multisite setup theme fonts URLs render wrong"
I am converting my theme AMP compatible. Fonts URLs are working fine with single sites. But in multisite same theme fonts, URLs are wrong. It is showing fonts not found.

[2019-01-07 17:21] westonruter commented on #1796
@geminorum Please elaborate on what the problem is. Is this causing elements on the post list table to be erroneously hidden? Please share a screenshot.

The underlying problem may be that the condition for enqueueing the stylesheet is not properly being limited to the `amp_validated_url` post type:

https://github.com/ampproject/amp-wp/blob/32703d696fdcba9b1511fbfb7c3a2366d6ebd999/includes/valida

[2019-01-07 17:23] westonruter commented on #1797
Please don't open duplicate support threads on both GitHub and the support forum: https://wordpress.org/support/topic/on-multisite-theme-css-relative-fonts-urls-not-rendering-correct/

[2019-01-07 17:45] geminorum commented on #1796
@westonruter The style is based on the assumption that only List-table on post screen belongs to amp plugin. So it hides every `.tablenav` on the post editor.  This is not a good practice to expect the end user running a site only, just to use our plugin. All additional styles should be limited to the scope of targeted elements.

[2019-01-07 18:18] westonruter commented on #1796
@geminorum I think the problem is that the stylesheet is incorrectly being enqueued on post types other than `amp_validated_url`. Please confirm.

[2019-01-07 18:20] westonruter commented on #1796
In other words, I think a patch like this is needed:

[code]

[2019-01-07 18:33] geminorum commented on #1796
confirming, the styles and the scripts are enqueued on all post-types.

[2019-01-07 18:44] westonruter commented on #1796
@geminorum Thanks. Please test #1798.

[2019-01-07 19:07] geminorum commented on #1796
works fine.

before:
![chrome_2019-01-07_22-34-05](https://user-images.githubusercontent.com/150718/50787817-bc1a9d80-12cc-11e9-944f-ec405a082abf.png)

after:
![chrome_2019-01-07_22-35-11](https://user-images.githubusercontent.com/150718/50787833-c472d880-12cc-11e9-92c0-f5b4fa0375a4.png)