[2021-02-24 16:08] kristoferbaxter commented on #5915
On `w3c` validation: We are aware of the errors cited, but for backward compatibility reasons do not plan to change them.

The issues with Wordpress Installation and configuration are definitely something `amp-wp` can assist with (as most the AMPHTML members work in a platform agnostic environment).

[2021-02-24 16:09] kristoferbaxter commented on #5915
Transferred issue to `amp-wp`.

[2021-02-24 16:43] westonruter commented on #5915
@MultipliedByOne I don't see the plugin active on your site. Can you share a URL to an AMP page on your site?

[2021-02-24 16:58] westonruter commented on #5914
This is the code in question that is causing the problem:

https://github.com/ampproject/amp-wp/blob/7429a18a2103ff8ee5942120707091f18165fe51/assets/css/src/amp-default.css#L2-L12

I think we need to add another style rule to `amp-default.css` like so:

[code]

You should be able to add this to the Additional CSS in the Customizer as a quick fix for this issue.

[2021-02-24 17:03] westonruter commented on #5914
Or rather we should add `object-fit=cover` to the `img` that is being added to this block, perhaps in `AMP_Block_Sanitizer`. See also https://github.com/studiopress/atomic-blocks/pull/292.

[2021-02-24 17:24] MultipliedByOne commented on #5915
I removed the AMP prior to reporting to fix the issue, but the amphtml strings are still in the code, despite deactivation and deletion. The icon is still on the backend view of the web page, but access to the dropdown is gone after I uninstalled.

The issue may be in combination with the theme. I use Euphonie pro, but that was one of the options in choosing on setup.

[2021-02-24 19:08] milindmore22 commented on #5913
Hello @pewgeuges

AMP pages do not allow custom javascript on AMP pages, so the AMP plugins remove them for you to produces valid AMP pages. You can however use [amp-script](https://amp.dev/documentation/components/amp-script/) component to use javascript on AMP pages with few [restrictions](https://github.com/ampproject/worker-dom/blob/main/web_compat_table.md)

In your case I don't see why we ne

[2021-02-24 19:20] milindmore22 commented on #5915
@MultipliedByOne It may be your site's cache or your browser cache, we are not able to see any AMP pages or AMP reference on your site. please let us know if you are planning to use the AMP plugin and we will be happy to assist you further.

I will also recommend going through our [getting started ](https://amp-wp.org/documentation/getting-started/) guide for a better understanding of the AMP plug

[2021-02-24 19:32] MultipliedByOne commented on #5915
Purging the sites cash did fix part of the issue. Thank you.
I figured out that the menu disappearance was to do with a reset of the theme after installing the AMP. I had to rebuild it because the default had none.
I can probably re-install the AMP with the expectation that it will wipe the theme and just set it right away.
thanks for looking into this.

[2021-02-24 19:39] milindmore22 commented on #5915
Glad to know purging site cache fixed your issue, I will close this issue, If you re-install AMP plugin and run into issues feel free to reach us on [WordPress Support Forums ](https://wordpress.org/support/plugin/amp/#new-topic-0) and we will more than happy to assist you further.

[2021-02-24 19:39] #5915 closed, assigned to nobody

[2021-02-24 20:06] rsmith4321 commented on #5914
Great, that css worked for now. I didn't think it would because amp adds things inline but it did. One issue I noticed, where you put the focus point doesn't seem to have any effect now on the image position, since it's not a background image now I don't know if this is even possible.

[2021-02-24 20:41] westonruter opened #5923 "Hero Image Prerendering needs to be updated to account for Cover Block using img element in WP 5.7"
## Bug Description

WordPress 5.7 the Cover block now makes use of a regular  `img` element instead of a `background-image`. See [dev note](https://make.wordpress.org/core/2021/02/24/changes-to-block-editor-components-and-blocks/#post-87512:~:text=the%20cover%20block%20now%20uses%20an%20img):

<blockquote><p>As of <a href="https://github.com/WordPress/gutenberg/pull/25171">#25171</a>, the cover bl

[2021-02-24 20:54] pewgeuges commented on #5913
@milindmore22,

This is fabulous! Thanks a lot! No need for JS to display fully fledged tooltips!

The only change needed was remove the root element and its attribute selector, as even when using an argument present it failed. The now working is:
[code]

~~And the new issue is that fade-out parameters for delay and duration are now applied symmetrically to fade-in.~~

[2021-02-24 21:22] pewgeuges commented on #5913
@milindmore22,

Solved also with asymmetric transitions. The rules are now:
[code]
We’ll change the internal CSS accordingly (where values come in from settings).

Thank you very much for helping make the plugin AMP compatible!

[2021-02-24 21:38] pewgeuges commented on #5913
Just a last thing @milindmore22: We acknowledge everyone contributing code or reporting issues. May we list you among the contributors, credit you in the changelog, and link the issue in a docblock or two? (Having hyperlinks in the changelog is also on the table.) (Our issue #‌41 is to complete the doc thoroughly.)

[2021-02-24 22:06] westonruter commented on #5913
Once you've released the AMP-compatible version on WordPress.org, please let us know and we'll test and then add to our AMP-compatible plugin ecosystem directory: https://amp-wp.org/ecosystem/plugins/

[2021-02-24 22:13] westonruter commented on #5913
@pewgeuges Also, in regards to `:hover` don't forget about ensuring it is accessible for users who are not using a mouse (or are on mobile). For them, you should probably also make use of `:focus` or `:focus-within`.

[2021-02-24 23:16] pewgeuges commented on #5913
Yes, it will be a pleasure, Thank you @westonruter!

[2021-02-24 23:21] pewgeuges commented on #5913
@westonruter Thanks a lot! I’ll dig into these pseudo-classes. FWIW with jQuery tooltips I can tap-and-hold a referrer, then the tooltip shows up on mobile. Hopefully :focus or :focus-within will perform the same — w/o JS!

[2021-02-25 02:58] kristoferbaxter commented on #5913
Makes me so happy to see such a great outcome. Thanks all!

[2021-02-25 04:01] #5913 closed, assigned to milindmore22

[2021-02-25 04:13] pierlon opened #5925 "'Close' button on Onboarding Wizard creates re-auth loop when referrer is login page"
## Bug Description

The 'Close' button in the Onboarding Wizard creates a re-authentication loop if the referrer to the page was the login page.

The link for the 'Close' button is retrieved from `wp_get_referer()`, or if that returns `false` the link to the settings page is used instead:

https://github.com/ampproject/amp-wp/blob/6fcd6cdfa75027c1f863f937fb0557daa39d0d3b/src/Admin/OnboardingWizard

[2021-02-25 10:19] milindmore22 commented on #5913
@pewgeuges Glad to know the solution helped, feel free to reach us on [WordPress Support Forums ](https://wordpress.org/support/plugin/amp/#new-topic-0) and we will more than happy to assist you further.

[2021-02-25 15:03] kmyram opened #5928 "Updating/adding labels for grooming"
Making sure we have descriptions so we can provide/support a checklist for grooming session.
The aim is to provide properties, types, status and other information to properly groom issues.

[2021-02-25 16:48] westonruter commented on #5925
Good catch.

The logic in `WP_Customize_Manager::get_return_url()` could be incorporated here:

https://github.com/WordPress/wordpress-develop/blob/f2b56883f099b971ebde6c60f32ef9c66f90e78a/src/wp-includes/class-wp-customize-manager.php#L4668-L4679

[2021-02-25 22:33] westonruter commented on #5304
How about just “**Re-validate**” in this case? Is anything else needed? Or “Made changes? **Re-validate**”.

[2021-02-26 00:00] #5893 closed, assigned to westonruter

[2021-02-26 06:42] westonruter commented on #5304
@delawski @jwold Also, can this be designed in a way that content shifting is minimized? The loading spinner and validate button (as of #5741) both currently contribute to the UI shifting up and down, which is not ideal:

https://user-images.githubusercontent.com/134745/109264998-b1783680-77ba-11eb-8be7-9cbdbc005ef5.mov

[2021-02-26 14:12] delawski commented on #5304
I was thinking about this issue, too.

I spoke about the loading state with @jwold lately and he suggested a pretty nice approach:

@jwold Please chime in as I think we're going in a really good direction with that.

[2021-02-26 14:20] delawski commented on #5304
Another issue I've noticed while working on [#5741](https://github.com/ampproject/amp-wp/pull/5741#discussion_r583658462) is that we don't currently have any error handling.

If the REST endpoint responds with 4xx or 5xx, we're showing the loading spinner forever.

We should probably handle such errors with a proper message (sometimes a message is returned in the response – we could use it) and of

[2021-02-27 17:34] westonruter commented on #5914
Another report: https://wordpress.org/support/topic/gutenberg-cover-block-image-loses-focus-point-with-amp-plugin/

[2021-02-27 21:14] westonruter commented on #5914
Here's a workaround plugin that fixes the issue with `object-fit` while also handling `object-position`: https://gist.github.com/westonruter/2d8ac828f48b43803852e26c5af274ff

[2021-02-28 06:17] westonruter commented on #5914
There were a couple bugs in that workaround plugin which I just fixed in the Gist.

[2021-02-28 16:19] jwold commented on #5304
What if we did something like this? I think it might avoid content shifting altogether.

<img width="743" alt="Screen Shot 2021-02-28 at 8 19 18 AM" src="https://user-images.githubusercontent.com/3411173/109425562-ab8e7b00-799d-11eb-92d9-b1b566f74d18.png">

[2021-03-02 03:25] #2069 closed

[2021-03-02 17:22] westonruter commented on #4568
Example of how validation error is manipulated by an array via the `amp_validation_error` filter in https://github.com/ampproject/amp-wp/issues/4753:

[code]

[2021-03-02 21:29] #5925 closed, assigned to westonruter

[2021-03-03 17:03] westonruter opened #5939 "Add support request flow"
## Feature description

When someone encounters issues with AMP, regardless of whether they have DevTools enabled, there needs to be a way to facilitate them getting support, beyond just adding links to the support forum (#5893 & #4664):

1. Highlight the themes/plugins causing the plugins and direct the users to their respective support forums (#4668).
2. Suggest plugin suppression as a way to de

[2021-03-03 19:47] westonruter commented on #5939
We should also allow users to submit debugging information without necessarily wanting a support response.

[2021-03-03 20:24] westonruter commented on #5939
As pointed out by @amedina, this is like on your OS when a program crashes. You can opt to send diagnostic information back to Microsoft, Apple, etc so that the development teams can improve the project even though you don't expect a response. In the case of the AMP plugin, this could be captured by a checkbox that says, “Please contact me about how this issue can be resolved.” When that checkbox

[2021-03-04 11:59] ThierryA commented on #4664
Something important to consider is that this will be gradually rolled out on Site Kit (behind a remote controlled flag) to prevent sudden support load and manage the load.

[2021-03-04 17:13] #4757 closed, assigned to nobody

[2021-03-04 19:43] milindmore22 opened #5942 "Introduce filter to Mobile redirection output to handle delayed redirections"
## Feature description

There may be some third-party factors that can affect delayed redirection, those third-party factors may have a way to add an exception and it may require some changes in output.

An example is Cloudflare's [Rocket Loader](https://support.cloudflare.com/hc/en-us/articles/200168056-What-does-Rocket-Loader-do-) script which defers javascript until site content is loaded. whic

[2021-03-04 20:20] westonruter opened #5943 "AMP preview button seems to show duplicate logo when AMP sidebar is pinned"
## Bug Description

In Transitional/Reader modes, there is an AMP preview button that is separate from the regular Preview button. Additionally, as of #5589 there is a new plugin sidebar for displaying validation errors. When that sidebar is pinned, the result is an apparent duplication of the AMP buttons in the toolbar:

Granted we want to eliminate the separate AMP preview button in favor of add

[2021-03-05 15:29] linusrees opened #5949 "AMP creates incorrect url in "pingbacks""
## Bug Description AMP causes posts hosted on Wordpress.com to have incorrect "pingback" urls. Deactivating the AMP plugin resolves the problem.

## Expected Behaviour N/A

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional context

 - WordPress version: 5.6.2
 - Plugin version: 2.0.10
 - Gutenberg plugin version (if applic

[2021-03-05 17:10] westonruter commented on #5949
What URL is being created? Please share more details, like a screenshot.

[2021-03-05 17:21] linusrees commented on #5949
It changes the linked url to the same url as the post. For example. If **Post A** links to **Post B**, then **Post B** would have a Pingback link to **Post A** if notifications are turned on for the page under normal circumstances. In the bug **Post B** displays the post title of **Post A** but with the url of **Post B** and appended with the two characters: #!
This bug had the effect of changing

[2021-03-05 17:27] #5942 closed, assigned to westonruter

[2021-03-05 17:29] linusrees commented on #5949
Weston

Wordpress.com should have a record of the problem as I resolved it by following their instructions.

Linus

WordPress.com(Automattic)

Mar 5, 2021, 13:19 UTC

Hi there!

I'm Victor, a Happiness Engineer with WordPress.com.

We were on the live chat earlier discussing the pingback issue you are facing on the site.

As discussed on the chat, I'll share the troubleshooting steps below which s

[2021-03-05 17:41] westonruter commented on #5949
Their instructions seem to be generic troubleshooting steps. In any case, I wouldn't have access to such records since I don't work at Automattic.

Can you please share a screenshot of the link you're seeing? I'm still not clear on what the issue looks like. It may not be an issue with the AMP plugin per se but with how WordPress.com is extending it.

[2021-03-05 18:25] linusrees commented on #5949
I cannot screen shot it as... well it won't reveal the problem. (I can't hover over the link to reveal the url and take the screen shot)

Here are clumsy shots with my smartphone with the cursor hovering over the link and the status at the bottom of the screen.

Incorrect url

![IMG_20210305_181626000](https://user-images.githubusercontent.com/12773284/110157019-9cfdf480-7ddf-11eb-8b9f-2401f88fd1b

[2021-03-05 18:31] westonruter commented on #5949
I'm not able to reproduce the issue myself. I did this:

0. I turned on “Attempt to notify any blogs linked to from the post” in Discussion Settings.
1. I published “Post B”.
2. I created “Post A” with a link to “Post B”.
3. I approved the pingback that appeared.
4. When I visit Post B on the frontend, I see this:

![image](https://user-images.githubusercontent.com/134745/110157359-ec6f0100-7d9c-1

[2021-03-05 18:42] linusrees commented on #5949
I'll leave it active with the bug for 30 minutes for you to see https://fitzrovianews.com/2021/02/27/westminster-council-allows-more-outdoor-eating-and-drinking-for-summer/

Linus

[2021-03-05 18:47] westonruter commented on #5949
Got it. I see, yes.

Instead of turning off the AMP plugin, you can alternatively try deactivating Gravatar Hovercards. This setting is exposed in Jetpack as follows:

![image](https://user-images.githubusercontent.com/134745/110159908-27266880-7da0-11eb-856d-9984515e452a.png)

[2021-03-05 18:56] linusrees commented on #5949
Yes, turning off hovercards works. Thanks. So is that a bug of Jetpack or AMP?

Linus

[2021-03-05 19:00] westonruter commented on #5949
It's a bug in Jetpack. I've filed this bug: https://github.com/Automattic/jetpack/issues/19052. I believe I see the issue and I'm going to open a pull request to fix.

[2021-03-05 19:00] #5949 closed, assigned to nobody

[2021-03-05 19:13] linusrees commented on #5949
Well done. I'd spent hours trying to resolve this. Thanks for your help.

Linus

[2021-03-05 23:58] westonruter commented on #1257
This came up again in the support forums: https://wordpress.org/support/topic/adding-amp-fx-to-block/

We may want to revisit this when amp-fx is available in a Bento context.

[2021-03-08 07:19] #5914 closed, assigned to nobody

[2021-03-08 19:32] titoabreurj commented on #5767
Hello
I'm having problems with the search console under Indexing request.
When the AMP plugin is activated, the Search console presents an error, without specifying what.
But when I disable the plugin, I can inspect the page, do the published URL test and request indexing without any problem.

Can anyone help me identify the problem?

![Captura de tela 2021-02-25 153216](https://user-images.github

[2021-03-08 20:38] westonruter commented on #5767
@titoabreurj Please open a support topic: https://wordpress.org/support/plugin/amp/reviews/#new-post

[2021-03-08 20:58] titoabreurj commented on #5767
Thanxs Westonruter.
I followed the link and opened a new topic

[2021-03-08 22:40] westonruter commented on #5925
QA passed

1. I went directly to the Onboarding Wizard in a new tab: `/wp-admin/admin.php?page=amp-onboarding-wizard`
2. In another tab I signed-out of WP.
3. I then reloaded the tab with the Onboarding Wizard
4. I was redirected to the login screen, with the Onboarding Wizard as the return URL: `/wp-login.php?redirect_to=%2Fwp-admin%2Fadmin.php%3Fpage%3Damp-onboarding-wizard&reauth=1`
5. When bei

[2021-03-08 22:51] westonruter commented on #5893
QA Passed.

* **Contact support** links to https://wordpress.org/support/plugin/amp/
* **Leave review** links to https://wordpress.org/support/plugin/amp/reviews/#new-post

I just noticed that the implementation in AMP and Site Kit differ from Jetpack in that Jetpack adds _action_ links (via `plugin_action_links`) whereas we are adding _meta_ links (via `plugin_row_meta`).

![image](https://user-i

[2021-03-09 00:57] pierlon commented on #4753
(QA confirmation was done [in the linked PR](https://github.com/ampproject/amp-wp/pull/5836#issuecomment-793218126))

[2021-03-09 01:00] jwold commented on #5914
@westonruter found one issue so far: https://v.usetapes.com/E5qW0ekdBa

1. Installed latest version of Gutenberg + WordPress
2. Created cover block with video and video block
3. Neither are working

[2021-03-09 02:38] jwold commented on #5914
Weston suggested it was HTTPS error, and that appears to be correct. Everything else is behaving as expected.

I'm not able to test `left` and `right` focal points, as the images fill the width of the page; I think that's how it's supposed to work. Confirmed top and bottom are working.

Also confirmed that nesting the cover block in a container block behaves as expected.

[2021-03-09 04:56] westonruter commented on #5942
QA Passed

When I add this plugin code:

[code]

The mobile redirection script on the page gets that attribute injected:

[code]

[2021-03-09 17:51] Krapulat commented on #4743
Is there any documentation to implement AMP Optimizer?

[2021-03-09 19:06] pierlon commented on #4743
@Krapulat The documentation for the AMP Optimizer can be found [here](https://github.com/ampproject/amp-toolbox-php#amp-optimizer-for-php).

[2021-03-09 20:25] pierlon commented on #4743
Closing since the documentation for the AMP Optimizer is [now available](https://github.com/ampproject/amp-toolbox-php#amp-optimizer-for-php), and configuring it for use in the plugin can be done through the [`amp_optimizer_config` filter](https://github.com/ampproject/amp-wp/blob/06c9b9531874174facfa805cad683c73617360a8/docs/hook/amp_optimizer_config.md).

[2021-03-09 20:25] #4743 closed, assigned to schlessera, amedina

[2021-03-10 20:17] #5093 closed, assigned to westonruter

[2021-03-11 14:34] milindmore22 opened #5975 "Dark Mode background is overridden by custom background color for Twenty Twenty One theme."
## Bug Description
A user reported this in [support forums ](https://wordpress.org/support/topic/words-are-unreadable-after-installing-default-wordpress-theme/)

When using the Twenty twenty-one theme with custom background color and system is set to dark mode the background is overriding background resulting in unreadable text. the issue is not producable with the theme default background color.

[2021-03-11 19:53] schlessera opened #5976 "Server infrastructure for PSI requests"
## Feature description

To fetch performance metrics from the PageSpeed Insights API, you need a PageSpeed Insights API key. Shipping the plugin with an API key is a bad idea, as it will lead to problems with rate-limiting as well as potential abuse. But asking the user to provide an API key is not a good idea either, as they'd need to create a Google Cloud Platform project first (which requires a

[2021-03-12 20:20] westonruter commented on #5976
As an alternative to cycling through API keys, could we not just ensure that our API key for PSI has a sufficient rate limit? the AMP Page Experience guide is using the same API key for all requests AFAIK, so it seems we could do the same.

[2021-03-12 21:41] #5975 closed, assigned to nobody

[2021-03-12 22:18] westonruter opened #5979 "Add more elements and attributes to amp-mustache allowlist (for comment submission success/failure messages)"
## Feature description

As of https://github.com/ampproject/amphtml/commit/0827b5bee99e121d88a76f5e03ea026c6cac4afc, more elements are now allowed in `amp-mustache` templates: `amp-img`, `h1`, `h2`,  and `h3`. There are others elements which are also allowed (and attributes) that we don't currently support: https://github.com/ampproject/amphtml/blob/df83808bc81014fc23fe9efb58f04bc91e1ff702/src/pur

[2021-03-15 14:18] simison commented on #5943
There's a draft PR to add the capability in Gutenberg https://github.com/WordPress/gutenberg/pull/25430

@westonruter  Would anyone from the AMP team be up for helping to wrap that PR up? It seems so close! 😅

[2021-03-15 17:31] westonruter commented on #5943
@delawski Is https://github.com/WordPress/gutenberg/pull/25430 something you can take up?

[2021-03-16 09:45] delawski commented on #5943
@westonruter @simison I'll have a look and see what I can do about it.

[2021-03-16 16:20] westonruter commented on #5826
* This should involve REST API endpoints.
* We should refactor the WP-CLI commands to use the same underlying logic.
* While resetting the validation data, a spinner should be shown and/or a progress bar until all all data is removed.
* When completed, until we have a React-based UI implemented, we'll need to reload the page when all deleted.
* Take extra care since this involves deletion of data.

[2021-03-17 03:59] ryanr14 opened #5985 "AMP Breaks the Square Payment Method"
## Bug Description

If you've got Square setup as a payment method and then setup AMP the credit card fields at checkout aren't usable.

## Steps to reproduce

1. Setup AMP
2. Setup Square as your payment method
3. Try to buy via Square at Checkout
4. See error

## Screenshots

Error with AMP & Square activated
![https://d.pr/i/6tolD0](https://d.pr/i/6tolD0+)
Image link: https://d.pr/i/6tolD0

AMP

[2021-03-17 04:25] westonruter commented on #5985
This is working as intended, since custom scripts are not allowed on AMP pages (unless they can be loaded into `amp-script`). The AMP plugin unwraps `noscript` elements so that those fallbacks become the baseline AMP experience. This is why you see that message on the AMP version.

I don't have experience with the Square payment API but it's possible that there is an AMP-compatible solution. It ma

[2021-03-17 15:58] westonruter commented on #3210
Something that comes to mind with the switch to using custom tables for validation data storage (#5553) is this would greatly facilitate deletion of the validation data upon uninstallation. No longer would we need to call `wp_delete_post()` and `wp_delete_term()` repeatedly. We could instead just `DROP TABLE` for each, which would be much faster.

[2021-03-18 16:24] milindmore22 commented on #5985
As suggested by Weston, I will recommend disabling AMP on Checkout pages.
![image](https://user-images.githubusercontent.com/1132541/111659887-93d74380-8833-11eb-9f24-8c84adf99ed8.png)

Additionally,  Update cart behavior settings to redirect on adding a product in cart and disabling Ajax add to cart check on from Archive.
![image](https://i.imgur.com/wvms46N.png)

[2021-03-18 18:25] delawski opened #5994 "When switching block editor mode, all errors listed in AMP sidebar incorrectly appear to be removed"
## Bug Description

Whenever a block editor mode is switched (e.g. from "Visual editor" to "Code editor"), each AMP validation error listed in the sidebar says that the block it is associated with has been removed from the document.

This was discovered by @westonruter in https://github.com/ampproject/amp-wp/pull/5929#pullrequestreview-615012698.

## Expected Behaviour

Switching block editor mode

[2021-03-18 18:39] delawski opened #5995 "Ensure errors displayed in the block editor sidebar and on the Validated URL, Validated URLs, and Error Index screens look the same"
## Feature description

The appearance of the error messages in the block editor sidebar has been updated in #5929.

<img width="280" alt="Screenshot 2021-03-17 at 16 07 32" src="https://user-images.githubusercontent.com/478735/111490465-57282100-873b-11eb-8036-8931cf485456.png">

<img width="281" alt="Screenshot 2021-03-17 at 16 07 46" src="https://user-images.githubusercontent.com/478735/1114905

[2021-03-18 21:41] schlessera commented on #2315
For people following this specific issue, I'd like to note that the work for this issue is already underway under the https://github.com/ampproject/amp-toolbox-php/ repository.

[2021-03-19 07:52] #5824 closed, assigned to nobody

[2021-03-19 07:52] #5923 closed, assigned to westonruter

[2021-03-19 15:31] delawski opened #5997 "Add AMP status notification to the pre-publish panel and to the AMP panel in the document sidebar"
## Feature description

As proposed in #5304, the AMP validation status notifications have been revamped in the AMP sidebar in #5929.

A similar notification should be now added to the editor pre-publish panel and to the AMP panel in the document sidebar.

<img width="1008" alt="Screenshot 2021-03-19 at 16 29 51" src="https://user-images.githubusercontent.com/478735/111804450-642a4900-88d0-11eb-9d

[2021-03-19 17:01] #5304 closed, assigned to westonruter

[2021-03-19 23:48] westonruter opened #5999 "Adding an amp-access-scroll element to the page fails to add required scripts"
## Bug Description

As reported on [support forum](https://wordpress.org/support/topic/problems-making-amp-extension-load/), when adding [amp-access for Scroll](https://amp.dev/documentation/components/amp-access-scroll/) to the page, the `amp-access-scroll` component script fail to be added automatically.

For example, given this code:

[code]

The result is only that the main `amp-access` script

[2021-03-20 02:33] #5801 closed, assigned to westonruter

[2021-03-20 17:24] westonruter commented on #5999
This should rather be solved in the Optimizer with the AutoExtension transformer logic.

[2021-03-20 20:42] pierlon commented on #5994
That doesn't seem like a feasible solution, as blocks could be removed or have their content updated while in the Code Editor, which could lead to some blocks not being able to be re-associated with its validation error.

I think your second solution is the way to go: triggering re-validation after blocks being reset.

[2021-03-21 22:58] rsmith4321 opened #6000 "Reduce impact of third party code"
## Bug Description

Most of the time when I test with Pagespeed Insights I don't have any issues. I also use a tool called StatusCake that does automatic testing. Occasionally Pagespeed insights will report a long blocking time for the AMP scripts, and I can see large spikes in the load time on StatusCake as well.  If I disable amp, my website always loads in under 400ms and there are no spikes in

[2021-03-22 01:26] pierlon commented on #6000
Hello @rsmith4321, this would be a question for the AMP core project. Please file your issue upstream: https://github.com/ampproject/amphtml/issues.

You also might be interested in https://github.com/ampproject/amphtml/issues/28310, which intends to help with unused JS by splitting the scripts into modern JS and legacy JS that includes polyfills.

[2021-03-22 01:26] #6000 closed, assigned to nobody

[2021-03-23 02:52] ryanr14 commented on #5985
Thanks for clarifying this, and the quick reply. :)

[2021-03-23 02:52] #5985 closed, assigned to milindmore22

[2021-03-23 07:37] pierlon opened #6011 "Validating a URL that has a massive number of validation errors causes validation request to fail"
## Bug Description

While in Transitional mode I attempted to validate my homepage (which is set show the latest posts). Doing so resulted in the following error:

![image](https://user-images.githubusercontent.com/16200219/112102950-f10b2600-8ba0-11eb-9b9d-6ba1c16b573d.png)

After verifying that there were no errors being logged and the error was not due to any project files being changed recentl

[2021-03-24 20:56] pierlon commented on #6011
After further analysis of this issue, I've determined the catastrophic backtracing error is caused by the massive amount of characters that is being consumed in between the _first_ HTML comment detected. For example, given the current regex being used and the text `{"text":""}`, [here is what would be matched](https://regex101.com/r/rrUha0/1):

![image](https://user-images.githubusercontent.com/16

[2021-03-29 22:40] westonruter commented on #4386
Can can now direct users to the new documentation about page caching as well: https://amp-wp.org/documentation/getting-started/amp-site-setup/page-caching-with-amp-and-wordpress/

[2021-03-29 22:41] westonruter commented on #4386
This issue is somewhat a superset of #5780.

[2021-03-30 17:16] jwold commented on #5994
* WR > Current solution asks users to revalidate because content may have changed. That seems sufficient to me.
* PD > I think we should trigger validation anytime the editor mode changes. Is it possible that post wouldn't be dirty when switching to another mode of the editor it would get dirty, but not really because of change of content, but for other reasons?
* WR > I don't think so. If you ope

[2021-03-30 17:23] jwold commented on #5994
* WR > May not be necessary to do.
* PD > We have some solutions for this already; the one WR added. It's something that signals or flags that post may have changed after we switched to the other mode of editor; there is a solution already, I think it's pretty good. The only thing we could do would be probably too sophisticated for this: reconcile those blocks only if there is no change done betwe

[2021-03-30 17:23] jwold commented on #5994
@delawski can we open a new issue for Yoast to investigate?

[2021-03-30 17:23] #5994 closed, assigned to nobody

[2021-03-30 17:24] jwold commented on #5994
* WR > If only meta box is Yoast, and Yoast puts data in store to track changes - if only using Metabox as place for react components, and still putting data in store, so we can listen to changes, then we may want to make it a special case where we say, if Yoast, still consider that there are meta boxes.

[2021-03-30 17:27] jwold commented on #5995
* WR > Now the design language has changed the reviewed versus unreviewed. Before something not reviewed had orange background in way that was similar to unmoderated comments. But now in block editor that's been replaced with having bold text and darker background. Then the orange/red border now means that invalid markup kept, so that same design should be consistent with validation screens.
* JW

[2021-03-30 17:28] jwold commented on #5295
* WR > Drafted PR, Pierre is looking into this. Basically if AMP disabled for given URL because template no longer available, or AMP disabled for it, but you have old validated URL post referencing this, and you try to revalidate it, then it should show a message to say "AMP no longer available for this URL, it can be trashed."

[2021-03-30 21:02] westonruter opened #6028 "Ensure noscript fallbacks get expected styling"
As of https://github.com/ampproject/amphtml/pull/29846, the `amp-img > noscript > img` no-JS fallbacks should be getting rendered properly. However, there are still scenarios where the image can get erroneous styling, namely when the `class` attribute is copied onto the `noscript > img`. If that is done, then a CSS rule like the following can mess up the size of the fallback image:

[code]

See ht

[2021-03-30 21:20] westonruter opened #6029 "Explore incorporation of AMP's Content Security Policy"
## Feature description

As per [Secure from third party attacks](https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/secure-pages/) on AMP.dev, highlighted by @jono-alderson, there is a Content Security Policy (CSP) which can be added to AMP pages to further secure them:

[code]

(Naturally the specific `report-uri` here should _not_ be included, but see also the [Reporting API

[2021-03-30 21:50] jwold commented on #5995
Played with some concepts for this on [Figma](https://www.figma.com/file/SfMlDvHc5KHxJmAZN12PIM/?node-id=2001%3A4812).

--------

![Group 62](https://user-images.githubusercontent.com/3411173/113061618-2eeee800-9167-11eb-88bb-f524ccef1e1e.png)

--------

![Group 60](https://user-images.githubusercontent.com/3411173/113061621-2f877e80-9167-11eb-8dc7-5983c42ad494.png)

--------

![Group 61](https://

[2021-03-30 22:22] westonruter opened #6030 "Provide mechanism to prevent noscript unwrapping"
## Feature description

As noted in a [support topic](https://wordpress.org/support/topic/support-420/), the `noscript` element is allowed. The AMP spec [states](https://amp.dev/documentation/guides-and-tutorials/learn/spec/amphtml/#:~:text=Can%20be%20used%20anywhere%20in%20the%20document.):

Nevertheless, in our script sanitizer we unwrap all `noscript` elements so that its contents will become t

[2021-03-30 22:58] westonruter commented on #5995
We'll need to retain some dark horizontal line to differentiate between the rows.

In the block editor:

All unreviewed | All reviewed
---------------|-------------
![image](https://user-images.githubusercontent.com/134745/113066733-e4259e00-916f-11eb-81dc-880b69898bea.png) | ![image](https://user-images.githubusercontent.com/134745/113066893-2f3fb100-9170-11eb-93eb-1dc3d28fe11e.png)

Currently on

[2021-03-31 05:13] #6011 closed, assigned to westonruter

[2021-03-31 07:45] jonoalderson commented on #6029
I'd recommend a few more tweaks to adapt this for life on a WP AMP page, which might have some more moving (or stale!) parts than the suggested string anticipates:
- Make it more future-proof / version-agnostic, by removing 'versioning' of individual AMP assets (e.g., `v0.j`), and consolidating the various `https://cdn.ampproject.org` path definitions into a single rule
- Move the consolidated `ht

[2021-03-31 15:58] westonruter commented on #5939
The support page should:

* Request user to go to the page that has the problem and then click the support link from there so that the relevant information is sent. This will be most helpful for support, to have the data for a page that is actually having a problem as opposed to a sample set of URLs. Perhaps there could be a URL field that allows the user to paste the site URL that is having a pro

[2021-03-31 17:56] westonruter commented on #6029
Note also that we intend to implement self-hosting of AMP scripts: https://github.com/ampproject/amp-wp/issues/5581.

This will improve performance by reducing the need to open a TCP connection to `cdn.ampproject.org`, while also quelling any privacy concerns. So this adds further need for the `'self'` to be included in `script-src`.

[2021-03-31 17:56] cryptomail2018 opened #6068 "unable to get traces left removed in my wordpress site"
![Capture](https://user-images.githubusercontent.com/35930742/113189366-53d97d00-9285-11eb-9f70-ed514c812ee3.JPG)

unable to remove AMP left behinds after uninstall

i been reading threaths about this previously but still not find the answer

please advice soonest in basic terms how to resolve this please

im am not a developer programmer

thank you

Marc

PS: my email :
cs@achievedprofits.com

[2021-03-31 18:57] delawski commented on #5995
Good points, @westonruter.

I think that for the sake of consistency and readability, it'd be good to have dark horizontal separators.

Also, I'd prefer not to add a custom select dropdown just because of the icon. However, since this select field is already handled by JS, we could pretty easily have an icon next to the dropdown. It would represent the current markup status and change whenever the

[2021-04-01 04:55] westonruter commented on #6029
Note the `meta[http-equiv]` tag is actually invalid AMP (see https://github.com/ampproject/amp.dev/pull/5612#issuecomment-811636355). The CSP actually has to be set via a `Content-Security-Policy` HTTP response header.

[2021-04-01 08:15] jonoalderson commented on #5581
Sounds good. Only risks I've come across are folder creation permissions, and, collision with existing folder names.

Can't we just serve the current/latest file with a query-busting param, based on the lastmod timestamp? E.g., `v0.js?timestamp=1234567`

[2021-04-01 16:42] jwold commented on #5520
* PG > Working with Github CLI to find out how best to automate recurring tasks that we have been doing.
* PG > On the toolbox repo I see Alain has a workflow for checkin. Runs a chron to check if there's a sync for the spec PR; if a PR is open. You can use Github CLI to auto merge an open PR if all checks pass. Once checks pass it immediately merges itself rather than wait an hour to recheck if o

[2021-04-01 16:46] jwold commented on #5995
* WR > Currently there is zebra striping, which reduces need for horizontal lines. But if we eliminate zebra striping (which isn't present for unreviewed, but when reviewed there is zebra striping.)
* WR > If no zebra striping, need horizontal lines to separate rows.
* Guidance: We can probably get rid of zebra striping so long as we have horizontal lines.

* WR > Regarding icons, can't be inside

[2021-04-01 16:53] westonruter commented on #6029
I also realize that the CSP will no longer work as-is with the new `script[amp-error]`. See https://github.com/ampproject/amphtml/issues/22543#issuecomment-673603872 and https://github.com/ampproject/amp-toolbox/issues/1146.

CSP is indicated at https://github.com/ampproject/amphtml/issues/22543#issuecomment-673603872.

[2021-04-01 17:08] flixwatchsupport opened #6032 "<amp-img> gets converted into <img class="i-amphtml-fill-content i-amphtml-replaced-content">​"
## Bug Description

In the template, I am adding:
[code]

On the Source Code it shows:
[code]

But the PageSpeed Insights shows:

[code]

And the loading time is very high.

## Expected Behaviour

[code]

## Steps to reproduce

It's automatically getting converted into that format. I am not sure what are the steps to reproduce it other than installing the APM plugin.
Check: https://www.flixwatch.c

[2021-04-01 17:41] westonruter commented on #6032
The `img` that PageSpeed Insights shows is added to the page by the AMP runtime. So that is expected. I think the problem you're noticing is that the image is getting lazy-loaded when it should be getting prerendered. I suggest you try upgrading to [2.1 Beta 1](https://github.com/ampproject/amp-wp/releases/tag/2.1.0-beta1) which includes hero image prerendering:

With that, I suggest that you add

[2021-04-01 17:51] westonruter commented on #6032
You also may not need to manually add `data-hero` to your images since the plugin will add them to the first hero candidate image(s). But if you add `data-hero` then you will have explicit control.

[2021-04-01 17:53] flixwatchsupport commented on #6032
Understood. Thanks @westonruter . I will implement it and let you know the outcome.

Edit: Do I need to add data-hero attribute to the fallback image as well?

[2021-04-01 18:19] westonruter commented on #5581
Good question. I've requested that: https://github.com/ampproject/amphtml/issues/25873#issuecomment-812086561.

[2021-04-01 20:07] westonruter commented on #4253
@schlessera This relates to what we discussed earlier today regarding the Optimizer to allow transformers to not only mutate the `Document` but also a collection of response headers which ultimately get sent.

This would be needed by a transformer for CSP, for example: https://github.com/ampproject/amp-wp/issues/6029.

[2021-04-01 22:23] swissspidy commented on #5520
There's a built-in GitHub feature for auto-merges: https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/automatically-merging-a-pull-request

[2021-04-01 22:31] pierlon commented on #5520
@swissspidy Yep that's what I was alluding to. One could add a step to enable auto merge for a PR:

[code]

[2021-04-01 22:45] swissspidy commented on #5520
Not exactly the same thing, but also possible 👍

[2021-04-02 01:13] flixwatchsupport commented on #6032
Now I am getting this:

[code]

in PageSpeed Insights but the LCP hasn't changed as such.

For the logo:

[code]

Also there are two warnings in the console:
`The resource https://d-30907998692382382773.ampproject.net/2103240330001/nameframe.html was preloaded using link preload but not used within a few seconds from the window's load event. Please make sure it has an appropriate `as` value and it

[2021-04-02 02:06] westonruter commented on #6032
I don't immediately see how it can be further optimized.

I do see that your logo seems to be a WebP which was derived from a heavily-compressed JPEG. The compression artifacts are clearly visible:

![image](https://user-images.githubusercontent.com/134745/113372280-26401280-931d-11eb-8434-b76f8cb20dc8.png)

I suggest creating a PNG for the custom logo instead. You may also want to look into using

[2021-04-02 03:23] westonruter commented on #6032
I'm also noticing there is a layout shift caused by `amp-accordion`, which appears actually to be a bug with AMP itself (not in the AMP plugin). Nevertheless, using `amp-accordion` is not the best way to implement a menu. You can find an example of how to implement a similar menu when the Twenty Sixteen theme is active. You'll see that it uses `amp-bind` to toggle the state.

[2021-04-02 03:27] flixwatchsupport commented on #6032
Ok. Will change the logo and change the amp-accordion to amp-bind.

[2021-04-02 13:30] jamesozzie opened #6035 "Figcaption misalignment using default editor on Safari mobile."
## Bug Description

As [reported in the WordPress support forums](https://wordpress.org/support/topic/amp-plugin-disrupts-image-caption-alignment/#post-14268579) when adding an image caption on images that have centered or no alignment the captions in AMP URLs are misplaced - on mobile devices and only on first load.

An example URL where this can behavior can be seen is [here](https://undiscovere

[2021-04-02 17:29] milindmore22 opened #6036 "Improve page experience for fonts in core themes via preloading, preconnecting, and using `font-display:optional`"
## Bug Description

Improve page experience of core themes by preloading and preconnecting fonts, as suggested by Pixi let's preload core theme fonts which are loaded through URL also use font-display property suggested `font-display: optional`

As we discussed core themes are still widely used, and also used as Reader Mode themes, so let's add these small improvements.

Ref: https://github.com/am

[2021-04-03 14:09] pewgeuges opened #6038 "Tap event obstructs keyboard-actionable hard link"
## Bug Description

When a `tap` event is defined, the hard link is not keyboard actionable.

While clicking a footnote referrer both expands the footnotes list and scrolls to the footnote in the list, hitting Enter only expands the list, but does not scroll to the footnote, whether the footnotes list is currently expanded or not.

Per WCAG the footnotes must be keyboard navigatable. When a referr

[2021-04-03 16:54] westonruter commented on #6038
This is going to rather be an upstream issue in AMP core. I'm going to transfer it.

[2021-04-04 22:10] jwold commented on #5995
Good suggestions. Here's an updated version @delawski:

![Group 92](https://user-images.githubusercontent.com/3411173/113522728-e4e77700-9557-11eb-9695-d0cabf6174b0.png)

----

![Group 93](https://user-images.githubusercontent.com/3411173/113522732-e6b13a80-9557-11eb-8656-242973732204.png)

----

![Group 91](https://user-images.githubusercontent.com/3411173/113522735-e749d100-9557-11eb-8a34-6eadb9

[2021-04-05 05:10] westonruter commented on #6036
For Genericons, we definitely will need to use `font-display:block` because this is an icon font and with `swap` we'd get unknown glyph boxes rendered momentarily and for `optional` we'd get permanent boxes on the first visit. The performance problems of using an icon font are surely the reason SVG was used in Twenty Seventeen.

In the table, Genericons should be added to Twenty Fifteen and Twenty

[2021-04-05 14:27] claudiucelfilip opened #6039 "Reader Theme: White on white content in Cover Block with predefined colors"
## Bug Description

Using predefined (see screenshot) color as backgrounds for a Cover Block results in white on white content (see screenshot <span>#</span>2).
Trying to use an image, or a custom color behaves as expected.

## Expected Behaviour

The cover background should match the selected color in the editor.

## Steps to reproduce

1. Activate the WP AMP plugin (at least v2.0.x), with Reader

[2021-04-05 16:20] pierlon commented on #6039
Thanks for reporting the issue @claudiucelfilip. This is a duplicate of #5229. We'll try to get this fixed ASAP. In the meantime, feel free to try [this mini-plugin](https://gist.github.com/westonruter/85135e6d9e0d61865f3a63cc3ab5929e) (made specifically for fixing the issue in Twenty-Twenty) by @westonruter.

[2021-04-05 16:20] #6039 closed, assigned to pierlon

[2021-04-05 17:17] westonruter commented on #6039
@claudiucelfilip For your Cover Block, did you actually select an image? It seems white? Can you add a screenshot of what you see on the non-AMP version as well?

[2021-04-05 17:20] pierlon commented on #6039
@westonruter To enter text on the Cover block you'd have to choose a color from the color swatch (which is not immediately noticeable).

[2021-04-05 17:41] milindmore22 commented on #6039
here are some test: https://plugins.dev6.rt.gw/2021/04/cover-block-test/amp/

[2021-04-06 23:41] westonruter opened #6053 "Add WP-CLI wrapper for amp-toolbox CLI tool"
## Feature description

The amp-toolbox-php CLI tool introduced in https://github.com/ampproject/amp-toolbox-php/issues/82 via https://github.com/ampproject/amp-toolbox-php/pull/92 should be accessible via WP-CLI since the `amp-toolbox/bin` is omitted from the distribution on WordPress.org.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderato

[2021-04-07 03:01] pierlon opened #6054 "Custom header video does not render if a custom header image is not present"
## Bug Description

In Twenty Seventeen, if a custom header image is not set but a custom header video is, the custom header video does not render:

![image](https://user-images.githubusercontent.com/16200219/113803824-d910d600-974c-11eb-8609-35d3b51d7786.png)

This is because the `get_header_image_tag` hook does not fire to call `AMP_Theme_Support::amend_header_image_with_video_header()` to rende

[2021-04-07 04:20] westonruter commented on #6054
I think this is somewhat expected, and users should have always supplied a header image. The reason is that on a mobile viewport the homepage won't show the video, and on non-homepage doesn't show the header video regardless of the device.

So for full feature parity this should be fixed, but in practice I doubt anyone has selected a header video without also selecting a header image.

[2021-04-07 05:56] #6028 closed, assigned to westonruter

[2021-04-07 11:53] claudiucelfilip commented on #6039
@westonruter - this link show's exactly what's happening. It's happening only when you choose from the color swatch.

Thank you for looking into this!
The [mini-plugin](https://gist.github.com/westonruter/85135e6d9e0d61865f3a63cc3ab5929e) looks like a good approach, but we'll need to cover the other themes as well.

[2021-04-07 18:30] pewgeuges opened #6055 "Return value of amp_is_request() with AMP Legacy in Reader template mode"
## Bug Description

The `amp_is_request()` function returns `false` in Reader template mode when the endpoint is `?amp` and the **AMP Legacy** theme is used. As a result, the AMP markup is not added by the plugin calling `is_amp_endpoint()`, and the page doesn’t work.

In Transitional mode, these functions work as designed, and the markup is added when the endpoint is AMP, not when not.

## Expect

[2021-04-07 18:39] westonruter commented on #6055
This doesn't seem to be the case. For example, given this plugin code:

[code]

I get this:

So you can see that `amp_is_request()` is returning `true` in the AMP Legacy Reader template.

Your issue is likely that you were calling `amp_is_request()` too early. If you have `WP_DEBUG` enabled, you'd probably be seeing `_doing_it_wrong()` warnings.

[2021-04-07 19:05] pewgeuges opened #6056 "Deprecate amp_is_request() and rename it to amp_is_on()"
## Feature description

The `amp_is_request()` and `is_amp_endpoint()` function names contradict their design of returning always `true` in Standard template mode: “it returns true […] in standard mode if just the template is available.” So it would be great to give this a more descriptive name that makes always sense.

Pick suggested at this point: `amp_is_on()`.

An AMP endpoint is used as a tri

[2021-04-07 19:22] pewgeuges commented on #6055
@westonruter

Thanks for testing.

It doesn’t give me the warning. The problem is that it must be called before enqueuing the scripts. Else the libraries would be enqueued only for AMP-WP to remove them. But I will test this and call `amp_is_request()` again for the markup part.

[2021-04-07 19:30] westonruter commented on #6056
The `is_amp_endpoint()` function is soft-deprecated in favor of `amp_is_request()`.

This is not correct. You can still only enable AMP for a subset of your site even in Standard mode. You can have it enabled only for the `singular` template for example, or you can turn if off for a singular post.

[2021-04-07 19:41] pewgeuges commented on #6056
Both are indeed currently in use.

I forgot about this. It can be turned off e.g. for the checkout page when it requires JavaScript. Then “request” is a good pick as the request may be internal and does not assume the URL has an AMP endpoint.

[2021-04-07 19:43] pewgeuges commented on #6055
It does not work in Reader mode, even when `amp_is_request()` is called just when processing the footnotes, and the whole page is already built depending on priority levels. Also I’ve tested it with PHP_INT_MAX priority level and still doesn’t work. While it works perfectly in Transitional and Standard modes.

[2021-04-07 20:25] westonruter commented on #6055
What action are you calling it at?

[2021-04-07 20:26] #6056 closed, assigned to nobody

[2021-04-08 00:31] westonruter commented on #6036
Relevant post: [More than you ever wanted to know about font loading on the web](https://www.industrialempathy.com/posts/high-performance-web-font-loading/)

[2021-04-08 01:15] westonruter commented on #6035
I just tried reproducing this in Safari for Mac in responsive design mode and I wasn't able to. I also checked in iOS Simulator and didn't see any issue:

![image](https://user-images.githubusercontent.com/134745/113953606-0bfaae80-97cd-11eb-8bdb-5b15c88803c1.png)

The workaround CSS hasn't been added to the page either as I can see.

[2021-04-08 02:29] pewgeuges commented on #6055
@westonruter

It is used to set the AMP-enabled Boolean that serves as a condition to add the AMP `on` attribute, not add `onclick`, and correct the hard-links-enabled Boolean. It is also used to select the templates. Thanks to the variable, `amp_is_request()` is not called more than thrice, but once is indeed not enough:

Thanks to your advice I’ve added two more calls, one before adding configur

[2021-04-08 02:42] westonruter commented on #6055
@pewgeuges I'm still not understanding. The `amp_is_request()` function is only applicable to be called on the frontend. It will always be false in the admin. And it can only be called at or after the `wp` action since that is when the query is populated.

[2021-04-08 04:10] #5295 closed, assigned to westonruter

[2021-04-08 04:48] westonruter commented on #6039
@claudiucelfilip Please take a look at https://github.com/ampproject/amp-wp/pull/6042 for @pierlon's work-in-progress. The lack of editor color palette standardization in themes is causing a key challenge.

[2021-04-08 10:43] pewgeuges commented on #6055
@westonruter

Making the AMP Legacy Reader theme work with Footnotes failed at my end so far.

That is likely to be true for all 3 calls:

1. It is called by `MCI_Footnotes::register_public()` that enqueues the stylesheet, because of a dedicated stylesheet for AMP tooltips concatenated for production;
1. It is now also called by `MCI_Footnotes_Task::footnotes_output_head()` that outputs the intern

[2021-04-08 11:36] milindmore22 commented on #6055
Hello @pewgeuges

I don't see any issue while testing my code snippet, You can test this on https://plugins.dev6.rt.gw/2021/04/footnotes-test/

[code]

Regarding Legacy theme it uses [amp_post_template_head](https://amp-wp.org/reference/hook/amp_post_template_head/) which equivalent to `wp_head` and you can also use [amp_post_template_css](https://amp-wp.org/reference/hook/amp_post_template_css/)

[2021-04-08 11:36] #6055 closed, assigned to nobody

[2021-04-08 12:39] pewgeuges commented on #6055
@milindmore22

Thank you!

`amp_post_template_head` has fixed the scroll offset.

[2021-04-08 17:21] simranvijwani opened #6058 "Block content does not render if animation is added"
## Bug Description

Content of the Image, Gallery, and Cover block does not render if the animation is added to the block

## Expected Behaviour

Content of the block should be displayed if the animation is added to the block

## Steps to reproduce

1. Add an Image/Gallery/Cover block
2. Add the image/text
3. Add animation from the block toolbar
4. Publish the post/page
5. Check the AMP version of

[2021-04-08 17:39] westonruter opened #6059 "Facebook tracking pixel image is converted to `amp-img` instead of `amp-pixel`"
## Bug Description

On an [AMP-first site](https://butantashopping.com.br/) I ran across the following `amp-img`:

[code]

The Facebook tracking pixel is getting served as an `amp-img` instead of the more-appropriate `amp-pixel`. I believe the underlying PHP code where this is coming from is from the [Facebook for WooCommerce](https://wordpress.org/plugins/facebook-for-woocommerce/) plugin:

[code

[2021-04-08 17:50] westonruter commented on #6058
@simranjeetkaur10 Animation is not a feature of WordPress core Guteberg. What plugin are you using that adds animation? Apparently it is CoBlocks? If so, this is a bug with CoBlocks and not the AMP plugin. Note that the same issue occurs when I turn off JS in the non-AMP version. The content fails to render. This is because of the following CoBlocks CSS rule:

![image](https://user-images.githubus

[2021-04-08 17:50] #6058 closed, assigned to nobody

[2021-04-08 17:52] westonruter commented on #6058
@milindmore22 Could be an opportunity for a PR contribution.

[2021-04-08 18:12] jamesozzie commented on #6035
Various tests performed via Browserstack and also using Chromes dev tools emulator. So far unable to view the same issue on the [users site](https://recordit.co/RWfnQdTfAo) and with image block and YouTube clock captions added on a test site.

@milindmore22 Can you also take a look from your side.

[2021-04-08 18:52] milindmore22 commented on #6035
The issue can be seen on the page below with an image having caption and center alignment.
https://plugins.dev6.rt.gw/2021/04/images-with-caption/

OS: Mac OS Catalina 10.15.7 (19H524)
Safari : Version 14.0.3 (15610.4.3.1.6, 15610)

Step to reproduce :
1) Add image with a caption using GB block editor
2) Change alignment to center
3) Visit Safari
4) Enter AMP Page URL
5) Develop -> Enter responsiv

[2021-04-08 21:13] pierlon opened #6060 "Update the TikTok embed handler to use `amp-tiktok` component"
## Feature description

Now that https://github.com/ampproject/amphtml/pull/32651 has been merged we can begin the process of updating [`AMP_TikTok_Embed_Handler`](https://github.com/ampproject/amp-wp/blob/b94e5e8595cc2326ee094130c04a8575f3e49918/includes/embeds/class-amp-tiktok-embed-handler.php) to use the `amp-tiktok` component instead of `amp-embedly-card`.

---------------

_Do not alter or r

[2021-04-09 02:01] westonruter commented on #6060
Looks like we're still waiting on https://github.com/ampproject/amphtml/issues/32219 to be closed. The validator spec hasn't yet been updated.

[2021-04-09 02:36] westonruter commented on #6035
This seems like a Webkit rendering bug, as the issue goes away once the window is resized:

https://user-images.githubusercontent.com/134745/114120538-87c62b00-98a1-11eb-966b-0c745b21512f.mov

[2021-04-09 19:15] westonruter opened #6061 "Use loading=lazy as a signal for images to skip as candidates in DetermineHeroImages transformer"
## Feature description

Update `DetermineHeroImages` transformer to use `loading=lazy` as a signal for images which should _not_ be prerendered. As can be seen in [wpcore#52139](https://core.trac.wordpress.org/ticket/52139), the featured image omits the `loading` attribute for the featured image because it should _not_ be loaded lazily. This is in contrast with images which are added to the conten

[2021-04-10 15:04] schlessera commented on #6053
During the last meeting we discussed creating a WP-CLI wrapper that just forwards the arguments to a new shell process executing the `toolbox/bin/amp` binary.

However, after some more thinking, I came to the conclusion that this is not a good approach here, for the following reasons:
1. It does not solve the problem stated in the description of this issue, that the binary is being stripped from t

[2021-04-11 16:12] schlessera opened #6064 "Refactor Optimizer integration to make use of the injector"
## Feature description

The current Optimizer integration is hard-coded into the `AMP_Theme_Support` class. This makes it hard to use the exact same setup for the WP-CLI integration.

To improve on this, the Optimizer should be assembled via the injector and stored in the service container.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderato

[2021-04-12 03:21] amyuki commented on #5693
Same here.

[2021-04-12 03:27] westonruter commented on #5693
@amyuki Same then for you. Please share the URL of an AMP page where this can be seen.

[2021-04-12 04:13] amyuki commented on #5693
Hm, it’s odd. When I open the amp url manually it doesn’t trigger any file not found error, but when I look at the NGINX error log file, it shows some error logs like below. It looks like some crawler will trigger this error. I will keep looking this issue.  Thanks.
[code]

[2021-04-12 04:38] westonruter commented on #5693
It's only going to be an issue if you're testing in an old version of IE that supports the EOT font format, namely [Internet Explorer 11 and older](https://caniuse.com/eot).

[2021-04-12 04:40] westonruter commented on #5693
This code in Jetpack is likely where the issue is coming from: https://github.com/Automattic/jetpack/blob/99ea6be4a3d54af93483c4373f6080192c9f05d1/projects/plugins/jetpack/_inc/social-logos/social-logos.css#L13-L16

Notice the `url("social-logos.eot?5d3b4da4f6c2460dd842dbf9e0992ea6")`. It could be the AMP plugin is not converting this relative URL into an absolute one.

[2021-04-12 05:22] westonruter commented on #5693
I found this is a bug with Jetpack. I've opened a PR to fix: https://github.com/Automattic/jetpack/pull/19503.

[2021-04-12 14:40] dehaven2 opened #6066 "AMP for WordPress appends a query string ?amp=1 is breaking popular PDF Embed plugin"
Lever Technology now owns PDF Embed. They say "This conflict needs to be addressed on the AMP side due to how it appends a query string ?amp=1 to the end of the page URLs. When this happens, the scripts are not loaded correctly and the viewer isn't called to display the PDF." What was happening before we isolated this plugin conflict was that instead of displaying the PDF the file name is displaye

[2021-04-12 15:34] westonruter commented on #6066
Please share the URL to the AMP page that has the problem.

[2021-04-12 15:35] westonruter commented on #6066
It sounds like the AMP plugin is removing the PDF viewer scripts make the page valid AMP. This is working as expected. If you can't find an AMP-compatible way to embed PDFs, then you should disable AMP for the pages that have the PDF viewers.

[2021-04-12 18:36] westonruter commented on #6066
There is a [`amp-google-document-embed`](https://amp.dev/documentation/components/amp-google-document-embed/?format=websites) component which can be used to add a PDF viewer to AMP pages.

The plugin in question is [PDF Embedder](https://wordpress.org/plugins/pdf-embedder/). @milindmore22 would you look into whether they'd take a contribution to make it AMP compatible and/or see about a mini plugi

[2021-04-12 21:19] dehaven2 commented on #6066
Sure Weston I will pass this along to the person who sent that evaluation of what is happening and put you two in contact. No problem.

On Mon, Apr 12, 2021, at 1:36 PM, Weston Ruter wrote:

[2021-04-12 22:59] dehaven2 commented on #6066
Emma,

I am putting you in touch with a software engineer who works on the WordPress AMP plugin referenced below. Here is what he wrote to me in his last email:

I would appreciate someone letting me know if this problem is resolved. I cannot Weston's suggestion for disable pages that are using PDF Embed because of the nature of my work. So until this is resolved, I cannot use the AMP plugin.

Lut

[2021-04-12 23:34] alanorozco commented on #6068
@cryptomail2018 Could you please clarify what you mean by "after uninstall"? Is this the Wordpress plugin?

[2021-04-12 23:44] dehaven2 commented on #6066
I checked and *Emma* ***@***.***>, is in the To box. I am sure she will contact you about the plugin conflict. I believe you asked me to do this.

On Mon, Apr 12, 2021, at 6:24 PM, Weston Ruter wrote:

[2021-04-13 00:41] westonruter commented on #6066
@dehaven2 ok, well I don't know, but your email is publicly visible at  https://github.com/ampproject/amp-wp/issues/6066#issuecomment-818296791

[2021-04-13 02:19] westonruter commented on #6068
Please share the URL of the page you are checking.

[2021-04-13 02:20] dehaven2 commented on #6066
Thanks Weston. I misunderstood you.

[2021-04-13 02:40] cryptomail2018 commented on #6068
Yes indeed This is the plugin

Sent from Yahoo Mail on Android

  On Tue, 13 Apr 2021 at 9:20, Weston ***@***.***> wrote:

Please share the URL of the page you are checking.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-13 03:00] westonruter commented on #6068
@cryptomail2018 share the URL to the page on your site from which you are reporting this issue.

It may just be a matter of clearing the site cache in a caching plugin.

[2021-04-13 10:37] milindmore22 commented on #6066
Yes, I was unable to find their repo, I will contact them and check if they accept a contribution, Also, start working on a mini plugin that will support AMP compatibility for now.

[2021-04-13 12:50] milindmore22 commented on #6066
Hello @dehaven2

Please download and install [AMP support/compatibility for WordPress PDF Embedder](https://github.com/milindmore22/amp-pdf-embedder-compat), you just need to activate it, no settings needed.

You can check the demo of the same plugin [here] (https://plugins.dev6.rt.gw/2021/04/pdf-embedder-test/?amp )

Let me know if you need further assistance.

[2021-04-13 15:52] westonruter commented on #5999
I just tried pasting the above snippets into the AMP playground and the only script which was automatically added was:

[code]

And the document remains valid even though it lacks the `amp-access-scroll` extension.

[2021-04-13 16:51] schlessera commented on #5999
Opened an issue here: https://github.com/ampproject/amphtml/issues/33801

[2021-04-13 18:27] #6066 closed, assigned to nobody

[2021-04-13 18:58] jwold commented on #5678
**New theme selection in reader mode onboarding**

We would like to limit the Reader theme selection screen (in the onboarding and AMP settings page) to 3 Core themes + the legacy theme.

Ordered: Twenty Twenty One, Twenty Twenty, Twenty Nineteen, AMP Legacy.

Then after those 4 we'll show installed themes.

**Add documentation knowledge path**

Within the theme selection screen of onboarding (and

[2021-04-13 22:09] #5997 closed, assigned to jwold

[2021-04-13 22:22] westonruter commented on #5678
Slight tweak to the order. I think it should be: 2021, 2020, 2019, followed by any installed core themes (or other AMP-compatible ecosystem themes) and then lastly put AMP Legacy, since it is the one we want to discourage use of the most.

The one caveat here is that Reader themes may not be available at all for the conditions outlined in https://github.com/ampproject/amp-wp/issues/4795#issuecomme

[2021-04-14 13:40] cryptomail2018 commented on #6068
ye si uninstall the wordpress and it leaves some stuff behind which create problems on the rest of my website
with kind regards

marc

    On Tuesday, 13 April 2021, 06:34:22 am GMT+7, Alan Orozco ***@***.***> wrote:

@cryptomail2018 Could you please clarify what you mean by "after uninstall"? Is this the Wordpress plugin?

—
You are receiving this because you were mentioned.
Reply to this email d

[2021-04-14 14:41] westonruter commented on #6068
As I said above, the issue is likely a caching plugin. If you share the URL to an AMP page on your site we may be able to confirm.

[2021-04-14 15:59] #6064 closed, assigned to nobody

[2021-04-14 16:47] kristoferbaxter commented on #6068
Moving this item to `amp-wp`. Thanks @westonruter!

[2021-04-14 17:57] #6053 closed, assigned to westonruter

[2021-04-14 20:45] westonruter opened #6071 "Advise users to review site after enabling AMP to ensure working as expected"
## Feature description

We received an [honest review](https://wordpress.org/support/topic/good-but-check-your-website-thoroughly/) of the plugin which I think highlights something we are not currently capturing. Namely, once the user has activated the site we need there to be a call to action for the user to browse around their site to make sure it is working as intended. We need to emphasize tha

[2021-04-15 01:20] westonruter opened #6072 "Add include WP-CLI command documentation in generated docs"
## Feature description

As noted in https://github.com/ampproject/amp-wp/pull/6063#pullrequestreview-635904626, we should include CLI command docs generation in `wp amp docs generate` and show them on the website alongside the classes, methods, functions, and hooks.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance

[2021-04-15 04:58] #6061 closed, assigned to westonruter

[2021-04-15 06:55] westonruter commented on #6036
As noted in https://github.com/ampproject/amp-wp/issues/5678#issuecomment-818979953, let's only worry about maximizing the performance of the three most recent core themes. These are the ones bundled with core now, and they are the three that we'll always show as Reader themes (even if not installed).

[2021-04-15 12:27] jamesozzie commented on #6071
@westonruter I think this could also be an opportunity to emphasize that the plugin assists users to achieve AMP valid content and that CSS and JavaScript limitations are aspects of the AMP framework, and not plugin limitations. We've received another review based n possible misunderstanding of how the plugin works.

One possible approach is to add a notice below the proposed call to action button

[2021-04-15 16:55] westonruter commented on #6072
TESTING

[2021-04-15 18:56] fthead9 opened #6073 "WordPress AMP Core Web Vitals Issues"
## Bug Description

Running PageSpeed Insights reports on our AMP themes that incorporate the official AMP plugin continues to generate low Core Web Vitals scores. Loading the AMP javascript library gets flagged as a blocker and PSI continues to recommend using AMP Optimizer despite it being incorporated in the plugin. This is causing potential customers to question the value of our native AMP the

[2021-04-15 19:21] westonruter commented on #6073
Please re-check with the [2.1-beta2 prerelease](https://github.com/ampproject/amp-wp/releases/tag/2.1.0-beta2). It includes many optimizations, including prerendering of hero images which will reduce LCP. This release is due out this month.

Otherwise, you should review the action items in the [Page Experience Guide](https://amp.dev/page-experience/) to make sure you're following the appropriate r

[2021-04-15 21:00] fthead9 commented on #6073
@westonruter Great to see 2.1 update. We'll test it ASAP and update this thread with results.

[2021-04-16 00:01] westonruter commented on #6071
We do have a [Welcome](https://github.com/ampproject/amp-wp/blob/develop/assets/src/settings-page/welcome.js) component which knows whether or not the plugin has been configured. This could include a paragraph that explains what to expect.

Also, the initial screen of the Onboarding Wizard should have similar messaging (#4943). The final screen of the Onboarding Wizard (#4954) should have a call t

[2021-04-16 17:27] westonruter opened #6075 "Notice with featured image is too vague in explaining why it should be set"
When no featured image is set, we add a notice to recommend it be so:

As pointed out in https://github.com/WordPress/gutenberg/issues/30904#issuecomment-821099428, the text is too vague. We need to explain that this image is used when the the post appears in Search or is shared on social media. We could also include a link for more information.

---------------

_Do not alter or remove anything b

[2021-04-17 16:42] raja-anbazhagan opened #6076 "amp-wp.org links is not helpful for end uses and is bad for SEO"
## Bug Description

Check this screen shot.

![AMP error help](https://user-images.githubusercontent.com/8947215/115119658-2439ad00-9fc7-11eb-8878-90d57a18726b.png)

This error message contains a link to https://amp-wp.org/?p=5463 Which I believe no end user would need or want to see.

Also It is also not good for a healthy SEO.

## Expected Behaviour

No links that are irrelevant to the site shou

[2021-04-17 18:10] westonruter commented on #6076
I don't know if it would negatively impact your SEO, but we should add `rel="nofollow noreferrer noopener"` to the link.

[2021-04-17 18:12] westonruter commented on #6076
Aside: The error message shown in your screenshot should also be much improved once we get to implement https://github.com/ampproject/amp-wp/issues/4191.

[2021-04-17 19:55] eavonius commented on #1014
Just wanted to say this is excellent work and I'm looking forward to accessing AMP content from rest too.

Rebuilt my theme that was php/amp to nuxtjs/amp and it's one of the remaining things missing.

[2021-04-19 09:58] jamesozzie opened #6077 "Cannot read property '0' of null"
## Bug Description

One user opened a support topic with the below dashboard error. This is the second occurrence:

[code]

Impacted support topics:

- https://wordpress.org/support/topic/error-1517/#post-14335700 | SK 1.30.0 | open - troubleshooting ongoing
- https://wordpress.org/support/topic/cannot-read-property-0-of-null-after-upgrade-to/ | SK 1.24.0 | Closed - no response from user

## Expec

[2021-04-19 10:00] jamesozzie commented on #6077
Closing - wrong repo

[2021-04-19 10:00] #6077 closed, assigned to nobody

[2021-04-21 04:11] #5995 closed, assigned to jwold

[2021-04-21 06:00] westonruter commented on #6076
As noted https://github.com/ampproject/amp-wp/issues/6076#issuecomment-821864402, the message will be improved with #4191. But additionally, this message will be shown less frequently entirely due to better handling of redirects. Otherwise, the message is currently there to encourage developers to better handle form submissions in their plugin code.

The SEO concern will be addressed by #6082.

Fo

[2021-04-21 16:56] #6076 closed, assigned to westonruter

[2021-04-21 21:28] westonruter opened #6083 "Add support for embedding PDFs"
## Feature description

Gutenberg 10.5 adds support for embedding PDFs in the File block: https://github.com/WordPress/gutenberg/pull/30857.

It does so by adding an [`object`](https://github.com/WordPress/gutenberg/blob/d504910ad11339dff0d3186db32bc39f3c665501/packages/block-library/src/file/save.js#L32-L41) element to the page:

[code]

We need to add an `AMP_Object_Sanitizer` which automaticall

[2021-04-22 05:10] #5789 closed, assigned to westonruter

[2021-04-22 05:33] westonruter commented on #6083
Another implementation option, aside from a new sanitizer, would be to extend `AMP_Core_Block_Handler`. It could add a new entry to `\AMP_Core_Block_Handler::$block_ampify_methods` to override the output, and then also to eliminate the `render_callback` on that block to prevent the script from being enqueued.

On the other hand, adding a sanitizer would allow for any `object[type=application/pdf]`

[2021-04-22 06:47] westonruter commented on #6039
The issue turns out to not be limited to the `editor-color-palette`. It's also an issue for `editor-font-sizes` and `editor-gradient-presets`. I believe I've accounted for all these cases now in this PR: https://github.com/ampproject/amp-wp/pull/6042.

[2021-04-22 09:36] jamesozzie opened #6084 "Include wp_body_open() in the legacy reader theme."
## Feature description

Based on [one users experience](https://wordpress.org/support/topic/how-i-can-confirm-google-adsense-is-activated-on-amp-pages/) in the Site Kit support forums it looks like AdSense code is not placed on users sites when using the legacy reader theme. This is as a result of no [wp_body_open()](https://developer.wordpress.org/reference/functions/wp_body_open/) tag contained

[2021-04-22 09:37] jamesozzie commented on #6084
@milindmore22 Do you want to take a look at this one?

[2021-04-22 10:05] milindmore22 commented on #6084
Hello @jamesozzie
The `amp_post_template_body_open` is equivalent to `wp_body_open`, A similar [issue](https://github.com/google/site-kit-wp/issues/1495) was reported on the site kit and was fixed, if themes don't use `wp_body_open` it should inject adsense code, or use `amp_post_template_body_open` to trigger similar action.

[2021-04-22 10:10] jamesozzie commented on #6084
Thanks @milindmore22. I'll discuss this with the Site Kit team and if needed open a GitHub issue on the Site Kit repository.

[2021-04-22 14:32] jwold commented on #4570
**Notes from 2021-04-13 Meeting:**

* AS > Low hanging fruit, rewrite plugin. We already did a lot of changes since this ticket was created; we already have service based architecture where we’re moving things into services. That’s great.
* AS > While we’re doing that we’re keeping backwards compatibility mostly in tact, then at major version bumps we can get rid of more technical debt; thinking a

[2021-04-22 14:38] jwold commented on #5678
**Action items from our 2021-04-13 Call:**

* Limit default to show 3 core themes on Vanilla WordPress. Then show the ones that are actually installed. Order by date: 2021, 2020, 2019.
* Link to documentation on amp-wp.org for adding Reader themes; entry point for knowledge path.
* Link to themes ecosystem page as well. May hardcode those into the plugin (not flagged auto yet).
* Default to 2021 a

[2021-04-22 14:58] schlessera opened #6089 "Mark optimizer CLI commands as experimental"
The current optimizer CLI commands do not always produce the expected result, as WordPress is loaded in a generic fashion before the commands are even registered, due to them being part of a plugin and only being registered when the plugin is loaded. This cannot easily be changed without major hacks (see https://github.com/ampproject/amp-wp/pull/6080).

For now, we decided to keep the commands in

[2021-04-22 15:01] schlessera commented on #6089
The release notes from https://github.com/ampproject/amp-wp/releases/tag/2.1.0-beta2 should also be adapted once they are assembled into the release notes for the actual v2.1 release.

[2021-04-22 16:17] westonruter commented on #5229
@edequalsawesome There is a plugin build available for testing which should definitively fix this issue for any theme when using Reader mode: https://github.com/ampproject/amp-wp/pull/6042#issuecomment-824422138.

[2021-04-22 16:19] westonruter commented on #6084
Yes, the `amp_post_template_body_open` action was added in #1143 as a legacy AMP template equivalent to `wp_body_open`. So Site Kit should be using that action in legacy AMP Reader mode.

[2021-04-22 16:19] #6084 closed, assigned to nobody

[2021-04-22 19:14] westonruter commented on #6089
I've updated them to include _(Experimental)_.

[2021-04-23 17:00] #5229 closed, assigned to nobody

[2021-04-23 17:59] milindmore22 opened #6100 "WP 4.9 Pollyfill JS Compatablity."
## Bug Description

AMP Settings screen is inaccessible with WP 4.9.x versions. due to polyfill js dependencies as old version required to attach it to global windows object.

This also brings the question of if we should [drop support for older WP versions 4.9?](https://github.com/ampproject/amp-wp/issues/2431) it's been more than 2 years since Gutenberg is released.

The console error

[code]

#

[2021-04-23 18:26] pierlon commented on #6083
I've ran into a small issue with this. The `amp-google-document-embed` component is using the Google Docs Viewer to display the PDF. The problem is that this won't work if the PDF URL is not publicly accessible.

[2021-04-23 18:28] westonruter commented on #6083
I think that is fine, if the problem is just that it's not working for you because the file is only on your local machine.

[2021-04-23 19:14] jwold commented on #5791
Not sure how to test this one. I can confirm that the final output is `readme.txt` as intended, but can't see how to differentiate whether its the result of transforming from markdown to text.

[2021-04-23 19:28] jwold commented on #5093
Stuck on Step 3 of testing. Can't set the active theme to the same one as the Reader theme: https://v.usetapes.com/F7daxvvSgo

[2021-04-23 19:34] westonruter commented on #5093
Yeah, I think the only way is to switch the active theme using WP-CLI since the UI prevents the user from doing so. I'll verify this one.

[2021-04-23 19:40] jwold commented on #5229
Based on my reading of the ticket, and the screenshots below, this passes QA.

<img width="1510" alt="Screen Shot 2021-04-23 at 12 39 32 PM" src="https://user-images.githubusercontent.com/3411173/115921896-ff16c580-a430-11eb-811f-c24d624dd71d.png">

[2021-04-23 19:45] westonruter commented on #5791
@jwold You can look at the `amp.zip` to find the `readme.txt`

[2021-04-23 19:46] westonruter commented on #5791
Upon extracting the ZIP I can see it:

![image](https://user-images.githubusercontent.com/134745/115922608-fa064600-a431-11eb-94a3-924e7114bdce.png)

[2021-04-23 19:51] jwold commented on #5791
Agreed. I saw that, but wasn't sure if that was proof of the transformation. If so, all good. Will pass :)!

[2021-04-23 20:06] jwold commented on #5997
Tested all the states mentioned above. Looks great!

[2021-04-23 20:33] jwold commented on #5480
Started QA on this, but not sure what to test for. This looks like some UI bug:

https://v.usetapes.com/Zua3OCs3j0

And here are my Local env settings: https://d.pr/i/ocZ69Z

[2021-04-23 20:39] jwold commented on #5353
Confirmed in QA! Tested online and offline states.

[2021-04-24 03:53] westonruter commented on #5480
See also this support forum topic which reports there may be PHP 8 compatibility issues: https://wordpress.org/support/topic/amp-not-compatible-with-php-8/

But this is not entirely surprising given that WP core is considered “beta compatible” with PHP 8 per https://make.wordpress.org/core/2020/11/23/wordpress-and-php-8-0/

[2021-04-24 04:04] westonruter commented on #5678
This is also somewhat related to #2313. With highlighting these core themes as Reader themes, we could eventually list other key themes from the [ecosystem page](https://amp-wp.org/ecosystem/themes/) that work great as Reader themes,

[2021-04-24 04:04] westonruter commented on #2313
Another integration point to highlight AMP-compatible themes is the Reader theme picker: #5678.

[2021-04-24 06:08] #4767 closed, assigned to nobody

[2021-04-24 06:44] westonruter commented on #4767
Wiki page has been updated with section about the QA Tester plugin: https://github.com/ampproject/amp-wp/wiki/Development-Builds

[2021-04-24 06:47] pierlon commented on #5480
Hmm I'm not seeing anything like that on PHP 8:

https://user-images.githubusercontent.com/16200219/115950029-5451e600-a4c8-11eb-92ea-1d06730ebdcc.mp4

I'm running the latest AMP plugin beta (b85f07e8ab219ebf8112b99a8ac9c4b43ea44293) and on the latest nightly WP version (https://github.com/WordPress/wordpress-develop/commit/e4bda140d4437f5bd5690e18bc12a0eb70bb92c9), if that helps.

[2021-04-24 07:24] pierlon opened #6114 "PDF embed on a non-AMP page is not rendered when viewed within Paired Browsing in Google Chrome"
## Bug Description

Inserting a PDF embed via the File block into a post and viewing it on the non-AMP page works just fine. When viewed in the Paired Browsing view however the PDF embed is not rendered, and the following error can be seen in the browser console:

This only occurs in Google Chrome, however. After doing a fair amount of research I came across [this Chromium bug](https://bugs.chromi

[2021-04-24 07:38] pierlon opened #6115 "Make skip link for Full Site Editing themes AMP compatible"
## Bug Description

Gutenberg 10.5 adds a skip link that points to the `main` element when a FSE theme is active. This is accomplished with a bit of CSS and JS (see https://github.com/WordPress/gutenberg/pull/30336) but that solution isn't AMP compatible. This now causes a validation error to be raised for the invalid script:

![image](https://user-images.githubusercontent.com/16200219/115951326-b

[2021-04-24 09:22] schlessera commented on #5480
Just a thought: Given the nature of PHP 8 breakage, our best bet for full compatibility would probably be mutation testing against anything that interfaces with Core or other extensions.

[2021-04-25 03:59] westonruter commented on #5093
I set my primary theme to be Twenty Twenty-One and my Reader theme to be Twenty Twenty. Then via WP-CLI I did: `wp theme activate twentytwenty`. Upon doing so, my generator meta tag went from:

[code]

to:

[code]

This is similarly reflected on the settings screen:

![image](https://user-images.githubusercontent.com/134745/115980241-f3fe8b00-a53f-11eb-9ec7-d919fa8af519.png)

QA passed

[2021-04-25 04:07] westonruter commented on #5209
**QA passed**

I activated Contact Form 7, added a form to a post, and published. AMP validation errors were reported. When going to the validated uRL screen, I was able to copy one error to the clipboard:

![image](https://user-images.githubusercontent.com/134745/115980337-e4cc0d00-a540-11eb-91f1-97e6bf6fbb93.png)

[code]

And I was able to select all and copy all to the clipboard:

![image](http

[2021-04-25 04:08] westonruter commented on #5825
**QA passed**

Sources included in JSON as seen in https://github.com/ampproject/amp-wp/issues/5209#issuecomment-826249912.

[2021-04-25 04:29] westonruter commented on #5304
**QA Passed**

The scope of this issue evolved. The warning notice has been eliminated in favor of showing the error in the sidebar:

![image](https://user-images.githubusercontent.com/134745/115980748-de8b6000-a543-11eb-8b5b-a39258b6b57e.png)

And in the Post sidebar:

![image](https://user-images.githubusercontent.com/134745/115980756-f531b700-a543-11eb-994c-618a924d03bc.png)

And similarly in t

[2021-04-25 04:35] westonruter commented on #3821
**QA Passed**

When Developer Tools are turned on, validation errors are shown in the new AMP Validation sidebar:

Errors Collapsed | Errors Expanded
-----------------|------------------
![image](https://user-images.githubusercontent.com/134745/115980832-93258180-a544-11eb-86ff-6c635b83bab4.png) | ![image](https://user-images.githubusercontent.com/134745/115980844-a0db0700-a544-11eb-92ac-2381073b3

[2021-04-25 04:45] westonruter commented on #5801
**QA Passed**

When switching to Twenty Nineteen and I add a block with a drop cap:

[code]

On an AMP page I can see in the source:

[code]

And the page is valid AMP.

[2021-04-25 04:53] westonruter commented on #6028
**QA Passed**

Non-AMP | AMP w/ JS | AMP w/o JS
-----------|-------------------|----------------------
![image](https://user-images.githubusercontent.com/134745/115981207-1051f600-a547-11eb-9701-9f6a1349e077.png) | ![image](https://user-images.githubusercontent.com/134745/115981215-1f38a880-a547-11eb-83b9-bbcedb27062f.png) | ![image](https://user-images.githubusercontent.com/134745/115981244-43948

[2021-04-25 05:20] westonruter commented on #6076
**QA Passed**

I added a Custom HTML block as follows:

[code]

On an AMP page, submitting the form results in:

![image](https://user-images.githubusercontent.com/134745/115981780-2feb1d80-a54b-11eb-8e33-77a1fcce5abf.png)

The link has `nofollow`, `noreferrer`, `noopener`:

![image](https://user-images.githubusercontent.com/134745/115981786-485b3800-a54b-11eb-821f-533769e4fa4f.png)

[2021-04-25 05:26] westonruter commented on #5295
**QA Passed**

I went to `/2021/` year archive and validated it while in Transitional mode.

Then I switched from Transitional mode to Reader mode with the legacy theme. I then tried re-validating, and I got the expected error message:

![image](https://user-images.githubusercontent.com/134745/115981886-01217700-a54c-11eb-9221-fe107c275dc6.png)

[2021-04-25 05:53] westonruter commented on #4554
**QA Passed**

I created a post with the following content when on 2.0.11:

[code]

When upgrading to 2.1, I saw as expected that the layout a deprecation notice:

![image](https://user-images.githubusercontent.com/134745/115982452-08e31a80-a550-11eb-87ed-8485912abd26.png)

And when I added a new image the layout setting is absent as expected:

![image](https://user-images.githubusercontent.com/13

[2021-04-25 05:54] westonruter commented on #4555
**QA Passed**

I created a post with the following content when on 2.0.11:

[code]

When upgrading to 2.1, I saw as expected that the noloading a deprecation notice:

![image](https://user-images.githubusercontent.com/134745/115982435-d802e580-a54f-11eb-880f-73a2fcac46ab.png)

And when I added a new image the noloading setting is absent as expected:

![image](https://user-images.githubusercontent.

[2021-04-25 05:57] westonruter commented on #4557
**QA Passed**

I added a paragraph block and populate the AMP fit-text setting:

[code]

Upon upgrading to 2.1, I see a notice in the console:

![image](https://user-images.githubusercontent.com/134745/115982484-624b4980-a550-11eb-83b1-21a386ffeb35.png)

And the content is:

[code]

So this shows that fit-text is successfully removed.

[2021-04-25 06:00] westonruter commented on #4556
**QA Passed**

When in Standard mode, I added an AMP MathML block to a post, among the other AMP-specific blocks that were provided. After upgrading to 2.1, editing that post shows only the AMP-specific block that I had already added to the post:

![image](https://user-images.githubusercontent.com/134745/115982517-ad655c80-a550-11eb-89c6-0d0415337314.png)

And if I start a new post, no such blocks

[2021-04-25 06:50] schlessera commented on #6089
It looks like the CLI commands are currently not being mentioned in the `README.md` file, so I assume that it's enough to add a mention to the release notes only, @westonruter ?

[2021-04-25 06:54] westonruter commented on #6089
Yes, that's correct. The only place where they are mentioned is manually in docs on amp-wp.org: https://amp-wp.org/documentation/getting-started/wp-cli-commands/

But they aren't yet listed there naturally, at least until #6072.

[2021-04-25 06:58] schlessera commented on #6089
I think we can deal with the actual documentation in v2.2 once we've actually fixed the commands' behavior. Right now, it'd be difficult to document their actual usage, because they don't do what they are supposed to do.

[2021-04-25 21:37] westonruter commented on #2062
**QA Passed**

I set the Template Mode to Transitional and the Paired URL Structure to “Query parameter”.

I then tried going to `/sample-page/amp/` and I was redirected to `/sample-page/?amp=1`.

Also, I tried going to `/this-page-does-not-exist/amp/` and I was redirected to `/this-page-does-not-exist/?amp=1`.

I then tried creating a post with a slug `foo` and after publishing I changed the slug

[2021-04-25 21:38] westonruter commented on #3357
**QA Passed**

As noted in https://github.com/ampproject/amp-wp/issues/2062#issuecomment-826393969, I tried creating a post with a slug `foo` and after publishing I changed the slug to `bar`. Then when attempting to go to `/2021/04/25/foo/amp/` I was redirected to `/2021/04/25/foo/?amp=1` and then I was redirected to `/2021/04/25/bar/?amp=1`.

So this is working as expected.

[2021-04-25 21:56] westonruter commented on #3673
**QA Passed**

The warning notice has been replaced with one that shows up in the AMP Validation sidebar. When there is any invalid markup being kept, the notice exclusively mentions that since it blocks AMP from being served:

When there is no invalid markup being kept, but some removed markup that is removed, then it shows:

[2021-04-26 01:06] westonruter commented on #2204
**QA Passed**

To test, I started out with 2.0.11, deactivated, and deleted the `amp-options` option.

## Legacy Reader

I configured the plugin to be in Reader mode with the AMP Legacy theme active. In this mode before 2.1, an AMP page for a page is always accessed via `?amp` whereas a post is accessed via `/amp/`. Upon upgrading to 2.1, the AMP URLs remained unchanged. As expected, the “Legacy r

[2021-04-26 06:41] pierlon commented on #5636
Moving this to the "QA Passed" column since there's nothing here to QA.

[2021-04-26 13:49] delawski commented on #6100
I've done some research today and found out that the Settings page stopped working on WordPress 4.9 after releasing [AMP 2.0.5](https://github.com/ampproject/amp-wp/releases/tag/2.0.5).

I'm almost certain it has something to do with #5461. Most likely I won't have time to look into this today, but it's on my to-do list for tomorrow.

[2021-04-26 14:48] jwold commented on #4757
**QA Passed**

**Steps I took:**
1. Install AMP on fresh WordPress site using Standard mode
2. Grabbed Tumblr URL and embedded as block
3. Confirmed that AMP checkmark is green, and no errors present on site
4. Scrolled down to see entire Tumblr post listed in the block on the WordPress page

<img width="988" alt="Screen Shot 2021-04-26 at 7 46 30 AM" src="https://user-images.githubusercontent.com

[2021-04-26 14:57] jwold commented on #5975
**QA Passed.**

Steps I took:
1. Set website to AMP Standard
2. Switched Mac to dark mode
2. Went to Customizer and enabled dark mode
3. Chose a dark brown
4. Saw that the text switched
5. Visited page with AMP checkmark in WordPress toolbar

<img width="962" alt="Screen Shot 2021-04-26 at 7 55 58 AM" src="https://user-images.githubusercontent.com/3411173/116103927-e4c52d80-a664-11eb-93fe-95a186dd

[2021-04-26 19:24] westonruter commented on #6100
@delawski This change may be the cause: https://github.com/ampproject/amp-wp/commit/05d751ace6dc2fd89fc514f69f27d19d42c1652b (via #5461).

[2021-04-27 00:04] pierlon opened #6120 "Validation count assets not enqueued when on any Dev Tools screen and Reader mode is enabled"
## Bug Description

If a user hasn't explicitly enabled AMP Developer Tools in their profile and the site is in Reader template mode, when they go to any of the Dev Tools screens none of the validation count assets are enqueued, preventing the validation counts from being retrieved and updated in the AMP menu:

![image](https://user-images.githubusercontent.com/16200219/116165707-f7367a00-a6eb-11e

[2021-04-27 01:53] #6083 closed, assigned to westonruter

[2021-04-27 04:38] #6120 closed, assigned to westonruter

[2021-04-27 04:38] westonruter commented on #6120
**QA Passed** per https://github.com/ampproject/amp-wp/pull/6122#issuecomment-827305935

[2021-04-27 04:53] westonruter commented on #5861
**QA Passed**

When my test site is set to show posts on the front page and I have the path suffix `/amp/` set as the paired URL structure, in Transitional mode (with AMP-to-AMP linking enabled), when on the first page of results the second page link points to `/page/2/amp/`. When on that page, the first link points to `/amp/` and the third link points to `/page/3/amp/`. So this is all as expected

[2021-04-27 08:42] delawski commented on #6100
@westonruter As @pierlon found out and fixed in #6119, the issue was caused by the fact that the `wp-i18n` package now depends on `wp-hooks` (see WordPress/gutenberg#27966). The PR is now ready for your review/QA and merge.

[2021-04-27 09:17] schlessera commented on #5307
**QA passed**

Testing a default run on a site populated with the theme unit test data (255 URLs), a run filtered by templates and a run that was `--force`d.

The runs all completed successfully.

[2021-04-27 09:33] schlessera commented on #4402
**QA passed**

Tested 5 scenarios:
- Change in PHP file
- Change in JS file
- Change in CSS file
- Change in `package.json`
- Change in `amp.php` (added PHP 5.3+ syntax)

All scenarios were properly skipped when not staged and showed an error when staged. All lint passes were fast except for the very first PHPStan analysis, which is to be expected.

[2021-04-27 09:38] schlessera commented on #5480
**QA passed**

- Workflow for PHP 8 tests is being executed.
- Workflow for PHP 8 tests does actually use PHP 8:
![Merge pull request #6121 from ampproject_fix_amp_enable_ssr-filter-priority  2021-04-27 at 10 37 18 AM](https://user-images.githubusercontent.com/83631/116220552-b0c13980-a744-11eb-9108-9c704428ca2a.jpeg)
- Workflow for PHP 8 tests does actually run all the tests and they pass:
![Merg

[2021-04-27 09:49] schlessera commented on #5523
**QA passed**

The tests are correctly bootstrapped. However, most of this has been superseded by changes in https://github.com/ampproject/amp-wp/pull/5528

[2021-04-27 10:48] delawski commented on #5824
QA passed _(tentatively - see the comment below)_.

---

I've tested a few scenarios on Twenty Seventeen. I each case, I've ran the following code in the dev tools console so that any `img` that has the `data-hero` attribute gets a thick red border:

[code]

In each test case, 2 images at most that are within a viewport were assigned the `data-hero` attribute.

**Questions:**

- If there is no cus

[2021-04-27 11:07] delawski commented on #5894
**QA passed.**

---

I've verified that for core themes `twentyten` through `twentytwentyone` running the following in the dev tools:

[code]

returns only:

[code]

which is as expected.

[2021-04-27 15:37] #6100 closed, assigned to westonruter

[2021-04-27 15:51] schlessera opened #6123 "Add feature tests for validation CLI commands"
## Feature description

The `amp validation *` CLI commands are currently only partially tested. Once https://github.com/ampproject/amp-wp/pull/6070 was merged, we can produce full CLI command testing for these via Behat scenarios.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brie

[2021-04-27 17:23] #3076 closed

[2021-04-27 17:32] westonruter commented on #2069
**QA Passed**

On 2.0.11, the `POST` request to the REST API to save a post takes 3.58 seconds.

On 2.1, the same `POST` request takes only 459 ms. This shows that indeed validation is not being performed during the save request. This is also seen below: the `POST` request to save the post is followed immediately a `POST` request to validate the URL, with the first request taking <500ms and the se

[2021-04-27 17:43] westonruter commented on #5923
**QA Passed**

In Twenty Twenty, I added a Cover block and added an image. The image gets prerendered with SSR:

![image](https://user-images.githubusercontent.com/134745/116287516-5e344d00-a745-11eb-96dc-3632c8de168e.png)

[2021-04-27 17:51] westonruter commented on #6053
**QA Passed**

I obtained the minimal AMP document from validator.amp.dev and I piped it into into the Optimizer CLI via `pbpaste | wp amp optimizer optimize -`. It produced a [valid optimized AMP page](https://playground.amp.dev/#share=PCEtLQogICAgIFRoaXMgaXMgdGhlIG1pbmltdW0gdmFsaWQgQU1QIEhUTUwgZG9jdW1lbnQuIFR5cGUgYXdheQogICAgIGhlcmUgYW5kIHRoZSBBTVAgVmFsaWRhdG9yIHdpbGwgcmUtY2hlY2sgeW91ciBkb2N1bWV

[2021-04-27 17:57] westonruter commented on #6061
**QA Passed**

I tried adding an image with `loading=lazy` to the header via:

[code]

The resulting `amp-img` did _not_ have `data-hero`. However, when `loading=lazy` was omitted, then the image _did_ get `data-hero`.

[2021-04-27 18:09] westonruter commented on #5789
**QA Passed**

To test this, I added a plugin that did this:

[code]

When doing so, the settings screen shows:

![image](https://user-images.githubusercontent.com/134745/116290904-d6504200-a748-11eb-9c87-24ec189e46a0.png)

And the Onboarding Wizard:

![image](https://user-images.githubusercontent.com/134745/116290959-e5cf8b00-a748-11eb-9c80-b4b494fa0313.png)

So the non-legacy Reader themes are i

[2021-04-27 18:25] pierlon opened #6124 "Incorrect title for admin bar menu item when dev tools is disabled and on an AMP page"
## Bug Description

When Developer Tools is disabled and one goes on an AMP page, the title for the AMP menu item is "Validate URL":

![image](https://user-images.githubusercontent.com/16200219/116292984-de7aa280-a785-11eb-9f8c-96705134304e.png)

## Expected Behaviour

Title for the menu item should be "View non-AMP version".

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down

[2021-04-27 20:36] westonruter commented on #6089
I'm moving this issue to the 2.2 milestone because while we've marked the commands as experimental in #6116, we won't be addressing the other two checklist items for 2.1.

[2021-04-27 22:27] westonruter commented on #6100
**QA Passed**

On 4.9, accessing the setting screen results in:

![image](https://user-images.githubusercontent.com/134745/116320009-4d4b0200-a76c-11eb-8289-269839b8c295.png)

Upon upgrading to 2.1 on `develop`, no such error:

![image](https://user-images.githubusercontent.com/134745/116320409-0c9fb880-a76d-11eb-8cba-8c0fe52bf048.png)

[2021-04-27 22:34] westonruter commented on #6011
**QA Passed**

I added a mu-plugin that does:

[code]

I can see this comment at the end of AMP and non-AMP pages. When I try validating an AMP page, no error occurs. So the comment is being successfully stripped out.

[2021-04-27 23:08] #6124 closed, assigned to pierlon

[2021-04-27 23:09] pierlon commented on #6124
See https://github.com/ampproject/amp-wp/pull/6126#issuecomment-828004396 for QA check.

[2021-04-27 23:23] pierlon commented on #5772
**QA Passed**

- The "At a Glance" widget is no longer shown:

![image](https://user-images.githubusercontent.com/16200219/116323846-6379b200-a7ae-11eb-9a95-904a6e641f3a.png)

- Validation counts are only asynchronously retrieved when the AMP menu is hovered over:

https://user-images.githubusercontent.com/16200219/116324023-d420ce80-a7ae-11eb-95c9-0505360861a0.mp4

- Validation counts are asynchr

[2021-04-28 00:25] pierlon commented on #5420
I'm not able to come up with a test case to QA this. Any insight @westonruter or @schlessera?

[2021-04-28 00:42] pierlon commented on #5055
**QA Passed**

Images within the initial viewport are being optimized and receive the `data-hero` attribute:

![image](https://user-images.githubusercontent.com/16200219/116329282-88742200-a7ba-11eb-8e55-d0ea1af75515.png)

[2021-04-28 01:28] schlessera commented on #5420
I would adapt a test so that it changes an attribute value of an element only. The previous behavior did not catch these, as all attributes were just stripped. The new behavior should notice this discrepancy.

[2021-04-28 14:00] jwold commented on #5995
**QA Passed.**

Screenshot of validation screen errors:
<img width="867" alt="Screen Shot 2021-04-28 at 6 55 18 AM" src="https://user-images.githubusercontent.com/3411173/116415934-bd9a6780-a7ee-11eb-9b59-5bede410dead.png">

Note that the unreviewed are bold and white bg, and the reviewed are normal font weight gray bg. This is a change from the designs I shared above, as it's more in line with ou

[2021-04-28 16:09] pierlon commented on #5420
**QA Passed**

Before this change, assertions would fail if element attributes were not in the same order. For example, given the test case:

[code]

Before this the result would be:

[code]

And after this change the test now passes:

[code]

[2021-04-28 21:51] westonruter commented on #6115
I've added a workaround to omit the script in #6115 as it was needed to make the tests pass. This issue remains needed to actually implement the functionality.

As for how to implement support, I think `gutenberg_the_skip_link()` is somewhat of a missed opportunity. If full-site editing is active, then this means all of the blocks can be manipulated as data. Therefore PHP should rather be used to

[2021-04-30 18:24] westonruter opened #6156 "Resource hint for Google Font stylesheets lack dns-prefetch"
## Bug Description

When doing a Google Font stylesheet is used on a page, Pixi is reporting the lack of a resource hint:

![image](https://user-images.githubusercontent.com/134745/116737494-2546e300-a9a6-11eb-9983-e6a403e9793f.png)

This is in spite of us actually adding one:

https://github.com/ampproject/amp-wp/blob/b28697beac7eaf54087eac11c2294e3ac1791e41/includes/sanitizers/class-amp-style-sa

[2021-04-30 18:25] westonruter commented on #6036
I've filed an issue to address this separately: https://github.com/ampproject/amp-wp/issues/6156.

[2021-04-30 18:31] westonruter commented on #6036
For Google Fonts needing to use `font-display:optional`, I've also filed this upstream suggestion for an Optimizer transformer: https://github.com/ampproject/amp-toolbox/issues/1229. If we have the right fallbacks in place for core themes, this transformer could be enabled by default.

[2021-04-30 19:22] westonruter commented on #6036
I've also identified that core is adding `preconnect` resource hints for Google Fonts but is failing to also add `dns-prefetch`. Opened ticket with patch to fix that upstream: https://core.trac.wordpress.org/ticket/53122

[2021-04-30 22:42] pierlon commented on #6156
Do note that Firefox has not supported `preconnect` for quite some time now, and as for `dns-prefetch` it only supports it on HTTP origins.

Support table for [preconnect](https://caniuse.com/link-rel-preconnect):
![image](https://user-images.githubusercontent.com/16200219/116760641-f6ac2500-aa04-11eb-9810-7c750e57eec8.png)

Support table for [dns-prefetch](https://caniuse.com/link-rel-dns-prefetc

[2021-04-30 23:14] westonruter commented on #6156
Only HTTP origins?!

[2021-04-30 23:36] pierlon commented on #6156
It seems it was due to Chromium not supporting HTTPS origins at the time when it was introduced in Firefox ([Bugzilla comment](https://bugzilla.mozilla.org/show_bug.cgi?id=453403#c23)):

It seems this [Bugzilla issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1596935) should be fixing that though.

[2021-04-30 23:39] pierlon commented on #6156
Also, according to [MDN](https://developer.mozilla.org/en-US/docs/Web/Performance/dns-prefetch#best_practices) making use of both `dns-prefetch` and `preconnect` is considered a best practice:

[2021-04-30 23:55] westonruter commented on #6156
Yes, I've noted the same at https://core.trac.wordpress.org/ticket/53122

[2021-05-01 05:00] #6167 closed, assigned to nobody

[2021-05-01 09:24] schlessera commented on #6156
Note that I've included a `ResourceHintManager` in one of the branches on the library, and it adds `dns-prefetch` as fallback by default. I'll see if I can turn that branch into a ready-to-merge PR on Monday...

[2021-05-02 00:05] juniormiranda89 opened #6169 "REST API returning empty data-shortcode attribute"
Our REST API is returning empty the Instagram embed `data-shortcode` attribute.

We have no custom sanitizations, only one call to `amp_get_content_sanitizers()` function. Here's our post content rendering code:

[code]
And our content handle class:

[code]

If we change the variable to:

`$instagram_id = $this->get_instagram_id_from_url( 'https://www.instagram.com/p/CONSk9aHq7y/' );`

the API get

[2021-05-02 00:26] westonruter commented on #6169
I'm not clear on what the issue is. What is the original markup being used as input and what are you expecting as output?

[2021-05-02 00:39] juniormiranda89 commented on #6169
The original markup is the common embed guttenberg markup generated with help of the **oEmbed Plus** plugin:

[code]

As output we expect the commom amp markup like this:

[code]

But we´re getting this where everything is fine, but the `data-shortcode` attribute is empty:

[code]

[2021-05-02 09:25] pierlon commented on #6169
@juniormiranda89 The Instagram URL in question is for a Instagram Reel, which is currently unsupported by the plugin. I've opened #6170 to resolve this. If you can, please test this change by downloading the plugin build from https://github.com/ampproject/amp-wp/pull/6170#issuecomment-830778208 and confirm that it does indeed resolve your issue.

[2021-05-02 21:07] juniormiranda89 commented on #6169
@pierlon Thank you for the support. It solved the issue. Now the Instagram's embeds is rendering in the right way.

[2021-05-02 21:37] pierlon commented on #6169
Glad to hear. Keeping the issue open until the PR has been merged.

[2021-05-03 10:28] amanijoseph87 commented on #3210
Is this implemented yet..!

[2021-05-03 13:15] schlessera commented on #6156
@pierlon I've created a PR that adds the `GoogleFontsPreconnect` transformer to the toolbox library:
https://github.com/ampproject/amp-toolbox-php/pull/179

Note that this now includes an abstraction in the `Dom\Document` that allows one to easily add resource hints:
![image](https://user-images.githubusercontent.com/83631/116880403-e02ae700-ac19-11eb-9d55-596cc88bf41f.png)

[2021-05-03 17:25] westonruter commented on #3210
No, but it's planned for v2.2—the next release after v2.1 which we are publishing this week. Sorry for the delay.

[2021-05-03 18:18] #6169 closed, assigned to nobody

[2021-05-04 04:56] amanijoseph87 commented on #3210
Can you help me how to remove this data from my site, i have try to delete some table on my database without success, is there anyway we can use while we wait..

[2021-05-04 04:57] westonruter commented on #3210
@amanijoseph87 This plugin does not create any database tables, at least not yet. Are you sure you're using this AMP plugin?

[2021-05-04 05:00] amanijoseph87 commented on #3210
Am using this plugin, even on board wizard display blank.

[2021-05-04 05:01] westonruter commented on #3210
@amanijoseph87 OK, please open a support topic on the forum. Our team will be able to better help you there: https://wordpress.org/support/plugin/amp/#new-topic-0

[2021-05-04 05:01] amanijoseph87 commented on #3210
And settings page display blank too nothing seems to work

[2021-05-04 05:04] amanijoseph87 commented on #3210
Please check - https://wordpress.org/support/?post_type=topic&p=14395574

[2021-05-04 05:06] amanijoseph87 commented on #3210
Is there a way to reset this plugin as delete all data related to this plugin

[2021-05-04 05:07] westonruter commented on #3210
That link takes me to a 404 page. Please open a topic here: https://wordpress.org/support/plugin/amp/#new-topic-0

We'll see it once you've posted it.

Otherwise, you can follow the manual steps outlined in https://github.com/ampproject/amp-wp/issues/3210#issuecomment-679325326 until we add an `uninstall.php`.

[2021-05-04 05:08] amanijoseph87 commented on #3210
( https://wordpress.org/support/?post_type=topic&p=14395574 ) Is held for moderation i don't know way

[2021-05-04 05:08] westonruter commented on #3210
OK, we'll follow up with you there then.

[2021-05-04 05:10] amanijoseph87 commented on #3210
Please do now i know you guys a busy and if its not now i can not reach you in other time

[2021-05-04 05:11] westonruter commented on #3210
We'll continue this on the support forum.

[2021-05-04 08:38] webzunft opened #6172 "Error when using Google Ad Manager AMP tag with fluid layout"
## Bug Description

When copy&pasting an AMP tag from the Google Ad Manager account, the following error is visible in the source code of the AMP page:

[code]

When we remove the `fluid` size from the AMP ad tag then the ad shows up and the error is gone.

## Expected Behaviour

Consistency between the code generated for AMP in the Ad Manager account and its behavior on AMP pages. Either GAM shou

[2021-05-04 09:26] schlessera commented on #6172
Thanks for the report!

Serverside rendering is disabled with the `fluid` ad layout because serverside rendering is about hard-coding a static layout into the markup (instead of letting the AMP runtime figuring it out dynamically on the client). The static layout can only be prerendered on the server if there are no unknowns about the dimensions of the individual elements. Using a `fluid` layout t

[2021-05-04 16:56] westonruter commented on #6172
@webzunft Does Google Ad Manager always output the `fluid` layout? Or did you configure it in a way to specifically output this? I'm not familiar with the UI or what options are provided. The resolution may just be to not use the `fluid` size because this is not currently SSR-able as noted by @schlessera. Even if it were server-side rendered, it would ultimately still need to cause a layout shift

[2021-05-04 17:39] westonruter commented on #6169
@juniormiranda89 Please make sure you update your build to 2.1.x as linked to from https://github.com/ampproject/amp-wp/wiki/Development-Builds

Since you've currently installed a 2.2-alpha build, you'll want to switch to a 2.1-RC1 build so that WordPress will prompt you to update for 2.1.x updates.

[2021-05-04 17:42] webzunft commented on #6172
@westonruter

In the Google Ad Manager interface, I can create the AMP tag in one step:

![Bildschirmfoto 2021-05-04 um 19 37 30](https://user-images.githubusercontent.com/2728720/117045778-2f534380-ad10-11eb-8ae7-6af16ba27653.png)

Next, I can choose the sizes:

![Bildschirmfoto 2021-05-04 um 19 38 12](https://user-images.githubusercontent.com/2728720/117045839-45f99a80-ad10-11eb-9844-a4380f19e32

[2021-05-04 18:34] westonruter commented on #6172
I'd say to _discourage_ the use of Fluid if possible, since it is not as performant. However, if they need the Fluid size then AMP then they can do so. I'm going to follow up with the AMP team on adding SSR support for Fluid, although it will still cause a layout shift so if another unit can be used then this is preferred.

[2021-05-04 21:10] westonruter commented on #6172
I've drafted SSR support for the fluid layout here: https://github.com/ampproject/amp-toolbox-php/pull/181

A validator update will be needed before this can be merged.

Nevertheless, take note of the [Fluid layout docs](https://github.com/ampproject/amphtml/blob/main/extensions/amp-ad-network-doubleclick-impl/fluid.md):

So this is another reason to avoid the `fluid` layout when possible.

[2021-05-04 21:10] #6172 closed, assigned to nobody

[2021-05-04 23:41] juniormiranda89 commented on #6169
@westonruter Thank you for the explanation.

[2021-05-07 07:55] askmeoffers opened #6182 "Reduced Page speed with AMP Version 2.1"
Hi Team,

We see our page speed got reduced by 3 points with the recent update on the AMP plugin.

Previously we were getting 98 scores on https://developers.google.com/speed/pagespeed/insights/, but after the updates, it gives a speed score of 94-96 and sometimes lower than this.

As we noticed this issue, so we did not move the update to the Live server

This difference is quite noticeable.

Spe

[2021-05-07 09:34] schlessera commented on #6182
I can see a difference in the PageSpeed Insights measurements:

![Image 2021-05-07 at 10 06 09 AM](https://user-images.githubusercontent.com/83631/117426556-ee2f7f00-af1b-11eb-8e56-79f2704f8eba.jpeg)

However, when I use the local PageSpeed audit, I get the exact same scores for both pages:

![Image 2021-05-07 at 10 02 58 AM](https://user-images.githubusercontent.com/83631/117426629-00a9b880-af1c-

[2021-05-07 10:00] askmeoffers commented on #6182
Hi, @schlessera. Thank you for the quick revert.

Okay I will install an older release of the AMP plugin right away (Version - Version 2.0.11 ) on the development server too
https://dev-askmeoffersomsairam.pantheonsite.io/coupon-deal-offer-promo-store/oyorooms-com/

With the old version, I can see 98 scores same as that of the Live server

Now on the dev server, I have left the old version for you

[2021-05-07 10:14] schlessera commented on #6182
Ok, great, I got a much better diff now, as both the content changes and the origin change are gone when comparing dev to dev.

I also get better scores now on pagespeed insights than before, indeed.

As we now ruled out the server/network, can you switch back the dev version to 2.1.0 now so I can run more tests between dev and prod?

[2021-05-07 10:17] askmeoffers commented on #6182
@schlessera  Sure I have done now latest AMP release is active on the DEV server.

Team
https://askmeoffers.com/

[2021-05-07 10:26] schlessera commented on #6182
What I see from a resource loading perspective is that the v2.1.0 (right) version is equal or faster than the v2.0.11 (left) version:

![Image 2021-05-07 at 11 23 43 AM](https://user-images.githubusercontent.com/83631/117436391-d7425a00-af26-11eb-9431-ef74fe9045ac.jpeg)

They load the same number of resources, but 2.1.0 transfers less bytes and finishes the overall load faster.

However, the `DOMC

[2021-05-07 10:30] schlessera commented on #6182
Another possible hint - if I throttle the connection to 'Slow 3G`, v2.1.0 is an overall winner:

![Image 2021-05-07 at 11 28 35 AM](https://user-images.githubusercontent.com/83631/117436954-76ffe800-af27-11eb-813a-5ff3d7a06d68.jpeg)

This makes it all the more likely that is has nothing to do with the actual loading (which seems faster on v2.1.0) but only with how the page and its assets is then a

[2021-05-07 10:47] askmeoffers commented on #6182
Hi, @schlessera  Ok, thank you for your hints, but please try to share patch release, which doesn't impact speed scores and those that are too important for organic rankings.

The new release of the AMP plugin might be improving the performance in real but its impacting scores

[2021-05-07 11:02] schlessera commented on #6182
Going through the profiling runs doesn't show anything conclusive. On most runs, the v2.1.0 is faster in all regards than the v2.0.11 version:

![Image 2021-05-07 at 11 53 30 AM](https://user-images.githubusercontent.com/83631/117440286-c47e5400-af2b-11eb-850e-f2331f545919.jpeg)

Yes, I agree we need to keep the scores up, but I need to figure out first what is actually lowering them. Every single

[2021-05-07 11:03] schlessera commented on #6182
@askmeoffers Can you try installing and activating the following plugin on your dev site (with v2.1.0) to see what PSI measures when ESM is off?

https://gist.github.com/schlessera/4127ab30f4235f1acbc11e3eee77701a

[2021-05-07 11:05] schlessera commented on #6182
With the above plugin you can run v2.1.0 without ESM by appending `?amp_esm=0` to the page URL.

[2021-05-07 11:07] askmeoffers commented on #6182
@schlessera done I have installed and activated it.

[2021-05-07 11:16] schlessera commented on #6182
I did a few PSI runs now between these two URLs:

1. https://dev-askmeoffersomsairam.pantheonsite.io/coupon-deal-offer-promo-store/oyorooms-com/?amp_esm=0 (without ESM)
2. https://dev-askmeoffersomsairam.pantheonsite.io/coupon-deal-offer-promo-store/oyorooms-com/?amp_esm=1 (with ESM)

Although 2. is faster in all regards in local tests, it consistently results in lower scores in PSI.

@westonruter

[2021-05-07 12:04] coolrecep opened #6183 "Settings page empty after 2.1"
## Bug Description

Settings page is empty. I believe this also broke Yoast. Attached it as well.

## Expected Behaviour

Able to see all the options.

## Steps to reproduce

WP DashBoard > AMP > Settings

## Screenshots

![image](https://user-images.githubusercontent.com/13221472/117446562-ec2de600-af44-11eb-923c-2ad8fdac900a.png)

![image](https://user-images.githubusercontent.com/13221472/11744

[2021-05-07 12:32] sebastianbenz commented on #6182
Just ran two WPT tests and they confirm the same:

1. [ ESM=0](https://www.webpagetest.org/video/compare.php?tests=210507_BiDc23_f022f75c2efc221401818a15251490b3-r%3A1-c%3A0&thumbSize=200&ival=100&end=visual)
2. [ESM=1](https://www.webpagetest.org/video/compare.php?tests=210507_AiDc9B_3c5d47b6114cae6351d02b1c4f3e1721-r%3A1-c%3A0&thumbSize=200&ival=100&end=visual)

The ESM version shows increased m

[2021-05-07 12:59] schlessera commented on #6182
That's quite an obvious increase in runtime, for what is supposed to be less code to execute. Is the ESM version doing something fundamentally different that requires more processing, or does this point to a potential bug?

[2021-05-07 14:15] kristoferbaxter commented on #6182
On mobile so can't dig deep right now, but are we sure the execution of JS is at play here?

From quick glance at the WPT data it appears to be main thread time outside of JS (since the execution is before JS is streamed and executed).

Also, what does real user data say?

[2021-05-07 14:30] schlessera commented on #6182
Could this extra processing be caused by `modulepreload`, perhaps? Assuming that some JS has to be executed for figuring out the graph to download, I could see this appearing as the main browser thread work here...

This is a dev site atm, since the site owner does not want to push a change to prod that reduces the performance score.

[2021-05-07 16:17] coolrecep commented on #6183
Went back to 2.0.11 to solve the issue.

[2021-05-07 16:37] kristoferbaxter commented on #6182
The synthetic scores are not the source of truth for end user performance, but valuable for comparing versions. My hunch is the end user metrics are actually improved with module scripts (as seen across the Google AMP Cache).

Good theory! I'll try to create a example of this document to test some ideas today using Cloudflare Workers.

[2021-05-07 17:02] milindmore22 commented on #6183
@coolrecep
Are you able to check if there was an error in the Browser console? if yes, can you please copy the error here for our reference?

[2021-05-07 18:01] westonruter commented on #6183
You can share your SIte Health info privately via https://forms.gle/6rbRycvL4GiZtMDo6

But yes, if you can share whether there was an error in the browser console that will be ideal.

[2021-05-08 01:11] coolrecep commented on #6183
Removed the /wp-content/amp/ folder, upgraded to 2.1.1 and solved. Thanks.

[2021-05-08 01:38] #6183 closed, assigned to nobody

[2021-05-10 00:44] amarinediary opened #6189 "Fatal error due to admin bar disabled"
## Bug Description

Hiding the Wordpress admin bar via the `show_admin_bar` hook filter will result in a fatal error. on the AMP Validated URL screen on Recheck user action.

`AMP_Validated_URL_Post_Type::print_stylesheets_meta_box(Object(WP_Post), Array)`

## Expected Behaviour

Using recheck shouldn't return a fatal error when the admin bar isn't displayed;

## Steps to reproduce

1. Go to `func

[2021-05-10 01:30] westonruter commented on #6189
I'm not able to reproduce the error due to the the admin bar being hidden. Nevertheless, your PHP code to hide the admin bar should be modified as follows:

[code]

The error seems unrelated to the admin bar being shown. At issue is this code here:

https://github.com/ampproject/amp-wp/blob/be84e8a2fb8def6b1831656d2067b268e70c959c/includes/validation/class-amp-validated-url-post-type.php#L2542

Ap

[2021-05-10 08:39] pierlon commented on #5520
Some release steps that can be automated independently in the interim:

- [ ] Creating draft release
    - [ ] Generate changelog
    - [ ] Attach the `amp.zip` build to the release
- [ ] Generating documentation for release branch

[2021-05-10 13:55] kristoferbaxter commented on #6182
I don't seem to have access to the site using the newest version (https://dev-askmeoffersomsairam.pantheonsite.io/coupon-deal-offer-promo-store/oyorooms-com/?amp_esm=1)

Can someone grant me access?

[2021-05-10 14:07] askmeoffers commented on #6182
@kristoferbaxter Thank you for your prompt.
I have removed protection for the dev server.

Team
https://askmeoffers.com/

[2021-05-10 14:20] kristoferbaxter commented on #6182
Thanks! Taking a look.

[2021-05-10 14:28] kristoferbaxter commented on #6182
Leaving notes here as I run thru the site.

1. Is there a reason for the viewport meta tag changes? `<meta name="viewport" content="width=device-width,maximum-scale=5.0,user-scalable=no">` instead of `<meta name="viewport" content="width=device-width">`.

2. I'm assuming the server response time is a byproduct of this being a dev server? `106.75ms` is a little long.

3. `https://i1.wp.com/askmeoff

[2021-05-10 14:57] schlessera commented on #6182
The WP plugin already removes the `initial-scale=1` bit, in an attempt to get to the required viewport to reduce FID. However, it doesn't yet take into account other attributes. This is planned to be improved upon via a special Optimizer transformer with https://github.com/ampproject/amp-toolbox-php/issues/126

I'll do some investigation to see why the WP plugin's `DetermineHeroImages` transformer

[2021-05-10 22:06] westonruter commented on #6182
The key reason is that the image is “tiny” at being only 80 pixels high. The other reason is that the image doesn't appear to be a featured image output via `the_post_thumbnail()`, so the `HeroCandidateFiltering` service is not marking it with `data-hero-candidate`.

@askmeoffers I recommend you add the `data-hero-candidate` to this image to force it to be included among the hero image candidates.

[2021-05-11 04:06] askmeoffers commented on #6182
@westonruter, we have added "data-hero-candidate" to the image tag to enforce making it a hero image.

@kristoferbaxter  we have also changed the meta to suggested <meta name="viewport" content="width=device-width">

But we still see a speed score difference when comparing below over PSI.

1) https://dev-askmeoffersomsairam.pantheonsite.io/coupon-deal-offer-promo-store/oyorooms-com/?amp_esm=0 (wit

[2021-05-11 09:43] #6189 closed, assigned to nobody

[2021-05-11 15:11] aaemnnosttv opened #6194 "WP 4.9 + Gutenberg: `Uncaught TypeError: Object(...) is not a function` on settings page"
## Bug Description

As of AMP 2.1, the AMP settings page now loads a blank screen with the following error in the console with WP 4.9:

[code]

## Expected Behaviour

The settings page should load as usual 🙏

## Steps to reproduce

1. Use latest 4.9 version of WordPress
2. Install Gutenberg 4.9.0 (not possible to install newer version)
2. Install and activate the latest version of AMP (currently 2

[2021-05-11 16:00] westonruter commented on #6189
@amarinediary Did you find the cause of the problem?

[2021-05-11 18:30] amarinediary commented on #6189
Yes sorry, indeed, apparently not properly hiding the admin bar was trouble shooting with the amp plugin. You did answer that question perfectly, and I feel ashamed for opening it !

[2021-05-13 08:34] askmeoffers commented on #6182
We have turned ON the security mode for the dev site as we see too many attacks on dev sites and other security attacks. Still, whenever required to debug and analyze, please contact us (support@askmeoffers.com) or update us on this ticket. We will remove it.

[2021-05-13 13:03] kristoferbaxter commented on #6182
We're discussing the issue with the V8 team and have pulled a local copy to further debug.

Will update as we learn more.

[2021-05-13 22:45] westonruter opened #6230 "Settings screen lacks JS error handling"
## Bug Description

When on WordPress 5.3.8, accessing the AMP Settings screen with AMP v2.1.1 results in a blank settings screen with a JS error in the console:

[code]

The error here is originating our entrypoint. We should wrap this with a try/catch block to show an error message with the details, including a link to submit a support topic with the associated stack trace.

Note that this speci

[2021-05-13 23:50] westonruter opened #6231 "Adding Post Comments Form block to post causes validation error for `comment-reply` enqueued script"
## Bug Description

As part of Full Site Editing, Gutenberg has a “Post Comments Form” block:

This renders the standard comments form inside the post content:

When viewing such a post on the frontend, a validation error is reported:

Normally the `comment-reply` form is dequeued when the `singular` template is loaded:

https://github.com/ampproject/amp-wp/blob/1c7728ccbfc880118130306729a3f0f1d47

[2021-05-14 05:33] westonruter opened #6232 "Avoid possibility of `ob_start()` being called during output buffer processing (to avoid fatal error)"
## Bug Description

In a [support topic](https://wordpress.org/support/topic/gutenberg-10-6-0-amp-2-1-0-fatal-error/) it was discovered that the `AmpSchemaOrgMetadata` transformer (and specifically `AmpSchemaOrgMetadataConfiguration`) can cause a fatal error:

[code]

The issue is that the the transformer configurations are obtained during the output buffer callback, and so if there is any code th

[2021-05-14 06:22] schlessera commented on #6232
Not yet sure whether this is technically possible, but another way to solve this would be to exit the output buffering callback as soon as possible and defer the processing to another method outside of that callback.

What happens if you add another shutdown handler while within the output buffering callback?

[2021-05-14 06:38] westonruter commented on #6232
Humm, that does work at first glance: #6234. However, I am afraid this approach would cause big problems with caching plugins that rely on the content to be returned by the output buffer callback. I expect with this approach the caching plugins would just end up storing empty strings in the cache, instead of storing the processed page since it would be processed after output buffering has finished

[2021-05-14 10:25] milindmore22 opened #6235 "Activating Gutenberg messed backend styling"
## Bug Description

Activating Gutenberg messed AMP settings page styling a little bit

## Expected Behaviour

Activating any plugin should not have effects on settings

## Steps to reproduce

1. Install and Activate AMP and Gutenberg plugin
2. Visit the AMP settings page
4. See Template Mode toggle.

## Screenshots

![image](https://user-images.githubusercontent.com/1132541/118257535-5e19a880-b4c

[2021-05-14 15:19] #6232 closed, assigned to westonruter

[2021-05-14 15:24] westonruter commented on #6232
Note that a user tested the build and found it fixed the issue: https://wordpress.org/support/topic/gutenberg-10-6-0-amp-2-1-0-fatal-error/#post-14437465

[2021-05-14 16:40] nbcsteveb opened #6236 "WP <= 5.5.5: post edit and create pages throw errors with the latest version of AMP plugin (>= 2.1.0)"
## Bug Description

On WP versions <= 5.5.5 w/ latest AMP Plugin (2.1.*) post edit and create pages throw errors with the latest version of AMP plugin.

## Expected Behaviour

The post create or edit page screen should load without throwing any errors.

## Steps to reproduce

Given: WordPress version below 5.6 (<= 5.5.5)
And: AMP Plugin v2.1.0 or v2.1.1 is installed.
When: User tries to create or

[2021-05-14 17:23] pierlon commented on #6236
(@westonruter provided a more thorough comment below, go [check](https://github.com/ampproject/amp-wp/issues/6236#issuecomment-841391021) his out!)

@nbcsteveb thanks for reporting the bug. We've already fixed this (see https://github.com/ampproject/amp-wp/pull/6193) and it should be apart of our next patch release. Please try one of our up-to-the-minute builds for [`v2.1.x`](https://github.com/am

[2021-05-14 17:23] westonruter commented on #6236
_Update:_ Ditto ☝️

@nbcsteveb Thanks for reporting. This is something we've just addressed in #6193 by bumping the minimum version required to use the block validation functionality in the editor. This will be part of v2.1.2 which will be released either later today or early next week. In the meantime, you have three options:

1. Turn off AMP Developer Tools in your user profile.
2. Update to AMP

[2021-05-14 17:25] westonruter commented on #6236
Thank you for the thorough bug report nonetheless!

[2021-05-14 17:25] #6236 closed, assigned to westonruter

[2021-05-14 17:30] westonruter commented on #6235
Thanks. I saw this too but I wasn't sure if it was a problem with my Gutenberg build or it was a new issue.

[2021-05-14 17:31] pierlon commented on #6235
Might be because we're bundling the CSS from `@wordpress/components` for the settings page. Investigating...

[2021-05-17 19:01] westonruter commented on #6235
There is a difference in styling is due to a missing CSS rule in Gutenberg (`gutenberg/build/components/style.css`) which is present in core (`wp-includes/css/dist/components/style.css`):

![image](https://user-images.githubusercontent.com/134745/118541770-f1d6b900-b706-11eb-92dd-485aaf814964.png)

[2021-05-17 19:03] pierlon commented on #6235
Currently working on migrating used styles from `wp-components` into the plugin so we don't need to rely on it. If that's the only style rule missing we could add it and go ahead with that in the interim.

[2021-05-17 19:06] westonruter commented on #6235
Present in Gutenberg 10.5.4: https://github.com/WordPress/gutenberg/blob/v10.5.4/packages/components/src/visually-hidden/style.scss
And present in 10.6.1: https://github.com/WordPress/gutenberg/blob/v10.6.1/packages/components/src/visually-hidden/style.scss
But this file is missing in v10.6.0. Nevertheless, the styles are still broken in v10.6.1.

It looks like this problem was introduced in https

[2021-05-18 01:45] #6194 closed, assigned to pierlon

[2021-05-18 02:07] pierlon commented on #6235
That PR has just been reverted via https://github.com/WordPress/gutenberg/pull/31882. I'll continue the work on migrating the styles into the appropriate Gutenberg components but I think this issue can be punted to the next release for now.

[2021-05-18 02:09] pierlon commented on #6235
I can confirm that the Settings screen is back to normal for now (when on 67f2cf8f43217b339df04b2823531cda0a189001 and https://github.com/WordPress/gutenberg/commit/b5f6955742e784f11828e1dacba4361713135963):

<img width="1122" alt="image" src="https://user-images.githubusercontent.com/16200219/118579667-04d8a000-b77e-11eb-8d13-e750d10a77df.png">

[2021-05-18 03:13] westonruter commented on #6235
Confirmed. Fixed in Gutenberg v10.6.1.

[2021-05-18 03:45] westonruter commented on #6236
**QA Passed**

Downgrading to WordPress 5.5.5, now when accessing the post editor there is an upgrade notice displayed instead of erroring out when loading the incompatible JS:

![image](https://user-images.githubusercontent.com/134745/118587033-ae08a180-b750-11eb-9faf-cedc7db66924.png)

[2021-05-18 03:47] westonruter commented on #6232
**QA Passed**

I added this to a plugin:

[code]

When accessing an AMP page, there was no fatal error. The `buffered` key was added to the Schema.org metadata:

[code]

[2021-05-18 04:21] pierlon commented on #6194
**QA Passed**

## WP 5.7.2

- ✅ No upgrade notice shown in block editor when neither Gutenberg nor Classic Editor plugins are active
- ✅ No upgrade notice shown in block editor when latest Gutenberg plugin (v10.6.1) active
- ✅ No notice about AMP Enabled status in editor when latest Classic Editor plugin (v1.6) active
- ✅ Validation counts are fetched and updated successfully via AJAX
- ✅ AMP Sett

[2021-05-18 05:40] westonruter commented on #6236
<a href="https://github.com/ampproject/amp-wp/releases/tag/2.1.2">v2.1.2</a> is now published on WordPress.org

[2021-05-20 21:02] westonruter opened #6295 "Provide ability to bypass conversion of inline style attributes and `!important` qualifiers for AMP-first CSS"
## Feature description

As reported in https://github.com/google/web-stories-wp/issues/6783, the style sanitizer's conversion of inline `style` attributes (and `!important` qualifiers) can result in ballooning the size of `style[amp-custom]`. I commented in https://github.com/google/web-stories-wp/issues/6783#issuecomment-845473804:

Having this capability would be useful for any site that is inte

[2021-05-21 01:41] westonruter opened #6298 "Add GitHub action to auto-merge Dependabot pull requests"
## Feature description

After switching from dependabot-preview to dependabot (#6144), the auto-merging of approved PRs is no longer happening since it is not a feature of the native Dependabot. This functionality should be restored via a GitHub Action as it saves a lot of time. We should consider auto-merging dependency updates even without approval for `@wordpress` dependencies and perhaps other

[2021-05-21 04:29] pierlon commented on #6298
I think that would be most appropriate as a feature of Dependabot. Alternatively though, maybe we could  monitor `@wordpress` dependency PRs and push those changes to a centralized PR that would later be merged once a new Gutenberg version is out.

[2021-05-21 04:30] pierlon commented on #6298
Then those Dependabot PRs would be closed once the centralized PR is updated successfully with the related changes.

[2021-05-21 08:09] yanchuk opened #6304 "activating the plugins in Reader mode crashes Gutenberg"
## Bug Description

As I activate the plugin in our setup in Reader more – I can't edit posts as Gutenberg crashes showing an error (see below).

**Console:**
`data.min.js?ver=943087ae96d075f126df689839bb96b9:2 An error occurred while running 'mapSelect': Failed to construct 'URL': Invalid URL
Ge @ data.min.js?ver=943087ae96d075f126df689839bb96b9:2
react-dom.min.js?ver=16.13.1:125 Error: Minified

[2021-05-21 09:18] pierlon commented on #6298
Actually I may have a workaround. Will test locally and see if it's viable or not.

[2021-05-21 15:19] westonruter commented on #6304
Thanks for reporting. Since you've reported on the support forum and @jamesozzie has engaged you there, I'll close this for now.

[2021-05-21 15:19] #6304 closed, assigned to nobody

[2021-05-21 15:34] tobifjellner opened #6305 "Incorrect use of _n() in /src/admin/site-health.php"
## Bug Description
The translation function _n() should always include the actual number in the string. ("We found 1 error/We found 3 errors" would be ok, but not "We found an error/We found some errors")
Never use _n() to just distinguish between singular and plural. Some languages translate strings into 3 or even more versions, depending on the number. And if your steering number is, say, 21, th

[2021-05-21 15:36] westonruter commented on #6305
Humm. The `/src/admin/health-check.php` file is not part of the AMP plugin. Maybe you reported this to the wrong repo?

[2021-05-21 15:45] schlessera commented on #6305
I assume this refers to these strings: https://github.com/ampproject/amp-wp/blob/develop/src/Admin/SiteHealth.php#L261-L289

[2021-05-21 16:13] westonruter commented on #6305
@tobifjellner Please take a look at #6306 to see if that change is what you had in mind.

[2021-05-21 20:40] #6305 closed, assigned to pierlon

[2021-05-22 03:26] pierlon commented on #6298
See https://github.com/ampproject/amp-wp/pull/6302#issuecomment-846342198.

[2021-05-23 20:35] westonruter commented on #6295
This is less important now due to a better solution for Web Stories: https://github.com/google/web-stories-wp/issues/6783#issuecomment-846610969.

[2021-05-26 10:56] DrLightman opened #6316 "Wrong usage of mysql2date to generate datePublished and dateModified, bug in time offsets"
As the WordPress's `mysql2date()` PHP doc says:

`
$date is expected to be local time in MySQL format ('Y-m-d H:i:s').
`

Please note "**local time**", not GMT time.

Whereas the AMP plugin uses the GMT values instead, resulting in wrong values in datePublished and dateModified attributes of schemaorg metadata:

[code]

The resulting datePublished will be wrongly comprised of a datetime local to G

[2021-05-26 14:34] schlessera opened #6317 "Maybe add encoding check on charsets requiring multibyte strings"
## Feature description

The toolbox now has an optional (off by default) encoding check that detects invalid byte sequences in the document in order to avoid `DOMDocument` generating mojibake => https://github.com/ampproject/amp-toolbox-php/pull/200.

Depending on the environment, it might make sense to enable this check by default as the possibility for messing up the document is higher.

The exa

[2021-05-26 17:30] pierlon commented on #6316
Note that this bug only occurs in WP 5.3 and above, as `mysql2date()` now makes use of the [`wp_timezone()`](https://github.com/WordPress/wordpress-develop/blob/ea4707d9275b82d5cac9d45be02ba8f17da56d65/src/wp-includes/functions.php#L127-L138) function (introduced in WP 5.3) that returns the site's timezone setting.

[2021-05-26 21:34] westonruter commented on #6316
Related: #5335

[2021-05-28 03:20] #6316 closed, assigned to pierlon

[2021-05-28 15:41] westonruter opened #6319 "Add support for responsive navigation block in Gutenberg"
## Feature description

As shown in [What’s new in Gutenberg 10.7? (26 May)](https://make.wordpress.org/core/2021/05/27/whats-new-in-gutenberg-10-7-26-may/), there is a new [Responsive Navigation block](https://make.wordpress.org/core/2021/05/27/whats-new-in-gutenberg-10-7-26-may/#:~:text=responsive%20navigation%20block):

This opens a sidebar on a narrow viewport:

Closed | Open
-------|-------
!

[2021-05-31 20:06] westonruter opened #6339 "Entity(s) causing path suffix conflicts are not indicated"
## Feature description

In a couple cases recently users have reported the inability to select the Legacy Reader or Path Suffix paired URL structures and getting this notice:

* https://wordpress.org/support/topic/my-amp-urls-return-a-blank-screen-when-i-click-on-google-serps-mobile/#post-14498701
* https://wordpress.org/support/topic/500-xxx-error-paired-url-structure-featured-images-not-showing/

[2021-06-02 01:25] #6298 closed, assigned to nobody

[2021-06-02 06:53] westonruter commented on #4191
Sorry for the delay. I have put together a mini plugin that implements an external form submission proxy: https://gist.github.com/westonruter/c08134bf8b33a49ef780a70b337d456f

Hopefully this is helpful while waiting to get this into the plugin. Please let me know if there are any issues.

[2021-06-02 14:38] milindmore22 commented on #5167
A [Support topic](https://wordpress.org/support/topic/add-the-function-to-hide-part-of-content-from-amp/), requesting to add functionality to hide/suppress part of the content on AMP endpoint.

[2021-06-02 21:54] westonruter commented on #4191
As opposed to creating a proxy, I've also written https://github.com/ampproject/amphtml/issues/27638#issuecomment-853408150 to advocate non-XHR POST forms. This will save many headaches.

[2021-06-03 15:38] westonruter commented on #6156
Closing in favor of https://github.com/ampproject/amp-toolbox-php/pull/179.

[2021-06-03 15:38] #6156 closed, assigned to pierlon

[2021-06-04 10:42] ghost commented on #5719
Has this already been fixed? I'm trying to get it to work in the Twentytwentyone theme but the menu still doesn't close after clicking a link with an anchor.

[2021-06-04 11:14] swissspidy commented on #5719
Yeah this has been fixed a while ago and it still works fine for me. A link to `#colophon` in the menu closes the menu and scrolls down to the footer.

If it doesn't for you, I recommend opening a new issue

[2021-06-04 11:23] ghost commented on #5719
Thank you for getting back to me so quickly. I managed to get it to work. It conflicted with another plugin called Easy Smooth Scroll Links. Fixed now!

[2021-06-04 21:37] westonruter commented on #6172
Update on this: the validator has been updated to allow SSR for the fluid layout. So now I've submitted https://github.com/ampproject/amp-toolbox-php/pull/181 for review and I hope to include it in v2.1.3.

[2021-06-04 21:39] #4191 closed

[2021-06-07 00:42] westonruter opened #6355 "Paired AMP URLs for comment pages result in 404s when Legacy Reader paired URL structure is selected"
## Bug Description

As reported in a [support topic](https://wordpress.org/support/topic/amp-errors-for-comment-pages/), attempting to access the AMP version of a comment page results in a 404.

For example, with the theme unit test data installed and going to `/2012/01/03/template-comments/comment-page-2/` there is an AMP link for:

[code]

Attempting to access that URL, however, results in a red

[2021-06-07 05:18] westonruter commented on #6355
As a quick fix this does the trick, but I'm not yet sure the underlying cause:

[code]

[2021-06-07 05:25] westonruter commented on #6355
Seems like `redirect_canonical()` is causing the problems.

[2021-06-08 00:12] #6073 closed, assigned to nobody

[2021-06-08 00:15] #6032 closed, assigned to nobody

[2021-06-08 00:15] #6068 closed, assigned to nobody

[2021-06-08 00:27] westonruter commented on #5511
A question was raised in php-css-parser about whether mbstring should be made a hard-requirement: https://github.com/sabberworm/PHP-CSS-Parser/issues/254. Nevertheless, [polyfill-mbstring](https://github.com/symfony/polyfill-mbstring/) requires PHP 7.1+ so we can't use it anyway.

[2021-06-08 00:48] westonruter commented on #5549
The better way forward here is what we've been discussing lately in terms of sandbox levels:

1. [Least restrictive] Convert markup to Bento, but leave other markup intact. Corresponds to "dirty AMP".
2. [Middle-ground] Convert markup to Bento, do CSS processing, and remove any non-Bento markup. Depends on custom scripts being packaged in Bento components.
3. [Most restrictive, same as today] Conv

[2021-06-08 00:58] westonruter commented on #5311
I think this should be left to the domain of plugins.

[2021-06-08 00:58] #5311 closed, assigned to nobody

[2021-06-08 01:05] westonruter commented on #4946
We're using the `amp_` prefix for global functions.

[2021-06-08 01:05] #4946 closed, assigned to nobody

[2021-06-08 01:10] westonruter commented on #4597
Resolved by https://github.com/ampproject/amp-toolbox-php/pull/100

[2021-06-08 01:10] #4597 closed, assigned to schlessera

[2021-06-08 01:11] westonruter commented on #4536
Implemented in https://github.com/ampproject/amp-toolbox-php/pull/100

[2021-06-08 01:11] #4536 closed, assigned to schlessera

[2021-06-08 01:13] #4341 closed

[2021-06-08 01:14] westonruter commented on #3730
Implemented in https://github.com/ampproject/amp-toolbox-php/pull/100

[2021-06-08 01:14] #3730 closed

[2021-06-08 01:16] westonruter commented on #4115
This will be irrelevant when `amp-img` is deprecated in favor of native `img` (per https://github.com/ampproject/amphtml/issues/30442), in which case `border` can just be added as one allowed attributes.

[2021-06-08 01:16] #4115 closed

[2021-06-08 01:21] westonruter commented on #3184
I highly doubt that support for `amp-anim` will be added to `amp-lightbox-gallery`. Instead, I expect that it will be updated to just use `img` since `amp-img` is intended to be deprecated: https://github.com/ampproject/amphtml/issues/30442. When that happens we'll just pass through `img` elements, and make sure they have the required dimensions and attributes (e.g. `loading`).

[2021-06-08 01:21] #3184 closed

[2021-06-08 01:21] westonruter commented on #2769
Implemented in https://github.com/ampproject/amp-toolbox-php/pull/100

[2021-06-08 01:21] #2769 closed

[2021-06-08 01:24] westonruter commented on #2084
@pierlon This is now available via the AMP QA Tester plugin, with the exception that if you choose the `develop` branch, there won't be auto-updates, correct?

[2021-06-08 01:24] westonruter commented on #1994
This is rather plugin territory.

[2021-06-08 01:24] #1994 closed

[2021-06-08 02:19] pierlon commented on #2084
Correct, I'll open an issue to track that functionality. This issue can be closed too.

[2021-06-08 02:59] #2084 closed

[2021-06-08 07:00] swissspidy commented on #5511
We use an older version (1.18) which still supports PHP 5.6+. So does 1.19 I think (at least from what I can tell after looking at https://github.com/symfony/polyfill-mbstring/commit/39d483bdf39be819deabf04ec872eb0b2410b531)

[2021-06-10 17:57] milindmore22 opened #6367 "Use dropdown for analytics type instead of input and add a link to vendor lists."
## Enhancement Description

Although we have clear instructions on the settings panel of analytics, people are still making mistakes while adding analytics configurations. it's been observed from support forums that most of the time they don't enter anything in type input or make a mistake while entering input to avoid let's provide a dropdown box.

### Scenario 1: Include all [analytics vendors](

[2021-06-10 19:03] westonruter commented on #2316
First target: upgrade the make the validated URL screen. The validated URLs (post list table) and Error Index (term list table) will come later, especially with #5553.

A dependency for the validated URL screen is the REST API endpoint for validating a URL and retrieving the validation results for a URL (#5552).

[2021-06-10 19:04] westonruter commented on #5552
I have a design doc that lays out what endpoints are needed. I believe everyone has access on the team.

[2021-06-10 19:13] westonruter commented on #5549
Also, the levels should also indicate what is the least restrictive sandboxing enforcement. Just because I select L1 this doesn't mean that I will necessarily be invalid AMP. If there is nothing on the page that is invalid AMP, then the page itself would be L3 but other pages on the site may be L1. In the same way for L2: you may have a site that uses uncertified components, but on some pages only

[2021-06-10 20:28] westonruter commented on #6367
The list of vendors is available in this directory: https://github.com/ampproject/amphtml/tree/main/extensions/amp-analytics/0.1/vendors

We could have a JSON file which is constructed as part of the build that obtains the list to include with the plugin.

[2021-06-11 23:53] westonruter commented on #6182
I'm seeing this as well.

I also went further by moving other AMP scripts down to either right before the respective component (e.g. `amp-carousel`) or to the very end of the `body` for components which are not render-critical (e.g. `amp-analytics` and `amp-lightbox`). Here are my findings: https://amp-script-placement-experimentation.glitch.me/

In short, for an SSR'ed page, these changes can sha

[2021-06-12 02:24] kristoferbaxter commented on #6182
The example cases used were a comparison of module parsing versus classic script parsing for the same content without preloading.

However, let's meet next week to discuss your findings and see if we can replicate across a larger swath of the corpus. If so, we should move to your suggestion!

cc @erwinmombay and @jridgewell

[2021-06-12 05:54] #6339 closed, assigned to westonruter

[2021-06-14 15:30] dhaval-parekh commented on #6355
Yes, It's `redirect_canonical()` that causing the issue.

In a normal scenario, It tries to remove the comment page section ( [reference](https://github.com/WordPress/wordpress-develop/blob/5.7/src/wp-includes/canonical.php#L445) ) and add the same ( [reference](https://github.com/WordPress/wordpress-develop/blob/5.7/src/wp-includes/canonical.php#L503-L511) )

Since, regex that removes the comment

[2021-06-14 15:39] westonruter commented on #6355
Great. Then this seems like a special case we need to add similar to what we did in https://github.com/ampproject/amp-wp/pull/5862.

[2021-06-16 05:00] westonruter commented on #6355
Naturally, the `/amp/` in the pattern and replacement will need to be variable to be whatever `amp_get_slug()` returns. So something like the following will be better:

[code]

The filter would be added alongside the `get_pagenum_link` filter:

https://github.com/ampproject/amp-wp/blob/f46cdd0cd227b83d67375f30ad6130ede1a80eef/src/PairedRouting.php#L684-L687

[2021-06-17 09:11] pyksid opened #6394 "Loading spinner bug"
## Bug Description

There is a bug with a loading spinner which appears on every admin pages.

When mouse over AMP menu on the left, the loading pinner disapears.

Disable AMP plugin fixes the bug.

## Screenshots

![Capture d’écran 2021-06-17 110239](https://user-images.githubusercontent.com/6338060/122366640-069faa00-cf5c-11eb-984d-ecec872c8c0d.jpg)

## Additional context
[code]

---------------

[2021-06-17 13:16] mxbclang commented on #6394
@dreamon11 Thanks for getting in touch! As we're still discussing this in your [open support topic](https://wordpress.org/support/topic/loading-spinner-bug/), I'm going to close this issue for now. We can reopen if we do in fact identify that it is a bug with the AMP plugin.

[2021-06-17 13:16] #6394 closed, assigned to nobody

[2021-06-17 22:05] #6355 closed, assigned to pierlon

[2021-06-18 08:42] Woollins opened #6399 "Output <link rel="amphtml"> URL Incorrect"
Site URL is /blog (subdirectory). The preview on the AMP Settings > Paired URL Structure is correct (Legacy reader, also tried the other options). e.g. https://[domain]/blog/category/page/amp/
However the output is <link rel="amphtml" href="https://[domain]/category/page/amp/"> (missing /blog/).
I've tested output of site_url() and site_url( '/' ) - correct https://[domain]/blog/

I've looked into

[2021-06-18 08:50] #6399 closed, assigned to nobody

[2021-06-18 08:56] Woollins commented on #6399
It turns out $_SERVER['REQUEST_URI'] does not include the subdirectory /blog/

[2021-06-18 19:03] westonruter commented on #2315
Specifically, see https://github.com/ampproject/amp-toolbox-php/issues/194 and https://github.com/ampproject/amp-toolbox-php/issues/195. Other issues (e.g. embed handlers) can be filed as issues in amp-toolbox-php as well.

[2021-06-18 19:03] #2315 closed

[2021-06-18 19:09] westonruter commented on #5378
Note that off-cache AMP will essentially come as a side effect for sites in Standard mode using Bento with L1/L2 sandboxing levels.

[2021-06-18 19:12] westonruter commented on #5191
@delawski This could serve as a guide for what aspects should be adjusted while porting the Validated URL screen over to use React components (#2316).

[2021-06-18 19:29] westonruter commented on #5387
Removing from milestone since nobody has requested this other than one user in a support topic.

[2021-06-18 19:31] westonruter commented on #4978
This will not be relevant if we move away from using loopback requests for user-initiated validation. See #4979.

Also, see #5099 for validation request checking to Site Health.

Related: #3789.

[2021-06-18 19:33] westonruter commented on #3789
Closing in favor of #5099 and the intention to move toward non-loopback user-initiated validation requests.

[2021-06-18 19:33] #3789 closed

[2021-06-18 19:45] westonruter commented on #6295
Maybe later.

[2021-06-18 19:45] #6295 closed, assigned to westonruter

[2021-06-18 21:57] westonruter commented on #5166
This depends on being able to initiate REST API request on the frontend. While this can be done now with the `?amp_validate` query parameter, it would also be satisfied by #5552.

Note that the validation details should not be made available if the user does not have access to DevTools. If the user does have access, but they turned off Dev Tools in their user profile, then we can surface that info

[2021-06-19 17:54] mvneobux opened #6402 "How to add data hero manually"
I know we shouldn't make changes directly to the code. But I have made some manual adjustments and plan to keep them for a while longer before updating the plugin and redoing the changes correctly.

However, I need to include the "data-hero" in the highlighted images and I don't know how to do that.

Currently the image is called:

[code]
The image is generated in this right code: ``$amp_html = $f

[2021-06-19 18:06] westonruter commented on #6402
Ah, so the hero image is not being identified for the featured image in the legacy reader template? That's something we should fix in the plugin if that's the case.

[2021-06-19 18:12] mvneobux commented on #6402
I think you got it wrong.

Everything is working perfectly fine.

I just need to manually add the data-hero to my featured image. So it looks like this: ``<amp-img data-hero src="img" layout="intrinsic" width="719" height="404" ...>``

That is, I just need to add the "data-hero" before the SRC. Can you help me solve this manually?

[2021-06-19 18:23] westonruter commented on #6402
But shouldn't the plugin be adding this attribute for you? If we aren't identifying that featured image as a hero then that would be a bug.

[2021-06-19 18:35] westonruter commented on #6402
I can see that `data-hero` is actually already correctly added automatically in the legacy Reader template. For example, look at this post: https://melchoyce.design/2020/12/09/twenty-twenty-one-available-for-download/amp/

[2021-06-19 18:43] mvneobux commented on #6402
I changed the class-amp-post-template.php file to call my template:
`$template_dir = apply_filters( 'amp_post_template_dir', AMP__DIR__ . '/templates/SonhosAmp2' )`

Because of this, I was wondering if I can make this adjustment without updating the plugin understands?

Because if I update I will lose some manual changes I made.

So it's not a bug, my plugin just isn't up to date.

[2021-06-19 18:51] westonruter commented on #6402
The AMP plugin adds the `data-hero` attribute dynamically. It doesn't need to be in the template itself.

The plugin adds the `data-hero` attribute (well, actually `data-hero-candidate`) with this code:

https://github.com/ampproject/amp-wp/blob/613cd2b1b323a8f9760699e87201d8041f0324d5/src/Optimizer/HeroCandidateFiltering.php#L91-L121

This means it is automatically added when the template calls `

[2021-06-19 20:20] mvneobux commented on #6402
I updated the plugin. And the featured image is automatically appearing the data-hero. However, the first image that would be the logo, the data-hero does not appear. What was there ?

My site: https://www.segredosdosonho.com.br/sonhar-com-ex-sogra/amp/

[2021-06-19 22:18] mvneobux commented on #6402
I managed to solve. Only include the data-hero-candidate in the logo image. And it was all normal. Thanks for your attention and help.

[2021-06-19 22:18] #6402 closed, assigned to nobody

[2021-06-21 14:22] delawski commented on #2316
@kenrodriguesdesign @jwold I was wondering if we want to keep the scope tight or attempt to do a deep redesign?

By _keeping the scope tight_ I mean porting over the existing core table views to React components. UX improvements like the ones listed in #5191 would be done along the way.

By _deep redesign_ I mean updating the Validated URL screen UI so that it matches the existing Settings page, O

[2021-06-21 19:34] jwold commented on #6355
I'm on AMP 2.1.2, and I can't replicate this issue. Here's a 40 second video of the steps I included: https://v.usetapes.com/EQECk9EtWm

[2021-06-21 20:53] westonruter commented on #6355
@jwold It doesn't seem you actually tried navigating to the AMP version.

[2021-06-21 20:58] jwold commented on #6355
Oh, forgot to click on that during the video (did it off recording). Still looks like everything is fine: https://v.usetapes.com/x4upe8IB6r

[2021-06-21 21:40] westonruter commented on #6182
@kristoferbaxter @erwinmombay @jridgewell  I've put together a prototype Optimizer transformer which moves all non-render critical scripts to the end of the `body`, in addition to removing the `modulepreload` link: https://gist.github.com/westonruter/e45cd802a75c7deb80a2a1639b4cea7c

I've deployed this on three sites behind a feature flag. To try it, add the `amp_postpone_script_loading` query par

[2021-06-21 21:49] erwinmombay commented on #6182
cc @rcebulko as well for the latest post

[2021-06-21 22:11] erwinmombay commented on #6182
@westonruter had a question, how do you get the `Chrome Field Performance` ? not sure what option you turn on for the feature on WPT

[2021-06-21 22:18] rcebulko commented on #6182
@westonruter Is it possible to get WPT to run more iterations of these trials? From what I can tell, the FCP and LCP fluctuations are within one standard deviation of the mean for each, so it's not clear how much is signal vs. noise so far

[2021-06-21 22:30] westonruter commented on #6182
@erwinmombay I'm not sure. I don't know most of the configuration settings for WPT. I just ran it with the following:

![image](https://user-images.githubusercontent.com/134745/122835504-50aec580-d2a5-11eb-96a7-08c4e7f2b0dc.png)

@rcebulko The URLs for testing yourself are all linked in the table.

The results I believe will be much more telling when there are more AMP scripts on the page. I'm goi

[2021-06-21 23:28] westonruter commented on #2316
+1 to keeping the scope tight.

We'll need to do a deep redesign with the introduction of PX Analyzer, when the scope of the screen moves beyond just validation data to include information such as provided by PageSpeed Insights.

[2021-06-22 06:23] westonruter commented on #2431
I think we've settles on a good path now. We no longer support WP<5.6 or Gutenberg<9.2.0 on the edit post screen, in which case we show an upgrade notice. Otherwise, on screens where we have complete control (settings screen and onboarding wizard), we polyfill all scripts so that the screens will work even in WP 4.9. See #6225.

[2021-06-22 06:23] #2431 closed

[2021-06-22 14:30] jwold commented on #2316
I spoke with @kenrodriguesdesign a few days ago, and he was quite interested in bringing a new UI to match the settings page and onboarding. Perhaps, depending on the timing, @delawski could implement parts of that, and postpone others.

[2021-06-22 19:59] rsmith4321 opened #6414 "Gallery Shortcode amp-carousel=true no longer works"
It seems like when using a gallery shortcode the amp-carousel=true no longer seems to have an effect.  Has this functionality been removed or am I missing something?  Thanks!

[2021-06-23 03:50] westonruter commented on #6036
One of the areas of optimization is to force the `NonBreakingSpaceOverride` font to have `font-display:optional`. But it seems this is already the case in the plugin. See https://github.com/WordPress/twentynineteen/pull/585 and https://github.com/WordPress/gutenberg/issues/11405.

[2021-06-23 04:08] westonruter commented on #6414
It's working for me.

I just tried adding a Shortcode block that contains:

[code]

And on the frontend it rendered as a gallery on an AMP page:

![image](https://user-images.githubusercontent.com/134745/123034250-05c4a900-d39e-11eb-98e2-f4887dfaff8c.png)

[2021-06-23 06:02] askmeoffers commented on #6182
@westonruter Is there any way to merge this prototype in the AMP plugin and for our site and test it?

[2021-06-23 06:06] westonruter commented on #6182
@askmeoffers the prototype is a plugin which you install alongside the AMP plugin: https://gist.github.com/westonruter/e45cd802a75c7deb80a2a1639b4cea7c

[2021-06-23 06:09] askmeoffers commented on #6182
@westonruter, wow, thank you! I am going to deploy it right away also now, with the above-prototyped plugin, can i remove the below lines recommended by @schlessera

use AmpProject\Optimizer\Transformer\RewriteAmpUrls;
use AmpProject\Optimizer\Configuration\RewriteAmpUrlsConfiguration;

add_filter( 'amp_optimizer_config', static function ( $config ) {
	$config[ RewriteAmpUrls::class ][ RewriteAmpU

[2021-06-23 06:27] westonruter commented on #6182
I would recommend removing that code to re-enable ESM modules, yes. Do note that my plugin is a proof of concept that is requires a query parameter to be supplied (`?amp_postpone_script_loading`) as a feature flag. So normal visitors won't see the changes.

[2021-06-23 06:41] askmeoffers commented on #6182
Hi, @westonruter. Thank you, I ran a couple of test iterations (10+ times )on our dev server. The speed score on the google page speed has improved with the query parameter ?amp_postpone_script_loading compared to the previous. Also, there is more stability in speed score than fluctuating results previously.

How can we deploy it to a live server so that we do not need to pass any query parameter

[2021-06-23 15:12] rsmith4321 commented on #6414
Sorry for the trouble. It's funny I actually had disabled amp on the page I was testing and that was the only issue.  Thanks for the help.

One other question. I notice object-fit="cover" is being adding inline to my carousel.  Is there a way to change this to "fill" so the images aren't cropped?  Unless it's something I've done by accident, it seems like fill should be the default.  Thanks!

`<am

[2021-06-23 15:12] #6414 closed, assigned to nobody

[2021-06-23 15:58] djuric opened #6415 "Google indexed AMP pages without /amp in URL"
## Bug Description

I have a clean installation of WordPress here https://tik.bar with only two active plugins, AMP and Yoast SEO.
There are 8 published posts in total and all of them have AMP enabled.

For some reason, AMP versions which were indexed don’t have /amp in the URL. For example:

Original post URL: https://tik.bar/he-was-sitting-in-a-trash-can-with-high-street-class/
AMP post: https:/

[2021-06-23 17:03] milindmore22 commented on #6415
Hello @djuric

Only valid AMP pages are eligible for AMP cache, if your page can be found on the AMP cache that means it's a valid AMP page, The AMP cache serves pages differently you don't need to re-validate it.

Regarding [AMP cache URL](https://amp.dev/documentation/guides-and-tutorials/learn/amp-caches-and-cors/amp-cache-urls/?format=websites) it is a reference to canonical URL and may not ha

[2021-06-23 17:32] aaemnnosttv opened #6416 "Validation issue from AMP plugin on WordPress nightly"
## Bug Description

The AMP plugin seems to be triggering invalid AMP markup in WordPress nightly.

<details>
<summary>Validation error JSON</summary>

[code]

</details>

<details>
<summary>Site Health</summary>

[code]

</details>

## Expected Behaviour

No validation errors from the AMP plugin 😇

## Steps to reproduce

1. Install and activate latest AMP plugin on WordPress nightly using default

[2021-06-23 21:14] dkoo commented on #6035
Just wanted to add that this issue is reproducible after the first page load if you hard refresh (hold shift + refresh).

EDIT TO ADD: This appears to be caused by the use of `display: table-caption` in [WP core styles](https://github.com/WordPress/WordPress/blob/master/wp-includes/blocks/image/style.css#L94). It therefore affects any `figcaption` inside an image block with any alignment class. Th

[2021-06-23 21:18] #6230 closed, assigned to westonruter

[2021-06-23 21:38] pierlon commented on #6416
Thanks for raising the issue @aaemnnosttv. We should have this fixed in the upcoming release.

[2021-06-23 21:44] #6416 closed, assigned to pierlon

[2021-06-23 22:54] pierlon commented on #6305
**QA Passed**

The number of undefined functions are included in the "cURL multi functions" Site Health check. When there is one undefined function:

<img width="784" alt="image" src="https://user-images.githubusercontent.com/16200219/123177877-1a637880-d454-11eb-9796-b6410709bd7f.png">

And when there are more than one:

<img width="780" alt="image" src="https://user-images.githubusercontent.com/

[2021-06-24 00:02] westonruter commented on #6182
@askmeoffers can you please share URLs so we can compare before/after? It's not yet suitable to remove the feature flag because the AMP validator does not yet allow scripts in the body and so your pages would not be valid AMP.

[2021-06-24 04:03] askmeoffers commented on #6182
@westonruter Thank you! I have removed security protection from the dev server.

Before URL: https://dev-askmeoffersomsairam.pantheonsite.io/

After URL: https://dev-askmeoffersomsairam.pantheonsite.io/?amp_postpone_script_loading

Due to some recent chrome updates, our page speed is fluctuating a lot without this prototype. The CUX report immediately impacts our organic rankings, so I will reques

[2021-06-24 04:54] westonruter commented on #6182
Thank you.

For this page, the changes introduced with the proposed optimization are:

* Removal of `link[rel=modulepreload]`.
* Moving `amp-autocomplete` and `amp-bind` scripts to the end of the `body`.

Since there aren't many AMP scripts, the impact is minimal but it does seem to be a win for LCP.

## PageSpeed Insights

The changes result in a 3 point bump to the PSI score, 95 to 98. It also r

[2021-06-24 06:50] djuric commented on #6415
Thanks for your reply.

This page https://tik.bar/cursive-writing-is-the-best-way-to-build-a-race-track/amp/ is a valid AMP page but in AMP cache it says it's invalid https://www.google.com/amp/s/tik.bar/cursive-writing-is-the-best-way-to-build-a-race-track/ . There were no changes to the page since it was created.

AMP page has correct canonical URL pointing back to original page and original pag

[2021-06-24 12:36] gimmiefreebies opened #6424 "Blank White Page when linking to website in Facebook App for Android"
Hello, last Thursday my Facebook fans notified me that any links to my website, accessed through the Facebook app on Android, opened to a blank white page. In other words, links to my website were posted on Facebook. Fans using an Android device with the Facebook app tried to access my website links on Facebook app. Facebook app, by default, uses its own browser. My web page opened a blank, white

[2021-06-24 13:06] milindmore22 commented on #6424
The issue seems related to Facebook's Andriod App's Browser not redirecting the pages properly to the AMP version.

I will recommend contacting [Facebook Support](https://developers.facebook.com/support/) also follow [this](https://developers.facebook.com/support/bugs/386564952789501/?join_id=f22e1cd3806adb8) bug which was recently opened describing the same issue.

[2021-06-24 13:11] milindmore22 commented on #6424
for now, I will recommend posting the AMP URL in the Facebook post or disabling the mobile redirect.

[2021-06-24 14:56] gimmiefreebies commented on #6424
Can you disable the mobile redirect ONLY for links posted in Facebook app?

[2021-06-24 17:41] milindmore22 commented on #6424
@gimmiefreebies JFI : I currently debugging this at my end and may come up with a  mini plugin or code snippet that you can use to disable mobile redirect on Facebook.

[2021-06-24 19:43] milindmore22 commented on #6424
@gimmiefreebies Please download and install [this](https://github.com/milindmore22/amp-facebook-fix) mini plugin which disables mobile redirection only for facebook's in-app browser, let me know if you face any issues.

[2021-06-24 20:13] westonruter commented on #6424
Conditionally disabling mobile redirection may not work when page caching is employed, as the page caching plugin may not vary caches by the FB user agent.

[2021-06-24 23:01] westonruter commented on #4729
Obtaining the dimensions of embedded content is going to be increasingly important as part of the Bento effort because components like `amp-twitter`, `amp-facebook`, etc will no longer be resizing themselves without user interaction. In other words, they will require `overflow` buttons on AMP pages to expand if they are in the first viewport. See https://github.com/ampproject/amphtml/pull/35027 an

[2021-06-24 23:13] westonruter commented on #4729
Added AC and IB.

[2021-06-24 23:31] westonruter commented on #4729
The downside to the client-side approach is that any existing embeds will not have sizes supplied. To supply the initial heights, a site owner would have to touch it: open the post in the editor and re-save once the embeds have loaded. In order to supply the heights for all previous embeds in an automated way, this would involve having some UI that programmatically opens each post one-by-one in an

[2021-06-25 00:15] westonruter commented on #6415
If the AMP page is at https://tik.bar/cursive-writing-is-the-best-way-to-build-a-race-track/amp/ then the Google AMP viewer would indeed include `/amp/` in the URL.

For example, if I search for [site:vintageportland.wordpress.com mount tabor map] then I get this result:

When I tap that I am taken to a Google AMP Viewer with `/amp/` in the URL: https://www.google.com/amp/s/vintageportland.wordpre

[2021-06-25 08:09] djuric commented on #6415
hey @westonruter thanks for taking the time to check this.

Site has been in Reader mode from the start, I enabled Reader right after plugin activation.

I also think that cached URL must have /amp, all the other sites (including the one you showed) have /amp or /?amp in google viewer. I have no idea how Google can cache the version without /amp and show it as valid AMP page.

**Note:** when this

[2021-06-25 09:46] milindmore22 commented on #6424
@westonruter Should we introduce a filter that passes user agents on which mobile redirect won't happen, so kind of selective redirect

[2021-06-25 12:37] gimmiefreebies commented on #6424
I do use Cloudflare, as well as SG Optimize wp plugin, which has its own caching (NGINX direct delivery, dynamic cache, and memcache)

[2021-06-25 16:48] westonruter commented on #6424
@milindmore22 I think that could cause problems because when page caching is used, the result is that page caching could end up caching the redirect to the AMP version when the FB user agent is used. If the cache isn't varied by the FB user agent, then non-FB desktop user agents could end up getting getting redirected to the AMP version unexpectedly.

[2021-06-25 17:17] milindmore22 commented on #6424
@westonruter I was thinking of passing those user agents in mobile redirection script like `rejectedMobileUserAgents` and add a check before `mobileUserAgents`,  we can add a filter to pass rejected Mobile User Agents, so users can make use of it in such situations in the future.

@gimmiefreebies As Weston pointed out the mini plugin may not work very well when page caching is used, so I will reco

[2021-06-25 18:00] westonruter commented on #6424
This is captured in #5387 with a proposal to add a filterable user agent exclusion list which could by default include tablets, but a user could also add FB.

[2021-06-25 18:46] westonruter commented on #4729
It seems we may need to check responsive breakpoints to determine the heights of the embeds. Adding a tweet I can see that on mobile it is ~500px high but on tablet/desktop it is 630px high:

https://user-images.githubusercontent.com/134745/123470439-45abac00-d5a9-11eb-90d0-9668d769092e.mov

Mobile | Tablet/Desktop
-------|----------
![image](https://user-images.githubusercontent.com/134745/123470

[2021-06-25 19:33] westonruter commented on #6415
This isn't an issue with the Vintage Portland example I showed above. That site is using Reader mode as well, but it has the `/amp/` URLs showing up in the Google AMP Viewer. I'll have to ask around if anyone on the AMP team has an idea of what is going on.

[2021-06-25 21:53] westonruter commented on #6415
We're currently investigating this.

We're seeing some inconsistencies. For example, if I search for [site:tik.bar he-was-sitting-in-a-trash-can-with-high-street-class] then I get an AMP page showing in the viewer successfully. But if I search for [site:tik.bar cursive-writing-is-the-best-way-to-build-a-race-track] then it shows the sad phone and redirects me to the AMP page on origin. Something s

[2021-06-26 02:14] westonruter commented on #6182
I've opened a PR to remove `modulepreload`: https://github.com/ampproject/amp-toolbox-php/pull/261.

I intend this to be included in v2.1.3 next week.

The changes to moving non-critical `scripts` to the end of the body will have to wait for validator changes.

[2021-06-27 11:01] djuric commented on #6415
Yep, very odd. For the one that is showing in AMP viewer successfully, I can force it to become invalid at any time by sending content update request like it's explained here https://developers.google.com/amp/cache/update-cache . I get "OK" from cache clearing response and then page becomes invalid in AMP viewer. I didn't yet do this for any of the posts on this website (I didn't even create priva

[2021-06-28 05:27] schlessera commented on #4729
Instead of using the `media` attribute and including multiple versions of a same element, we could use inline styles like we do with other parts of the SSR transformation, so that we can encode all breakpoints onto a single AMP element.

[2021-06-28 05:32] schlessera commented on #4729
Nevermind, there's no layout that would fit our needs and allow us to not specify the `height`, as we would need knowledge about the "aspect ratio" encoding into the HTML markup in all of the scenarios.

[2021-06-28 15:20] rsmith4321 opened #6428 "object-fit with amp carousel"
## Feature description

Is there a way to change the object-fit property on the amp carousel that was added with a standard gallery shortcode. My galleries always have object-fit="cover" added inline in the html and I can't find a way to override this with css.  I would like it to be object-fit="contain".  Thanks for the help!

---------------

_Do not alter or remove anything below. The following

[2021-06-28 17:29] felixarntz opened #6429 "Allow a site to express the need to be 100% AMP"
## Feature description

Related to #1235 and https://github.com/google/site-kit-wp/issues/2998, it looks like currently it is impossible for a third-party to really know whether the AMP plugin is truly using AMP-only, since even in Standard Mode there are ways to opt out e.g. on a per-post basis. While this makes sense to most end users of the AMP plugin, for users (arguably with enough technical

[2021-06-28 19:03] westonruter commented on #6429
See also prior discussion in https://github.com/google/site-kit-wp/issues/2998#issuecomment-824546216:

We'll likely be revisiting this with Bento because a site would be able to serve all pages using AMP/Bento components without the need to disable AMP selectively for certain templates. When the least-restrictive sandboxing enforcement enabled (L1, https://github.com/ampproject/amp-wp/issues/5549

[2021-06-28 22:16] westonruter commented on #6415
There may be an issue with how the AMP Cache understands (or fails to understand) the mobile redirection functionality, specifically the JavaScript-based redirection which is enabled by default. The reason we use JS for redirection is that it is the most compatible across various caching layers in WP, so you don't have to worry about varying the cache by user agent. We implemented this redirection

[2021-06-28 22:24] westonruter opened #6432 "Detect if mobile redirection can be safely done server-side"
## Feature description

As discussed in https://github.com/ampproject/amp-wp/issues/6415#issuecomment-870082293, mobile redirection is done client-side via JavaScript by default. This is because it is most compatible across various caching layers, avoiding the need to vary caches by the same user agents. Nevertheless, JS-based redirection is much much slower than HTTP-based server-side redirection

[2021-06-28 22:24] westonruter commented on #4386
See also #6432, where we can detect cache varying by mobile user agents to determine if we can default to server-side redirection.

[2021-06-28 22:34] westonruter commented on #6432
This would fix redirection in some cases as well, for example in #6424 the Facebook user agent isn't redirecting properly.

[2021-06-29 20:30] westonruter commented on #6415
Google internal: b/192232306

[2021-06-30 03:28] westonruter commented on #6060
This can now be worked on as a PR off of #6436.

[2021-06-30 05:14] westonruter commented on #6428
The `object-fit` is coming from this code:

https://github.com/ampproject/amp-wp/blob/14433a512b706643a7342b67ba119d481c6e5385/src/Component/Carousel.php#L93-L101

This is happening during post-processing so unfortunately it's not something that can be fixed with just some CSS.

The quickest solution would be to create a mini plugin that registers a new sanitizer that replaces `object-fit="cover"`

[2021-06-30 06:28] westonruter commented on #6071
This goes along with Site Scanning. After having done a Site Scan in the onboarding wizard, the results could recommend whether the user should use Standard mode. On the last step of the onboarding wizard, where we should the preview of the site, we can show them not only the latest post but have come up with a list of URLs to check and encourage the user to click each and see how the pages behave

[2021-06-30 13:45] jamesozzie commented on #6428
@rsmith4321 Can you try [this mini plugin](https://github.com/milindmore22/amp-carousel-img-attribute-remover), which will ensure all individual images used the "contain" value.

[2021-06-30 15:22] jwold commented on #6071
Further notes from today's call:

* MC > I saw that WR had a comment on the issue, and mentioned it could be part of site scanning, however on yesterday’s call the team thought about in the Curren onboarding wizard itself we could add a quick instruction about going ahead and testing out the site so that it’s something that could be included at the earliest.
* WR > Yeah, I can’t remember the last

[2021-06-30 19:17] jwold opened #6438 "Add toggle to disable AMP page from within the AMP editor sidebar"
## Feature description

Right now users can disable AMP on a per page basis by visiting the settings sidebar, and navigating to the page tab; from there they can expand the AMP accordion and disable AMP. We've added this ability here, as well as the pre-publish page.

A new location we can add it to is the AMP specific sidebar. This is where we're trained to go to solve AMP related issues on a per

[2021-06-30 19:30] westonruter commented on #6438
One complication with this is that once AMP is disabled, then the AMP Validation sidebar is removed entirely. So the user wouldn't know how to enable AMP again. In other words, if it is added here then the toggle would never appear in an Off state. That being the case, maybe a button would make more sense?

[2021-06-30 19:34] jwold commented on #6438
Good point! Is it possible to make a button/link to open the other sidebar? Then we're training people where to go.

[2021-06-30 19:37] westonruter commented on #6438
Yes, I believe so. We actually do that already, as there is a button from the AMP status accordion item to open the AMP Validation sidebar. So we could add the reverse.

[2021-06-30 21:40] jwold commented on #6438
Tentative approach we could make:

![Group 4](https://user-images.githubusercontent.com/3411173/124035174-0b7b4980-d9b1-11eb-84cd-68685b08eb76.png)

[2021-06-30 23:01] pierlon commented on #6416
**QA Passed**

With the latest WordPress nightly installed (version 5.8-RC1-51270), I no longer see any validation errors regarding the `regenerator-runtime` script:

<img width="1208" alt="image" src="https://user-images.githubusercontent.com/16200219/124041753-7e96b700-d9d5-11eb-9185-2981c9b708b6.png">

[2021-07-01 00:01] westonruter commented on #6339
**QA Passed**

I created a post, page, category, tag, and user  all with the `amp` slug. I also registered a taxonomy and a post type with the `amp` slug. And I also registered an `amp` rewrite endpoint. I then got the message as expected, without the ability to select path suffix or legacy Reader structures:

![image](https://user-images.githubusercontent.com/134745/124045538-b77a6000-d9c4-11eb-9

[2021-07-01 00:06] pierlon commented on #6316
(QA comment: https://github.com/ampproject/amp-wp/pull/6318#issuecomment-871801935)

[2021-07-01 00:25] westonruter commented on #6230
**QA Passed**

JS disabled:

![image](https://user-images.githubusercontent.com/134745/124046802-a2530080-d9c7-11eb-8a93-d49988931580.png)

JS error in `api-fetch.min.js`:

![image](https://user-images.githubusercontent.com/134745/124046910-d9c1ad00-d9c7-11eb-9c94-0e535a880b41.png)

JS error in `lodash.min.js`, after 30 second timeout:

![image](https://user-images.githubusercontent.com/134745/124

[2021-07-01 00:49] pierlon commented on #6355
**QA Passed**

When the Legacy Reader paired URL structure is enabled along with the Transitional template mode, accessing the AMP link of a comment page no longer results in a redirect to a 404 page:

https://user-images.githubusercontent.com/16200219/124048509-7abe6100-d9e4-11eb-857a-7707d38087f9.mov

[2021-07-01 13:24] delawski opened #6441 "Revamp Stylesheets Box on Validated URL Screen"
## Feature description

Following the _strangler fig_ approach, the "Stylesheets" meta box on the Validated URL screen is a good first candidate to go through the redesign process (#2316).

![Screenshot 2021-07-01 at 14 57 07](https://user-images.githubusercontent.com/478735/124128701-4fd41b80-da7d-11eb-8e14-203503fc6fea.png)

Right now, it uses the regular WordPress functionality, i.e. list table

[2021-07-01 18:17] westonruter commented on #6182
@askmeoffers AMP plugin [v2.1.3](https://github.com/ampproject/amp-wp/releases/tag/2.1.3) was just released, including the removal of `modulepreload` as well as other enhancements to the Optimizer (e.g. prerendering more hero images) which should reduce LCP.

[2021-07-02 04:42] askmeoffers commented on #6182
@westonruter  Thank you! we will test it and update here soon.

[2021-07-02 13:46] djuric commented on #6415
hey @westonruter

I tried with server-side redirection in PHP and it's working! Google indexed the page with /amp in the URL

I added this fix on another website (which has the same problem), it's currently not on https://tik.bar which I reported originally. But when I add it here I'm sure it will work too

Thanks a bunch for assisting with this issue!

[2021-07-02 21:17] rsmith4321 commented on #6428
That works, thanks for the help!

On Wed, Jun 30, 2021 at 9:45 AM James G ***@***.***> wrote:

[2021-07-02 21:30] #6428 closed, assigned to jamesozzie

[2021-07-03 00:40] westonruter commented on #5099
Closing this because we've not had many reports of this and we intend to move away from loopback requests for most validation checks. See #4979.

[2021-07-03 00:40] #5099 closed, assigned to nobody

[2021-07-03 00:40] westonruter commented on #4978
Closing this because we've not had many reports of this and we intend to move away from loopback requests for most validation checks. See #4979.

[2021-07-03 00:40] #4978 closed, assigned to nobody

[2021-07-03 00:42] westonruter commented on #4386
Note that if we detect page caching is enabled, we'll need to instruct the user to flush the cache after changing the template mode. See #4843.

[2021-07-03 01:21] westonruter opened #6443 "Introduce support for a more flexible AMP via Bento with levels of sandboxing enforcement"
## Feature description

The AMP plugin currently offers a binary choice: either you are 100% AMP or you disable AMP. The Bento AMP initiative seeks to make AMP more flexible by allowing you to use AMP components on non-AMP pages. In reality, the AMP plugin has supported this to a limited degree in Standard mode. When invalid markup is kept, the AMP plugin serves an AMP page without the `amp` attri

[2021-07-07 06:46] dhaval-parekh commented on #5115
From WordPress 5.5, width and height attributes are automatically added into images in the content by default ([reference](https://core.trac.wordpress.org/ticket/50367)). And already inheriting those that.

However, for sites with an earlier version than 5.5 or Site as disabled that feature. like,
[code]
We have to explicitly fetch image dimensions.

Regarding, the performance impact of transient

[2021-07-07 15:24] thiagovieiradev opened #6449 "Pagespeed Insights with low score"
The AMP versions of my site are rated low on the mobile version, which influences the best metrics for the google web. But I can't solve this problem because it is not possible to remove scripts from the plugin (which are essential for the operation). How to increase my grade?

Ps.: Sorry my English, I used the translator.

![erro1](https://user-images.githubusercontent.com/11833919/124786168-e392

[2021-07-07 15:25] mxbclang commented on #6449
Hi there, @thiagovieiradev! We provide support for AMP on the [WordPress.org support forums](https://wordpress.org/support/plugin/amp/). If you [create a new topic ](https://wordpress.org/support/plugin/amp/#new-topic-0)there, we'd be happy to take a look.

[2021-07-07 15:25] #6449 closed, assigned to nobody

[2021-07-09 04:00] arundhati1213 commented on #4376
how to get url parameter in localstorage in AMP pages

[2021-07-12 19:01] rgomezp opened #6453 "amp-web-push support"
## Feature description
Currently there is no easy way that I know of to integrate push notifications with the official AMP plugin for Wordpress. Setting up notifications requires writing some custom markup (adding the `amp-web-push` tag with configuration properties) that doesn't get removed by the plugin automatically (perhaps you could whitelist amp HTML tags to prevent removal). The plugin does

[2021-07-13 12:51] milindmore22 commented on #6453
Hello @rgomezp

I created a [mini plugin](https://github.com/milindmore22/amp-onesignal-compat) to make OneSignal – Web Push Notifications AMP Compatible, we prompt using it to whoever asks for it in AMP Support Forums.

[2021-07-13 20:11] jwold commented on #6441
@delawski in our last Leads meeting, Alberto asked if we could add a note that the % column is difficult for users to understand. There are some challenges with differentiating between 71% and 49%, for instance. Is this something we could put in numbers visually, or replace the bar with %? The bar itself isn't quite enough to convey what's happening.

cc @amedina and @westonruter

[2021-07-13 20:17] delawski commented on #6441
@jwold That's a good point. Yes, I think we can definitely add a number next to or above the bar, or replace the bar entirely with a number. If you have a suggestion on what would work better, please share.

[2021-07-13 21:26] jwold commented on #6441
I'm thinking in this case we may want to replace the bar entirely just with percentages. Does that make sense?

[2021-07-13 21:32] jwold commented on #6441
<img width="957" alt="Screen%20Shot%202021-07-13%20at%2014 21 29" src="https://user-images.githubusercontent.com/3411173/125528074-d6d9c89e-bc35-4157-a688-3ee582bcb0bc.png">

[2021-07-13 22:02] rgomezp commented on #6453
@milindmore22 ,
And this works with the official AMP plugin?

Are there any plans to integrate it into the official AMP plugin?

[2021-07-14 11:18] milindmore22 commented on #6453
@rgomezp
yes, this works with the official AMP plugin, The AMP plugin allows users to serve AMP pages, it is not purposed to serve push notifications. so it will best approach that AMP Compatability gets adopted in the OneSignal WordPress plugin.

I will try to contribute to the OneSignal WordPress plugin to make it AMP Compatible.

[2021-07-15 12:38] flixwatchsupport opened #6457 "Meta tag getting stripped off in AMP List/Mustache"
## Bug Description

Meta tag getting stripped off in AMP List/Mustache

## Expected Behaviour

Meta tag should not be stripped off.

## Steps to reproduce

I am trying to add ItemList MicroData for Schema but the Meta tag is getting stripped off in the amp-list/mustache. Here's the code I am using for Microdata:

[code]
But in the [output](https://search.google.com/test/rich-results?id=lSysHk1EJGD

[2021-07-15 12:59] milindmore22 commented on #6457
Hello @flixwatchsupport
I will recommend [creating an issue](https://github.com/ampproject/amphtml/issues/new?assignees=&labels=Type%3A+Bug&template=bug-report.yml) in [AMP Core](https://github.com/ampproject/amphtml)

[2021-07-17 07:24] ktmn opened #6459 "Plugin fails to activate using TGMPA"
## Bug Description

When trying to activate the plugin using [TGMPA](http://tgmpluginactivation.com/) I get the following error:
[code]

## Expected Behaviour

It used to work with TGMPA I think.

## Steps to reproduce

1. Generate a TGMPA "Plugin" here: http://tgmpluginactivation.com/download/
2. Add the plugin to `/wp-content/mu-plugins/TGM-Plugin-Activation-2.6.1`
3. Change the `$plugins` varia

[2021-07-18 19:48] tailorvj opened #6460 "Update to v2.1.3 crashes website with Server Error"
## Bug Description

After updating the plugin from v1.5.5 to v2.1.3, the website returns a Server Error. wp-admin is still available.

## Expected Behaviour

I expected it to just work :)

## Steps to reproduce

1. Go to https://www.otot.tv/wp-admin/plugins.php and locate the AMP plugin
2. Click on update
3. Open the homepage
4. See error

## Screenshots

Sorry, I don't feel like crashing my websi

[2021-07-18 22:35] pierlon commented on #6457
@flixwatchsupport the `meta` tag is being stripped because the `amp-mustache` template is being sanitized, per the [docs](https://amp.dev/documentation/components/amp-mustache/?format=websites#sanitization):

It would be great to expose the removed elements and attributes as validation errors but that's currently not the case unfortunately. There is an open issue in AMP Core tracking that feature

[2021-07-18 22:48] pierlon commented on #6460
Hello @tailorvj, thanks for reporting the issue. Unfortunately we won't be of much help unless we know why the update causes your site to crash. Could you submit your [site health information](https://docs.google.com/forms/d/1JTQmphDlk9YgHpDoFRbHXpkDqv8-QmzTT7MDR4AstyQ/viewform?edit_requested=true)?

[2021-07-19 14:36] pierlon commented on #6459
Hi @ktmn thanks for reporting the bug. The issue seems to be how the TGMPA plugin activates plugins. By the time it calls `activate_plugin()`, much of the admin screen has already been initialized , leading to some of our delayed services being immediately registered and thus causing errors like this. Specifically, in this case the `dev_tools.user_access` service is being immediately registered up

[2021-07-19 15:37] schlessera commented on #6459
@pierlon We can add dependency resolution to the services, so that the services can state which other services they depend on, and only get registered once all dependencies are met.

I've done that in the past on more complex projects, and it works very well. It also allows you to define "virtual services" whose only purpose is to serve as a dependency, like a `UserIsLoggedIn` service or an `OnChe

[2021-07-19 16:10] pierlon commented on #6459
Dependency resolution for the services sounds perfect for the job. Also thanks for sharing those slides!

[2021-07-19 20:52] jwold commented on #4795
**Notes from a recent team call:**

At the end of the site scanning, we should have a message: "Please verify that everything is correct."

Site Scanning could then report findings in a user friendly way, and essentially do the Site Review for the user (deprecating #6071 when complete), and have a message, "Some parts of your site may or may not be available, please verify."

So for 2.2 we'll laun

[2021-07-19 20:53] jwold commented on #4719
**Notes from a recent team call:**

At the end of the site scanning, we should have a message: "Please verify that everything is correct."

Site Scanning could then report findings in a user friendly way, and essentially do the Site Review for the user (deprecating #6071 when complete), and have a message, "Some parts of your site may or may not be available, please verify."

So for 2.2 we'll laun

[2021-07-19 21:14] jwold commented on #6071
![Welcome](https://user-images.githubusercontent.com/3411173/126228290-f07e8ce4-f74a-4471-9ce5-dd719be11ef4.png)

![Done standard](https://user-images.githubusercontent.com/3411173/126228303-4c7209b6-ef6f-42ba-aba7-0775bf6414cd.png)

Adding visual updates per latest discussion, pending approval on design. [Figma link](https://www.figma.com/file/SfMlDvHc5KHxJmAZN12PIM/?node-id=2001%3A4812).

[2021-07-19 22:52] #6453 closed, assigned to nobody

[2021-07-19 23:25] westonruter commented on #6459
@schlessera something like described as part of https://github.com/ampproject/amp-toolbox-php/issues/219?

[2021-07-19 23:26] westonruter commented on #6460
Indeed. We need to know what the error is.

[2021-07-19 23:57] westonruter commented on #6071
For this line:

I think it may make sense to link back to the Template modes screen in the wizard itself, instead of linking to the settings screen.

[2021-07-20 00:16] westonruter commented on #5115
I added averages of the 3 runs to the table.

So it looks like the filesystem is 3x faster than transients w/o external object cache is present, but is half the speed of transients with an external object cache.

Therefore, it seems the best way forward is to fetch the dimensions from the filesystem when `wp_using_ext_object_cache()` is `false`, but continue to use transients when a persistent obj

[2021-07-20 00:36] westonruter commented on #6441
Yes, I think replacing the bar with percentage numbers makes sense, or a number overlaying the bar as I recall seeing Ken show a design mock for.

Originally I was just trying to find a good use of `meter`. But it's problematic as shown in your screenshot when there are many small CSS files along with one big one, as it is not clear what is going on.

[2021-07-20 05:20] schlessera commented on #6459
@westonruter It would probably need to be a little more robust, but generally yes. Is this something you want me to take on, at least for the initial design?

[2021-07-20 05:55] westonruter commented on #6459
@schlessera yes, please do. Up until now there has been a need to order the services in a specific way to avoid such dependency resolution problems.

@pierlon Maybe you'd like to implement this with input from Alain?

[2021-07-20 08:23] yogeshbeniwal opened #6465 "Combine AMP with PWA"
## Feature description

Continuing discussion from https://github.com/GoogleChromeLabs/pwa-wp/issues/564, to consider below as recommended by AMP team at https://amp.dev/documentation/guides-and-tutorials/learn/combine-amp-pwa/

- [ ]  AMP pages with PWA features
- [ ]  AMP as entry point into PWA
- [ ]  Use AMP as data source

---------------

_Do not alter or remove anything below. The following

[2021-07-20 11:01] pierlon commented on #6459
Sure that sounds like a plan.

[2021-07-20 19:12] westonruter commented on #809
This is no longer blocked! The `amp-wordpress-embed` component is now a thing as of https://github.com/ampproject/amphtml/pull/34948.

See [example in AMP Playground](https://playground.amp.dev/#share=PCFET0NUWVBFIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiIC8+CiAgPHRpdGxlPk15IEFNUCBQYWdlPC90aXRsZT4KICA8bGluayByZWw9ImNhbm9uaWNhbCIgaHJlZj0ic2VsZi5odG1sIiAvPgogIDxtZXRhIG5hbWU9InZ

[2021-07-21 21:52] westonruter commented on #6465
For AMP as entry point and data source in a SPA, see exploration in https://github.com/ampproject/amp-wp/pull/1519. However, I don't see this PR being merged, as I don't see it as being in scope for this plugin.

Also, see issue for adding AMP content to REST API: https://github.com/ampproject/amp-wp/issues/1014 (and PR https://github.com/ampproject/amp-wp/pull/2827)

[2021-07-23 15:36] kenrodriguesdesign commented on #4843
Hi @westonruter

I have taken this issue up for UI and came up with the following design as a prompt to encourage the user to flush all cache. There will not be any CTA present here. It will just be a notification.

<img width="1135" alt="Screenshot 2021-07-23 at 6 39 49 PM" src="https://user-images.githubusercontent.com/61531990/126786399-d8de50da-f044-4ff6-a8ba-28a2b576b2f7.png">

I had another

[2021-07-23 16:44] jwold commented on #6443
Supporting graphic:

<img width="1187" alt="Screen Shot 2021-07-23 at 9 44 22 AM" src="https://user-images.githubusercontent.com/3411173/126814641-57a8ae00-29a2-4142-822d-cf627dd6fd98.png">

[2021-07-23 17:39] westonruter commented on #4843
It would be nice if we could programmatically flush the cache, but since there is no standardized page caching API (especially when page caching is done remotely via Varnish) the best we can do is provide the prompt to tell the user to seek out the cache purge option with their respective plugin/platform.

In terms of placement of the notification, would it make more sense to add to the "Saved" no

[2021-07-23 21:36] jwold commented on #4386
@westonruter and @dhaval-parekh I've started going through this and want to make sure I understand the flow. Following is a diagram showing the statuses and actions I imagine could exist:

![#4386 Encourage Page Caching](https://user-images.githubusercontent.com/3411173/126843927-ff21ce3a-0b57-46d5-80e7-1f3a12747861.jpg)

1. Is this an accurate flow?
2. Is the flow for **object** cache and **page*

[2021-07-23 23:12] westonruter commented on #4386
Thanks for the diagram.

We won't be able to reliably know whether the host includes the option for object caching or page caching. So we can't direct the user to where to go. When we provide provide a list of possible plugins to use, we'll also need to indicate that they should contact their host for the best option(s).

As for compatibility, that will be a bit tricky to detect. If not using a ca

[2021-07-23 23:28] #3210 closed

[2021-07-23 23:29] westonruter commented on #3210
⚠️⚠️⚠️  This will need careful QA since it involves deletion of data! ⚠️⚠️⚠️

See how I initially tested during review in https://github.com/ampproject/amp-wp/pull/6422#pullrequestreview-714176855.

[2021-07-26 16:30] milindmore22 opened #6485 "Lightbox settings are not honored when Gutenberg is active."
## Bug Description

While debugging an issue for a user from [support topic](https://wordpress.org/support/topic/add-lightbox-effect/#post-14701750), I noticed that AMP Lightbox is forced on Images and Gallery even when the user has not opted-in for it.

The issue may be something similar to #5122

## Expected Behaviour

Lightbox toggle settings should be honored images should not open in lightbox