[2020-07-23 23:11] amedina commented on #4569
I think that is good idea. If we capture the runtime of the AMP plugin as it generates the pages, and also measure the static output, we can subtract the latter from the former we could in principle determine the impact of the generation process on the overall WCVs.

[2020-07-23 23:25] #4655 closed, assigned to nobody

[2020-07-23 23:25] #5084 closed, assigned to westonruter

[2020-07-24 00:15] #4968 closed, assigned to nobody

[2020-07-24 17:47] amedina commented on #4444
It came to my attention some work being done with Puppeteer to detect and contextually surface 'offending' elements in terms of the LPC and CLS  metrics.

The approach uses a puppeteer script that crawls a domain to get a set of URLs, which is run as: `node cwv_crawler.js www.example.com 30`, where `30` is the max number of URLs.

This is the [link to the script](https://gist.github.com/martinschi

[2020-07-24 17:50] amedina commented on #4444
Another relevant and interesting approach (thanks @sebastianbenz for the pointer) is [www.speedlify.dev/](https://www.speedlify.dev/). I like the reporting they provide. On the simpler side, but neat.

[2020-07-24 22:17] westonruter opened #5093 "Generator meta tag unexpectedly indicates reader mode when transitional mode applied"
## Bug Description

When in Reader mode, if the selected Reader theme at any time becomes the same as the active theme, the active template mode automatically transitions to Transitional mode. This is because Reader mode using the same theme as the active theme _is_ Transitional mode; Reader mode entails using a _different_ theme in AMP.

The logic which forces Transitional mode to be used when th

[2020-07-24 22:31] #4774 closed, assigned to nobody

[2020-07-25 06:37] westonruter commented on #5093
We could eliminate the special condition in `get_options` to instead listen for the `switched_theme` action, and if the theme is the same as the Reader theme then update the option to be transitional. That would mean the mode would not automatically switch back to Reader of the active theme is switched, but it would be simpler and maybe less magical.

[2020-07-26 07:17] westonruter opened #5099 "Add validation request ability to Site Health info"
## Feature description

One of the most common support forum topics is users reporting issues with being unable to perform validation requests. This is often due WordPress not being able to perform loopback requests. When that's the case, the issue is not with the AMP plugin but with their site's configuration. Nevertheless, Site Health Info does not currently include loopback request ability in t

[2020-07-26 07:32] westonruter commented on #5013
Note that with this and #5100 there will no longer be a need for `\AMP_Options_Manager::add_settings_error()`. It can be deleted.

[2020-07-26 07:49] westonruter opened #5101 "Discontinue doing synchronous validation requests upon activating plugins"
## Feature description

Depends on #4719.

Relates to #2069.

In #5100 no longer is a synchronous validation request performed when switching template modes. However, what remains is the synchronous validation request when activating plugins.

The validation errors are obtained in `AMP_Validation_Manager::validate_after_plugin_activation()` and then displayed via `AMP_Validation_Manager::print_plu

[2020-07-26 07:58] westonruter opened #5102 "Activating a theme that is also the formerly-chosen Reader theme results in unexpected Reader themes UI"
## Bug Description

When the active theme ends up being switched to be the same as the Reader theme, the Reader theme section unexpectedly still shows that theme still being chosen for the Reader theme.

## Expected Behaviour

A Reader theme should always be selected when expanding the Reader themes list. Or, if the previously

The currently active theme should not be the one that is selected. Nor

[2020-07-26 08:23] westonruter opened #5104 "Selective refresh in AMP Customizer breaks with tree-shaken styles"
When Twenty Twenty is selected as the Reader theme, and the AMP Customizer is opened, upon first selecting a Custom Logo the image looks large in in the Customizer preview. Upon saving and refreshing, the logo looks smaller as expected. The reason for this is the styles that made the logo smaller were not part of the tree-shaken CSS that were present when the page was first loaded, thus when the `

[2020-07-28 00:01] westonruter opened #5114 "Serve all REST API responses with the HTML response for the settings screen"
## Bug Description

Currently when accessing the Settings screen, there is a loading spinner while waiting for these two REST API requests to complete:

![image](https://user-images.githubusercontent.com/134745/88603347-80b7ff00-d029-11ea-8b08-ba893bfd8a49.png)

There is then also a momentary flicker where the Reader theme is blank and then populated once the `reader-themes` request completes:

![

[2020-07-28 01:55] #5104 closed, assigned to pierlon

[2020-07-28 04:46] westonruter opened #5115 "Avoid fetching image dimensions over HTTP when possible"
## Feature description

Fetching an image's dimensions via `FasterImage` over HTTP is resource-intensive. When possible, the AMP plugin should be fetching the dimensions by examining the file from the filesystem.

We should check to see whether it is more expensive to obtain the dimensions of the image at runtime from the filesystem versus obtaining the dimensions of the image via a transient.

Ad

[2020-07-28 04:47] westonruter commented on #5115
We also need to verify that images that end up with a `fill` layout (such as images in a Gallery carousel) do not end up getting their dimensions fetched.

[2020-07-28 22:08] jwold commented on #5070
Here's an updated SVG

[Group 3320.svg.zip](https://github.com/ampproject/amp-wp/files/4991413/Group.3320.svg.zip)

[2020-07-28 23:28] westonruter commented on #5070
@jwold We need the two desktop and mobile illustrations separated out into separate images, without the Desktop/Mobile labels.

[2020-07-28 23:28] westonruter commented on #5070
Here's what I propose:

1. As we discussed earlier, move move the invocation for `ReaderThemes::get_classic_mode()` to append _after_ the `amp_reader_themes` are filtered. Aside: We need to translate `'AMP Legacy'` here.
2. If the filtered output does _not_ include the currently-selected `reader_theme`, then obtain the necessary Reader theme data from `wp_get_theme( $reader_theme )` and `unshift`

[2020-07-28 23:38] westonruter opened #5119 "Add @internal phpdoc tags to all classes, functions, and hooks not intended for developers to use"
## Feature description

We intend to create auto-generated reference documentation from the codebase from parsing the phpdoc blocks. However, there are many functions, classes, methods, filters, actions, etc. which we do not want developers to use. Either the code in question does not need to be directly invoked by developers, or we may intend to deprecate/replace code as we go through the continu

[2020-07-28 23:48] westonruter opened #5120 "Add Site Health test to warn sites when fallback publisher logo will be used for Schema.org metadata"
## Feature description

Users often reported structured data errors related to `publisher.logo.url` being empty. For this reason, we provide a fallback image `amp-page-fallback-wordpress-publisher-logo.png`. Nevertheless, this is not ideal.

There should be a Site Health test that warns administrators when `amp_get_publisher_logo()` returns an image other than the fallback of `amp-page-fallback-wo

[2020-07-29 01:50] #5017 closed, assigned to nobody

[2020-07-29 03:13] johnwatkins0 opened #5122 "All images in a post have lightbox when no image is explicitly opted into lightbox"
## Bug Description

With this plugin active on a site, any page that (a) contains one or more `amp-img`es and (b) doesn't have lightboxing explicitly turned on for any `amp-img` receives auto lightboxing for _all_ images on the page. This document pretty much explains why: https://github.com/ampproject/amphtml/blob/master/spec/auto-lightbox.md

While auto-lightboxing is probably fine for many site

[2020-07-29 04:00] westonruter commented on #5122
See also https://github.com/ampproject/amp-wp/issues/3579#issuecomment-545567310. So the answer to that question apparently is _yes_: we still do need the lightbox toggle.

[2020-07-29 05:37] amedina opened #5124 "Refine overall copy of plugin screens"
Refine details of copy and message across the board.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2020-07-29 06:19] #5066 closed, assigned to schlessera

[2020-07-29 14:31] jwold commented on #5070
@westonruter here you go, happy to make any changes if needed!

[Archive.zip](https://github.com/ampproject/amp-wp/files/4995439/Archive.zip)

[2020-07-29 14:44] jwold commented on #4715
I propose we close this issue. It is no longer accurate since #2673 captured the intent. And I agree with Alberto that it's not a good example of a ticket. :)

[2020-07-29 15:40] #5045 closed, assigned to nobody

[2020-07-29 15:40] #5082 closed, assigned to nobody

[2020-07-29 16:19] westonruter commented on #1756
Depends on #4779.

[2020-07-29 16:56] westonruter commented on #4719
Note we'll need to incorporate site scanning into the settings screen as well.

This should make the recommendations consistent between the wizard and settings screen. See https://github.com/ampproject/amp-wp/issues/4990#issuecomment-659645972.

[2020-07-29 17:05] westonruter opened #5126 "Show all active plugins in Plugin Suppression rather than just those with validation errors detected"
## Feature description

Currently the Plugin Suppression section only appears if there are active plugins which have validation errors currently detected (for non-stale validation results). This results in a section that appears and disappears seemingly at random. This can make it difficult for users who know up-front that they will want to suppress a given plugin, as they'll try to find a scenari

[2020-07-29 18:37] jwold opened #5127 "Update onboarding wizard stepper design elements"
## Feature description

There are a number of small changes we'd like to make to the UI.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

A. Shrink width between letters and convert `AMP` text to font instead of SVG
B. Shorten text to `Official WordPress Plugin` and shrink text to 16px
C. Shrink spacing b

[2020-07-29 18:37] jwold commented on #5127
@amedina and @westonruter and @johnwatkins0 this is a bit different then we discussed. Can you review the changes and let me know if we should tweak further?

[2020-07-29 18:45] westonruter commented on #5127
This looks great to me.

[2020-07-29 18:47] #4715 closed, assigned to nobody

[2020-07-29 18:53] westonruter commented on #5070
@jwold Please remove the device frame. So it should be just these rects:

![image](https://user-images.githubusercontent.com/134745/88840904-08b91880-d192-11ea-9e83-d3a79179be7c.png)
![image](https://user-images.githubusercontent.com/134745/88840973-225a6000-d192-11ea-81ae-1c50ed13c745.png)

[2020-07-29 19:08] jwold commented on #5070
[Icons2.zip](https://github.com/ampproject/amp-wp/files/4996922/Icons2.zip)

Here you go! @westonruter

[2020-07-30 00:30] amedina commented on #5127
Yeah; looks good!

[2020-07-30 01:19] #5127 closed, assigned to jwold

[2020-07-30 03:28] #5114 closed, assigned to schlessera, westonruter

[2020-07-30 03:53] #5124 closed, assigned to amedina

[2020-07-30 04:32] #4684 closed, assigned to nobody

[2020-07-30 04:32] #4871 closed, assigned to jwold

[2020-07-30 14:50] westonruter commented on #4779
Two users recently have reported issues with the `_amp_stylesheets` postmeta being particularly huge:

* https://wordpress.org/support/topic/huge-_amp_stylesheets-postmeta/
* https://wordpress.org/support/topic/database-increasing-fast-because-full-css-for-each-post/

As a first step to mitigate this, as opposed to auto-deleting the `amp_validated_url` posts after a week, what we can do is just pu

[2020-07-30 14:55] westonruter opened #5132 "Delete parsed stylesheets from amp_validated_url posts once stale"
## Feature description

Originally raised in https://github.com/ampproject/amp-wp/issues/4779#issuecomment-666419703.

Two users recently have reported issues with the `_amp_stylesheets` postmeta being particularly huge:

* https://wordpress.org/support/topic/huge-_amp_stylesheets-postmeta/
* https://wordpress.org/support/topic/database-increasing-fast-because-full-css-for-each-post/

In #4779 I p

[2020-07-30 14:56] westonruter commented on #4779
Filed issue for stale stylesheet purging: https://github.com/ampproject/amp-wp/issues/5132

[2020-07-30 15:00] amedina commented on #5132
We may save a summary of the last CSS state (e.g. percentage of CSS budget used), indicate that the results are stale (i.e. purged) and ask for revalidate to obtain the full information again.

[2020-07-30 15:01] westonruter commented on #5132
We could, but since the results are stale it's likely the percentage is no longer accurate. I think it's better to just ask them to re-validate.

[2020-07-30 15:08] westonruter commented on #5132
Importantly, the CSS percentage in the admin bar is “live” so it is not impacted here.

[2020-07-30 15:11] #5086 closed, assigned to pierlon

[2020-07-31 04:08] pierlon opened #5136 "Currently active theme is used if Reader theme is deleted"
## Bug Description

When Reader mode is activated along with a Reader theme and said theme is deleted (for whatever reason), the currently active theme is used to serve AMP pages (essentially operating as if in Transitional mode). This potentially unwanted behavior should be made aware to the user through an admin notice and the Reader legacy theme should be used as a fallback when such cases occu

[2020-07-31 04:54] westonruter opened #5137 "Active theme setting importing fails for “Display Site Title and Tagline”"
## Bug Description

Discovered when testing #5041 for #5039. When importing the setting for “Display Site Title and Tagline” so that the title and tagline are hidden (`blank`), they cannot be re-displayed in the Customizer during that Customizer session.

The issue is likely due to core Customizer logic here: https://github.com/WordPress/wordpress-develop/blob/6d3207d564c6eb19de5d0f0532b30903a97a5

[2020-07-31 05:58] westonruter commented on #5136
Milestoning for 2.0 just in case we can handle the hardening for the big release.

[2020-07-31 21:23] #5039 closed, assigned to nobody

[2020-07-31 21:23] #5137 closed, assigned to pierlon

[2020-07-31 21:31] chvillanuevap commented on #4191
What are the plans to merge this into the plugin? I just updated to version 1.5.5 because the version I downloaded initially (1.5.0-alpha-20200205T225235Z-b246797c6) was breaking the display of posts for logged in users.

[2020-07-31 21:33] westonruter commented on #4191
It's currently milestoned for v2.1. So hopefully in a couple months.

[2020-07-31 21:34] #5048 closed, assigned to jwold

[2020-08-01 00:45] #5126 closed, assigned to westonruter

[2020-08-01 04:25] westonruter commented on #5055
Landed in AMP core: https://github.com/ampproject/amphtml/issues/28672

AMP Toolbox Optimizer PR: https://github.com/ampproject/amp-toolbox/pull/880

[2020-08-01 04:30] westonruter opened #5145 "Tighten up styling of Plugin Suppression table"
Given this screenshot of the Plugin Suppression table in 2.0.0-beta2:

![image](https://user-images.githubusercontent.com/134745/89094029-c3a10c00-d374-11ea-9f6a-0af964e2ba17.png)

There is room for improvement. Namely:

1. A suppressed plugin should have the blue background styling like active plugins do on the plugin list table. Only plugins which have not been suppressed which also have validat

[2020-08-01 04:43] westonruter opened #5146 "Re-validating a URL that redirects can result in an apparent no-op"
## Bug Description

I have a few old validated URL on my site which can see listed when looking for one obsolete Validation Error view:

![image](https://user-images.githubusercontent.com/134745/89094197-2a72f500-d376-11ea-9744-5f5408dfa6c7.png)

When I try selecting them to bulk re-check like so:

![image](https://user-images.githubusercontent.com/134745/89094182-fe577400-d375-11ea-8e55-61b91a2fc

[2020-08-01 05:03] PaolaBozhilova opened #5147 "JS error on settings screen due to _.find not being a function"
## Bug Description

Can't select Reader mode, either through the Onboarding Wizard or the Settings Screen.

## Steps to reproduce

**Onboarding Wizard**
1. Go to AMP
2. Click on AMP configuration wizard
3. Click next button until the mode selection appears. Choose the Reading mode
4. See error "The setup wizard has experienced an error.
_.find is not a function Return to AMP settings."

## Screens

[2020-08-01 06:04] westonruter commented on #5147
@PaolaStoyanova Thank you for testing!

Please share your Site Health info with us. You can do so privately via this form: https://forms.gle/PySNjhhxPLrJU6F1A

There appears to be a plugin compatibility issue and the Site Health info will help us to identify it.

[2020-08-02 20:32] amedina opened #5148 "Update copy of onboarding flow last step"
Add a bit of energy to the message in the last step of the onboarding flow and make it more fluid.

[2020-08-02 23:41] #5148 closed, assigned to jwold

[2020-08-03 07:17] westonruter commented on #2817
Actually, I just realized that my original code snippet in the description (involving `remove_theme_support_on_geo_mashup_requests()`) is overly complicated. The same thing should be cleanly achieved with just this plugin code (running before `plugins_loaded`):

[code]

Nevertheless, I see this is not currently working as expected. In particular, the services are getting initialized _before_ the `

[2020-08-03 07:33] westonruter opened #5152 "Services initialize even when amp_is_enabled is filtered to false"
## Bug Description

As discovered in https://github.com/ampproject/amp-wp/issues/2817#issuecomment-667851927, when `amp_is_enabled` is filtered to be `false`, the services will still be initialized.

For example, on a site in Reader mode with Mobile Redirection enabled, if I add this plugin code:

[code]

When I try accessing a post with a mobile user agent when the URL has `?geo_mashup_content=1`

[2020-08-03 18:53] westonruter opened #5156 "Boolean attributes erroneously flagged as validation errors when name copied as value"
## Bug Description

In HTML boolean attributes can leave off the value entirely, for example `noloading`:

[code]

For compatibility with XHTML, as I recall, the XML-compatible way to achieve the same thing (where values are required) is just to copy the attribute name as the value, like so:

[code]

This is [valid AMP](https://playground.amp.dev/#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+

[2020-08-03 20:49] #5156 closed, assigned to pierlon

[2020-08-04 16:33] westonruter commented on #771
Note: In the same way that the tag-and-attribute-stanizer is allowing Custom CSS that is larger than 75KB (since the style sanitizer is handling it) we should also update the tag-and-attribute sanitizer to allow `i-amphtml-` prefixes. In other words, we can ignore this constraint when we know that the style sanitizer has run:

https://github.com/ampproject/amphtml/blob/01ba647457f8e12f9f7e0a5a23fb

[2020-08-04 16:58] westonruter commented on #1895
@sebastianbenz How about extending the use of `data-hero` to non-`amp-img` components like `amp-youtube`? Then we could add an optimizer transformer that adds `preconnect` links for those components so that we can render them faster.

So given an HTML page that contains (note the `data-hero`):

[code]

The new optimizer transformer could add these `preconnect` links to the page:

[code]

These are

[2020-08-04 17:22] #5145 closed, assigned to schlessera

[2020-08-04 18:20] westonruter opened #5165 "Rename is_amp_available() to amp_is_available()"
## Feature description

In 2.0 there is a new `is_amp_available()` function to go alongside the `is_amp_endpoint()`. However, otherwise we use `amp_` as the prefix like in `amp_is_canonical()`. We should rename `is_amp_available()` to `amp_is_available()` for consistency and use prefixes where possible. The ship has sailed on `is_amp_endpoint()` but at least for the new function we can use the rig

[2020-08-04 18:30] westonruter commented on #2817
See #5153 for the fix to allow `amp_is_enabled` to be used for this purpose.

[2020-08-04 18:36] westonruter commented on #5152
@douglasvb FYI: The aforementioned [gist plugin](https://gist.github.com/westonruter/c3d4d73418b310f12d3cba7245fccebc) I wrote for you last year (ref. your [support topic](https://wordpress.org/support/topic/shortcodes-for-geo-mashup-not-working/)) has been updated to make use of the `amp_is_enabled` filter. This will need to be changed when updating the AMP plugin to v2.0.

[2020-08-04 19:29] sebastianbenz commented on #1895
Good idea! I think we should add YouTube to the automatic hero detection as well. This would also make the heuristic more reliable, as an `amp-img` after an `amp-youtube` element is very unlikely to be a hero image. Currently, the amp-youtube element would be ignored.

[2020-08-04 20:59] amedina opened #5166 "Expose validation status digest (in admin bar) when DevTools disabled"
In 2.0 when dev tools are hidden, the user does not have a way to get any information about the validation status of their pages/site. This is problematic in cases when, for example, some invalid markup is introduced by a plugin, the AMP plugins removes it and there is some misbehavior of the site and the user has no ides what is that coming from.

The solution is to provide a middle point between

[2020-08-04 21:08] swissspidy commented on #3210
This is fixed in WordPress 5.5. Updating via upload is now possible.

Time to unblock?

[2020-08-04 21:09] amedina opened #5167 "Provide Block Suppression capability on AMP pages"
In 2.0 the Plugin Suppression capability allows users to suppress invalid markup from being injected to AMP pages, while keeping the plugin active for  non-AMP pages. In some cases, when a feature of the offending plugin is used and then the corresponding plugin is suppressed, there may be content associated with the feature but it may not be what the user intended.

The plugin should offer the ca

[2020-08-04 21:14] amedina opened #5168 "Handle active Reader theme on primary theme selection screen"
In 2.0 if the user selects as the Reader theme as the selected primary theme, the plugin switches the mode to transitional automatically.  The other way around works differently. If, after selecting the Reader theme, the user attempts to switch the primary theme, the selected Reader theme appears in the options but it cannot be activated.

To make both scenarios consistent, the Reader theme should

[2020-08-04 21:36] westonruter commented on #3210
Yes, let's do it in v2.1.

[2020-08-05 03:17] westonruter commented on #5166
Is this digest the same as shown in the admin bar dropdown as added on #4986?

![image](https://user-images.githubusercontent.com/134745/86656736-8aa39080-bf9c-11ea-8505-049afed11c59.png)

[2020-08-05 06:04] westonruter opened #5169 "Warnings raised in AMP_Style_Sanitizer::get_validate_response_data() due to nodes no longer existing"
## Bug Description

When activating this [gist plugin](https://gist.github.com/westonruter/8a7d83bf33d38cc39b0832361c06c91f) which is rendering an `amp-story` without the required `standalone` attribute (resulting in the entire `amp-story` being removed), there are warnings being raised by code in `AMP_Style_Sanitizer::get_validate_response_data()`:

[code]

Line 2924:

https://github.com/ampproje

[2020-08-05 06:41] #5132 closed, assigned to pierlon

[2020-08-05 07:59] #5152 closed, assigned to pierlon

[2020-08-05 15:09] felixarntz commented on #5147
Potentially related is this problem we had in Site Kit: https://github.com/google/site-kit-wp/issues/1141#issuecomment-588556520

[2020-08-05 17:20] jwold commented on #5136
Taking a stab at the notification to kickoff the conversation.

<img width="1309" alt="Screen Shot 2020-08-05 at 10 20 21 AM" src="https://user-images.githubusercontent.com/3411173/89443576-50e1b900-d705-11ea-94e6-40fbdde95da7.png">

cc @amedina and @westonruter

[2020-08-05 17:35] jwold commented on #1732
@westonruter is this still a relevant issue with the new work we've done on the onboarding wizard?

[2020-08-05 17:36] jwold commented on #3588
Is there any UX work that I can support on this, or is it already pretty much thought out?

[2020-08-05 17:38] jwold commented on #4651
Should we add this as a checkmark in the onboarding wizard?

[2020-08-05 18:59] westonruter commented on #1732
Correct. This is obsolete, or it will be obsolete when the site scanning features are implemented in #4719/#4795.

[2020-08-05 18:59] #1732 closed

[2020-08-05 19:17] westonruter commented on #4651
Yes we should.

[2020-08-05 19:20] westonruter commented on #3588
I think we need to first nail down what information specifically we want to surface from a technical perspective, and then we can explore UX.

[2020-08-05 20:02] westonruter commented on #4625
@amedina Is this still valid? There's also this PR which may also be obsolete: #5007.

[2020-08-05 20:20] amedina commented on #4651
Since we must provide details on what will be shared, etc., one possibility is to add a full step to the onboarding flow, similar to what is done in plugins like Yoast.
<img width="1155" alt="Screen Shot 2020-08-05 at 1 11 40 PM" src="https://user-images.githubusercontent.com/506089/89459944-58fa2280-d71e-11ea-8bb9-58fa495e1257.png">

We need to think this feature thoroughly.

[2020-08-05 20:23] amedina commented on #4625
Yeah; I think both of these can be closes as they were addressed already.

[2020-08-05 20:23] #4625 closed, assigned to nobody

[2020-08-05 20:26] amedina commented on #3588
I agree. Let's think about the feature in the context of the "workflows" we
are discussing as part of the upcoming roadmap. No implementation should be
started on this before we nail down the feature requirements.

On Wed, Aug 5, 2020 at 12:20 PM Weston Ruter <notifications@github.com>
wrote:

[2020-08-05 20:29] amedina commented on #5136
Where is this notice going to be displayed? Main dashboard?

[2020-08-05 20:31] westonruter commented on #5136
Humm. Maybe on the Themes screen and the AMP Settings screen? Showing it everywhere would probably be excessive.

[2020-08-05 20:32] westonruter commented on #5136
Aside: It should say “Legacy” rather than “Classic”

[2020-08-05 20:33] amedina commented on #5136
Agree on both counts.

[2020-08-05 21:27] westonruter commented on #1756
Note: the same underlying mechanisms here should also be site scanning (#4795 and #4719)

[2020-08-05 21:33] #5002 closed, assigned to nobody

[2020-08-05 21:49] westonruter commented on #4568
Related: #3875

[2020-08-05 21:50] westonruter commented on #4559
Closing as resolved

[2020-08-05 21:50] #4559 closed, assigned to nobody

[2020-08-05 21:54] westonruter commented on #3821
Related: We need to provide non-technical users with an escalation path with technical administrators to get assistance with validation errors when they occur. For users who have developer tools turned off, showing the full error details should not be done by default but rather a way for them to ping an administrator with the details.

[2020-08-05 21:56] westonruter commented on #5169
Related: #3393.

[2020-08-05 21:59] westonruter commented on #1755
This is going to be achieved as part of the site scan feature: #4795 and #4719

[2020-08-05 22:47] westonruter commented on #4719
There needs to be a button on the Settings screen to initiate a re-scan.

[2020-08-05 22:48] westonruter commented on #4719
Also, with #1756 when using WP-Cron, we'll want to provide a summary of the most recent site scan results when the user first lands on the Settings screen. Then they can re-scan if they want to get more up-to-date results.

[2020-08-06 01:42] amedina commented on #5166
That is more detailed than I had in mind. Right now is zero information. A mid point between that and dev tools on would be something like "Your site has validation issues". And perhaps a notice  (in admin screen maybe) to either turn dev tools on or contact the system admin, or disable offending plugins.

[2020-08-06 01:45] amedina opened #5171 "Provide counterpart to view with AMP disabled link"
In standard mode there is a link that allows user to see the page with AMP disabled. That is achieved via a query parameter. However, there is no way for the user to go back to the AMP version other than removing the query parameter manually.

The admin bar should keep an AMP "entry point" with a link to switch back.

---------------

_Do not alter or remove anything below. The following sections

[2020-08-06 01:48] westonruter commented on #5166
If the user is an admin, there is no need to turn on dev tools as they can still access the validation screens even with dev tools turned off.

For users who are not admins, then that is where we need to mention something but tell them to ask an admin for help, since they would not be able to access dev tools.

[2020-08-06 01:52] westonruter commented on #5166
In this way it's related to https://github.com/ampproject/amp-wp/issues/3821#issuecomment-669536348.

[2020-08-06 07:42] westonruter commented on #5147
@PaolaStoyanova would you please test a fix in the build linked here: https://github.com/ampproject/amp-wp/pull/5164#issuecomment-668677729.

[2020-08-06 08:13] PaolaBozhilova commented on #5147
@westonruter no problem of course! The problem is the same, only the message is different.
-  development build
![image](https://user-images.githubusercontent.com/12434611/89507947-e187ca00-d7d5-11ea-8f33-6e194ba818b3.png)
-  production build
![image](https://user-images.githubusercontent.com/12434611/89508670-eac56680-d7d6-11ea-979b-5e30a7dee6e4.png)

[2020-08-06 16:08] westonruter commented on #5147
@PaolaStoyanova Thank you for the update. For some reason the [`Array#find`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find) is not defined. Are you by chance using Internet Explorer?

[2020-08-06 16:16] westonruter commented on #5147
Given that you're seeing `M.find` as not being defined here, it could be that minification just by chance resulted in `_` being the variable reported when you first reported the issue, and so the problem may not be due to Lodash being incorrectly polyfilled but rather because `Array.prototype.find` is not defined.

**Update:** Actually, I see that `wp-polyfill.js` does actually polyfill `Array.pro

[2020-08-06 16:56] amedina commented on #5168
Closing as discussed in sync.

[2020-08-06 16:56] #5168 closed, assigned to nobody

[2020-08-06 17:32] westonruter opened #5190 "Restore Analytics admin menu item to link to jump to expanded Analytics drawer on settings screen"
## Feature description

In #5155 for #5013 we moved the Analytics screen to a drawer under the Advanced section on the Settings screen. As part of this, the admin menu item for Analytics was removed. However, users are accustomed to seeing this item. It would be helpful for users to retain this link but have it deep link to the settings screen like via `/wp-admin/admin.php?page=amp-options#analyti

[2020-08-06 17:51] #5013 closed, assigned to westonruter

[2020-08-06 18:46] jwold opened #5191 "Update to validator with usability improvements"
## Feature description

---------------

Did an initial review of the validation screen, and wanted to open an issue with a number of smaller changes that we could review.

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Update the arrows to the default WordPress style (color and size) https://d.pr/i/g69Bbe
* These butt

[2020-08-06 18:47] jwold commented on #5191
cc @kmyram on feedback for accessibility

[2020-08-06 18:48] jwold commented on #5191
cc @amedina and @westonruter for validation on the validator issues 😀

[2020-08-06 20:59] westonruter commented on #5147
Update: We believe to have found the issue. Commit: https://github.com/ampproject/amp-wp/pull/5164/commits/55e297f480fca48b749ba61778f1fe413308b5fb.

Updated build available: https://github.com/ampproject/amp-wp/pull/5164#issuecomment-668677729

[2020-08-06 21:04] #5102 closed, assigned to pierlon

[2020-08-06 22:21] westonruter commented on #5147
@PaolaStoyanova Are you filtering `amp_reader_themes` by chance?

[2020-08-06 22:29] #5147 closed, assigned to nobody

[2020-08-06 23:37] westonruter commented on #5147
I've merged the pull request with what we believe will fix issue.

Please download the [latest development build](https://github.com/ampproject/amp-wp/wiki/Development-Builds) from the `develop` branch to re-test: https://storage.googleapis.com/ampwp_github_artifacts/refs/heads/develop/dev/amp.zip

If the issue is still not fixed, we'll re-open this issue.

[2020-08-06 23:54] westonruter opened #5193 "Not enough space for buttons in onboarding wizard"
In the onboarding wizard, there is not enough space for the Close, Previous, and Next/Customize buttons. On the mobile viewport, the “Close” button should be moved to the top-right corner of the UI. This would even allow for showing the SVGs:

Before | After
-------|------
![congrats-mobile-before](https://user-images.githubusercontent.com/134745/89593627-773a4e00-d804-11ea-918b-c2022552ce25.png)

[2020-08-07 10:56] PaolaBozhilova commented on #5147
@westonruter  I don't use Internet Explorer and I don't filtering by amp_reader_themes, but the good news is that it works! The problem is solved! Thanks!

[2020-08-07 15:45] westonruter commented on #5147
That is very great to hear! Thank you so much for testing and reporting this issue.

[2020-08-07 18:30] #5165 closed, assigned to westonruter

[2020-08-07 19:13] #4805 closed, assigned to westonruter

[2020-08-08 02:24] #5070 closed, assigned to nobody

[2020-08-08 02:24] #5136 closed, assigned to nobody

[2020-08-08 03:36] westonruter commented on #4795
Note: In https://github.com/ampproject/amp-wp/pull/5192#issuecomment-670817538 I hid the template mode warnings on mobile. This should be revisited when theme scanning is implemented, figuring out a way to make warnings show on small viewports. cc @jwold @johnwatkins0

[2020-08-08 04:56] westonruter commented on #5070
I just realized an important implication for this. A theme can now add an `amp_reader_themes` filter to allow another theme to be used for Reader mode, and that theme can be used for Reader mode even when serving the Reader theme.

[2020-08-10 00:17] westonruter commented on #5152
Update: Using the `amp_is_enabled` filter will not be strictly required here. With #5202, AMP processing will not happen if the rendered template does not trigger standard template actions (e.g. `wp_head` and `wp_footer`).

[2020-08-10 07:55] fellyph opened #5205 "allow amp-story-player"
## Bug Description

I'm testing the Web Stories plugin, I'm not sure if I should raise the issue here or at the Web Story repo but I'm getting a validation error DISALLOWED_TAG  for amp-story-player when I add a web story on my posts.

## Expected Behaviour

AMP story should be a valid tag?

## Steps to reproduce

1. Create a new web story
2. Add a web story in a post
3. Try to validate the post

[2020-08-10 08:35] schlessera commented on #5205
Hey @fellyph !

Thanks for the bug report. This is a known issue and should be resolved in the latest v2.0 beta release. See https://github.com/ampproject/amp-wp/pull/5075

[2020-08-10 08:36] schlessera commented on #5205
Fixed via https://github.com/ampproject/amp-wp/pull/5075

[2020-08-10 08:36] #5205 closed, assigned to nobody

[2020-08-10 08:37] schlessera commented on #5205
@fellyph If you want to test with the new beta, you can find the latest release here:
https://github.com/ampproject/amp-wp/releases/tag/2.0.0-beta3

[2020-08-10 09:15] fellyph commented on #5205
Hi @schlessera

I read the v2.0 milestone looks great I will test it.

Thanks!

[2020-08-10 11:15] schlessera opened #5206 "Generate documentation reference markdown by parsing source code"
## Feature description

The reference documentation should be generated from source code, instead of manually maintained, to ensure it is always up-to-date.

This can be done using https://github.com/WordPress/phpdoc-parser, which produces JSON output. Turning the JSON output into templated markdown should then be relatively straight-forward.

This depends on https://github.com/ampproject/amp-wp/i

[2020-08-10 15:13] johnwatkins0 opened #5209 "Request: clipboard-friendly validation errors"
## Feature description

### The problem

While debugging an AMP issue on a client site, I was able to reproduce the error using the validation tools. I wanted to share the error with a colleague in a comment on GitHub, so I copied everything from the "Information" details list heading through the "Source Stack" content. When I pasted it, it came out looking like this:

[code]

### Proposed feature

[2020-08-10 15:44] jwold commented on #5193
I like this change, simplifies and makes it easier to read.

[2020-08-10 17:29] westonruter commented on #5209
Agreed! This is closely related to #4562, and may be one and the same.

[2020-08-10 17:30] westonruter commented on #4562
Related: #5209

[2020-08-10 18:07] rickalee opened #5213 "Infinite Scroll: amp-next-page - Add next-page-hide to #wpadminbar"
For cleaner implementation of infinite scroll via amp-next-page, it would be ideal to have next-page-hide on #wpadminbar by default or option to toggle this on.

https://amp.dev/documentation/components/amp-next-page/

[2020-08-10 19:03] westonruter commented on #5213
Yes, good idea.

[2020-08-10 20:03] johnwatkins0 opened #5215 "Infrastructure: allow setting priority level for registration actions"
## Feature description

Currently when a service implements `Registerable` it must have a `get_registration_action` method to to tell the plugin when to load the class. Ideally we would also be able to set a registration priority. We're able to work around this by registering the service on an earlier action and using `add_action` to kick things off on the later action, but it would be nice to be

[2020-08-10 20:35] westonruter commented on #5215
Also a `get_registration_priority` method could be used, but that would require updating all `Delayed` services to add this.

[2020-08-10 22:15] #5193 closed, assigned to amedina

[2020-08-11 02:25] pierlon commented on #1840
Given the current state of the build process for the plugin I'd say reproducible builds are now possible, and so this issue can now be closed.

[2020-08-11 04:05] westonruter commented on #5206
In #5218 the source code (contained in the `src` and `includes` directories) has been tagged with the necessary `@internal` tags to identify what should be omitted from the generated documentation reference.

[2020-08-11 08:30] ktmn opened #5220 "Facilitate using AMP legacy templates for non-post queried objects"
## Feature description

Hello,

I'm testing `2.0.0-beta3` and `amp_is_available()` is preventing rendering pages that would otherwise have custom support.

For me it happens here:

https://github.com/ampproject/amp-wp/blob/develop/includes/amp-helper-functions.php#L523-L528

(`$queried_object` can be `WP_Term`, `WP_User`, `WP_Post_Type`, or even `false`) but depending on other people's implementat

[2020-08-11 08:59] schlessera commented on #5220
I think that might be a condition that was moved over from reader mode but now inadvertently applies to the other modes as well.

If we want to keep the conditional around and extend it with the other object types, we'll have to extend `post_supports_amp()` to actually be `object_supports_amp()` instead.

[2020-08-11 09:01] schlessera commented on #5220
Ah, I see now that it only applies when `$is_legacy`, so it should only apply to legacy Reader mode. Is that what you are using?

[2020-08-11 09:02] ktmn commented on #5220
Yes, legacy for me

[2020-08-11 10:17] ktmn opened #5221 "Possible conflict with Web Stories plugin"
Think I found a conflict, see if anyone can reproduce.

## Bug Description

Block editor crashes when `AMP 2.0.0-beta3` and `Web Stories 1.0.0-beta.1` are activated at the same time. Crash happens when I click the three dots in the top right corner of the editor, or on the block toolbar. Does not seem to happen when creating a new post, only when editing an existing one.

WP: `5.4.2` (also `5.4.3-

[2020-08-11 15:07] westonruter commented on #5221
cc @swissspidy

[2020-08-11 15:30] swissspidy commented on #5221
I cannot reproduce this. How did you come to the conclusion it's a conflict with Web Stories?

[2020-08-11 17:30] westonruter commented on #5221
@ktmn Do you have any other plugins active? Please submit your Site Health info for providing the full context. You can use a [private submission form](https://docs.google.com/forms/d/e/1FAIpQLSfHk32DRaYLgYO3MMg002_wYKqeWJAvHvj-EoSFWOFyDH6ncw/viewform?usp=sf_link) if you need. Please ping once submitted.

[2020-08-11 18:29] westonruter commented on #5220
@ktmn Using the legacy Reader mode templates has only ever been intended for _posts_, not anything else. This is why the class responsible for rendering legacy Reader mode templates is called [`AMP_Post_Template`](https://github.com/ampproject/amp-wp/blob/6f19b341faf96b97143a1e694f337865262927f6/includes/templates/class-amp-post-template.php). It explicitly is calling post-related functions to con

[2020-08-11 18:49] #1840 closed

[2020-08-11 19:21] jwold commented on #3821
Spent some time today playing with a concept for this. Here is what it looks like right now when you get an inline error:

<img width="1230" alt="Screen Shot 2020-08-11 at 12 20 43 PM" src="https://user-images.githubusercontent.com/3411173/89939630-1ed0cb00-dbcd-11ea-8c83-8bc6f088c134.png">

The idea then is to highlight the block where the error is occurring, and if you select the block, flag the

[2020-08-11 20:03] westonruter commented on #3821
Yes, that is better. However, the warning icon probably can't be placed along the side since it would cause the same layout problems as the inline notice. So can the button to show the validation errors be moved to the block toolbar? Actually this may not even be needed since as soon as a block is selected the block validation errors panel would appear in the sidebar. Maybe that wouldn't promote d

[2020-08-11 23:02] johnwatkins0 commented on #4719
Using this task as the jumping-off point for the various site scanning tasks. I kinda think https://github.com/ampproject/amp-wp/issues/4795 can be closed in favor of this one, but I'll hold off for now.

[2020-08-11 23:04] johnwatkins0 commented on #4719
@jwold Assigning this to you alongside myself for the design aspects. It'll probably be some days before I start on building the UI for this, but I think I'll be there in within 1-2 weeks.

[2020-08-11 23:31] jwold commented on #3821
I like that idea. There are also scenarios where someone may not have the sidebar open, so the [i] info icon could direct a user to click it and have the sidebar open with the relevant error message. Here's an updated prototype:

![Screen Capture on 2020-08-11 at 16-30-14](https://user-images.githubusercontent.com/3411173/89958924-10e07180-dbf0-11ea-8abd-1d0ee5e8657c.gif)

[2020-08-11 23:32] westonruter commented on #4719
In addition to showing the most recent Site Scan results on the Settings screen and providing the ability to trigger a scan from there, there's an opportunity here for integration with Plugin Suppression. So in the Wizard for example, after the site scan has completed, there should be a screen that shows the site scan results, and when there are plugins causing validation errors, provide a way to

[2020-08-12 00:21] westonruter opened #5222 "Facilitate themes marking themselves as AMP-compatible"
## Feature description

Currently we have `add_theme_support('amp')` as the method by which a theme indicates it is AMP-compatible. There's a big problem with this, however: it requires that the theme first be activated to determine if it is AMP-compatible. It's an imperative way to indicate AMP support rather than a declarative way to do so. This is most problematic now with the introduction of R

[2020-08-12 03:31] ktmn commented on #5221
@swissspidy I had this happen in my dev env and deactivating AMP plugin fixed it. Then I added the AMP beta to my vanilla WP env to see if it's a bug and didn't have the error. So it must have been one of the plugins in my dev env. When I narrowed it down to Web Stories, I installed it also to the vanilla env and could reproduce the error - only when both plugins are active.

@westonruter Here's t

[2020-08-12 06:22] ktmn commented on #5220
@westonruter Yeah I'm definitely doing some... "unconventional" stuff. Basically what I do is I give the `AMP_Post_Template` *any* single post to chew on (if there isn't one) but in the templates I render whatever is appropriate, like a `while(have_posts())` loop for archives for example (but not outputting unsanitized `the_content()` for each post of course, although since 1.5 that would probably

[2020-08-12 17:33] #5051 closed, assigned to schlessera

[2020-08-12 17:37] amedina commented on #5222
+1 On this. Let's add it.

[2020-08-12 21:53] westonruter commented on #5220
Yes, I'm not surprised that your implementation has broken multiple times over the years, since it has never been intended to be supported. I do not see us adding a filter to support you doing something that we never intended to support.

Nevertheless, there is probably an alternative to doing what you want to achieve. You can create a Reader theme as I suggested and then put your custom templates

[2020-08-12 21:53] #5220 closed, assigned to nobody

[2020-08-12 22:28] westonruter commented on #5222
We'd need to support probably three flavors of the key: `AMP Compatibility`, `AMP Compatible`, and `AMP`. This is important given the lack of type checking.

For the value of the field, both `theme-support` and `true` can be synonymous, with `legacy` being the other option.

This meta key could also be eventually used in plugins as well to indicate AMP-compatibility, where currently there is no pl

[2020-08-13 03:14] ktmn commented on #5220
@westonruter

Haha fair enough, but I feel like I will have to end up doing something even less intended to support to solve it.

At the end of the day, where I'm coming from is, I want my users to be able to click "Update" and be done with it, everything should work exactly how it has for the past 3 years. That's why I'm legacy. Yeah, maybe shouldn't have implemented AMP support for archive pages

[2020-08-13 03:40] westonruter commented on #5220
My concerns is that adding such a filter would not work out of the box for sites. For example, if someone saw the filter and wanted to try to make legacy AMP templates work for any template they would think that they could do just:

[code]

But that would not work. They'd have to do other hacks as well, the same hacks that you are doing. We'd then have to worry about maintaining compatibility with

[2020-08-13 04:40] westonruter commented on #5221
OK, I've been able to reproduce this issue.

The cause appears to be that in Web Stories 1.0.0-beta1 enqueues a script with the handle `amp-story-player` when in the editor. This script is registered in Web Stories pointing to the _standalone_ script which provides a web component for use in a _non-AMP_ page. However, in the AMP plugin v2.0.0-beta3, the validator spec has been updated to include s

[2020-08-13 04:40] #5221 closed, assigned to nobody

[2020-08-13 04:58] ktmn commented on #5220
Can it not be remedied with wording/comments?

[code]

But yeah, I get your point.

I don't suppose you can think of a way to allow more control without any implications it's a feature?

Theme, yes, my hacks have become incompatible, but I've always been able to fix it before pushing an update of course. This time I may be able to fix it as well, but my main concern was it getting way out of hand,

[2020-08-13 22:21] #5119 closed, assigned to pierlon

[2020-08-13 23:17] johnwatkins0 commented on #1756
re: The discussion we had earlier today about the site scan REST endpoint. I was thinking that if all validation uses the same underlying mechanism, we could potentially solve some problems by working on the cron along with the site scanning for the wizard, etc. in tandem.

Maybe we can do something along these lines:

1. The cron task kicks off on plugin activation and runs with a limit of, say,

[2020-08-14 00:35] edequalsawesome opened #5229 "Paragraph Block with Custom Background Color Not Displaying Text in Contrasting Color"
## Bug Description

In Reader mode, when a Paragraph block is using a custom background color, the background color remains for the Paragraph block, but the text is displayed using whatever theme is

## Expected Behaviour

The background color would be stripped, or the text would be shown in a contrasting color.

## Steps to reproduce
1. Set AMP to Reader mode
2. Create a new post that has a Parag

[2020-08-14 11:23] PaolaBozhilova opened #5232 "In Reader mode gives an invalid amp page"
Hi, I'm using a Twenty Seventeen theme in Reader mode. The amp plugin indicates that it is a valid amp page (in green), but when I test at https://search.google.com/test/amp it gives "Not a valid AMP page". What is the reason for this?

Thank you!

[2020-08-14 18:48] westonruter opened #5233 "Intrinsic dimensions are not supplied for external videos"
## Bug Description

When inserting a Video block that embeds an external video, the resulting video has a [fallback](https://github.com/ampproject/amp-wp/blob/9882286a79cbbb812b97f495030e2a5351fc6c56/includes/sanitizers/class-amp-base-sanitizer.php#L343-L346) [height of `400px`](https://github.com/ampproject/amp-wp/blob/9882286a79cbbb812b97f495030e2a5351fc6c56/includes/sanitizers/class-amp-base-sa

[2020-08-14 18:50] westonruter commented on #5232
@PaolaStoyanova Please provide the URL for the AMP page that is being reported as invalid.

[2020-08-14 19:05] westonruter commented on #5232
Actually, I think I see the the URL from the Site Health info you provided previously.

There appears to be a conflict with W3 Total Cache. Make sure you have the latest version installed. Also, there appears to be a conflict in its minification logic. In the General Settings, try turning off the Minify feature:

![image](https://user-images.githubusercontent.com/134745/90284157-600fe780-de26-11ea

[2020-08-14 19:18] johnwatkins0 opened #5234 "Onboarding wizard: reduce size height of navigation bar at smaller widths"
## Feature description

From @jwold on Slack:

![Screen Shot 2020-08-14 at 11 16 51](https://user-images.githubusercontent.com/9020968/90285096-d1589600-de38-11ea-91db-5cb58d8c968e.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

Bar height is reduced below ~1280px width.

## Implementation brief

*

[2020-08-14 19:18] westonruter commented on #5232
Actually, instead of this I can see the only thing you need to do is go into the "Extensions" screen for W3 Total Cache and enable their AMP extension:

![image](https://user-images.githubusercontent.com/134745/90285206-4bccea00-de28-11ea-9914-5bb6eb553c05.png)

[2020-08-14 19:18] #5232 closed, assigned to nobody

[2020-08-14 19:46] #5190 closed, assigned to jwold

[2020-08-14 20:37] #5234 closed, assigned to jwold

[2020-08-14 20:45] westonruter commented on #1756
Yes, this could reduce the perceived time involved to perform the site scan step, if they are happening in the background. We'd need to make sure that WP Cron gets spawned immediately after activation and not wait around for another request, as if the user is activating the plugin for the first time, they may cause WP Cron to spawn when they click the banner to access the onboarding wizard, and th

[2020-08-14 23:14] #5222 closed, assigned to pierlon

[2020-08-15 00:16] pierlon commented on #5229
Unfortunately, I'm not able to replicate the issue you are experiencing. With Reader mode active, I can set a custom background and foreground color for the paragraph block in the editor and see it reflected on the AMP page without issue. Do you have any plugins enabled that could affect the output of the page?

In the editor:

![image](https://user-images.githubusercontent.com/16200219/90300638-0

[2020-08-15 03:19] #2287 closed

[2020-08-15 15:22] PaolaBozhilova commented on #5232
Thank you, when I installed the extension everything was fine!

[2020-08-15 19:00] edequalsawesome commented on #5229
Just to double-check it (since it was the end of my day and there was a strong chance that I *did* miss a plugin that could be causing an issue!), I re-ran the test on a local test site I set up that only has the default WordPress installation and the AMP plugin installed, and I'm still seeing the same issue:

Here's the post in the editor:

 ![Post - Editor](https://user-images.githubusercontent.

[2020-08-15 19:17] westonruter commented on #5229
I'm seeing the same problem, in both 1.5.5 and 2.0-RC1:

Non-AMP | AMP
----------|------
![image](https://user-images.githubusercontent.com/134745/90319875-14764000-def1-11ea-9923-b95571e2d855.png) | ![image](https://user-images.githubusercontent.com/134745/90319889-1dffa800-def1-11ea-9c74-fcfd4d98475f.png)

[2020-08-15 19:55] westonruter commented on #5229
I've found the problem. The issue is that the active theme's stylesheet is not included on the legacy Reader mode templates. For this reason, these style rules from Twenty Twenty are not included on the AMP page:

https://github.com/WordPress/wordpress-develop/blob/dddddc47f4f89b9136865bf34506fcb99cfc2302/src/wp-content/themes/twentytwenty/style.css#L2743-L2788

I also see the same issue if I swit

[2020-08-15 20:55] pierlon commented on #5229
Thanks for the analysis and temporary workaround @westonruter. Twenty Seventeen seems to not be affected, which is what I was using initially.

[2020-08-16 06:28] westonruter commented on #5220
Here is an alternative workaround theme that allows you to use Transitional mode with your own hacked Reader mode templates: https://gist.github.com/westonruter/685de6e7974aa16ee18ebe2a00726d53

[2020-08-16 06:38] westonruter commented on #5220
Another much simpler option (and without hacking) would be if you eliminated the use of `AMP_Post_Template` and then added this to your theme:

[code]

When `template_dir` is specified then the AMP templates are loaded from that location. So you can put in there your AMP-specific `single.php`, `archive.php`, etc.

[2020-08-16 20:20] westonruter commented on #4795
@johnwatkins0 One key aspect of this issue that is distinct from #4719 is the need to scan the theme for this bit:

There needs to be a REST API endpoint that lists out these entities (post types, shortcodes, blocks, etc), along with a parameter for whether the active theme should be short-circuited. When that same request is made without the active theme short-circuited, then if there is a differ

[2020-08-16 20:20] westonruter commented on #4719
Actually, there is one key piece that is distinct for that issue. See https://github.com/ampproject/amp-wp/issues/4795#issuecomment-674573018.

[2020-08-17 01:49] johnwatkins0 commented on #4795
Thanks for calling that out @westonruter. Yes, I think that's the main sizable new piece of the site scan work, and I'll make that the focus of this issue.

[2020-08-17 10:10] schlessera opened #5240 "Remove preload for AMP runtime again when boilerplate was removed"
## Feature description

When the AMP boilerplate is removed by the SSR logic, preloading of the AMP runtime is less critical and it seems to slow down other assets that are of higher priority in that scenario.

The Optimizer should remove an existing preload for the AMP runtime again when the biolerplate was indeed removed.

This was originally reported by @mehigh here: https://github.com/xwp/xwp.

[2020-08-17 11:03] sebastianbenz commented on #5240
Interesting! Have we got any benchmarks? The xwp link unfortunately doesn't work.

[2020-08-17 14:38] schlessera commented on #5240
/cc @mehigh Do you have something that can be shared?

[2020-08-17 15:14] sebastianbenz commented on #5240
Also adding @kristoferbaxter and @jridgewell for thoughts on this.

[2020-08-17 15:30] mehigh commented on #5240
With preload:
https://files.urldocs.com/share/with-preload-v0/with-preload-v0.html

Without preload:
https://files.urldocs.com/share/no-preload-v0/no-preload-v0.html

https://user-images.githubusercontent.com/367593/90236974-32c63800-de2c-11ea-91fc-dfc483913266.png

The difference is visible in GPSI as well:
With preload (speed index 1.8s+)
https://developers.google.com/speed/pagespeed/insights/?u

[2020-08-17 17:19] kristoferbaxter commented on #5240
Taking a look, thanks for the ping @sebastianbenz.

[2020-08-17 17:19] sebastianbenz commented on #5240
[Webpagetest](https://www.webpagetest.org/video/compare.php?tests=200817_1J_06dcfb3ecd0b808be61775aea8ac3300,200817_21_5082a73169a68d27ac3ca5743e66f262) comparing @mehigh's samples.

[2020-08-17 18:48] kristoferbaxter commented on #5240
A major issue with comparisons like this is the network variability.

Here's another Webpagetest comparison.

https://webpagetest.org/video/compare.php?tests=200817_A9_1975f033d84f7c32dc11e5208906a9fd,200817_DJ_040b5eaf15b7ff00fd36896c6b262295

[2020-08-17 18:56] mehigh commented on #5240
Would running this test against a GC storage instance provide more
consistency? This has Cloudflare CDN in front of a static Html file
delivered by a dedicated metal server.
I think doing an extreme test can either confirm or deny this... Like doing
a preload for a 2MB JavasSript async file vs just loading it async without
a preload. Would that make the difference more pronounced? A test can tell.

[2020-08-17 19:52] kristoferbaxter commented on #5240
To try and get to the bottom of this, I am running a few experiments and will publish them on a Github repo later today.

Here's the comparison of `preload` all versus `no-preload` on this document using Largest Contentful Paint as the driving metric.

<img width="739" alt="Screen Shot 2020-08-17 at 12 50 21 PM" src="https://user-images.githubusercontent.com/61764/90438141-67cec680-e088-11ea-93e9-

[2020-08-17 20:03] mehigh commented on #5240
I think the _first_ contentful paint might be a better metric, as that's what I observed to improve when running local performance audits (with throttling turned on).

[2020-08-17 22:21] kristoferbaxter commented on #5240
I've created a repo [here](https://github.com/kristoferbaxter/preload-runtime) where you can explore these modifications a little more cleanly.

Adding a test for FCP would be quite easy.

[2020-08-18 16:19] kmyram commented on #3210
This needs an Implementation Brief or similar to that effect

[2020-08-18 16:33] jwold commented on #3821
We just had a discussion about this, and it may make sense to remove the (!) icon from the top right, to simplify the work, since manipulating the DOM may be challenging.

[2020-08-18 16:59] schlessera commented on #5166
We should change the way we refer to the change we make to the DevTools. What we need is feedback on validation errors for users, even when DevTools is "hidden". However, adding feedback then would basically create a second, simplified DevTools mode that replaces the one we just hid.

Instead of "hiding" or "disabling" DevTools for non-developers, I think we should rephrase this in the sense that

[2020-08-18 19:00] johnwatkins0 commented on #5167
From what I understand after discussing this earlier, the acceptance criterion for this would be, "On AMP pages, all block markup associated with suppressed plugins is filtered out of the post content."

The challenges are:

- Statically rendered Gutenberg blocks are saved into the database in the post content. So even where their plugin is suppressed their markup still renders.
- If these blocks

[2020-08-18 23:57] HardeepAsrani opened #5244 "Add AMP Bodymovin animations support"
## Feature description

Any plans on adding Bodymovin support to the plugin? It's already a part of AMP and would be great to have it on AMP-WP: https://amp.dev/documentation/examples/components/amp-bodymovin-animation/?format=websites

Also, how can one register a script from AMP components which aren't part of the plugin?

---------------

_Do not alter or remove anything below. The following se

[2020-08-19 02:22] pierlon commented on #5244
The `amp-bodymovin-animation` component is already supported by the plugin so there should be no problems with using it.

Registering a script for an AMP component not supported by the plugin is quite trivial. For example, if the `amp-bodymovin-animation` component was not supported you could register the script like so:

[code]

[2020-08-19 02:57] pierlon opened #5245 "Validation error occurs when a number is used for loop attribute in amp-bodymovin-animation component"
## Bug Description

While looking into #5244 I noticed when a number is used for the `loop` attribute a validation error occurs. For example, with the following markup:

[code]

The validation error is:

![image](https://user-images.githubusercontent.com/16200219/90584964-47efed80-e1c3-11ea-98e6-d5d9ea454a0a.png)

I also notice the same error when using the AMP Validator:

![image](https://user-im

[2020-08-19 02:59] pierlon commented on #5244
I noticed when the `loop` attribute is used for the `amp-bodymovin-animation` component, a validation error is raised. I've filed a separate issue for that in https://github.com/ampproject/amp-wp/issues/5245, and I've also reported it as a bug in https://github.com/ampproject/amphtml/issues/29890.

[2020-08-19 03:45] westonruter commented on #5244
Nevertheless, if the AMP plugin isn't already registering the script then it's likely that the plugin will flag it as being a validation error since it doesn't recognize it.

So if a script isn't currently being registered by the plugin, then that generally means the plugin is overdue for a validator spec update.

[2020-08-19 04:06] HardeepAsrani commented on #5244
Thanks! @westonruter and @pierlon

I think it might not be working because I was using a JSON which was stored in localhost and I see AMP uses an iFrame to ampproject.net which might was probably why it wasn't loading. I will close this. 👍

[2020-08-19 04:06] #5244 closed, assigned to nobody

[2020-08-19 05:32] ernee opened #5246 "Twenty Twelve Theme compatibility: Menu Issues"
## Bug Description

Prompted by a [forum support topic](https://wordpress.org/support/topic/twenty-twelve-main-menu-bounces/), it appears the AMP version of the [Twenty Twelve theme ](https://wordpress.org/themes/twentytwelve/) is currently displaying a few issues with the _Primary Menu_:

a) When using a custom menu, the menu shifts/ jumps to the center after clicking menu items: https://recordit

[2020-08-19 06:08] westonruter commented on #5246
@pierlon I haven't been able to see the issue myself yet, but if it can be fixed for 2.0 it would probably be ideal given that core themes will be more commonly used as Reader themes.

[2020-08-19 08:40] mehigh commented on #5240
I did test a scenario where I'm preloading a script (a large 700KB random JS file) from the same domain to see whether there's a negative impact to FCP:
https://files.urldocs.com/share/large-preload-extreme-test/large-preload-extreme-test.html

Here's the webpage test where both tests had 0.850s and 0.871s first byte times - where a 0.2s delay for the first paint of the background color is observe

[2020-08-19 09:36] pierlon commented on #5246
Did a `git bisect` and found that https://github.com/ampproject/amp-wp/commit/445798298649476d096cb7af2cd18e8cc9b5b456 seems to be the origin of the bug. Will open a PR with a fix in the morning.

[2020-08-20 06:48] StephenThiam629 commented on #5246
My website used the GeneratePress theme to have the same issue. The Menu on mobile is not working. Is there any solution?

[2020-08-20 12:23] PaolaBozhilova opened #5249 "Wrong redirection of portfolio pages"
Hello, please help with the following problem.
In Reader mode, when I select an AMP version of a "portfolio" page, it redirects me to a similar non-AMP version of a "product" type page (in the online store). When such a similar page does not exist, it redirects me to the AMP version of the 404 page.

Thanks in advance!

[2020-08-20 15:51] westonruter commented on #5249
You're using v2.0.0-RC1, correct? And are you using a new Reader theme or AMP Legacy?

Please provide a URL that is unexpectedly redirecting on mobile.

[2020-08-20 16:34] westonruter commented on #5249
Also, providing your current Site Health info would be helpful.

[2020-08-20 17:01] jwold opened #5250 "Settings page: Move "Customize Reader theme" button to template mode section"
## Feature description

Currently we have a "Customize Reader theme" button at the top of the settings page. We'd like to move that into the template modes, specifically the Reader theme, as a button.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

* Move the "Customize Reader theme" button down to the r

[2020-08-20 17:01] jwold commented on #5250
cc @johnwatkins0 and @kmyram

[2020-08-20 20:58] PaolaBozhilova commented on #5249
Yes, I use v2.0.0-RC1, and I chose Twenty Seventeen as a theme, but when it switches to AMP Legacy, everything is normal.
I sent you Site Health info.

[2020-08-20 21:08] westonruter commented on #5249
Again, please provide a URL that is unexpectedly redirecting on mobile.

[2020-08-20 21:17] PaolaBozhilova commented on #5249
https://packin.net/portfolio-item/метална-опаковъчна-лента-чембер/?amp **redirects to** https://packin.net/product/метална-опаковъчна-лента-чембер/
https://packin.net/portfolio-item/ръчни-обтегачи/?amp **redirects to** 404 https://packin.net/portfolio-item/ръчни-обтегачи/?amp

[2020-08-20 21:29] westonruter commented on #5249
Ah, have you registered the post type in the theme itself? If so, then this is a known issue. The AMP plugin isn't currently warning you of this, but in https://github.com/ampproject/amp-wp/issues/4795 it will. Any post types, shortcodes, taxonomies, blocks, etc will not be available when you select a Reader theme because the AMP plugin will switch the theme entirely for the AMP response.

The ide

[2020-08-20 21:31] westonruter commented on #4795
If post types are defined in a theme, we should consider automatically disabling AMP for those post types when a Reader theme is selected, if we don't altogether block them from selecting a Reader theme in the first place. See https://github.com/ampproject/amp-wp/issues/5249#issuecomment-677915998.

[2020-08-20 21:36] PaolaBozhilova commented on #5249
I have not registered nothing in the theme itself.

[2020-08-20 21:50] westonruter commented on #5249
What plugin is registering the Portfolio Item post type?

[2020-08-20 23:14] westonruter commented on #5249
You may not in your child theme, but I believe your parent theme is registering the Portfolios.

[2020-08-20 23:15] pierlon commented on #5246
@StephenThiam629 the issue you describe is not related to this bug. I see you've opened a [support topic](https://wordpress.org/support/topic/home-page-not-appear-in-mobile/) for your issue so feel free to continue the discussion over there.

[2020-08-20 23:27] pierlon opened #5251 "Ensure the mobile version switcher link is visible in all supported core themes"
## Bug Description

The mobile version switcher link is not clearly visible in all of the supported core themes. For example in Twenty Seventeen, the link is not shown at all on the homepage when a custom header image is set:

![image](https://user-images.githubusercontent.com/16200219/90835244-97592980-e33b-11ea-8aec-c6a4ff439d8b.png)

The issue seems to be CSS related, so all that would be neede

[2020-08-21 06:02] fellyph opened #5252 "Legacy toggle close to hide menu button at appearance menu"
## Bug Description

At the appearance menu the toggle component responsible to preview the AMP version is overlapping the hide menu button. At small screens and other languages, for example, Portuguese there is no space between the toggle and the text.

## Expected Behaviour

## Steps to reproduce

1. Select legacy mode
2. Go to appearance menu
3. Click on AMP
4. See the design issue at bottom lef

[2020-08-21 06:06] westonruter commented on #5252
I think the text should just be hidden in this case. In practice this collapse button is likely never used. The text should be moved to a tooltip.

[2020-08-21 06:12] pierlon commented on #5252
Hmm well the text is from core. Should we hide it/make it a tooltip, or see if the toggle can be positioned better?

[2020-08-21 06:16] westonruter commented on #5252
Yes, I recall hiding the text in some Customizer extension I wrote in the past. Hiding the label would also be necessary when a user filters the device previews to add more devices. I don't think there is much value in the collapse button having a dedicated label on screen.

[2020-08-21 06:20] fellyph commented on #5252
@westonruter yes the label in that case doesn't bring enough value an alt or aria property is enough. If the toggle align to the right will sort on big screens but not in a 13" screen.

[2020-08-21 06:30] westonruter commented on #5252
Oh, so there's the issue of the position on large displays. And then there's the overlap issue on smaller ones. So on smaller displays the text can be hidden, but on all displays the toggle should be properly positioned just to the left of the device previews. I think the positioning was hard-coded for simplicity. We may need to nest the toggle inside the device previews container of that's possib

[2020-08-21 06:34] fellyph opened #5253 "AMP section not appearing at Appearence/customize menu"
## Bug Description

AMP section doesn't appears at the customize menu, it just appears at the appearance menu or is missing?

## Expected Behaviour

AMP can be a option at the appearance/customize menu

## Steps to reproduce

1. Go to Appearance
2. Click on customize
3. AMP option is not available

## Screenshots

![Screen Shot 2020-08-21 at 07 32 03](https://user-images.githubusercontent.com/3307

[2020-08-21 06:50] fellyph opened #5254 "Sitekit integration"
## Feature description

I've installed the AMP plugin and later installed Sitekit and setup Google Analytics. After install I went to AMP settings and the plugin still suggesting install the plugin when I try to setup analytics via AMP Settings.

Would be better instead suggesting the installation verify if the plugin is already installed and notify the user that google analytics configuration is

[2020-08-21 06:58] pierlon commented on #5253
You are customizing the non-AMP version of your site, so the AMP section would not be shown here since it is not relevant.

We could do a better job of communicating this by adding a preview notice stating the non-AMP version is being customized, and providing a link to customize the AMP version. Currently, a similar message is shown when the AMP version of a Reader theme is being customized:

![i

[2020-08-21 07:00] pierlon commented on #5254
Yes that makes sense. Thanks for reporting the issue.

[2020-08-21 07:13] westonruter commented on #5254
Technically, the notice doesn't say that the user should install Site Kit. It says they should _consider using_ Site Kit instead. So it is written in a way that it could apply to sites that already have the plugin installed and active.

[2020-08-21 07:17] pierlon commented on #5254
Yep, I suppose another notice could be shown instead to let the user know that Site Kit is already handling analytics.

[2020-08-21 07:21] westonruter commented on #5253
Yeah, that's a good point. It's expected that the AMP panel not to appear because when a Reader theme is selected, the user needs to switch to the AMP Customizer as a whole. However, we could restore the AMP panel in the list but as soon as they tap to open we could navigate them to the AMP Customizer. That could also be disorienting. Another option would be the AMP toggle that appears next to dev

[2020-08-21 07:21] westonruter commented on #5254
Site Kit may not yet be handling analytics if that module hasn't been configured.

[2020-08-21 07:42] PaolaBozhilova commented on #5249
I'm sorry, I didn't understand the question at first. In my main theme "Beteme", of course it is registered, but I do not think that a special plugin is used, I think it is built into the theme. I want to have an amp on portfolio pages. When the official version comes, will there be a description of how users deal with specific situations?

[2020-08-21 15:23] westonruter commented on #5249
Since the post type is built into the theme this means that it won't be available when using a Reader theme. Using a Reader theme means that the active theme is not used at all.

In #4795 we will warn users when they have a post type registered in the theme. But that will be after v2.0 is released.

The quickest fix for you is to turn off AMP for the Portfolio post type in the AMP settings.

Other

[2020-08-21 15:23] #5249 closed, assigned to nobody

[2020-08-21 17:01] jamesozzie opened #5256 "Include more sandbox values by default in amp-iframe"
Some services that provide embed code such as OneDrive's Excel feature require the use of the `allow-forms` sandbox value. To account for these situations ensure the value is included within the sandbox attribute.

One example support topic below:
https://wordpress.org/support/topic/issue-with-embedding-ondrive-documents/#post-13292729

**Example embed code as provided from OneDrive** (Not working

[2020-08-21 18:46] westonruter commented on #5256
This is the line of code in question:

https://github.com/ampproject/amp-wp/blob/dce58640f7c36befda67b145d00ec4f40c2278eb/includes/sanitizers/class-amp-iframe-sanitizer.php#L29

The question is: where do we draw the line on adding sandbox values? The best practice is to only include sandbox values that are needed.

[2020-08-21 18:47] westonruter commented on #5256
We could also add a tailored embed handler for such embeds, given the large number of embeds from that service.

[2020-08-21 21:02] jamesozzie commented on #5256
Sounds good. Rather than tailoring is specifically for one service I guess we can add others that may require the same values in time (should we come across more).

[2020-08-21 22:16] westonruter commented on #5256
Then again, it doesn't make much sense to me that we allow scripts by default but not forms. If anything, scripts would be more concerning than forms. We should investigate why the current sandbox value was chosen.

[2020-08-21 22:33] pierlon commented on #5256
It was added via https://github.com/ampproject/amp-wp/pull/70/commits/3bf1c8a55ea7a0b5da619329879f4d7817e7de41, and quoting from commit message:

[2020-08-21 23:02] westonruter commented on #5256
Seems like it was just overlooked then. Forms inside of iframes are very important for things like polls, commenting, etc. Let's do a review of the other sandbox values to see if we are missing any other clear gaps and add what makes sense by default.

[2020-08-21 23:32] pierlon commented on #5256
Here's the list of possible sandbox restrictions: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe#attr-sandbox.

From that list I'd say `allow-forms` and `allow-popups` would be the only ones worth considering. As for popups, they would be relevant in scenarios where the user wants to view more information about embedded content such as a map or YouTube video.

[2020-08-21 23:38] westonruter commented on #5256
Another which I think is needed is `allow-top-navigation-by-user-activation` to allow navigation to links inside of the iframe. Also perhaps `allow-presentation` if that is needed for fullscreen.

[2020-08-22 01:10] amedina opened #5257 "Legacy AMP customizer opens on Desktop and switches to primary theme customizer on Tablet"
When Reader uses an AMP-first theme the Reader theme customizer opens in Tablet form factor by default.

When using a Legacy AMP theme as the Reader theme, the Reader theme customizer opens on desktop. Expected behavior: it should open in Tablet form factor.

When in the Legacy AMP customizer, switching to Tablet form factor, switches the customizer to the primary theme.

_Do not alter or remove a

[2020-08-22 03:07] westonruter commented on #4719
I just realized another aspect of plugin scanning which will be important. In the same way we will do for themes in #4795, we need to check which post types, shortcodes, blocks, etc which are registered by each plugin. We can determine this by making a request to some REST API endpoint that lists those entities along with a query var that allows us to force all plugins other than the one supplied

[2020-08-23 05:23] westonruter commented on #5256
I think `allow-presentation` would make sense for embedding a presentation like from Google Slides. In fact, I can see that one of my own posts has this issue: https://weston.ruter.net/2019/07/12/amp-for-javascripters/

Nevertheless, the issue is for the YouTube video and not the Slides:

![image](https://user-images.githubusercontent.com/134745/90971419-de265b00-e4c4-11ea-8fa6-96801b552cab.png)

[2020-08-24 00:10] #5246 closed, assigned to westonruter

[2020-08-24 09:51] ktmn commented on #5220
@westonruter The last suggestion seems to be working out for me, thanks! I'm removing the hacks and keeping the legacy `/amp` templates in place so single pages will still work the same and also adding a notice to recommend switching to Transitional to restore full functionality. And in Transitional it'll serve from `/amp2` dir which are the templates updated to not use `AMP_Post_Template`. Doing

[2020-08-24 17:46] westonruter commented on #5166
I'm not sure that we need to change how we refer to “disabling DevTools”.  The simplified error view isn't really part of DevTools, I don't think. For example, in Chrome you can try going to a website with an bad HTTPS certificate and you get an error displayed on the page. You could also open DevTools to get more details about what the error is (I think), but users don't have to touch DevTools to

[2020-08-24 17:50] westonruter commented on #4668
We also need to integrate Plugin Suppression here, providing a way for users to suppress the plugin on AMP pages.

[2020-08-24 18:15] westonruter commented on #5167
This is a current challenge for AMP validation as well. We can only report the block that an error is coming from in such cases, not the plugin that added the static block in the first place. So I believe this addresses the first level you called out.

For plugin suppression, there's also an open todo regarding static blocks:

https://github.com/ampproject/amp-wp/blob/f1096a9df17616419a2411f41e4d1

[2020-08-24 19:37] westonruter commented on #3210
Implementation brief:

Add an `uninstall.php` which does what @swissspidy outlined in the [support topic](https://wordpress.org/support/topic/how-to-delete-plugin-including-data-left-behind/#post-11913320).

1. Remove AMP settings data: `wp option delete amp-options`
2. Remove all `amp_validated_url` posts: `wp post delete $(wp post list --post_type='amp_validated_url' --format=ids)`
3. Remove all

[2020-08-24 23:40] schlessera commented on #5066
**QA passed**
The `width` style can be seen on the non-AMP version and is gone on the AMP version.

![Image 2020-08-25 at 1 32 31 AM](https://user-images.githubusercontent.com/83631/91106774-d6f17f80-e673-11ea-9795-fde032aea7e4.png)

![Image 2020-08-25 at 1 33 04 AM](https://user-images.githubusercontent.com/83631/91106805-f25c8a80-e673-11ea-9b2b-a25461914d63.png)

However, I noticed that in cases

[2020-08-25 00:01] schlessera commented on #5145
**QA Passed**

![Image 2020-08-25 at 1 57 53 AM](https://user-images.githubusercontent.com/83631/91107799-7283ef80-e676-11ea-9d44-6027b706f617.png)

We should at a later point discuss the color palette, as it is not consistent. For this particular PR, for example, we're combining the highly saturated blue from the AMP brand colors with the muted, earthy orange from the WP color palette, which is n

[2020-08-25 00:26] schlessera commented on #5051
**QA passed**

I couldn't find a way now to produce a PHP notice.

[2020-08-25 00:54] johnwatkins0 commented on #4968
This is passing QA.

1. Activated Reader mode with the legacy reader theme
2. Visited a single post
3. Clicked the "Leave a comment" link
4. Was sent to the comment form on the non-AMP version of the post.
5. Submitted a comment

[2020-08-25 01:03] johnwatkins0 commented on #4774
Confirming this is fixed and passes QA.

1. Created a gallery in a Classic block
2. It showed as a grid in all non-AMP or Standard versions of the post
3. It showed as a carousel in the legacy theme in Reader mode

[2020-08-25 01:23] johnwatkins0 commented on #5039
This passes QA.

1. Activated the Twenty Sixteen theme
2. Made modifications in the customizer
3. Set Twenty Twenty as my reader theme
4. Saw my customizations applied to my reader theme

[2020-08-25 01:31] johnwatkins0 commented on #5070
This is passing QA.

1. Set twentytwenty as my reader theme
2. Deleted twentywenty via the command line
3. Refreshed AMP settings. My reader theme was the legacy theme and I saw this notice:

<img width="1186" alt="Screen Shot 2020-08-24 at 8 30 25 PM" src="https://user-images.githubusercontent.com/9020968/91112445-c546b280-e648-11ea-9d17-25c6e2807a68.png">

[2020-08-25 02:15] schlessera commented on #4439
**QA passed**

The blocking attributes were correctly removed, the boilerplate was removed as a consequence of that, and none of the resulting images were distorted.

![Image 2020-08-25 at 4 12 46 AM](https://user-images.githubusercontent.com/83631/91115051-9d2b7380-e689-11ea-868d-97b40ed4f918.png)

There was one bug that was already discovered here but hasn't been fixed yet. I split that issue ou

[2020-08-25 02:17] schlessera commented on #4606
**QA passed**

The blocking attributes were correctly removed, the boilerplate was removed as a consequence of that, and none of the resulting images were distorted.

![Image 2020-08-25 at 4 12 46 AM](https://user-images.githubusercontent.com/83631/91115051-9d2b7380-e689-11ea-868d-97b40ed4f918.png)

There was one bug that was already discovered here but hasn't been fixed yet. I split that issue ou

[2020-08-25 02:17] johnwatkins0 opened #5264 "Settings screen: Save success notice doesn't always show on repeated saves"
# Bug Description

When saving the settings screen, there is a green notice that flies out from the bottom right corner of the screen on save success. While it reliably shows the first time, it doesn't always show on subsequent saves within the same pageload.

## Expected Behaviour

Save success notice should show every time the save button is clicked and options are successfully saved.

## Steps

[2020-08-25 03:51] pierlon commented on #5015
**QA Passed**

- Supported Templates options are correctly saved via a REST request
- The Templates section is hidden when Reader mode is chosen
- Toggling the "Pages" content type shows an alert and hides the Homepage template if all templates are not being served AMP

[2020-08-25 04:41] westonruter commented on #5066
It turns out that this must be retained because surprisingly there are some _meta_ style rules that actually target the `style` attribute value itself in selectors. See #4105.

[2020-08-25 04:43] westonruter commented on #5145
You're right. I kinda mashed together AMP branded colors with WP List Table colors.

[2020-08-25 04:57] pierlon commented on #5104
**QA Passed**

With a Reader theme enabled, when a custom logo is set in the AMP Customizer preview:

- The correct styles are not tree-shaken and the styles in the selective refresh partial are retained
- A manual reload of the page is not required to preview the changes
- The preview is styled the same way when selectively and fully refreshing the page

[2020-08-25 05:17] pierlon commented on #5137
**QA Passed**

After importing the unchecked "Display Site Title and Tagline" control from the primary theme, the Title and Tagline settings do appear after rechecking the control. The changes do not have to be published and the page refreshed to see the updated preview.

[2020-08-25 05:26] pierlon commented on #5156
**QA Passed**

Given the following HTML snippet

[code]

A validation error is not raised for the `noloading` attribute when the value is the same as the attribute name.

[2020-08-25 06:02] pierlon commented on #5132
**QA Passed**

- Stylesheets metabox on Validated URL post page shows an appropriate message encapsulating the reason for the deleted stylesheet postmeta
- In the Validated URLs list, `n/a` is shown in the CSS Usage column when there is no accompanying stylesheet postmeta
- Stale stylesheet postmeta older than a week is set to be garbage collected once every hour

[2020-08-25 06:33] pierlon commented on #5152
**QA Passed**

The list of services are not registered nor initialized when `amp_is_enabled` is filtered to `false`.

[2020-08-25 10:18] schlessera commented on #5114
**QA passed**

When loading the settings screen, we can see that the initial page load includes the preload middleware with the needed content:

![Image 2020-08-25 at 12 16 59 PM](https://user-images.githubusercontent.com/83631/91162880-fcf73e00-e6cc-11ea-9b46-f78a07c3bba0.png)

We can also see that no additional AJAX request is needed to fully populate the page:

![Image 2020-08-25 at 12 17 06 PM

[2020-08-25 16:30] #5251 closed, assigned to pierlon

[2020-08-25 16:44] westonruter commented on #4779
We could consider deleting the validation errors automatically after a month perhaps, of no longer having associated validated URLs.

[2020-08-25 16:57] jwold commented on #5127
Validated in QA. Good to go.

[2020-08-25 17:19] jwold commented on #5048
I'm not sure I'm tracking the logic on this one. I went through it, but am unsure if the results are expected.

1. Ran through the wizard and set Twenty Twenty as my reader theme
2. Added `define( 'DISABLE_FILE_MODS', true );` to wp-config.php.
3. Installed Twenty Sixteen and Twenty Fifteen
4. Deleted Twenty Twenty manually
5. Ran through wizard and selected Twenty Twenty as reader theme.
6. Got a

[2020-08-25 17:29] johnwatkins0 commented on #5136
This is passing QA. In this scenario, when the reader theme is deleted, the site falls back to the legacy theme, which is the expected behavior.

[2020-08-25 17:46] jwold commented on #5048
Re-ran with `define( 'DISALLOW_FILE_MODS', true );`

This issue appears to be resolved.

- Fresh WP install
- Update themes to only: 2020, 2016, 2015.
- Set 2016 as active.
- Install AMP plugin
- In onboarding wizard set to Reader: Twenty Twenty
- Set `define( 'DISALLOW_FILE_MODS', true );` in wp-config
- Manually delete Twenty Twenty theme from directory (in Finder with Local by Flywheel)
- Get a

[2020-08-25 19:31] westonruter commented on #5220
@ktmn What is the PHP code you're using to filter `{$template_type}_template_hierarchy`?

[2020-08-25 19:51] schlessera commented on #5245
I don't think this will be resolved before the upcoming v2.0 release, so I think the milestone should be removed here and the issue marked as "Blocked".

[2020-08-25 19:56] pierlon commented on #5245
@westonruter opened https://github.com/ampproject/amp-wp/pull/5267 that cherry-picks the fix from upstream, so it should be fine.

[2020-08-25 20:23] #5257 closed, assigned to pierlon

[2020-08-25 20:27] #5245 closed, assigned to westonruter

[2020-08-25 20:32] westonruter opened #5268 "Add E2E tests for mobile redirection"
## Feature description

In order to ensure that mobile redirection continues to work as expected, using both client-side and server-side methods, we need E2E tests to make sure that the expected behavior occurs for mobile browsers.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brie

[2020-08-25 21:09] schlessera opened #5271 "Cache "Error Index" count"
## Feature description

Currently the count that is shown next to the `Error Index` submenu entry in the AMP admin menu is uncached and computed dynamically on every single admin page request (that includes the admin menu, so AJAX requests should not be affected).

Strangely enough, the count directly above it for the `Validated URLs` entry is already being cached.

![Image 2020-08-25 at 10 52 12

[2020-08-25 21:12] westonruter commented on #5271
We should also add caching for the At a Glance widget while we're at it.

[2020-08-25 23:53] #5264 closed, assigned to johnwatkins0

[2020-08-26 00:06] pierlon commented on #5102
**QA Passed**

With Twenty Nineteen set as the active and Reader theme, when Reader mode is selected, the Legacy theme is set as the default, and the user can save the updated option:

![image](https://user-images.githubusercontent.com/16200219/91239616-99522c80-e72f-11ea-9609-b95fcdb24cee.png)

[2020-08-26 00:16] pierlon commented on #5245
**QA passed**

A validation error is not reported when the `loop` attribute is a positive integer, excluding 0:

Before | After
---|---
![image](https://user-images.githubusercontent.com/16200219/91240362-5b560800-e731-11ea-9c17-482b0eb5c7cb.png) | ![image](https://user-images.githubusercontent.com/16200219/91240308-2e095a00-e731-11ea-8ecf-be237036d8ed.png)

[2020-08-26 01:06] ktmn commented on #5220
@westonruter

[code]

[2020-08-26 01:55] westonruter commented on #5220
I don't see anything wrong with that!

[2020-08-26 20:28] schlessera opened #5276 "Update phpDocumentor dependency"
## Feature description

The command to generate the reference documentation is partly based on `phpdoc-parser`, which is an extension of an outdated version of `phpDocumentor`. Therefore, we've now inherited this outdated dependency.

To get the docs online in time for the v2.0 release, we've merged the code as-is with this outdated dependency (and still quite a few PHP notices from the `phpdoc-pa

[2020-08-26 21:14] GiNgesIo opened #5277 "Amp Breaks Responsive Design of the Custom Logo in Twenty Twenty Theme"
I just noticed that the amp plugin breaks the responsive design of the custom logo in the Twenty Twenty theme. Adding this snippet as custom CSS solved the issue.

`.header-titles {
    width: 100%;
}`

I hope this is the right place and way to report this.

[2020-08-26 21:24] #5206 closed, assigned to schlessera

[2020-08-26 21:46] pierlon commented on #5277
Could you provide more context about your setup? For example, the version of the plugin are you using, the template mode you have selected, a screenshot of the AMP page with the issue.

I've tried to replicate your issue with v1.5.5 and v2.0.0-RC2 of the plugin, but I see no visual inconsistencies when in Transitional or Standard mode when viewed from a desktop or mobile device. Likewise, when Twe

[2020-08-26 23:10] schlessera opened #5279 "Skip bundling docs (generation code) in releases"
## Feature description

When building a release ZIP, we should either omit the doc generation code (`docs/docs.json`, `docs/includes`, `docs/src`, `docs/templates`), or the entire `docs` subfolder, depending on whether we want to ship reference docs with an installable plugin or not.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only

[2020-08-27 00:13] westonruter commented on #5279
I ran `npm run build:prod` and no new files from #5274 were included in the `build` directory. This is because the `docs` directory is not included among the `productionIncludedRootFiles` in the Gruntfile:

https://github.com/ampproject/amp-wp/blob/0e1da8b394909901d9085b34cba0fedfc686555c/Gruntfile.js#L6-L17

[2020-08-27 00:13] #5279 closed, assigned to westonruter

[2020-08-27 04:25] brandonpayton opened #5281 "OptionsRESTController is registered with incorrect schema argument"
## Bug Description

OptionsRESTController registers a route with an incorrect schema argument. It [should pass a schema callback](https://developer.wordpress.org/rest-api/extending-the-rest-api/schema/#resource-schema) but [passes data instead](https://github.com/ampproject/amp-wp/blob/f44c07f606713ee78e6e4ce0d437749c5821c8f8/src/OptionsRESTController.php#L138).

This appears to trigger a warning

[2020-08-27 04:39] westonruter commented on #5281
@brandonpayton do you have a patch with what you did that you can open in a PR?

[2020-08-27 06:37] westonruter commented on #5281
I wasn't able to reproduce this issue via `wp shell`, but I did get a PHP warning when doing `curl --request OPTIONS https://wordpressdev.lndo.site/wp-json/amp/v1/options`:

[code]

Submitted fix in #5283.

[2020-08-27 07:24] westonruter commented on #5252
@fellyph Please test the changes in #5284

[2020-08-27 10:00] GiNgesIo commented on #5277
Hi @pierlon
Sure. I am running WP 5.5 with Twenty Twenty 1.5 and AMP Version 2.0.0 in standard mode.

Here is a screenshot of the site using Safari 13.1.2 in responsive mode without `.header-titles {
   width: 100%;
}` in custom CSS . As you can see the logo image is not centered and I am able to horizontally scroll to the right.

<img width="678" alt="screenshot" src="https://user-images.githubus

[2020-08-27 13:10] fellyph commented on #5252
@westonruter Looks great, I've install the build

<img width="754" alt="Screen Shot 2020-08-27 at 14 09 09" src="https://user-images.githubusercontent.com/330792/91446140-f30d4080-e86e-11ea-9d6e-2594b9c6324e.png">

[2020-08-27 15:41] #5252 closed, assigned to westonruter

[2020-08-27 15:42] #5281 closed, assigned to westonruter

[2020-08-27 16:35] Mte90 opened #5286 "Disable the AMP validation inside WP"
## Feature description
As we have editors and writers we don't want that see these warnings (happenings also with article not yet published so in draft).
There is an option to suppress plugins but is not clear if this means that will disable the plugin or suppress the errors of that plugins.
Maybe ad an option to disable at all those errors as we are using google search console to track AMP issues

[2020-08-27 17:04] jwold commented on #4668
Could we also combine this with the work on #3821 from a UI perspective? It feels like the two could go together.

![Screen Capture on 2020-08-27 at 10-03-41](https://user-images.githubusercontent.com/3411173/91472663-a6b10900-e84c-11ea-90dd-a5df78844acd.gif)

[2020-08-27 17:05] westonruter commented on #5286
@Mte90 This is a feature as of 2.0.0. Non-admin users will all have the validation errors hidden. For admin users, there is an option to also turn off the validation errors. This is exposed as a preference on the user profile screen:

![image](https://user-images.githubusercontent.com/134745/91472604-8e40ee80-e84c-11ea-8d0c-1663b8ab7484.png)

You can read more about this in the [v2.0.0](https://gi

[2020-08-27 17:07] Mte90 commented on #5286
In this way I need to ask to all the users to disable it, there is no way to disable for everyone that feature?

[2020-08-27 17:08] westonruter commented on #5286
Are all of the users administrators?

[2020-08-27 17:10] Mte90 commented on #5286
No, we have some users that are also administrators, but they are also writers, basically they need that for other plugins, widgets and settings (we cannot change that policy for various reasons).
We are the technical team, so we have our tools to track and manage errors, and they don't need to know about them or they will go in panic like now.

[2020-08-27 17:13] westonruter commented on #5286
Non-administrators do not even have the option to enable Developer Tools, so for them they do not need to turn off Developer Tools. How many administrator users do you have who need developer tools turned off? You can turn it off for them by editing their user as well.

[2020-08-27 17:18] Mte90 commented on #5286
Well I have 5 but I have to do the same to 10 websites of the same customer, and I have other customers with the same issues for other reasons.
So a global way to disable that feature it will be better, usually WP plugins doesn't do this kind of things by users but global to enable and in case the user can disable.
Not like opt-in for everyone I mean, but a global option so it is more easy to mana

[2020-08-27 17:38] brandonpayton commented on #5281
Hi @westonruter, I'd actually opened the PR creation page for [this change](https://github.com/brandonpayton/amp-wp/commit/617a803a23ff14e68b0e3eb771c69425fb09669a), but I ended up leaving it to you since I wasn't clear about signing the CLA and figured it would be a quick fix on your end.

Thank you for working through the issue and fixing.

[2020-08-27 17:42] westonruter commented on #5286
There is no global UI currently to turn off Developer Tools by default, but you can use WP-CLI to do so in bulk:

[code]

There is a todo to consider adding a filter to change the default value:

https://github.com/ampproject/amp-wp/blob/aec847235a1b75ee8c53efb6814927e6cb019b57/src/Admin/DevToolsUserAccess.php#L77

But that is not yet implemented.

[2020-08-27 17:54] westonruter commented on #4668
Yeah, #3821 is basically increasing the scope of this to improve the UX.

The issue here is more of a short-term scoped issue to address the gap without going the next step of improving the overall design.

[2020-08-27 20:48] johnwatkins0 opened #5288 "Improve UX around AMP plugin dev tools, URL validation, and theme/plugin/block compatibility"
## Feature description

This is a placeholder for the definition of an epic covering UX improvements around the validation tools and site scan features provided by the AMP plugin. This description will be fleshed out as the scope of work is defined.

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation bri

[2020-08-27 21:49] pierlon commented on #5277
@mmschwrtz unfortunately I'm still not able to replicate the issue. To be of further assistance, please share your Site Health info with us. You can do so privately via this form: https://forms.gle/PySNjhhxPLrJU6F1A

[2020-08-28 05:43] westonruter opened #5290 "Make sure that AMP_QUERY_VAR gets defined"
## Bug Description

A couple support forum topics have reported a warning:

See:

* https://wordpress.org/support/topic/version-2-0-0-killed-my-websites-backup-first/
* https://wordpress.org/support/topic/showing-warning-after-the-update/

I thought this was limited to the Snax plugin referencing `AMP_QUERY_VAR` when it should have rather called `amp_get_slug()`. So the workaround I provided was t

[2020-08-28 07:54] dero opened #5291 "Pinterest embed handler URL pattern is incomplete"
## Bug Description

Many valid Pinterest pin URLs are not captured by the [URL pattern](https://github.com/ampproject/amp-wp/blob/af6f5b7ca20cb16f8795becedfad59c297ea5dc3/includes/embeds/class-amp-pinterest-embed-handler.php#L15
) within `class-amp-pinterest-embed-handler.php`.

Pinterest runs a large number of regional variants of their site. For example, these pins are identical, but hosted on d

[2020-08-28 08:51] Mte90 commented on #5286
Uhm I will see if I can do a filter that change the capabilities or remove it to disable it.
I don't have a wp-cli access to all the websites and a snippet is easiest way (I know that is not the optimal way but I cannot change all the installation easily).

[2020-08-28 12:57] Mte90 commented on #5286
I think that with a code like:
[code]

I should be able to remove on the fly that capability to all the users.

[2020-08-28 15:19] jamesozzie opened #5292 "PageSpeed Ninja - Incompatible Configurations"
## Bug Description

As reported in the [WordPress support forums](https://wordpress.org/support/topic/not-an-amp-page-error-after-new-update/) some users may encounter the amphtml link changing to only `?amp` when using the [PageSpeed Ninja plugin](https://wordpress.org/plugins/psn-pagespeed-ninja/) in the "Ultra" preset configuration, or when switching the plugins HTML parser option to "Use Fast

[2020-08-28 16:25] westonruter commented on #5286
Yes, that should also turn off DevTools for all users. However, it will force them to be disabled without the option to turn them back on.

[2020-08-28 17:33] westonruter opened #5293 "Show link to exit mobile version on AMP pages even when mobile redirection is not enabled"
## Feature description

In versions of the plugin prior to 2.0, there was an “Exit Reader Mode” link that could be displayed in the header. We removed this in https://github.com/ampproject/amp-wp/issues/4573 because it conflicted with long site titles. We also deemed it redundant with the new Mobile Redirection functionality which shows such an exit link in the footer.

However, the exit mobile ve

[2020-08-28 17:33] westonruter commented on #5293
I milestoned this for 2.1 but we can do it in a patch release as well.

[2020-08-28 20:56] westonruter commented on #5291
I'm surprised that WordPress core does not include Pinterest among [its oEmbed providers](https://github.com/WordPress/wordpress-develop/blob/0013f5979cb00ee9ad3ac5748b72880594bdbb1c/src/wp-includes/class-wp-oembed.php#L53-L115).

We can include this fix in 2.0.1.

[2020-08-28 22:45] westonruter commented on #5292
I don't think this is actually an issue with the AMP plugin. It's a bug with PageSpeed Ninja. Their output buffer processing on non-AMP pages is corrupting the `amphtml` link. Specifically, I can see the issue happens when the `urlminify` option is enabled. I've ported your issue here over to a support topic for PageSpeed Ninja: https://wordpress.org/support/topic/url-minification-breaks-amphtml-l

[2020-08-28 22:45] #5292 closed, assigned to jamesozzie

[2020-08-29 00:31] pierlon commented on #5277
I've found a way to replicate this. With the following custom CSS added:

[code]

Here's what the non-AMP and AMP pages look like when viewed on a mobile device (viewport width < 700px):

Non-AMP | AMP
---|---
![image](https://user-images.githubusercontent.com/16200219/91624182-4fb34d00-e98e-11ea-9c82-1cc5b038f5f4.png) | ![image](https://user-images.githubusercontent.com/16200219/91624190-5b9f0f00

[2020-08-29 02:21] westonruter commented on #5277
This CSS is not part of Twenty Twenty, however. I see it is part of Twenty Nineteen, although the media query is not the same: https://github.com/WordPress/wordpress-develop/blob/0013f5979cb00ee9ad3ac5748b72880594bdbb1c/src/wp-content/themes/twentynineteen/style.css#L3804-L3809

@mmschwrtz Is that something you've added to your site via Additional CSS in the Customizer, for example?

As such, this

[2020-08-29 02:33] pierlon commented on #5277
Yes, I forgot to mention that. It's most likely custom CSS added to the page and not a bug with Twenty Twenty. Also, it does not seem to be a regression introduced in v2.0, I can also replicate it in v1.5.5.

[2020-08-29 05:10] pierlon commented on #5277
Actually, I think this is behaving as intended. As stated in the [layout system spec](https://amp.dev/documentation/guides-and-tutorials/learn/amp-html-layout/?format=websites#layout) for the `intrinsic` layout:

In this case:

- the image `max-height` is set to `none`, so there is no constraint on the height
- the parent element does not have a CSS constraint set to limit the width or height of t

[2020-08-29 06:19] westonruter opened #5295 "Non-singular URLs remain able to be validated after switching to legacy reader mode"
## Bug Description

This is an issue which was discovered by @ernee.

With this setup:

1. You are in Transitional mode (or Standard mode or Reader mode with a Reader theme).
2. You have AMP enabled for all templates.
3. You have set the homepage to show the latest posts.
4. You validate the homepage to create a validated URL for the homepage.

In the Validated URLs screen you'll see this entry:

[2020-08-29 14:31] SmartandCom opened #5297 "Conflict with OneSignal – Web Push Notifications wordpress plugin"
## Bug Description

Since AMP plugin was updated to version 2.0.0, Onesignal plugin is now sending automatic notifications notifications for every action on a post, including when working on a private draft.

## Expected Behaviour

Onesignal should not receive information that the content has been published. This is obviously sent by the new version of the AMP plugin, it used to work correctly bef

[2020-08-29 16:18] amedina commented on #5295
Interesting the edge-case surface touch points related to the reader mode expansion. Although an edge case, it may happen relatively often during the initial adoption phase of 2.0 the switching from legacy to reader, back to legacy.

[2020-08-29 19:51] pierlon commented on #5291
Hi @dero, can you please verify that the issue is fixed by testing the build linked here: https://github.com/ampproject/amp-wp/pull/5299#issuecomment-683334330.

[2020-08-29 19:55] westonruter commented on #5297
I assume you are in Reader mode?

What is the content of the notifications being sent when saving a draft? Is it for the post being edited it self or for a Validated URL post type? What is the URL that the notification points the user to?

This may be due to Developer Tools now being enabled by default. When Developer Tools are enabled and an administrator edits a post, the AMP plugin performs a l

[2020-08-29 20:00] rsmith4321 commented on #4989
I was confused why these settings were missing after the last update, I know most people have probably switched to a gallery block but I have reasons to use just the shortcode. So should we just add the settings into the shortcode now like "amp-lightbox=true amp-carousel=false"? I really do wish features weren't removed like this, I found them very useful and I wonder if anyone was actually confus

[2020-08-29 20:09] westonruter commented on #4989
You're using the Shortcode block with a `[gallery]`?

If so, then yes, if you want to continue using the `[gallery]` shortcode to display Galleries, you can manually supply the `amp-lightbox` and `amp-carousel` shortcode attributes, in the same way as you do now for `ids`. The reason why we removed these from the Shortcode block's settings when a `[gallery]` is supplied is it caused problems and u

[2020-08-29 20:13] westonruter commented on #5271
A [support topic](https://wordpress.org/support/topic/duplicate-queries-15/) was just raised about this as well:

May be the same issue or an area for additional query reductions to be made.

[2020-08-29 20:13] SmartandCom commented on #5297
Indeed, yes

It sends just the url of the draft, even with the temporary url if it's still the case. it's not an AMP url.

amp_validated_url is not in the list of the allowed_custom_post_types configuration.

[2020-08-29 20:17] westonruter commented on #5297
Is the draft URL for the post being edited, or for the `amp_validated_url` post type?

What happens if you turn off Developer Tools in your WordPress user profile? Does that fix the issue?

We'll take a look, but I believe this is a bug with the OneSignal plugin.

[2020-08-29 20:21] SmartandCom commented on #5297
It fixes the issue indeed, yes

[2020-08-29 23:44] #5290 closed, assigned to westonruter

[2020-08-29 23:52] westonruter commented on #5297
Do you have the “Automatically send a push notification when I publish a post from 3rd party plugins” toggle enabled?

![image](https://user-images.githubusercontent.com/134745/91648075-fe4fa000-ea17-11ea-8e8a-2306a5a11265.png)

[2020-08-30 02:47] westonruter commented on #5297
@SmartandCom I've opened a PR to fix the underlying problem in OneSignal: https://github.com/OneSignal/OneSignal-WordPress-Plugin/pull/251

If you can try to apply that change on your copy of OneSignal, and re-test with Developer Tools turned back on, that would be helpful.

[2020-08-30 02:47] #5297 closed, assigned to nobody

[2020-08-30 07:27] SmartandCom commented on #5297
No

[2020-08-30 07:34] SmartandCom commented on #5297
If you can try to apply that change on your copy of OneSignal, and re-test with Developer Tools turned back on, that would be helpful.
---> added the code from the commit to the file
--> reactived admin tools in user profile
--> created a draft (send notification on post publish is ticked)
---> saved the draft
---> no notification is issued

So, it works

[2020-08-30 09:47] SmartandCom commented on #5297
Further testing confirms it works with your modification.
Thanks for that
even if it's now on Onesignal side to do their work to correct their own plugin...

[2020-08-30 21:02] westonruter commented on #2069
Two bug reports that have come up since launching 2.0 add more urgency to implementing asynchronous validation.

On one hand there is less urgency because admins can turn off Developer Tools and non-admins don't have Developer Tools to begin with, and when there is no Developer Tools there is no synchronous validation being performed.

Nevertheless, all sites that have Reader mode now have Develop

[2020-08-31 18:51] westonruter commented on #5297
My pull request was merged. It will be fixed in OneSignal plugin v2.1.4 per https://github.com/OneSignal/OneSignal-WordPress-Plugin/pull/251#issuecomment-683927892.

[2020-08-31 22:07] westonruter opened #5302 "Twenty Nineteen update in WordPress 5.5 introduces AMP validation error for @-moz-document url-prefix() CSS at-rule"
## Bug Description

Twenty Nineteen [introduced](https://github.com/wordpress/wordpress-develop/commit/5b69998102cac091a22f21d73a41fe498d870216) the use of a `@-moz-document` rule to fix a Firefox-specific style bug:

[code]

This change caused a validation error because `@-moz-document` is not valid in AMP:

![image](https://user-images.githubusercontent.com/134745/91772825-780f9700-eb9a-11ea-8f9

[2020-08-31 23:49] westonruter opened #5304 "Add explainer to warning notice when validation errors are displayed"
## Feature description

When Developer Tools are enabled, when a validation error occurs on the permalink for a post, a warning will be displayed in the editor:

Prior to 2.0, Developer Tools were not available for Reader mode. Since most sites are in Reader mode, many users are going to be seeing this warning notice for the first time. We need to explain to them why they are seeing this warning a

[2020-09-01 01:16] #5302 closed, assigned to nobody

[2020-09-01 02:47] johnwatkins0 opened #5307 "URL validation CLI script contains logic that should be made available outside the CLI script"
## Feature description

The CLI script provides methods for getting different types of URLs to validate, and for iterating through these URLs. Instead of re-creating this logic for new plugin features, we can mostly extract it into separate classes for use elsewhere, e.g., in a REST endpoint or a WP Cron task.

## Acceptance criteria

* CLI script works exactly as before.

## Implementation brief

[2020-09-01 06:15] dero commented on #5291
Hi @pierlon – thank you, I have verified those changes address issues outlined in this ticket. 👍

However, I'm also going to follow up on the PR with a couple comments.

[2020-09-01 08:14] roo2 opened #5308 "AMP causes gutenberg editor crash on very long posts"
## Bug Description

On a very long post (more than 120000 characters in total), when the AMP plugin is active, the gutenberg editor will fail to load with the following error on the console:
[code]
<img width="703" alt="Screen Shot 2020-09-01 at 6 04 39 PM" src="https://user-images.githubusercontent.com/22446385/91824170-b03bd600-ec7d-11ea-94b2-47059f008dd5.png">

When creating text content, I rec

[2020-09-01 09:41] nonsintetic opened #5309 "Error while saving plugin options"
## Bug Description

While trying to change any settings I receive an error "Error: An error occurred. You might be offline or logged out.".  Looks like it's making a request to the json-api ```/wp-json/amp/v1/options?_locale=user```. The response to the request is:

```[{"code":"json_cookie_invalid_nonce","message":"Nonce cookie is invalid"}]```

Relogging, using a different browser, trying other

[2020-09-01 13:38] westonruter commented on #5309
We have not experienced this issue. Please share your Site Health info so we can investigate and try to replicate your environment. You can do so by commenting here or via our [private submission form](https://docs.google.com/forms/d/e/1FAIpQLSfHk32DRaYLgYO3MMg002_wYKqeWJAvHvj-EoSFWOFyDH6ncw/viewform?usp=sf_link).

[2020-09-01 14:52] jwold opened #5310 "As a user I would like to see a notice explaining what the plugin suppression area does when empty"
## Feature description

Currently the plugin suppression area shows as empty when there are no plugins installed on the site (excluding the AMP plugin of course). It looks like this:

<img width="1451" alt="Screen Shot 2020-09-01 at 7 48 25 AM" src="https://user-images.githubusercontent.com/3411173/91866955-efd7d300-ec27-11ea-987e-5be472cd2ada.png">

We discussed either removing this area or addin

[2020-09-01 14:52] pierlon commented on #5308
Here's the stacktrace with source maps:

![image](https://user-images.githubusercontent.com/16200219/91866532-28949e00-ec62-11ea-9f60-2dd119c7a139.png)

The error seems to be due to `document.length` being undefined:

![image](https://user-images.githubusercontent.com/16200219/91866775-6396d180-ec62-11ea-9688-fcdaa4451816.png)

I haven't found the reason as to how the plugin causes this error as y

[2020-09-01 15:23] jwold commented on #4668
There are three basic criteria for this issue, and I'll address them below based on our discussion last week:

![1](https://user-images.githubusercontent.com/3411173/91870162-8e196800-ec2b-11ea-8e5e-78a72dff2e80.png)

A. While there is more we will do to improve the user experience in Gutenberg, this is an initial start to help users dig in a bit and find out details of what is going on with the e

[2020-09-01 16:00] westonruter commented on #5209
There needs to be two buttons: one to copy an individual error details to the clipboard, and another to copy all the error details for a given validated URL.

[2020-09-01 16:11] westonruter commented on #5209
Should we have the format be just pretty-printed JSON?

[2020-09-01 16:21] westonruter commented on #5310
Another idea is to just show a notice in place of the table:

![image](https://user-images.githubusercontent.com/134745/91878665-7c888e00-ec34-11ea-829c-bf31a0c04413.png)

[2020-09-01 16:26] jwold commented on #5209
Discussion from our call:

"Copy error details" button, discuss format of that error. Maybe a JSON representation that's the same as the underlying representation stored in the database. We need some representation that the user can paste into support forum. Site health has Markdownesque representation that's somewhat helpful.

[2020-09-01 16:39] schlessera commented on #5213
Sounds like this would add a constant effort to add `next-page-hide` to the admin bar, even on sites that don't make use of `amp-next-page` at all? So that would trade a bit of implementation effort per `amp-next-page` use for a bit of overhead on _all_ sites.

I think this should just be a part of the actual `amp-next-page` implementation instead.

Now, if the AMP plugin would provide a streamlin

[2020-09-01 16:43] westonruter commented on #5213
Something else that came to mind… if `amp-next-page` is paginating through singular posts, then the admin bar from the next page actually _should_ be displayed instead of the admin bar from the first page, as then the Edit Post link in the admin bar would reflect the current post being viewed not the first post being viewed.

[2020-09-01 16:46] westonruter commented on #5209
Given this validation error:

![image](https://user-images.githubusercontent.com/134745/91882348-abecca00-ec37-11ea-8958-d7e4d5c729a5.png)

The internal JSON representation is:

[code]

This seems like a perfectly acceptable format for users to copy and share.

[2020-09-01 16:47] pierlon commented on #5209
Would we also want to include the state of the error (kept, reviewed etc.)?

[2020-09-01 16:51] amedina commented on #5304
Related: add content to amp-wp.org with explainer, to be linked from a "Why I am seeing this" link.

[2020-09-01 17:17] westonruter commented on #5209
Great point. Yes it should.

[2020-09-01 17:29] westonruter commented on #4516
See also https://github.com/johnbillion/query-monitor/pull/535

[2020-09-01 17:40] westonruter opened #5311 "Implement amp-next-page support in core themes"
## Feature description

Being able to use infinite scroll via [amp-next-page](https://amp.dev/documentation/components/amp-next-page/) is a popular ability.

We should consider whether the AMP plugin might implement support for it in the core themes. Then it could be easily used when a Reader theme is selected, for example.

---------------

_Do not alter or remove anything below. The following se

[2020-09-01 17:41] westonruter commented on #5213
I've also just opened https://github.com/ampproject/amp-wp/issues/5311 to look at implementing support in the core themes.

[2020-09-01 17:42] westonruter commented on #5311
Note that Jetpack has already implemented `amp-next-page` support for both twentynineteen and twentytwenty.

[2020-09-01 19:23] pierlon commented on #5308
So the issue lies within this block of code: https://github.com/ampproject/amp-wp/blob/a6514231d6e15568d7698c86eb5f404b552e3ff2/src/ObsoleteBlockAttributeRemover.php#L95-L100

This issue is that the `preg_replace_callback` is returning `null` instead of the original string. According to the [docs](https://www.php.net/manual/en/function.preg-replace-callback.php#refsect1-function.preg-replace-callb

[2020-09-01 19:34] westonruter commented on #5308
I see. And so this PHP error is causing `content.raw` to be `null` and not a string, and thus `length` is not defined.

Good investigation. We'll ship a fix for this in v2.0.1.

[2020-09-01 21:15] westonruter opened #5314 "Restricting post-processing to templates that fire head/footer template actions results in false negatives"
## Bug Description

In #5202 the AMP plugin started aborting post-processing if the expected `head` and `footer` actions were not triggered:

https://github.com/ampproject/amp-wp/blob/c9dba91d9eb0e825b8374aef1e9902c1dad9e600/includes/class-amp-theme-support.php#L1937-L1949

It turns out that this results in post-processing being skipped in some cases where it is expected.

The most important insta

[2020-09-01 21:15] westonruter commented on #5314
cc @swissspidy

[2020-09-01 21:22] mdrovdahl commented on #5308
Hi @westonruter =)

Just adding a +1 as [we](http://wpspecialprojects.wordpress.com/) have a popular site that ran into this today. We're going to rollback to 1.5.5 until the fix lands.

[2020-09-01 21:29] westonruter commented on #5308
Fix should be out this week. Tomorrow even.

[2020-09-01 21:37] #5308 closed, assigned to pierlon

[2020-09-01 21:44] westonruter commented on #5308
@roo2 @mdrovdahl Actually, the fix (#5313) has landed just now. We have a 2.0.1 pre-release build for you to test if you're willing: https://storage.googleapis.com/ampwp_github_artifacts/refs/heads/2.0/prod/amp.zip (URL to ZIP reflects current state of `2.0` branch)

[2020-09-01 23:24] westonruter opened #5315 "Exceptions silently fail during post-processing"
## Bug Description

When a sanitizer or Optimizer transformer fails, the response for an AMP page can still have a 200 status code but the page won't be AMP.

Consider the following plugin code being active:

[code]

When in Transitional mode, accessing an AMP page will show AMP in the admin bar, but the page is not AMP. This is because the post-processor was unable to process the buffer to add th

[2020-09-02 07:28] #5309 closed, assigned to nobody

[2020-09-02 07:28] nonsintetic commented on #5309
Seems like it's a generalized issue with the json-api on this install. Not related to AMP

[2020-09-02 14:43] johnwatkins0 commented on #3821
Wanted to make a suggestion here. In addition to notice fatigue in the editor, a lot of sites have an excess of panels in the editor Document sidebar. It's easy for individual plugin panels to get visually lost or confused with core panels, as they all look the same.

I suggest using [a PluginSidebar](https://developer.wordpress.org/block-editor/developers/slotfills/plugin-sidebar/) instead. We sh

[2020-09-02 14:50] jwold commented on #3821
@johnwatkins0 that's a great idea. I've been wondering how we would fit a third tab in the Document/Blocks section. A plugin sidebar makes more sense.

[2020-09-02 15:06] johnwatkins0 commented on #5304
I saw this notice on a client project just yesterday and experienced a small amount of confusion and nervousness.

1. **Confusion:** "There are 2 issues from AMP validation which need review. The issues are not directly due to content here." The **where** of this is confusing. We should clarify to something like, "This post has two AMP validation issues, but they come from outside the post content

[2020-09-02 15:13] westonruter commented on #3821
Would a PluginSidebar work well to display both document-level and block-level validation errors? Or would block-level errors still show up in the block settings sidebar when the block is selected?

[2020-09-02 15:18] amedina commented on #5304
These notices need to change. However, as they are right now they might be
confusing to some users, but the changes could also result in confusion. I
don't want to change them hastily. I would like to address this in the
context of the overall revamp of improving the "communication" aspects of
the validation tools, add the Document and block panels with a nice design
and precise messaging, and so

[2020-09-02 15:27] westonruter commented on #5304
We can open the link in a new window, however.

[2020-09-02 15:33] westonruter commented on #5304
Please open a quick PR for opening the link on a new window. We'll include that in 2.0.1.

[2020-09-02 15:36] westonruter commented on #5271
Two more related/similar support topics:

* https://wordpress.org/support/topic/very-slow-loads-and-long-query-times-on-dashboard/
* https://wordpress.org/support/topic/slow-admin-7/

[2020-09-02 15:37] johnwatkins0 commented on #3821
I might be going to extremes here, but I think as long as there is an indicator that there are issues with blocks in the post, we can handle everything inside a plugin sidebar.

Benefits of this:

1. No need to override blocks' internal behavior, which is still a messy process with the block editor. I think we can passively collect the invalid blocks in the sidebar and allow them to be removed fro

[2020-09-02 15:50] amedina commented on #5304
+1

On Wed, Sep 2, 2020 at 8:33 AM Weston Ruter <notifications@github.com>
wrote:

[2020-09-02 15:52] johnwatkins0 commented on #3821
@westonruter Have we ever considered validating individual Gutenberg blocks' output from within the editor instead of only on post save?
I think it could be done, and would be a nice bonus to the UX updates. We could capture validation issues before the post is saved, surface them while the user is editing, and then also have a PluginPrePublishPanel section.

[2020-09-02 17:31] #5291 closed, assigned to westonruter

[2020-09-02 17:42] westonruter commented on #3821
I'd love to see some mocks for how this would look for both document-level and block-level errors.

Yes, we have. However, we determined it won't work reliably. In particular, it wouldn't catch validation errors that only occur in the frontend context (e.g. when `render_block` or `the_content` filters are manipulating the content). There also may be some such filters that behave differently when `

[2020-09-02 17:49] HelaGone opened #5318 "Images with captions in post content are not responsive"
## Bug Description
The images in the post's content are not responsive when they are enclosen in the `[caption]` shortcode.

## Expected Behaviour
All the images within the post's content should be responsive no matter if they have captions or not.

## Steps to reproduce

1.- Login to Wordpress and create a new post or edit an existing one.
2.- Insert an image to the post's content and add a capti

[2020-09-02 18:00] westonruter commented on #4598
In https://github.com/johnbillion/query-monitor/pull/535#issuecomment-684697284, @johnbillion also suggested using a filter for mark scripts/styles for AMP Dev Mode rather than adding data directly to the assets:

[code]

A benefit here is we don't have to worry about the script/style being registered first, as otherwise `wp_script_add_data()` and `wp_style_add_data()` will short-circuit.

[2020-09-02 18:13] johnwatkins0 commented on #3821
It does sound very complicated to try to do AMP validation client-side and I wouldn't want to take that on, but how about something like:

1. When a new autosave or revision is created (definitely not on every editor state change), make a request to the custom REST endpoint for validating URLs, passing in the preview URL.
2. Send back the results and parse these results into the UI for a plugin si

[2020-09-02 18:22] westonruter commented on #5318
When inserting the caption there there is a `width=1280` which is causing this.

You as a quick workaround you can add the following to the Additional CSS in the Customizer:

[code]

I'm not able to reproduce this issue in the WordPress core theme Twenty Nineteen which has [this CSS](https://github.com/WordPress/wordpress-develop/blob/164b22cf6ac87ecd757deb54f38c0d750301b83f/src/wp-content/themes/

[2020-09-02 18:49] westonruter commented on #3821
This should actually be _current_ plugin behavior. Whenever a draft is saved (including autosaves) the validation is performed. (This is not done if DevTools is turned off or if async validation is implemented per #2069.)

I thought this was the original behavior, but it doesn't seem to be working anymore. Note in https://github.com/ampproject/amp-wp/issues/2069#issuecomment-530954697 that it _is_

[2020-09-02 20:41] jamiegrichards opened #5321 "AMP with the Divi theme"
Hello,

The latest version of Amp is crashing the Divi builder. As soon as I deactivate it, I can get into the builder. I've gone through the Amp settings (there's a LOT of new stuff in there) and I put back on reader mode but it still crashes the builder.

Please let me know what info you need me from in order to troubleshoot. My domain is:
https://blackspot.design

If you need a login, shoot me

[2020-09-02 21:58] westonruter commented on #5321
We can't log-in to your site.

Can you please share details about how specifically Divi is crashing?

You may be experiencing #5308. If so, there is a pre-release build available to try: https://github.com/ampproject/amp-wp/issues/5308#issuecomment-685150562.

[2020-09-02 22:00] #5318 closed, assigned to nobody

[2020-09-03 00:10] westonruter opened #5322 "Widget Blocks in Gutenberg 8.9 are not disabled for Reader themes"
## Bug Description

In Gutenberg 8.9, the the Widget Blocks feature was enabled by default (https://github.com/WordPress/gutenberg/pull/24843, https://github.com/WordPress/gutenberg/pull/24087). The result is that now when a Reader theme is active, a Widget Blocks section appears even though widgets are supposed to be disabled in Reader mode:

![image](https://user-images.githubusercontent.com/134

[2020-09-03 00:11] westonruter commented on #5322
Note to make tests pass in #5319, I had to `remove_filter( 'customize_loaded_components', 'gutenberg_remove_widgets_panel' )` in a test: 521737d.

[2020-09-03 03:28] #5314 closed, assigned to pierlon

[2020-09-03 04:33] roo2 commented on #5308
hey thanks for getting this fix out so quickly @westonruter , and yep I can confirm that the 2.0.1-pre-release fixes the issue we've been seeing 👍

[2020-09-03 04:34] westonruter commented on #5308
Thank you for testing!

Moving to QA Passed.

[2020-09-03 14:52] westonruter commented on #5322
There is also a filter and theme support which may be used. See https://make.wordpress.org/core/2020/09/03/whats-new-in-gutenberg-2-september/

[2020-09-03 16:17] jwold commented on #4668
(Updated based on additional discussion)

![A](https://user-images.githubusercontent.com/3411173/92140649-3d8a4200-edc6-11ea-9141-abf256ca078e.png)

-------

![B](https://user-images.githubusercontent.com/3411173/92140662-40853280-edc6-11ea-91a5-c521c2b788af.png)

[2020-09-03 17:52] #5315 closed, assigned to westonruter

[2020-09-03 18:10] westonruter commented on #5277
Yes, I think you are right.

@mmschwrtz Since you seem to have modified the core theme with custom CSS rules, you'll need to also add all that is required to prevent the intrinsically-sized image from overflowing.

[2020-09-03 18:10] #5277 closed, assigned to nobody

[2020-09-03 19:56] westonruter commented on #5302
QA Passed

Before:
![image](https://user-images.githubusercontent.com/134745/92161020-d039d980-ede4-11ea-9f09-02f4c8c258df.png)

After:
![image](https://user-images.githubusercontent.com/134745/92161054-dc259b80-ede4-11ea-9593-3ea83ce81743.png)

[2020-09-03 19:58] westonruter commented on #5314
QA Passed

When viewing a Web Story:

Before | After
-------|------
![image](https://user-images.githubusercontent.com/134745/92161202-21e26400-ede5-11ea-9808-8b3d17bf6f9f.png) | ![image](https://user-images.githubusercontent.com/134745/92161240-2f97e980-ede5-11ea-8cc3-f5124fa9fe0a.png)

[2020-09-03 20:05] westonruter commented on #5315
QA Passed

Given this plugin:

[code]

When `WP_DEBUG_DISPLAY` is enabled:

Before | After
-------|------
![image](https://user-images.githubusercontent.com/134745/92161688-cc5a8700-ede5-11ea-8e5e-82e2c09d5eea.png) | ![image](https://user-images.githubusercontent.com/134745/92161723-d8dedf80-ede5-11ea-8ce4-4cbf314613cf.png)

When `WP_DEBUG_DISPLAY` is disabled:

Before | After
-------|------
![ima

[2020-09-03 20:07] pierlon commented on #5290
**QA Passed**

When the `AMP_QUERY_VAR` const is not defined manually, it is set by the plugin:

![image](https://user-images.githubusercontent.com/16200219/92162056-0e54ee80-ee21-11ea-8dd6-1e89030d4bd1.png)

[2020-09-03 21:00] westonruter commented on #5286
Let's go ahead with adding the filter to change the default value.

[2020-09-03 21:05] westonruter commented on #5286
Also, given that the block editor integration is not yet ideal (#3821, #2069), let's default the value to be `false` when Reader mode is selected (which will be for the majority of users).

[2020-09-03 21:08] westonruter commented on #5286
Following the pattern of `amp_post_status_default_enabled`, let's call this new filter: `amp_dev_tools_user_default_enabled`.

Let's pass two arguments:

* `$enabled` (defaults to `false` when Reader mode is active)
* `$user_id`

[2020-09-03 21:48] westonruter commented on #5291
**QA Passed**

Testing with this content:

![image](https://user-images.githubusercontent.com/134745/92176885-3c700980-edf4-11ea-8069-aaeb651baca7.png)

Before | After
-------|------
![image](https://user-images.githubusercontent.com/134745/92176966-6b867b00-edf4-11ea-9aa6-43434d2c3ad0.png) | ![image](https://user-images.githubusercontent.com/134745/92176951-5f9ab900-edf4-11ea-9aa0-3a2c6929ec96.pn

[2020-09-03 22:42] #5286 closed, assigned to nobody

[2020-09-03 23:14] pierlon commented on #5286
**QA Passed**

When the `amp_dev_tools_enabled` user meta key is not set:

![image](https://user-images.githubusercontent.com/16200219/92181904-e1610580-ee39-11ea-97e0-c84719e93686.png)

- When Standard or Transitional mode is active, dev tools is enabled by default:

  ![image](https://user-images.githubusercontent.com/16200219/92181947-fdfd3d80-ee39-11ea-9a02-91a293321e8c.png)

- When Reader mod

[2020-09-04 00:43] westonruter commented on #5308
@mdrovdahl @roo2 [v2.0.1](https://github.com/ampproject/amp-wp/releases/tag/2.0.1) is now published on WordPress.org.

[2020-09-04 06:48] westonruter commented on #5271
Related: #5336.

[2020-09-04 18:25] johnwatkins0 commented on #5310
@jwold Does Weston's suggestion above seem all right to you?

[2020-09-04 19:52] jwold commented on #5310
@johnwatkins0 and @westonruter that looks good to me. Thanks!

[2020-09-05 04:00] schlessera opened #5340 "Integrate plugin suppression into plugins screen"
## Feature description

On the plugins screen in the WordPress admin backend, I'd expect to see information about plugin suppression.

Some form of feedback should be shown in the row of each of the currently suppressed plugins. Clicking on that feedback should probably bring me to the plugin suppression section in the AMP Settings screen, as I'd see all contextual information there.

Also, the to

[2020-09-05 04:27] westonruter commented on #5340
This was also referenced in the original issue (#4477):

[2020-09-05 04:31] westonruter commented on #5340
I suppose we'd need to have a new column for “AMP Suppression” as well similar to how there is now a new column for “Automatic Updates”? Should the suppressed state be similarly toggleable as “Enable auto-updates” and “Disable auto-updates”?

![image](https://user-images.githubusercontent.com/134745/92297614-0a46d080-eef6-11ea-9d7c-47b75da15739.png)

[2020-09-07 03:57] westonruter commented on #5291
In testing I noticed the Pins do not render well. I've worked out an improved approach to rendering that ensures the correct height is applied to `amp-pinterest` by using Pinterest REST API call. This is proposed for the Jetpack Pinterest block, but we should port it into the AMP plugin: https://github.com/Automattic/jetpack/pull/17086

Aside: I wonder why Jetpack doesn't register an oEmbed handle

[2020-09-07 04:06] westonruter commented on #5291
We should also implement support for converting raw Pinterest embeds.

[2020-09-07 13:12] GiNgesIo commented on #5277
Hi @westonruter I have added some custom CSS rules but none that would explain this behavior:

`figcaption.wp-caption-text {display:none;}`
`div.footer-nav-widgets-wrapper {border-top: 0;}`
`p.jp-relatedposts-post-date, p.jp-relatedposts-post-context {display: none !important;}`
`hr.post-separator.styled-separator.is-style-wide.section-inner {height: 0px;color: #ffffff;}`
`a.more-link {margin-top:

[2020-09-07 15:24] #5322 closed, assigned to jwold

[2020-09-07 15:37] westonruter commented on #5293
Also apparently requested in [support topic](https://wordpress.org/support/topic/storefront-theme-compatibility-2/#post-13372450):

[2020-09-08 00:33] westonruter commented on #5277
Indeed. That does seem to be where it is coming from. See https://plugins.trac.wordpress.org/browser/twentig/tags/1.1.2/inc/twentytwenty/index.php#L2795

[code]

You might want to suggest that the plugin author add the necessary CSS to prevent the image from overflowing the available width.

[2020-09-08 00:37] #5310 closed, assigned to schlessera

[2020-09-08 16:53] jwold opened #5351 "Cannot complete onboarding when Twenty Twenty is chosen as Reader Mode on a Twenty Twenty site"
## Bug Description

Ran into some kind of a loop in the onboarding with the latest production link of the plugin. https://v.usetapes.com/B8TMBLVctj

## Expected Behaviour

I would expect it to kick me back to the Transitional mode, like normal, and let me complete the installation.

## Steps to reproduce

1. Brand new installation with 2020 activated
2. Run wizard > non-technical > reader mode > 2

[2020-09-08 17:07] westonruter opened #5353 "Improve discoverability of “Save Changes” button on AMP settings screen"
## Feature description

Given a viewport sized as following when looking at the AMP settings screen:

Notice there is no Save button visible. This is even worse when a Reader theme is selected.

In the same way that there is a fixed bar at the bottom in the onboarding wizard, there may need to be something similar for the settings screen so that users can discover that they need to click “Save Cha

[2020-09-08 21:29] jwold commented on #5353
So something like this?

![Settings](https://user-images.githubusercontent.com/3411173/92529529-85063900-f1df-11ea-9c77-35369cbd0f13.png)

In addition to our own onboarding, I found a few other examples from [Yoast](https://d.pr/i/Ecx9NH) and [WooCommerce](https://d.pr/i/p3ILy8) that are similiar.

[2020-09-08 21:39] westonruter commented on #5353
Yes, like that.

[2020-09-09 15:55] johnwatkins0 commented on #5304
In #5319 we made the change for 2.0.2 to open the link in a new tab. Should this be set to a later milestone now?

[2020-09-09 16:32] huntlyc commented on #4989
I would favour having a settings page like jetpack where you could toggle the carousel/lightbox options site-wide with it turned off by default.

Reason being, it took me longer than I care to admit to find out why a gallery was displaying as a carousel and how to stop it from doing so... 🤣

I do think this functionality belongs in the amp plugin as not everyone uses jetpack or, even if they do, t

[2020-09-09 16:42] westonruter commented on #4556
@jwold FYI

[2020-09-09 17:37] westonruter commented on #4989
Yeah, I could see the default values for whether the galleries are displayed as lightbox or carousel could be in an Advanced section on the AMP settings screen.

[2020-09-09 18:00] westonruter commented on #5304
You're right. Done.

[2020-09-09 19:12] jwold opened #5357 "When a site admin selects `view with AMP disabled` from the admin bar, there is no way to get back"
## Bug Description

When I go to view with AMP disabled, I can’t get back to the AMP enabled state unless I delete the URL.

## Expected Behaviour

There should be an action in the admin bar that allows you to return to the AMP enabled state.

## Steps to reproduce

Video showing behavior: https://v.usetapes.com/3IAmwnfXZ5

## Screenshots

## Additional context

 - WordPress version:
 - Plugin ver

[2020-09-09 19:13] westonruter commented on #5357
Duplicate of https://github.com/ampproject/amp-wp/issues/5171

[2020-09-09 19:13] jwold commented on #5357
Closing in place of #5171

[2020-09-09 19:13] #5357 closed, assigned to nobody

[2020-09-09 19:14] westonruter commented on #5171
Video showing behavior from @jwold: https://v.usetapes.com/3IAmwnfXZ5

[2020-09-09 19:53] westonruter opened #5358 "Sanitizer leakage: Multiple image candidates with the same width or pixel density found in attribute ‘srcset’ in tag ‘amp-img’."
## Bug Description

On <https://19thnews.org/2020/08/black-sororities-in-suffrage/> there is image:

[code]

On the AMP version <https://19thnews.org/2020/08/black-sororities-in-suffrage/?amp> it is converted into:

[code]

Note that this entry in `srcset` is duplicate:

[code]

This is causing a validation error being reported by the AMP Validator which I have not seen before:

We apparently need

[2020-09-09 20:00] westonruter commented on #5358
The error code here is `DUPLICATE_DIMENSION`:

https://github.com/ampproject/amphtml/blob/6f5d0d8117002eb712202d1f86ec356e4f488b4f/validator/validator-main.protoascii#L6033-L6037

See Node.js validator logic:

https://github.com/ampproject/amphtml/blob/5fcb29a41d06867b25ed6aca69b4aeaf96456c8c/validator/js/engine/parse-srcset.js#L99-L109

https://github.com/ampproject/amphtml/blob/c559cd50968a279b0

[2020-09-09 22:06] pierlon opened #5360 "The docs for hooks should infer the return value from the first argument of the hook"
## Feature description

As pointed out by @schlessera in https://github.com/ampproject/amp-wp/pull/5344#issuecomment-688410964, the docs generator should be inferring the return type of the hook from its first argument and then be used to document its return type.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance cr

[2020-09-10 00:00] #5271 closed, assigned to schlessera

[2020-09-10 16:02] kmyram opened #5363 "Discovery of improvements in release management"
## Feature description

The vision is to have a more streamlined release process where the role of release manager can rotate and we reduce risk and exposure.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2020-09-10 18:17] westonruter commented on #2045
Need to confirm whether element/attribute casing is significant in an HTML context, whether lower-casing all attributes matters.

Also, rather than going to the effort of lower-casing all attribute names during validation, I think it may be preferable to simply add `viewBox` as an alternate name for `viewbox`. I'll investigate.

[2020-09-10 18:26] pierlon commented on #2045
Also see Mozilla's wiki on [SVG:Language:Regrets](https://wiki.mozilla.org/SVG:Language:Regrets#Mixed_case_element_and_attribute_names).

[2020-09-11 04:07] westonruter commented on #2045
Using this code:

[code]

The output:

[code]

Notice the warning that the `svg` element is not recognized. Notice also that even though `viewBox` is provided as input, the serialized output is `viewbox`. This must be because libxml isn't super up-to-date for HTML5 (and the fact that SVG can now be embedded in HTML), and since HTML attributes are case-insensitive, they are getting normalized as be

[2020-09-11 05:05] westonruter commented on #2045
Also, I can see actually that when the original HTML document being parsed contains `<svg viewBox="…">`, it will get serialized lower-case `<svg viewbox="…">`. Nevertheless, for the [AMP-IMG SVG Inliner](https://gist.github.com/westonruter/e0545fcd2dcc18c9263dff6ec0ac055d) plugin, this is resulting in the SVG referenced by `<img>` getting serialized as with the original camelCase: `<svg viewBox="…

[2020-09-11 05:11] westonruter commented on #2045
I can't remember the context from when I first opened this issue. So I may have been trying to do the very thing I just did today 😛

[2020-09-11 05:22] westonruter commented on #2045
The easy fix here is simply to use `loadHTML()` to parse SVG files, even though they are technically XML:

[code]

This ensures that all the element names and attribute names are lower-cased. Pushed that patch up as part of https://gist.github.com/westonruter/e0545fcd2dcc18c9263dff6ec0ac055d

This being the case, and given that SVG that is originally in the HTML document will be normalized with lo

[2020-09-11 17:17] johnwatkins0 commented on #3821
@jwold I started doing some testing with a plugin sidebar and can confirm the following:

1. In the screenshot below, where I currently have the button that says "AMP" (which I've hardcoded for testing), that component has access to all the editor state and can be adjusted at any time within an editing session -- e.g., to show a warning state if there are errors, or to show an "OK" state if there

[2020-09-11 20:05] johnwatkins0 opened #5367 "Result of themes_api in ReaderThemes class is not always as expected"
## Bug Description

Bug came up on the support forum here: https://wordpress.org/support/topic/issue-during-activating-the-updated-plugins/#post-13383737

The issue is stemming from one or both of:

1. It's possible, though I haven't been able to verify, that the `themes_api` function can in some situation return an invalid result (an object or array lacking a "themes" property) while not returnin

[2020-09-11 23:32] westonruter opened #5369 "Unexpected page contents when previewing changes to state of invalid markup for a validation error"
## Bug Description

Here's the scenario:

In #5356 I'm working on fixing #771 which involves catching better handling of validation errors caused by including `i-amphtml-` in a stylesheet (instead of this causing the entire stylesheet to be removed, only the bad selector should be removed). I was trying to add this to the stylesheet and then seeing the behavior of forcibly keeping the invalid CSS.

[2020-09-12 00:01] westonruter commented on #5367
A better way to test would perhaps be adding a plugin that does:

[code]

[2020-09-12 01:55] #5351 closed, assigned to jwold, johnwatkins0

[2020-09-12 04:39] #771 closed

[2020-09-13 22:15] #4602 closed, assigned to westonruter

[2020-09-14 15:13] rsmith4321 opened #5377 "Missing images in amp-carousel added by jetpack"
## Bug Description

If I manually add an amp-carousel using an html block, all images load correctly. However, if I add a carousel using the jetpack slideshow block, which is converted by the amp plugin into an amp-carousel, on the first page load there is always missing images. If the page is refreshed the images appear. This is an issue I've had for a long time.

## Expected Behaviour

All image

[2020-09-14 15:21] westonruter commented on #5377
@rsmith4321 The screenshots aren't accessible.

And actually, the AMP plugin doesn't do any conversion of the Slideshow block. It is emitted as an `<amp-carousel>` directly from Jetpack: https://github.com/Automattic/jetpack/blob/40e2c3f49324fa9fefa54c31674ab2ef27451d82/extensions/blocks/slideshow/slideshow.php#L81-L106

Therefore, the bug is either with Jetpack or with AMP itself. I see you've re

[2020-09-14 15:23] westonruter commented on #5377
I wonder if it has anything to do with server-side rendering.

Could you try adding this plugin: https://gist.github.com/westonruter/8d52c0b807e6dfbbdf2219622d0f4a7e

That will disable SSR, and then you can force it on with `?amp_ssr=true` or off with `?amp_ssr=false`.

[2020-09-14 17:35] westonruter opened #5378 "Implement support for off cache AMP"
## Feature description

AMP will soon support valid AMP pages opting out of being served from an AMP Cache. See https://github.com/ampproject/amphtml/issues/29296. This will be an important ability to fix various issues caused by caching, including analytics and serving stale pages (https://github.com/ampproject/amphtml/issues/24326), the latter of which is particularly important for e-commerce.

[2020-09-14 19:35] jwold commented on #3821
Great work. I like where you're going. I'm wondering if following how Yoast does this might make sense. Or, just a simple badge.

<img width="1019" alt="Screen Shot 2020-09-14 at 12 34 36 PM" src="https://user-images.githubusercontent.com/3411173/93129987-b0c56b00-f686-11ea-8c93-af628162e012.png">

<img width="791" alt="Screen Shot 2020-09-14 at 12 34 57 PM" src="https://user-images.githubusercont

[2020-09-14 20:49] westonruter commented on #3821
Oh yes, I like that.

The dots in the Yoast button refer to the Readability analysis and SEO analysis?

Nevertheless, they have a panel in the Document tab in addition to having their own plugin sidebar. That “Improve your post with Yoast SEO” is a shortcut button that opens the plugin sidebar. We could do the same, where we have “Review validation issues (X)” instead. This can also be where we pu

[2020-09-15 01:12] rsmith4321 commented on #5377
Sorry I thought I had mentioned this issue before but couldn't find it. I
disabled SSR with your plugin and the issue seems to have gone away. Then I
disabled the plugin to reactivate SSR and now I can't seem to replicate the
issue. Does SSR create some type of caching that needs to be
cleared, perhaps disabling it cleared out the cache?

On Mon, Sep 14, 2020 at 11:23 AM Weston Ruter <notification

[2020-09-15 02:29] westonruter commented on #5377
SSR doesn't create a cache. It just reduces the amount of work that the AMP runtime JS has to do once the page loads. Apparently this is reducing _too_ much of the work that the runtime has to do, as it's not going so far as to render that image.

Please leave that "Disable SSR" plugin active so that the AMP team can compare the page with and without SSR.

[2020-09-15 11:49] ThatStevensGuy opened #5379 "WordPress MediaUpload component does not select files when AMP plugin is active."
## Bug Description

I noticed that the value prop of the MediaUpload Gutenberg component, when it is used for other components, does not select the file in the Media Library.

So I posted the issue into the Gutenberg issues: https://github.com/WordPress/gutenberg/issues/25129

I have had no response from WordPress, but user @tony47 identified that disabling the AMP plugin resolves the issue, which

[2020-09-15 16:05] jwold commented on #4554
**Backlog Notes:**

* Too low level for authors, and they get confusing. If you select no display as a display type the block disappears, not helpful. In the chance that someone is still using it we may want to conditionally show it in case they have used it already. Maybe hide it, remove it for new posts, or any post that doesn’t use this, otherwise show it.
* Maybe say it’s deprecated, but proba

[2020-09-15 16:05] pierlon commented on #4554
Also seems to be broken in the latest edition of Gutenberg (v8.9.3):

![image](https://user-images.githubusercontent.com/16200219/93235541-3ae7ff00-f76d-11ea-9e0b-cf96e4201fa7.png)

[2020-09-15 16:18] jwold commented on #4557
We discussed this and plan to deprecate it from the plugin. The exception is that any users who have already implemented this on a page will still see it.

[2020-09-15 16:20] schlessera opened #5381 "Add (fragment) caching to validation"
## Feature description

Doing a validation request is an expensive operation. In a lot of cases, it might not actually be needed, though, as the markup to be validated has not actually changed, or only changed in a way that wouldn't impact the validation results.

To accelerate these cases, we could hash the markup and store that hash with the validation result. If a validation request comes in, t

[2020-09-15 16:22] #1755 closed

[2020-09-15 16:29] jwold commented on #4989
**Notes from backlog:**

Related to AMP compatibility work for Jetpack. If you enable the Jetpack module or light boxes, it will enable Lightbox effect for all galleries. This doesn’t do anything, doesn’t make sense. Whether on or off you still get light boxes. We need a better way of representing this.

**We could have global setting to enable all or off by default**. Jetpack should hook into tha

[2020-09-15 17:58] westonruter commented on #4556
For the AMP MathML block, we can deprecate in favor of the [MathML Block](https://wordpress.org/plugins/mathml-block/) plugin, per https://github.com/adamsilverstein/mathml-block/pull/32.

[2020-09-15 18:45] westonruter commented on #4554
I'm seeing the same breakage:

![image](https://user-images.githubusercontent.com/134745/93251306-dca92500-f748-11ea-91d4-a0d598d7eef9.png)

[2020-09-15 19:09] westonruter commented on #1459
This issue is about adding the Source Stack to the single Validation Error screen, whereas currently it is only on the Validated URL screen. The reason why it is only on the latter is that source stacks need the URL context to determine where they came from. Source stack information is only stored with the validated URLs.

If the source stacks from a validation error on multiple URLs are not the s

[2020-09-15 20:18] westonruter commented on #5378
We may want to split this into two separate issues: one that implements just the low-level support for opting out of AMP Cache (but leaving it enabled by default), and then a second issue where we decide if certain templates should be off-cache by default and a UI for controlling it.

The first issue can be tackled ASAP in a 2.0.x release, whereas the UI can be part of 2.1.

[2020-09-15 20:51] westonruter commented on #5293
Or _maybe_ users should have the option to show the mobile switcher link even on non-AMP pages, but this would be less commonly needed than showing the non-AMP link on AMP pages.

[2020-09-15 20:59] westonruter opened #5386 "Add ability to override whether mobile switcher link is displayed"
## Feature description

There have been a few requests regarding the mobile switcher link in the footer. Some users in Transitional mode have an AMP version that is complete parity with non-AMP version. See [support topic](https://wordpress.org/support/topic/translate-and-or-remove-exit-mobile-version-text/). For them, they may want to still have mobile redirection enabled, but skip showing the li

[2020-09-15 21:10] westonruter opened #5387 "Add user agent exclusion list for whether or not to do mobile redirection (to exempt tablets from redirection)"
## Feature description

Some users may only want to redirect _mobile_ visitors to the AMP version, as the "mobile redirection" implies. Nevertheless, the the user agent list currently used for redirection will match _tablet_ devices as well:

https://github.com/ampproject/amp-wp/blob/0aecc3e8748d56b648652a682c7bdc8b3fad09eb/src/MobileRedirection.php#L281-L289

In particular, the user agent for "Mo

[2020-09-15 21:36] westonruter commented on #5381
I have doubts as to whether this will yield meaningful results due to how unencapsulated content in WordPress is.

For example, if I have a block and I toggle the value of one attribute, the effect may not be limited to the element containing the rendered block markup. Namely, an attribute change could cause a script to be added/removed elsewhere in the page. Filters on `the_content`mean there's n

[2020-09-16 00:46] rsmith4321 commented on #5377
I will reactivate the plugin for testing, I've also been able to recreate
the missing image issue in an incognito window. It only seems to happen on
first load.

On Mon, Sep 14, 2020 at 10:29 PM Weston Ruter <notifications@github.com>
wrote:

[2020-09-16 00:57] rsmith4321 commented on #5377
Actually, on further testing, I was able to create the issue even after
activating the disable ssr plugin.  I seem to be able to reliably create
this issue if I open developer tools in chrome and do an empty cache and
hard reload of the page.
Here is a screenshot
https://drive.google.com/file/d/1N8NoPaupaTv3xvv2R5QwOSgJfZPJV6_M/view?usp=sharing

On Tue, Sep 15, 2020 at 8:46 PM Ryan Smith <rsmith43

[2020-09-16 18:02] jwold commented on #3821
Two ideas I've been playing with:

<img width="828" alt="Screen Shot 2020-09-16 at 11 01 41 AM" src="https://user-images.githubusercontent.com/3411173/93374774-0d05c780-f80c-11ea-96d5-f226d5ec6ef8.png">

[2020-09-16 20:55] westonruter opened #5389 "Improve presentation of validation errors which are programmatically blocked from being sanitization (with markup kept)"
## Feature description

The Web Stories plugin is going to intentionally serve an `amp-story` that lacks an `poster-portrait-src` attribute if one is not supplied by the user (see https://github.com/google/web-stories-wp/issues/3671). Normally the AMP plugin would end up removing the entire `amp-story` element since this attribute is required. So in https://github.com/google/web-stories-wp/pull/45

[2020-09-16 21:01] westonruter commented on #3821
I like those a lot. I think Option B is preferable.

[2020-09-16 21:39] jeffersonrabb commented on #2817
Use case for this filter. The Events Calendar plugin (https://github.com/moderntribe/the-events-calendar) is not AMP compatible, and I'm interested in programmatically disabling AMP on the main calendar listings page, which by default has the URL `/calendar`. I was able to achieve this in the AMP plugin UI by switching off `Serve all templates as AMP` and disabling `Events`, but ideally this could

[2020-09-17 00:21] westonruter commented on #2817
Got it. That makes sense.

A challenge we need to figure out here is how we can best communicate to the user when programmatically disabling AMP for a given URL. We currently have the `amp_skip_post` filter for posts specifically, and when a filter turns off AMP using that, the AMP Enabled toggle is disabled in the edit post screen. If we introduce a more general mechanism to prevent AMP from bein

[2020-09-17 00:53] westonruter commented on #5377
I can reproduce it, and it is frustratingly sporadic. I took a screencast of reproducing the issue after several failed attempts at reloading: https://youtu.be/nBtjBtai8s0

Unfortunately, this doesn't appear to have anything to do with the AMP plugin, so I'll follow up on the AMP core issue.

[2020-09-17 00:53] #5377 closed, assigned to nobody

[2020-09-17 02:41] johnwatkins0 commented on #3821
Agree with Weston. As a user, the number is going to catch my eye much more. It just needs to be easy to get the number resolved down to 0 -- like the notices within the sidebar should have an equivalent of, "I don't care about this. Just make it go away."

@jwold, I'll keep going with this branch and start to pull the notices into the sidebar without spending time on the design part of it. I'll s

[2020-09-17 16:18] jwold commented on #5353
Right now the gray `Save changes` button stays at the bottom of the screen. Users may miss it as they open the panels and interact with settings.

Before: https://d.pr/i/70O8mw

After: https://d.pr/i/ncOO9D

Similar to the onboarding wizard, this would make the gray button float along the footer, so that a user could see it at all times.

This follows patterns that other major plugins are using, a

[2020-09-17 16:34] westonruter commented on #5353
Nice thing about this is the user can hit save, then switch to a different tab to see the result. If they don't like it, they can switch back to the first tab and change the selection and re-save, all without changing the vertical scroll position.

[2020-09-17 16:53] jwold commented on #5363
Related to deployment of new releases, for instance automating 2.0.2

[2020-09-17 18:29] amedina commented on #5353
I love that approach.

When I was creating the video content, that trip to the basement of  the page was painful.

[2020-09-17 18:39] #5358 closed, assigned to westonruter

[2020-09-17 19:21] jwold commented on #5322
QA passed.

I setup Local with with 8.9 Gutenberg plugin and latest DEV build of AMP.

I'm *not* seeing the Widget section in Customizer: https://d.pr/i/u3ckqb

[2020-09-17 19:36] jwold commented on #5322
QA passed passed. (Needed to run off the [2.0 branch](https://storage.googleapis.com/ampwp_github_artifacts/refs/heads/2.0/prod/amp.zip))

[2020-09-17 19:37] schlessera commented on #5310
**QA passed**
This is now shown when no suppressible plugins are active:
![Image 2020-09-17 at 9 36 50 PM](https://user-images.githubusercontent.com/83631/93519040-f8215500-f92d-11ea-823c-56b6a593edd5.png)

[2020-09-17 19:38] schlessera commented on #5310
Note: The copy is different than the one from the issue, and I couldn't find a reference to where another copy was decided upon.

[2020-09-17 19:39] schlessera commented on #5310
@amedina Can you quickly confirm that copy is good here?

[2020-09-17 19:43] jwold commented on #5351
QA passed.

[2020-09-17 19:47] amedina commented on #5310
Yeah; it is good. Let's ship it.

[2020-09-17 19:49] westonruter commented on #4602
QA Passed. ✅

## Must-Use Plugin

[code]

![image](https://user-images.githubusercontent.com/134745/93520738-d00d0400-f8e3-11ea-88b5-e3734475755d.png)

## Plugin

[code]

![image](https://user-images.githubusercontent.com/134745/93520785-e31fd400-f8e3-11ea-9d3f-5479297814c0.png)

## Theme

Adding this code to Twenty Twenty:

[code]

![image](https://user-images.githubusercontent.com/134745/9352090

[2020-09-17 20:17] westonruter commented on #771
QA Passed. Results here: https://github.com/ampproject/amp-wp/pull/5356#issuecomment-694467214

[2020-09-17 20:23] westonruter commented on #5358
QA passed.

Created Custom HTML block containing the original `img` that caused the problem:

On an AMP page, the AMP Validator extension reports no validation error:

The duplicate is removed from the AMP version:

[2020-09-17 22:40] schlessera commented on #5271
**QA passed**

The values are stored in the transients and reused for both the menu construction as well as the "At a glance" widget.

![Image 2020-09-18 at 12 37 41 AM](https://user-images.githubusercontent.com/83631/93535607-953cb780-f947-11ea-8f44-05686321cdbf.png)

[2020-09-18 00:11] #4604 closed, assigned to westonruter

[2020-09-18 00:35] westonruter commented on #4604
QA Passed

The `turn` unit is preserved:

![image](https://user-images.githubusercontent.com/134745/93541752-25f5a200-f90c-11ea-915f-09281b6deb03.png)

Also in a Web Story context:

![image](https://user-images.githubusercontent.com/134745/93541789-39087200-f90c-11ea-9771-eb9dd3343c74.png)

[2020-09-18 00:42] #5367 closed, assigned to nobody

[2020-09-18 04:49] johnwatkins0 commented on #5353
@jwold How about the save success notice? Right now it flies in from the side. Should we instead work that information (and the rarer save failure notice) into this fixed bottom bar somehow?

[2020-09-18 05:34] westonruter commented on #5353
Yes +1

[2020-09-18 09:24] Netzberufler opened #5401 "Version 2.0.2 broke my navigation menus because of CSS sanitizer"
## Bug Description

I'm a theme developer and have added AMP support to several of my themes. I'm using `tap:AMP.setState()` to set a `toggled-on` class for multiple mobile dropdown menus and dropdown search fields.

Example CSS:
[code]

My issue is that the `.main-navigation.toggled-on` class is missing in the AMP CSS since version 2.0.2 and seems to be removed by the Sanitizer. I guess that happ

[2020-09-18 09:26] artneo-io opened #5402 "[amp-autocomplete ] Fix invalid URL protocol for local development"
## Bug Description

`Invalid URL protocol http: for attribute src` for amp-autocomplete on local development.

The plugin triggers `INVALID_URL_PROTOCOL` for `//localhost:3000/wp-json/neoblog/v1/search/` URL.

![error](https://user-images.githubusercontent.com/17693529/93581175-28d9ac80-f977-11ea-8426-b86c67f7235d.png)

## Expected Behaviour

It shouldn't be consider an error. To test amp-autocomp

[2020-09-18 09:29] Netzberufler commented on #5401
Btw not sure if this is really a bug, or if I'm doing things wrong. Any input on how I can solve that is highly appreciated :)

[2020-09-18 18:01] westonruter commented on #5401
@Netzberufler Thank you for reporting! You have correctly identified a bug. I've created a fix here: #5403. Can you test to confirm it fixes the issue?

[2020-09-18 18:16] westonruter commented on #5402
Is your local development site running under HTTP and not HTTPS?

In looking at the [AMP playground](https://playground.amp.dev/#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiPgogIDx0aXRsZT5NeSBBTVAgUGFnZTwvdGl0bGU+CiAgPGxpbmsgcmVsPSJjYW5vbmljYWwiIGhyZWY9InNlbGYuaHRtbCIgLz4KICA8bWV0YSBuYW1lPSJ2aWV3cG9ydCIgY29udGVudD0id2lkdGg9ZGV2aWNlLXdpZHRoLG1pbmltdW0tc2NhbGU9M

[2020-09-18 18:30] westonruter commented on #5402
The quick fix is to enable HTTPS for your local environment.

[2020-09-18 18:35] artneo-io commented on #5402
I develop locally using Browsersync – the HTTP version page refreshes faster than HTTPS.

[2020-09-18 18:43] westonruter commented on #5402
I suggest you conditionally add the `data-ampdevmode` attribute to this `<amp-autocomplete>` element when `wp_get_environment_type() === 'local'`.

And then also add this plugin code:

[code]

[2020-09-18 19:18] #5401 closed, assigned to nobody

[2020-09-18 19:30] artneo-io commented on #5402
Does adding `add_filter( 'amp_dev_mode_enabled', '__return_true' );` already changes the plugin behavior somehow?

[2020-09-18 20:16] westonruter commented on #2795
For testing mobile redirection, see https://github.com/ampproject/amp-wp/issues/5268.

[2020-09-18 20:22] westonruter opened #5404 "Add E2E tests for the nav menu toggle"
## Feature description

The 2.0.2 update broke the ability to toggle the mobile nav menu. See #5401 fixed by  #5403. Given that the nav menu toggle is the most important interactive feature that almost all themes have, and given that it is the feature that almost always is broken when a theme is not AMP-compatible, we need to add E2E tests to ensure that this toggle works. This should be done for

[2020-09-18 20:32] westonruter commented on #5402
It forces the `html` element to have the `data-ampdevmode` attribute. Normally this is only ever added if you are logged-in and the admin bar is displayed, since it's important that AMP Dev Mode documents not be accessible to crawlers, since they are explicitly not valid AMP. However, if your site is on a `local` environment then it's clearly not going to be accessible to crawlers, so it doesn't m

[2020-09-18 20:33] westonruter commented on #5402
See default value for this filter here:

https://github.com/ampproject/amp-wp/blob/27718b00bfbaacd4013f1cdbb590dc3f4371b4bf/includes/amp-helper-functions.php#L1442-L1462

[2020-09-18 20:40] westonruter commented on #5402
I think amending the logic as follows would also make sense:

[code]

This can then be combined with extending the `AMP_Dev_Mode_Sanitizer` to automatically add `data-ampdevmode` attributes to all elements with `src` and `action` attributes that that have the `http:` protocol which point to the site. Nevertheless, it may be that some AMP components will just refuse to work if not on HTTPS as well,

[2020-09-18 20:45] westonruter commented on #2204
Another support forum topic about consequences of AMP URLs changing from `/amp/` to `?amp`: https://wordpress.org/support/topic/chanhe-amp-query-with-subdirectory-amp/

For some reason, the URL change caused Google Discover to stop showing AMP results from a site, even though Google Search did show AMP results.

So we need to minimize URL changes as much as possible when switching modes.

For bran

[2020-09-19 00:07] amedina commented on #5378
One possible approach is having something like the "Template Support" capability, or may be expanding that, to include the ability of opting out from cache at the template or content type level. And this will be complemented with the ability of opting out from the cache at a fine granularity level, along the lines of the options you suggested (Enabled, Enabled with/without AMP cache).

[2020-09-19 06:59] westonruter commented on #5581
The AMP core proposal for implementing this is to have a document add a `runtime-host` meta tag like this:

[code]

And then it would be allowed to reference AMP component scripts like:

[code]

So, in a WordPress context how would we do this?

One idea I had was to pull down the files and store the contents in the DB, and then serve them dynamically from WordPress. Nevertheless, this would face a

[2020-09-19 07:19] westonruter opened #5405 "Set maximum number of parsed CSS transients to store and proactively delete obsolete transients"
## Feature description

In a recent [support topic](https://wordpress.org/support/topic/this-plugin-inserted-a-lot-of-data-in-the-wp_options-table/), a user reported their `wp_options` table growing to 12GB and making queries very slow. Apparently this is due to transients being stored by the AMP plugin, in particular those for parsed stylesheets. A lot of work has been invested into mitigating th

[2020-09-19 07:20] westonruter commented on #5405
cc @schlessera

[2020-09-19 08:43] Netzberufler commented on #5401
@westonruter Yes everything works fine now. Thanks so much for fixing this so quickly

[2020-09-19 17:46] westonruter commented on #5401
Excellent. I also just sent you a follow-up email.

[2020-09-19 19:10] Healthinnovations opened #5406 "Phantom AMP page attached to site in google search"
Hi,
The site I need help with is health-innovations.org.
I downloaded the AMP Project contributors plugin and chose the 2018 theme for my wordpress.com site. However, the plugin updated yesterday 18/09/2020, and a phantom AMP page has attached itself to my home page in the search string ‘healthinnovations’ on google search. The search must be done on a mobile to exhibit the AMP pages.

The AMP lan

[2020-09-19 19:19] Healthinnovations opened #5407 "Phantom AMP page attached to site in google search"
## Bug Description

The site I need help with is health-innovations.org.
I downloaded the AMP Project contributors plugin and chose the 2018 theme for my wordpress.com site. However, the plugin updated yesterday 18/09/2020, and a phantom AMP page has attached itself to my home page in the search string ‘healthinnovations’ on google search. The search must be done on a mobile to exhibit the AMP pag

[2020-09-19 19:20] #5406 closed, assigned to nobody

[2020-09-19 19:37] westonruter commented on #5406
Duplicate of #5407.

[2020-09-19 19:49] westonruter commented on #5407
When tapping on:

I see this:

It appears you had the AMP plugin active with Reader mode selected and the Twenty Twenty chosen as the Reader theme.

If the homepage specifically was not working properly, then you could have configured the plugin to only be active for singular blog posts:

As for why Google Search is still showing the AMP pages in search results, the reason is that the pages have b

[2020-09-19 19:49] #5407 closed, assigned to nobody

[2020-09-20 05:51] westonruter commented on #5378
Yes, the only thing I have in mind so far is replacing each checkbox with a dropdown with those three options. We'll need to figure out a better way of showing such a dropdown as this doesn't look good:

Checkboxes | Dropdowns
-------------|------------
![image](https://user-images.githubusercontent.com/134745/93698460-c1347600-faca-11ea-9184-f41f276c5039.png) | ![image](https://user-images.github

[2020-09-20 05:57] Healthinnovations commented on #5407
Hi Weston, unfortunately the faulty AMP page url is :
https://www.google.co.uk/amp/s/health-innovations.org/

I cannot ask google to recrawl this url as it is not my property.

Any ideas on how to get this recrawled by google or removed from google
search results altogether?

Do you know of any third party recrawl systems that can reindex this page?

Thanks Michelle

[2020-09-20 06:38] westonruter commented on #5407
That URL is for Google's AMP viewer. The actual URL the viewer is pointing to is https://health-innovations.org/

So ask Google to re-crawl that URL.

[2020-09-20 07:35] Healthinnovations commented on #5407
Already done, thank you for your help.

Enjoy the rest of your weekend.

[2020-09-20 20:54] westonruter opened #5409 "Validation requests fail due to infinite recursion when Reader theme is selected"
## Bug Description

I noticed that when a Reader theme is selected, attempting to validate a URL will fail:

![image](https://user-images.githubusercontent.com/134745/93721486-7f94e100-fb45-11ea-81db-cd48eecd6d60.png)

The PHP error log includes:

The issue is that there is either infinite recursion or infinite loop happening here:

https://github.com/ampproject/amp-wp/blob/27718b00bfbaacd4013f1cd

[2020-09-20 21:45] westonruter opened #5411 "Enqueued block scripts and styles show as coming from AMP instead of actual plugin"
## Bug Description

In legacy Reader mode, I noticed that when Jetpack is active and I add a block that enqueues a stylesheet, the stylesheet shows as the AMP plugin being the source as opposed to Jetpack:

When a Reader theme is selected, it shows Gutenberg as the source:

When Gutenberg is deactivated, it shows `wp-includes` as the source:

The same happens for scripts which are enqueued from a

[2020-09-21 02:39] DanielCryptoK commented on #2475
Considering AMP stories is a Google Plugin I am shocked at how badly designed it is !!!

Side menu to create the stories nearly impossible to navigate, complete mess. I am trying to add a text link in the description but impossible. Also I requested that Sponsored and other link attributes added to the plugin so that affiliate links can have the correct attribute, shocking that Google not included

[2020-09-21 02:41] westonruter commented on #2475
@DanielCryptoK Why are you leaving this feedback here? Please submit an issue with constructive feedback on the Web Stories plugin repo: https://github.com/google/web-stories-wp/issues

[2020-09-21 21:19] jwold commented on #3821
I'm not sure if I'm tracking the actions fully, so I'd love feedback. I created a prototype that goes through the icon types.

1. No error
2. Error with sidebar closed
3. Error with sidebar open
4. No error after removing block
5. Error with sidebar closed and block dismissed

![Screen Capture on 2020-09-21 at 14-16-43](https://user-images.githubusercontent.com/3411173/93822622-580d4980-fc15-11ea-

[2020-09-21 21:25] johnwatkins0 commented on #3821
@jwold I might not be fully following what this one represents. Can you explain what you have in mind?

<img width="74" alt="Screen Shot 2020-09-21 at 4 25 05 PM" src="https://user-images.githubusercontent.com/9020968/93823187-066dba80-fc27-11ea-8129-bf936c5c6fc4.png">

[2020-09-21 21:27] jwold commented on #3821
@johnwatkins0 I started to write up an answer to this, but left it out in favor of just showing the prototype initially.

I'm not actually sure when that should occur. Further above Weston described this as:

`AMP Disabled due to validation error-causing invalid markup being kept (AMP logo with a slash through it?)`

But I'm not sure how it would be triggered

[2020-09-21 21:45] johnwatkins0 commented on #3821
@jwold I see. I think there is a question about what we want to do in the sidebar. Step 1 is moving all the block notices into the sidebar, as shown in your animation. A couple things to keep in mind with that:

1. In the sidebar, the notices **_can_** look how they do in the editor (the core-style yellow), or they can look how we want.
2. In the sidebar, we should have a way to highlight and scro

[2020-09-22 00:41] westonruter commented on #3821
As for the plugin sidebar icon states, this is is what they'd represent:

Editor Icon | Current Admin Bar Icon | State
------------|----------------|------
![image](https://user-images.githubusercontent.com/134745/93832853-d5dc4f80-fc2b-11ea-84ba-456a0161d238.png) | ![image](https://user-images.githubusercontent.com/134745/93833172-bb56a600-fc2c-11ea-9d3b-9cb9f0717204.png) | No validation errors o

[2020-09-22 11:59] techzotezo opened #6167 "Updating AMP to latest and and enabled Redirect mobile visitors to AMP-great impact on Pagespeed and lighthouse score"
We have updated latest AMP versions and enabled Redirect mobile visitors to AMP checking pagespeed rank 64 and showing these error related AMP
1) Remove duplicate modules in JavaScript bundles
2) Remove unused JavaScript

When we run any AMP pages in google pagespeed insights then showing this error and rank showing 64
Please check this url https://developers.google.com/speed/pagespeed/insights/?u

[2020-09-22 14:04] johnwatkins0 opened #5416 "Increase clarity and improve placement of featured image size recommendation"
## Feature description

While reviewing #5412, I came across a feature of the plugin that I've never noticed before. When you select a featured image that is less than 1200 pixels wide, you see this message at the bottom of the media upload modal:

<img width="696" alt="Screen Shot 2020-09-22 at 8 43 47 AM" src="https://user-images.githubusercontent.com/9020968/93890578-1bdaf700-fcb0-11ea-9b60-891

[2020-09-22 15:44] #5379 closed, assigned to westonruter

[2020-09-22 16:09] westonruter commented on #3821
The editor icons should also be displayed in a block toolbar when a block is selected, specifically if there are any validation errors that are occurring in the block? Clicking that block toolbar button could then expand the AMP plugin sidebar and highlight the block's own validation errors in that list.

[2020-09-22 16:13] westonruter commented on #3821
We need to also account for the Classic Editor case. This probably means a metabox that will contain the same components that would be displayed in the AMP plugin sidebar in the block editor.

[2020-09-22 16:37] johnwatkins0 commented on #3821
Following up on our call with this @jwold @westonruter, I think we should start with the bottom-up approach with this, which would be:

1. Create the sidebar.
2. Move the block validation notices into the sidebar -- for now, still linking to the URL validation screen for the complete validation functionality.
3. Implement interlinking between the sidebar and the blocks in the UI, with Weston's sug

[2020-09-22 16:44] amedina commented on #3821
For the sake of consistency, the icon for "There is at least one unreviewed validation error “which's” invalid markup is being removed." should be the AMP logo with a yellow-highlighted exclamation bubble overlapping it. This keeps the association of "yellow ==> error not reviewed, removed, valid AMP, possible functional/visual problems"

[2020-09-22 18:27] pierlon commented on #5379
Hi @ThatStevensGuy and @tony47, the issue has been fixed and will be available in our upcoming v2.0.4 release. In the meantime, feel free to try a plugin build with the fix incorporated: https://github.com/ampproject/amp-wp/pull/5412#issuecomment-696032545.

[2020-09-22 20:25] westonruter commented on #5379
I recommend using the 2.0.4-alpha release linked to here: https://github.com/ampproject/amp-wp/wiki/Development-Builds

[2020-09-22 20:31] jwold commented on #5353
Ok, here's an idea I've been playing with.

<img width="1116" alt="Screen Shot 2020-09-22 at 1 28 53 PM" src="https://user-images.githubusercontent.com/3411173/93934188-9ff4a500-fcd7-11ea-9f61-e9cf3c9eb541.png">

1. The initial state is blue and just has the word `Save`
2. During the save process (similar to Gutenberg) it will switch to say `Saving`
3. When save is complete it will say `Save`, unt

[2020-09-22 21:52] westonruter commented on #3821
@johnwatkins0 Yes, and also move the AMP Validation notice in the Classic Editor from an admin notice at the top down to a metabox.

[2020-09-22 22:19] westonruter commented on #5353
@jwold I don't think the button should become the notice, as otherwise what will the user click to retry? Clicking “Save Error” seems to indicate that the error would be saved. I think the success and error notices should be floated to the right.

[2020-09-22 22:21] westonruter commented on #5416
That is correct. The reason it doesn't mention AMP specifically, is that it is a general Google Search recommendation/requirement. Nevertheless, you're right that some users won't care. It's just that when Google Search Console complains about missing structured data or an image that is too small, we want to be able to say that we warned them.

[2020-09-22 22:33] #5409 closed, assigned to nobody

[2020-09-22 22:56] westonruter commented on #5379
QA Passed.

I added an audio block, an image block, and set the featured image.

When clicking “replace” for the audio block, the previously-selected audio file was automatically selected:

![image](https://user-images.githubusercontent.com/134745/93945541-fcfa5600-fceb-11ea-81b5-fafd168bf2c6.png)

The same was true for the featured image and image blocks.

[2020-09-22 23:02] pierlon commented on #5409
**QA passed**

With Reader mode active and when the legacy theme or a Reader theme is selected, validating a URL does not throw an error:

![image](https://user-images.githubusercontent.com/16200219/93946001-a7dc3580-fd27-11ea-8eac-5f535d82f8ab.png)

[2020-09-23 05:37] #4402 closed

[2020-09-23 12:49] schlessera opened #5420 "Helper function assertSimilarMarkup() strips attributes instead of normalizing them"
## Bug Description

The helper function `assertSimilarMarkup` in the `MarkupComparison` trait is supposed to normalize all of the HTML that would cause a strict string comparison to fail but not actually have an effect on how the HTML is interpreted, like the presence or absence of an attribute's empty value (`foo` <=> `foo=""`).

However, the code to normalize the attributes within each element i

[2020-09-23 17:29] pierlon opened #5423 "Ensure the Twenty Twenty One theme is AMP compatible"
## Feature description

Development of the [Twenty Twenty One](https://github.com/WordPress/twentytwentyone) theme has recently [begun](https://make.wordpress.org/core/2020/09/23/introducing-twenty-twenty-one/). As it is a core theme, we should ensure that it is AMP compatible and listed as a Reader theme.

---------------

_Do not alter or remove anything below. The following sections will be man

[2020-09-23 17:40] westonruter commented on #5055
As discussed just now, let's also include the hero preloading logic detection for CSS background images that are defined with inline `style` attributes. For example, the Cover Image block in core is rendered on an AMP page as follows:

In the same way that a transformer is looking for `amp-img@src`, `amp-video@poster`, `amp-iframe > amp-img` (and `amp-youtube` per https://github.com/ampproject/amp

[2020-09-23 18:00] schlessera commented on #5055
I am planning on adding a WP-specific transformer that is responsible for tagging the best images with the `data-hero` attribute. This will be in the plugin, not the Optimizer library.

[2020-09-24 04:59] westonruter commented on #4191
This is also needed by the Revue widget in Jetpack: https://github.com/Automattic/jetpack/issues/16922.

[2020-09-24 09:45] rhyswynne opened #5426 "A late amphtml URL filter so we can filter the AMP URL"
## Feature description

We run a blog over a reverse proxy and it is hosted at /blog/. The problem is that the REQUEST_URI that runs in `amp_get_current_url` returns just /post-name/, rather than /blog/post-name/, so the AMP URL is returning as domain.com/blog/post-name/, which causes 404 errors.

We've created a function that replaces the add_amphtml_link with our own custom version, and before t

[2020-09-24 16:08] jwold commented on #5353
You're right! That makes more sense, and it follows with the pattern above with notices above the template modes.

<img width="599" alt="Screen Shot 2020-09-24 at 9 07 59 AM" src="https://user-images.githubusercontent.com/3411173/94170941-85403e80-fe45-11ea-8481-2e111f22b9df.png">

[2020-09-24 16:20] johnwatkins0 commented on #5353
👍 This will work. I _can_ use the "Saved" state, which will revert back to "Save changes" once the user makes additional changes.

[2020-09-24 18:03] westonruter commented on #5426
This is essentially a duplicate of what we have in progress at https://github.com/ampproject/amp-wp/issues/2204.

But shouldn't you be manipulating `$_SERVER['REQUEST_URI']` to fix it to reflect the path expected for the reverse proxy? Wouldn't that fix the problem?

[2020-09-24 18:05] westonruter commented on #5426
WordPress also makes use of `$_SERVER['REQUEST_URI']` in various places in core (e.g. `redirect_canonical()`), so if you're not doing that replacement globally then other things will break than just AMP.

[2020-09-24 19:12] johnwatkins0 opened #5427 "AMP Validated URL screen: Allow marking multiple validation errors as reviewed or unreviewed at once"
## Feature description

Currently, this interface requires each checkbox in the "Reviewed" column to be clicked separately.

<img width="1247" alt="AMP URL validation table" src="https://user-images.githubusercontent.com/9020968/94188900-9e5de500-fe6f-11ea-894c-639da25af297.png">

There should be a way to mark _all_ or multiple issues as reviewed or unreviewed with a single click, maybe alongside

[2020-09-24 19:52] westonruter commented on #5427
This is a quick win that can land in 2.0.5 if we get to it.

[2020-09-25 18:02] westonruter commented on #5427
I just noticed that GitHub's issue/PR tables make use of a similar paradigm as our validation error list on the Validated URL screen:

State | GitHub | AMP Plugin
------|--------|-----------
None checked | ![image](https://user-images.githubusercontent.com/134745/94299932-28b05280-ff1d-11ea-844f-19e37b561574.png) | ![image](https://user-images.githubusercontent.com/134745/94300478-ee938080-ff1d-11

[2020-09-25 18:17] pierlon commented on #5427
Alternatively, we could use the "Bulk Actions" select drop-down, since that's a common UI used throughout WordPress, eg. the Plugins page:

![image](https://user-images.githubusercontent.com/16200219/94301801-bb231700-ff5a-11ea-8933-ab78f7a99291.png)

I would imagine it somewhat looking like this in the Validated URL screen:

![image](https://user-images.githubusercontent.com/16200219/94302094-31c

[2020-09-25 19:37] westonruter commented on #5427
I think the reason we didn't include the dropdown like that is that the common expectation in the list tables is that clicking Apply would cause a form submission, and then for the page to reload and the dropdown to be reset to having "Bulk actions" as the selected option. If we apply the change instantly as soon as the user clicks Apply, then it could be confusing to see the selected option reset

[2020-09-25 19:37] #5420 closed, assigned to pierlon

[2020-09-25 19:45] #5427 closed, assigned to jwold

[2020-09-25 19:53] westonruter opened #5431 "Hide bulk action buttons when all selected validation errors are already in given state"
## Feature description

In #5427, two new buttons for “Mark reviewed” and “Mark unreviewed” were added to go alongside “Remove” and “Kept” when selecting one for more validation errors on the validated URL screen.

Something that I realized is that if you have selected validation errors which are already removed, should the "Remove" button even be shown? Similarly, once you select all and click th

[2020-09-25 20:02] pierlon commented on #5427
One exception to that would be the bulk editing of posts/pages - the page is not reloaded and the selected option is not reset upon clicking the "Apply" button:

![](https://user-images.githubusercontent.com/16200219/94310522-4e634900-ff69-11ea-8dd9-884f7c19becb.gif)

Putting those buttons into a select input would reduce the space occupied by the buttons and we wouldn't have to think about redesi

[2020-09-25 20:25] amedina commented on #5427
One aspect we must consider is the purpose of the underlying functionality. One advantage of not having bulk actions in our case is that it forces users to actually engage with the issues. Similar to what the "Accept" button is not available until you scroll down the end of a document; and perhaps also similar to the needs of the Github interface.

[2020-09-25 20:26] amedina commented on #5427
Granted that it does not mean users will do or not do, but the UI is conducive to the right behavior.

[2020-09-25 20:31] amedina commented on #5431
This makes sense. It will improve the experience by making the UI more intuitive.

[2020-09-25 20:51] westonruter commented on #5427
@pierlon I forgot about that Edit bulk action. Nevertheless, that seems somewhat even more tedious to make a bulk change in the context of the Validated URL screen. In that approach, to change multiple issues to Reviewed, you'd need 4 clicks:

1. Select the validation errors
2. Click the bulk action edit option
3. Click apply
4. Make the desired change.
5. Hit save?

Do you have a difference in ho

[2020-09-26 01:16] amedina commented on #5378
Yeah; I was thinking to have two check boxes, one for enabling and one for the cache, with the latter conditionally enabled when the former is checked.

[2020-09-26 01:43] westonruter commented on #5378
How would the checkboxes be labelled?

[2020-09-26 02:32] amedina commented on #5378
One possibility would be along the lines of labels indicating (1) AMP content generation, and (2) opt in/out from the cache:

- Content
- AMP Cache

And we can update the heading of the section to encompass the dual function.

[2020-09-26 04:58] westonruter commented on #5378
Yeah. Let's explore some options for the UI to figure out something that minimizes clutter. The way it is right now with the one checkbox appears nice and tidy as the checkboxes kinda serve as bullet points. So if we add a second checkbox or use a select dropdown, then that bullet-point feeling will be lost:

Maybe we need a new icon that can represent the three states of (for lack of better icons

[2020-09-26 15:52] rith423 opened #5432 "Error in required structured data element"
I have received the notification today "Error in required structured data element"  How to solve this issue?

error link - https://www.percentageformula.com/blog/best-eyeliner-brands-in-india/amp/
https://www.percentageformula.com/blog/best-speaker-brands-in-india/amp/
https://www.percentageformula.com/blog/mamaearth-wow-wednesday-offer/amp/

[2020-09-26 16:30] westonruter commented on #5432
I'm seeing an error:

But this is happening on your non-AMP page as well. The Schema.org markup here is not coming from the AMP plugin but some other plugin. You'll need to report the issue elsewhere.

[2020-09-26 16:30] #5432 closed, assigned to nobody

[2020-09-26 16:47] rith423 commented on #5432
For deals and coupon websites which property you preferred?

[2020-09-26 16:53] westonruter commented on #5432
I don't have any recommendations nor preferences.

[2020-09-26 18:09] westonruter commented on #4191
Also let's make sure it accounts for the PayPal payment snippet code: https://wordpress.stackexchange.com/questions/367201/amp-and-paypal-form-cors-issue

[2020-09-27 23:12] papyon2016 opened #5439 "the conflict between the "AMP" plugin and "WP Google Search" plugin"
When I activate the AMP plugin, the WP Google Search" plugin is not visible.
In the first image,  the AMP plugin is activated.
![the AMP is activ](https://user-images.githubusercontent.com/28312311/94377932-8b743a80-0125-11eb-9016-42ec2512ad29.PNG)
In the second image, the AMP plugin is not active.
![the AMP is not activ](https://user-images.githubusercontent.com/28312311/94377933-8e6f2b00-0125-11

[2020-09-28 01:05] westonruter commented on #5439
Are you referring to this plugin? https://wordpress.org/plugins/wp-google-search/

[2020-09-28 09:49] papyon2016 commented on #5439
Yes sure.
As I mentioned yesterday.
Can you tell me what's wrong?
Thanks

*Papyon*

On Mon, Sep 28, 2020 at 3:05 AM Weston Ruter <notifications@github.com>
wrote:

[2020-09-28 15:57] rickalee opened #5444 "amp-next-page theme styles removed due to CSS Tree Shaking"
## Bug Description

amp-next-page default separator styles are removed because markup is not in HTML.

amp-next-page-links
amp-next-page-link
amp-next-page-image
amp-next-page-text

## Expected Behaviour

Styles should not be removed for templates using amp-next-page

[2020-09-28 18:19] westonruter commented on #5439
It appears that the search box is added with JavaScript. If I go to your site currently without AMP and turn off JavaScript in my browser, it is also missing.

The plugin is adding JS widget code that is incompatible with AMP. Apparently there is an alternative to just put a plan `form` into the page. See:

* https://stackoverflow.com/a/62068893
* https://support.google.com/programmable-search/thr

[2020-09-28 18:19] #5439 closed, assigned to nobody

[2020-09-28 18:23] westonruter commented on #5444
Are you referring to this [styling](https://amp.dev/documentation/components/amp-next-page/?format=websites#styling)?

Are you saying that any style rule with a selector that refers to one of those classes are getting tree-shaken?

[2020-09-28 18:41] westonruter commented on #5444
@rickalee Please test the changes in this PR: https://github.com/ampproject/amp-wp/pull/5445.

[2020-09-28 21:38] westonruter commented on #4518
This may make sense to work on in conjunction with this Jetpack issue: https://github.com/Automattic/jetpack/issues/16946

I think that Jetpack is incorrectly serving an `iframe` when it should be serving an `amp-youtube` element, but it may be serving an `iframe` currently because we're not correctly transforming non-singular videos like playlists.

[2020-09-28 21:41] westonruter commented on #4518
In fact, there's probably a lot of conversion code that we can scrape from Jetpack to improve our handling of raw embed conversions: https://github.com/Automattic/jetpack/blob/master/modules/shortcodes/youtube.php

[2020-09-29 16:02] westonruter opened #5447 "Add missing featured image notice to Featured Image metabox in Classic Editor"
## Feature description

In the Block Editor we currently have a notice displayed when no featured image is assigned:

But we don't have it currently for the Classic Editor:

We should have it in both places.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing inst

[2020-09-29 16:20] westonruter commented on #5209
We should probably have a button with each error, perhaps in the row actions for each could have a "Copy to clipboard". Then there should be a button to copy all validation errors to the clipboard as well, which will then satisfy #4562.

[2020-09-29 16:33] westonruter commented on #5387
Relates to #5293 in how it may need to be added to the settings screen.

[2020-09-29 20:54] jwold commented on #5101
Is an initial idea with some concepts. What am I missing?

<img width="486" alt="IMG_0139" src="https://user-images.githubusercontent.com/3411173/94614589-45b98e00-025b-11eb-99c7-45a6fc3c02a3.png">

[2020-09-29 21:17] jwold commented on #5378
So I’ve been playing with two concepts, neither of which are perfect, but which add to the discussion for some other ways we could approach this:

<img width="535" alt="IMG_0141" src="https://user-images.githubusercontent.com/3411173/94617507-849d1300-025e-11eb-8bb7-cee984837045.png">

[2020-09-29 21:27] johnwatkins0 commented on #5101
This looks right to me.

Side note: This will depend on the PR #5306 that I opened a few weeks ago because I think it will use the `ValidationURLProvider` created in that PR.

[2020-09-30 04:30] westonruter commented on #5378
User who also has requested this: https://wordpress.org/support/topic/disable-amp-cache-on-certain-pages/

[2020-09-30 04:32] westonruter commented on #5378
I don't think that UI allows for enough information density. Basically, every checkbox you see in this screenshot needs to be able to have this multi-state selection:

![image](https://user-images.githubusercontent.com/134745/93698460-c1347600-faca-11ea-9184-f41f276c5039.png)

Some kind of dropdown that is revealed by an icon, where the icon represents the current state seems the most promising so

[2020-09-30 10:49] jeherve opened #5449 "Previews: date is incorrect"
## Bug Description

In pre-publish previews, the post date does not appear to be correct. It is set to "51 years ago".

## Steps to reproduce

1. Go to Posts > Add New
2. Write a bit of content, and click on the AMP icon to preview your post.
3. In the window that opens, the post date is incorrect.

## Screenshots

![image](https://user-images.githubusercontent.com/426388/94676206-4154aa00-031b-11

[2020-09-30 16:04] pierlon commented on #5449
I'm able to replicate the bug on v2.0.4 with Reader mode active using the Legacy Reader theme.

[2020-09-30 16:17] westonruter commented on #5449
This is probably an issue going back to the beginning of the plugin. The issue is that a draft post has a `post_date` of `0000-00-00 00:00:00`. We probably just need to add a condition for that and use `time()` instead.

[2020-09-30 22:18] papyon2016 commented on #5439
Hello.
Thanks for your tips.
It was a good tutorial and I used the code you gave me and the problem was solved.
But another contradiction has arisen for me
This is my site address:
https://www.iranntv.com/
Menus are not visible on mobile.
And couldn't click on the menu.
Also on mobile on the following page:
https://www.iranntv.com/livestream/
Live audio LiveStream does not work. But LiveStream wor

[2020-09-30 22:47] westonruter commented on #5439
The menu probably doesn't work because it also relies on JavaScript. You can find a guide for how make this work in AMP here: https://amp-wp.org/documentation/playbooks/toggling-hamburger-menus/

[2020-10-01 12:21] schlessera commented on #4671
Playing around with the preload hero image transformer makes it obvious we need better ways of testing sanitizers and optimizers.

I'm prioritising this so we can build transformers like the preload hero images one with confidence.

[2020-10-01 12:22] schlessera commented on #4671
Note: we have a Percy license for the AMP plugin that we can use for this, which is also what Web Stories use.

[2020-10-01 17:57] westonruter commented on #5444
@rickalee Please confirm the PR fixes your issue and we'll include in 2.0.5.

[2020-10-01 18:54] westonruter commented on #5378
Now that I think about it more, perhaps we should _only_ have AMP Cache enabled by default for the `post` post type. This is the post type that is least likely to be frequently updated. More often than not it will be published and then won't see further updates. The `page` post type is much more likely to be updated on an ongoing basis. So I think we can default AMP Cache to be off for any non-hie

[2020-10-01 19:03] #5449 closed, assigned to johnwatkins0

[2020-10-01 21:15] jwold commented on #5378
@westonruter is this what you were talking about this morning?

![Screen Capture on 2020-10-01 at 14-14-21](https://user-images.githubusercontent.com/3411173/94864180-767efc00-03f0-11eb-99ff-e0bc324f9742.gif)

[2020-10-01 22:14] westonruter commented on #5378
@jwold lol, yes! I wasn't aware that this is standard behavior in Chrome now.

So one option would be to use a regular `select` and then remove the border and background so it looks like:

This gets us part of the way. What is not possible, however, is the inclusion of icons in `option`, yet.

This would work when the toggle is just for "AMP Enabled", like on the edit post screen:

However, I need

[2020-10-01 23:25] westonruter commented on #5101
@jwold Yes, that's right. We may want to provide information about suppressing that plugin from AMP pages as well.

I was able to reproduce the existing warning we have:

![image](https://user-images.githubusercontent.com/134745/94872834-80a9f600-0402-11eb-9e4a-50545379bfe7.png)

Here's the current code that is responsible for that:

https://github.com/ampproject/amp-wp/blob/5f42cde04d84046e106fa9

[2020-10-02 15:31] Elvisfrog opened #5453 "AMP Developer Tool Missing"
## Bug Description

I can't see the AMP Developer Option - I am Admin, I have been using AMP from early on and upgraded along the way, I have enabled WP troubleshooting mode with just the AMP installed and still don't see it, I even tried the code to Enable for all users: https://amp-wp.org/documentation/getting-started/developer-tools/adjustable-dev-tools/#enabling-dev-tools-for-non-admin-users b

[2020-10-02 15:35] westonruter commented on #5453
Have you enabled AMP Developer Tools in your user profile?

![image](https://user-images.githubusercontent.com/134745/94941719-29e7ff00-048a-11eb-91d8-506cd406c5b5.png)

[2020-10-02 15:42] Elvisfrog commented on #5453
Didn't know to check but looked and:
[cid:5003f1dd-402e-4854-9b28-e7fe6d972988]
That is from my profile.

Joseph

Director of Digital Operations
Fort Worth Business Press
fortworthbusiness.com<https://outlook.office.com/mail/options/mail/fortworthbusiness.com>

________________________________
From: Weston Ruter <notifications@github.com>
Sent: Friday, October 2, 2020 10:35 AM
To: ampproject/amp-w