[2020-10-02 15:44] westonruter commented on #5453
I can't see your screenshot.

[2020-10-02 15:44] Elvisfrog commented on #5453
Oh, sorry, well yes enabled it was already.

Joseph

Director of Digital Operations
Fort Worth Business Press
fortworthbusiness.com<https://outlook.office.com/mail/options/mail/fortworthbusiness.com>

________________________________
From: Weston Ruter <notifications@github.com>
Sent: Friday, October 2, 2020 10:44 AM
To: ampproject/amp-wp <amp-wp@noreply.github.com>
Cc: Joseph Donth <jdonth@bizpre

[2020-10-02 15:46] schlessera commented on #5378
Regarding AMP cache defaults, you should take into consideration why a lot of site builders use AMP: they want to profit from the additional exposure that Google Search offers to AMP results => provided they are served via the Google AMP Cache. If you remove caching by default for most of the site, a lot of people will wait for these benefits to kick in only to find out at some point that the site

[2020-10-02 15:47] schlessera commented on #5378
Regarding the borderless select, we need to find a compromise between sleek look and accessibility/discoverability. If something doesn't look like a control, no one will click on it to find out what it does...

[2020-10-02 15:52] westonruter commented on #5378
That's true, and the intention behind off-cache AMP is that any pages that opt-out of the AMP cache will still look the same in search results. They'll still have the AMP badge. The only difference is they won't get the prerendering, so tapping on a result will be slower to load since the page has to be loaded and rendered from origin, rather than having been loaded and pre-rendered in the backgro

[2020-10-02 15:54] westonruter commented on #5453
You've opened a few support topics in addition to this issue, so I'm going to close this in favor of your existing support topic you have open: https://wordpress.org/support/topic/amp-enabled-slow-post-update-or-publish/

[2020-10-02 15:54] #5453 closed, assigned to nobody

[2020-10-02 15:58] schlessera commented on #5378
Yes, but without the AMP cache, they will not appear in the different forms of carousels on mobile search results.

See https://developers.google.com/search/docs/guides/about-amp

[2020-10-02 16:23] westonruter commented on #5378
I believe that will soon be outdated, but we will need to wait until off-cache AMP is launched in a couple weeks at [AMP Fest](https://amp.dev/events/amp-fest-2020/) to be sure. In any case, we can move forward with just a filter that allows a site owner to turn off AMP Cache at a programmatic level (with a filter). We just should make sure that this is done in a way that we anticipate a UI being

[2020-10-02 18:31] rickalee commented on #5444
@westonruter Confirmed. Removed dummy markup with same classes and styles still persist with tree shaking. Thank you for the quick turnaround.

[2020-10-02 20:17] #5444 closed, assigned to pierlon

[2020-10-02 22:00] fthead9 opened #5457 "Core Web Vitals Score Issues"
I'm testing our latest theme https://cbdserenity.sitedistrict.com/ for Core Web Vitals scores using Lighthouse. The results and suggestions are puzzling.
https://googlechrome.github.io/lighthouse/viewer/?psiurl=https%3A%2F%2Fcbdserenity.sitedistrict.com%2F&strategy=mobile&category=performance&category=accessibility&category=best-practices&category=seo&category=pwa&utm_source=lh-chrome-ext

https:/

[2020-10-02 22:07] westonruter commented on #5457
For this, please see https://github.com/ampproject/amphtml/issues/28638

This is misleading. See https://github.com/GoogleChrome/lighthouse/issues/10045. Yes, the Optimizer is part of the AMP plugin now, and I can see that your page is successfully server-side rendered.

The LCP is going to be drastically improved by prerendering the hero image which is coming in v2.1. See https://github.com/amppr

[2020-10-02 22:07] #5457 closed, assigned to nobody

[2020-10-02 23:19] fthead9 commented on #5457
Thanks @westonruter I'm glad there are some core improvements in the works for improving LCP and understand the issues with Lighthouse suggestions after reading those threads. Any suggestions/updates for improving FCP and TTI?

[2020-10-03 00:05] westonruter commented on #5457
Make sure you have a good page caching plugin in place. For example, WP Super Cache, WP Rocket, etc.

[2020-10-05 07:07] westonruter opened #5459 "JS strings are not translated"
As reported in a [support topic](https://wordpress.org/support/topic/cannot-be-translated-the-initials-settings-page/), the strings in JS are not being translated, or at least they aren't getting loaded properly.

When I activate `es-MX`, I see the admin screen as:

This is in spite of this language being supposedly 100% translated:

Either the strings aren't getting translated, or we're not loadi

[2020-10-05 08:40] swissspidy commented on #5459
String extraction and actual loading of translations works fine, as can be tested by typing `wp.i18n.__( 'Reopen Wizard', 'amp')` in the console. The problem is that the settings page is bundling `@wordpress/i18n` and not actually using `wp.i18n`.

`@wordpress/i18n` needs to be added as an external in the webpack config, so that calls to `__()` in the code base are mapped to `window.wp.i18n.__()`.

[2020-10-05 10:50] rhyswynne commented on #5426
Thanks Weston, I've taken that approach instead. If it works better it works better :)

[2020-10-05 15:29] #5426 closed, assigned to nobody

[2020-10-05 15:43] westonruter commented on #5459
Hummm. I tried applying that patch and did `npm run dev` but I'm still seeing:

![image](https://user-images.githubusercontent.com/134745/95101258-cd355000-06e6-11eb-8468-cfcd389a5359.png)

Calling `wp.i18n.__( 'Reopen Wizard', 'amp')` returns `'Reopen Wizard'`, not an expected Spanish translation.

[2020-10-05 15:45] westonruter commented on #5459
cc @johnwatkins0

[2020-10-05 15:46] swissspidy commented on #5459
Did you update the translations under Dashboard -> Updates?

I tested with the German translation this morning without issues

[2020-10-05 16:00] westonruter commented on #5459
¡Éxito!

![image](https://user-images.githubusercontent.com/134745/95103179-2a320580-06e9-11eb-8593-b0c3c16ec554.png)

Gracias.

[2020-10-05 16:26] westonruter opened #5462 "HTML5 doctype not enforced"
## Bug Description

Originally discovered in a [support topic](https://wordpress.org/support/topic/the-attribute-public-may-not-appear-in-tag-html-doctype/).

If you edit Twenty Twenty's `header.php` as follows:

[code]

Then when viewing an AMP page using Twenty Twenty, validation errors are leaked to the frontend:

## Expected Behaviour

The HTML5 doctype should be enforced when the `Document` i

[2020-10-05 16:37] westonruter opened #5463 "Invalid URLs in CSS can leak validation errors"
## Bug Description

As discovered on a [support topic](https://wordpress.org/support/topic/css-syntax-error-in-tag-style-amp-custom-invalid-url/), consider CSS that includes an invalid URL supplied for a `url()` like so:

[code]

A validation error is picked up by the AMP validator for `//:`

## Expected Behaviour

Invalid URLs should be caught by the CSS sanitizer.

## Steps to reproduce

1. Plac

[2020-10-06 03:43] westonruter commented on #4779
Er, only if the validation errors are unreviewed and removed, or rather, in their default state. We don't want to delete validation errors that have been reviewed as then the next time the validation error crops up, the user would have to review it all over again.

I'm not feeling confident that this issue is fully baked yet. I'm pulling from 2.1 for now.

[2020-10-06 11:01] ravau commented on #4567
As a developer, looking forward to it. What's an eta? I managed to extract optimizer and commons libs and publish as my own package and run the code. However it looks like it is not working well with non-wordpress code. Sorry for thrashing the thread, I want to signal that canonical library for amp optimization is very needed and will be a game changer for php devs.

[2020-10-06 15:11] jwold commented on #5101
@westonruter are you suggesting that we allow users to disable the offending plugin directly from the notice? That could work when a single plugin is throwing errors, but might get messy if multiple plugins are mentioned in the same notice.

[2020-10-06 17:00] westonruter commented on #4567
It's mainly a matter of naming and code organization. (Naming is hard.)

One option is to take the two libraries, common and optimizer, and create separate packages called amp-common-php and amp-optimizer-php., respectively. This was originally the plan, but I'm now leaning away from it.

In the end does it make sense for there to be a separate common/shared/utils package? I also think that "Optim

[2020-10-06 17:28] westonruter commented on #5101
That's true. So we should probably just add a link to go to the Plugin Suppression section so the user can decide which plugins to suppress from there.

[2020-10-06 20:49] jwold commented on #5378
Since our call I've been looking at some concepts that I'd love to discus in our product sync tomorrow.

First, here are some initial sketches:

<img width="941" alt="My Sketches - 2020-10-05 13 36 29 4" src="https://user-images.githubusercontent.com/3411173/95258211-45c90900-07da-11eb-8d8d-a36a5776055b.png">

The important factor here is for users to be able to understand that they are changing t

[2020-10-06 21:18] #5459 closed, assigned to westonruter

[2020-10-06 21:37] westonruter commented on #5378
Screenshot from prototype:

I like the popover with the list. That's good. The only thing is that feels somewhat busy. What would it look like if only showed the selected state as opposed to the selected icon and the two that are not selected? I like that you're styling the UI as a button which will encourage users to hover/tap to discover the options.

We'll still need to look into the iconograph

[2020-10-06 21:42] westonruter commented on #5378
We'll also need to re-think the “Serve all templates as AMP” toggle since it wouldn't make sense anymore. In fact, this could also solve the label problem. What if above the template list we had three labelled buttons for the three states with their icons. Clicking those buttons would be doing bulk actions to set all templates to have the state. In this way, it would be similar to the bulk actions

[2020-10-07 06:52] #5462 closed, assigned to nobody

[2020-10-07 12:44] schlessera opened #5477 "Asynchronous refreshing of caches"
## Feature description

Although the caching system that wraps `RemoteRequest` instances is built so that it supports serving stale content, it currently refreshes its cache synchronously, instead of serving that stale content.

For optimal performance, this should be changed, so that a visitor requesting a page that hits an expired cache doesn't block until the remote request was completed.

----

[2020-10-07 12:50] schlessera commented on #5477
Three possible ways this can be done:
1.) Cron job working off a queue that cache refreshes are queued into.
2.) Non-blocking loopback/AJAX request to trigger the cache refresh in a separate request.
3.) Attaching the refresh at the very end of the shutdown handler, after the connection to the client has been closed via `flush()` and/or `fastcgi_finish_request()`.

All three mechanisms will requir

[2020-10-07 16:31] jwold commented on #5378
Here's a refinement on the previous idea. It simplifies the user experience quite a bit, reducing the amount of icons and making the button action more clear.

![Screen Capture on 2020-10-07 at 09-29-32](https://user-images.githubusercontent.com/3411173/95360084-c55ce380-087f-11eb-9a6b-aecb04b5e363.gif)

This may still be valuable. I can't quite envision how that would look though.

**Figma protot

[2020-10-07 17:13] pierlon opened #5480 "Ensure PHP 8 compatibility of plugin"
## Feature description

Given that WordPress 5.6 will be supporting PHP 8, we should ensure that the plugin will be compatible with PHP 8 as well.

As a first step towards that goal we should ensure that our test suites pass without errors when run against PHP 8.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance cri

[2020-10-07 19:03] jwold commented on #5427
QA passed. Tested and confirmed that it worked as expected.

[2020-10-07 19:04] westonruter commented on #5378
I like that dropdown.

The template hierarchy could have a horizontal line above it, and then above that the dropdown could be prefixed by a label like "Update all templates:", or something.

[2020-10-07 19:09] jwold commented on #5378
Should the "update all" button also apply to content types, or just to template hierarchy options?

[2020-10-07 19:16] westonruter commented on #5378
Only the template hierarchy like we have the single toggle today.

I'm not sure yet if we will have the tri-state toggle for the content types. Those may get the binary checkbox still.

[2020-10-07 20:48] johnwatkins0 commented on #5449
QA is passing on this.

1. Switched to Reader mode with legacy theme
2. Started creating a post
3. Clicked the AMP preview button
4. Saw "1 second ago" instead of something like "51 years ago"

[2020-10-07 20:58] amedina commented on #5378
I like the dropdown, but I would prefer to have the Label first then the dropdown.

[2020-10-07 22:10] westonruter commented on #5378
An issue I see with moving the dropdown after the label is that the label widths are variable, as each has a different template name. If the dropdowns were on the right then they wouldn't be neatly liked up vertically making it more difficult to repeatedly click down the list of templates with a mouse. An alternative could be to put the dropdowns vertically in a column to the right, but then we ma

[2020-10-07 22:36] johnwatkins0 commented on #5462
QA is passing on this. I modified the header.php file in the Twenty Twenty theme as Weston describes above and am not seeing any trace of these validation errors.

[2020-10-08 11:59] maciejmackowiak opened #5482 "[amp-imgur] Some Imgur urls are not supported by AMP-WP plugin"
## Bug Description

AMP WP plugin doesn't account for urls like this one:
https://imgur.com/a/rAG6Q2w

## Expected Behaviour
Account for https://imgur.com/a/{imgur_id} Imgur url format.

How about just replacing:
[code]
with:
[code]
in this method:
https://github.com/ampproject/amp-wp/blob/develop/includes/embeds/class-amp-imgur-embed-handler.php#L134

## Steps to reproduce

1. Embed https://imgur

[2020-10-08 16:24] jwold commented on #5378
<img width="848" alt="Screen Shot 2020-10-08 at 9 20 29 AM" src="https://user-images.githubusercontent.com/3411173/95486205-9316b900-0947-11eb-921f-0c3db8dc5736.png">

@westonruter here's how I envision the "update all" button could work.

And a note on the labeling, I agree that having the button before the label works better, but we also could setup a grid system of sorts as Weston described.

W

[2020-10-08 17:23] johnwatkins0 commented on #5378
From Weston: "All archives should by default be not on AMP cache. Singular posts should be on AMP cache by default." Singular pages -- not sure yet.

[2020-10-08 17:26] pierlon commented on #5444
@westonruter Not related to this issue, but while doing QA I noticed the pages being loaded were not AMP; you would have to use the canonical AMP URL when specifying the URL for the page. Do we want to sanitize this component to allow for AMP-to-AMP navigation, or should we leave as is?

[2020-10-08 17:27] westonruter commented on #5378
The filter that is used for off-cache AMP should also be designed to also resolve filtering whether AMP is disabled for arbitrary queries (see #2817).

[2020-10-08 17:28] westonruter commented on #2817
We can probably address this with the filter added for controlling off-cache AMP. See #5378.

[2020-10-08 17:58] westonruter commented on #5378
On that note, see https://github.com/ampproject/amp-wp/issues/2817#issuecomment-693734189 for implications of filter.  In particular, the plugin currently has `AMP_Theme_Support::get_template_availability()` which is passed a `WP_Query` or a `WP_Post` and that is used to look up the template and then that is checked for being supported. If a filter were added to this method to control whether a te

[2020-10-08 18:01] westonruter commented on #5444
Wouldn't it be up to the developer providing the `amp-next-page` configuration to use paired AMP URLs if not in Standard mode?

[2020-10-08 18:48] pierlon commented on #5444
Hmm yea that's true. Given that you would have to provide the config manually, you'd might as well use the paired AMP URL. It was just a bit unexpected to see the non-AMP page loaded and not the AMP counterpart, with AMP-to-AMP linking being a thing.

[2020-10-08 18:51] westonruter commented on #5256
I the new Loom embed in Jetpack and I saw that this issue is present there as well.

Given this `post_content`:

[code]

Attempting to click on the video title also causes the iframe block opening a window in a new tab:

Same goes for when attempting to share on Twitter:

[2020-10-08 18:56] westonruter commented on #5444
It's a good question. Beyond being unexpected, doesn't AMP require the next pages to be AMP pages anyway? Does it even work if they aren't AMP pages? If it's not an AMP page, I should think that the component should actually navigate to the page or abort entirely.

[2020-10-08 19:15] pierlon commented on #5444
Yes, as soon as a non-AMP page is loaded the page is no longer valid AMP:

![image](https://user-images.githubusercontent.com/16200219/95503222-98e9ba00-099a-11eb-9913-1838c96d8105.png)

The AMP Validator and the errors in the web console warns the developer about the issue so I'd say that's sufficient in that regard.

[2020-10-08 19:20] pierlon commented on #5444
Oh wait, after taking a second look, the AMP Validator is validating each page separately, and not the whole page itself.

[2020-10-08 20:16] westonruter commented on #5256
Again, this only applies to `iframe` elements that have have _no_ `sandbox` by default. When an `iframe` lacks a `sandbox`, then it has no restrictions. So by adding new `sandbox` capabilities to iframes that, we're not introducing any _unexpected_ capabilities. We are just unbreaking certain embedded pages that expected to be inside of sandboxless iframes. That being said, here's what I for inclu

[2020-10-08 20:40] pierlon commented on #5444
**QA Passed**

Styling the appearance of the recommendation box is not tree-shaken. For example, with this markup:

[code]

The style is correctly applied to the `amp-next-page-text` element and is not tree shaken:

![image](https://user-images.githubusercontent.com/16200219/95511117-85dce700-09a6-11eb-9280-358fb093c295.png)

[2020-10-08 23:27] westonruter commented on #5482
Related: #4697.

[2020-10-09 04:09] #5256 closed, assigned to westonruter

[2020-10-09 17:29] johnwatkins0 commented on #5209
Screenshot of where I am placing the two elements currently.

<img width="560" alt="Screen Shot 2020-10-09 at 12 28 03 PM" src="https://user-images.githubusercontent.com/9020968/95613695-f7f70f80-0a2a-11eb-9351-e9f2a0103c19.png">

Debating with myself whether the phrase "to clipboard" needs to be there.

[2020-10-09 18:04] westonruter commented on #5209
Yes, I think “to clipboard” is needed.

I think the button to copy all errors might be problematic there, especially given the bulk action buttons can appear:

![image](https://user-images.githubusercontent.com/134745/95616290-6b465480-0a1e-11eb-9750-e97d178ed834.png)

Perhaps the button could be placed _under_ the validation errors table, or else inside of the Status metabox?

![image](https://us

[2020-10-09 22:42] amedina commented on #4567
+1 on `amp-php` naming convention. It might be still confusing as it may be interpreted as an implementation of the AMP library in PHP, but it is more clearly reflecting the actual functionality encompassed.

[2020-10-10 06:29] schlessera commented on #4567
If we want to go into the "1 package for everything" direction, but avoid the confusion @amedina is referring to, we could mirror the JS package and call it `amp-toolbox-php`/`amp-php-toolbox` as well.

[2020-10-10 06:29] schlessera commented on #4567
Also `amp-php` is very close to https://github.com/amphp/amp...

[2020-10-10 08:04] schlessera opened #5495 "TwentyTwenty Paired Browsing rem font size discrepancy on mobile"
## Bug Description

In Paired Browsing on TwentyTwenty, smaller mobile viewports have a discrepancy of the font size for `rem` sizes. Desktop views of the same content don't seem to exhibit the same behavior, so I assume it is related to a media query in some form.

The `font-size` in `rem` units applied by the CSS seems to be the same at first glance, but the resulting pixel size is different.

#

[2020-10-10 08:28] techgarageblog commented on #5020
Hi, I don't like to open a new issue, but the problem is there again.

Installed the Plugin new on my staging site and live project. Both sites (staging without any plugins active) doesn't have any settings.

Best Kevin

[2020-10-10 20:04] westonruter commented on #4567
See also `amp-library` which was a related effort on the Drupal front: https://github.com/Lullabot/amp-library

I'm not sure about `amp-toolbox-php` since it's not intended to be a port of `amp-toolbox`, but rather just the Optimizer, but to go beyond just that package to also include Conversion and Sanitization.

We could call it `amphtml-php` to disambiguate from the `ampphp` org.

Or `amp-lib-p

[2020-10-10 20:15] westonruter commented on #5495
Strange. I'm not seeing any difference in styling.

Non-AMP | AMP
----------|-------
![image](https://user-images.githubusercontent.com/134745/95664222-956d4480-0afa-11eb-855d-0e06e0b01cd7.png) | ![image](https://user-images.githubusercontent.com/134745/95664215-87b7bf00-0afa-11eb-8479-b76c62b5d207.png)

[2020-10-10 21:37] #4697 closed, assigned to pierlon

[2020-10-10 21:37] #5482 closed, assigned to pierlon

[2020-10-12 03:22] westonruter commented on #2204
Now with #4312 merged, we have these 3 functions to build upon:

* `amp_has_paired_endpoint()`
* `amp_add_paired_endpoint()`
* `amp_remove_paired_endpoint()`

Now, in order to implement the legacy URL behavior where `/amp/` is used for singular posts but `?amp` is used for singular pages and other queries, we may need to pass additional context to figure how how the endpoint should be added. Curre

[2020-10-12 03:32] westonruter commented on #2204
If that is the case, should `amp_add_paired_endpoint()` be able to return `null` if AMP is not available for the provided `$url`?

[2020-10-12 05:45] westonruter commented on #2204
If we do go that route to honor `amp_skip_post()` then we'd need to do the same for a proposed more generic availability filter in https://github.com/ampproject/amp-wp/issues/2817.

[2020-10-12 14:09] techzotezo commented on #6167
Anyway to improve Core Web vitals Rank?

[2020-10-12 14:54] mahnunchik commented on #2649
Any news?

[2020-10-12 17:55] johnwatkins0 commented on #5209
<img width="892" alt="Screen Shot 2020-10-12 at 12 53 24 PM" src="https://user-images.githubusercontent.com/9020968/95776451-ff682400-0c89-11eb-8f2c-2eb7ed4706df.png">

@westonruter What do you think about adding the "Copy all" button to the bulk actions, as shown above? It does add more clutter but makes it possible to selectively copy any subset of errors on the page, which I think is useful.

[2020-10-12 18:09] westonruter commented on #5209
Yes, I like that. Good one. Also, the clutter will be reduced with #5431. So it would make sense to do those both in the same PR.

[2020-10-12 18:59] johnwatkins0 opened #5499 "Request: standardized local dev and test environments with out-of-the-box testing/linting"
## Feature description

### Ideal

If I'm a newcomer to this repo and hoping to contribute, I will:

1. Find the [Engineering Guidelines](https://github.com/ampproject/amp-wp/wiki/Engineering-Guidelines).
2. Find the "Local Development" section. I'll follow those steps to get an environment set up with the latest develop branch.
3. Follow the remaining sections of the Engineering Guidelines to lea

[2020-10-12 20:15] #5480 closed, assigned to schlessera

[2020-10-13 17:04] westonruter commented on #4567
As @schlessera suggested today, another option would be `amp-toolbox-php` (and `amp-toolbox` on Packagist).

[2020-10-13 17:29] westonruter commented on #4567
I like the semantics of “toolbox” being a collection of tools for AMP in PHP. My only concern would be confusion that the library is intended to be a direct port of the `amp-toolbox` JS project, which isn't the case (although there will be an intersection).

[2020-10-13 17:38] amedina commented on #4567
+1 on `amp-toolbox-php`

[2020-10-13 18:04] schlessera commented on #4567
The way I see it, it _is_ a direct port of the approach of the JS project, using a monorepo to collect all packages that share the JS ecosystem.

[2020-10-13 18:21] marco-msg-ferrari commented on #4567
From a point of view of a user, it is best to have a monorepo.
Documentation and bugs are centralized and nested repos can be difficult to navigate without investing a lot of time to understand the structure.
Furthermore, if all "components" are separated by namespaces, it will be "easy" in the future to separate them if needed.

[2020-10-13 18:33] schlessera commented on #4567
Yes, valid points. However, we also should note that an actual monorepo with separate packages is not technically possible with Composer. So while the different "components" will indeed by separated by namespaces, they will _not_ be published as separate packages within Packagist.

[2020-10-13 18:46] westonruter commented on #4567
That's true. It's a direct port of the approach, but not of the codebase.

I think that's fine. One package with the “submodules” organized by sub-namespaces sounds great to me.

[2020-10-14 18:02] #5381 closed, assigned to nobody

[2020-10-14 18:02] #5321 closed, assigned to nobody

[2020-10-14 18:06] westonruter commented on #5254
I think we're OK here. We're directing users to Site Kit if they try adding `gtag` or `googleanalytics`.

Note: If there are other AMP-compatible plugins for other analytics providers, we should absolutely provide similar helpers.

[2020-10-14 18:06] #5254 closed, assigned to nobody

[2020-10-14 18:22] westonruter commented on #5459
**QA Passed**

I changed my language to Spanish:

![image](https://user-images.githubusercontent.com/134745/96029405-7b3fa900-0e0f-11eb-90c7-ab79eedabfc1.png)

And the settings screen now shows Spanish translations:

![image](https://user-images.githubusercontent.com/134745/96029451-8f83a600-0e0f-11eb-83d1-30d669f6c5ec.png)

[2020-10-14 18:26] westonruter commented on #5256
**QA Passed**

I tried adding the OneDrive `iframe` with this markup:

[code]

It embeds successfully:

AMP markup:

[code]

Note that `allow-forms` is now included among the `sandbox` values.

[2020-10-14 18:26] pierlon commented on #5482
**QA Passed**

When embedding the URL https://imgur.com/a/rAG6Q2w, the embed does show on the AMP page:

![image](https://user-images.githubusercontent.com/16200219/96029886-caef9600-0e4a-11eb-9d5e-a0c89c342fed.png)

[2020-10-14 18:28] davidperezgar commented on #5459
Ok! I’ll check it out!

[2020-10-14 18:29] pierlon commented on #4697
When embedding the URL https://imgur.com/gallery/2q6AS6i, it does correctly show on the AMP page:

![image](https://user-images.githubusercontent.com/16200219/96030074-0d18d780-0e4b-11eb-946f-a0d1785e21a4.png)

[2020-10-14 18:30] westonruter commented on #5459
@davidperezgar You'll need to check 2.0.5 which we will be releasing today, or else use 2.0.5-alpha which can be downloaded from: https://storage.googleapis.com/ampwp_github_artifacts/refs/heads/2.0/prod/amp.zip

[2020-10-15 02:32] #5353 closed, assigned to nobody

[2020-10-15 05:36] schlessera commented on #4607
This work should also include preloading of critical modules, either within the same transformer or a separate one.

See https://developers.google.com/web/updates/2017/12/modulepreload

[2020-10-15 11:18] davidperezgar commented on #5459
I'll see when you update to wordpress repo trunk...

[2020-10-15 14:54] jwold commented on #3821
![Screen Capture on 2020-10-15 at 07-48-45](https://user-images.githubusercontent.com/3411173/96146833-92d46b80-0ebb-11eb-93d2-bbc88a59d69e.gif)

Wanted to share an update with progression for discussion.

[2020-10-16 11:24] netnaps commented on #4493
Hi,

After I updated the Plugin I Got the same error on Lighthouse, Previously this was fine.
Test Here is the error that I get :

Screenshot Attached :

**Image elements do not have explicit width and height**

<img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwJyB3aWR0aD0nMTUwJyB4bWxucz0n…">

![Screenshot 2020-1

[2020-10-16 11:36] swissspidy opened #5511 "Include mbstring polyfill"
## Feature description

I originally opened this  at https://github.com/google/web-stories-wp/issues/4898 but this might be useful as part of the AMP plugin itself.

https://github.com/ampproject/amp-wp/blob/708a65b2cb75e62a03f54bd3cbf1bd011de86cc4/lib/common/src/Dom/Document.php#L1072-L1076

The `Document` class uses `mb_convert_encoding` to fix the encoding if needed. That function is part of th

[2020-10-16 14:30] jenkoian opened #5514 "iframe producing invalid height/width when absolute positioned with top and left of zero"
Failing test and potential fix added here: https://github.com/ampproject/amp-wp/pull/5513

[2020-10-16 14:48] westonruter commented on #4493
@netnaps This is not the same issue.

[2020-10-16 15:37] netnaps commented on #4493
Ok

[2020-10-16 16:07] westonruter commented on #5514
I can reproduce this issue. If I add a Custom HTML block with the contents:

[code]

Then the rendered AMP markup is:

[code]

Notice the `height=""`.

Strange strange that it is including a `width="640"` still.

[2020-10-16 16:09] jenkoian commented on #5514
@westonruter yeah I thought same

[2020-10-16 16:09] jenkoian commented on #5514
Thanks for reproducing btw @westonruter 👍

[2020-10-16 16:12] pierlon commented on #5514
So the bug is two-fold:

- The height is incorrectly set to `''` when the iframe sanitizer is normailizing attributes
- No validation issue is raised for the invalid height

I would be expecting `AMP_Base_Sanitizer::set_layout()` to first remove the height but it seems the condition that should do that is overshadowed by a similar condition:

https://github.com/ampproject/amp-wp/blob/3d0d68a75d162

[2020-10-16 17:56] westonruter commented on #5514
So we should be unsetting the `width` and `height` whenever we are setting the `layout` to `fill` since it serves no purpose. That seems like it will correctly address the symptom of the problem. But you're saying another PR should come later to address the more fundamental issue with validation?

[2020-10-16 18:13] pierlon commented on #5514
Yes we should follow up with a PR to address the validation issue here.

[2020-10-16 18:40] #5514 closed, assigned to nobody

[2020-10-16 18:50] westonruter commented on #6167
This issue can be closed as mobile redirection is a feature of the AMP plugin not AMP core.

The issue with Lighthouse reporting unused JS on AMP pages can be tracked in https://github.com/ampproject/amphtml/issues/28638.

[2020-10-16 19:36] westonruter commented on #5511
This is only necessary if a site is not using UTF-8 already, correct?

It looks like [95% of sites use UTF-8 already](https://w3techs.com/technologies/overview/character_encoding#:~:text=UTF%2D8%20is%20used%20by,whose%20character%20encoding%20we%20know.).

So probably very few sites would ever encounter an issue here?

[2020-10-16 21:23] jwold commented on #3821
Here's an updated prototype:

**Video:** https://v.usetapes.com/url0fZX6h0

It includes audio as I share the thinking behind how it works.

[2020-10-16 22:32] johnwatkins0 commented on #3821
@jwold While I think what you show in the video is great from a design perspective, I see that the drawers for the errors are including actions to Keep/Remove errors and to mark them as reviewed. I think at this stage we don't have the backend infrastructure in place (REST endpoint etc.) to handle those actions dynamically through JS operations (correct me if I'm wrong @westonruter). I would sugge

[2020-10-16 23:13] westonruter commented on #3821
Correct. We have classic WordPress admin requests currently for manipulating validation error states. No REST API endpoints yet. I agree this can be deferred for a later release. Most important now is to improve the presentation of the readonly information.

[2020-10-17 08:24] swissspidy commented on #5511
Uhm, probably? Not sure how many sites have odd `blog_charset` configurations.

[2020-10-17 14:07] westonruter commented on #5511
Did it come up as an actual problem for Web Stories?

[2020-10-17 14:13] swissspidy commented on #5511
We had a couple of reports about mangled special chars in the past, where the encoding was off. But we'd also use `mb_convert_encoding` for other cases, such as https://github.com/google/web-stories-wp/pull/4859

[2020-10-18 05:44] westonruter commented on #1626
Update on this… I came across an example site that has 35KB of keyframes animations. See https://wordpress.org/support/topic/gcs-error/

[2020-10-18 06:37] westonruter opened #5517 "Server-side rendering can cause style[amp-custom] CSS overage"
## Bug Description

Given an AMP page that has an `style[amp-custom]` which is just under the 75000 byte limit at 74,998 bytes.

If this AMP page also has an `amp-analytics` tag, then the SSR transformer will end up adding an inline `style` to this element like so:

[code]

The result is an AMP validation error is leaked to the frontend:

Why is this? It's because `width:1px;height:1px;` (21 bytes

[2020-10-18 06:49] westonruter commented on #3821
Otherwise, I really like the prototype! Just remove the dropdown and checkbox, as @johnwatkins0 said:

This will simplify the implementation because then we don't have to figure out how to present the preview capability as well as saving the state changes for the validation errors, and whether or not these changes include/exclude changes to the edited post as a whole.

[2020-10-18 06:53] westonruter commented on #3821
Also, instead of:

I suggest something like:

Or maybe “show all errors”.

Also, when a block is selected, let's keep the original icon and not replace it with the checkmark.

So instead of:

Keep always it as:

The selection indicator is redundant anyway, since the list of errors has already been filtered down.

While uncommon, it is actually possible for a block to have validation errors that ar

[2020-10-18 15:49] pauloemicada opened #5518 "The code to add nav_menu_dropdown in the AmpForWordpress page has a bug"
## Bug Description

In the "Navigation Sub-menu Buttons" section there is a code to add_theme_support, the 'expand_text ' has a space at the end. Should be 'expand_text'. That's important because the custom expand text will not work.

## Expected Behaviour

'expand_text'                 => __( 'expand', 'domain' ),

## Steps to reproduce

1. Go to https://amp-wp.org/documentation/playbooks/navigat

[2020-10-18 16:03] westonruter commented on #5518
Thank you. Fixed.

[2020-10-18 16:03] #5518 closed, assigned to nobody

[2020-10-19 05:24] schlessera opened #5520 "Automate release management tasks"
## Feature description

As previously discussed, we should automate most of the tasks that are involved in creating a (major or minor) release.

The following document describes the plan of attack for doing so:
https://docs.google.com/document/d/1Co8Ik4DTPGk_8B8_aJvcArRaMHituyrZszICeQ4v2TE/edit?usp=sharing

---------------

_Do not alter or remove anything below. The following sections will be man

[2020-10-19 05:48] schlessera commented on #5517
I'm surprised by this, as the `ServerSideRendering` transformer keeps track of the byte count of `style[@amp-custom]` specifically to avoid this situation.

I'll have to dig deeper to see why this is currently failing.

[2020-10-19 06:19] schlessera commented on #5517
I cannot replicate this so far. Even when I copy the exact HTML from the page that had the validation issue and run it through the optimizer, I have the end result of the optimizer still stay at 74998 bytes, as it checks the accumulated size before adding CSS.

[2020-10-19 06:25] schlessera commented on #5517
I've added a draft PR that adds a test to show that the SSR correctly stays below the maximum bye count: https://github.com/ampproject/amp-wp/pull/5521/files#diff-76459e2d3e79daf78403e793d6f441ecacd167962a913a42973126f4310c526eR311-R327

[2020-10-19 06:51] schlessera commented on #5517
Oh, I see the issue now. The validator counts the inline styles from the `i-amphtml-*` elements as well. Wouldn't that be a bug in the validator? These are supposed to be what the runtime would add anyway, only ... rendered on the server?

[2020-10-19 07:31] schlessera commented on #5517
It looks like this would be broken in the Go & the Node.JS versions as well:
* Go: https://github.com/ampproject/amppackager/blob/ca6f35a1b2e65f02f8e55c9e9bc218f25b801dc8/transformer/layout/layout.go#L197
* Node.JS: https://github.com/ampproject/amp-toolbox/blob/72ac57e0b3d1a57fff3a083abc8b2f6aef7babb3/packages/optimizer/lib/transformers/ApplyLayout.js#L94

cc @sebastianbenz

[2020-10-19 08:11] schlessera commented on #5495
As I mentioned, the generated CSS is the same, but the computed pixel values differ, probably because of a change in the inheritance tree and its effect on the relative nature of the `rem` unit.

[2020-10-19 08:15] schlessera commented on #5495
### Computed `font-size` of a `<p>` for non-AMP:

![Image 2020-10-19 at 10 13 45 AM](https://user-images.githubusercontent.com/83631/96419034-def11a00-11f3-11eb-863b-fcc733618f7c.png)

### Computed `font-size` of a `<p>` for AMP:

![Image 2020-10-19 at 10 13 57 AM](https://user-images.githubusercontent.com/83631/96419064-e7e1eb80-11f3-11eb-831d-18842009d859.png)

(Note the difference in computed p

[2020-10-19 16:43] johnwatkins0 opened #5523 "WP CLI not bootstrapped in PHPUnit environment"
## Bug Description

In a currently open PR, PHPUnit tests are failing because WP CLI utils are not loaded in the environment. Here's a failing build https://travis-ci.org/github/ampproject/amp-wp/jobs/735392022

## Expected Behaviour

All WP CLI functions and classes should be loaded in the PHPUnit environment for testing.

---------------

_Do not alter or remove anything below. The following sec

[2020-10-19 17:16] westonruter commented on #5517
Relates to https://github.com/ampproject/amphtml/issues/27468

[2020-10-19 17:59] westonruter commented on #5517
Right. This seems like something the validator should exclude counting any `width` or `height` properties from an inline `style` which also has the `i-amphtml-layout` attribute set. I've filed an issue to exempt `style` attributes added for `[i-amphtml-layout]` elements: https://github.com/ampproject/amphtml/issues/30726.

[2020-10-19 22:30] #5523 closed, assigned to schlessera

[2020-10-19 22:47] westonruter commented on #5495
I found the cause. It's `ampshared.css`:

![image](https://user-images.githubusercontent.com/134745/96519417-d0b9f280-1221-11eb-9b28-ae32b2933741.png)

Here's the source: https://github.com/ampproject/amphtml/blob/292dc66b8c0bb078bbe3a1bca960e8f494f7fc8f/build-system/tasks/create-golden-css/css/main.css#L54-L59

Explanation:

This is 5 years old. It may be time to revisit whether that code is stil

[2020-10-19 22:48] westonruter commented on #5495
If this is exclusively an issue with paired browsing where text is made unnaturally small, then it may not be something we should worry about fixing.

[2020-10-20 09:04] norbique opened #5525 "Redirect mobile visitors to AMP"
I have a problem, all pages are redirected to AMP even though the slider is turned off. Can I manually turn it off?

Thank you!

[2020-10-20 18:10] westonruter commented on #5525
What slide are you referring to?

Please share a screenshot.

[2020-10-20 19:20] norbique commented on #5525
I noticed that I have the same problem on several sites
![ezakopane_screen](https://user-images.githubusercontent.com/73165373/96633879-03dfad00-131a-11eb-9790-db7a3c296166.jpg)

[2020-10-20 21:19] westonruter commented on #5525
@norbique Please share the URL to a site that has this problem. Are you perhaps referring to AMP-to-AMP linking, where an AMP page will automatically link to other AMP pages? To disable this behavior you can do so with a filter:

[code]

Currently this is enabled by default in Transitional mode:

https://github.com/ampproject/amp-wp/blob/585f4a2168e3a2fdff521e6062df3414a9983ed9/includes/amp-helper

[2020-10-21 16:29] westonruter commented on #5405
Note that `delete_expired_transients()` will delete expired transients without accessing them. This happens on a daily cron.

[2020-10-21 16:31] westonruter commented on #5405
On a parsed CSS version bump, we should delete old transients. Otherwise, with each version bump we will double the number of transients until they expire.

[2020-10-21 21:23] norbique commented on #5525
All as prompted, my site ezakopane.pl

[2020-10-21 23:33] westonruter commented on #5525
But is the problem actually AMP-to-AMP linking?

On this page, for example: https://ezakopane.pl/turystyka/porady/jak-zachowac-sie-w-gorach-w-czasie-burzy?amp

I see links in the footer:

![image](https://user-images.githubusercontent.com/134745/96800718-d991fc00-13ba-11eb-8bc5-dbe55cf55130.png)

The first links to:

https://ezakopane.pl/turystyka/porady/gdy-spotkasz-niedzwiedzia-na-szlaku?amp

Th

[2020-10-22 04:36] norbique commented on #5525
Here too, all pages are redirected to AMP even though the slider is turned off murzasichle.info
![murzasichle_screen](https://user-images.githubusercontent.com/73165373/96825219-e6513700-1430-11eb-849a-27debddb00d2.jpg)

[2020-10-22 05:19] westonruter commented on #5525
@norbique please define "redirected". I just tried going to https://murzasichle.info/info/kosciol and I am not taken to an AMP page.

[2020-10-22 06:06] norbique commented on #5525
when I go from google to chrome on my phone, I have the AMP version, not my responsive template

[2020-10-22 06:08] westonruter commented on #5525
That's not redirection. Google Search serves the AMP version to mobile users when available.

[2020-10-22 12:13] Zabi09 opened #5532 "<iframe> elements do not have a title in Lighthouse"
Added just a youtube video on one of my posts- https://monosnap.com/file/XIXggJgslnAxcMnNLBtHpwA3LXJluT and I am getting this error inside the amp-youtube tag that <iframe> elements do not have a title in Lighthouse - https://monosnap.com/file/0R4ehteXwmLk517l2sp0yKq2vNQw1E

[2020-10-22 19:02] westonruter commented on #5532
Hi there. This is actually an issue with `amp-youtube` component in AMP core and not the AMP plugin.

I made this example to show the difference between `amp-youtube` and `amp-iframe`, where the former does not copy the `title` attribute but the latter does: https://amp-iframe-title-attribute-iframe-copying.glitch.me/

For the former, I also see the accessibility audit failure:

This is a known is

[2020-10-22 19:02] #5532 closed, assigned to nobody

[2020-10-22 21:26] rickalee opened #5533 "Admin Bar and AMP Standard Mode"
## Feature description

We recently launched a full AMP-first site in Standard Mode.

One of the other plugins we use requires jQuery and additional JS to power a feature within admin bar. Is there a way to opt into these scripts without them being stripped for logged in editors/admins i.e. we don't need site to validate for logged in users?

[2020-10-22 21:35] westonruter commented on #5533
@rickalee Yes, please see my blog post: [Integrating with AMP Dev Mode in WordPress](https://weston.ruter.net/2019/09/24/integrating-with-amp-dev-mode-in-wordpress/). There are many such examples found in Site Kit and Jetpack.

This will be further facilitated by #4001.

[2020-10-22 21:35] #5533 closed, assigned to nobody

[2020-10-22 21:37] rickalee commented on #5533
Thank you @westonruter Exactly what I was looking for.

[2020-10-23 12:16] jamesozzie opened #5534 "Cloudinary Plugin Conflict - Can't add new post or page"
## Bug Description

As reported in the WordPress support forums when using the AMP plugin along with the Cloudinary plugin it's not possible to create a new page or post, with the below error appearing:

![image](https://user-images.githubusercontent.com/41326532/97000212-585b7600-152e-11eb-8bde-14d40e7f36ad.png)
As soon as Cloudinary is activated the below console error appears (regardless of whe

[2020-10-23 13:54] johnwatkins0 commented on #5534
I'm submitting a fix for this on the Cloudinary plugin repo.

[2020-10-23 19:51] westonruter commented on #5534
@jamesozzie Thanks for the excellent bug report.

[2020-10-23 19:51] #5534 closed, assigned to johnwatkins0

[2020-10-25 20:08] jwold commented on #3821
I'm running into an issue, and would like feedback. Navigating from the block icon to the isolated error sidebar instance feels straightforward. That's great. I think we've worked out how that would behave. ([Example](https://d.pr/i/Pn8blL)).

However, navigating from the AMP sidebar to the same isolated instance raises some usability issues. I've been thinking of many ways to do this, and wanted

[2020-10-25 20:38] jwold commented on #3821
I just stumbled across this interaction and kind of like it. The initial list of Google flights can be expanded or isolate. Expand on the right, or isolate on the left.

![Screen Capture on 2020-10-25 at 13-35-51](https://user-images.githubusercontent.com/3411173/97118466-3812ef00-16c7-11eb-9c39-01e56229d60f.gif)

And here's a prototype (not complete, but getting closer) showing how that could wor

[2020-10-26 14:50] johnwatkins0 commented on #3821
@jwold How about if the entire header of a panel (the icons, the headline, and the down arrow) open the error details, and inside the error details is a button/link to see all errors related to that block?

[2020-10-26 16:06] johnwatkins0 opened #5537 "Fatal error resulting from missing request_filesystem_credentials function on settings screen"
## Bug Description

Bug reported here: https://wordpress.org/support/topic/error-you-might-be-offline-or-logged-out/

## Expected Behaviour

Settings screen should load without an error.

## Steps to reproduce

1. On the `develop` branch
2. Add this Gist as a plugin and activate it: https://gist.github.com/johnwatkins0/993c0e350e2bf7d473d38c7ba3b1598a
3. Go to the AMP settings screen and select Re

[2020-10-26 16:12] dritter opened #5538 "[AMP Optimizer] Server-side rendering breaks class binding on html element"
Hi there,

we just started using the AMP Optimizer library and found a bug. In our admittedly strange setup, we use a class binding on the html element to set some marker classes. These class binding gets removed when using the AMP Optimizer.

Input:
[code]

Output (the relevant part):
[code]
So after the optimization, clicking on the buttons has no effect.

We use the Optimizer with the default c

[2020-10-26 16:17] westonruter commented on #5538
@dritter Are you using the Optimizer without the rest of the WordPress AMP logic?

How are you passing the HTML into the Optimizer for processing?

[2020-10-26 16:26] westonruter commented on #5538
Humm, I can reproduce this problem as well, just by using this to start an AMP page:

[code]

A quick fix looks to be to just use the `amp` attribute instead of `⚡︎`:

[code]

I then get the expected:

[code]

[2020-10-26 16:28] dritter commented on #5538
Yep.

We implemented a Symfony EventSubscriber for that purpose:
[code]
This has some of Symfonys DI magic in here, but the injected `TransformationEngine` will be instantiated with `new` (without parameters) somewhere.

[2020-10-26 16:29] westonruter commented on #5538
This doesn't appear to have anything to do with the Optimizer codebase, but rather an issue with the [`\AmpProject\Dom\Document`](https://github.com/ampproject/amp-wp/blob/2ae91079721792309f720e6f7b03fdfe92f6e217/lib/common/src/Dom/Document.php) class. But you can work around this issue by using the `amp` attribute for now.

[2020-10-26 16:41] dritter commented on #5538
Awesome. Thanks for the quick response! :tada:

[2020-10-26 16:50] schlessera commented on #5538
While it's awesome to see the Optimizer library already being used outside of the AMP plugin, it's also quite scary given it hasn't been officially published as a separate library yet (but we're working on it!).

The transformation of the bind parameters into their `data-amp-bind-*` form has a fallback to the untransformed attribute in case a problem occurred with the regex to match them. I assume

[2020-10-26 16:56] jwold commented on #3821
That's a great suggestion. Here's an example of what that would look like. I've added numbers to the screens to help with following the flow.

![Screen Capture on 2020-10-26 at 09-55-30](https://user-images.githubusercontent.com/3411173/97202963-8381d780-1771-11eb-8168-8c5bc8e04e41.gif)

[2020-10-26 17:47] dritter commented on #5538
YaY! Well, "started using" is a bit too much to say. We "are evaluating it" fits better ;)

[2020-10-26 17:52] #5537 closed, assigned to pierlon

[2020-10-26 19:08] schlessera commented on #5538
@dritter You might want to keep an eye on https://github.com/ampproject/amp-wp/issues/4567 to see the progress on extracting it into a separate package you can pull in via Composer.

[2020-10-26 19:15] westonruter commented on #3821
I like that. But something I'm realizing is that clicking "Clear block selection" will show all errors but it will also (naturally) remove the selected block from the editor. This may not be desired. So what if clicking "Clear block selection" would not remove the selected block from the editor, but rather just reveal all validation errors. If the user wants to get back to the filtered view of jus

[2020-10-26 20:33] johnwatkins0 commented on #3821
@westonruter Do you mean that clicking "Clear block selection" would unselect the block, or that it would delete the block? If the latter, I'm confused and would need you to expand on that.

I like this. We could just give the errors related to the selected block, say, a light blue background and not have the filtered view at all.

[2020-10-26 20:42] jwold commented on #3821
<img width="668" alt="My Sketches - 2020-10-20 11 13 01 2 copy" src="https://user-images.githubusercontent.com/3411173/97226284-00707980-1791-11eb-8f96-43f6cdf494be.png">

I thought a bit through this direction last week, and believe it could be a valid option!

[2020-10-26 20:57] westonruter commented on #3821
Not delete, no. Unselecting the block is the current behavior depicted when "Clear block selection" is clicked. I don't think this should be the case.

When expanding, there can also be a link to select the associated block, if there is one. If that associated block is then selected, then the appearance would be the same as if the user had clicked the AMP button in the block toolbar.

[2020-10-26 21:00] johnwatkins0 commented on #3821
Great point. Selecting the block is effectively the same as highlighting the block's errors. Block selected === the block errors are highlighted.

[2020-10-27 06:10] #5495 closed, assigned to nobody

[2020-10-27 06:13] westonruter commented on #1316
With `amp-img` being deprecated in https://github.com/ampproject/amphtml/issues/30442, I'm pretty sure this means that `picture` will eventually become allowed, since `img` will be allowed.

[2020-10-27 06:13] #1316 closed

[2020-10-27 12:09] LARAMediaGroup opened #5544 "Not recognising SSL"
## Bug Description

Have installed the AMP plugin on a new site we are setting up (https://thevou.com) and it keeps throwing a message stating that there's no SSL. We have installed and reinstalled the plugin several times, from different computers and different browsers, it is still unable to recognise the SSL.

## Expected Behaviour

Recognise the SSL

## Steps to reproduce

Not sure, see the pi

[2020-10-27 15:30] schlessera commented on #5544
The site does seem to have SSL issues though. Although the frontpage shows a secure connection, the "About Us" page (just as an example) is not properly secured.

![Image 2020-10-27 at 4 28 44 PM](https://user-images.githubusercontent.com/83631/97324080-c034f800-1871-11eb-84a7-50f2a02d2be8.png)

![Image 2020-10-27 at 4 30 26 PM](https://user-images.githubusercontent.com/83631/97324095-c32fe880-187

[2020-10-27 15:33] westonruter commented on #5544
Make sure that the WordPress Address and Site Address in the site's General Settings both have HTTPS URLs.

[2020-10-27 15:45] westonruter commented on #4567
Great. @amedina will request the repo to be created and we can get this going.

[2020-10-27 16:02] westonruter commented on #5115
The user who most recently [raised the problem](https://wordpress.org/support/topic/image-dimension-creating-problems-in-amp-version/) of images having the fallback dimensions in the page was running WordPress 5.4. I've asked them to upgrade to 5.5 to see if that fixes the issue. If that fixes the issue, I'll bump this down to P2.

[2020-10-27 16:23] westonruter commented on #5581
We'll make this an opt-in transformer. The concern is that a majority of users will be negatively impacted by serving assets from the origin rather than the AMP CDN. So it would be off by default.

[2020-10-27 20:24] westonruter commented on #4567
https://github.com/ampproject/amp-toolbox-php

[2020-10-28 20:36] westonruter commented on #4442
Actually, since we're going to still support `/amp/` for legacy installs and as an option for users who want it (as opposed to `?amp=1`), then I think this still needs to be addressed. It isn't accounted for completely in #4312 .

[2020-10-28 20:56] westonruter commented on #1384
Note: As of 2.0, Transitional mode is now the default for new activations that have an AMP-compatible theme.

[2020-10-28 21:05] westonruter commented on #4442
The code in question (which has since been removed) is the following:

https://github.com/ampproject/amp-wp/blob/7fcdabd53ae0ae7d86a5a93b446dd4bfb5fa4046/includes/amp-helper-functions.php#L736-L748

Nevertheless, I can't seem to be able to reproduce this issue. I supplied the custom structure of `/%category%/%postname%/`:

![image](https://user-images.githubusercontent.com/134745/97496110-b66ccc80

[2020-10-28 21:05] #4442 closed

[2020-10-28 23:17] amedina opened #5545 "Enable Paired Browsing when Developer Tools are Off"
## Feature description

Currently the awesome AMP plugin capability of paired browsing is available only when the plugin is configured in Transitional mode *and* Developer tools are turned on.  This approach serves well the purpose of opening Paired Browsing in response to seeing a validation error, and with the goal of determining the impact of the problem on the functional and/or visual aspects

[2020-10-29 16:47] roborourke opened #5546 "is_amp_endpoint() early call warnings during cron & WP CLI command processes"
## Bug Description

Cards on the table this isn't strictly a bug but it didn't fit neatly into any other categories.

The functions like `is_amp_endpoint()` etc log notices when they are used too early however this is assuming the context is always a front end request - except for REST requests it looks like. There are legitimate reasons to run the `the_content` filter in non request contexts, one

[2020-10-29 17:02] westonruter commented on #5546
Got it. It looks like we just need to augment the logic here:

https://github.com/ampproject/amp-wp/blob/125d06d39f533d2ebc98396dd544071ee100657f/includes/amp-helper-functions.php#L412-L415

Would you like to open a PR?

[2020-10-29 17:09] roborourke commented on #5546
@westonruter ace thanks for the reference - yeah if you're amenable to the change I can do that.

[2020-10-29 19:44] #5209 closed, assigned to westonruter

[2020-10-29 20:35] johnwatkins0 commented on #2431
@westonruter and anyone else interested. Bringing this back as I start work on #3821. For the recent onboarding wizard/settings screen updates, we were able to bundle our own versions of the core JS libraries because we were on plugin screens that we controlled fully, so WP version wasn't a major concern. We can't do this with #3821 because it is an editor integration and we need to use the JS loa

[2020-10-29 20:39] westonruter commented on #2204
In order to successfully support users migrating from other plugins, we probably need to register the `/amp/` endpoint for `EP_ALL` rather than just `EP_PERMALINK`, but only do so if the user specifically selects `/amp/`. The supported AMP permalink options that the AMP plugin would support would be (when not in Standard mode):

* Query var: `?amp=1` everywhere (the **default** for new installs).

[2020-10-29 20:43] #5546 closed, assigned to nobody

[2020-10-29 21:19] westonruter commented on #2431
We currently already disable the editor integration when on an old version of WP and we show an upgrade notice instead. See https://github.com/ampproject/amp-wp/pull/5441. Feel free to bump the minimum version from 5.2 to 5.3 or whatever you need.

[2020-10-30 05:56] westonruter opened #5549 "Facilitate documents in AMP Dev Mode to be unmarked as AMP pages when site is in Standard mode"
## Feature description

This originally was in discussed in https://github.com/Automattic/jetpack/pull/16901#pullrequestreview-483032801, where AMP Dev Mode was being explored as a way to serve pages managed by the AMP runtime which also include invalid AMP markup which is marked using `data-ampdevmode`. I wrote https://github.com/Automattic/jetpack/pull/16901#pullrequestreview-483032801:

Come to

[2020-10-30 15:15] johnwatkins0 commented on #3821
@jwold Another design request for this (not blocking me from moving forward). What should happen when there are no errors? Obviously a "no errors found" type of message, but I suggest something more fun and congratulatory sort of like the final screens of the onboarding wizard. What do you think? No rush -- I can handle this last.

[2020-10-30 18:38] swissspidy opened #5551 "Composer 2 Support"
## Feature description

Looks like some dependencies need to be updated to fully support Composer 2.

For example `cweagans/composer-patches` added support in version 1.7. There's a PR for updating it: #5474. But it fails because of a seemingly unrelated issue with Facebook's oEmbed changing.

---------------

_Do not alter or remove anything below. The following sections will be managed by modera

[2020-10-30 18:50] westonruter commented on #5551
cf. https://github.com/google/web-stories-wp/pull/5082

[2020-10-30 19:26] pierlon commented on #5551
The two dependencies that prevent us from upgrading to Composer v2 are `civicrm/composer-downloads-plugin` and `cweagans/composer-patches`. Of those two, `civicrm/composer-downloads-plugin` still does not support Composer v2 as yet, but https://github.com/civicrm/composer-downloads-plugin/pull/1 should hopefully take care of that soon.

That should finally be resolved via #5548. Now that is in we

[2020-10-30 19:46] jwold commented on #3821
Here's an initial idea we could run with for now. Feedback welcome! cc @johnwatkins0

<img width="838" alt="Screen Shot on 2020-10-30 at 12-46-00" src="https://user-images.githubusercontent.com/3411173/97750397-efd04400-1aad-11eb-918f-d7b8a05f4ee7.png">

[2020-10-30 20:07] westonruter commented on #3821
There should still be a link to view the validated URL screen as well, since there will be additional information available there, namely the stylesheet data. This link should appear regardless of whether there are errors or not. So this message would be shown below that link. I think perhaps a simple ✅ with simple “Page at permalink is valid AMP” message would suffice.

[2020-10-30 20:15] jwold commented on #3821
Oh good point. Agreed!

[2020-10-30 21:47] johnwatkins0 opened #5552 "REST endpoints for AMP validation errors and validated URLs"
## Feature description

For some planned plugin features, we will need data about validation errors and validated URLs to be fetched and updated over REST endpoints.

Although this data is currently represented in the database via the `amp_validation_error` taxonomy and the `amp_validated_url` post type, we should not use or extend`WP_REST_Taxonomy_Controller` and `WP_REST_Post_Controller` because

[2020-10-30 21:53] westonruter commented on #5552
For the endpoint for validation errors…

* They should _not_ allow creation (as it is the creation of a validated URL which causes validation errors to be created).
* The only update should be for the `removed` and `reviewed` flags. Everything else must be `readonly`.
* A validation error can only be deleted if it has no associated validated URLs.

[2020-10-30 22:31] johnwatkins0 opened #5553 "Migrate to a different method of storing error data"
## Feature description

This is closely related to #5552. Leaving this description intentionally vague for now because I believe others will have better ideas than me about the implementation details.

Currently, validation error data is stored in the `amp_validated_url` post type and `amp_validation_error` taxonomy in a way that makes the data hard to query, with much of the data JSON-stringified

[2020-11-02 02:09] seamuslee001 commented on #5551
Just FYI civicrm/composer-downloads-plugin now has a new version 3.0.0 which includes that PR mentioned

[2020-11-02 02:12] pierlon commented on #5551
Thanks @seamuslee001!

[2020-11-02 04:24] seamuslee001 commented on #5551
just FYI i found a small php issue and fixed it so have pushed up 3.0.1 which should be used

[2020-11-02 16:42] jwold opened #5559 "Reduce size of UI elements on Settings screen"
## Feature description

On a laptop screen there are two areas in the AMP settings page that feel larger than necessary. With a few minor tweaks we could reduce the size on each.

Suggestions:

1. For the AMP Settings configuration wizard we could change out the button for a link.

<img width="1048" alt="Screen Shot 2020-11-02 at 8 43 37 AM" src="https://user-images.githubusercontent.com/3411173/9

[2020-11-02 18:16] westonruter commented on #4831
FYI: Renovate has now been disabled for `amp-wp`.

@schlessera It has also been disabled for `amp-toolbox-php`.

[2020-11-02 18:17] kristoferbaxter commented on #4831
Please let me know if you see any issues following disable.

[2020-11-02 19:19] westonruter commented on #4831
Only outstanding issue is needing to add `dependabot-preview` to the CLAassistant allowlist:

![claassistant](https://user-images.githubusercontent.com/134745/97909537-3e275200-1cfd-11eb-9c57-3307ca8bcc15.png)

[2020-11-03 17:36] #5055 closed, assigned to pierlon

[2020-11-04 12:25] swissspidy commented on #4831
^ Coincidentally just asked about this in the #wg-infra Slack channel.

[2020-11-04 16:58] #5544 closed, assigned to nobody

[2020-11-05 04:49] hollisterca commented on #5525
Not sure if this is the same but
I described the issue here
https://wordpress.org/support/topic/redirect-301-on-categories-links-on-amp-post/#post-13619613
Basically when on a amp page
https://www.teawea.com/vegan-chinese-spring-rolls/?amp=1
on the very bottom the categories that this recipe belongs to are linked to
https://www.teawea.com/category/recipes/types/appetizers/?amp
instead of
https://w

[2020-11-05 07:23] westonruter commented on #5525
The 301 redirect here is not from https://www.teawea.com/category/recipes/types/appetizers/?amp to https://www.teawea.com/category/recipes/types/appetizers/?amp=1 but rather to https://www.teawea.com/category/recipes/types/appetizers/

In other words, the `amp` query parameter is removed because AMP is not available on the category template on your site, since the AMP Legacy template is being used

[2020-11-05 07:23] #5525 closed, assigned to nobody

[2020-11-05 15:41] jwold opened #5578 "Update AMP settings to include additional options"
## Feature description

- Remove "redirect mobile visitors to AMP" toggle from onboarding
- Add new section in AMP Settings under Advanced Settings to "redirect mobile visitors to AMP". Turn on by default.
- Add new "dev tools" toggle in advanced settings. Make note that it's user role specific (not site wide)

---------------

_Do not alter or remove anything below. The following sections will be

[2020-11-05 15:53] westonruter commented on #5578
See also https://github.com/ampproject/amp-wp/issues/5386.

[2020-11-05 17:18] jwold commented on #5578
<img width="865" alt="Screen Shot 2020-11-05 at 9 17 47 AM" src="https://user-images.githubusercontent.com/3411173/98274096-df094d80-1f47-11eb-87b3-0bb2ec26caec.png">

[2020-11-06 02:28] pierlon commented on #4557
@westonruter given that the consensus is to deprecate the `amp-fit-text` control, would you still consider moving the control to the "Text Settings" section and ensuring the `amp-fit-text` settings work when the content is viewed on a non-AMP page?

[2020-11-06 14:44] schlessera commented on #4457
I'm not sure this should still be included, given the work that the `PreloadHeroImage` transformer is already doing.

[2020-11-06 16:35] schlessera commented on #4567
I just tagged the very first version for the library: https://github.com/ampproject/amp-toolbox-php/releases/tag/0.1.0

[2020-11-08 19:12] mkormendy commented on #2204
Yay, the latest version of the plugin, installed as of this past Friday has now broken my site for /amp/ suffixed URLs.

[2020-11-08 19:18] westonruter commented on #2204
@mkormendy What is your site's URL? We haven't released any changes yet.

[2020-11-08 19:49] mkormendy commented on #2204
https://www.smartstartinc.com/locations/ignition-interlock-texas-irving-4848-plaza-dr-75063/amp/ (original not working)

https://www.smartstartinc.com/locations/ignition-interlock-texas-irving-4848-plaza-dr-75063/?amp (test working)

https://www.smartstartinc.com/locations/ignition-interlock-texas-irving-4848-plaza-dr-75063/?amp= (test working)

https://www.smartstartinc.com/locations/ignition-int

[2020-11-08 20:02] mkormendy commented on #2204
I'll just leave it .. if the AMP project is moving towards the query-string-preferred approach, I'll just make a catchall in my server redirects.

[2020-11-08 20:11] westonruter commented on #2204
These three are working for me:

For each an AMP page is served.

For the [non-AMP page](https://www.smartstartinc.com/locations/ignition-interlock-texas-irving-4848-plaza-dr-75063/), I'm seeing something very strange in the source:

[code]

It appears that `get_permalink()` is not returning a correct URL on your site. The logic for constructing the `href` for the `amphtml` link can be seen here:

[2020-11-09 15:23] jwold opened #5585 "Add AMP updates module to WordPress Dashboard"
## Feature description

![Group 8](https://user-images.githubusercontent.com/3411173/98565725-cad49180-2262-11eb-9325-a4b0fee3db84.png)

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementation brief

*

## QA testing instructions

*

## Demo

*

## Changelog entry

*

[2020-11-09 16:08] jwold commented on #5585
Here's an initial take on what the AMP News section could look like. It's not necessarily doing much to standout. A few ideas we could try:

1. Having favicons or icons to represent each link.
2. Showing the ampwp.org featured images beside each link
3. Having an icon at the top of the module.

[2020-11-09 16:13] amedina commented on #5585
This is part of what we are calling "Knowledge Paths", which are entry points from the plugin experience that make it easy for users to get information such as YT series, documentation, news, etc.  In  tandem with this we want to integrate such knowledge path entry points in different places of the plugin UI.

[2020-11-10 07:17] #4567 closed, assigned to nobody

[2020-11-10 09:59] coolrecep commented on #5549
I think I have a problem related to this. Google does not accept our pages as AMP compatible and gives error:

`Tag 'html' marked with attribute 'data-ampdevmode'. Validator will suppress errors regarding any other tag with this attribute.`

[2020-11-10 16:02] schlessera commented on #3361
GitHub Actions integration is available now: https://blog.blackfire.io/github-actions-support-for-blackfire.html

[2020-11-10 16:48] jwold commented on #5545
Meeting notes:

* WR > When user sees a discrepancy, caused by validation error, but have dev tools turned off, then what? If they see a difference, no validation error shown, what do we do?
* AM > We can detect there are validation errors, but dev tools off. We could add a notice that says, “there may be discrepancies between AMP and non-amp version, check with your admin for an analysis.” Then,

[2020-11-10 17:17] jwold commented on #4751
**Notes from meeting**

* WR > Say you validate 5 URLS, on everyone of those pages you have theme jQuery added to page (because it does that). Let’s say homepage has an additional script that’s just for carousel on homepage, and latest blog page just has one script for video embed.
* Validated URL screen for all 3 will have jQuery as validation error. One will have error for carousel, another for

[2020-11-10 17:21] westonruter commented on #4779
Let's revisit this with moving to custom DB tables in #5553. As pointed out by @schlessera, we may want to store the status independently of the error object itself. If this were done, the statuses could be retained even after the objects are garbage collected.

[2020-11-10 17:25] jwold commented on #4597
https://github.com/ampproject/amp-wp/issues/5585

Knowledge path admin umbrella. Want a little widget in the dashboard. Would like a little widget with info about latest news about AMP plugin and a set of links to twitter, amp blog, plugin site, YouTube channel.

[2020-11-10 21:22] johnwatkins0 commented on #3821
@jwold @westonruter About 75% done with this. After working on it a while, I have some suggestions that may warrant one more design round if you think I'm going in the right direction.

Current state of the sidebar below. You'll see I've deviated from the design:

<img width="319" alt="Screen Shot 2020-11-10 at 2 54 02 PM" src="https://user-images.githubusercontent.com/9020968/98732884-58000f00-23

[2020-11-10 22:00] westonruter commented on #5549
@coolov That's right. That's why this issue proposed a filter like `amp_dev_mode_document_marked` (name tentative) which would allow you to omit the `amp` attribute from such pages. When that attribute is absent, then the AMP page will not be checked for AMP validity. This would only make sense on a Standard mode site. If it were tried on a site in Transitional mode or Reader mode (which are both

[2020-11-11 14:38] adamsilverstein commented on #5423
Quick note that I have been testing `twentytwentyone` for core and when I enabled the AMP plugin I noticed the following issues:
* 7 inline or included scripts removed.
* Dark mode detection did not work (theme changes if user's device is set to dark mode); otherwise things seemed to work fine.

[2020-11-11 20:03] westonruter commented on #4831
Thanks to @kristoferbaxter and @rsimha, dependabot is now in the allowlist for the CLA.

The check is passing:

![image](https://user-images.githubusercontent.com/134745/98858696-e6cc6480-2415-11eb-9ca4-800f1f9e61c4.png)

https://github.com/ampproject/amp-wp/pulls/app%2Fdependabot-preview

[2020-11-11 20:03] #4831 closed, assigned to nobody

[2020-11-12 15:21] turtlepod commented on #5416
@westonruter Is there a way/filter to remove this featured image notice?

[2020-11-12 17:21] pierlon commented on #5423
Thanks @adamsilverstein. I have a fix for those 7 script issues underway. As for dark mode, I'll have to follow up on that. Last time I checked it was supposed to be a plugin, right?

Edit: Dark mode plugin for `twentytwentyone`: https://github.com/WordPress/twentytwentyone-dark-mode

[2020-11-12 18:33] johnwatkins0 commented on #3821
Quick addition to the above comment:

I would like to explore creating a small REST endpoint to allow these errors to be marked as reviewed from the editor. As a user, this would allow me to get that badge number down to 0 without leaving.

The REST endpoint can also allow these errors to be marked as Kept/Reviewed.

This can be a small REST endpoint, likely to be adapted into a more full-featured

[2020-11-12 19:10] pierlon commented on #5416
@turtlepod That can done by removing the `ampEditorBlocks/withMediaLibraryNotice` filter:

[code]

Or alternatively,

[code]

[2020-11-12 21:40] johnwatkins0 commented on #5514
QA passed.

Pasted Weston's snippet from above into a custom HTML block. The block worked as expected with no validation errors.

[2020-11-12 22:08] johnwatkins0 commented on #5546
QA passed.

Before this change, when I run a CLI command with `apply_filters( 'the_content', 'test' );`, I get:

After this change, I don't see that warning and the CLI command runs as expected.

[2020-11-12 22:46] mkormendy commented on #2204
@westonruter So I was able to fix the issue with `get_permalink()` not returning a correct URL for permalinks on my site - that was an issue in my logic, thanks for catching that - it fixed the _canonical_, the _ampurl_ and the _opengraph_ meta link tags on my site for this custom taxonomy structure for our shop locations.

Unfortunately though, the `/amp/` directory version still returns 404 Not

[2020-11-12 22:50] westonruter commented on #2204
The default going forward is actually going to be `?amp=1`, so of you are switching to use query vars now, then I recommend providing the value of 1 rather than an empty string.

[2020-11-12 22:53] mkormendy commented on #2204
Okay, thanks for the heads up. Just made the change in my redirects. Will `amp_get_slug()` output that in future versions?

[2020-11-12 22:56] mkormendy commented on #2204
Oh, and why can't I find the setting in the plugin UI to choose between the two? Somehow my site is forced to use `/amp/` (maybe from a previous version where the interface had the choice to choose which URL structure to use), but using the `amp_pre_get_permalink` now superfluously undoes that? I guess I could go into the options table to see what is set there if the interface doesn't allow new us

[2020-11-12 22:59] westonruter commented on #2204
No, it will output just `amp`.

The setting to switch the Paired URL structure is only available on the Settings screen of the 2.1-alpha build that is linked to on the PR: https://github.com/ampproject/amp-wp/pull/5558. It's not yet in a stable release.

[2020-11-12 23:02] mkormendy commented on #2204
So what's the best way to get the output to use `?amp=1`?

[2020-11-12 23:05] westonruter commented on #2204
Same as you had but add `1` instead of `''`:

[code]
Note: This only works in Reader mode.

[2020-11-12 23:14] mkormendy commented on #2204
Great minds think alike! That's what I was going to do, but wanted to make sure it wasn't being added somehow else.
I'm using Reader mode on my site, so that's good to know. Thanks for all of your help.

[2020-11-13 02:31] johnwatkins0 opened #5598 "On URL validation screen, improve representation of empty strings"
There might be a better way to represent this empty-string error on the URL validation screen.

Instead of:

<img width="285" alt="Screen Shot 2020-11-12 at 4 58 17 PM" src="https://user-images.githubusercontent.com/9020968/99006684-76ead680-2508-11eb-9dac-2fcf1154ba41.png">

Should we do something like this?

<img width="371" alt="Screen Shot 2020-11-12 at 5 01 13 PM" src="https://user-images.git

[2020-11-13 04:18] westonruter commented on #3821
I see. When I first saw the icons I wasn't sure what they were referring to, until I read your subsequent explanation. What if there is an “HTML” error in a “Custom HTML” block? Wouldn't that mean “HTML” is just repeated repeated twice? That being the case, I think the type should be more concise like the VSCode file icons. The icon can be made circular, but then it can be combined with the block

[2020-11-13 04:41] johnwatkins0 commented on #3821
Thanks for the feedback @westonruter. I will revisit in detail later, but I wanted to mention I love this idea:

Much better than what I'm doing now with two sections.

Also wanted to call on @jwold to take a look at Weston's first paragraph above. I agree that the block icons should be square, but when placed on a white background with no border, the core icons just float there with no apparent s

[2020-11-13 05:05] pierlon commented on #5537
**QA Passed**

Activated the gist plugin provided by @johnwatkins0 is activated, then went to the AMP settings screen and selected Reader mode and saved the changes. No fatal errors occurred in the process.

[2020-11-13 05:57] westonruter commented on #4557
If the `amp-fit-text` settings can be moved inside Text Settings then that would be good. I think it wasn't possible at the time so that's why it wasn't done.

Nevertheless, I have doubts as to whether this is being used by many people and it seems more suitable for programmatically adding text to a post. For example, it would make great sense to use for auto-generated web stories. But in this con

[2020-11-13 06:09] pierlon commented on #4557
Yea that's what I was wondering as well. If it were moved inside Text Settings though, how would the user know that the control is for AMP only? I suppose we could simply prefix the setting title with "AMP" or something along that line.

Also, I think we should also have a set release for when we intend to remove these deprecated settings, so that we can give the users a heads-up on when they will

[2020-11-13 06:16] westonruter commented on #4557
Can't the setting be treated the same way as the deprecated blocks? Only show the setting if the block has fit-text setting attributes set. And then show a deprecated notice. In that way, leave it in it's own separate AMP Settings panel as there's no need to move it to Text settings.

You're right that there's no way indicate that the fit-text settings are only applicable to AMP in that case, whic

[2020-11-13 06:39] pierlon commented on #4557
I don't recall Gutenberg providing such a mechanism, but showing the setting based on whether the block has the attribute set is relatively simple to do.

That sounds like a good idea :+1:.

[2020-11-13 21:23] jwold commented on #3821
@westonruter happy to play with the icons more.

Note that the VS studio logo uses the <> brackets icon: https://d.pr/i/fu7elu. That may make more sense for us to just replicate?

[2020-11-13 21:40] westonruter commented on #3821
Yes, that looks good. Using those VSCode icons in a circle, along with the block icon in a square.

[2020-11-15 05:13] #5551 closed, assigned to pierlon

[2020-11-16 17:01] westonruter opened #5602 "Extract CSS sanitizer into AMP Toolbox PHP"
## Feature description

This is part of https://github.com/ampproject/amp-wp/issues/2315.

Now that we have the [`amp-toolbox-php`](https://github.com/ampproject/amp-toolbox-php/) repo which is the home of the PHP AMP Optimizer, a next step is to start porting the sanitizers from the AMP plugin over to be generic PHP to be distributed in that package. The CSS sanitizer is a key example of that. It

[2020-11-16 17:09] westonruter commented on #5602
Note there is an existing PHP package for CSS tree-shaking [Drupal-Jedi/css-tree-shaking](https://github.com/Drupal-Jedi/css-tree-shaking). This is used in the Drupal [amp_cts](https://www.drupal.org/project/amp_cts) module. Nevertheless, I reviewed that  package and it doesn't appear to have some key aspects that makes tree-shaking successful in the AMP plugin. In particular, it is determining wh

[2020-11-16 17:09] westonruter commented on #2315
I opened an issue specifically for the extraction of the CSS sanitizer (including the tree shaker): #5602.

[2020-11-16 17:12] westonruter commented on #5602
Another aspect that is platform-specific is the storage of the parsed CSS. Currently it uses transients which are WordPress-specific. So an interface is needed to provide a caching strategy. If none is provided, then it would just not do any caching at all.

[2020-11-16 21:02] schikanza opened #5605 "The upgraded AMP Plugin from last week is negatively affecting site ranking - it blocks Alexa code which is the site header. Ale can no longer read the AMP pages. Most likely there are other codes residing in the header affected. PLEASE HELP FIX THIS"
## Bug Description

## Expected Behaviour

## Steps to reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Screenshots

## Additional context

 - WordPress version:
 - Plugin version:
 - Gutenberg plugin version (if applicable):
 - AMP plugin template mode:
 - PHP version:
 - OS:
 - Browser: [e.g. chrome, safari]
 - Device: [e.g. iPhone6]

---------------

_Do no

[2020-11-16 21:02] schikanza opened #5606 "The upgraded AMP Plugin from last week is negatively affecting site ranking - it blocks Alexa code"
The upgraded AMP Plugin from last week is negatively affecting site ranking - it blocks Alexa.com code which is the site header. Alexa can no longer read the AMP pages. Most likely there are other codes residing in the header affected. PLEASE HELP FIX THIS

[2020-11-17 04:12] westonruter commented on #5605
Closing as duplicate of #5606

[2020-11-17 04:12] #5605 closed, assigned to nobody

[2020-11-17 04:13] westonruter commented on #5606
Please submit this as a support topic and we'll help you there: https://wordpress.org/support/plugin/amp/#new-topic-0

[2020-11-17 04:13] #5606 closed, assigned to nobody

[2020-11-17 10:02] dikeii commented on #2204
Good morning, I needed to use the url format "https://www.example.com/amp/…/foo/" and do the following

[code]

It works fine for me, but I wanted to know if it was the best way to do it, thanks for the plugin. Best regards

[2020-11-17 17:50] westonruter commented on #2204
@dikeii Please try this plugin code: https://gist.github.com/westonruter/f881658cb1bc5a03cc432c8e2b89102a

Note that this will only work if you are in Reader template mode with the AMP Legacy theme selected, unless you are testing with https://github.com/ampproject/amp-wp/pull/5558 (in which it will work with any variation of Transitional or Reader mode).

[2020-11-17 23:08] johnwatkins0 commented on #3821
@jwold Based on Weston's feedback above I'm now combining reviewed and unreviewed errors into a single list, with a checkbox to include reviewed errors.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/9020968/99461345-45eb1700-28f7-11eb-8f9f-3dc45661b74f.gif)

Do you think we should visually distinguish new and reviewed errors in some way? Following this model, potentially (if I

[2020-11-18 10:01] inaikem commented on #4554
Agreed. Super confusing, in fact. Especially considering that after you apply the setting and navigate away to another block,
the only way it can be made visible again is to go into the Code editor and set `"ampLayout"` to `ampLayout:"default"`.

I recorded a screencast here: https://d.pr/v/d6Eex5

If the plan is to keep the setting, can we please keep the affected block visible in the editor if "

[2020-11-18 15:07] johnwatkins0 commented on #3821
On my question above, I'm going to try Weston's suggestion:

But I still think we should also have a way to differentiate the errors that are causing AMP invalidity on the page due to their being kept.

[2020-11-18 20:06] westonruter commented on #4554
I'm confident we will eliminate the setting entirely.

[2020-11-18 20:17] adamsilverstein commented on #5423
The team has switched a couple times. Last time I checked, the dark mode worked out of the box in core (no plugin required) and they were seeking help testing. You have to enable it in the Customizer to get it working.

I would test with the 5.6 release candidate: https://wordpress.org/news/2020/11/wordpress-5-6-release-candidate/ - if you see the dark mode there, it is likely to be included in 5.

[2020-11-18 22:28] westonruter commented on #3821
Currently your screenshot shows that the validation error text would be like:

![image](https://user-images.githubusercontent.com/134745/99595572-d2561200-29a9-11eb-8a16-9061348bafa8.png)

But this is not the title for this error type. I mean, “kept” is not part of the string. The string returned would be:

So then each error will need to have something appended to it to indicate the removed/kept

[2020-11-18 23:27] archon810 opened #5609 "AMP WP 2.0.6 breaks site due to PHP Fatal error: Uncaught OutOfBoundsException: Package "sentry/sentry" is not installed in [...]/wp-content/plugins/amp/vendor/composer/InstalledVersions.php:209"
## Bug Description

[code]

## Expected Behaviour

AMP works.

## Steps to reproduce

1. Update from 2.0.5 to 2.0.6 - site breaks due to above error.

## Additional context

 - WordPress version: 5.4.3
 - Plugin version: 2.0.6
 - AMP plugin template mode: Transitional
 - PHP version: 7.4
 - OS: Linux

---------------

_Do not alter or remove anything below. The following sections will be managed b

[2020-11-19 02:26] dikeii commented on #2204
@westonruter thanks it works perfectly

[2020-11-19 08:39] naveen17797 opened #5611 "The 16/9 ratio chosen as constant for featured image is not ideal for generating the other two resolutions ( 1x1, 4x3 )"
## Bug Description

The minimum featured image size ratio is set to 16 x 9 in the block editor warning which is not correct for generating other two resolution images.

[code]

For example if we chose the 16 / 9 ratio, we would have image with dimensions 1200 x 675. To generate the 1 x 1 ratio from this ratio we need to stretch the image to obtain 1200 px on height, which would lead to poor qualit

[2020-11-19 18:01] westonruter commented on #2649
@schlessera and @pierlon have started digging into this due to #5609, where the upgrade to Composer v2 started to break site(s) that are assembled with Composer.

[2020-11-19 19:09] westonruter commented on #5611
The 16/9 ratio comes from Google Search's documentation for Article structured data: https://developers.google.com/search/docs/data-types/article

Images should be at least 1200 wide. So if you supply a featured image that is 1200x1200 then this will satisfy the check, no?

It's not only about the ratio: it's about the resolution.

[2020-11-19 19:15] ziodave commented on #5611
Exactly, editors are confused because they are tricked into believing that 1.200x675 is the viable requirement whereas Google recommends to provide 3 ratios: 1x1, 4x3 and 16x9; minimum width 1.200; minimum surface 800k pixels.

Which means that 1.200x1.200 is the minimum viable requirement.

And we can use the source image minimum 1.200x1.200 to create the 16x9 and 4x3 versions in WordPress as per

[2020-11-19 19:22] westonruter commented on #5611
I don't understand. 1200x675 _is_ a 16/9 aspect ratio. How is it not viable? This selected image's `full` size s is used by the plugin in the Schema.org metadata:

https://github.com/ampproject/amp-wp/blob/06c9b9531874174facfa805cad683c73617360a8/includes/amp-helper-functions.php#L1651-L1660

[2020-11-19 20:04] ziodave commented on #5611
Sorry, let me explain better. These are the relevant Google requirements for AMP Articles [1]:

- Images should be at least 1200 pixels wide
- For best results, provide multiple high-resolution images (minimum of 800,000 pixels when multiplying width and height) with the following aspect ratios: 16x9, 4x3, and 1x1.
- (omissis)

These are the examples [2]:

Example 1, 2:
[code]

Example 3:

[code]

[2020-11-19 20:32] pierlon commented on #5609
Posting my analysis from Slack:

And from @schlessera:

[2020-11-19 23:12] westonruter commented on #5609
Closing as fixed in 2.0.7 in https://github.com/ampproject/amp-wp/pull/5610. We'll revisit upgrading to Composer v2 in AMP plugin 2.1+.

[2020-11-19 23:12] #5609 closed, assigned to nobody

[2020-11-20 00:42] westonruter commented on #5611
So on your site you want to add all three aspect ratios even though the AMP plugin currently only provides one, and you are generating the other aspect ratios via `add_image_size()`? You're then supplying those via the `amp_schemaorg_metadata` filter, or by means of your own Schema.org metadata? And to support this, you need authors to upload images that are at least 1200x1200?

[2020-11-20 07:23] coolrecep opened #5615 "Filter for "amp_is_enabled" added too late."
## Bug Description

This error appears on WP admin panel after updating to 2.0.7 in WP debug mode:

Notice: add_filter hatalı çağırıldı. Filter for "amp_is_enabled" added too late. To disable AMP, this filter must be added before the "plugins_loaded" action. Daha fazla bilgi için lütfen WordPress hata ayıklama adresine bakın. (Bu mesaj 2.0 sürümünde eklendi.) in /home/technopa/public_html/wp-inclu

[2020-11-20 08:52] ziodave commented on #5611
Correct. IMO the AMP plugin should provide the 3 image sizes (1.200x1.200, 1.200x900 and 1.200x675).

Own Schema.org metadata. But it should apply to the AMP SD as well.

Correct.

--
As I see this as a general AMP Article requirement [1] I think that the minimum requirement should be set to 1200x1200 and that amp-wp itself will provide the recommended image sizes.

There are guidelines for images

[2020-11-20 11:19] mainframeai opened #5616 "amp-base-carousel loop="true" doesnt work"
Hello Team… 

I can't get the amp-base-carousel  to work. The AMP-Plugin keeps deleting loop="true" as an argument....

Element attributes:
id: carousela
loop
class: col-12 max-width-6
layout: responsive
width: 4
height: 2
snap-align: center
visible-count: 1

[2020-11-20 11:25] mainframeai commented on #5616
The source code in the template is like:

` <amp-base-carousel id="carousela"   class="col-12 max-width-6 border" layout="responsive" width="4" height="2" snap-align="center"  visible-count="1" loop="true" >`

[2020-11-20 12:04] jamesozzie commented on #5616
If you open the [amp-carousel playground](https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fcomponents%2Famp-carousel.example.1.html%3Fformat%3Dwebsites&format=websites) and paste in the below content you'll find a working example with a loop. Without knowing your full markup the loop doesn't function if the number of slides is less than 3 times the visible count:

[c

[2020-11-20 12:15] mainframeai commented on #5616
Yes you are absolutely right. This was not the plugin. This was my amp-base-carousel itself. I deactivated the amp-plugin and there was just the loop attribute left without any associated value.

There are 5 Slides in the Carousel though.

[2020-11-20 12:16] mainframeai commented on #5616
This was just (again) my own stupidity. :) I am sorry to have bothered you … thanks @jamesozzie

[2020-11-20 12:16] #5616 closed, assigned to jamesozzie

[2020-11-20 12:18] jamesozzie commented on #5616
@mainframeai No problem at all, I checked the plugin myself, the `loop="true"` attribute remains. But glad to hear you found a solution.

Be sure to also share your [thoughts on the plugin](https://wordpress.org/support/plugin/google-site-kit/reviews/#new-post), we'd love to hear your feedback. Or if you're developing sites with the plugin submit [them for consideration](https://docs.google.com/fo

[2020-11-20 12:58] jamesozzie commented on #5615
To try and determine if it's a theme or plugin is calling `amp_is_enabled` too late can you install the [Health Check & Troubleshooting](https://wordpress.org/plugins/health-check/) plugin?

When you enable the plugins "Troubleshooting" mode it will switch to a core WordPress theme and deactivate all plugins for you only, as a logged in administrator. You can then activate the amp plugin while in

[2020-11-20 18:30] jwold commented on #3821
1. Showing previously reviewed errors: We may want to move the `Include previously reviewed errors` to the bottom of the list. Since it's something that is inherently not as needed, moving it out of the way allows users to focus first on the un-reviewed items. Screenshot: https://d.pr/i/nAJDb6

2. Highlighting previously reviewed errors with a different color: Makes sense to try adding the red/ora

[2020-11-21 06:37] westonruter commented on #3821
Reviewed errors have _no_ highlight. If something is un-reviewed, then it gets the same red/orange styling as non-reviewed.

Perhaps so. But if the reviewed errors are moved to the bottom then the errors won't appear in the order that they occur in the document.

Also, if the checkbox is moved down, then when checked would the reviewed errors appear _after_ the checkbox, with the unreviewed errors

[2020-11-21 19:12] coolrecep commented on #5615
This is the result in Troubleshooting mode with all the 3rd party themes and plugins disabled.

`Notice: add_filter hatalı çağırıldı. Filter for "amp_is_enabled" added too late. To disable AMP, this filter must be added before the "plugins_loaded" action. Daha fazla bilgi için lütfen WordPress hata ayıklama adresine bakın. (Bu mesaj 2.0 sürümünde eklendi.) in /home/technopa/public_html/wp-includes

[2020-11-21 21:32] coolrecep commented on #5615
Found the culprit: TagDiv Mobile Theme

https://github.com/phanthanhgit/kungfuweb/blob/982e9108912dc6aa240899bd30d7a8fcc8eadd06/wp-content/plugins/td-mobile-plugin/td_mobile_theme.php#L288-L293

[2020-11-21 22:36] westonruter commented on #5615
Good find. I also identified TagDiv Mobile Theme as being the cause in a support topic: https://wordpress.org/support/topic/issue-with-amp-added-too-late/

We should help facilitate this in the same way we did for calling `is_amp_endpoint()` too early. We did this in #5289. I've also used that logic in #5558 to identify the theme/plugin responsible for adding a custom URL structure.

[2020-11-22 00:27] coolrecep commented on #5615
After being told that TagDiv themes cause the isseue, I disbaled TagDiv Mobile Theme and the issue was fixed. After that I found the thread with your reply and pasted here. Credit is yours. Thanks.

[2020-11-22 04:42] pierlon commented on #5423
At the moment (as far as I know), it's not possible to fetch the user's preference from `localStorage` and update the `body` element with the necessary classes to enable dark mode (see https://github.com/ampproject/amphtml/issues/20951). I also was looking into the possibility of using cookies instead to save the state, but that does not seem not to be possible in AMP either: https://github.com/am

[2020-11-22 06:30] westonruter commented on #5611
The problem is that automatic crops are often poor. If the photo is a picture of a person, for example, a 1200x1200 photo could result in a 1200x900 crop that cuts out the person's eyes and mouth. This is why we do not automatically provide the other automatic aspect ratios in the AMP plugin.

[2020-11-22 15:00] ziodave commented on #5611
Yes, it adds complexity. Maybe we can split the issue in 2 parts:

1. Allow 3rd parties to change the minimum image size requirements using a WP filter, so that we can still set the requirement to 1.200x1.200 if it fits the web site editorial workflow.
1. Define a workflow for the generation of the 4x3 and 16x9 versions, starting from the default (centered) based on the guidelines below and which

[2020-11-22 21:02] Camilo517 commented on #4997
Also the queries, I don't understand why when visiting /wp-admin/plugins.php the "amp" plugin makes 5 queries
http://prntscr.com/vnzrek

[2020-11-23 04:12] westonruter commented on #4997
@Camilo517 These queries are related to AMP Developer Tools being enabled in your user profile. They are used to populate the AMP admin menu, namely the Validated URLs and Error Index menu items.

[2020-11-23 14:17] jwold commented on #3821
Agreed. So we'd want to add the styling to the un-reviewed.

What I had in mind was a bit different.

1. Move the `checkbox` to the bottom, but don't change anything else.
2. Reviewed errors appear/disappear in the order in which they appear on the page, the checkbox is just always below that.

[2020-11-23 18:19] rickalee opened #5619 "CSS Tree Shaking for Admin Bar Classes/IDs"
## Bug Description

Hover states for our custom admin bar menu are getting tree shaked from frontend.

CSS getting removed by AMP which we need:
#wpadminbar #wp-admin-bar-distributor.hover>.ab-sub-wrapper

Is there a way to opt out enqueued stylesheet by handle from being tree shaked or ensure that all #wpadminbar styles don't get skipped?

[2020-11-23 19:14] westonruter commented on #5619
Yes, you can use the same approach as documented in my post: [Integrating with AMP Dev Mode in WordPress](https://weston.ruter.net/2019/09/24/integrating-with-amp-dev-mode-in-wordpress/). Instead of filtering `script_loader_tag`, use the `style_loader_tag` filter like so:

[code]

See an example of this being done in Site Kit: https://github.com/google/site-kit-wp/blob/b57115f8a1e0b4701351521066da

[2020-11-23 19:14] #5619 closed, assigned to nobody

[2020-11-23 19:38] westonruter commented on #3821
A problem with this is content shifting. Toggling the checkbox would cause the vertical position of the checkbox to change.

[2020-11-23 19:41] westonruter commented on #5611
Adding a filter to customize the minimum required dimensions seems plausible to me.

Adding a workflow to art-direct the crops for the other ratios would be out of scope for the AMP plugin, I think.

[2020-11-23 19:49] #5307 closed, assigned to schlessera

[2020-11-24 09:30] naveen17797 commented on #5611
I think adding the filter on the server side would be good than adding it via js hooks, i would be happy to provide a PR when you make the decision.

[2020-11-24 17:23] #4562 closed, assigned to nobody

[2020-11-24 17:26] #4822 closed, assigned to nobody

[2020-11-24 17:32] westonruter commented on #4071
This makes sense to address as part of #3875 when extracting sanitization/validation logic to amp-toolbox-php.

[2020-11-24 17:35] westonruter commented on #3393
I'm going to close this for now since the issue is no longer relevant. When AMP Stories were in the AMP plugin it was an issue because we stored stories in post content and rendered stories via `the_content()`. This, however, is no longer done in the Web Stories, so there is much less opportunity (or none) for plugins to corrupt `the_content` to cause an `amp-story` to fail in such a dramatic way.

[2020-11-24 17:35] #3393 closed

[2020-11-24 17:37] westonruter commented on #3287
We should make sure that any related WordPress core issues related to autoloaded options don't cause headaches here. I recall at a time that there was a bug in core where multiple updates to an autoloaded option could cause some updates to be lost. If this issue is still current, then it will be a problem for the AMP plugin since `amp-options` stores multiple settings that could receive more than

[2020-11-24 18:51] pierlon commented on #1011
Closing this issue as the AMP status toggle is no longer being rendered. The reason for why it was being previously rendered is because we are now verifying that a post type [is eligible for AMP](https://github.com/ampproject/amp-wp/blob/0f7a3a93e33d30fe3810e0850d892fa8d35acf1f/includes/admin/class-amp-post-meta-box.php#L305), where previously we were only checking if a post type [is viewable](htt

[2020-11-24 18:51] #1011 closed

[2020-11-25 10:27] jenkoian opened #5627 "Unexpected error when saving a post in the block editor"
## Bug Description

When using the block editor, upon saving a post the user is confronted with the following error screen:

![Screenshot 2020-11-25 at 10 18 33](https://user-images.githubusercontent.com/131355/100214263-966e0000-2f07-11eb-94ca-62b7b2baf65f.png)

The error contained within is thus:

[code]

There are some console errors too:

[code]

and...

[code]

Not sure if relevant but notice

[2020-11-25 10:57] jenkoian commented on #5627
Bit more context to this, I've discovered the reason it's only doing it in production is because of a redirect set up that redirects any url without a trailing slash to the trailing slash equivalent, this is done at a server level. Verified by adding the same redirect rule to staging and now getting the same error.

I can hopefully fix this by amending the rule to only affect the front end so can

[2020-11-25 19:52] westonruter commented on #5627
Good that you can now reproduce the issue on a non-production environment.

Could you try with this dev build from the 2.0 branch? https://storage.googleapis.com/ampwp_github_artifacts/refs/heads/2.0/dev/amp.zip

This will have non-minified scripts so clicking to show where the error is coming from in the sources panel should show you the relevant line in the AMP plugin code.

[2020-11-26 01:17] pierlon commented on #5627
Seems the only usage of `removeChild` in `amp-block-editor.js` is:

https://github.com/ampproject/amp-wp/blob/226d951730b8844fb30e399e98791a128bdf52ef/assets/src/block-editor/plugins/wrapped-amp-preview-button.js#L57

So the error seems to related to the AMP Preview button.

[2020-11-26 01:46] westonruter commented on #5627
@jenkoian what version of Gutenberg are you using? Or are you using Gutenberg Ramp without Gutenberg?

[2020-11-26 10:08] jenkoian commented on #5627
Thanks, I'll try out the branch later on today. Not using any specific version of Gutenberg just what's shipped with the version of core (5.5.1 and reproduced on 5.5.3) but yes with Gutenberg Ramp (not sure I've understood the question correctly?).

Just a note that if I remove the trailing slash redirect from API calls (e.g. anything beginning with `wp-json`) then I do not get the error.

[2020-11-26 14:38] ziodave commented on #5611
Ok, so we could add a [wp.hooks](https://developer.wordpress.org/block-editor/packages/packages-hooks/#api-usage) call here:

https://github.com/ampproject/amp-wp/blob/7460a0e32e33172ef5c42b4a6a24dcb38dfbe970/assets/src/common/helpers/index.js#L62

Something like:
[code]

@westonruter @naveen17797 does it make sense?

[2020-11-26 16:37] jenkoian commented on #5627
@westonruter I can't seem to reproduce locally even with the redirect, I should mention we're on WPEngine for staging and production, so unless it's something unique to how redirects are set up on their platform I'm unsure how to proceed here.

As mentioned I've fixed it by removing the redirect from urls prefixed with `wp-json` so feel free to close this if you want.

[2020-11-27 16:59] theGreaterBayArea opened #5630 "Avada+WooCommerce theme,main menu+footer menu are unresponsive,help !"
Avada+WooCommerce theme,main menu+footer menu are unresponsive,help !
![Screenshot_2020-11-28-00-53-09-136_com android chrome](https://user-images.githubusercontent.com/5503064/100471253-e4a41e80-3114-11eb-8245-cc0460b2087c.jpg)
![Screenshot_2020-11-28-00-53-15-306_com android chrome](https://user-images.githubusercontent.com/5503064/100471282-f08fe080-3114-11eb-9b7c-0096cccb761b.jpg)

[2020-11-27 17:00] theGreaterBayArea commented on #5630
Avada+WooCommerce theme,main menu+footer menu are unresponsive,help !

[2020-11-27 17:22] milindmore22 commented on #5630
There may be some features of WooCommerce that are not fully AMP compatible although most aspects should work as expected.

You may need to configure [redirection](https://imgur.com/wvms46N.png) for any item added to the cart and apply a workaround for some features such as the gallery, but overall most aspects should work fine.
Please note that your theme may override WooCommerce templates also Y

[2020-11-27 17:22] #5630 closed, assigned to nobody

[2020-11-27 23:09] joshm33333 opened #5633 "how to remove canonical from all pages"
literally spent the last 5 hours looking for anything about this to no avail

how to i remove <link rel="canonical" ... from all pages and posts in standard mode

some things ive tried

remove_action('wp_head', 'amp_add_amphtml_link');
remove_action( 'wp_head', 'amp_add_generator_metadata' );
remove_action( 'wp_head', 'amp_post_template_add_canonical' );
remove_action('amp_post_template_head', 'am

[2020-11-28 00:06] pierlon commented on #5633
Is there any particular reason for removing the `canonical` link? It is a requirement for having a valid AMP page, per the [docs](https://amp.dev/documentation/guides-and-tutorials/learn/spec/amphtml/#required-markup).

[2020-11-28 01:12] joshm33333 commented on #5633
**Edited:**
I want to create two separate pages, one AMP and one normal, the same way transitional mode does it, except I want to explicitly design each page (with javascript turned off it looks terrible). Since the plugin doesn't offer any built in way to do this, I was hoping to just make two pages and modify the canonical urls.

[2020-11-29 10:54] schlessera commented on #4215
This was fixed via https://github.com/ampproject/amp-wp/issues/4215. The two libraries were merged into one separate package at https://github.com/ampproject/amp-toolbox-php.

[2020-11-29 10:54] #4215 closed

[2020-11-30 10:55] swissspidy commented on #5611
I would probably simply add the filter on the PHP side, not using `wp.hooks`. Just my 2 cents :)

[2020-11-30 11:04] ziodave commented on #5611
@swissspidy I couldn't spot it in the PHP side: the 16:9 ratio seems to be hardcoded in JavaScript - `const height = width * ( 9 / 16 );`. Can you point us to the code in PHP?

[2020-11-30 11:08] swissspidy commented on #5611
@ziodave There isn't. I was merely suggesting adding `apply_filters()` in PHP rather than `wp.hooks.applyFilters()` in JavaScript

[2020-11-30 11:16] ziodave commented on #5611
Ah gotcha, so we should:

1. move this `MINIMUM_FEATURED_IMAGE_WIDTH` from constants.js to the PHP side
1. add a `MINIMUM_FEATURED_IMAGE_RATIO` constant
1. a PHP filter such as
[code]
1. export them to the edit post screen using `wp_localize_script`
1. update `getMinimumFeaturedImageDimensions` to use the settings provided by `wp_localize_script`

Does it sound right?

[2020-11-30 13:20] BatLozano opened #5634 "amp_post_template_css not called"
## Bug Description

Action "amp_post_template_css" never called

## Expected Behaviour
This code is not called anymore
function a4aff_wp_enqueue_style_amp() {
	die("here");
}
add_action( 'amp_post_template_css', 'a4aff_wp_enqueue_style_amp', 11 );

[2020-11-30 13:23] swissspidy commented on #5634
The `amp_post_template_css` is only used in the legacy Reader mode templates, and is not available in other modes.

See https://amp-wp.org/documentation/how-the-plugin-works/amp-and-css/#adding-css-to-your-amp-urls for how to add CSS for your AMP templates.

[2020-11-30 18:36] #5634 closed, assigned to nobody

[2020-11-30 20:23] milindmore22 commented on #5633
You may find [this](https://gist.github.com/westonruter/56e96c7a9eacf51d0db256b00c46f002) plugin useful, which adds substitutionary content from the`private child page`.
The installation and usage instructions are also mentioned in the same gist

Usage.
1) Create Child Page for an existing page
2) Prefix it with `AMP:`
3) Mark it as `Private`
4) it will serve content from a private page when the r

[2020-11-30 21:03] johnwatkins0 opened #5636 "Remove obsolete NPM dev dependencies"
## Feature description

I think there are few dev dependencies in package.json that are not used directly in the plugin. Removing them would save dependabot work and may slightly improve build times. A little investigation might be needed to determine which are not being used.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

##

[2020-12-02 04:09] westonruter commented on #5611
Yes, that sounds right. However, I'd recommend using `wp_add_inline_script()` (with `wp_json_encode()`) rather than `wp_localize_script()` since the latter casts values to strings.

Also, should the filtered value not be `width` and `height` instead of `width` and `ratio`?

Maybe the filtered value should be an array with just two numbers:

[code]

[2020-12-02 06:29] westonruter commented on #5627
It would still be good to identify why this specifically was causing an error.

Can you share the specific redirect logic you had put in place?

[2020-12-02 10:23] jenkoian commented on #5627
Sure.

Previous redirect logic where the problem was occurring:

`^([^.]*[^/])$ => https://www.hostname.com$1/`

Updated redirect logic that fixed the problem:

`^(?!\/wp-json\/)([^.]*[^/])$ => https://www.hostname.com$1/`

I set this up in nginx on my local setup with the following:

`rewrite ^([^.]*[^/])$ $1/ permanent;`
`rewrite ^(?!\/wp-json\/)([^.]*[^/])$ $1/ permanent;`

However, I couldn't

[2020-12-02 10:38] ziodave commented on #5611
@naveen17797 I think we have enough specs to contribute here.

[2020-12-02 17:51] joshm33333 commented on #5633
**EDIT: Problem Possibly Resolved**
I may have just needed to lower the priority at which I called the hook. EG:
[code]

This seems to be working. Have to wait a few days to see if Search Console likes it. I will update this post when I know.
Leaving everything below for interests sake.

Thanks so much for the help!

**UPDATE:**
Search Console is happy, filtering get_canonical_url works. Clearly m

[2020-12-03 05:51] naveen17797 commented on #5611
yes, i am working on it.

[2020-12-03 11:17] naveen17797 commented on #5611
when i try to run tests with

`npm run test:php` as mentioned on the  [engineering guidelines](https://github.com/ampproject/amp-wp/wiki/Engineering-Guidelines) i get phpunit does not exist error.

when i checked package.json. it seems to be using globally installed phpunit

`    "test:php": "phpunit",`

but i also found phpunit in vendor directory after installing dependencies with composer.

Wha

[2020-12-03 11:19] swissspidy commented on #5611
You should be able to run them using `vendor/bin/phpunit`

[2020-12-03 20:08] westonruter commented on #5611
Yes, I noticed this as well. I have this fixed in the branch I'm currently working on (#5558):

https://github.com/ampproject/amp-wp/blob/517c2802bf6b03f0879960a428ae3d2f4f486540/package.json#L141

[2020-12-03 20:09] pierlon commented on #5611
The Engineering Guidelines will also have to be reviewed and updated.

[2020-12-04 13:20] priethor opened #5658 "Maximum font size not working with Heading block"
## Bug Description

The maximum font size settings set to a Heading block are not applied

## Expected Behaviour

When browsing the edited page from a mobile device, the text should fit in the screen, with a font size smaller than the maximum specified in the AMP settings.

## Steps to reproduce

1. Select a Heading block
2. Enable AMP Settings
3. Set a max font size smaller than the normal font s

[2020-12-04 16:23] johnwatkins0 commented on #2069
@westonruter After #5515 is merged, synchronous loopback requests will be eliminated for users with dev tools turned off. They'll still exist for users with dev tools turned on. Just wanted to confirm with you that we should still go forward with this, correct?

I think it will be fairly straightforward to create the REST endpoint and send a JS fetch request after post save in the editor. I think

[2020-12-04 16:28] westonruter commented on #2069
Synchronous loopback requests are already turned off for users who have DevTools turned off, no? No validation happens at all when a user has DevTools turned off.

And yes, for the moment users with DevTools enabled will continue to have synchronous validation being performed. To make validation asynchronous, I think we need to first address the concern of relying on the block index position in th

[2020-12-04 16:35] johnwatkins0 commented on #2069
I'm going to test out a UUID idea on the editor sidebar branch and will follow up. I have had some bugginess on that branch with posts with a lot of blocks. The index is sometimes off.

[2020-12-04 19:59] westonruter commented on #5658
Are you referring to the “Automatically fit text to container” setting, like:

If so, we're actually planning on deprecate and remove this feature due to it not currently working on non-AMP pages and also that it is too low-level. It's more relevant when the text is programmatically supplied rather than being manually entered. See https://github.com/ampproject/amp-wp/issues/4557#issuecomment-72653

[2020-12-07 08:23] priethor commented on #5658
Yes, that's the one I was referring to.

[2020-12-07 19:41] westonruter commented on #5658
OK, please disregard that feature for now. We'll be deprecating/removing it.

[2020-12-07 19:41] westonruter commented on #4557
Turns out the feature is broken now anyway per #5658.

[2020-12-07 19:44] westonruter commented on #5658
Closing in favor of #4557.

[2020-12-07 19:44] #5658 closed, assigned to nobody

[2020-12-08 17:28] westonruter commented on #4597
Dependency for #1401.

[2020-12-08 17:31] #1845 closed

[2020-12-08 17:38] westonruter commented on #2317
Update on this based on our meeting:

1. While we currently show a notice to use Site Kit if the user tries to enter `googleanalytics` or `gtag` as a entry type (https://github.com/ampproject/amp-wp/pull/5200), we should proactively show the notice up front if Site Kit is active as well. This will avoid the need for the user to discover the notice by typing in the vendor.
2. We should start showin

[2020-12-08 17:52] westonruter opened #5671 "Introduce AMP notification center for action items"
## Feature description

There is a need for a unified way to surface action items for site admins to take in relation to a site's AMP status:

1. With ongoing site scanning for themes and plugins (#4795 and #4719), validation errors will be discovered which necessitate a user to review. Actions include suppressing the offending plugins, switching to a different plugin/theme, reporting the issue to

[2020-12-09 04:40] westonruter commented on #2069
Once this is implemented along with the plugin sidebar (#5589), then we can default to enabling DevTools for administrators regardless of template mode. This will revert part of #5333, specifically `$enabled` will by `true` by default here:

https://github.com/ampproject/amp-wp/blob/20284e495b99d468e7ebf5e9c91c1f3c152b3f94/src/Admin/DevToolsUserAccess.php#L80-L81

We disable DevTools by default in

[2020-12-09 04:51] westonruter opened #5678 "Use core theme as default Reader theme if installed (as opposed to legacy)"
## Feature description

When the AMP plugin is activated and a core theme (or another AMP-compatible theme) is active, the AMP plugin defaults to Transitional mode since the theme is AMP-compatible:

https://github.com/ampproject/amp-wp/blob/85f53e68341b784da35b3bd2661cdbbdf6f20f63/includes/options/class-amp-options-manager.php#L105-L122

When the active theme is not AMP-compatible, then the plugi

[2020-12-09 04:56] westonruter commented on #5678
Related to #1384 which is about defaulting to Standard mode when the theme and plugins are all AMP-compatible. That issue was also originally about defaulting to Transitional mode when the theme is AMP-compatible, but that is now implemented.

[2020-12-09 05:09] westonruter opened #5679 "Incorporate AMP Page Experience Guide"
## Feature description

There is an [AMP Page Experience Guide](https://amp.dev/page-experience/) which analyzes an AMP page for opportunities for page experience improvements. The AMP plugin should be able to invoke the tests remotely and then surface the results inside of WordPress to then provide site-specific recommendations for how to resolve the issues. For example, if issues are reported fo

[2020-12-09 06:11] westonruter commented on #5633
Closing as I believe this was resolved with https://github.com/ampproject/amp-wp/pull/5204#issuecomment-740156642.

[2020-12-09 06:11] #5633 closed, assigned to pierlon

[2020-12-09 06:22] westonruter commented on #1994
This is blocked by Bento AMP. We're currently in the process of deprecating/removing any AMP-specific functionality in the editor. We want to minimize/eliminate references to "AMP" since it is too low-level for authors. Also, anything that works in AMP should work in non-AMP.

I think this could probably be put into plugin territory.

[2020-12-09 06:24] #5423 closed, assigned to nobody

[2020-12-09 15:53] johnwatkins0 commented on #2069
Promised followup: I have persistent block UUIDs working on the sidebar branch, and still testing it out. We obviously want to avoid causing Gutenberg block validation errors if the AMP plugin is turned off, so I'm double checking everything.

[2020-12-09 19:39] westonruter commented on #2069
What about the issue of “polluting” block attributes with UUIDs? While most users won't notice this, anyone who uses the code editor would see a whole bunch of UUIDs all over the place, right?

[2020-12-09 19:57] johnwatkins0 commented on #2069
@westonruter That is exactly right.

<img width="500" alt="Screen Shot 2020-12-09 at 1 45 27 PM" src="https://user-images.githubusercontent.com/9020968/101679532-1bd3d300-3a25-11eb-90ff-def3f0476ade.png">

It does feel somewhat heavy handed to apply an override to every single block. Even though block order is currently unreliable, in working on the editor sidebar over several weeks I've only foun

[2020-12-09 21:12] westonruter commented on #2069
I think the client IDs are indeed the key here, but I think we don't even have to send them. What we need to know is what client IDs map to which block indices at the time of saving, right? That being the case, at the moment that a post is _initiating_ a save request (or for the initial editor load), we can capture an ordered list of the client IDs for the blocks in the content. After the save req

[2020-12-09 23:19] johnwatkins0 commented on #2069
@westonruter Yes, I think we'll definitely be able to make something like that work when we have the validation REST endpoint. So for now I'm going to remove this UUID experiment from the sidebar branch and will switch to this issue immediately following the sidebar, so that hopefully both can be in 2.1.

[2020-12-10 18:44] westonruter commented on #4838
WordPress 5.5 currently accounts for 45% of all active installs:

![image](https://user-images.githubusercontent.com/134745/101815642-ade6e480-3ad4-11eb-968c-57858dd515d0.png)

[2020-12-10 19:08] westonruter commented on #5166
Re-designating this in the UX workstream. As mentioned in https://github.com/ampproject/amp-wp/issues/2069#issuecomment-741522035 and as is being done in #5589 (related to #4668), I think the key for non-technical users is to surface the theme/plugins that are causing compatibility problems. That being the case, the digest I think should be a list of these components, in the same way that the bloc

[2020-12-10 19:16] westonruter commented on #3821
@johnwatkins0 @jwold I have a suggestion related to #4668 where the important thing for non-technical users is to highlight incompatible theme/plugins. For users with DevTools turned off, we should probably still show the AMP plugin sidebar to alert them of issues. However, listing all of the validation errors is probably too much information.

So here's an idea. When DevTools are turned off, vali

[2020-12-10 19:21] westonruter commented on #4668
As noted in https://github.com/ampproject/amp-wp/issues/3821#issuecomment-742736936:

This applies not only to the AMP plugin sidebar, but also to showing a digest in the admin bar (#5166). The list of incompatible themes/plugins would also probably be what is surfaced on the AMP settings screen resulting from cron validation (#1756), theme scanning (#4795) and plugin scanning (#4719). It may even

[2020-12-10 19:29] westonruter opened #5683 "Add PR check to require an assigned milestone prior to merging"
## Feature description

One of the suggestions in #2741 is:

This would not work so well for us because we'll have the next major milestone (x.y) along with the next minor milestone (x.y.z) that we need to decide between. Therefore, the most important thing is that a milestone needs to be specified. So a new check could be introduced that blocks merging of a PR until a milestone is assigned.

----

[2020-12-11 00:26] #5636 closed, assigned to pierlon

[2020-12-13 03:42] #4554 closed, assigned to westonruter

[2020-12-13 04:03] #4555 closed, assigned to westonruter

[2020-12-13 10:15] nabtron opened #5693 "amp-social-shares social-logos.eot file not found"
## Bug Description

The amp-wp plugin calls the file social-logos.eot in amp version of page without giving full path to the file and this leads to a file not found error on each page in logs

## Expected Behaviour

the path should be complete

## Steps to reproduce

wp: 5.6
php: 7.4
amp:2.0.8
jetpack: 9.2.1

[2020-12-13 17:41] westonruter commented on #5693
Please share the URL of an AMP page where this can be seen.

Are you testing in Internet Explorer?

[2020-12-14 19:10] westonruter commented on #4795
New [support topic](https://wordpress.org/support/topic/shortcodes-are-not-being-executed-in-amp-pages/) that would have been prevented by theme scanning. The user found that their shortcodes weren't working on AMP pages. It was because they selected a Reader theme and the shortcodes were defined in the active theme.

[2020-12-14 20:54] johnwatkins0 commented on #3821
@jwold Do you think you could mock something up for Weston's suggestion above? There is:

1) For non-technical users, the sidebar containing a list of themes and plugins causing AMP validation errors. Nothing else would be in the sidebar.
2) For technical users, a way to filter the errors list by theme/plugin.

I think this can potentially be done as a follow-up to this issue.

[2020-12-14 21:43] jwold commented on #3821
Will we want to also allow non-technical an option to see these errors if they wish? I realize that's not the intent with this work, but wondering if we want to enable that for the brave.

[2020-12-14 22:00] jwold opened #5697 "Show the themes and plugins that are causing AMP validation errors within the block editor sidebar"
## Feature description

This expands on our work in #3821 and relates to #4668.

Acceptance Criteria
* When users open the AMP sidebar within the Block Editor, they should be able to see a list of any themes and plugins that are causing validation errors.
* When DevTools are turned off this list should be the only thing that appears in the AMP sidebar
* When DevTools are turned on users should be

[2020-12-14 22:02] jwold commented on #5697
@westonruter and @johnwatkins0 I've created this new ticket for the discussion from: https://github.com/ampproject/amp-wp/issues/3821#issuecomment-742736936

[2020-12-14 22:31] jwold commented on #5697
Here's a first draft for what the interface could look like when logged in with DevTools turned *off*.

![Group 651](https://user-images.githubusercontent.com/3411173/102143548-f413af00-3e18-11eb-9eb4-267bc648edfa.png)

I'm not sure about when they're turned on. Any thoughts on how we might integrate the list with the current validation errors? Perhaps just walking through the proposed experience

[2020-12-14 22:51] jwold commented on #5166
Should we keep #5697 a separate issue, or merge the two? That feels like a sub-set of this one.

[2020-12-14 22:58] jwold opened #5698 "During onboarding I would like to see a list of Reader Mode themes based on recommended status"
## Feature description

Currently during onboarding Reader Mode, users are presented with a list of available themes based on reverse-chronological orders. This means they see the oldest themes first, such as the Twenty Eleven.

We'd like to revisit, and update the list to recommended:

Twenty Twenty
Twenty Twenty One*
Twenty Nineteen
Twenty Seventeen
Twenty Sixteen
Twenty Fifteen
Twenty Fourteen

[2020-12-14 22:58] jwold commented on #5698
cc @westonruter

[2020-12-14 23:00] westonruter commented on #5166
Yes, keep separate. This issue is specifically for exposing the information in the admin bar, whereas that issue is for exposing it in the block editor sidebar.

[2020-12-15 01:46] westonruter commented on #3821
I think there are three categories of users:

1. Admins with DevTools turned on: They would see the list of theme/plugins and the validation errors shown by default.
2. Admins with DevTools turned off: They would see the theme/plugins and then instead of the list of validation errors they'd see a button that could be clicked to reveal the errors.
3. Non-admins (or any user who is not eligible to e

[2020-12-15 01:58] westonruter commented on #5697
@jwold I was thinking of it basically augmenting what @johnwatkins0 has here in #5589:

<img width="400" alt="Screen Shot 2020-12-01 at 8 54 57 AM" src="https://user-images.githubusercontent.com/9020968/100756551-ea1e9480-33b2-11eb-8199-70851826cd7e.png">

Above the "Validation Errors" section there could be two new ones for "Incompatible Themes" and "Incompatible Plugins". Or rather, instead of "

[2020-12-15 13:17] ghostintranslation opened #5700 "Undefined index in OnboardingWizardSubmenu.php:64"
## Bug Description
In the admin, at the top of the page an error is showing "Undefined index" leading to `\Admin\OnboardingWizardSubmenu->Register()` in `/OnboardingWizardSubmenu.php:64`

The error seems to be cause by the fact that `add_submenu_page` wordpress function is called with an empty string in first argumenet, but that first argument is supposed to be the parent to which the submenu atta

[2020-12-15 14:54] milindmore22 commented on #5700
@ghostintranslation passing an empty string as parent_slug will hide the menu from top-level navigations. can you please share a complete stack trace of your error

[2020-12-15 15:13] ghostintranslation commented on #5700
@milindmore22

Here is 2 screenshots to show the whole stack I get:
<img width="1439" alt="wp-amp-undefined-index-1" src="https://user-images.githubusercontent.com/50341468/102233004-27604780-3ec6-11eb-80ed-573d56cd3ff7.png">
<img width="1438" alt="wp-amp-undefined-index-2" src="https://user-images.githubusercontent.com/50341468/102232997-26c7b100-3ec6-11eb-8f71-4a25c59248cd.png">

According to th

[2020-12-15 15:47] jwold commented on #5697
This captures most of what was outlined above, and in #3821.

<img width="808" alt="Screen Shot 2020-12-15 at 7 46 51 AM" src="https://user-images.githubusercontent.com/3411173/102237691-c62a7b00-3ea9-11eb-8ebf-554d1df226c8.png">

It's a bit clunky, but worth discussing.

[2020-12-15 16:06] milindmore22 commented on #5700
There seem to be another warnning "headers already sent", can you please share your site health information along with complete PHP debug log using [this](https://docs.google.com/forms/d/1JTQmphDlk9YgHpDoFRbHXpkDqv8-QmzTT7MDR4AstyQ/) form so we can investigate it further.

[2020-12-15 16:09] westonruter commented on #5700
The headers already sent error I think is just a byproduct of displaying errors.

[2020-12-15 16:41] westonruter commented on #5700
Nevertheless, please do share the Site Health info as there may be a plugin conflict that is causing this issue. If you can deactivate other plugins to isolate any conflict that would be helpful.

[2020-12-15 17:45] westonruter commented on #5700
@ghostintranslation What version of PHP are you running?

[2020-12-15 18:08] westonruter commented on #5697
I feel good about the iterations on this as discussed over VC.

[2020-12-15 19:38] ghostintranslation commented on #5700
- I deactivated all plugins and still getting the warnings
- PHP is 7.2.24

Here is a screenshot of the site health:
<img width="757" alt="site-health" src="https://user-images.githubusercontent.com/50341468/102264072-81273880-3eeb-11eb-9bb7-e6ffcd6b5ca6.png">

[2020-12-15 23:15] westonruter commented on #5700
I can reproduce the issue in WordPress 5.3.0. I cannot reproduce it in WordPress 5.3.1, however. This was a core bug that was fixed. See https://core.trac.wordpress.org/ticket/48599

So please update to the latest on the 5.3 branch (currently 5.3.4), or better update to 5.6.

[2020-12-15 23:15] #5700 closed, assigned to nobody

[2020-12-16 05:03] #5611 closed, assigned to nobody

[2020-12-16 12:43] ghostintranslation commented on #5700
@westonruter It does work now that I have updated to 5.6 .
Thanks

[2020-12-16 14:52] johnwatkins0 opened #5701 "Add PHPUnit test workflow for multisite"
## Feature description

Some relatively recent additions to the plugin have involved small customizations related to multisite environments ([example](https://github.com/ampproject/amp-wp/blob/5ee474c9de85de8a15494669f92e926b45755ddb/src/BackgroundTask/CronBasedBackgroundTask.php#L103)). Currently we only run PHPUnit tests in single-site environments, so there's no easy way to write tests for thes

[2020-12-16 17:47] westonruter commented on #4566
@schlessera as part of your work, please make sure that there's a way to look up a spec by `spec_name` (see #4597). For example, a validation error object should store the `spec_name`(s) for the validator spec that it violates. The UI should then be able to look up that validator spec to provide additional information about the rule, including most importantly the `spec_url` associated with the ru

[2020-12-16 17:48] westonruter commented on #1401
Closing that in favor of #4566.

[2020-12-17 08:30] jagadeesh2425 opened #5706 "Elementor Popup not working after installing AMP."
For general, technical and product help requests, please post it on the [AMP Plugin support forum](https://wordpress.org/support/plugin/amp/). Support will not be provided on GitHub.

Thank you!

[2020-12-17 08:35] jagadeesh2425 commented on #5706
I have Elementor Pro in my website. I used popup. I installed AMP and activated Standard mode. After that Elementor popup is not working.
Can you please help me about this.

[2020-12-17 12:40] milindmore22 commented on #5706
@jagadeesh2425 Please create a support topic [here](https://wordpress.org/support/plugin/amp/#new-topic-0)
The Elementor plugin is not fully AMP compatible so some features may not work, our [FAQ](https://amp-wp.org/documentation/frequently-asked-questions/) has more info on it.

[2020-12-17 12:40] #5706 closed, assigned to nobody

[2020-12-17 22:39] westonruter commented on #5693
@nabtron please advise

[2020-12-18 00:53] pierlon commented on #5611
**QA passed**

- The minimum featured image default width is still 1200px and height 675 pixels:

    Document Sidebar | Media Library
    ---|---
    ![image](https://user-images.githubusercontent.com/16200219/102557909-272d9b00-40c4-11eb-8f32-c11b38f4c3a1.png) | ![image](https://user-images.githubusercontent.com/16200219/102558831-41687880-40c6-11eb-827f-7e4b5f472f6d.png)

- Filtering only the m

[2020-12-18 04:45] jagadeesh2425 commented on #5706
Thanks for the Reply.
 I choosed Reader mode or Transitional mode in AMP. GTM not firing in Desktop versions.It is firing in Mobile Versions only. Can you please guide me about this.

[2020-12-18 05:01] westonruter commented on #5706
@jagadeesh2425 please open a topic in the support forum: https://wordpress.org/support/plugin/amp/#new-topic-0

[2020-12-20 10:27] swissspidy opened #5719 "Twenty Twenty: Mobile Menu does not close when tapping on anchor links"
## Bug Description

I use AMP + Twenty Twenty on a one-page landing page, with the nav menu containing anchor links to the individual sections on that page.

When I click on such a link in the mobile menu, it scrolls to that section, but the menu doesn't close. So as a user I don't see that anything is actually happening.

In the non-AMP version of Twenty Twenty this works as expected.

## Expecte

[2020-12-20 20:02] westonruter commented on #5719
Good find. This is probably an issue with _every_ core theme that has a mobile menu modal.

This is the non-AMP behavior (_shoot_, I don't have video upload yet enabled for this repo!):

https://youtu.be/_8CZwMjEu_U

And the AMP behavior:

https://youtu.be/r8B-23CYWx4

There are two problems with the AMP version:

* When the anchor link is clicked, the page is scrolling down while the menu is open

[2020-12-21 00:27] westonruter opened #5721 "Featured image in Twenty Twenty-One causes validation error for loading=eager"
## Bug Description

In Twenty Twenty-One, there is a [`twenty_twenty_one_post_thumbnail()`](https://github.com/WordPress/wordpress-develop/blob/00dd0ba3b0a2773af024fafe42d7bb0ab4d58f25/src/wp-content/themes/twentytwentyone/inc/template-tags.php#L172-L215) function which contains:

[code]

This is causing a `DISALLOWED_ATTR` validation error:

![validation-error](https://user-images.githubuserconte

[2020-12-21 00:34] westonruter commented on #5721
Here is a workaround mini plugin that suppresses the `loading=eager` attribute from Twenty Twenty-One while waiting for this fix to land in a release: https://gist.github.com/westonruter/e019e53d4e34235907138eae31897e46

[2020-12-21 00:46] westonruter commented on #5721
@schlessera Should `\AmpProject\Optimizer\Transformer\PreloadHeroImage::generateImg()` be adding `loading=eager` when it adds the `data-hero` and `i-amphtml-ssr` attributes? It turns out that this is valid (see [playground example](https://playground.amp.dev/#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIGFtcCBpLWFtcGh0bWwtbGF5b3V0IGktYW1waHRtbC1uby1ib2lsZXJwbGF0ZSB0cmFuc2Zvcm1lZD0ic2VsZjt2PTEiPgo8aGVhZD4KIC

[2020-12-21 00:47] westonruter commented on #5721
See also [these paragraphs](https://make.wordpress.org/core/2020/07/14/lazy-loading-images-in-5-5/#highlighter_166425:~:text=Theme%20developers%20are%20recommended%20to%20granularly%20handle) from @felixarntz:

<blockquote>
<p><strong>Theme developers are recommended to granularly handle <code>loading</code> attributes for images anytime they rely on <code>wp_get_attachment_image()</code> or anoth

[2020-12-21 14:42] felixarntz commented on #5721
@westonruter Thanks for catching that, opened an upstream bug: https://core.trac.wordpress.org/ticket/52139

[2020-12-21 18:44] pewgeuges opened #5913 "support Element.classList.add and Element.classList.remove"
The lean implementation of styled tooltips requires to add and remove classes for the shown and hidden status.

[2020-12-21 19:35] chvillanuevap commented on #4191
Hey guys it's going to be almost a year since I opened this ticket. Any chance of the solution seeing the light of day anytime soon?

[2020-12-21 20:18] johnwatkins0 commented on #5697
Proposing an approach. This applies to plugins but probably works similarly with themes.

When the AMP plugin finds a validation error associated with a plugin it has not encountered before, we will:

1. Make a request to `plugins_api` using the plugin slug:

[code]

If the `plugins_api` response is valid, we know it is a plugin available on `wordpress.org` and that its support URL is `https://wor

[2020-12-21 21:44] westonruter commented on #5721
Closing since this will be fixed with WordPress 5.6.1.

[2020-12-21 21:44] #5721 closed, assigned to nobody

[2020-12-22 02:51] #5719 closed, assigned to nobody

[2020-12-22 06:00] westonruter commented on #5697
Yes, that should always be the case.

Perfect.

Yes, it could probably be cached for a year, in the case of a non-error response to `plugins_api()`. If there is an error (due to the plugin not existing not due to a network error), then no request would be made since it is in the plugin metadata on disk. I suppose caching the successful response could be a year and a non-successful response (due to

[2020-12-22 07:04] westonruter commented on #4191
Yeah, it's still on my radar. I'm planning to pick it up again after I finish #5558. I do have a work-in-progress PR (#4212) which I will be bringing up to date. It's still milestoned for 2.1 which we're planning for the first part of 2021.

[2020-12-22 17:54] johnwatkins0 opened #5731 "Fix warnings from @wordpress/no-global-event-listener ESLint rule"
## Bug Description

As a result of a recent update to one of the `@wordpress` packages, we're now seeing these warnings on all PRs:

<img width="1232" alt="Screen Shot 2020-12-22 at 11 53 01 AM" src="https://user-images.githubusercontent.com/9020968/102918288-43c32d80-444c-11eb-9478-24c6a98e71f5.png">

Text: "[@wordpress/no-global-event-listener] Avoid using (add|remove)EventListener with globals.

[2020-12-22 18:33] johnwatkins0 commented on #5731
On closer look, it might be best to simply disable the rule in files that are not using React. My interpretation of the new rule is that it's mainly intended to guard against reaching outside the virtual DOM in React contexts. See https://github.com/WordPress/gutenberg/pull/26810

[2020-12-23 07:06] arazzistco opened #5740 "Add to the cart button"
In our website,arazzistco.ir, when press the "add to the cart" button, the product fails to be added to the cart, and it reports " (it seems like your request was successful. Even though the server responded well, the request may not be processed.)
 I will leave a link of a similar link here for you to check out.
https://www.google.com/amp/s/www.arazzistco.ir/product/cryo-box-spl/%3famp

[2020-12-23 07:08] westonruter commented on #5740
Hello! Please open a support topic on the forum: https://wordpress.org/support/plugin/amp/#new-topic-0

That's a better place for this question.

[2020-12-23 07:08] #5740 closed, assigned to nobody

[2020-12-23 19:46] #5731 closed, assigned to nobody

[2020-12-27 07:55] askmeoffers opened #5744 "AMP Validation Failed on all pages"
Respected Weston Sir Good Day,

Recently I moved my site to a different server ( migrated) configuration and everything is the same and only difference is the IP address and the hosting provider is also the same.

But I am getting AMP validation issue on all pages

And what I see the error is :
On Aliexpress Coupon Store

https://askmeoffers.com/coupon-deal-offer-promo-store/aliexpress-com/

scrip

[2020-12-27 08:50] westonruter commented on #5744
You appear to have a validation error whose invalid markup is "kept". Try clicking "Validate URL" in the admin bar for a page that has that issue. Make sure no validation errors have "kept" invalid markup.

[2020-12-28 04:36] westonruter commented on #5721
Actually, the fix is available now in Twenty Twenty-One v1.1.

[2020-12-29 17:36] johnwatkins0 opened #5746 "Remove e2e test utils now available from @wordpress/e2e-test-utils"
## Feature description

The following e2e test utility functions created for this plugin have since been added to [`@wordpress/e2e-test-utils`](https://github.com/WordPress/gutenberg/tree/master/packages/e2e-test-utils/src):

`activatePlugin`
`activateTheme`
`deactivatePlugin`
`deleteTheme`
`installTheme`
`themeInstalled` (renamed `isThemeInstalled` in the core package)

I suggest these functions

[2020-12-30 05:25] #1756 closed

[2020-12-30 05:25] westonruter opened #5750 "Refactor `URLValidationCron` to schedule events to validate individual URLs"
## Feature description

As noted in https://github.com/ampproject/amp-wp/pull/5515#discussion_r549911987:

In other words, this would be similar to `SavePostValidationEvent` in which one URL is scheduled for validation. In fact, that class could be refactored to pass the URL as the schedule argument as opposed to the `$post_id`. It could then be used for scheduling validation after editing a post

[2020-12-30 06:30] #3673 closed

[2020-12-30 06:30] #3821 closed

[2020-12-30 21:12] westonruter commented on #3357
Confirmed it is still an issue. Just pushed up fix (6cae4ee19af5644159cbceee1cccef6fc3f4f53a) as part of #5558.

[2020-12-31 06:06] westonruter commented on #5746
Re-opening to track cherry-pick to `2.0`.

[2020-12-31 06:31] pierlon commented on #5746
Weirdly the issue didn't close when #5755 was merged. Closing since it has been.

[2020-12-31 06:31] #5746 closed, assigned to nobody

[2020-12-31 07:21] westonruter commented on #5746
Ah, because it was merged into the non-default branch.

[2021-01-03 11:25] askmeoffers commented on #5744
The issue is resolved with suggested changes

Thanks, Weston Sir

Team - askmeoffers.com

[2021-01-03 11:25] #5744 closed, assigned to nobody

[2021-01-04 10:34] swissspidy commented on #2749
Probably no longer relevant; closing.

[2021-01-04 10:34] #2749 closed

[2021-01-04 10:34] swissspidy commented on #2889
Closing as this is no longer relevant since stories are now in a standalone plugin

[2021-01-04 10:34] #2889 closed

[2021-01-04 10:35] swissspidy commented on #2888
Stale, closing

[2021-01-04 10:35] #2888 closed

[2021-01-04 10:36] swissspidy commented on #3434
Closing in favor of removal, #4557

[2021-01-04 10:36] #3434 closed

[2021-01-04 10:36] swissspidy commented on #2347
Closing in favor of removal, #4557

[2021-01-04 10:36] #2347 closed

[2021-01-04 23:00] titoabreurj opened #5767 "Infinite Looping when the AMP plugin is activated"
## What's the issue?

AMP on Plugin Actived, access the site are the looping.
The homepage and others pages.
I checked with theme developement and the problem persists.

## How do we reproduce the issue?
Access the site thoriugh the URL https://fullworks.net.br/?amp on a mobile device and you will see the loop happen!

## What browsers are affected?

All browsers

## Which AMP version is affected?

[2021-01-05 20:19] westonruter commented on #5304
Update on this since #5589 was merged:

Removed and Unreviewed | Some Kept and Unreviewed | All Removed and Reviewed
---------------------------|----------------------------|-----------------------------
![image](https://user-images.githubusercontent.com/134745/103690881-362c9e00-4f4a-11eb-9ae9-1b1de0a74712.png) | ![image](https://user-images.githubusercontent.com/134745/103691101-7f7ced80-4f4a-11

[2021-01-05 20:23] westonruter commented on #5304
I just realized this is issue is not exactly what I thought it is, although it is related. I think I meant to comment this on the now-closed #3673 or #3821 (which were closed via #5589, which removed this global notice in favor of the plugin sidebar). In any case, this issue is still open and any AMP validation messaging that we show in the editor needs to be better tailored for non-technical user

[2021-01-06 20:50] westonruter commented on #5767
I assume you have Mobile Redirection turned on?

On the non-AMP version of the page, in the Admin Bar click on the "Validate URL" submenu item under the AMP menu. That will take you to a screen that shows any validation issues with the page. Can you share a screenshot of that page?

[2021-01-06 21:56] jwold commented on #5304
Been playing with some concepts to address this, and leaning toward something like this:

**Some kept and unreviewed state:**

<img width="369" alt="Screen Shot 2021-01-06 at 1 55 26 PM" src="https://user-images.githubusercontent.com/3411173/103823435-eec80f80-5026-11eb-9f2a-9c5bfc4a6263.png">

[2021-01-07 00:00] westonruter commented on #5304
@jwold I think we can just put the "Invalid Markup Kept" info inside of the "AMP Disabled" panel. So in general I think we can iterate on this element here:

This would be the “AMP Status” box and it would have 3 possible states which correspond to the 3 states in the icon:

Icon | State
-----|------
![image](https://user-images.githubusercontent.com/134745/103833974-0effca80-5037-11eb-8bb1-10001a

[2021-01-07 00:17] westonruter commented on #2487
Some lessons from enabling auto-updates by default: https://wptavern.com/all-in-one-seo-plugin-turns-on-automatic-updates-without-notifying-users-removes-functionality-in-latest-release

[2021-01-07 01:27] westonruter commented on #5767
It appears you have deactivated the AMP plugin so I can't reproduce the issue right now.

[2021-01-07 08:17] BartoszJanowski opened #5770 "First tap on any <a> element on iOS >=13 does not work"
## Bug Description

When entering the website for the first time in a session (typing an address directly / going from search results) on iPhone (**iOS 13.x, 14.x**), a first tap on any `<a>` does not result in going to a page from the link. The tap results only in a standard visual confirmation that element was taped (iOS short link "blink").
A second tap on the same `<a>` element or any other an

[2021-01-07 16:09] titoabreurj commented on #5767
Hi weston
Thanks for answering.
Really, sorry ... I thought it might take a while to reply and I ended up
disabling AMP.
But now, at this moment, I have AMP enabled. You will be able to see what
happens when we try to access the site in AMP version.

Thank you
____________________________________
Tito Abreu - Consultor E-commerce
21 3878-9700 | 21 99757-9054

Em qua., 6 de jan. de 2021 às 22:27, W

[2021-01-07 16:39] laras126 commented on #598
Hi there @westonruter! My team is looking to build an admin interface for AMP Cache purging by URL. Our implementation plan is as follows:

* Serving public key
   * Generate a common keypair per the documentation
   * Hook in to request to intercept the .well-known/amphtml/apikey.pub request
   * Set correct content-type header, and any other headers mentioned in the documentation
   * Output the

[2021-01-07 17:09] westonruter commented on #5767
OK, I'm seeing it now on a Year archive template: https://fullworks.net.br/2020/?amp=1

However, I am also getting an AMP page for a Singular template without the infinite redirect: https://fullworks.net.br/totem-para-alcool-gel-solucao-de-protecao-covid-19/?amp=1

But I'm also getting an AMP page without `?amp=1`: https://fullworks.net.br/totem-para-alcool-gel-solucao-de-protecao-covid-19/

So it

[2021-01-07 17:35] westonruter commented on #5770
This is most likely a bug with either the AMP runtime or iOS Safari itself, not the AMP plugin. We'll see if we can identify where the bug lies.

[2021-01-07 18:14] titoabreurj commented on #5767
Hi Weston 
Thank you very much for identifying a possible source of the problem.

However, I saw that my "mobile.redirection.js" file is different from what you sent in the link.
Could I replace the current code with the one you sent me?

`!function(e){var n={};function r(t){if(n[t])return n[t].exports;var o=n[t]={i:t,l:!1,exports:{}};return e[t].call(o.exports,o,o.exports,r),o.l=!0,o.exports}r.m=

[2021-01-07 18:31] westonruter commented on #2069
Summarizing a discussion with @delawski regarding autosaves: I see there as being a continuum of how aggressive the validation requests could be performed in the lifecycle of a post. On the aggressive side, we could do validation for all autosaves even for auto-drafts. On the other end of the spectrum, we could limit validation exclusively to explicit save events for published posts.

Things have

[2021-01-07 18:43] westonruter commented on #5767
The mobile redirection JS being served on your site is the built version, so it is minified.  That's why it is different.

I'm surprised to see validation errors being attributed to Autoptimize, since that plugin is supposed to short-circuit it's optimizations on AMP pages.

For the Wordfence validation errors, I did write a little plugin that avoids the validation errors from being reported: http

[2021-01-07 19:02] westonruter commented on #598
Hi ~@laras~ _@laras126_! Good to hear from you.

The implementation plan seems sound. My main concern is that the `update-cache` API doesn't appear to be work reliably per https://github.com/ampproject/amphtml/issues/24326 or at least not quickly. But I don't have much experience with it, to be honest. To get more clarity on that I'd recommend following up with the AMP core team in that issue.

Wh

[2021-01-07 20:19] titoabreurj commented on #5767
Hi Weston
You were very assertive. I suppressed the Autoptimize plugin in the AMP settings and the Infinite Looping stopped.
I don't want to abuse your goodwill. But what other validation errors from other plugins should I consider, suppress or ignore? Since the looping problem no longer exists?
I am very grateful for your help. I had been trying to solve this problem for months, trying different

[2021-01-08 00:50] westonruter commented on #5767
@titoabreurj Suppressing Autoptimize is not having an effect.

I'm seeing a non-AMP page at both of these URLs (after first navigating to the non-AMP version):

1. https://fullworks.net.br/totem-para-alcool-gel-solucao-de-protecao-covid-19/
2. https://fullworks.net.br/totem-para-alcool-gel-solucao-de-protecao-covid-19/?amp=1

In contrast, I'm seeing an AMP page at _both_ of these URLs, after first

[2021-01-08 09:50] LaraS commented on #598
Hi @laras126, I think this tag was for you.

[2021-01-08 17:55] milindmore22 commented on #5770
I am not able to reproduce the issue on my local or test site, but the possible conflict was between amp-carousel and amp-user-notification components.

[2021-01-10 13:59] maciejmackowiak opened #5772 "Asynchronously populate counts for unreviewed validation errors and validated URLs in admin menu and dashboard widget"
## Feature description

We have noticed a huge performance impact from the query used for populating unread AMP validated urls/validation errors count.
It sometimes adds 0.3-0.5s to wp-admin page load.
Could you please consider moving it to cron job?

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

##

[2021-01-10 21:00] maciejmackowiak commented on #5772
Here is an example how much time this query can take:
![obraz](https://user-images.githubusercontent.com/24996403/104135221-0be64080-538f-11eb-9ad5-6678b77c6e56.png)

[2021-01-12 01:22] #5767 closed, assigned to nobody

[2021-01-12 01:43] westonruter commented on #5772
I don't think the cron job will work because it needs to be live. In other words, if you have just 1 validated URL left that has an unreviewed error, you'll see a (1) next to Validated URLs as well as some other number next to Error Index (x). When you save update the status of a validation error from Unreviewed to Reviewed, the result is that these two numbers should decrement right away. It shou

[2021-01-12 01:49] westonruter commented on #5772
Note the counts themselves are cached in transients per #3222, #3666, and #5343. However, when an update is made to a validated URL then the cache is invalidated.

@maciejmackowiak Are you seeing this slow query with every page load, or just after AMP validated data has been changed?

[2021-01-12 01:51] westonruter commented on #5772
The two places the counts occur are:

1. The admin menu:
![image](https://user-images.githubusercontent.com/134745/104259103-95504e00-5435-11eb-9e0d-bf8501a0f97e.png)
2. The At a Glance widget on the dashboard:
![image](https://user-images.githubusercontent.com/134745/104259142-ad27d200-5435-11eb-976b-3ac4adc88086.png)

[2021-01-12 03:25] archon810 commented on #5772
We have Query Monitor enabled on production for only admins, and this amp query is there all the time throughout the day. It's definitely not every time I load wp admin, but I notice it enough times for it to become frustrating. We have a busy site with lots of posts getting published and updated daily.

[2021-01-12 03:25] archon810 commented on #5772
Ajax all the things!

[2021-01-12 04:35] #4557 closed, assigned to westonruter

[2021-01-12 05:03] westonruter commented on #5770
@bartesn I recommend opening this issue on the AMP core repo directly: https://github.com/ampproject/amphtml/issues

The AMP plugin generates AMP pages. If the generated AMP page is valid, as yours is, then any further problems with its behavior must lie either in the AMP runtime or in a browser bug.

[2021-01-12 05:03] #5770 closed, assigned to nobody

[2021-01-12 12:40] BartoszJanowski commented on #5770
@westonruter @milindmore22 the problem is definitely caused by the conflict between amp-carousel and amp-user-notification components, removing the carousel from a page fixes the problem. I will open issue directly on the AMP core repo. Thanks for help!

[2021-01-12 19:47] pierlon commented on #5746
Moving to Done as there's nothing to QA here.

[2021-01-12 20:38] jwold commented on #5304
@westonruter I believe this captures all the comments above, and will be worth discussing on our next call.

<img width="609" alt="My Sketches - 2021-01-11 14 38 54" src="https://user-images.githubusercontent.com/3411173/104369948-085bd200-54d3-11eb-90a0-346aa264fef2.png">

My next step is to take this to a prototype stage, but I'd love any feedback first on it. Thanks!

cc @amedina and @delawski

[2021-01-13 10:08] pierlon commented on #5767
**QA passed**

With the Autoptimize plugin modified to always cache the non-AMP version of a page, prior to #5775 it can be observed that the page infinitely navigates to the AMP URL:

https://user-images.githubusercontent.com/16200219/104429144-30077480-557d-11eb-8888-7c65544bcaa0.mp4

And with the fix in place it can be seen that the issue no longer occurs:

https://user-images.githubusercontent

[2021-01-13 18:37] westonruter commented on #5767
@pierlon So Autoptimize is providing the page caching here? I didn't know that that Autoptimize included page caching, since the its readme states:

But if that's the case, @titoabreurj I recommend [opening a support topic](https://wordpress.org/support/plugin/autoptimize/#new-topic-0) with Autoptimize to report that its page caching is failing to vary the cache by the `amp` query parameter.

[2021-01-13 20:03] pierlon commented on #5767
Oh no I simply modified the plugin to do so. I attempted to replicate the issue with the (unmodified) WP Super Cache plugin but was unable to do so.

[2021-01-14 20:40] westonruter opened #5780 "Detect available object caching backend(s) to guide users toward persistent object caching plugins"
## Feature description

When persistent object caching is not enabled on a WordPress site, we provide the following Site Health test recommendation:

![image](https://user-images.githubusercontent.com/134745/104645374-d168f600-5663-11eb-9f44-3dfc840c247b.png)

This is not very helpful because the only call to action is to a link to [Learn more about persistent object caching (opens in a new tab)](

[2021-01-14 20:41] westonruter commented on #1216
I've opened a new issue for this and re-scoped it: https://github.com/ampproject/amp-wp/issues/5780

[2021-01-14 20:57] westonruter commented on #5780
Per @pierlon, note that W3 Total Cache allows for multiple backends:

It even supports writing to disk. We should avoid recommending that, however, since using the disk for object cache storage would be very slow. The recommendations we provide should be in descending order of precedence:

1. Redis
2. Memcached
3. APCu
4. disk

(Using the disk could even be worse than not having object caching at

[2021-01-16 14:38] edemir206 opened #5782 "How to disable AMP for custom post types in a multisite network ?"
Hello,

All of sudden all of our network content are being tretated as AMP pages because something changed on the plugin latest release.

Tried using the filter `amp_supportable_post_types` without any success. How do I use it ?

Also how do I enable AMP for only "POST" post type without going in every website of my 450 website network ?

[2021-01-17 01:54] westonruter commented on #5782
The `post` post type should be enabled by default. Can you share a screenshot of the Supported Templates settings section for one such site in your network?

[2021-01-17 13:44] edemir206 commented on #5782
Hi @westonruter

You didn't understand, `post` types are already enabled and working but all my others custom post types are enabled too, so it means everything on my site is AMP enabled now which I do not want. Somehow before I had only `post` as amp enabled for all websites on my network.

What I need is a php code where I can put somewhere (in theme function.php for example) to tell the "amp" p

[2021-01-17 20:49] westonruter commented on #5782
Sorry, you're right, I misunderstood.

You're encountering a bug in the migration logic we had when updating fro, 1.x to 2.x, which we fixed in [v2.0.4](https://github.com/ampproject/amp-wp/releases/tag/2.0.4) via https://github.com/ampproject/amp-wp/pull/5413.

If you want to put some code inside of your theme's `functions.php` to fix this issue you could temporarily add this code which will upda

[2021-01-17 20:55] westonruter opened #5783 "Add WP-CLI commands for managing AMP settings"
## Feature description

As demonstrated by #5782, there is a need for WP-CLI commands to manipulate the AMP settings, including:

* Setting the template mode.
* Setting the Reader theme.
* Toggling mobile redirection.
* Updating the supported post types (see https://github.com/ampproject/amp-wp/issues/5782#issuecomment-761877633).
* Toggling whether all templates are supported, and otherwise toggl

[2021-01-18 15:18] arnaudbroes opened #5784 "No longer compatible with AIOSEO"
## Bug Description

From v4.0.0 onwards, AIOSEO is rewritten and uses different filter hooks. AMP for WP still hooks into the old filters and options and is therefore no longer compatible.

## Expected Behaviour

AMP for WP should add support for the new version while preserving backwards compatibility with the old version.

## Steps to reproduce

N/A

## Additional context

I'm one of the develop

[2021-01-18 15:36] milindmore22 commented on #5784
@arnaudbroes did you mean https://github.com/ahmedkaludi/accelerated-mobile-pages

[2021-01-18 15:38] arnaudbroes commented on #5784
Oops, yes. Feel free to close this. My bad!

[2021-01-18 15:38] #5784 closed, assigned to nobody

[2021-01-19 16:48] westonruter commented on #5750
Per @schlessera: We can rather use a queue instead of staggering the scheduled events. We can have a scheduled event that runs every tick, and if there is a something in the queue, then validate.

We should also have better logging.

[2021-01-19 16:48] jwold commented on #5678
**Based on our discussion:**

Weston:

If a user has multiple Core themes installed it's difficult to identify the best one Core theme for them. The simplest method is to choose the most recently published. Twenty Twenty out of the box has more options out of the box. If we do always go with the most recent theme we may want a default configuration we automatically supply that normalizes the style

[2021-01-19 16:52] westonruter commented on #5678
If someone has a custom post type or something else defined in the active theme itself, then the legacy theme should continue to be used.

We need to do a theme compatibility check per #4795 for this as well.

[2021-01-19 16:57] westonruter commented on #4795
Here's another support topic that we should be accounted for: https://wordpress.org/support/topic/edit-amp-page-footer/#post-13919589

In particular, the active theme defines a function and an active plugin is trying to use that function. When a reader theme is activated, then a fatal error ensues because the function doesn't exist.

This is another case that should prevent reader themes from bein

[2021-01-19 17:12] westonruter commented on #5772
We can also consider making the request only when we need. So if the user is not even on an AMP settings screen, we can skip making the requests until the user opens the AMP admin submenu.

[2021-01-19 17:21] westonruter commented on #1492
Closing for now, since the increased CSS limit from 50KB to 75KB has greatly reduced the pressure on reducing the total CSS.

[2021-01-19 17:21] #1492 closed

[2021-01-19 17:25] jwold commented on #1400
Weston > These popups are not the correct way to implement a tooltip from an accessibility perspective. Note that there are likely more considerations for accessibility. The primary focus for now though should be moving over to use the Gutenberg component that's responsible for tooltips (found in the edit post screen). That is part of the refactoring of these screens to be using React components.

[2021-01-19 17:25] #1400 closed

[2021-01-19 17:26] jwold commented on #1479
Weston > These popups are not the correct way to implement a tooltip from an accessibility perspective. Note that there are likely more considerations for accessibility. The primary focus for now though should be moving over to use the Gutenberg component that's responsible for tooltips (found in the edit post screen). That is part of the refactoring of these screens to be using React components.

[2021-01-19 17:26] #1479 closed

[2021-01-19 17:28] jwold commented on #1450
Weston > We have a summary of the source validation error and also have the full details. Those are not connected and should be combined. This is a low priority item, and is part of tightening up and improving design of validated URL screen.

[2021-01-19 17:31] jwold commented on #1459
Weston > The source info for an error is only captured in the context of a url where the error occurs. So this ticket was about trying to add the sources for all instances to this screen. However, we now are directing users always to go to the validated url screen to do any actions on the validation errors. You go to the validated urls screen to see source, mark as reviewed, remove or keep, so thi

[2021-01-19 17:31] #1459 closed

[2021-01-19 18:20] westonruter opened #5788 "Facilitate serving properly sized images in next-gen formats"
## Feature description

One of the most significant performance problems with webpages is heavy images which are sized too large for display (e.g. `full` size in an image which is better suited for `medium`) and which are using inefficient formats (e.g. JPEG instead of WebP):

![image](https://user-images.githubusercontent.com/134745/105075887-35623480-5a3f-11eb-8669-94cc11237f04.png)

This gets [

[2021-01-19 20:09] jwold commented on #4795
Want to make sure I'm tracking correctly. If we solve this would the theme compatibility scanner look through the reader themes available and only present ones that would work correctly with the installed plugins?

[2021-01-19 22:02] westonruter commented on #4795
Rather, only the AMP Legacy theme would be made available. It would be similar to the situation we have now where a site is (mis-)configured to customize the AMP slug too late.

For example, with this plugin code:

[code]

The Reader themes section in the Onboarding Wizard looks like this:

Aside: I just found that that the carousel on the Settings screen fails to show the same:

It does, neverthe

[2021-01-19 22:06] westonruter opened #5789 "Prevent non-legacy themes from being selected as Reader theme on Settings screen when AMP slug defined late"
## Bug Description

In #4999 we check if the AMP slug (query var) is defined too late and if so, prevent selection of a non-legacy Reader theme:

This, however, was not likewise implemented for the Settings screen which allows all to be selected:

## Expected Behaviour

The available themes should be consistent between the Settings screen and the Onboarding Wizard.

## Steps to reproduce

Activate

[2021-01-19 22:21] westonruter commented on #4795
There would be 4 conditions which would prevent a non-legacy Reader theme from being available to select:

1. Themes cannot be installed on the environment (either due to filesystem permissions or user capabilities).
2. ~The AMP query var was defined too late (after `plugins_loaded` action with priority 8, per #4999 and #5789.)~
3. A fatal error occurs when attempting to load an AMP page with a Re

[2021-01-20 00:15] westonruter commented on #4795
(Updated my comment to note the 4th case in which Reader themes would not be available.)

[2021-01-20 14:49] constellationcon opened #5790 "Cannot enter text in form"
Hi! I am having an issue with the genesis enews extended plugin. Every time I go to enter text in the form to test it out, it redirects me to a page and I can't enter anything in the text box.

[2021-01-20 19:18] milindmore22 commented on #5790
Hello @constellationcon

For general, technical, and product help requests, please post them on the [AMP Plugin support forum](https://wordpress.org/support/plugin/amp/). Support will not be provided on GitHub.

Thank you!

[2021-01-20 19:18] #5790 closed, assigned to nobody

[2021-01-20 19:38] westonruter opened #5791 "Eliminate readme.txt in favor of just readme.md"
## Feature description

Surprise surprise, it turns out that the WordPress plugin directory supports `readme.md` in addition to `readme.txt`: https://twitter.com/johnbillion/status/1351969604961243136

More details: https://johnblackbourn.com/readme-md-plugin-on-wordpress-org/

Eliminating the `readme.txt` will eliminate the need to synchronize the two versions.

Caveat: The `readme.md` needed by

[2021-01-21 17:54] westonruter commented on #5304
Let's include your feedback from https://github.com/ampproject/amp-wp/pull/5741#issuecomment-763129207.

[2021-01-21 19:28] westonruter commented on #5122
Here's a mini plugin that adds the the `data-amp-auto-lightbox-disable` attribute to the `body`: https://gist.github.com/westonruter/b6691407af1648b402b09371a9faf7f0

I think it makes sense to go ahead and update the plugin to do this by default. Maybe there should be a filter to control whether the attribute is added, but it would be added by default.

[2021-01-21 19:35] westonruter commented on #5122
Note that even when `data-amp-auto-lightbox-disable` is added to the `body`, the `amp-auto-lightbox-0.1.js` script will continue to be downloaded even though it won't be used for anything. See https://github.com/ampproject/amphtml/issues/26452.

[2021-01-21 19:58] westonruter commented on #5122
As opposed to a filter, enabling/disabling the auto-lightbox functionality could be an advanced option on the Settings screen. There may be some other such settings that would be relevant in such a section, such as whether galleries should by default use a carousel and/or lightbox per https://github.com/ampproject/amp-wp/issues/4989#issuecomment-689677233.

I'm just wary of adding too many setting

[2021-01-23 05:18] westonruter opened #5801 "Eliminate obsolete transformation of `@-moz-document url-prefix()` Firefox CSS hack into `@supports (-moz-appearance:meterbar)`"
## Feature description

The `@-moz-document` CSS at-rule is now allowed in AMP as of https://github.com/ampproject/amphtml/issues/26406 so we no longer need to transform this Firefox-specific CSS hack into another Firefox CSS hack, which was implemented in #5530.

Specifically, this code is no longer necessary:

https://github.com/ampproject/amp-wp/blob/a5d5237b0a7fba3c627672241c68b3198f9cd258/inc

[2021-01-23 06:38] #2062 closed

[2021-01-23 06:38] #2204 closed

[2021-01-23 06:38] #3357 closed

[2021-01-24 02:21] rsmith4321 opened #5803 "Jetpack amp contact form redirect issues"
Recently I can't get redirects to work with the Jetpack contact form in amp. They used to work fine but now seem to just reload the same page instead of redirecting.  Since it used to work fine and has recently stopped without any changes I can think of, I assume it must be a bug. The redirect also works correctly with amp disabled. Thanks for the help.

Example url
https://www.ryansmithphotograph

[2021-01-24 06:07] westonruter commented on #5803
I am seeing that submitting the form is resulting in a redirect that contains `contact-form-id`, `contact-form-sent`, `contact-form-hash`, and `_wpnonce` query parameters added. But these parameters are not causing any change to the content on the success page.

This may be a regression in Jetpack. We'll try to confirm that.

[2021-01-24 08:06] westonruter commented on #5803
I've identified this as a bug with Jetpack. Fix submitted here: https://github.com/Automattic/jetpack/pull/18516

While waiting for that fix to land in a release, here is a workaround plugin that will have the same effect: https://gist.github.com/westonruter/020dcab1545f24706cb34b1978c8708e

[2021-01-24 08:06] #5803 closed, assigned to nobody

[2021-01-24 15:52] rsmith4321 commented on #5803
Great thanks, that fixed it!

[2021-01-24 16:32] NawarHisso opened #5805 "Missing logo field & missing publisher field"
Please I need your help,
Recently, I have the below errors in AMP structure data test, and here is the link:
https://search.google.com/structured-data/testing-tool/u/0/#url=https%3A%2F%2Fwww.popsci.ae%2F%25D8%25A3%25D9%2581%25D8%25B6%25D9%2584-9-%25D8%25AA%25D8%25B7%25D8%25A8%25D9%258A%25D9%2582%25D8%25A7%25D8%25AA-%25D9%2584%25D9%2584%25D9%2587%25D9%2588%25D8%25A7%25D8%25AA%25D9%2581-%25D8%25A7%2

[2021-01-24 19:39] westonruter commented on #5805
Please use the support forum such questions: https://wordpress.org/support/plugin/amp/

You should be able to find some existing topics that may answer your question already.

[2021-01-24 19:39] #5805 closed, assigned to nobody

[2021-01-24 20:42] westonruter commented on #5791
Aside: I like how Web Stories has the `wp-assets` in a `.wordpress-org` directory: https://github.com/google/web-stories-wp/tree/main/.wordpress-org (which is also what User Switching is doing: https://github.com/johnbillion/user-switching/tree/develop/.wordpress-org)

[2021-01-24 20:57] westonruter commented on #5791
Also realized that we don't have an `icon.svg`.

[2021-01-25 04:49] #5791 closed, assigned to jwold

[2021-01-25 15:21] westonruter commented on #5803
The fix will be part of Jetpack v9.4.

[2021-01-26 17:12] jwold commented on #2313
As discussed, we could also add a page under the AMP settings, and reference it, where we list out compatible extensions.

[2021-01-27 00:19] westonruter commented on #2487
Also: [Reminder: Plugins Must Not Interfere with Updates](https://make.wordpress.org/plugins/2021/01/26/reminder-plugins-must-not-interfere-with-updates/).

[2021-01-28 20:20] jwold commented on #5304
<img width="1116" alt="Screen Shot 2021-01-28 at 12 18 31 PM" src="https://user-images.githubusercontent.com/3411173/106193903-f9c41a80-6162-11eb-8495-c1446439b55b.png">

<img width="1195" alt="Screen Shot 2021-01-28 at 12 19 04 PM" src="https://user-images.githubusercontent.com/3411173/106193944-08123680-6163-11eb-97b2-e7b9c08bed74.png">

<img width="1154" alt="Screen Shot 2021-01-28 at 12 19 26

[2021-01-29 23:33] #4556 closed, assigned to westonruter

[2021-02-01 04:39] westonruter opened #5824 "Header image fails to be prerendered"
## Bug Description

I've found that header images (via `custom-header` theme support) fail to get pre-rendered when there is a custom logo or featured image also on the page. For example, in themes that render the header image with an `img` as opposed to a `background-image`, the presence of a featured image in the page will prevent the header image from getting SSR'ed, as any presence of `data-he

[2021-02-01 04:40] westonruter commented on #5824
cc @schlessera

[2021-02-01 18:31] westonruter opened #5825 "Validation errors JSON data copied to clipboard lacks sources"
## Bug Description

This appears to be something that was missed in #5500 for #5209.

I just noticed when doing the Copy to Clipboard function:

![image](https://user-images.githubusercontent.com/134745/106501258-c5f53780-6477-11eb-8519-fa52b3c1fa2e.png)

The result does not include `sources`:

[code]

## Expected Behaviour

The array of source(s) should be included in the errors data.

----------

[2021-02-01 19:27] westonruter opened #5826 "Facilitate resetting AMP validation data in admin"
## Feature description

Sometimes validation data can grow incredibly large. For example, in [support topic](https://wordpress.org/support/topic/clean-amp-validation-errors/) a site's validation error count grew to 30K+. (The cause for this will be fixed by #4753.) To clean up from this mess, the best way is to run `wp amp validation reset` from the command line via WP-CLI. However, many users don

[2021-02-01 19:51] westonruter commented on #4753
This issue was also caused by the Newspaper theme which outputs scripts containing strings like `'.td_live_css_uid_1_6018435401047'`. See support topic: https://wordpress.org/support/topic/clean-amp-validation-errors/

This string comes from [this code](https://github.com/madun92/helloworld/blob/a8c47d2e99721ab86841408a20580cf65f1893ee/wp-content/plugins/td-composer/plugins/css-live/includes/td_li

[2021-02-02 02:35] westonruter commented on #5826
We should implement these as part of the new REST API endpoints, the ability to delete batches of validation errors and validated URLs.

[2021-02-02 15:35] jonoalderson opened #5838 "Fatal error on daily cron"
## Bug Description

I'm getting a daily email notifying me of a fatal error, relating to `AmpProject\AmpWP\BackgroundTask\MonitorCssTransientCaching::process()`.

I'm reasonably sure that this isn't a plugin/theme/capabilities compatability issue, as it's a pretty lightweight setup, and I'm not encountering any other issues with cron/transients/caching/plugins/etc.

## Full error

[code]

## Addit

[2021-02-02 16:56] pierlon commented on #5838
This may have been already fixed in #5515 as the arguments for the `AmpProject\AmpWP\BackgroundTask\MonitorCssTransientCaching::process()` method have changed:

https://github.com/ampproject/amp-wp/blob/a42e72122d1fa948876a7ef79e2626f4ac276541/src/BackgroundTask/MonitorCssTransientCaching.php#L104

[2021-02-02 17:12] kmyram commented on #1591
Solved in #2316

[2021-02-02 17:12] #1591 closed

[2021-02-02 17:17] westonruter commented on #4536
Being worked on as part of #3730.

[2021-02-02 17:34] westonruter commented on #5838
Oh, I didn't realize this was an issue in 2.0.10. I thought it was in 2.1-alpha.

I think we should fix this for 2.0.11 specifically.

[2021-02-02 19:04] #5825 closed, assigned to westonruter

[2021-02-02 19:09] westonruter commented on #5825
I thought this feature had been merged into the 2.0 branch, but no, it's milestoned for 2.1. So re-milestoning the bug for 2.1 as well.

[2021-02-02 19:16] #4753 closed, assigned to pierlon

[2021-02-02 23:22] westonruter commented on #5838
I see the problem. The issue is that the `process` method is specifying the `$date` parameter as being a `DateTimeInterface`:

https://github.com/ampproject/amp-wp/blob/501d13f3f63915b51f106ea0fb7ea60d67b0f557/src/BackgroundTask/MonitorCssTransientCaching.php#L95-L111

However, when `MonitorCssTransientCaching` is registered, the `process` method is added as an action:

https://github.com/ampproje

[2021-02-02 23:28] westonruter commented on #5838
I'm also able to reproduce the issue using WP-CLI:

[code]

[2021-02-03 01:05] westonruter commented on #5838
I don't think my assessment in https://github.com/ampproject/amp-wp/issues/5838#issuecomment-772083669 is completely accurate given the current state of the code, because `wp_schedule_event()` is being called without `$args` which means an empty array will be passed:

https://github.com/ampproject/amp-wp/blob/501d13f3f63915b51f106ea0fb7ea60d67b0f557/src/BackgroundTask/CronBasedBackgroundTask.php#L

[2021-02-03 01:10] westonruter commented on #5838
If so, I see there being two actions needed here:

1. Make 2.0 branch more resilient to an empty string being supplied as a scheduled event arg. See #5841.
2. Update `develop` branch to not pass an empty string as an argument so that this doesn't happen in the first place. See #5842.

[2021-02-03 03:42] #5838 closed, assigned to westonruter

[2021-02-03 08:30] jonoalderson commented on #5838
Ah, yes, it was definitely the upgrade path issue!
Great catch; sorry for having sent you on such a deep dive for an edge case!

[2021-02-03 22:18] dikeii opened #5852 "Support for Categories / Tags"
Good morning, the categories/tags pages have amp support for reader mode? since I have tried to visualize them but I do not get it in any way, it just redirects me to the page no amp.

Example url :
http: //xxx.xx/category/my-category/

http: //xxx.xx/tag/my-tag/

thanks. Greetings.

[2021-02-03 22:33] westonruter commented on #5852
Yes, if you choose a Reader theme other than "AMP Legacy". Please ask such questions on the support forum: https://wordpress.org/support/plugin/amp/

[2021-02-03 22:33] #5852 closed, assigned to nobody

[2021-02-05 13:06] amir3065 opened #5860 "show highest price for variable product"
## Feature description

hi, i use wp amp in my site but i have a problem in [fusion_woo_shortcodes]
I dont want the price of variable products displayed as "from 10 to 20" in category page.
i want to show highest price for variable product

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

## Acceptance criteria

*

## Implementat

[2021-02-05 13:39] milindmore22 commented on #5860
@amir3065 This is not AMP plugin related issue, please ask this question in theme fusion support

[2021-02-05 13:39] #5860 closed, assigned to nobody

[2021-02-06 00:56] westonruter opened #5861 "Path suffix paired URL structure fails with paginate_links()"
## Bug Description

This was originally identified by @milindmore22.

When using the path suffix paired URL structure, the paginated links generated via `paginate_links()` results in malformed URLs.

For example, on a non-AMP page, when on blog index, the “older posts” link should go to `/blog/page/2/`.

On an AMP page, however, when AMP-to-AMP linking is _disabled_, this comes out to be: `/blog/a

[2021-02-06 01:14] westonruter commented on #5861
This issue does not occur with `the_comments_pagination()`, even though it uses `paginate_links()` under the hood.

It also does not occur with `the_post_navigation()` (via `get_previous_post_link()` and `get_next_post_link()`).

So it seems `paginate_links()` for `the_posts_pagination()` is the sole problem.

[2021-02-06 01:28] westonruter commented on #5861
For `paginate_comment_links()`, the `$args` passed into `paginate_links()` include:

[code]

Whereas for `get_the_posts_pagination()`, the `$args` are:

[code]

The issue appears to happen when there is no `base` supplied.

[2021-02-09 19:24] westonruter commented on #5824
The issue also is present for a user who has a regular Image block in hero position: https://wordpress.org/support/topic/data-hero-for-amp-optimizer/#post-14016250

[2021-02-09 22:05] jwold commented on #4651
Took an initial stab at what this could look like.

![Data](https://user-images.githubusercontent.com/3411173/107434621-d775b980-6adf-11eb-906f-46ffd3261111.png)

Figma [link](https://www.figma.com/file/SfMlDvHc5KHxJmAZN12PIM/?node-id=1808%3A0).

[2021-02-10 06:30] #5861 closed, assigned to westonruter

[2021-02-10 19:49] westonruter commented on #4651
I like that. However, I think we'd want to lean toward “anonymized” rather than “anonymous”. Some of the validation data and site health data will not be anonymous. But any usage of it would be anonymized. Tricky balance.

[2021-02-10 21:55] westonruter commented on #4651
We'll also need to design this for the settings screen.

[2021-02-10 22:50] jwold commented on #4651
Good point. I'm thinking something like this:

<img width="856" alt="Screen Shot 2021-02-10 at 2 49 59 PM" src="https://user-images.githubusercontent.com/3411173/107583079-4a019a80-6baf-11eb-88c0-de116ff815bc.png">

[2021-02-11 22:25] westonruter commented on #4779
I think we need to seriously consider this for 2.1 if we retain the `SavePostValidationEvent` introduced in #5515, since it will result in a validated URL post being created for every post being edited, regardless of whether a user has DevTools enabled.

Garbage collection will also alleviate the need for resetting all the validation data (#5826), including upon uninstallation (#3210).

[2021-02-11 22:33] westonruter commented on #4838
WordPress 5.5 and 5.6 are over 50% of installs, and WordPress 5.7 is coming out next month. I don't think this is worth working on.

![image](https://user-images.githubusercontent.com/134745/107706973-0c1b7980-6c76-11eb-9e70-3dbd9e456d46.png)

[2021-02-11 22:33] #4838 closed, assigned to nobody

[2021-02-11 22:35] westonruter commented on #4191
Not enough time to get this into 2.1, but I'm planning to create a mini plugin that implements the proxy in a standalone way to prototype it for 2.2.

[2021-02-11 22:55] westonruter commented on #4253
@schlessera Should this be transferred to amp-toolbox-php?

[2021-02-11 23:58] westonruter commented on #4757
Since #4650 is too large for 2.1 now, either the relevant change can be cherry-picked for 2.1 to fix Tumblr, or else we just punt to 2.2 altogether.

[2021-02-12 00:22] westonruter commented on #5304
@jwold sorry for the delay in reviewing these.

What again is the meaning behind the styling of the three errors listed here? The first one is kept but the last one is not, but they both have the orange border. I recall @schlessera having a good suggestion for the orange border, that it would only indicate the kept state so we wouldn't need the “kept” label necessarily. The “kept” label will be pr

[2021-02-12 01:24] westonruter commented on #3789
We can eliminate the need for this if we abandon the use of loopback requests for validation checks: #4979. I'm working on designing the validation REST API in a way that we can eliminate the need for it.

cf. https://github.com/ampproject/amp-wp/pull/5751#issuecomment-777899643

[2021-02-15 16:30] rickalee commented on #4653
@westonruter We are seeing Twitter not being modified to amp-twitter when the user pastes Tweet URL into the block editor or uses 'Twitter' embed block. My assumption is this is because of lack of a tag or blockquote or potentially a change in WP 5.6.

Here is what is stored in post_content

[code]

[2021-02-16 01:40] westonruter commented on #4653
@rickalee I'm not seeing that. When I view the AMP version, I get `amp-twitter` rendered on the frontend:

[code]

![image](https://user-images.githubusercontent.com/134745/108008261-d697c880-6fb4-11eb-95ba-91971de55268.png)

[2021-02-16 16:56] westonruter commented on #5671
Also consider renaming the Settings screen to Dashboard, per @jwold.

[2021-02-16 16:57] jwold commented on #1384
* WR > Blocked by site scan, and needs compatibility database, to default to standard mode. It will start in reader, do scan, then recommend a mode. Do scan and onboarding says results of site scan to say "site is compatible with Standard mode," try switching.
* WR > Have sample set of URLs being scanned by WP Chron. If those results return with no errors we can be reasonable confident that site i

[2021-02-16 17:03] westonruter commented on #1384
So we shouldn't default to Standard mode when the plugin is activated in the same way we are defaulting to Reader mode, since we need the results from Site Scanning to make that decision. We also need the user input, for example if the user is not technically-savvy it may not be recommended for them to go down the Standard mode path.

[2021-02-16 17:09] jwold commented on #5340
* AL > Simple integration to plugin screen to give info there, and in the AMP settings. Have filters at top to show installed plugins, inactive, etc. Could have one for suppressed plugins.
* WR > Useful to get info out of AMP settings screen so users more likely to see it. If you have an advertisement plugin running, suppressed it, and come back later wondering where your ads are, and go to plugin

[2021-02-16 17:10] jwold commented on #5340
@jwold to pull a screenshot of fatal error from plugin to propose how AMP would handle this.

[2021-02-16 17:15] jwold commented on #5340
Related from Alain: https://core.trac.wordpress.org/ticket/44458

[2021-02-16 17:17] pierlon commented on #5552
This will be resolved as part of the work on #5772, which will use REST API calls to get information on validation errors and URLs.

[2021-02-16 17:18] jwold commented on #5679
* WR > We could integrate PX guide, which has Rest API endpoints. We could leverage those to integrate the results into the plugin and provide more info to users in context of WordPress, and with WordPress specific guidance. If they're not using optimized images we can recommend Jetpack Photon module, or another image CDN plugin.
* WR > If slow time to first bite, we can recommend page cache. We c

[2021-02-16 17:19] jwold commented on #5679
@jwold and @schlessera can look how to merge things together.

* AM > This could touch on compatibility database, if we're going to provide guidance one element is use compatible stuff.
* AM > Want to think about having a dashboard, command and control center for AMP. Then we can incorporate SiteKit CWV metrics.

[2021-02-16 17:24] jwold commented on #5671
Related to: https://github.com/ampproject/amp-wp/issues/5679

* Alberto: We could put all the pieces together for the brain center. 3.0 material. Site scan, more powerful onboarding, optimizer stuff, dashboard, performance info, maybe Bento AMP.
* Guard rails and info to help users know what's good and what is part of a good AMP system for them.
* Shining milestone for this year if we could target

[2021-02-16 17:28] jwold commented on #5671
Goal is to have the guardrails for users. AMP can provide a comforting and safe experience for users.

[2021-02-16 19:47] westonruter commented on #5552
@pierlon The scope for #5772 is much reduced, however. For the admin menu, the only thing needed is the _counts_ for the validation errors and validated URLs which are not reviewed. There is no need to expose individual validated URLs nor validation errors. Therefore I think the efforts are related but not directly overlapping.

[2021-02-16 20:02] pierlon commented on #5552
Yes you're right. I'll revert this back to the original milestone for now.

[2021-02-17 21:33] matiasnoriega opened #5891 "Featured Image not hiding"
## Bug Description

I want to hide featured images from post before certain date, the problem is that when I use the code snippet from the [docs](https://amp-wp.org/documentation/playbooks/classic-templates/#featured-image) it only works on the AMP Legacy Theme and not on my main theme (newsmag).

I've tried [this](https://github.com/ampproject/amp-wp/issues/838) solution on Newsmag's `functions.p

[2021-02-17 22:08] westonruter commented on #5891
The `amp_post_template_data` filter is only applicable to the Legacy AMP templates. If you want to hide something in another theme, you'll need to use that theme's own filters or standard WordPress ones.

[2021-02-17 22:25] westonruter commented on #5891
This is general WordPress theme template code which works in a theme like Twenty Twenty-One and should also work in Colormag assuming it uses the template tag `the_post_thumbnail()` :

[code]

[2021-02-17 22:25] #5891 closed, assigned to nobody

[2021-02-17 23:38] westonruter commented on #5099
This would be made obsolete if we end up eliminating loopback requests for validation which I'm working out a design for. See also #4979.

[2021-02-18 00:32] westonruter commented on #5671
The notification center and/or Site Health test for AMP validation issues should also supercede the entry on the "At a Glance" dashboard widget:

![image](https://user-images.githubusercontent.com/134745/108286194-81d38980-713d-11eb-9e88-c0fd59b086b7.png)

This is redundant with the information currently shown in the admin menu with the Validated URLs item:

![image](https://user-images.githubuser

[2021-02-18 00:35] westonruter commented on #5671
There should be a Site Health test for “unreviewed validation errors” which takes the user to the list the validated URLs with unreviewed errors to review.

[2021-02-18 18:45] westonruter commented on #4664
As pointed out by @milindmore22, Site Kit has recently done this via plugin row links: https://github.com/google/site-kit-wp/blob/ce582d1910bdf0104792da6f3975a19586ed186d/includes/Core/Admin/Plugin_Row_Meta.php

![image](https://user-images.githubusercontent.com/134745/108405767-5b156180-71d6-11eb-9acf-b04db39b2ebd.png)

This has been filed as #5893.

[2021-02-18 18:45] milindmore22 opened #5893 "Introduce plugin row meta for Support and Rating"
## Feature description

Let's introduce the "Support" and "Rate AMP plugin"  in the plugin rows [the way](https://github.com/google/site-kit-wp/blob/ce582d1910bdf0104792da6f3975a19586ed186d/includes/Core/Admin/Plugin_Row_Meta.php) the Site Kit by Google plugin does, The idea is to encourage users to reach support forums and rate the AMP plugin more promptly by giving them direct links.

![image](h

[2021-02-18 19:29] westonruter opened #5894 "Disable tap delay by reducing meta viewport to just width=device-width"
## Feature description

While being valid AMP, it turns out that a meta viewport like this causes a tap delay (impacting FID):

[code]

A page experience guide check was added for this (https://github.com/ampproject/amp.dev/pull/5108):

There is a [Blink issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1108987) to disable tap-to-zoom when `initial-scale=1`, but it hasn't landed yet. Mo

[2021-02-18 21:33] westonruter commented on #5894
I don't see how `initial-scale=1` is impacting the appearance of the page in either Chrome for Android, Firefox for Android, or Safari on iOS. The text size is the same in both portrait and landscape:

* https://viewport-with-and-without-initial-scale.glitch.me/viewport-with-initial-scale.html
* https://viewport-with-and-without-initial-scale.glitch.me/viewport-without-initial-scale.html

[2021-02-19 06:47] westonruter commented on #5520
See also what @swissspidy has been doing for Web Stories: https://github.com/google/web-stories-wp/pull/6343, https://github.com/google/web-stories-wp/issues/6424

[2021-02-19 09:01] swissspidy commented on #5520
Yay someone noticed it! :-)

I plan on documenting my setup over the next days, but those are good starting points.

[2021-02-19 12:08] jamesozzie commented on #5893
Worth taking a look [here](https://app.asana.com/0/1185360131189553/1199884318455591/f) also, to gauge users satisfaction and obtain feedback.

[2021-02-19 20:07] westonruter commented on #4779
We may not even need to store the validation data for each URL based as part of the validation REST API revamp (#5552) and DevTools redesign (#2316). We can fetch the validation information from a URL on demand to display in the UI. The only thing we need to store are validation errors _when_ their status is changed from the default (e.g. marking something as reviewed or kept).

[2021-02-19 20:10] westonruter commented on #4779
A downside to not storing the validated URL is that we wouldn't be able to keep track of the validation errors that are no longer present on the site (i.e. empty), like we do now.

[2021-02-19 20:18] westonruter commented on #5693
Closing due to lack of response.

[2021-02-19 20:18] #5693 closed, assigned to nobody

[2021-02-19 20:19] #5627 closed, assigned to nobody

[2021-02-19 20:20] #5615 closed, assigned to jamesozzie

[2021-02-19 20:21] westonruter commented on #5447
I don't think it's worth investing work into the classic editor.

[2021-02-19 20:21] #5447 closed, assigned to nobody

[2021-02-19 20:27] westonruter commented on #4756
This was done in 7a2902118e0443fe6452d4137a3935370e003975 as part of #4877.

[2021-02-19 20:27] #4756 closed, assigned to nobody

[2021-02-19 20:32] westonruter commented on #5083
This is no longer an issue as far as I can tell.

[2021-02-19 20:32] #5083 closed, assigned to nobody

[2021-02-19 20:36] westonruter commented on #3789
See also #5099 which is for adding a Site Health check for this.

[2021-02-19 20:59] westonruter commented on #4779
We could store a list of URLs that an error occurs on with the error itself. But that's still not great because when validating a URL, we'd still have to do a query for all validation errors associated with that URL in order to be able to remove the URL from being associated with the errors if they are no longer occurring. So yeah, we need to maintain our current overall scheme for storing validat

[2021-02-21 04:59] arafat362 commented on #2442
If I want to specificy custom type post?

[2021-02-21 07:20] westonruter commented on #2442
AMP Stories are no longer included in the AMP plugin. Please inquire further in the [Web Stories repo](https://github.com/google/web-stories-wp/), which is the new home for AMP Stories experience that was in the AMP plugin.

[2021-02-22 01:01] westonruter commented on #5099
Well… the loopback requests would actually still be needed during the daily cron checks.

[2021-02-22 01:16] westonruter commented on #4779
OK, I think I got it. We should automatically garbage collect the validated URLs that have _never been touched_. This could mean:

1. Validated URLs on which all errors are unreviewed or which have no errors on them.
2. Validated URLs on which the status of their validation errors have not been directly mutated. (Errors have not been examined in the context of this URL.)

For 2, we'd need to store

[2021-02-23 04:40] #5894 closed, assigned to nobody

[2021-02-23 15:14] kmyram opened #5907 "[Epic] Updating labels"
Define types of issues as labels (pseudo-types) to better suit the different variants of work we do.

In this epic we track the separate tasks but with a finite range of updates, additions and changes to the list of labels we have already. Since the functionality is limited this is how we can distinguish among the issues on board and in backlog and we use the labels not only for quick tagging but

[2021-02-23 15:54] DiamondNL opened #5908 "How to make images stretch to full width?"
Hi,

I've been looking for a way to make images stretch to full width (100%), but I can't seem to figure out how.

The reason for this is because some text will display on the right of each image. E.g. https://pasteboard.co/JPHKbhYB.jpg

What code should I add/edit in amp/includes/sanitizers/class-amp-img-sanitizer.php ?

I found this piece of code (credits to @janvitos), but I'm not quite sure wh

[2021-02-23 15:57] DiamondNL commented on #5908
@kienstra @janvitos

[2021-02-23 16:21] kmyram opened #5909 "[Epic] Managing epics"
Most of the functionality in the roadmap can be described as epics - and we are managing epics in issues at the moment. We'll continue to do that but add some manual effort to track progress, capture information and manage it all in and around these issues.

Tasks are..

- [ ] Put epics into issues (by workstream)
- [ ] Compile list with complementary information in wiki
- [ ] Add categorization (

[2021-02-23 16:28] pierlon commented on #5908
@DiamondNL please open a topic in the support forum: https://wordpress.org/support/plugin/amp/#new-topic-0

Do note that it is not recommended to edit files within plugins or themes as you will lose your changes when it updates.

[2021-02-23 16:29] pierlon commented on #5908
If you are using Gutenberg to edit posts, setting the image alignment to full width should make the image full width on the page:

![image](https://user-images.githubusercontent.com/16200219/108874510-20eff980-75f4-11eb-9fce-fa287ddf746d.png)

[2021-02-23 16:29] #5908 closed, assigned to nobody

[2021-02-23 16:47] westonruter commented on #5893
This is part of #4664.

Maybe we should go ahead and and add the admin menu item as well which links directly to a support landing page on amp-wp.org or to the support forum directly.

[2021-02-23 17:30] delawski commented on #5304
@jwold @westonruter We may need to adjust the copy around the "Re-validate" message because of the way custom meta boxes are handled in the block editor. See https://github.com/ampproject/amp-wp/pull/5741#issuecomment-783508622.

As discussed, we may want to drop the message about post content change and leave the button alone.

[2021-02-23 18:38] #5772 closed, assigned to pierlon

[2021-02-23 20:28] archon810 commented on #5772
@westonruter 🎉

[2021-02-23 21:22] westonruter commented on #5772
Forwarding to @pierlon!

[2021-02-23 23:24] jwold commented on #5304
Great feedback @delawski and @westonruter. A few things:

1. What if we combine the `re-validate` button with the `AMP status` message? (see design)
2. I was working on two things in parallel. What the design language should be for this update, and then what we'd want to for a future release. More in this direction: https://d.pr/i/KnngTd. However, I think we can pull parts of that in now.
3. Not s

[2021-02-24 00:17] Nantris commented on #5913
~~Ah I figured these were supported since `classList` is listed as supported with no caveats. That's a bummer.~~

[2021-02-24 02:33] kristoferbaxter commented on #5913
This should be fully supported. DOMTokenLists are supported, and classList is one of them.

Can you provide a reproduction where it's not working?

[2021-02-24 06:52] pewgeuges commented on #5913
@Slapbox @kristoferbaxter The [Footnotes plugin for WordPress](https://wordpress.org/plugins/footnotes) has a hard links enabled mode since last year for AMP compatibilty, and alternative tooltips as well as an alternative reference container, both using plain JavaScript. The tooltips use this internal script:
[code]
You see that the only functions used are classList.add() and classList.remove().

[2021-02-24 11:34] delawski commented on #5304
So if there are no custom meta boxes active, then the UI (the notifications area) would still look like this, correct?

<img width="1116" alt="Screen Shot 2021-01-28 at 12 18 31 PM" src="https://user-images.githubusercontent.com/3411173/106193903-f9c41a80-6162-11eb-8495-c1446439b55b.png">

Then, for the just discovered case when there are custom meta boxes active, we would use the new UI as you pr

[2021-02-24 13:47] MultipliedByOne opened #5915 "AMP disables menu. unable to uninstall"
Website = thebagsystem.com

Installing AMP added an html error, affecting url's and menu, which could be a connection there with the menu not working because the urls that the menu's would link to are faulty now?
Analysis indicated a json inability to connect? I was only able to get my menu options to appear again while selecting to view the page with the AMP disabled. The menu worked. I removed A

[2021-02-24 15:00] kristoferbaxter commented on #5915
Is this an `amp-wp` issue?

[2021-02-24 15:02] kristoferbaxter commented on #5913
Transferred this issue to `amp-wp`, since this doesn't have to do with the implementation of WorkerDOM, but rather in the conversion of a document using Wordpress Plugins.

[2021-02-24 15:50] jwold commented on #5304
@delawski good point. Let's separate the messages and keep them in different notifications. The wording will need to be massaged of course, thinking something like:

If `no` custom meta boxes:

If `yes` custom meta boxes:

cc @westonruter

[2021-02-24 15:51] MultipliedByOne commented on #5915
Are you asking if the issue is related to the amp plugin of any kind or if I might mean from a different amp source? I used the wordpress AMP.
The errors in the html are highlighting amphtml codes
There seem to be a few issues, like doubling of my url’s where some have the index.php and the new doubled ones dont.
When I disabled the AMP in the setting mode for viewing, the website worked. The amph

[2021-02-24 15:53] rsmith4321 opened #5914 "Cover block issue with Wordpress 5.7"
## Bug Description

The 5.7 cover block now uses an img tag instead of background image. This causes problems with  amp  object-fit: contain, image does not fill background.

## Expected Behaviour

Image should cover entire background. I think object-fit: cover would be better.for the cover block

## Steps to reproduce

Create a cover block in wordpress 5.7 with a background image. You can check o