[2017-07-06 04:28] k-atul commented on #604
@amedina its fixed. thanks

[2017-07-06 05:24] KhalidAlmallahi opened #727 "Missing embedded video on AMP page"
Hello

we receive this message from google :

Google systems have detected AMP pages on your site that are missing videos contained in their corresponding canonical pages. Users expect to find all of the relevant content on an AMP page they would find on the equivalent canonical page. For the best user experience, we strongly recommend embedding all relevant videos in both pages.

What can do ?

[2017-07-06 05:58] R3dRidle commented on #697
That would be this link:
http://www.youtube.com/watch?v=Rit5bVrFmlw

![screen](https://user-images.githubusercontent.com/13661524/27897482-e15f8a1e-6220-11e7-8d7d-4d9763888cba.PNG)

[2017-07-06 09:39] Mte90 commented on #675
I was thinking that is a bug of AMP because they are not showed completely but in any case the same site is a wordpress site I don't understand the problem. Works without amp but with the plugin no.

[2017-07-06 11:16] steveHimself1397 commented on #372
Why would you close it then, if you are still looking into it? Is there a quick fix available besides "just deactivate the po.st plugin"?

[2017-07-06 12:02] AaronHolbrook commented on #608
`is_amp_endpoint()` is definitely a part of the AMP plugin: https://github.com/Automattic/amp-wp/blob/master/includes/amp-helper-functions.php#L42

The constant should be checked before utilized in that function. Please re-open this issue, it is not resolved.

[2017-07-06 13:42] gibrown commented on #542
@amedina should we keep this open to track it? This seems to be a constant thing that comes up with sites in Google search.

![2017-07-06 07 33 18](https://user-images.githubusercontent.com/820871/27913576-cd2a4c9e-621d-11e7-955e-03e6867e5a12.png)

The header gets hidden, and even if you can see the header, then it is not immediately obvious that it is a link. To some extent this is Google's probl

[2017-07-06 14:07] amedina opened #728 "Improve Paired-mode Templates"
One of the limitations of plugin at this moment is the simplicity of the of the used templates, which pose some UX challenges (e.g. not clear back navigation to the main site).

[2017-07-06 14:07] amedina commented on #728
https://github.com/Automattic/amp-wp/issues/542

[2017-07-06 14:09] amedina commented on #728
Considering [ampstart](https://ampstart.com/) as a plausible way to bring good templates to paired mode in the plugin.

[2017-07-06 14:10] amedina commented on #542
Hi @gibrown; I agree this is an important issue. It falls into the more general goal of improving the quality of the templates used by the plugin in paired mode (i.e. AMP vs. non-AMP). I opened an issue for that and referenced this one there. Let's track both together there.

[2017-07-06 14:45] amedina commented on #372
@steveHimself1397, there is no quick fix to this situation; it is not an issue of the plugin, but the context where it is used. Ideally it would be solved it for all scenarios. I am going to create a more concrete issue to track this but it is not defined yet. Thanks for raising the issue and for using the plugin.

[2017-07-06 15:43] amedina commented on #720
Check: https://github.com/Automattic/amp-wp/issues/697

[2017-07-06 20:10] amedina opened #729 "Add support for <amp-sidebar>"
Check: [amp-sidebar](https://www.ampproject.org/docs/reference/components/amp-sidebar)

This component can be used to implement menus/navigation use cases.

[2017-07-06 20:14] amedina opened #730 "Add support for <amp-accordion>"
Check: [<amp-accordion>](https://www.ampproject.org/docs/reference/components/amp-accordion)
Used often in conjunction with [<amp-sidebar](https://www.ampproject.org/docs/reference/components/amp-sidebar) for implementing menus and navigation

[2017-07-06 21:25] amedina commented on #613
Yeah; something is weird. I spent some time looking at the issue and the '<<' was indeed breaking the HTML as you observed. I switched to work on some theme-related stuff, and when I tried this again it seems to work (see attachment). Looking into it more.

Are you using the plugin version from Github or the one from Wordpress.org?
<img width="577" alt="screen shot 2017-07-06 at 2 21 59 pm" src="h

[2017-07-06 22:08] miken32 commented on #613
I’m installed via Wordpress, but if you give me a patch I’m happy to give it a test if needed.

[2017-07-06 22:19] amedina commented on #613
A quick check you could do is to download the plugin from GitHub and put it into your plugins directory; change the name of the plugin in amp.php so that it appears as a different plugin. Activate it and check your post. If that works, then the issue is the with the version of in Wordpress.org; we need to address this: https://github.com/Automattic/amp-wp/issues/720

[2017-07-06 22:20] amedina commented on #604
Thanks @k-atul; glad to hear. Thanks for using the plugin reporting the issue.

[2017-07-06 22:20] #604 closed

[2017-07-06 22:25] amedina commented on #362
Closing as it is fixed. Thanks @mjangda.

[2017-07-06 22:25] #362 closed

[2017-07-07 14:59] KhalidAlmallahi commented on #727
Link:

https://goo.gl/ZvN2pB
https://goo.gl/r8WuMi
https://goo.gl/NefYbs

[2017-07-07 15:13] amedina commented on #727
@KhalidAlmallahi In[ this link](http://abunawaf.com/%D9%83%D8%B4%D9%81-%D8%A7%D9%84%D9%86%D9%82%D8%A7%D8%A8-%D8%B9%D9%86-%D9%85%D8%B9%D8%A7%D9%86%D9%8A-%D8%A7%D9%84%D8%A3%D9%84%D9%82%D8%A7%D8%A8/amp/) from the list, I can't see the videos being included in the canonical page.

Please provide detailed information about the issue, including the video embed type you are trying to use, and the version

[2017-07-07 17:45] gibrown commented on #542
Sounds great, thanks!

[2017-07-11 17:23] TwisterMc commented on #442
Whatever happened to this? Is there any way to change the language of an AMP page currently?

[2017-07-14 20:11] mjangda commented on #614
This was addressed in #693

[2017-07-14 20:11] #614 closed

[2017-07-18 19:18] miaRaven opened #731 "AMP version shows bullets after every image"
Hi, AMP version of our posts shows 3 bullets after every image. You can see them on the screenshot below. Is there a way to remove them?
![image](https://user-images.githubusercontent.com/30271142/28335360-cb26874e-6c06-11e7-8a64-da9e4baea3dc.png)

[2017-07-18 20:27] paulschreiber opened #732 "build_post_featured_image() runs unnecessarily"
`build_post_featured_image()` runs unnecessarily, whether or not the featured image is shown in the template.

We have postmeta that determines whether to hide/show the image.

Result: if the featured image is a gif, `amp-anim` gets added to `amp_component_scripts`, which generates a warning in the AMP validator.

[2017-07-18 20:28] paulschreiber commented on #732
It would be helpful to be able to filter this i.e. `if ( apply_filters( 'amp_featured_image_is_visible', true ) ) { ... } `.

[2017-07-20 09:27] GalynaCh commented on #421
Hi, guys!
I've just implemented AMP plugin for the Wordpress (on this website: [https://perfectial.com/](https://perfectial.com/)) for blog articles. But when I'm testing my markup via Google AMP Testing Tool, I see an issue "Invalid CSS stylesheet" ([https://search.google.com/test/amp?id=bIZMZc3Z_AyT1XgyBJZsQQ](https://search.google.com/test/amp?id=bIZMZc3Z_AyT1XgyBJZsQQ)). How can I fix it?

[2017-07-21 13:33] EkoAlex opened #733 "Theme customizer gets initialized outside of admin area."
I noticed that the theme customizer changes that the plugin integrates get initialized even on the frontend regardless of whether the user is an admin or not.

In `amp.php`:

[code]

Wouldn't it make more sense to only load them when the admin is accessing the theme customizer?

[2017-07-21 16:11] jeiseman opened #734 "$authordata not set for amp posts so get_the_author_meta call doesn't work"
I have a shortcode in my post and the shortcode calls the function get_the_author_meta but this function fails on the amp page for the post because the global variable $authordata is not set (and the function get_the_author_meta depends on this global  variable). To workaround the problem I added the following to my functions.php:

[code]

[2017-07-21 19:07] jeiseman commented on #734
I was able to resolve the problem by passing the "post ID" to get_the_author_meta. I put the following into the shortcode function:

`    $post_id = get_the_ID();
    $post = get_post($post_id);
    $author = get_userdata($post->post_author);
    $str = get_the_author_meta("short-bio", $author->ID);`

[2017-07-21 19:07] #734 closed

[2017-07-23 08:26] 16patsle commented on #608
@amedina One last question then:

As mentioned in https://github.com/optimalisatie/above-the-fold-optimization/issues/32 , is there any reason the is_amp_endpoint() should fail because WP_Query/WPDB is unavailable? Like using it too early (all the plugins I know of at least check if the function exists before using it)?

[2017-07-23 19:04] miaRaven commented on #731
Nevermind. The culprit was an incompatible plug-in.

[2017-07-23 19:04] #731 closed

[2017-07-28 15:20] ActionCoding opened #736 "i-amphtml-sidebar-mask has z-index that covers links in sidebar"
Just noticed this recently but when using the amp-sidebar to show a menu when the sidebar is opened the mask is given a z-index value of 2147483646. This overrides the sidebar which makes the links unclickable

[2017-08-02 15:11] joesatch opened #737 "Amp storing way too many transient into wp_options database"
is there any way for making this plugin not storing transient into database, my wp_option table grows to 60k rows (yeah its considerably still small) but its great if we have some options to make it little bit efficient for small/minimum specs server.

thanks!

[2017-08-04 10:41] sa3i9a opened #738 "article content changed why ?"
<div class="amp-wp-article-content">
    <div class="lol">
        <h3>مشاهدة وقت المغامرة الموسم 3 الحلقة 10 مترجمة اون لاين مترجمة مشاهدة مباشرة و تحميل اون لاين مترجم روابط</h3>
        <h4>سيرفرات المشاهدة</h4>
        <p> server 1</p>
        <p>server 2</p>
        <p>server 3</p>
        <p> server 4</p>
        <h4>سيرفرات التحميل</h4>
        <p><a href="//sa3i9a.com/shortner/aHR0cHM6Ly9z

[2017-08-05 06:56] fahmi182 opened #743 "Adsense code in paragraf web version cannot remove"
Hi, new version always included adsense code in paragraf, make amp version not valid because script google adsense, how to remove element from "contents" wordpress?

[2017-08-05 07:18] fahmi182 commented on #743
Better back to 0.42 version :)

[2017-08-05 09:07] ktmn opened #744 "AMP Image Sanitizer throws notice when URL doesn't have protocol"
Using an image with an URL such as

    //placehold.it/500x340

Throws notice:

    Notice
    : Undefined index: http://placehold.it/500x340 in
    /wp-content/plugins/amp/includes/sanitizers/class-amp-img-sanitizer.php
    on line
    62

Seems like the AMP_Image_Dimension_Extractor adds a protocol and then the modified url wont exist in $need_dimensions

    foreach ( $need_dimensions[ $url ] a

[2017-08-05 09:49] ktmn commented on #744
Doesn't seem to work with relative urls either

    /images/image.png

[2017-08-05 10:15] ktmn commented on #744
Also a temporary solution to check and remap the urls, for [class-amp-img-sanitizer.php#L59](https://github.com/Automattic/amp-wp/blob/master/includes/sanitizers/class-amp-img-sanitizer.php#L59):

	$fixed_need_dimensions = [];
	foreach($need_dimensions as $original_url => $dom) {
		foreach($dimensions_by_url as $maybe_modified_url => $dimensions) {
			if(strpos($maybe_modified_url, $original_url)

[2017-08-06 07:20] ktmn commented on #632
Seems like version 0.5 removed them from blacklist, so forms like Contact Form 7 are now being displayed, but not functional.

[2017-08-06 10:33] Meh0 commented on #632
Yes, you have to either
- implement your own form endpoint
- or buy a premium plugin to extend Contact Form 7 functionnality

[2017-08-06 13:32] ktmn commented on #632
Placeholder attributes seem to be filtered out for some reason.

[2017-08-07 07:13] westonruter commented on #477
This can be closed per https://github.com/Automattic/amp-wp/pull/479#issuecomment-315458381

[2017-08-07 09:05] caouic commented on #743
Hi, same problem here.
The script adsense in post is also in amp version.
The amp version is not valid ...

[2017-08-07 09:10] caouic opened #745 "slider in post cause amp version not valid"
Hi,
I use metaslider plugin and any post with a slider is nota valid in amp version.
amp validator:
CUSTOM_JAVASCRIPT_DISALLOWED
`<script><![CDATA[
        var metaslider_XXXX = function($) {
            $('#metaslider_XXXX').responsiveSlides({
                timeout:7000,
                pager:false,
                nav:true,
                pause:true,
                speed:600,

[2017-08-07 09:58] caouic commented on #745
Back to 0.4.2 no problem with metaslider
post amp page:
[http://www.lesgoodnews.fr/2017/07/13/lethique-quete-des-fermes-davenir/amp/](url)

[2017-08-08 21:02] gellerby opened #746 "Blog Pagination URL Structure mismatch"
When accessing /blog/amp/, pagination works correctly however `/blog/page/6/` has a canonical `<link>` tag to `/amp/blog/page/6/` instead of `/blog/amp/page/6/`.

Google WMT is now saying there's a content mismatch between `/amp/blog/page/6/` and `/blog/page/6/` because `/amp/blog/page/6/` actually shows the first ten posts not page 6.

Any ideas? Thanks for the plugin by the way.

[2017-08-10 18:53] tmmbecker opened #747 "Javascript Error in Google Console When Wordads Is Enabled"
Two users reported this error in the Google Search Console when Wordads was enabled with AMP:

`Accelerated Mobile Pages > User-authored JavaScript found on page (Critical
issue). `

One user tracked it down to this:
[code]
@dbspringer had a look and thinks it's something in the code here. Can someone take a look?

Internal reference: 627192-zen, 565431-hc

[2017-08-11 16:22] fahmi182 commented on #747
Script, form inside article not remove automatically.. so many error with this version.

[2017-08-11 16:30] dbspringer commented on #747
Some context: the WordAds plugin is emitting some divs which contain a <script> tag in `the_content`. It seems the plugin is trying to do something helpful with this script by wrapping it in CDATA, but the desired result is to remove the script altogether.

[2017-08-11 19:57] maxinnos opened #748 "Google Analytics in Facebook Instant Articles"
We have been unable to find a way to have Google Analytics track anything in Facebook Instant Articles. We have added our GA code, but there is no reporting coming back into GA from our FB Instant Articles despite seeing traffic with other tools.

We have also tried adding in this structure to the page, both with <iframe> and <amp-iframe>, however both create validation errors:
`<figure class="op-

[2017-08-11 22:55] amedina commented on #748
Hi @maxinnos, are you referring to the FB Instant articles plugin? Here is the repository for that one: https://github.com/Automattic/facebook-instant-articles-wp

[2017-08-11 22:55] #748 closed

[2017-08-11 23:05] amedina commented on #720
Plugin has been updated!

[2017-08-11 23:05] #720 closed

[2017-08-11 23:06] amedina commented on #727
Closing this for now; please comment if problem persists and provide more info to track it. Thanks!

[2017-08-11 23:06] #727 closed

[2017-08-11 23:11] #680 closed

[2017-08-11 23:12] amedina commented on #680
Please reopen if needed with more info to understand and track the issue.

[2017-08-11 23:24] amedina commented on #715
I see your point @talgalili; but the the_content filter hook is needed to catch the content right after it is retrieved from the DB. Changing the hook to the_content_amp would require to define that hook to behave similarly to the the_content filter and that is outside the scope of the plugin. @mjangda WDYT?

[2017-08-11 23:29] amedina commented on #711
Hi @Blackbaud-WillHull, do you have an URL where we can see the problem?

[2017-08-11 23:31] amedina commented on #707
Closing this issue for now since there is no activity; please re-open if needed and we'll discuss.

[2017-08-11 23:31] #707 closed

[2017-08-11 23:48] amedina commented on #613
Plugin has been updated!

[2017-08-11 23:51] amedina commented on #609
HI @andregumieri, are you still observing this issue with your pages?

[2017-08-11 23:58] amedina commented on #383
Closing this issue for now; this should be working with the latest version of the plugin. Please reopen if needed.

[2017-08-11 23:58] #383 closed

[2017-08-12 00:43] Blackbaud-WillHull commented on #711
Here is an example where I had to add data-no-lazy="1" to my Wordpress post template on the featured image to bypass the lazy load: [http://windypinwheel.com/guest-post-5-ways-to-get-your-kids-to-drink-more-water-each-day/ ](http://windypinwheel.com/guest-post-5-ways-to-get-your-kids-to-drink-more-water-each-day/)

Because the site is live, I couldn't load it without it.  But if you take out the d

[2017-08-12 20:03] jenstarz opened #750 "Version 0.5 makes site inaccessible when AMP for WP also installed"
If you have the AMP for WP plugin installed (https://wordpress.org/plugins/accelerated-mobile-pages/) and you update the Automattic AMP plugin to .5, it causes the entire site (both front end and back end) to become inaccessible, except for the AMP version of the page/site if you access the site via an AMP URL.  You need to FTP to the site to remove the AMP plugin folder, update the AMP for WP plu

[2017-08-12 20:36] amedina commented on #750
Thanks for reporting this @jenstarz; this issue is related to both plugins becoming incompatible after the latest release of this plugin. As you pointed out @ Twitter, the AMP for WP plugin has removed the dependency with the Automattic plugin; hopefully their users will upgrade their plugin soon.

[2017-08-13 01:21] pppdog commented on #747
Me too.
`<script type="application/ld+json"><![CDATA[
{"@context":"http:\/\/schema.org\/",
 "@type": "Product",
text.......more]]></script>`

[2017-08-14 15:28] miken32 commented on #613
Just updated through Wordpress, still having the same problem. This is on version 0.5.

[2017-08-14 15:47] amedina commented on #613
Hi @miken32, I am testing a post in that sample `<pre>`-formatted text and it seems to work: https://amptest.wordpress.com/2017/08/14/formatted-text/amp/
I am looking into it to see what else could be happening.

[2017-08-14 16:05] miken32 commented on #613
Well I've confirmed it's not cached by updating the post, and syntax highlighting is still disabled.

[I put up a short test post](https://mike.eire.ca/2017/08/14/testing/amp/) with this content:
[code]

[2017-08-14 16:05] fokhwar opened #751 "Error: 'action' attribute missing in Form tag"
Hello guys,
Thank you for your effort on amp-wp plugin.

Below is my original article link. **(No 'action' attribute is missing in every 'form' tag)**
http://www.panacea-soft.com/teamps_product/restaurateur-ios/

But google amp tester shows error for amp page that **'action' attribute is missing in 'form' tag**.
http://www.panacea-soft.com/teamps_product/restaurateur-ios/amp

Please kindly help me

[2017-08-14 16:08] amedina commented on #613
Got it; don't know what is happening. Re-opening the issue to track the problem.

[2017-08-15 15:17] amedina commented on #750
Closing this issue for now; it would be good if the AMP for WP plugin authors indicate some specific issues to make the Automattic plugin compatible with them, and we would look at addressing them.

[2017-08-15 15:17] #750 closed

[2017-08-15 16:08] fokhwar commented on #751
Hello guys,
Error was solved after all in one schema.org plugin is disabled.
Currently I am using WP SEO Structure Plugin and no issue with AMP.
Thanks!

[2017-08-15 16:08] #751 closed

[2017-08-15 16:35] amedina commented on #751
Thanks @fokhwar! Glad to hear the issue was solved.

[2017-08-15 20:41] seejacobscott commented on #747
636092-zen

[2017-08-16 07:47] jenniejj opened #752 "User-authored JavaScript found on page (Critical issue)"
I’ve recently(starting 08/07/2017) started getting this error in my webmaster console and I currently have 71 errors and still counting.

The google AMP test page shows that is it **NOT a valid AMP page** and don’t know what’s causing this as I didn’t do any recent changes for any of my plugins besides regular updates.

Can someone tell what’s going on and what should I do in order to solve this i

[2017-08-16 10:11] bobsilon opened #753 "Custom Post Type Support Not Working"
Hi There,
I'm trying to add custom post type support as shown in wiki, but when I try to view my custom post using `/amp` in end of URL, it redirects to post's original URL. And of course, No `amphtml` meta tag added to source code of page.

This is how I registering my CPT:
[code]
I also **flushed** rewrite rules using permalinks and **deactivated** other plugins, but no change. Am I doing someth

[2017-08-16 10:26] lkraav commented on #752
Yes, same thing. This plugin has started leaving empty `<script></script>` tags since 0.5 release when filtering out incompatible tags. Seems like a bad regex matching issue, but I haven't had time to investigate for details yet.

[2017-08-16 14:07] RavanH commented on #747
Yep, same with the Post Adverts plugin script tags...

Seems that since class AMP_Blacklist_Sanitizer has been replaced by the class AMP_Tag_And_Attribute_Sanitizer, script tags are no longer stripped out. In fact, it seems that the script tag is now listed under the "additional_allowed_tags" with a mandatory attribute "text/javascript" or "application/json". See https://github.com/Automattic/amp-

[2017-08-16 14:11] lkraav commented on #752
This is probably a duplicate of #747

[2017-08-16 14:48] RavanH commented on #747
Note: I just tested:
1. uncommenting 'script' in the $node_types_to_remove_if_invalid array on https://github.com/Automattic/amp-wp/blob/master/includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php#L938
2. removing the two 'script' values from the $additional_allowed_tags array on https://github.com/Automattic/amp-wp/blob/master/includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php

[2017-08-16 14:54] RavanH commented on #747
Note 2:

Only thing that seems to be helping is to revert to the AMP_Blacklist_Sanitizer.

Go to https://github.com/Automattic/amp-wp/blob/master/includes/class-amp-post-template.php#L246 and uncomment that line. Then comment out line 254

[2017-08-16 15:45] amedina commented on #747
Hi Folks, @mjangda and I are looking into this asap.

[2017-08-16 16:33] simonrperry commented on #752
(I'm not sure it is a dupe @lkraav - this poss related, but different)

We've got 3.7k+ posts now reporting an error. I'm finding the following code being injected by v0.5 plugin. Issue disappeared after rolling back to v0.42

`<script><![CDATA[
	jQuery(".mobile_tel").replaceWith("<a rel='external' href='tel:"+jQuery(".mobile_tel").html()+"'>"+jQuery(".mobile_tel").html()+"");
]]></script>`

[2017-08-16 20:06] #747 closed

[2017-08-16 22:20] mjangda opened #755 "Sanitizer: JSON scripts are wrapped in CDATA"
Something like the following:

[code]

is allowed by the AMP spec. However, when output, they get wrapped in CDATA tags:

[code]

This fails AMP validation.

The CDATA may be added because we use `saveXML` to output the resulting HTML after sanitizing (see `AMP_DOM_Utils::get_content_from_dom()`) and may need a workaround here.

[2017-08-16 22:21] mjangda commented on #752
Should be fixed in #754.

[2017-08-16 22:21] #752 closed

[2017-08-16 22:40] amedina commented on #663
Hi @Cosrnos,

The supplied example: https://www.orwhateveryoudo.com/2015/07/strawberry-lemon-daiquiri.html/amp is validating properly: https://ampbench.appspot.com/validate?url=https%3A%2F%2Fwww.orwhateveryoudo.com%2F2015%2F07%2Fstrawberry-lemon-daiquiri.html%2Famp

Could you tell us if you are still seeing the issue on your end?

[2017-08-17 06:26] #744 closed

[2017-08-17 08:58] SeoLifePRO opened #758 "Parsing script Jquery issue"
When finding of the tag < / div > parsing stops and everything after him gets to a amp page.

`jQuery("#"+id+" .quasar-portfolio-body .relative-container").wrap("<div class=\"relative-container-holder large-"+img_col+" medium-"+img_col+" columns\" "+boxed_extra_style+"></div>");
if(jQuery("#"+id+" `

AMP Page:
`</div>");
if(jQuery("#"+id+" .`

How to correct this error?

[2017-08-17 10:16] simonrperry commented on #752
Just so you know @mjangda, this plugin seemed to be generating the .mobile_tel code block. It doesn't appear on our non-AMP pages.

Good to see action to remove all non-complaint tags as a cover all.

[2017-08-17 11:20] Salaikawltu opened #759 "Warning Shown"
I recently use an facebook instant article for my website. After the approval. Still i cannot post and submit the post appropriately to the instant article.

It shows this warning. Please help the easiest way to fix this.

 This post was transformed into an Instant Article with some warnings [Learn more | Transformer rule configuration | Toggle debug information]

No rules defined for <div> in the

[2017-08-17 15:19] mjangda commented on #759
This is the repo for the AMP plugin. For Instant Articles, please go to https://github.com/Automattic/facebook-instant-articles-wp

[2017-08-17 15:19] #759 closed

[2017-08-17 15:19] mjangda commented on #758
What version are you using?

[2017-08-17 19:23] brunomosciatti opened #760 "Auto insert playbuzz ID"

[2017-08-17 20:32] amedina commented on #760
Please provide details of the issue filed. Thanks!

[2017-08-17 20:42] brunomosciatti commented on #760
On WP we insert the playbuzz tag like this:
`[playbuzz-item item="id-from-the-content-here" format="story"]`

and the <amp> tag for playbuzz is:
[code]

I need to when inserted the playbuzz-item in wordpress, automatically insert the id of this content into the "src" of <amp>

[2017-08-17 20:51] amedina commented on #760
Hi @brunomosciatti, Playbuzz is not currently supported by the plugin. I will create an issue to add support for it. Will link this issue there and close this one.

[2017-08-17 20:51] #760 closed

[2017-08-17 20:52] amedina opened #761 "Playbuzz not working in 0.5.1"
http://www.playbuzz.com/

[2017-08-17 20:52] amedina commented on #761
Related to: https://github.com/Automattic/amp-wp/issues/760

[2017-08-17 20:57] brunomosciatti commented on #761
On WP we insert the playbuzz tag like this:
[playbuzz-item item="id-from-the-content-here" format="story"]

and the tag for playbuzz is:

<amp-playbuzz
	    src="id-from-the-content-here"
	    height="500"
	    data-item-info="true"
	    data-share-buttons="true"
	    data-comments="true">
	</amp-playbuzz>
I need to when inserted the playbuzz-item in wordpress, automatically insert the id of this

[2017-08-18 03:39] Salaikawltu commented on #759
Thanks bro letme try it

[2017-08-18 03:50] Salaikawltu commented on #759
brother still same thing happen. I have install what you have recommended. I already installl this Instant Articles for WP before as well. Help please

[2017-08-18 04:52] Salaikawltu opened #763 "Facing Problem with upload video using Instant Article"
Please i beg your help. I an unable to post a video using my newly lunched facebook instant article. Video cannot be viewed using instant rather it take me directly to my website. How can i post a upload a video from you tube or any orther source using this facebook instant article.

Thanks.

[2017-08-18 05:56] amedina commented on #759
@Salaikawltu You need to file the issue in the repository for the FB Instant Articles plugin. This is not that plugin.

[2017-08-18 05:57] amedina commented on #763
This is not the repository for the FB IA plugin.

[2017-08-18 05:57] #763 closed

[2017-08-18 10:57] SeoLifePRO commented on #758
I using version 0.5.1

[2017-08-18 11:56] lysk88 commented on #761
@amedina  hey, playbuzz items should be supported, its already merged into the master and went live with version 0.5 (see change log).
however, i'm experience issues with last the update ( version 0.5.1) when the the amp-playbuzz component seems to be stripped out.

[2017-08-18 12:05] brunomosciatti commented on #761
hey @lysk88 , I saw your name on changelog :D

so are you saying that this issue was solved with version 0.5? How can I do it?

thanks

[2017-08-18 12:11] lysk88 commented on #761
@brunomosciatti
seems like amp-playbuzz not working well with version 0.5.1.
I will open a new issue to handle this from there.

meanwhile , you can try to install version 0.5, amp-playbuzz should working fine with that version.  you can download it from here [https://wordpress.org/plugins/amp/advanced/](url)

[2017-08-18 12:13] brunomosciatti commented on #761
@lysk88 got 404 for this url :/

I can install version 0.5 but how the amp-playbuzz works? Its auto generated?

[2017-08-18 12:16] lysk88 commented on #761
yes.

[2017-08-18 12:22] lysk88 opened #764 "amp-playbuzz not working"
hey guys,  seems like amp-playbuzz not working as expected on version 0.5.1.
amp-playbuzz tag seems to be stripped out.
however, the amp-playbuzz script does loaded.

Version 0.5 working fine though.

Any ideas? Thanks.

[2017-08-18 13:24] brunomosciatti commented on #761
thanks a lot @lysk88 ! it really works on 0.5

[2017-08-18 16:28] #622 closed

[2017-08-18 16:28] amedina commented on #761
Hi guys, my bad. Looking into it.

[2017-08-18 16:35] amedina commented on #764
Hi @lysk88, Looking into it. Closing this issue to track it [here](https://github.com/Automattic/amp-wp/issues/761) (you are in that thread as well)

[2017-08-18 16:35] #764 closed

[2017-08-18 16:38] amedina commented on #761
HI @lysk88, @brunomosciatti My bad; looking into it.

[2017-08-18 17:05] amedina commented on #761
@lysk88, @brunomosciatti Could you share some of the shortcodes you are using to test? (if they are public stories)

[2017-08-18 17:17] lysk88 commented on #761
sure, try this
`[playbuzz-item item="022092ce-8a99-48ab-aa5a-a40517c77074" format="list"]`

[2017-08-18 23:05] amedina commented on #761
@lysk88,  Are you using another plugin such as [this one]( https://en-ca.wordpress.org/plugins/playbuzz/)?

Playbuzz is not "directly" supported by the plugin in the sense that there is not an embed handler for it; instead, the plugin transcodes a Playbuzz embed placed in the post via other means (e.g. another plugin) into an amp-playbuzz component. Want to determine how is the playbuzz shortcode

[2017-08-19 10:32] foo71 opened #765 "Image size problem when file name in chinese"
My page image is not displaying correctly when the image filename is in Chinese character, amp-wp-unknown-size for the image, the size is stretched
Url: http://mykitchen101.com/%E8%B1%86%E9%85%B1%E8%92%9C%E8%93%89%E8%92%B8%E6%8E%92%E9%AA%A8/amp/

[2017-08-19 16:09] lysk88 commented on #761
sorry, i think i confused you.
 this -> `[playbuzz-item item="022092ce-8a99-48ab-aa5a-a40517c77074" format="list"]`
is playbuzz shortcode that can be transcoded to playbuzz embed code  ->
`<script type="text/javascript" src="//cdn.playbuzz.com/widget/feed.js"></script>
<div class="pb_feed" data-embed-by="64fc80bf-6235-4325-9068-9c7eb32714b2" data-item="022092ce-8a99-48ab-aa5a-a40517c77074"  ></div

[2017-08-21 08:52] k-atul commented on #753
@bobsilon
have you defined a constant for custom post because you are using it in 2 ways

like value: in quotes
add_post_type_support( 'ORDME_SLUG_TYPE_ARTICLE', AMP_QUERY_VAR );

and then as constant var as-well: without quotes
register_post_type(ORDME_SLUG_TYPE_ARTICLE
'rewrite' => array('slug' => ORDME_SLUG_TYPE_ARTICLE,

probably you need to change it, either use as constant or as value and th

[2017-08-22 10:49] tmmbecker opened #766 "WordAds "Advertisements" Shown Incorrectly on AMP Pages"
In sites running Jetpack Ads (Wordads) and AMP, the "Advertisements" heading is shown in the incorrect location.

To replicate:
1. Connect Jetpack and add a Premium or Professional plan.
2. Activate the Ads module.
3. Load the /amp version of any post or page.

Example page: https://www.binaryworld.es/2017/08/21/general/noticias/rumores-nuevos-posibles-elementos-iphone-8/amp/

This is in Spanish s

[2017-08-22 11:35] Oddrigue commented on #440
I also have this issue. I tried [ACF-AMP](https://ampforwp.com/acf-amp/) but it didn't sanitize the content in repeaters

[2017-08-24 19:20] stephywells opened #769 "Forms aren't able to validate correctly"
The verify-xhr attribute is missing and needs to be allowed for forms in order to run validation and show the error messages.

Also, the options currently allowed for visible-when-invalid do not pass AMP formatting validation. These must be camel caps in order to pass.

Pull request: https://github.com/Automattic/amp-wp/pull/768

[2017-08-26 12:34] moisespr commented on #761
Hi guys, I have this in Search Console for several AMP with playbuzz:
"The extension 'amp-playbuzz' was found on this page, but is unused."

I found out that 'src' is a required attribute, but amp-playbuzz supports either 'src' or 'data-item'. As a quick workaround I'm inserting an empty 'src' attribute in AMP_Playbuzz_Sanitizer when 'data-item' is found.

Looking forward for a real fix.

Thanks

[2017-08-26 12:58] moisespr commented on #761
My workaround doesn't work, not I"m getting: Mutually exclusive attributes encountered in tag 'amp-playbuzz' - pick one of ['src', 'data-item'].

[2017-08-27 12:47] alongendler commented on #761
Hey @amedina,
Do you have any news? can i help in someway?

[2017-08-27 15:01] trenzterra commented on #169
Any updates on captions? It is the only thing making my AMP page incomplete.

[2017-08-28 13:17] Goran-n opened #770 "Multiposts do not work"
We are using amped sense to display ads.

Our site uses multi posts, example:

http://reciperoost.com/2017/08/27/this-3-in-1-breakfast-lunch-and-snack-recipe-will-make-you-everyones-favorite-person/
and
http://reciperoost.com/2017/08/27/this-3-in-1-breakfast-lunch-and-snack-recipe-will-make-you-everyones-favorite-person/2

When we install amp the multi post does not work. Instead the entire post w

[2017-08-28 20:45] amedina commented on #761
@alongendler Unfortunately I haven't had time to dig into this at all :( We will as soon as we can.  If you have a proposed solution please submit a PR.

[2017-08-29 12:32] anand-ammathil opened #771 "Validation errors are not reported for “i-amphtml” appearing in CSS"
The text (CDATA) inside tag 'style amp-custom' contains 'CSS i-amphtml- name prefix', which is disallowed.

[2017-08-29 12:37] anand-a6 commented on #771
it's my mistake. i added .i-amphtml in custom css

[2017-08-31 12:11] brunomosciatti commented on #761
Hey guys, after updating my plugin Im with some issues according to Google Search Console.

AMP Page for example: https://todateen.com.br/anitta-dj-alok-produzindo-parceria/amp/

The Amp Validator (https://validator.ampproject.org/) says that is a <script> tag not allowed

Printscreen: https://sketch.io/render/sk-974a93e9b0d78d4a3ac7bc2e9a57ba73.jpeg

[2017-08-31 12:36] brunomosciatti opened #772 "A not allowed script tag appeared"
Hey guys, after updating my plugin Im with some issues according to Google Search Console.

AMP Page for example: https://todateen.com.br/anitta-dj-alok-produzindo-parceria/amp/

The Amp Validator (https://validator.ampproject.org/) says that is a <script> tag not allowed
Printscreen: https://sketch.io/render/sk-974a93e9b0d78d4a3ac7bc2e9a57ba73.jpeg

The playbuzz tag:` [playbuzz-item item="5ea7b9e

[2017-09-01 06:36] cungminh2710 opened #773 "Add support for amp-install-serviceworker"
Check out [amp-install-serviceworker](https://www.ampproject.org/docs/reference/components/amp-install-serviceworker).
Wordpress users can enable their service worker script in AMP

P/s: I would love to contribute if possible

[2017-09-03 09:56] pooria-jahedi opened #774 "how customize AMP wordpress theme manually?"
I have many wordpress pages like : pages.php , search.php ,single.php , ...
how can i AMP these pages ?

[2017-09-06 11:53] nekromoff opened #775 "Add support for Google AMP Client ID API"
https://support.google.com/analytics/answer/7486764

[2017-09-06 11:53] nekromoff commented on #775
https://support.google.com/analytics/answer/7486764

[2017-09-07 07:38] merlinox opened #776 "[REQ] meta amp-google-client-id-api"
Please add this feature:
<meta name="amp-google-client-id-api" content="googleanalytics">

via https://support.google.com/analytics/answer/7486764?hl=en

[2017-09-08 05:27] mcdtech commented on #149
I'm getting the same.  Not sure why this changed, but latest updates have broken AMP for me

[2017-09-08 10:01] IvanPr commented on #149
I had started to update the AMPforWP plugins on my Staging servers first and then migrate it to the Live copy only - there are too many bugs in every new update :(

[2017-09-08 23:58] nakitadog opened #777 "Add filters for template header and footer parts"
I can see how amp_post_template_head allows me to add code to the <head> and amp_post_template_footer allows me to add code to the footer. Is there a way to add code just after the opening <body> tag without having to create my own template?

[2017-09-12 11:05] brunomosciatti commented on #772
anyone?

[2017-09-14 16:17] Goran-n commented on #770
bump

[2017-09-14 18:56] htrex opened #778 "How to enable it on the main theme?"
I'm starting to build a custom WP theme with native AMP code and planning to introduce service workers later on to transform it in a Progressive Web AMP (PWA) application.

I understand that this plugin offers alternative amp urls  instead, using a simplified theme to render posts while doing the hard job to cleanup the content.

I'd like to remove the alternative amp url that is injected in the p

[2017-09-15 08:14] rajuginne commented on #652
i am getting this problem how to fix

[2017-09-15 14:14] kellyho67 commented on #652
Ok I have solved this.. I went into the database and remove all the config options for this plugin.. I then was able to re-enable it and re-enter the settings.

It may be a good idea for this plugin to log errors to the wordpress log file when debug it turned on.

Kelly

On Sep 15, 2017, 2:14 AM -0600, Raaz Kumar <notifications@github.com>, wrote:

[2017-09-17 14:41] rajuginne opened #779 "not compatible with php 7"
[php7:error] [pid 10793] [client 203.187.233.104:4344] PHP Fatal error: Uncaught Error: Class 'DOMDocument' not found in /var/www/wpdirectory/wp-content/plugins/amp/includes/utils/class-amp-dom-utils.php:7\nStack trace:\n#0 /**var/www/wpdirectory/wp-content/plugins/amp/includes/class-amp-content.php(98)**:
AMP_DOM_Utils::get_dom_from_content('<p>Welcome to W...')\n#1 /var/www/wpdirectory/wp-conten

[2017-09-17 15:02] rajuginne commented on #779
Not worked even php 7.0 also

[Sun Sep 17 14:57:02.503179 2017] [:error] [pid 18036] [client 203.187.233.104:3224] PHP Fatal error:  Uncaught Error: Class 'DOMDocument' not found in /var/www/wpdirectory/wp-content/plugins/amp/includes/utils/class-amp-dom-utils.php:7\nStack trace:\n#0 /var/www/wpdirectory/wp-content/plugins/amp/includes/class-amp-content.php(98): AMP_DOM_Utils::get_dom_from_content

[2017-09-17 15:06] rajuginne commented on #779
<?php

require_once( AMP__DIR__ . '/includes/utils/class-amp-dom-utils.php' );
require_once( AMP__DIR__ . '/includes/sanitizers/class-amp-base-sanitizer.php' );
require_once( AMP__DIR__ . '/includes/embeds/class-amp-base-embed-handler.php' );

**class AMP_Content {**  //line 7
	private $content;
	private $amp_content = '';
	private $amp_scripts = array();
	private $amp_styles = array();
	private $

[2017-09-17 15:07] rajuginne commented on #779
`<?php

require_once( AMP__DIR__ . '/includes/utils/class-amp-dom-utils.php' );
require_once( AMP__DIR__ . '/includes/sanitizers/class-amp-base-sanitizer.php' );
require_once( AMP__DIR__ . '/includes/embeds/class-amp-base-embed-handler.php' );

class AMP_Content {  //line 7
	private $content;
	private $amp_content = '';
	private $amp_scripts = array();
	private $amp_styles = array();
	private $arg

[2017-09-17 15:11] lkraav commented on #779
@rajuginne I think the problem may be that your PHP7 haven't built or enabled the DOMDocument module. Review your server software configuration.

[2017-09-17 15:19] rajuginne commented on #779
Thank you, it's working after installing this

**sudo apt-get install php-xml**

[2017-09-17 15:19] #779 closed

[2017-09-25 19:46] mmills0 opened #781 "Img height or width = auto results in AMP validation error"
Force run of determine_dimensions() on images set with height/width=auto and eliminate the AMP error due to missing height/width.

https://github.com/Automattic/amp-wp/blob/master/includes/sanitizers/class-amp-img-sanitizer.php#L40

Update to:

[code]

Or check `is_numeric()` instead of specifically for 'auto' ? Thoughts?

#

[2017-09-27 19:43] warrentab opened #782 "Where Does Ad Code Go for AMP?"
Hello;

I am using the AMP plugin for WordPress. I am noticing that my ads are not showing up in my AMP articles.

I checked the documentation from Google about how to create an ad unit: [(https://support.google.com/adsense/answer/7183212?hl=en)]

I'm just not sure where to place any of the code, as the documentation refers to "mobile pages." Where would these mobile pages reside? Do they mean my

[2017-10-01 20:01] native-apps commented on #314
Oh what a bummer. Still an issue today? I just stumbled on this and noticed the permalinks break when using %category% in the custom permalinks field. Has anyone figure a work around yet? Because there is no way we will ever change our permalink structure and destroy healthy SEO.

[2017-10-04 12:16] brunomosciatti commented on #761
@moisespr how did u solve "The extension 'amp-playbuzz' was found on this page, but is unused. Please remove this extension." ?

[2017-10-09 20:51] bribeiro opened #783 "Placeholder for iframes"
Under the assumption that it's desirable to make possible the use of iFrames anywhere on the page, and considering the documentation where it says `An amp-iframe may not appear close to the top of the document (except for iframes that use placeholder as described below). The iFrame must be either 600 px away from the top or not within the first 75% of the viewport when scrolled to the top, whichev

[2017-10-10 04:39] JanBask commented on #636
we try to resolve amp related issue but not able to resolved how can i do for this website [https://www.janbasktraining.com/courses/digital-marketing](https://www.janbasktraining.com/courses/digital-marketing) please suggest me,

[2017-10-11 09:31] Itsathere opened #784 "AUTHOR_STYLESHEET_PROBLEM,CUSTOM_JAVASCRIPT_DISALLOWED"
I am unable to use style-sheet from project directory and also unable to use **<script>** without type="application/ld+json" but if i use **type="application/ld+json"** instead  of **type="text/javascript"** then script not getting loaded.

I have script like below
**<script src="~/lib_bower/sweetalert/dist/sweetalert.min.js"></script>**
or
**<script type="text/javascript">
    $(document).on("rea

[2017-10-11 16:56] thomkitchen opened #785 "Warnings with arguments passed to function with amp_post_template_metadata hook"
Just noticed that in trying to modify the json metadata created by the plugin, the example uses:

[code]

I'm getting:
Warning: Missing argument 2 for nesn_amp_modify_json_metadata(), called in...

When I remove $post as a parameter, warning isn't present.

[2017-10-11 17:11] mjangda commented on #785
Does your `add_filter` call look like this:

[code]

Note the `2` as the fourth param.

[2017-10-11 17:19] thomkitchen commented on #785
Woops!

I did not and that did it. Thank you.

[2017-10-16 13:37] 4eAgency commented on #314
I've same problem, amp doesnt work for single article if /%category%/%postname%/ is set in permalink structure. Im waiting for response.

[2017-10-17 20:35] rachmatyanuarsyah commented on #784
`<script>` tags are generally not allowed in AMP. There are a handful of external javascript files, built as part of the AMP project, which are allowed and even required in some cases. Other than those, javascript is not allowed. Custom script tags are not possible with AMP.

AMP pages can’t include external stylesheets, with the exception of custom fonts. You can embed custom fonts into your page

[2017-10-19 14:37] danielcardoso5 commented on #367
This is an issue. I have also an open issue related to this. The amp-iframe specification refers to using an amp-img inside an iframe to behave as a placeholder when the amp-iframe is loading. This is necessary to display amp-iframes on top of the document. Also, setting a <div overflow></div> is not possible using your code. This is also in the specification and allows for the user to expand the

[2017-10-19 14:39] danielcardoso5 commented on #783
I also have an issue with amp-iframes. The amp-iframe specification refers to using an amp-img inside an iframe to behave as a placeholder when the amp-iframe is loading. This is necessary to display amp-iframes on top of the document. Also, setting a <div overflow></div> is not possible using this plugin. This is also in the specification and allows for the user to expand the iframe if it's on th

[2017-10-19 16:26] abrambailey opened #787 "AdSense or DoubleClick integration"
Is there a way to add AdSense or DoubleClick to AMP pages??

[2017-10-20 14:52] joshbetz opened #788 "AMP_Content_Sanitizer::sanitize assumes `$sanitizer_classes` will be an array"
AMP_Content_Sanitizer::sanitize assumes `$sanitizer_classes` will be an array and does no validation.

[code]

[2017-10-20 15:04] #788 closed

[2017-10-23 21:06] bribeiro commented on #783
I just sent a PR; I hope it helps.
https://github.com/Automattic/amp-wp/pull/790

[2017-10-25 05:00] rajuginne commented on #782
you can place manually within paragraphs,  auto sticky ads [place Adsense ads on  amp ](http://theonlineking.com/how-to-add-adsense-amp-ads-to-wordpress/)

[2017-10-25 13:20] warrentab commented on #782
Hello, Raaz -

Thanks for your reply. Please note I am using an API to generate the
articles from my CMS. I am concerned that placing ads manually for AMP will
create problems in the desktop view.

Regards,

Warren T.

On Wed, Oct 25, 2017 at 1:00 AM, Raaz Kumar <notifications@github.com>
wrote:

[2017-10-25 17:58] jnthnclrk opened #791 "Is_amp_request?"
Hi,

How do I check if for an AMP request? Found some snippets online, but I'm pretty sure I have the function name ("amp_is_amp_request") wrong:

[code]

Perhaps there is a more suitable function to check for?

[2017-10-25 18:27] jnthnclrk commented on #791
Found this on WP Support and it works great!:

[code]

[2017-10-25 18:27] #791 closed

[2017-10-26 01:47] westonruter commented on #290
Such as a non-animated transparent GIF? What else would there be to support?

To detect whether or not a GIF is animated, this may depend on a core patch, such as [28474.2.diff](https://core.trac.wordpress.org/attachment/ticket/28474/28474.2.diff). We'd then probably need to cache whether it is animated in `_wp_attachment_metadata` postmeta.

[2017-10-26 05:10] westonruter commented on #773
There is a Jetpack PR that that is exploring service worker support for AMP: https://github.com/Automattic/jetpack/pull/7963/files#diff-97de6c62610ad3a332813a5f0e5aaa2eR107

[2017-10-26 05:12] westonruter commented on #774
Pages and archives are not yet supported. See #313 and #619.

[2017-10-26 05:15] westonruter commented on #772
See also #761.

[2017-10-26 05:30] westonruter commented on #635
The `iframe` element does not have a `resizable` attribute, in HTML5 anyway.

[2017-10-26 06:26] rajuginne commented on #782
you are facing on the template which will auto insert on every post until you update the plugin

[2017-10-26 09:36] danielcardoso5 commented on #635
Yes it doesn't, but since it's being removed by WP it's not possible to set resizable amp-iframes.

[2017-10-26 14:30] warrentab commented on #782
Hello, Raaz -

I've got the latest version of the AMP for WordPress (by Automattic)
installed, so there is nothing to update.

Please explain what you mean by "you are facing on the template ".

Thanks for your help,

Warren T.

On Thu, Oct 26, 2017 at 2:26 AM, Raaz Kumar <notifications@github.com>
wrote:

[2017-10-26 17:35] westonruter commented on #635
@danielcardoso5 how are you indicating that the iframe is resizable in non-AMP? There _is_ a [`resize`](https://developer.mozilla.org/en-US/docs/Web/CSS/resize) CSS property which could be used as a signal:

[code]

It's not exactly the same semantics, as it means whether it should be user-resizable not whether it should be auto-resize. Otherwise, the closest thing I can think of would be the `sea

[2017-10-27 08:53] danielcardoso5 commented on #635
In non-AMP situations, I use a script that receives postMessages coming from inside the iframe and then the script sets the communicated height to the iframe since they live in the same scope and don't have CORS issues. It behaves the same way AMP does, the difference is that since AMP doesn't allow scripts the message I send from inside the iframe matches the requirements AMP needs, like this:

[

[2017-10-27 09:09] danielcardoso5 commented on #635
Check this code I'm using:

`<iframe data-template="collage" src="https://primetag2.azureedge.net/embed/collage.html?slug=z9M7E0n1N&owner=13" width="100%" height="334" layout="responsive" sandbox="allow-scripts allow-popups allow-same-origin allow-forms allow-popups-to-escape-sandbox" resizable frameborder="0" style="background:transparent;border:none;overflow:hidden;"></iframe><span style="displa

[2017-10-30 17:01] sureshpulipati opened #792 "How to add navigation menu and sidebar menu"
How to add navigation menu and sidebar menu in AMP and also hot import scripts like `<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>`. I'm using custom theme in my wordpress

[2017-11-02 23:52] amedina commented on #609
Closing this for now; please re-open if this is still an issue.

[2017-11-02 23:52] #609 closed

[2017-11-02 23:57] amedina commented on #661
Closing this as not an issue with the plugin; Ads support to be provided by 3P plugins.

[2017-11-02 23:57] #661 closed

[2017-11-03 00:09] #144 closed

[2017-11-03 00:35] amedina commented on #293
Closing this; the suggested approach is to add this support on Jetpack's side.

[2017-11-03 00:35] #293 closed

[2017-11-03 00:56] amedina commented on #784
Thanks for answering this @rachmatyanuarsyah

[2017-11-03 00:56] #784 closed

[2017-11-03 00:57] #785 closed

[2017-11-03 20:41] westonruter commented on #130
We could do `HEAD` requests to both the HTTP and HTTPS versions to see if they return the same headers. If so, we could then remember that and automatically rewrite the HTTP URLs to use HTTPS for a given domain.

Otherwise, something we could consider is implement a WP-based proxy to pass-through HTTP resources as HTTPS. It would be a hack. Existing implementation: https://github.com/xwp/wp-custom

[2017-11-04 08:00] websevendev commented on #792
Create a template for the sidebar

[code]

You'll probably need to fork your menu walker and customize it to output amp-accordions and sections.

Then load the template in header-bar.php or where you need it:

`$this->load_parts(['sidebar']);`

and also add a trigger button:

`<button class="hamburger fa fa-bars" on="tap:sidebar-nav-menu.toggle"></button>`

If the sidebar is going to be on every p

[2017-11-04 08:05] websevendev commented on #787
You need to load the amp-ad component

[code]

and in templates put your ad network code:

[Adsense](https://github.com/ampproject/amphtml/blob/master/ads/google/adsense.md):
[code]

[DoubleClick](https://github.com/ampproject/amphtml/blob/master/ads/google/doubleclick.md):
[code]

[2017-11-04 23:16] westonruter commented on #507
Here's how nesxt/previous pagination support can be supported in your theme.

In your theme, add a file named `amp/post-pagination.php` that contains:

[code]

Then in your `functions.php` add the following snippet:

[code]

You'll need to add the desired styling separately.

And you'll probably also want something like this to ensure that the links point to the AMP versions:

[code]

[2017-11-05 17:57] westonruter commented on #778
What you're looking for is “AMP-as-canonical” (AMP Canonical) and initial support for this is being worked on in #668. It is planned for but it's not yet a capability. You can follow that pull request for updates.

[2017-11-05 17:57] #778 closed

[2017-11-05 21:14] apautler opened #794 "Issue Filtering Content"
I am using a variety of custom fields in my post, so I wrote a function to add those to the AMP pages. I am using an action/filter to run the custom field data through the_content filter via:

[code]

The ap_amp_add_custom_fields is where I have all of the custom field data output. The main issue is I have YouTube links included in the custom fields. On some posts it appears to be filtering the co

[2017-11-06 00:03] westonruter commented on #794
You need to amend `the_content` at a lower priority. You're currently appending at the priority 10 (which is the default). Embeds are processed at a priority of 8. Try this code:

[code]

See underlying code in [`WP_Embed::__construct()`](https://github.com/WordPress/wordpress-develop/blob/a4f27c25bc86483491959ccbb364cfccff4d6f8d/src/wp-includes/class-wp-embed.php#L32-L40) for where the priority o

[2017-11-06 00:03] #794 closed

[2017-11-06 00:31] westonruter opened #796 "Merge AMP Customizer with main Customizer"
**[Edited] Refer to the latest [acceptance criteria] https://github.com/Automattic/amp-wp/issues/796#issuecomment-347296271**
___

Currently if you want to Customizer your AMP template you have to go to Appearance > AMP in the admin, and this will open the Customizer in a blank slate with only the AMP panel registered. The latest post is loaded in to the preview, and navigation of the site is disa

[2017-11-06 00:38] westonruter commented on #796
In paired mode (the only mode presently), there can be an AMP toggle that appears with the device preview buttons, where you can decide whether or not you want to preview the AMP version or not, if it is available. When in canonical mode (#668) then this button would not be needed because every URL would already be in AMP mode.

[2017-11-06 00:40] westonruter opened #797 "Add support for comments"
In order to make AMP Canonical possible (#668) we'll need native support for WordPress commenting. We could create an `amp-wordpress-comments` component, and extend `comment_form()` and `wp_list_comments()` to accept `format=amp` which would then render this.

See also:
https://www.ampproject.org/docs/tutorials/login_requiring
https://ampbyexample.com/samples_templates/comment_section/

[2017-11-06 00:54] westonruter opened #798 "Allow Custom Post Types to be enabled via admin/customizer"
**[Edited] Refer to the latest [acceptance criteria](https://github.com/Automattic/amp-wp/issues/798#issuecomment-346595030).**
___
As [noted](https://github.com/Automattic/amp-wp#custom-post-type-support) in the readme:

This requires someone to write code for adding support. However, this ability to opt-in to post type support could instead be presented in the admin (or in the Customizer) so tha

[2017-11-06 00:55] jwold commented on #798
Attached is an annotation showing how this could look when added into the admin settings with the AMP plugin activated:

![settings](https://user-images.githubusercontent.com/3411173/32421134-2cde53d8-c24a-11e7-8775-c4c9653c84d5.jpeg)

[2017-11-06 00:58] westonruter opened #799 "Add post preview support for AMP"
**[Edited] Refer to the latest [acceptance criteria](https://github.com/Automattic/amp-wp/issues/799#issuecomment-346622668).**
___
There is currently no way to preview how a post will look in AMP mode prior to publishing. We could add an AMP button next to existing Preview button which opens post with `?amp=1` in URL. Given post url of `http://example.com/?p=2043&preview=true` you just add `&amp=

[2017-11-06 08:03] #773 closed

[2017-11-06 21:00] amedina commented on #797
@westonruter creating an amp-wordpress-comments component may not be necessary (and it would be hard to land it into the library); but the referenced methods can be extended to generate a  AMP-compatible format.

[2017-11-06 21:04] #787 closed

[2017-11-06 21:15] amedina commented on #776
Duplicate [https://github.com/Automattic/amp-wp/issues/775]

[2017-11-06 21:15] #776 closed

[2017-11-06 21:15] westonruter commented on #797
I saw the [`amp-facebook-comments`](https://github.com/ampproject/amphtml/tree/master/extensions/amp-facebook-comments) component so I thought that might be a path, but yeah, it probably wouldn't be necessary since we could just use `amp-form` and other existing components.

[2017-11-06 21:30] amedina commented on #797
Thinking more in general, I wonder if it would make sense to propose the creation of a set of AMP components that are specific to WordPress; given the prevalence of WP in the web ecosystem, the requirement of "general utility" would be satisfied. Will run the idea around to gather perspective.

[2017-11-06 21:46] jwold commented on #799
Attached are some ideas for how we could display an AMP preview button within the WordPress admin. Would love feedback on these and other suggestions:

<img width="1366" alt="amp preview" src="https://user-images.githubusercontent.com/3411173/32465590-dd6fa590-c2f8-11e7-865c-fd3239cd955c.png">

[2017-11-06 23:17] westonruter commented on #799
@jwold what about having a “combo” button similar to the Customizer in 4.9:

![image](https://user-images.githubusercontent.com/134745/32469007-91de3c7e-c305-11e7-91c4-239f057f8d8e.png)

But instead of the gear icon it could the AMP logo.

[2017-11-07 18:28] westonruter commented on #271
Whitelist sanitizer was implemented as of #600, with additional remaining work in #689.

[2017-11-07 18:28] #271 closed

[2017-11-07 20:06] westonruter commented on #709
@doodirock There is a filter you can use to disable AMP support for a given post.

Let's say you add a custom field in postmeta called `amp_skipped` which if it has an non-empty value it should cause the post to get skipped:

![image](https://user-images.githubusercontent.com/134745/32515106-dd643a46-c3b3-11e7-991c-3e66d468ec6b.png)

You can then add support for that custom postmeta by adding the

[2017-11-07 20:09] westonruter commented on #221
One implementation is available here: https://github.com/Automattic/amp-wp/issues/507#issuecomment-341936843

[2017-11-07 20:15] westonruter commented on #709
@amedina Having a toggle like this may be critical for adding support for pages (#176), since pages often have ad hoc structure. We could potentially use the opt-out checkbox instead of forcibly skipping AMP for pages that have custom templates selected.

[2017-11-07 21:31] jwold commented on #799
Adding the AMP logo in place of the gear could work well, my main concern would be if people know what that is.

[2017-11-07 22:20] westonruter opened #801 "Discontinue use of register_activation_hook() to flush rewrite rules (on multisite)"
Currently the rewrite rules get flushed at the `register_activation_hook()`. This works fine for single-site installs. However, it does not work on multisite. For multisite users, they then have to hit the permalinks admin screen for every site in order to flush the rewrite rules. For large networks, this is not feasible. So the plugin should probably do more dynamic checking at runtime if all the

[2017-11-07 22:28] westonruter commented on #799
We could add have a tooltip, though we'd need to keep in mind accessibility and touch users.

[2017-11-08 19:35] abrambailey opened #802 "The tag 'FORM [method=GET]' requires including the 'amp-form' extension JavaScript."
I'm seeing this error being generated on my site.

`The tag 'FORM [method=GET]' requires including the 'amp-form' extension JavaScript.`

This is from the generated amp html:
[code]

[2017-11-08 23:04] westonruter commented on #709
There could be an interesting crossover with the AMP Validator here and we could essentially auto-populate the checkbox. Consider this:

1. I add an embed to the content that is not supported by AMP.
2. I update the post/page.
3. After updating the source of the AMP page is scraped and sent off to the validator
4. If there are validation errors, then the AMP checkbox would be unchecked and disable

[2017-11-08 23:06] westonruter commented on #709
In fact, this auto-detection of validation could potentially be used _instead_ of introducing a checkbox at all. It could be entirely determined by validation. This would allow posts/pages to eventually start automatically becoming AMP-compatible once the plugin adds support for more and more embeds.

[2017-11-08 23:29] amedina commented on #709
I like the thinking here. Still, providing the checkbox may be necessary to enable opting out for specific pages even if they are valid.

[2017-11-10 14:03] petrchutny commented on #147
How can I add a fixed URL to my logo @mjangda? I feel like your plugin generates the AMP Code, so I can't really inject stuff into it easily.
P.S.: I am not much of a programmer.

[2017-11-10 14:06] michaeltorbert opened #803 "Move admin menu from top-level"
Having a top-level menu seems like overkill and goes against the plugin handbook: https://developer.wordpress.org/plugins/administration-menus/

<img width="777" alt="screen shot 2017-11-10 at 9 02 52 am" src="https://user-images.githubusercontent.com/17364998/32661732-0f7f5558-c5f6-11e7-8b34-6a34a133207a.png">
<img width="193" alt="screen shot 2017-11-10 at 9 02 47 am" src="https://user-images.gi

[2017-11-11 01:45] westonruter commented on #803
Agreed. We're thinking of consolidating the options into the Customizer. This will then allow for analytics changes to be tested before they go live. In 4.9 with the Customizer's frontend preview link, you'd be able to navigate to the site's frontend and then inspect the analytics calls.

Aside: In ≥4.9 we should use the new code editor control to add syntax highlighting and and linting for the JS

[2017-11-11 01:53] michaeltorbert commented on #803
@westonruter That sounds awesome!
In the meantime, it would be pretty quick and easy to demote the existing menu to a submenu.

[2017-11-11 07:36] westonruter commented on #777
No, there is not currently. However, the array of parts that are passed into `load_parts` could be filterable like for the entry header and footer. So instead of:

[code]

It could potentially be replaced with:

[code]

That would then allow for you to prepend a new template before the `header-bar` part.

[2017-11-11 07:39] westonruter commented on #802
Where is the form coming from? Is it in the post content or is it somewhere else? Is it coming from a shortcode?

[2017-11-11 07:46] #774 closed

[2017-11-11 07:49] westonruter commented on #770
Did you disable the AMP plugin on your site? Multi-paged posts are not supported yet.

[2017-11-11 07:56] westonruter commented on #782
Please share an example canonical URL for your content, as well as the AMP version. How are you currently adding ads to your site?

[2017-11-11 08:00] westonruter commented on #766
It appears that AMP is no longer active on the site.

Nevertheless, I should think that Jetpack should actually be patched to fix compatibility with AMP, and not the other way around.

See also #217.

[2017-11-11 08:00] #766 closed

[2017-11-11 08:04] westonruter commented on #769
Closing since #768 has been merged.

[2017-11-11 08:04] #769 closed

[2017-11-11 08:08] westonruter commented on #758
Please share the AMP URL that demonstrates the problem.

Nevertheless, jQuery and JavaScript generally are [not allowed](https://www.ampproject.org/learn/about-how/) in AMP:

So I don't think this is something that is an AMP plugin problem.

[2017-11-11 08:08] #758 closed

[2017-11-11 08:18] westonruter commented on #753
There is a typo in your `ordme_article_amp_cpt` function. It should contain:

[code]

Whereas currently it is incorrectly passing a string `'ORDME_SLUG_TYPE_ARTICLE'`.

[2017-11-11 08:18] #753 closed

[2017-11-11 08:20] westonruter commented on #746
What is `/blog/` here? Is it an index page?

Please share the actual URLs for your site where the problem can be seen.

[2017-11-11 08:21] westonruter commented on #745
This issue should be fixed in 0.5.1.

[2017-11-11 08:21] #745 closed

[2017-11-11 08:24] westonruter commented on #733
No. The Customizer needs to be able to bootstrap in any request, whether in the admin or not. When the Customizer preview window loads, it's actually the frontend of the site, but with the Customizer bootstrapped. You'll see that core as well looks to bootstrap the Customizer at `plugins_loaded`: https://github.com/WordPress/wordpress-develop/blob/138ffd4/src/wp-includes/default-filters.php#L406

[2017-11-11 08:24] #733 closed

[2017-11-11 08:25] westonruter commented on #743
This should be fixed in 0.5.1.

[2017-11-11 08:25] #743 closed

[2017-11-11 08:28] westonruter commented on #737
Yes, if you switch to using a [persistent external object cache](https://codex.wordpress.org/Class_Reference/WP_Object_Cache#Persistent_Cache_Plugins) like Memcached or Redis (and you should), then the transients will not be stored in the database.

[2017-11-11 08:28] #737 closed

[2017-11-11 08:29] westonruter commented on #736
I think this may actually be an issue for the [amphtml](https://github.com/ampproject/amphtml) project itself.

[2017-11-11 08:29] #736 closed

[2017-11-11 08:40] westonruter commented on #732
How are you turning off a featured image from being displayed? Are you doing something like:

[code]

If so, then it would seem to me that the scripts returned by `AMP_Img_Sanitizer` should get queued up _after_ the filter applies, not before.

[2017-11-11 08:42] westonruter commented on #730
By adding support, do you mean to automatically enqueue the script in the head when it is used in the page?

[2017-11-11 08:42] westonruter commented on #730
Or rather, support in that the bundled theme template should go ahead and display widgets inside of an `amp-accordion`?

[2017-11-11 08:49] westonruter commented on #715
There's not really any difference between the two, other than some syntactic changes. If we added a `the_content_amp` filter then it would essentially require the AMP plugin to add:

[code]

However, you would then not have control over the priority for when your `the_content_amp` filters apply in relation to the filters for `the_content`.

Since you can easily write your own wrapper like the abov

[2017-11-11 08:49] #715 closed

[2017-11-11 08:57] westonruter commented on #711
Can you please share the source code for your post template?

[2017-11-11 09:03] westonruter commented on #688
Minifying CSS with PHP can lead to unexpected results, especially considering that the `content` property can reference any string at all. Maybe the occurrence of such problems would be rare, but in order to do it properly we'd need to use an actual CSS tokenizer rather than use regular expressions for search and replace.

[2017-11-11 23:59] paulschreiber commented on #688
It should be minified with an existing tool, such as cssmin. Don't write your own minifier. If this CSS is static, it can be done at build time, not runtime.

[2017-11-12 16:54] abrambailey commented on #802
This comes from the following raw html on a page.
[code]

[2017-11-12 17:35] abrambailey commented on #802
@westonruter Is there a class name that I can apply to this form's containing div to have it ignored for the amp version? Like `class="hide_in_amp"` or something?

[2017-11-12 21:33] warrentab commented on #782
Hi, Weston -

Please excuse my ignorance when it comes to these things. I am not quite
sure what a canonical URL is but here's a snippet from a SERP:

CrossIceHockey.com - For the Recreational Hockey Player
<https://www.crossicehockey.com/>
https://www.crossicehockey.com/
<https://www.google.com/search?rlz=1C1CHBD_enUS727US727&ei=jbwIWtjEEISWmQHZuKCwBA&q=recreational+hockey&oq=recreational&gs_l=ps

[2017-11-12 21:46] warrentab commented on #782
Hi again -

I just verified that I've got a WordPress plugin for AMP, and it has been
installed and activated.

However, looking at the AMP Analytics Options I do not see any data in any
of the fields. Just not sure what should appear there.

Thank you again.

Warren

On Sat, Nov 11, 2017 at 2:56 AM, Weston Ruter <notifications@github.com>
wrote:

[2017-11-12 23:37] amedina commented on #782
@warrentab Use of Ads with the plugin is supported only in a "manual" way at the moment. As some of the replies indicated, in your case the ad code is not being inserted in the right way. Please check the section on "Custom Sanitizer" in the README, which explains how to use a custom sanitizer to inject ads into your content.

Also note that the AMP pages you shared are not valid AMP. You indicate

[2017-11-12 23:37] #782 closed

[2017-11-13 08:00] westonruter opened #804 "Update allowed tags according to AMP specification"
**[Edited] Refer to the latest [acceptance criteria](https://github.com/Automattic/amp-wp/issues/798#issuecomment-346595030).**
___
It appears that the [`amp_wp_build.py`](https://github.com/Automattic/amp-wp/blob/647b003d90d7141ca7b54329ca186942ae149e46/bin/amp_wp_build.py) script hasn't been run since it was introduced at the end of 2016. Since that time, the [changes](https://github.com/Automat

[2017-11-13 19:44] westonruter commented on #798
As with #803, let's merge the analytics into a general AMP settings screen, and we can have it appear under the Settings parent admin menu. We'll start by adding it to the admin screen and then we'll in a later issue move it to the Customizer, along with analytics.

[2017-11-13 20:01] westonruter commented on #709
Yeah, let's postpone any integration with the AMP validator for a future enhancement.

[2017-11-16 19:39] westonruter opened #806 "Build out list of all vanilla WordPress “blocks” and their AMP compatibility"
**[Edited] Refer to the latest [acceptance criteria](https://github.com/Automattic/amp-wp/issues/806#issuecomment-348982141).**

_____

We want to ensure that if you have AMP installed as the sole plugin in a WordPress install that everything you can do in a vanilla WordPress site is compatible with AMP: every embed that a user can add to a post, every inserted media, every widget added to a sideb

[2017-11-16 20:02] amedina opened #807 "Add meta tag for identifying AMP pages generated by plugin"
**[Edited] Refer to the latest [acceptance criteria](https://github.com/Automattic/amp-wp/issues/807#issuecomment-347297897).**
___

It would be very useful to have a distinct signature for easily identifying AMP pages generated by the plugin; something along these lines:

[code]

[2017-11-17 18:49] westonruter opened #808 "Disable New Relic APM agent script in AMP responses"
I've had to throw in an `mu-plugin` on a couple AMP plugin deployments for sites that have New Relic running:

[code]

This disables the New Relic APM agent from inserting its script in the head. This is needed to prevent AMP validation errors. It should probably be part of the AMP plugin itself since New Relic is pretty common. Adding support will remove one more thing that a user will have to do

[2017-11-17 19:00] westonruter opened #809 "Improve handling of WordPress post embeds"
The handling of post embeds isn't great in AMP right now because the `p.wp-embedded-content` isn't getting replaced with the `iframe.wp-embedded-content` like it does in the non-AMP version. The result is some doubling of content.

Compare in a post I just published:

[Canonical (non-AMP) version](https://weston.ruter.net/2017/11/16/mel-choyce-recap-on-wordpress-4-9/):

[AMP version](https://westo

[2017-11-20 09:17] MattGeri commented on #314
This issue shows itself when selecting and one of the custom permalink structures on the `Permalinks` settings page in WordPress. My issue was when using the `/%year%/%monthnum%/%day%/%postname%/` structure. The problem is that the attachments rewrite rule gets matched before the AMP rule.

Until this get's fixed, you can use the following code to get your endpoints to work (this is for the `/%yea

[2017-11-20 14:41] ThierryA commented on #798
_Starting with development..._

[2017-11-21 17:03] westonruter commented on #798
Since the goal is to eventually move to Customizer anyway, let's not worry about #803 here. For the moment we can add a new “AMP > Settings” admin submenu page under the existing AMP menu item, and it can then be the default subitem appearing before Analytics. (Having a separate admin screen for Analytics still makes sense since @ThierryA points out that the fields are repeatable.) This AMP > Sett

[2017-11-23 11:34] ThierryA commented on #798
FYI: acceptance criteria have been added to [this issue description](https://github.com/Automattic/amp-wp/issues/798#issue-271331560).

[2017-11-23 13:41] ThierryA commented on #709
### Acceptance criteria:

1. A label will be added within the Publish metabox, “AMP: <value>”
2. The label will display whether AMP is enabled or disabled on the page. “<value>” will either display:
   * “Enabled” if AMP is enabled for the page
   * “Disabled” if AMP is not enabled for the page
3. Next to the “AMP: <value>” label will be an “edit” link.
4. Selecting the “edit” link will expose 2 r

[2017-11-23 13:45] ThierryA commented on #176
### Acceptance criteria:
1. WordPress core page post-type support will be added.
2. Similar to how Posts are currently, Pages will be capable of being AMPlified.
3. All pages will default to “enabled” if the “pages” checkbox is selected (enabled) in the AMP post types settings, see #798. The AMP version of the page should not be enabled if the “pages” checkbox is deselected (disabled) in the AMP s

[2017-11-23 13:47] ThierryA commented on #799
### Acceptance criteria:
1. The existing “preview” button within the publish metabox will be updated to be a button group.
2. The button will display “Preview”, as it does today.
3. The right side of the button (separated by a vertical pipe) will display the AMP logo.
4. Selecting the left side of the button where “Preview” is displayed will allow the user to preview the original version of the pa

[2017-11-23 13:48] ThierryA commented on #804
### Acceptance criteria:
1. We will conduct a Discovery to fully determine how the existing script is working.
2. Based on the findings of the Discovery we will determine the best way to fix the components/functions of the script that are either broken or not working as intended.
3. More details to come post Discovery...

[2017-11-27 19:22] MackenzieHartung commented on #796
### Acceptance criteria:
1. The existing AMP panel will be merged into the main Customizer.
2. Once in the Customizer, with the AMP panel expanded, the user will be able to navigate throughout the site, previewing each page with the AMP URL.
3. In the event a user navigates to a page that is not AMP enabled a notification will display within the AMP panel to inform the user that they should naviga

[2017-11-27 19:27] MackenzieHartung commented on #807
***Acceptance Criteria

1. The plugin will automatically generate a meta tag for easy identification of AMP Pages.
2.  The meta tag will be as follows (or the like): <meta name="generator" content="AMP Plugin v0.5.1" />

[2017-11-27 20:13] westonruter commented on #176
This will be especially important in the case of pages with user-supplied page templates. If a page template has functionality in it that is hard-coded in PHP and showing the page in the AMP template is just not going to be acceptable, then a user would need to disable AMP for the page. We may want to consider defaulting AMP to “disabled” when a custom page template has been selected.

[2017-11-27 20:16] westonruter commented on #176
One more thing to note on acceptance criteria: the AMP versions of URLs _may_ include `?amp` even with pretty permalinks enabled. This may turn out to be required to play nicely with rewrite rules generated for pages to disambiguate from pages about someone's favorite guitar amp, for example.

[2017-11-29 20:46] stephengreer08 opened #814 "WordPress.org version not in sync"
It seems like the [WordPress Repo](https://wordpress.org/plugins/amp/) version of this plugin is a different code base, yet they link to each other and have the same version number.

Are there plans to update the WP.org version to the same as what is here? If not, they probably shouldn't link to each other, or at least have a note in the README about this and different version numbers.

[2017-11-29 21:21] MaximSiebert commented on #796
Explored what the 'Preview AMP' toggle could look like, can be seen in the figma file [here](https://www.figma.com/file/n1jjDTHSmUa6431FpUnA5Y/AMP-Customizer-Prototype-Copy).

Including a screenshot for reference, but please leave any feedback in the figma file!

<img width="509" alt="screen shot 2017-11-29 at 4 19 58 pm" src="https://user-images.githubusercontent.com/4451296/33399588-3301be6e-d52

[2017-11-29 21:38] westonruter commented on #796
I like how the toggle style is similar to what is in Gutenberg:

![image](https://user-images.githubusercontent.com/134745/33400216-2a77f572-d50a-11e7-8827-f00dafa27448.png)

I also like how the tooltip has the notification as part of the tooltip.

We should, however, make sure that all of this fits on one line.  I think the Preview toggle should be positioned directly tho the left of the Desktop

[2017-11-29 21:40] westonruter commented on #814
The version in GitHub will always be ahead of what is on WordPress.org. The GitHub version is bleeding edge “trunk” whereas WordPress.org is the last stable release.

[2017-11-30 11:53] matif78 opened #815 "How to add Custom Header in theme folder"
Hi,
I am using header-bar.php in plugins folder, when i have updated plugin the header-bar.php change. Is there anyway where i can add custom header-bar.php in themes folder?

Thanks
A

[2017-11-30 16:48] shaneonabike commented on #486
This doesn't work because the template doesn't verify if the categories are empty and simply outputs them regardless

[2017-11-30 17:02] MaximSiebert commented on #796
Makes sense to me Weston! Here's and updated screenshot, I bumped the icon and font size of 'hide controls' to fit the amp toggle.

<img width="459" alt="screen shot 2017-11-30 at 12 00 58 pm" src="https://user-images.githubusercontent.com/4451296/33443741-5218a114-d5c6-11e7-846f-9a3c337665d4.png">

[2017-12-01 20:43] stephengreer08 commented on #814
@westonruter okay, that makes sense. We were cloning the most recent version of the develop branch, rather than the actual release. Thank you for clearing that up.

[2017-12-01 20:43] #814 closed

[2017-12-03 00:16] ActionCoding opened #817 "URGENT: Prohibited HTML Tag with AMP equivalent"
I recently updated to 5.1 and now I am getting "The tag 'img' may only appear as a descendant of tag 'noscript'. Did you mean 'amp-img'?"

It was working perfectly in 5.0. Why would you remove vital functionality with an update?

[2017-12-03 02:01] #817 closed

[2017-12-03 02:01] ActionCoding commented on #817
N/A

[2017-12-03 22:51] uniquechukwuma commented on #636
I have tried several times to fix related issues in my AMP in order to have them prominently served to mobile users in my website http://foodforbloggers.com/free-web-directories-building-backlinks/?wpamp, only 2 was resolved out of 9. Please Help

[2017-12-04 14:44] MackenzieHartung commented on #806
# Acceptance Criteria

1. Anything that WordPress allows to be input into post content, regarding embeds, should be supported by AMP.
2. Generate a list of all embeds that exist within WordPress (out of the box experience).
3. Verify which of the embed types work in AMP, somewhat work in AMP, or do not work in AMP.

[2017-12-05 03:57] paulschreiber commented on #732
We have a metabox with a checkbox titled "Show image on article page." When the box is _not_ checked, we save some postmeta to indicate suppression.

In the template itself, we retrieve the value of the postmeta, put it in `$show_featured_image`, and call something like this:
[code]

In the `amp_post_template_data` filter, we have code like this:
[code]

[2017-12-05 09:15] #807 closed

[2017-12-06 00:40] westonruter opened #818 "Integrate AMP validator into Customizer preview"
When previewing a URL in the Customizer, it can automatically include `#development=1` in the loaded previewed URL, and then we could potentially show the validation errors _in the UI_ without requiring the user to open the dev tools. This could be especially useful if connected with #799 so that when clicking the AMP Preview button it could open the post preview _in the Customizer_ so that not on

[2017-12-06 11:29] kevinptt0323 opened #820 "Image size problem when jetpack Photon enabled"
1. Enable Photon (image CDN) of Jetpack
2. Write a post with images
3. Open amp page

The size of image might be incorrect because jetpack removes height and width of `img` tag.

[2017-12-06 11:38] kevinptt0323 commented on #820
Oops, it seems like they keep image size in [Jetpack 5.6](https://github.com/Automattic/jetpack/releases/tag/5.6).

[2017-12-06 11:46] #820 closed

[2017-12-06 19:09] #798 closed

[2017-12-06 19:20] brianlayman commented on #802
For now, you could add the amp-form extension through a function hooked to the action 'amp_post_template_head', checking for that specific page.

[2017-12-06 21:40] harute125 opened #821 "The attribute 'height' in tag 'amp-img' is set to the invalid value ''"
height property missing on amp-img tag
here is the code
<amp-img class="aligncenter size-full wp-image-1129 amp-wp-enforced-sizes" src="http://www.everythingonlinesem.com/wp-content/uploads/2017/02/Reputation-Marketing.jpg" alt="Reputation Marketing" width="640" height="" srcset="https://www.everythingonlinesem.com/wp-content/uploads/2017/02/Reputation-Marketing.jpg 1000w, https://www.everythingon

[2017-12-07 08:20] hrkhal opened #822 "Add caption support to all amp-instagram embeds"
We've started to receive "Social Media Issues" emails from the Google Search Console because our `amp-instagram` embeds are missing captions which we display on the canonical by default.

They state: "Instagram posts embedded in the article are missing captions, which leads to context being lost."

Caption support for `amp-instagram` embeds was only added at the end of March this year.
https://git

[2017-12-07 13:12] PrafullaKumarSahu opened #824 "How to disable contactform 7 or make it work on amp page?"
IN current situation my amp [page](http://www.greenaircleaningnyc.com/new-york-city-sanitation-garbage-recycling-procedures/amp/#development=1.) is showing jquery is not defined causing the contact form ( "Get a free quote" ) not working. I would like to be working as expected same to non-amp page or would like remove it from all amp pages. Please give me some idea how I can achieve it?

[2017-12-07 13:18] #824 closed

[2017-12-07 14:14] harrisdavid commented on #761
The issue is in /includes/sanitizers/class-amp-allowed-tags-generated.php
In the Playbuzz definitions (arround line 1200) the "attr_spec_list" has "src" incorrectly set as a mandatory field.
As far as I can tell you could use src or (more commonly and used by the WP Playbuzz plugin) data-item to get valid playbuzz items.
Commmenting out the 'mandatory' => true gets the tags working as they should

[2017-12-07 15:41] #709 closed

[2017-12-07 15:41] #799 closed

[2017-12-07 18:48] jwold commented on #798
@ThierryA got a question about how this works. Using the following screenshot: http://d.pr/i/xrTNY6.

A. If I checkmark “Bar” will I be forcing AMP to be enabled for this CPT?
B. If I checkmark “Baz” will I be forcing AMP to disable this CPT?

I'm a bit confused about how checking something off could cause different results.

[2017-12-07 18:57] westonruter commented on #798
@jwold sorry, I actually made those parenthetical comments part of the registered post type labels themselves:

![image](https://user-images.githubusercontent.com/134745/33733047-42321f06-db3d-11e7-9216-305fe53e6006.png)

This was just to help with testing to know that one of the post type is configured to be forced-on, and another with forced-off. Normally these parenthetical comments would not b

[2017-12-07 18:59] jwold commented on #798
Ahh, thanks so much! I should have read the CPT in the sidebar to realize.

So if a post type (such as bar) is configured forced-on, what happens if I do checkmark it and what happens if I don't? Same thing with the force-disabled option.

[2017-12-07 19:17] westonruter commented on #798
An error message will be displayed after saving, indicating that your choice was not persisted, and why.

[2017-12-07 20:09] ThierryA commented on #176
@westonruter I added that to the ACs.

[2017-12-07 22:29] westonruter commented on #815
See https://github.com/Automattic/amp-wp#example-override-author-template-from-theme

[2017-12-07 22:29] #815 closed

[2017-12-08 00:32] mikeschinkel opened #827 "Add support for using regular WordPress theme templates in AMP, in paired or canonical modes"
We have a project where we need to build the entire site in AMP, and we are finding several of the architecture decisions for this plugin to make that more difficult than it needs to be.

It seems everything assumes routing through `template_redirect` and then to be served inside `AMP_Post_Template->verify_and_include()` and making the `$this` variable visible within the themes _(and hence other A

[2017-12-08 00:48] westonruter commented on #827
One of my goals for AMP is to make the template system more WordPressy. Actually, the ultimate goal is to make WordPress themes themselves to be AMP-compatible, that is, Canonical AMP (#668). This will require that we make sure that WordPress's own templating system can be made to output only that which is AMP compatible, or to output-buffer the output and sanitize the entire rendered HTML. More d

[2017-12-08 00:55] westonruter commented on #746
@gellerby The AMP plugin doesn't currently apply to the blog index page, so unless you can provide more details we'll not be able to advise.

[2017-12-08 00:55] #746 closed

[2017-12-08 01:41] mikeschinkel commented on #827
@westonruter Interesting.  Thanks for the super-fast reply.  Let me see what I can come up with.

[2017-12-08 02:33] mikeschinkel commented on #827
@westonruter How stable is the current `develop` branch?  Should I work off that or `master` or `0.5.1`?

[2017-12-08 02:34] westonruter commented on #827
@mikeschinkel use `develop` as the base branch. It is stable and now the default branch.

[2017-12-08 03:27] westonruter commented on #176
See PR #825 which is pending merge to resolve this issue.

[2017-12-08 06:11] westonruter commented on #822
Makes sense to me. Feel free to open a pull request.

[2017-12-08 19:32] csossi commented on #807
Tag appearing as:
<meta name="generator" content="AMP Plugin v0.6.0-alpha" />

on AMP pages

[2017-12-08 20:37] csossi commented on #799
@westonruter , if a user is creating an "AMP optional" page and sets their ENABLE AMP radio button to "disabled", and then SAVE DRAFT, the refreshed screen has the new AMP LOGO button disappear. Makes sense.

But if they do the same thing except elect to PREVIEW before SAVE, then a preview will appear. It's a non-AMP page that shows up but wondering if it's possible to have the AMP LOGO button dis

[2017-12-08 21:07] csossi commented on #798
AC verified, along with WP error messages re: invalid checking/unchecking

[2017-12-08 21:46] westonruter commented on #799
@csossi I think it makes sense the way it is now. The switch from enabled to disabled should only cause the post to not be previewable once the change has been saved. The same goes for switching from published to password-protected: the password is only enforced once you hit save.

[2017-12-08 22:11] #176 closed

[2017-12-08 23:47] westonruter commented on #803
In the current version of the plugin in `develop` (0.6.0-alpha) there are now two admin screens: one for general settings (for now the supported post types) and the second for analytics:

![image](https://user-images.githubusercontent.com/134745/33789659-1cd7f904-dc2f-11e7-83b3-86b774a0ad3d.png)

[2017-12-08 23:47] #803 closed

[2017-12-10 16:40] csossi commented on #176
Went to Contact Us page at http://amp-xwp-testbed.pantheonsite.io/contact/?amp which has AMP enabled. I ran an AMP Validator extension and it noted the attached error.
![image](https://user-images.githubusercontent.com/16945664/33807044-e3e6f91c-dd9e-11e7-87e2-29ca364f28b8.png)

[2017-12-10 16:42] csossi commented on #799
Understood - thanks

[2017-12-10 18:02] westonruter commented on #176
@csossi Thanks for that. This is actually something that I had done as part of #819 but deployed to the testbed prior to merging the PR.

I fixed the issue here: https://github.com/Automattic/amp-wp/pull/819/commits/a38d024a8e5dcc82d9bb79b7b2b1a21edad0d7b7

Re-deployed and the issue has been resolved: http://amp-xwp-testbed.pantheonsite.io/contact/?amp#development=1

[2017-12-11 16:26] csossi commented on #176
verified in QA

[2017-12-11 17:10] ThierryA commented on #806
## AMP Support

AMP Support | Status
------------ | -------------
Media Gallery | ✅
Media Image | ✅
Media Video | ✅
Media Audio | ✅
Media Video playlist | ❌
Media Audio playlist | ❌

[2017-12-11 18:58] kienstra commented on #781
**Question About Whether Issue Still Exists**

Hi @mmills0,
Thanks for opening this issue. Does this issue still exist for you? It looks like the conditional checks for the attribute of `'auto'` have been deleted.

The snippet [from this line](https://github.com/Automattic/amp-wp/blob/master/includes/sanitizers/class-amp-img-sanitizer.php#L40) in your comment above no longer has these expressions:

[2017-12-11 19:39] kienstra commented on #253
*Align Is Now An Allowed Attribute*

It looks like since this issue was opened, `align` [was added](https://github.com/ampproject/amphtml/commit/145a033e0c0f5ddeabf8afa7183553e454de6a5e#diff-695a0119f06368dee3ab53e1395ef725R2586) as an allowed attribute of `<div>`.

[2017-12-11 19:57] kienstra commented on #237
**Looks To Be Resolved**

There's now a [regex](https://github.com/Automattic/amp-wp/blame/develop/includes/sanitizers/class-amp-allowed-tags-generated.php#L50) to check for the allowed 'rel' values for `<a>` elements. This is consistent with the AMP specification's [blacklisted_value_regex](https://github.com/ampproject/amphtml/blame/master/validator/validator-main.protoascii#L1192). But this loo

[2017-12-11 20:05] mikeschinkel commented on #827
@westonruter Okay, so with the first PR passing all tests I'm ready to move on to the actual need that got me involved; getting the plugin to support AMP on all theme templates.

One of the biggest issues I currently see with the current architecture is that it allows plugin and site developers to couple their code `$this` from the `AMP_Post_Template` _(at least PageFrog does this.)_  Since PHP do

[2017-12-11 21:44] mikeschinkel commented on #827
@westonruter It seems that you have some other code in development, likely to provide support for `$post_type='page'`?  I want to make sure I don't step on that effort, but here are some of my thoughts.

`AMP_Post_Template` is doing too much, violating the _"S"_ in S.O.L.I.D.  Now I am not a zealot about SOLID I do think it is instructive in this case.  For example, if I want to create an archive

[2017-12-12 01:27] mikeschinkel commented on #827
Looking at a potential `AMP_Post` currently templates access its post information in `AMP_Post_Template` like so, which is very non WordPress-ish:

```echo esc_html( $this->get( 'post_title' ) );```

Wouldn't a more WordPress-ish approach be?

```echo esc_html( $post->post_title );```

Or?

```echo esc_html( get_the_title() );```

Or?

```the_title();```

Or my preference:

```$post->the_title();`

[2017-12-12 06:03] #761 closed

[2017-12-12 06:03] #772 closed

[2017-12-12 06:03] #804 closed

[2017-12-12 06:33] westonruter commented on #796
I made a couple tweaks to the ACs 6 & 12. I added `ins`/`del` markup to show what I changed.

[2017-12-12 06:44] #796 closed

[2017-12-12 16:43] jwold opened #830 "Merging color scheme options for AMP / Non-AMP in Customizer"
https://v.usetapes.com/TYe1axBIXB

Related to the work on #796 would it be helpful to merge the color schemes for the AMP version of the Customizer and the non-AMP version?

cc @ThierryA and @westonruter

[2017-12-12 16:46] csossi commented on #796
@ThierryA @westonruter Comments re: use case
Even with the notifications and warnings, user can still go ahead and make changes in the AMP panel and click "PUBLISHED". The changes won't appear live since AMP is disabled, but if AMP is subsequently enabled for some reason, then these now previous changes will take effect. Should this mean that the AMP panel in customizer be set to not open at all f

[2017-12-12 16:47] jwold commented on #796
If I go to Customize my site and land on a Non-AMPed page, the AMP toggle button displays correctly (it's in the off state with a notice about navigating to an AMP compatible page). If I click on the notice to go to an AMP compatible page, and then click on the logo to go back to the homepage the toggle shows up in a ON state but is disabled. Shouldn't the toggle now be set to an OFF state?

Video

[2017-12-12 16:56] westonruter commented on #796
@jwold This is the infamous question behind https://core.trac.wordpress.org/ticket/40432

In other words, should the AMP panel be contextual based on whether AMP is is shown in the preview? If that is the case, then it would be harder to discover the AMP panel.

[2017-12-12 17:00] csossi commented on #796
possibly solvable by having the notification saying that AMP is disabled for page include something like "note: any published revisions will not appear until AMP enabled" or something like that?

[2017-12-12 17:09] westonruter commented on #796
@jwold

No, because AMP is still enabled but it is _unavailable_. So as soon as you land on a page or post again, then you'll get the AMP version not the non-AMPed version.

[2017-12-12 18:04] westonruter commented on #796
@csossi

This is a general UX problem for the Customizer: modifying settings which aren't displayed in the preview. For widgets the approach has been to hide the Customizer section entirely, but this introduces problems with discovery.

An alternative approach to hiding can be seen in the Header Media section in Twenty Seventeen. Only the video control is shown when you are previewing the homepage

[2017-12-12 20:04] ThierryA commented on #796
How about replacing the AMP settings with a admin notice (within the panel) if the user is on a Non-AMP page or post?

[2017-12-12 20:09] westonruter commented on #796
Yes, re-using https://core.trac.wordpress.org/ticket/38794

For example:

![image](https://user-images.githubusercontent.com/134745/33905962-42f61ff4-df35-11e7-8fd4-c027b0c815f6.png)

[2017-12-12 23:29] westonruter commented on #830
Yes it would be ideal to connect them so that AMP re-uses the color scheme from the theme. The challenge here is that not all themes have comparable a concept of “color scheme” to use (see core themes below). For some themes we could try to create a bridge to re-use the theme's styles when relevant ones are present, but then we'd need to have an adapter for each theme we support. All of the core t

[2017-12-13 06:17] kienstra commented on #806
**Supported Embed Types**

Hi @ThierryA,
Your [comment above](https://github.com/Automattic/amp-wp/issues/806#issuecomment-350790526) shows whether most of WordPress's [supported embeds](https://codex.wordpress.org/Embeds#Okay.2C_So_What_Sites_Can_I_Embed_From.3F) render properly in AMP.

There are some embeds that don't even render in the standard WordPress page, like [Scribd](http://scribd.com)

[2017-12-13 18:43] westonruter commented on #827
Yes, page support just landed. See https://github.com/Automattic/amp-wp/pull/825

As for next steps on making AMP a first class citizen in WordPress themes (canonical AMP themes): I think we should move away from `AMP_Post_Template` entirely. The existing template system will remain in place for paired mode, but for canonical mode I think we can simply things a lot and make it much more WordPressy

[2017-12-14 04:37] mikeschinkel commented on #827
@westonruter

What is _"paired mode?"_

Sounds like a great plan. I am on board with this.

By this I assume you mean if the templates do not abide by the bare requirements then the theme is simply not supported and the results are undefined?

If we are going to buffer everything, why do we need to do 4. and 5.?  Why not just convert the entire output?

Of course we could do 5. for specific widget

[2017-12-14 05:47] westonruter commented on #806
@kienstra It looks like some of the oEmbed providers aren't all listed yet. I'm looking at the list here: https://github.com/WordPress/wordpress-develop/blob/c6326694380722ccbdd78e21a2bd0d079383291c/src/wp-includes/class-oembed.php#L54-L119

I don't see animoto, speakerdeck, or amazon for example. Could you please make sure every oEmbed is included in the list and in the test data?

[2017-12-14 06:13] westonruter commented on #827
Paired mode is what we have in the plugin today. Separate templates for AMP mode from templates that the site uses normally.

By this I mean that a theme is using valid AMP markup in it templates, and it vouches for this by doing `add_theme_support('amp')`.

I think mainly because it is a waste of CPU. If templates are already AMP-compatible, then we should only care about sanitizing data that we

[2017-12-14 06:25] kienstra commented on #806
**Will Add Missing oEmbed URLS**

Hi @westonruter,
Sure, I'll add the missing oEmbed URLs tomorrow (Thursday) if that's alright.

[2017-12-14 10:11] mikeschinkel commented on #827
@westonruter

Given I did not realize you intended to require `add_theme_support('amp')` most of my other comments are moot.

FYI, I am in a position I need to do something ASAP.  My client was hoping for a solution _last week_ but I put them off so I was hoping I could on something Thursday and Friday...

Either I need to help you or I need to do a short term fork after which I don't know if I wi

[2017-12-14 20:32] westonruter commented on #827
It sounds like your project timeline is much more compressed than the timeline for the AMP plugin. We're looking at having something testable by January. It would probably be best for you to go ahead and fork, prototype things to deliver for the client project, and then we can merge in your changes into the AMP plugin. Continue to share what you're working on and we can talk about the architectura

[2017-12-14 23:50] #806 closed

[2017-12-15 00:03] westonruter commented on #806
Deployed changes to the testbed site and created test page with embeds:

Non-AMP: http://amp-xwp-testbed.pantheonsite.io/amp-test-embeds/
AMP: http://amp-xwp-testbed.pantheonsite.io/amp-test-embeds/?amp

[2017-12-15 03:10] mikeschinkel commented on #827
Understood.

Moving forward is what I wanted but ideally I'd know what your team considers an acceptable direction so that my work does not veer off in a direction that your team finds unacceptable to merge.

Love it.

I may or may not need that, but will play it by ear and if I do need we can reconcile the ideas and names later if need be.  If not it can be an enhancement from your team later, po

[2017-12-15 07:05] westonruter commented on #827
As long as you keep the lines of communication open in your fork, hopefully we'll keep on the same page so that we can merge our respective ideas in January. Probably opening a PR from your fork back to this repo as you get started would be the best way to keep @ThierryA and myself aware of where you're going, and we can communicate via comments on the PR. We may not end up merging this PR specifi

[2017-12-15 14:49] westonruter commented on #827
We also should be gleaning the relevant parts from #668.

[2017-12-15 21:11] mikeschinkel commented on #827
Great idea. Will do that as soon as I have something worthwhile to commit.

My main concern is that I'll be able to use whatever the canonical path becomes, even if it means some simple changes on my end.

Will do.

[2017-12-17 02:51] mikeschinkel commented on #827
@westonruter I have been reviewing #688, and it seems overly complex added to an already complex plugin.  What aspects of it are you considering to be relevant?

[2017-12-17 04:15] westonruter commented on #827
It could be just the use of the `amp` theme support flag, nothing more.

[2017-12-17 08:04] caouic commented on #745
I confirm the issue is fixed in 0.5.1.
Thanks a lot !
Best regards

[2017-12-17 23:44] mikeschinkel commented on #827
@westonruter I am running into a situation where the current URL convention creates a problem.  Adding `/amp/` to the end of a URL is fine for a post but not fine for a category archive or a page where they can have a hierarchy and can potentially have `amp` as a valid category or page slug.

Options I can think of:

### 1. Current Approach:
- Regular URL:  `https://www.example.com/category/tech/w

[2017-12-18 06:45] westonruter commented on #827
@mikeschinkel please refer to the support added for pages (#825): note that `?amp` is used instead of `/amp/` for hierarchical post types or any URLs that contain query params: https://github.com/Automattic/amp-wp/blob/78c60fab82b0aa37f2bfb8ed4c40a0143676589b/includes/amp-helper-functions.php#L37-L38

The same needs to be used for any non-singular queries.

[2017-12-18 13:56] #237 closed

[2017-12-18 19:31] tzkmx opened #833 "Add Alexa.com tracking code to examples"
I've discovered just Alexa.com official recommendation on tracking code:

Adding support for this is trivial just appending a new key to the array returned by

[code]

[2017-12-19 16:19] matif78 opened #834 "Where to remove a anchor text link underline?"
Hi,

I am struggling to remove underline but don't know where this styling come from ?

I have removed all styling from templates/style.php but still showing even its not in Custom CSS.
a, a:active, a:visited {
    text-decoration: underline;
}

Can you please help me out

Thanks in Advance
Atif

[2017-12-21 13:11] matif78 opened #835 "How to add custom header in theme folder?"
Hi,
Could you please tell me how can i add a function for Custom header in theme folder?

Thanks
Atif

[2017-12-21 14:34] WillJW commented on #777
+1

[2017-12-21 21:56] WillJW commented on #777
If it helps anyone, this is how I've hacked my way around adding something above the content:

[code]

[code]

[2017-12-22 19:31] Milor123 commented on #771
@anand-a6  Thank you very much, it solved my problem. with:
- Remove all the **`.i-amphtml`** in the **CSS** of AMP

[2017-12-26 20:28] d4mation opened #836 "AMP_Content_Sanitizer::sanitize() strips out amp-bind Bindings"
I've made some template files which run through a loop to pull in data from Child Posts which then runs `AMP_Content_Sanitizer::sanitize()` on the Post Content of each item that is pulled in.

The Post Content of the pulled in Posts (When viewed in AMP) utilizes [amp-bind](https://www.ampproject.org/docs/reference/components/amp-bind) to toggle a Hidden state on elements. However, I noticed that w

[2017-12-28 00:17] d4mation opened #837 "Allow AMP to be disabled by default for individual Posts"
#813 allowed AMP to be disabled Per-Post which is excellent, but it seems that there's no reliable way to invert the assumption that all Posts for each enabled Post Type should load AMP by default.

The way the Post Meta currently works only stores data if AMP is disabled, so attempting to Filter that output using the `get_{$meta_type}_metadata` Filter would not be reliable as you cannot different

[2017-12-28 22:39] hakhan201 opened #838 "Removing featured image from AMP"
Hello,

I added the following code to my themes function.php file but it didn't remove the featured image from AMP pages.

[code]

Any idea what could be the issue?

I was able to change the "Schema.org (JSON) Metadata logo and article type" easily with the code [provided in the readme.md file](https://github.com/Automattic/amp-wp/blob/master/readme.md).

Thank you

[2017-12-31 15:10] beeriz commented on #824
Did you find a solution?
I need to disable a plugin on AMP too

[2018-01-02 21:24] kienstra opened #839 "Create a wp-cli script to test AMP compatibility of native WordPress widgets"
**Acceptance criteria:**
AC1: Create a `wp-cli` script in the directory [bin/](https://github.com/Automattic/amp-wp/tree/develop/bin).
AC2. This will add widgets to a sidebar, in order to test their AMP compatibility (see this [script](https://github.com/Automattic/amp-wp/blob/develop/bin/create-embed-test-post.php) for reference).
AC2: Add an instance of [every native WordPress widget](https://gi

[2018-01-04 03:44] kienstra opened #840 "Create a wp-cli script to output the necessary levels of menus on a test page"
**Acceptance criteria:**
AC1: Create a `wp-cli` script in the directory [bin/](https://github.com/Automattic/amp-wp/tree/develop/bin).
AC2. It should add a menu with 3 levels of items to a test page, in order to test its AMP compatibility (see this [script](https://github.com/Automattic/amp-wp/blob/develop/bin/create-embed-test-post.php) for reference).

[2018-01-04 15:26] MackenzieHartung opened #841 "Support all default embeds where relevant"
### Acceptance Criteria

AC1: Add AMP support for “Media Video Playlist” content
AC2: Add AMP support for “Media Audio Playlist” content
AC3: Add AMP support for “Issu Embed” content
AC4: Enhance the support for “Post Embed” content. Currently, Post Embeds doubles content in places. The issue stems from the p.wp-embedded-content not getting replaced with the iframe.wp-embedded-content.
AC5: Enhanc

[2018-01-04 15:28] MackenzieHartung opened #842 "Display error when a plugin is activated which tries to do something incompatible with AMP"
### Acceptance Criteria

AC1: On activating a plugin on wp-admin/plugins.php, if the plugin does something that’s not compatible with AMP, display an error at the top of the page
AC2: The error message will display the following text:. “<plugin name> is not compatible with AMP, and could result in content displaying improperly on your site.”

#### Tasks
- [x] Add a "reporting" flag whenever someth

[2018-01-04 15:29] MackenzieHartung opened #843 "Incorporate AMP validator into post authorship flow, to alert if content within the post editor is not compatible with AMP"
### Acceptance Criteria

AC1: On saving a post on /wp-admin/post.php, if there’s post content that’s not compatible with AMP, display an error at the top of the page.
AC2: The error will not display specifically what is incompatible.
AC3: The error will display the following text: “Notice: your post fails AMP validation”.

[2018-01-04 16:02] #840 closed

[2018-01-04 18:36] MackenzieHartung opened #844 "Discovery to determine support for all native WordPress widgets"
### Acceptance Criteria

AC1: Need to conduct a Discovery to determine all native WordPress sidebar widgets, and the support that exists for them today. Screenshot: https://d.pr/i/vBQaFt .
AC2: One story will be created as an outcome of the Discovery to address enhanced/added support for sidebar widgets.

[2018-01-04 18:38] MackenzieHartung opened #845 "Conduct a Discovery to determine support for Gutenberg blocks."
### Acceptance Criteria

AC1: Create a wp-cli script to output all native Gutenberg blocks on a test page to identify which will need to be supported (see this [script](https://github.com/Automattic/amp-wp/blob/develop/bin/create-embed-test-post.php) for reference).

[2018-01-05 08:19] sinasalek opened #846 "PHP 7.1 php-fpm segfault"
AMP is causing segfault, the problem is fixed when it is disabled.
It's running on wordpress 4.9.1
I tried to trace it but since it is segfault, i haven't been able to find what's causing this
here is php 7.1 configuration:
[code]
Here is phpinfo grep xml
[code]

[2018-01-05 17:52] Mathivananme commented on #838
Don't paste it in function.php.. Just go to plugins and then click editor and choose amp plugin then paste this code it'll work

[2018-01-05 21:18] cilquirm opened #847 "AMP Tag and Attribute Sanitizer doesn't handle namespaced attributes"
It appears that the AMP_Tag_And_Attribute_Sanitizer that runs at the end of the sanitizer list doesn't strip out attributes that are namespaced.

For example, if you create a post that has the following html:

[code]
 ( which can occasionally happen when people copy from sites such as twitter ).

the lang property is stripped, but the xml:lang, ostensibly because it's under the XML namespace, is n

[2018-01-08 23:27] kopepasah commented on #839
@kienstra regarding AC2, I am not sure this will always work, as sometimes there may not be a sidebar. If we can assume that there is always at least one sidebar and to use the first registered sidebar in `$GLOBALS['wp_registered_sidebars']`, this this method could work.

An alternative method, however, could be creating a test page (much like in the script you mentioned) and filtering `the_conten

[2018-01-09 01:19] westonruter commented on #839
See also the [Monster Widget](https://wordpress.org/plugins/monster-widget/)

@kopepasah I think the script should just add the widgets to the first registered sidebar.

I think the script should skip adding a given type of widget if the given instance data already exists in the sidebar for that given type. That way we can just re-invoke the script to replenish a sidebar after some widgets have be

[2018-01-09 01:20] westonruter commented on #847
I think this is something that should be raised on the [amphtml](https://github.com/ampproject/amphtml) project. XML-namespaced attributes aren't allowed by the spec at all. For example, if you go to https://validator.ampproject.org/ and try adding `<p xml:lang="EN_US" lang="EN_US"> This is a test </p>` then it will output the error:

[2018-01-09 01:26] westonruter commented on #838
@hakhan201 you need to put the code in your theme's `functions.php` (plural) not `function.php` (singular). WordPress doesn't recognize the latter. I just tried adding the code you my theme's `functions.php` and it removed the featured image as expected.

[2018-01-09 01:26] #838 closed

[2018-01-09 04:03] westonruter commented on #833
Added to https://github.com/Automattic/amp-wp/wiki/Analytics#manually

[2018-01-09 04:03] #833 closed

[2018-01-09 04:04] westonruter commented on #834
Underline is a default style in browsers. You should instead add `text-decoration: none`.

[2018-01-09 04:04] #834 closed

[2018-01-09 04:08] westonruter commented on #835
I don't understand the question. But this sounds like it is a better question for the support forum: https://wordpress.org/support/plugin/amp

[2018-01-09 04:08] #835 closed

[2018-01-09 04:09] westonruter commented on #777
@WillJW I don't see how your approach will work since it depends on JS being injected into the page, and JS scripts are invalid in AMP.

[2018-01-09 06:29] cilquirm commented on #847
Maybe I missed something, but I thought the point of the AMP_Tag_And_Attribute_Sanitizer was to clean up tags and attributes that don't follow the spec, thereby resulting in a valid AMP document.  At least from my reading of the code, it seems to remove DOM nodes that don't qualify as whitelisted tags and attributes.

I'm not saying `xml:lang` attributes should be allowed; i posted an issue here b

[2018-01-09 13:28] ThierryA opened #848 "Allow themes to register support for AMP canonical mode"
### Acceptance Criteria

AC1: Allow themes to register support for AMP canonical with `add_theme_support( 'amp' )` (As @westonruter’s [comment proposed](https://github.com/Automattic/amp-wp/issues/827#issuecomment-351827719)).
AC2: If support is added, this would remove paired mode. The site would only serve AMP, and there wouldn’t be `/amp` or `?amp` URLs.

#### Tasks

- [x] Check if AMP theme su

[2018-01-09 13:32] ThierryA opened #849 "Allow themes to provide alternate templates in “paired mode”"
### Acceptance Criteria

AC1: Using “paired mode,” themes can specify an alternative path to use for AMP templates (see @westonruter’s [comment proposed](https://github.com/Automattic/amp-wp/issues/827#issuecomment-351827719)).
AC2: When themes do this, the templates in that directory will replace the entire “paired mode” template system in the plugin. The AMP toggle developed in 0.6 will continue

[2018-01-09 18:37] westonruter commented on #847
Sorry, I think I misunderstood your issue. I can indeed see that `xml:lang` is not getting stripped as it should be, and that is a defect.

@kienstra Do you have a recommendation for a fix?

[2018-01-09 19:59] MackenzieHartung opened #850 "Discovery to ensure all relevant WordPress actions/filters are AMP compatible"
### Acceptance Criteria

AC1: Conduct a Discovery to ensure all relevant WordPress actions/filters are AMP compatible
AC2: Create an issue/issues as an outcome of the Discovery.

#### Tasks
- [ ] Catalog all actions and filters that are triggered in the course of rendering a WordPress template, and then identify which ones are problematic for AMP. For example, `wp_head`, `wp_footer`, primarily wha

[2018-01-10 00:01] westonruter commented on #844
Closing in favor of #839.

[2018-01-10 00:03] #844 closed

[2018-01-10 04:40] kienstra commented on #848
**In Development**

Hi @ThierryA,
Thanks for these acceptance criteria. I'm working on this now.

[2018-01-10 09:08] ktmn opened #851 "v0.6 release date"
When is version 0.6 getting released? Seems like a lot of changes and would definitely want a heads up before it goes live. A specific date or something.

[Here](https://github.com/Automattic/amp-wp/milestone/5?closed=1) it says it's past due by 19 days, so what is the current status?

[2018-01-10 09:52] ThierryA commented on #839
@kopepasah could you push what you have been working on so that a BE Engineer can take over please?

[2018-01-10 17:45] westonruter commented on #851
@ktmn The beta1 release was pushed out yesterday: https://github.com/Automattic/amp-wp/releases/tag/0.6-beta1

I've updated the estimated release date in the milestone.

And we just published a summary blog post of the highlighted changes in the release here: https://make.xwp.co/2018/01/10/wordpress-amp-plugin-0-6-beta-1/

[2018-01-10 17:49] westonruter commented on #837
The ability to opt-out by default did cross my mind, but it seemed counter to the purpose of this plugin, namely that if you add the AMP plugin the goal should be AMPlification of everything by default as much as possible.

Aside: The PR originally stored a binary toggle in the postmeta before switching to what was merged, a flag to just disable AMP: https://github.com/Automattic/amp-wp/pull/813/c

[2018-01-10 18:00] d4mation commented on #837
That makes sense. I'm finding it to be troublesome currently though using `v0.6.0-alpha` with its Page support.

I am running a bit of code running on `amp_post_template_file` to support Page Templates as the site in question utilizes a _lot_ of Page Templates. Page Templates are being given AMP Support on an as-needed basis and loading the default AMP `page.php` wouldn't work for them as most of

[2018-01-10 19:55] kopepasah commented on #839
@ThierryA I do not have push access to neither this repo nor our [internal fork](https://github.com/xwp/amp-wp).

[2018-01-10 19:57] kopepasah commented on #839
Originally I was building this script to add all necessary widgets to a sidebar (AC2), but I think it would be a good idea to create a AMP test widget (similar to the Monster Widget mentioned by @westonruter). This way the test widget can easily be programmatically added and removed as needed.

[2018-01-10 20:47] westonruter commented on #839
@kopepasah you should have access to push now to https://github.com/xwp/amp-wp

The [Monster Widget](https://plugins.trac.wordpress.org/browser/monster-widget/trunk/monster-widget.php) serves the same purpose as what we need, but I think it's not ideal as it nests widgets inside of each other. It also is likely designed as it is to allow a user to easily drag it into a sidebar, without the availab

[2018-01-10 22:03] westonruter commented on #837
Good point on the page templates. Initially we were going to turn off AMP support for pages when a custom page template was used. But we decided to instead just add a flag for all posts to give granular control. Nevertheless, that makes it problematic when you have a lot of existing pages that already are assigned to custom page templates, where these page templates are required for the page to ma

[2018-01-11 02:00] #848 closed

[2018-01-11 10:50] DavidCramer commented on #850
## WIP: key actions called during render of a template ##
Action | State | Note
--- | --- | ---
wp | :white_check_mark: |
template_redirect | :white_check_mark: |
get_header | :white_check_mark: |
wp_enqueue_scripts | :white_check_mark: |
wp_head | :x: | Calls main header rendering functions - `wp_resource_hints`: can add `preconnect, prefetch, and prerender` links; `locale_stylesheet`: can includ

[2018-01-11 13:09] tsanren89 opened #854 "AMP not showing "APPLY FOR JOB" button"
Hi there,

I install AMP for WP plugin and also bought custom post type plugin, and also purchase Custom Post Type extension to display job listing in AMP.

But for AMP site, not showing "APPLY FOR JOB" button after Job Overview.

Normal site: https://betteraviationjobs.com/job/aerologic-first-officer-december-2017/
AMP site: https://betteraviationjobs.com/job/aerologic-first-officer-december-2017

[2018-01-11 15:00] kienstra commented on #839
**In Progress**

Hi @ThierryA and @westonruter,
If it's alright, I'm going to work on this.

[2018-01-11 15:01] ThierryA commented on #839
Sure, go for it @kienstra

[2018-01-11 16:55] westonruter commented on #854
It's difficult to know without knowing how the button is added to the non-AMP site in the first place. Is it part of a custom post template? Or is it injected via `the_content` filter?

[2018-01-11 20:51] westonruter opened #855 "Support WordPress installs with non-UTF-8 charsets"
The AMP spec requires `<meta charset="utf-8">` and this is naturally problematic for sites that still use a Latin1 charset. We need to do a few things:

* For existing paired mode theme system, we'll need to use `mb_convert_encoding()` from the `get_bloginfo('charset')` to `utf-8` when reading from the DB. We'll also need to forcibly add `header( 'Content-Type: text/html; charset=utf-8' )` to over

[2018-01-12 14:03] ahmadawais commented on #806
@ThierryA it would be great to have that AMP Support table there on the `README.md` or in a AMP-`SUPPORT.md` what do you think?

Also excited about this enhancement.

[2018-01-12 15:59] westonruter commented on #850
Is wp_resource_hints something we need to block?

[2018-01-12 16:38] DavidCramer commented on #850
@westonruter I think it would be safe. That particularly aids in rendering in a browser, which is not necessary in AMP.

[2018-01-12 18:44] ThierryA commented on #806
Thanks for your suggestion @ahmadawais, a wiki page would probably be the best place for that. The readme is already pretty long and we plan to do more "Vanilla WordPress Support" discovery such as widgets etc.

[2018-01-12 19:44] westonruter commented on #806
The wiki is easier to update on an ongoing basis as well.

[2018-01-12 21:56] ahmadawais commented on #806
Right about that. Works for me.

[2018-01-14 10:21] Airell opened #860 "With pretty permalinks enabled, adding /amp/ will break rewrite"
When pretty permalinks enabled, AMP will add /amp/ to the url, but this will break the automatic rewrite rule when you set the site address different from the wordpress address.

My wordpress address is 'blog.oracle48.nl/wordpress', but in WP settings I have set 'blog.oracle48.nl' as site address. This will make 'blog.oracle48.nl/wordpress/post/' goto 'blog.oracle48.nl/post/' and works out of the

[2018-01-15 13:14] ThierryA commented on #860
Hi @Airell, I quickly spinned up a test site and cannot reproduce the issue, the redirect works fine on my side even with WordPress installed in a subdirectory. Which method described [in this article](https://codex.wordpress.org/Giving_WordPress_Its_Own_Directory) are you using?

_I am closing this for now, it may be reopened if more people are facing the same issue_

[2018-01-15 14:07] DavidCramer commented on #850
@westonruter I think I got this all listed now and is ready to be reviewed.

[2018-01-15 15:14] ThierryA opened #861 "Create a WP-CLI Script to Output Comments to a test page"
**Acceptance criteria:**
AC1: Create a `wp-cli` script in the directory [bin/](https://github.com/Automattic/amp-wp/tree/develop/bin).
AC2. This will create a post with a list of comments, in order to test their AMP compatibility (see this [script](https://github.com/Automattic/amp-wp/blob/develop/bin/create-embed-test-post.php) for reference).

#### Tasks

- [x] Create script, like was done for e

[2018-01-15 15:33] ThierryA opened #862 "Support submitting comments to WordPress"
### Acceptance Criteria

AC1: The commenting experience that is native to WordPress needs to be supported in the AMP theme.
AC2: A user will need the ability to access the comment form, enter comment, and successfully submit a comment, as they do today.

#### Tasks
- [x] Add comment list template
- [x] Add comment form template + submission

[2018-01-15 20:02] westonruter commented on #850
Aside from removing the `emoji_svg_url` from the resource hints array, I don't see how AMP would make them all obsolete. I think we can safely keep them.

[2018-01-15 20:10] westonruter commented on #850
@DavidCramer Would you take your findings and then open a PR to incorporate them into https://github.com/Automattic/amp-wp/blob/develop/includes/class-amp-theme-support.php ?

The existing code is removing actions, but perhaps some of the filters you discovered would be preferred.

Note that `wp_custom_css_cb` is removed and its output is replaced to be added to the AMP custom CSS.

Then you can l

[2018-01-15 20:10] #850 closed

[2018-01-15 20:19] kienstra commented on #843
**Request To Work On This**

Hi @ThierryA and @westonruter,
Could I please work on this? Though this is in [Sprint 3](https://github.com/Automattic/amp-wp/projects/3), It looks like we're doing well on [Sprint 2](https://github.com/Automattic/amp-wp/projects/2). But maybe you have other priorities in mind.

If so, I'll write a simple solution design here so we're on the same page.

Thanks!

[2018-01-15 21:47] #839 closed

[2018-01-16 00:03] kienstra opened #864 "List AMP support for all native WordPress widgets"
**Acceptance criteria:**
AC1: List the AMP support for all native WordPress widgets, as produced by the script in #839.

This from AC5 in #839:
`AC5: One story will be created as an outcome of the Discovery to address enhanced/added support for sidebar widgets.`

When AMP doesn't support a widget, either describe it in detail here, or open a sub-issue.

There doesn't seem to be [an issue](https://

[2018-01-16 00:59] Airell commented on #860
Hi @ThierryA,

I'm using method number 2, with URL change. I have copied .htaccess and the index.php and changed the root's index.php.

The next rewrite works:
[http://blog.oracle48.nl/wordpress/oracle-linux-patches-for-meltdown-and-spectre-information/](http://blog.oracle48.nl/wordpress/oracle-linux-patches-for-meltdown-and-spectre-information/)
Changes to:
[http://blog.oracle48.nl/oracle-linux-p

[2018-01-16 02:15] kienstra commented on #864
**Widget AMP Support**
(Comment WIP)

Widget | Status | Note
--- | --- | ---
[Audio](https://github.com/WordPress/wordpress-develop/blob/master/src/wp-includes/widgets/class-wp-widget-media-audio.php) | 🔸 | Mainly functional, but has an AMP error
[Archives](https://github.com/WordPress/wordpress-develop/blob/master/src/wp-includes/widgets/class-wp-widget-archives.php) *without* 'dropdown' |  ✅
[Ar

[2018-01-16 04:55] DavidCramer commented on #850
@westonruter Will do. I spoke briefly to @ThierryA on this yesterday. will sync with him again and move forward. Thanks!

[2018-01-16 05:02] DavidCramer commented on #797
further information on this is on https://github.com/Automattic/amp-wp/issues/862

[2018-01-16 06:03] westonruter commented on #682
The issue with parsing is being fixed in https://github.com/Automattic/amp-wp/pull/865/commits/5a21c85c66f2e7ec215ef20b514889a1c848003f

And then with that in place, support for sites in charsets other than UTF-8 will be supported via #855 by converting the encoding when output buffering finishes.

[2018-01-16 06:03] #682 closed

[2018-01-16 06:08] westonruter commented on #843
@kienstra Please do. I see this highly related to #842, but probably a different mechanism. For content, I suppose it would involve hooking into the whitelist sanitizer to find elements that are dropped due to being illegal? If this could identify the specific paragraph in the content that has invalid content in it, that would be ideal. Naturally this would straightforward to accomplish with Guten

[2018-01-16 10:50] kristoffeb commented on #314
Hi,

I am having the same issue as everyone above, and seems not to have been resolved yet.
I am using custom permalinks structure `%category%/%postname%/` and when going to `%category%/%postname%/amp` it gives me a 404.

Any work around on this issue? Thanks

[2018-01-16 16:07] ThierryA opened #866 "Prevent WordPress from printing scripts/styles in the header and footer"
### Acceptance Criteria:

AC1: Need to ensure that we can run the core hooks, and prevent the scripts from being enqueued.

#### Tasks

- [ ] Unhook printing of scripts and styles.

[2018-01-16 16:08] ThierryA commented on #866
Closed by #857

[2018-01-16 16:08] #866 closed

[2018-01-16 16:32] ktmn opened #867 "Version 0.6 get_support_errors() filter?"
I have previously provided support in a theme for having a chosen page as AMP front page by manually changing the global WP_Query, setting proper template and calling `amp_prepare_render()` when applicable.

0.6 introduced a problem when trying to render an AMP front page that is also the main front page due to this code [here](https://github.com/Automattic/amp-wp/blob/0.6/includes/class-amp-post-

[2018-01-16 18:52] westonruter commented on #797
The bare minimum it seems to add AMP support for the comment list is just to make sure that Gravatars use `amp-img` as opposed to `img`. In short, the following could be adapted and integrated into the theme support class:

[code]

[2018-01-16 18:54] westonruter commented on #797
It would be great to eventually support [`amp-list`](https://www.ampproject.org/docs/reference/components/amp-list) for comments, but that will require a lot more work, especially to support nested comment replies.

[2018-01-16 19:48] westonruter opened #868 "Add test coverage for (canonical) theme support"
In prototyping the approach for adding theme support, unit testing has not been rigorously followed. Once the approach and architecture for theme support settles, test coverage needs to be ensured for the new functionality.

Include:
* Commenting from https://github.com/Automattic/amp-wp/pull/909

[2018-01-16 22:57] #849 closed

[2018-01-16 23:38] westonruter commented on #837
@d4mation I've chatted with @ThierryA about what to do about this and the related issue of #867. Here's what we're suggesting:

Instead of always having a default enabled status for posts and pages, the initial enabled status can be variable. For pages with custom templates assigned or for pages assigned to the front page or posts page, the default status will be disabled. For all others, the defa

[2018-01-16 23:39] westonruter commented on #867
@ktmn I have written up a proposal for what I think would be a better solution than adding a new filter: https://github.com/Automattic/amp-wp/issues/837#issuecomment-358144627

Please review.

[2018-01-17 08:17] ktmn commented on #867
Looks good

[2018-01-17 08:17] #867 closed

[2018-01-17 15:24] ThierryA commented on #860
Thanks for providing more details @Airell, I could reproduce the issue. I did some very quick research and the AMP query var is altering the logic in the `redirect_canonical()` function [here](https://github.com/WordPress/WordPress/blob/master/wp-includes/canonical.php#L42).

[2018-01-17 18:17] westonruter commented on #837
@d4mation would you test #872?

[2018-01-17 18:17] westonruter commented on #867
@ktmn would you test #872?

[2018-01-17 18:24] d4mation commented on #837
I'll give it a test later today! Reading your comment above though, the `amp_post_default_enabled` Filter sounds fantastic and should solve most use cases by itself :+1:

[2018-01-17 18:27] d4mation commented on #837
Everything appears to migrate correctly, but I did hit a couple more errors after running the migration and navigating to the main Dashboard page:

[2018-01-17 18:28] d4mation commented on #837
You had just pushed the fix for that. Looks good :tada:

[2018-01-17 18:28] d4mation commented on #837
Ah, shoot, my bad. Wrong Issue 🤐

[2018-01-17 19:31] d4mation commented on #837
@westonruter It overall works amazingly! The `amp_post_default_enabled` Filter is especially useful in how it passes `$post` as well so that you can change the default per Post Type or whatever else you want to do.

However, when set to Default Disable AMP for all content using that Filter, I noticed a minor UI bug. With the old implementation, when selecting "Disabled" it would update the text to

[2018-01-17 19:41] westonruter commented on #850
@DavidCramer Here's the info from @amedina re: Resource Hints:

[2018-01-17 19:43] DavidCramer commented on #850
@westonruter nice one!

[2018-01-17 19:56] westonruter commented on #837
Yes, I noticed that as well. I believe I've fixed that in https://github.com/Automattic/amp-wp/pull/872/commits/8c51443059d227496554d075f8859526378cff4a Could you test the latest commit on the PR?

[2018-01-17 20:03] d4mation commented on #837
That fixed it! :tada:

[2018-01-17 21:20] westonruter commented on #837
Thank you _very_ much for testing. 🤝

[2018-01-17 22:05] westonruter opened #873 "Add Schema.org metadata to theme support"
Note comment:

https://github.com/Automattic/amp-wp/blob/e60cb152a50e2ffbf5504d41aee859ad1d0e0baa/includes/class-amp-theme-support.php#L169

With the initial introduction of theme support in in #857, the Schema.org metadata functionality was not ported over from the AMP post templates. This needs to be done.

[2018-01-17 22:05] westonruter opened #874 "Add analytics to theme support"
Note comment:

https://github.com/Automattic/amp-wp/blob/e60cb152a50e2ffbf5504d41aee859ad1d0e0baa/includes/class-amp-theme-support.php#L169

With the initial introduction of theme support in in #857, the injection of analytics functionality was not ported over from the AMP post templates. This needs to be done.

[2018-01-17 22:07] westonruter commented on #873
This should probably involve extracting the following logic into a global reusable function:

https://github.com/Automattic/amp-wp/blob/e60cb152a50e2ffbf5504d41aee859ad1d0e0baa/includes/templates/class-amp-post-template.php#L283-L317

[2018-01-17 22:09] westonruter commented on #874
There is a `amp_post_template_add_analytics_data` function already which in the existing post template paired mode is added to the `amp_post_template_footer` action:

https://github.com/Automattic/amp-wp/blob/e60cb152a50e2ffbf5504d41aee859ad1d0e0baa/includes/amp-post-template-actions.php#L133-L161

With themes support, however, there is no `AMP_Post_Template`. So so this bit of logic would need to

[2018-01-17 22:31] westonruter opened #875 "Improve ability to use sanitizers to identify required AMP components from output buffer"
Theme support currently has the following logic that us run on the buffered output:

https://github.com/Automattic/amp-wp/blob/e60cb152a50e2ffbf5504d41aee859ad1d0e0baa/includes/class-amp-theme-support.php#L448-L455

This is not ideal. Normally when the sanitizer run, they identify the AMP component scripts that are required once they detect that a given AMP component is present in the page. When t

[2018-01-18 00:03] westonruter commented on #875
I made a little script to test out what specifically the performance impacts are: https://gist.github.com/westonruter/3a51a10013cd58367689201b69eb8fcd#file-test-sanitizer-performance-php

[code]

[code]

So, we can see that it is _way_ faster currently to parse the DOM and sanitize `the_content` separately rather than to combine them all and sanitize them once. In addition to being faster, the pea

[2018-01-18 00:38] westonruter opened #876 "Deprecate AMP_WP_Utils"
All of the methods in the AMP_WP_Utils class are for WP<4.7 to support `wp_parse_url()`. The entire class should be deprecated and any references to `AMP_WP_Utils::parse_url()` should be replaced with straight calls to `wp_parse_url()`.

[2018-01-18 00:52] westonruter commented on #875
But, according to http://httparchive.org/interesting.php#bytesHtmlDoc less than 1% of HTML documents are greater than 60K in size. That's a lot smaller than I expected. So maybe it _is_ a premature optimization to sanitize content separately.

[2018-01-18 01:21] westonruter commented on #875
See also http://beta.httparchive.org/reports/page-weight#bytesHtml where we can see that 90% of HTML responses are ~110KB or less in weight.

If I reduce the sample post size down to 9KB then having 20 such articles on a post results in these data points:

[code]

[code]

Having 20 articles on a page would be a lot for WordPress, as the default is 10:

[code]

Here there is 7% increase in time ela

[2018-01-18 02:49] ktmn commented on #867
Works well, thank you

[2018-01-18 03:58] westonruter commented on #867
@ktmn can you share your code that mutates `WP_Query`? That code would seem to be needed by the plugin in order for the front page to render as AMP when the query var is present.

[2018-01-18 04:39] DavidCramer commented on #875
@westonruter Additionally, much of this content will be delivered from the Google cache so the speed decrease will only be on refreshes and reloads.

[2018-01-18 04:47] westonruter commented on #867
@ktmn actually, take a look at https://github.com/Automattic/amp-wp/pull/872/commits/c9acad7e7b376c2e615af996219429c8b7717b09

[2018-01-18 07:23] westonruter commented on #875
@DavidCramer as a proof of concept, this is the minimal patch that would accomplish the document sanitization:

[code]

Naturally it would need to be adapted for PHP 5.2.

It would be better to sanitize the entire HTML element as opposed to just the `body`, but this currently fails because `AMP_DOM_Utils::get_content_from_dom()` is used by `AMP_Content_Sanitizer::sanitize()`, so it wraps HTML in H

[2018-01-18 08:13] DavidCramer commented on #875
@westonruter This is what I intended with the changes here https://github.com/Automattic/amp-wp/pull/871/files/4067b5955e4f39571f1c2f781c2245c5dce19ef7#diff-c461a4a24e0d1380626efb83c2c11c2c

It adds a `get_dom` method so that you can provide the HTML wrapped or it wrapps it automatically.

[2018-01-18 08:39] ktmn commented on #867
Yeah that works, replaces my custom implementation.

[2018-01-18 15:07] mehigh opened #879 "The wordpress.com AMP version doesn't support Gist embeds"
We should check the final version would have support for Github GIst them, as they're text-only.

needs-testing

[2018-01-18 18:44] westonruter commented on #879
See list of core embeds being targeted here: https://github.com/Automattic/amp-wp/issues/806#issuecomment-350790526

Support for oEmbeds Gists are added by Jetpack: https://github.com/Automattic/jetpack/blob/b4ee9f55cb3819ffb4ce519c668130282e1a3544/modules/shortcodes/gist.php#L9-L10

There is an [`amp-gist`](https://www.ampproject.org/docs/reference/components/amp-gist) component which can be used

[2018-01-18 18:50] westonruter commented on #875
@DavidCramer got it. Makes sense!

[2018-01-19 00:39] westonruter commented on #875
If we want to run the sanitizer on HTML outside of the `body` then we'll need to remove these lines:

https://github.com/Automattic/amp-wp/blob/24471652035185c14cb5652c0ae9972ba9349aa3/bin/amphtml-update.py#L384-L386

[2018-01-19 06:28] westonruter commented on #836
I can confirm this is indeed a problem. Here's a standalone test case that shows the problem with parsing:

[code]

The result is this:

[code]
[code]

The binding attribute `[text]` does indeed get stripped out, and it causes an HTML warning.

The only thing I can think of is to do a global replacement of such attributes before parsing to take the form of `data-amp-bind-property`, where “property

[2018-01-19 14:52] ThierryA commented on #875
Adding my 2 cents here, if we can find a way to sanitize the entire response would be ideal. Here are the reasons I have in mind:
- One well architect bullet proof logic for all
- No risk of missing WP Vanilla content injection
- Also applies to the content injected by plugins
- Will make it easy to display plugin warning upon activation

I indeed share your concerns about the potential performanc

[2018-01-19 16:53] eduardcotmrf opened #883 "Tags script not being deleted on AMP page"
Testing with version 0.6 I've encountered that pages that have a tag '<script type="text/javascript">' are failing on their AMP version. The tag it's not being deleted while cleaning the body of the article.

I think it's related to this change: https://github.com/Automattic/amp-wp/commit/5c1fa2086d316a77e404e4f03de11766ac4d8daf#diff-ee41b32e64c90445a71328ca93cfa799

The allowed script type for ta

[2018-01-19 18:52] westonruter commented on #883
@eduardcotmrf would you please share the content you're using to test with? Are you putting this in the `post_content`?

[2018-01-19 19:05] westonruter commented on #883
@eduardcotmrf good catch. I was able to reproduce the issue in any case. Please test #884.

[2018-01-19 20:57] westonruter commented on #875
The performance problem is due to the document traversal, I believe. I haven't profiled it to double check that. However, @amedina shared that the average AMP document size is 80kb. So I think we should go ahead with using sanitizer for the entire buffered output and then optimize the sanitizer logic.

[2018-01-19 21:56] kopepasah opened #886 "Honor filtering of Stylesheet URI to allow child themes."
Currently, there is no way to use a child theme with AMP due to the hard coded `get_template_directory() . '/style.css'`.

https://github.com/Automattic/amp-wp/blob/89e4227edf41a8fe0408e8e855a6dcbbd4ccc13c/includes/class-amp-theme-support.php#L391

As I can see it, there are two options:

1. Use `get_stylesheet_uri()`: this would allow child themes to work and allow users to customize the location

[2018-01-20 01:05] westonruter commented on #886
@kopepasah Please give #887 a try. It tries to make enqueueing CSS much more seamless. The only requirement is that you enqueue CSS that exists on the filesystem in a theme/plugin, wp-admin, or wp-includes. It also handles added inline styles, locale stylesheets, and Custom CSS.

[2018-01-22 14:41] ThierryA commented on #875
The average size being 80kb is encouraging, though we should make sure it is scalable. From my perspective an analogy would be the number of WP posts, the average in the world could be 200, though it is scalable to work with millions of post for publishers sites.

[2018-01-22 19:55] cilquirm commented on #847
For what it's worth, i've been testing by doing this:

[code]

and it seems to work.

[2018-01-23 06:32] kienstra commented on #843
**In Development**

Hi @westonruter,
Thanks for your details here. If it's alright, I'll post an update soon.

[2018-01-23 07:45] westonruter commented on #855
I tried to fix this as part of #888 but I failed. My abandoned patch with lots of debug code: https://gist.github.com/westonruter/04d479e809409e1f12a5944701f6f24f

The problem came down to `wptexturize()` actually. When it inserts `&#8220;` and `&#8221;` for `“` and `”` respectively, these get added converted to UTF-8 encoded chars, and then `mb_convert_encoding()` is failing to map the curly quot

[2018-01-23 13:16] #886 closed

[2018-01-23 18:00] westonruter commented on #843
Let's chat about the approach to take here.

[2018-01-24 09:43] #883 closed

[2018-01-24 09:43] #837 closed

[2018-01-24 09:52] ktmn opened #897 "Released 0.6 doesn't include class-amp-polldaddy-embed.php"
[code]

There is no wpcom folder in the amp.0.6.0.zip from https://wordpress.org/plugins/amp/

[2018-01-24 10:07] westonruter commented on #897
Good catch. Somehow it didn't get included. I've updated `trunk` and the `0.6.0` tag with the `wpcom` directory.

[2018-01-24 10:23] ktmn commented on #897
Tested and works now, thanks.

[2018-01-24 10:23] #897 closed

[2018-01-24 13:05] eduardcotmrf opened #898 "Sanitize scripts without type"
Related to this issue: https://github.com/Automattic/amp-wp/issues/883.

I've encoutered some plugins (for instance custom plugins that add script advertisement tags in the body ) that forget to put the type="text/javascript" in the tag script. In this cases the script it's not removed by amp-wp so the AMP page remains invalid.

Maybe it would be a good idea to sanitize all scripts without any typ

[2018-01-24 16:33] htrex opened #899 ""selected" and "option" attributes are stripped on amp-selector childs"
AMP_Allowed_Tags_Generated does not allow the "selected" attribute in divs.
In AMP examples the "selected" attribute is used inside ``<div>`` elements and using it is mandatory for it to work.
https://ampbyexample.com/advanced/tab_panels_with_amp-selector/
That page is AMP valid, so it shouldn't be a problem to add it.

[2018-01-24 19:46] kienstra commented on #843
**Possible Approach**

Hi @westonruter,
Thanks for waiting here. One approach that I've prototyped is front-end validation in Gutenberg ([screencast](https://cloudup.com/cPYRW-m2Ysf)).

Unfortunately, this only applies on editing a block. Not on saving it, as you mentioned.

Here's a very rough prototype that you could past in the console on a Gutenberg page.

[code]

* Overwrites a block's `edit(

[2018-01-24 22:05] westonruter opened #901 "Add Customizer integrations when AMP theme support is present"
Live preview is not working in the Customizer preview when a page is rendered as AMP.

[2018-01-24 22:05] westonruter commented on #827
This has been implemented in `develop`.

[2018-01-24 22:05] #827 closed

[2018-01-24 23:30] westonruter commented on #843
@kienstra that looks amazing! Having that client-side JS-based validation is perfect as it is realtime and it is block-based. You should absolutely keep going with this. I don't see this in any way conflicting with the validation of the frontend as a whole. When saving, we can send out a request to get the frontend HTML and then run it through the validator as you're doing at the block level. This

[2018-01-24 23:51] amedina commented on #843
@pbakaus @Gregable take a look at this issue with the validator...

[2018-01-25 00:14] Gregable commented on #843
Would you mind filing an issue on the AMP github tracker:
https://github.com/ampproject/amphtml/issues/new

[2018-01-25 07:49] westonruter opened #903 "Automatically provide poster for videos"
Often when adding a video to a post in testing, the post ends up being invalid AMP with an:

To me it seems a fallback poster should be supplied to prevent such a ~validation~ error in the console. _It isn't actually a validation error._

[2018-01-25 08:01] westonruter commented on #903
Otherwise, when a video is inserted a user has to manually add a poster, which I think is pretty uncommon. The user steps are:

1. Click the edit button:
![image](https://user-images.githubusercontent.com/134745/35377076-aaba4c2e-0162-11e8-8f75-79326fa90d05.png)

2. Click “Select Poster Image”:
![image](https://user-images.githubusercontent.com/134745/35377106-c1a8e3be-0162-11e8-9797-a27f872a3de9.

[2018-01-25 08:08] westonruter commented on #903
Correction. It isn't actually a validation error. There is an error in the console when in `#development=1` mode, but pasting the `amp-video` HTML without a `poster` does not flag any issue in the AMP Validator either.

[2018-01-25 08:08] westonruter commented on #903
Note: There is currently no way in Gutenberg to select a poster for a video.

[2018-01-25 08:42] eduardcotmrf commented on #898
Yes, plugins that add scripts to the_content. It's not fixed in 0.6.

What it's fixed in 0.6 it's that scripts with type="text/javascript" are sanitized. Here the problems are with scripts with no type specified. As specified in https://dev.w3.org/html5/spec-preview/the-script-element.html#attr-script-type :

So we should sanitize when no type it's specified.

Example of php snippet:

[code]

[2018-01-25 17:28] htrex commented on #899
Thanks for caring, I've just found that the "option" attribute is mandatory too, for it to work.
The "selected" and "option" attributes may only appear in divs with an ``<amp-selector>`` parent or ancestor.

This is AMP valid
[code]

[2018-01-25 20:02] westonruter commented on #899
It looks like the problem is that the whitelist sanitizer doesn't currently parse out “Reference Points”, such as introduced by the `amp-selector` component: https://github.com/ampproject/amphtml/blob/aa3dc098aaf7e1b336751c6c35174ffbe374c510/extensions/amp-selector/validator-amp-selector.protoascii#L64-L94

I can see that this change makes it so that the `selected` and `option` attributes aren't s

[2018-01-25 20:12] #836 closed

[2018-01-25 20:57] westonruter commented on #899
@htrex please test #905.

[2018-01-26 08:48] kienstra commented on #843
**AMP Validation In 'Classic' Editor**

Here's a [screencast](https://cloudup.com/cNiWTH0nYBG0) of validating a post in the 'classic' editor. On saving the post, the JavaScript makes an AJAX request to the permalink. Then, it validates that entire HTML document for AMP compatibility, using `amp.validator.validateString()`.

The back-end sanitizers work really well, and it's hard to enter content t

[2018-01-26 10:30] #899 closed

[2018-01-26 11:30] glenngabe opened #908 "Google Tag Manager Support and WP Plugin Update Problems"
As of now, you can't use Google Tag Manager when adding analytics code via the AMP analytics section of the plugin (in the WordPress UI). So many have added the code manually to the plugin files. But when the plugin updates, the code is stripped out. This has happened to me several times and others have contacted me with the same problem.

GTM provides some excellent functionality for tracking AMP

[2018-01-26 21:21] westonruter opened #911 "Add automatic support for handling form POST post submissions that redirect"
All AMP `post` forms use XHR to submit the request. When we sanitize a `form` (#907) to upgrade a `form[method=post][action=/foo]` to `form[method=post][action-xhr=/foo]`, we also need to make sure that the result of the form being submitted is handled as well. In particular, when we rewrite an `action` to an `action-xhr` we should add a query var to the URL like `_wp_amp_action_xhr_converted=1`(e

[2018-01-27 01:16] westonruter commented on #632
Support for forms has been added in #907, with some additional loose ends to be done in #911.

The blacklist sanitizer has been deprecated (and discontinued) in favor of whitelist.

[2018-01-27 01:16] #632 closed

[2018-01-27 01:23] westonruter commented on #802
For forms that are added to to the v0.6 paired mode templates, adding the `amp-form` component script needs to be done via the `amp_post_template_data` filter as can be seen being done for analytics:

https://github.com/Automattic/amp-wp/blob/216ec376ab5bc698e03a149e6e68fa771cffd2d0/includes/amp-post-template-actions.php#L20

https://github.com/Automattic/amp-wp/blob/216ec376ab5bc698e03a149e6e68fa

[2018-01-27 01:23] #802 closed

[2018-01-27 01:26] westonruter commented on #864
@kienstra these are all supported now via #870, right?

[2018-01-27 01:28] westonruter commented on #854
I can see the “Apply for Job” button is a widget. Widgets are not supported by the current AMP post templates. Support for widgets _is_ being added in the new `amp` theme support work. See #870.

[2018-01-27 01:28] #854 closed

[2018-01-27 07:04] DigitalDavo opened #913 "Any plans for monetisation plugin in WP AMP?"
I love how quickly AMP pages from my site load on mobile. All good. I am seeing more and more traffic to my site from Google's AMP snapshot. Alas this means a loss of potential monetisation traffic. If the trend continues then AMP may not enjoy long term success.

Are there any plans to allow some sort of plugin/interface to load a fast block that can display some kind of ad or call to action or s

[2018-01-29 06:38] westonruter commented on #847
@cilquirm Would you please test #916?

[2018-01-29 19:53] #847 closed

[2018-01-30 00:44] westonruter commented on #728
The paired mode templates are the (legacy) ones bundled with the plugin which are used when there is no `amp` theme support. Since site implementors who have used the plugin will likely already have added this customizations to the templates to suit their needs, it will be dangerous to further change the bundled paired mode templates since it could break existing sites.

I think that we should pos

[2018-01-30 03:39] westonruter commented on #864
@kienstra I just found that neither YouTube nor Vimeo videos work in the video widget:

![image](https://user-images.githubusercontent.com/134745/35546965-43976f1e-052b-11e8-8364-905acf5e4336.png)

![image](https://user-images.githubusercontent.com/134745/35547002-7634348e-052b-11e8-8fee-8c6f3366bbd2.png)

This may require extending the video widget like you had done originally.

See relevant logi

[2018-01-30 04:10] kienstra commented on #864
**Thanks For The Details**

Hi @westonruter,
Thanks for catching that YouTube and Vimeo videos don't work, and for your details on fixing it. If it's alright, I'll work on this tomorrow (Tuesday).

[2018-01-30 04:23] westonruter commented on #220
Adding a new nav menu location that is specific to the paired mode templates would work well. It would allow for users to opt-in. The main concern would be if users have already customized the builtin templates to add their own menus, then there could be menu controls appearing twice.

See also https://github.com/Automattic/amp-wp/issues/728#issuecomment-361437541

[2018-01-30 08:14] westonruter commented on #204
I'm having a hard time reproducing this issue. Smilies I add to post content get rendered as emoji, not images.

[2018-01-30 08:15] westonruter commented on #354
I'm not sure what we'd put in as a fallback. A link to the media?

[2018-01-30 08:56] #62 closed

[2018-01-30 19:41] kienstra opened #919 "Sanitizer: Request to convert <img> to <amp-img> correctly"
As @westonruter [mentioned](https://github.com/xwp/ampconf/issues/48#issuecomment-361698890) in the 'ampconf' theme, the sanitizer doesn't look to be converting `<img>` tags to `<amp-img>` correctly:

* `width` and `height` attributes are unexpectedly different
* Changes in the `srcset`

Here's @westonruter's [temporary workaround](https://github.com/xwp/ampconf/commit/d26f628d0a25207ec8809ac1d031

[2018-01-30 19:42] kienstra commented on #919
**Will Work On After #864**

Hi @westonruter,
If it's alright, I'll work on this after the video issue in #864.

[2018-01-31 06:04] #797 closed

[2018-01-31 06:04] #862 closed

[2018-01-31 09:21] pbuzdin commented on #736
`amp-sidebar+div { opacity: 0; pointer-events: none; }`

[2018-01-31 19:21] kienstra commented on #919
**Request For Another Look**

Hi Koop or @westonruter,
Could you please let me know if you still see this issue? I can't reproduce the issue [mentioned](https://github.com/xwp/ampconf/issues/48#issuecomment-361698890) in #48, looking at a [single.php page](https://github.com/xwp/ampconf/blob/develop/single.php). Maybe something fixed it in the meantime.

Without the [AMP plugin](github.com/Automat

[2018-01-31 22:57] westonruter commented on #903
Actually, it might be possible to fetch the first frame of the video to use in the case when no user-supplied poster is present. E.g. via http://ffmpeg-php.sourceforge.net/

[2018-02-01 00:17] #873 closed

[2018-02-01 19:50] westonruter commented on #919
I think the issue is that the `layout` is being inferred incorrectly in some cases: https://www.ampproject.org/docs/guides/responsive/control_layout#what-if-the-layout-attribute-isn%E2%80%99t-specified?

the solution may just be that we need to explicitly set the `layout` when it matters.

[2018-02-02 05:32] mganand opened #925 "AMP version 0.6.0 still showing /amp/ instead of ?amp"
In one of my WordPress blog I did the AMP plugin update but according to the new update changelog
Note that AMP URLs will end in `?amp` instead of `/amp/`. Still, it is showing /amp/ at the end of the post URL. Is it a problem. What should I do?

[2018-02-02 23:08] westonruter commented on #925
@mganand it is _pages_ specifically (and any non-hierarchical post types) that will have their `amphtml` URLs ending in `?amp`. Posts continue to use `/amp/`.

[2018-02-03 01:32] #874 closed

[2018-02-03 04:22] westonruter commented on #755
This was fixed in #891.

[2018-02-03 04:22] #755 closed

[2018-02-03 04:23] westonruter commented on #875
I'm working on this still.

[2018-02-03 07:46] #861 closed

[2018-02-03 19:19] kopepasah opened #927 "Remove all instances of !important in CSS."
When parsing the CSS, it would be good to remove all instances of `!important` as these invalidate the AMP markup.

[2018-02-03 19:43] westonruter commented on #927
@kopepasah is this not already being done? See:

https://github.com/Automattic/amp-wp/blob/4089c338122bbd92080017bd212b89e235060628/includes/sanitizers/class-amp-style-sanitizer.php#L97

https://github.com/Automattic/amp-wp/blob/4089c338122bbd92080017bd212b89e235060628/includes/sanitizers/class-amp-style-sanitizer.php#L235

Did you find a case where these aren't stripping the `!important` properly

[2018-02-04 19:01] pbakaus commented on #927
Actually, I'd improve both lines of code with a replace that doesn't break functionality. We've released an npm plugin for this at https://www.npmjs.com/package/replace-important, but really, all you need to do is:

1) duplicate the selector block that has the !important in it, which just the property and value isolated
2) prepend a bunch of `:root:root:root` to the selector

[2018-02-04 19:09] pbakaus commented on #903
On that note, it would be very cool to use the placeholder for `<amp-img>` as well, and generate a tiny image that gets stretched to improve perceived load time. Just a thought :)

[2018-02-05 05:02] westonruter commented on #927
@pbakaus agreed. But we need a PHP-based CSS parser to do that, actually as noted above one of those lines:

https://github.com/Automattic/amp-wp/blob/4089c338122bbd92080017bd212b89e235060628/includes/sanitizers/class-amp-style-sanitizer.php#L96-L97

@kopepasah I can see that `!important` is stripped for inline styles but isn't currently being applied for enqueued styles. In fact I had a todo abou

[2018-02-05 05:16] westonruter opened #930 "Extend style sanitizer to incude CSS parser"
In order to be able to reliably excise `!important` from styles (#927), we need a proper CSS parser to be able to parse the rules so that higher-specificity selectors can be used instead of `!important`.

Additionally, a CSS parser used in conjunction with sanitization where the document has been output buffered and parsed into a DOM tree will allow us to strip out all CSS rules from the document

[2018-02-05 05:51] westonruter commented on #875
Completed in #929.

[2018-02-05 05:51] #875 closed

[2018-02-05 18:33] kopepasah commented on #927
@westonruter yes, that should catch it. I am seeing it when activating modules in Jetpack. In addition to `!important`, the Jetpack sharing module also adds `@-moz-document`, invalidating AMP (just FYI).

[2018-02-05 18:53] #808 closed

[2018-02-05 19:47] pbakaus commented on #927
@westonruter ah, didn't see that comment! Good call, and thanks for filing the additional issue. One additional thought: I'd much rather render invalid AMP pages than broken AMP pages. Stripping out !important blindly will produce glitches across the board, and I'd rather not run with that strategy. The plugin should always produce close to 100% predictable results.

[2018-02-05 20:26] kopepasah commented on #927
@pbakaus agreed.

@westonruter since we are combining all the styles, it make debugging a little difficult and sometimes hard to tell where the invalid CSS originated. How about adding information to the AMP debugger or throw a warning for invalid styles while in `WP_DEBUG` mode?

[2018-02-06 00:51] alcurrie commented on #797
Functionality looks good and works well, but I noticed a couple of items that were not as expected:

1) **Issue:** Comment moderation does not display comments for previously approved comment authors.
**Expected**
In the Discussion Settings, when the Before a comment appears:  Comment must be manually approved (is 'unchecked'), and  Comment Author must have a previously approved comment is checked

[2018-02-06 01:06] alcurrie commented on #862
**These are the same notes as in #862**
Functionality looks good and works well, but I noticed a few items that were not as expected:

1) **Issue:** Comment moderation does not display comments for previously approved comment authors.
**Expected**
In the Discussion Settings, when the Before a comment appears:  Comment must be manually approved (is 'unchecked'), and  Comment Author must have a prev

[2018-02-06 01:31] westonruter opened #933 "Add default stylesheet for AMP content when in theme support mode"
As discovered in https://github.com/Automattic/amp-wp/pull/921#issuecomment-363275594 there are some CSS rules that the sanitizer expects to be present which are not currently being output when there is theme support. In particular, these styles seem to be necessary:

https://github.com/Automattic/amp-wp/blob/7b88ae0acd450e1658f1248d11319a01e7c5e920/templates/style.php#L39-L49

An audit needs to b

[2018-02-06 02:05] westonruter opened #934 "Add theme support scenarios: allow paired mode to serve some content exclusively in AMP"
The plugin in `amp` theme support currently supports two modes:

1. Canonical: Everything is canonical AMP.
2. Paired: Everything is available in non-AMP and _some_ content is also available in AMP, with _different_ templates used in AMP mode.

There is a third case that should be supported and that is:

3. Mixed-Some-Optionally-AMP: All content is available in non-AMP, and some content is also av

[2018-02-06 02:36] amedina commented on #934
This scenario would work best in cases where the quality of the content is not diminished by the preprocessor. Combined with the opt-in capability it would empower the site owner.

[2018-02-06 02:36] amedina commented on #934
Alternatively (or additionally), we could have a similar scenario where instead of having a single version of the content (the AMP version) we can generate a paired mode version, based on the original theme. In cases where the plugin can process 100% of the content without loss, the result is in two identical pages; but in cases where the fidelity is not 100%, the result would be a paired mode wit

[2018-02-06 02:43] westonruter commented on #934
Yes, this would be accounted for here too more or less:

[code]

By not defining the `template_dir` then the theme's own regular templates would be used and converted to AMP by the sanitizer when the `amphtml` version of a post is requested.

[2018-02-06 03:39] westonruter commented on #934
@amedina Something else to note here that this _optional_ `amp` theme support could be added by the plugin itself. This would allow for a user to opt-in to using their main theme templates to generate AMP instead of using the existing paired mode post templates from ≤0.6. In 1.0 we could make the switch to having this be the _default_ when you install the plugin and activate it, with the old paire

[2018-02-06 06:03] amedina commented on #934
@westonruter that is a good strategy. An additional case (optimization) could be derived in cases where the user opts in for the new pair mode (based on the original theme) and when converting a given content type, if the preprocessor detects 100% fidelity (i.e. no functionality stripped out) the plugin generates a single version of the content (i.e. AMP canonical); otherwise stays in pair mode. T

[2018-02-06 07:57] #925 closed

[2018-02-06 08:07] mganand commented on #925
Thanks Weston

[2018-02-06 09:11] westonruter commented on #927
We'll make the approach to handling more robust in #930. In the mean time, I've opened #935 as a stepping stone. This still removes `!important` for now. It also adds some debugging information.

[2018-02-06 14:27] DavidCramer opened #936 "Change comment confirmation message based on approval settings"
As mentioned in https://github.com/Automattic/amp-wp/issues/797#issuecomment-363272601 and https://github.com/Automattic/amp-wp/issues/862#issuecomment-363275416
The message indicated "..subject to moderation".
This message should be adjusted based on the moderation settings.
An indication of refresh times should also be mentioned.

[2018-02-07 00:36] #927 closed

[2018-02-07 02:15] westonruter commented on #797
This is a known issue. See https://github.com/ampproject/amphtml/issues/5396#issuecomment-360873006

We may want to show the comment form _above_ the list because of this?

[2018-02-07 02:26] westonruter commented on #936
Code in question:

https://github.com/Automattic/amp-wp/blob/215860d618cc114d37f17f8efb477e6b5e3ccc40/includes/class-amp-theme-support.php#L360-L376

We should make the `submit-success` also contain a `<template type="amp-mustache">`. Then the message could say if the newly posted comment is _actually_ moderated or not. Currently the success is just sent with success data without any data. But if

[2018-02-07 06:40] westonruter opened #938 "Add support for mandatory_oneof and mandatory_anyof attribute constraints"
## Feature description

Someone had a `<iframe src="about:blank">` in a post on https://wordpress.org/support/topic/google-console-error/#post-9946202

This is resulting in an `<amp-iframe>` being rendered but without a `src` attribute. The result is in valid AMP because `src` is mandatory.

The whitelist sanitizer should be removing the `<amp-iframe>` in this case I should think. But otherwise, t

[2018-02-07 07:45] #911 closed

[2018-02-07 14:26] DavidCramer opened #939 "Comments posted not appearing."
When posting a comment as a logged in user, the comment is not picked up and no load button is shown. Reloading the page does show the comment though.

Public posted comments are also shown as expected.

[2018-02-07 21:30] westonruter opened #940 "Valid elements are getting stripped"
Certain elements that should be allowed are now getting stripped. For example `div` and `meta`. This problem introduced (by me) in https://github.com/Automattic/amp-wp/commit/372412bc89850ce427602e1d3a8f07b49c4bec37 as part of #929.

Examples of elements that are getting removed:

[code]

[2018-02-07 22:52] adamsilverstein opened #941 "Sanitizers should not strip valid 'amp-mathml' tags"
AMP recently introduced support for MathML via the `amp-mathml` tag - https://www.ampproject.org/docs/reference/components/amp-mathml. When trying to add this tag to a WordPress site, I'm seeing mathml tags stripped by the amp-wp sanitizer.

If I add this to `class-amp-allowed-tags-generated.php` everything works as expected, how do I go about adding this to the plugin correctly? I couldn't tell h

[2018-02-07 22:53] adamsilverstein commented on #941
@westonruter I see you have been working on the sanitizers :) any tips appreciated

[2018-02-07 23:09] kienstra commented on #842
**Question About Approach**

Hi @westonruter,
Using the [sanitization reporting PR](https://github.com/Automattic/amp-wp/pull/912), what do you think about this approach:

1. [Before activating a plugin](https://github.com/WordPress/wordpress-develop/blob/master/src/wp-admin/includes/plugin.php#L603) on `/wp-admin/plugins.php`,
2. Make a GET [request for the header](https://developer.wordpress.org

[2018-02-07 23:19] westonruter commented on #941
@adamsilverstein yes, given that `amp-mathml` is now defined among the validator protoascii files ([`validator-amp-mathml.protoascii`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-mathml/validator-amp-mathml.protoascii)), then all we need to do is run [`bin/amphtml-update.sh`](https://github.com/Automattic/amp-wp/blob/develop/bin/amphtml-update.sh), and it should just work. We

[2018-02-08 15:19] adamsilverstein commented on #941
@westonruter I fired up VVV and ran the updated script, the result is in https://github.com/Automattic/amp-wp/pull/943

[2018-02-08 18:30] csossi commented on #862
see Anne Louise's comments above

[2018-02-08 21:01] westonruter commented on #938
This will be fixed by implementing support for `mandatory_oneof`: https://github.com/ampproject/amphtml/blob/2db6d704364343057dbdbb1e2347973a54faae94/validator/validator-main.protoascii#L1508

See:

https://github.com/Automattic/amp-wp/blob/79b8b839f1922d3ccaddc36cf3ffddfc1a94f207/includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php#L23-L24

[2018-02-08 21:02] #940 closed

[2018-02-08 21:08] westonruter opened #945 "Deprecate AMP_QUERY_VAR constant and amp_query_var filter"
Currently one is able to override the `amp` query var and endpoint to be something totally different:

https://github.com/Automattic/amp-wp/blob/c701b0b8614e4b454bf620950018d0f143796d3c/amp.php#L80-L88

This ability complicates some things because we have to wait until the theme has fully loaded before we can start looking for whether it is an AMP request or not.

I want to find out if this abilit

[2018-02-08 22:47] westonruter commented on #842
@kienstra I think that this will not give us complete results. A plugin may not do anything upon activation. It may require a user to actually do something, like add a widget or shortcode.

I think the best we can probably do here is:

1. Watch for a plugin enqueueing a script or stylesheet. If a script or stylesheet gets removed by sanitizer, look for the `wp-content/(themes|plugins)/(.+)` direct

[2018-02-08 22:47] westonruter commented on #842
Both of these checks would only be done when explicitly requested, especially the latter one because I imagine it would be expensive.

[2018-02-09 07:32] westonruter commented on #842
It should also be possible to use the similar approach for shortcodes. We could wrap each registered shortcode handler with a function that puts those milestone comments before and after. The sanitizer would then be able to know which shortcode was responsible for the illegal output. The specific theme or plugin could be identified via the Reflection API to fond the filename that contains the func

[2018-02-09 18:50] #941 closed

[2018-02-09 21:49] westonruter commented on #898
@eduardcotmrf  I'm trying to reproduce the issue but I'm not able to.

I think the problem is that your `the_content` filter is printing when it should be returning the string.

In both the `0.6` branch and `develop` (0.7-beta1), when I add the following:

[code]

Both script tags get removed.

Note that in `0.7` for themes that have `amp` theme support, the entire response is output-buffered and

[2018-02-09 21:49] #898 closed

[2018-02-13 19:33] tibor opened #955 "fatal error in amp.php"
Hi,

thanks for your awesome work!
I just wanted to enable the 0.7 beta, but only got this error message in my WordPress backend:
[code]

[2018-02-13 20:07] ahmadawais opened #956 "[SUGGESTION] Regarding 0.7 Progress Feature Enabler"
👍 After trying, beta testing, and watching the AMPConf talk about `0.7` version of AMP-WP I'm super excited about the AMP canonical pages. Love the work you guys have done to improve this plugin. While I understand the need for AMP valid pages — I'd like to suggest that allow theme authors to move towards AMP Canonical in a progressive one feature at a time manner.

✅ E.g. I have a lot of JS in my

[2018-02-14 00:07] renatonascalves opened #957 "AMP meta box is active on post types that are not public"
The AMP plugin adds the meta box in the back-end for post types that are not public. A good example I stumbled upon now while in the BuddyPress email area.

BuddyPress uses post types to manager its emails. The post types are not public. Still, in the admin area, one can see the notice that AMP is not active because of post type support.

![post-type-support](https://user-images.githubusercontent.

[2018-02-14 00:24] renatonascalves commented on #957
By the way, something like that should work fine. I'm happy to send a PR.

[code]

[2018-02-14 06:32] westonruter commented on #955
@tibor Do you by chance have two copies of the plugin installed?

[2018-02-14 06:50] westonruter commented on #957
@renatonascalves good catch. Yes, please do open a PR! You may want to use `is_post_type_viewable(
$post->post_type )`.

[2018-02-14 07:08] westonruter commented on #956
I think this resonates with @pbakaus's wishes expressed in https://github.com/Automattic/amp-wp/issues/927#issuecomment-363199810:

On a related note, the plugin currently stops concatenating enqueued CSS if it surpasses 50KB normally. This is what currently causes the site in the Customizer preview to appear unstyled, since the enqueueing of Dashicons surpasses the limit and prevents the theme's

[2018-02-14 07:32] amedina commented on #956
Agree that we need an approach to enable users to activate 0.7 without breaking their site. Related to this is our discussion in [#934](https://github.com/Automattic/amp-wp/issues/934). The strategy of opting in into dirty AMP is a possibility. My concern is that such an approach may end up with sites that are always in dirty AMP mode.

[2018-02-14 09:22] westonruter opened #958 "Enable generation of Optimized (aka Transformed) AMP pages"
We can speed up the serving of AMP pages by pre-rendering them and serving them in the same way they are served from an AMP cache. In short, the processes performed by the [AMP Optimizer](https://github.com/ampproject/amp-toolbox/tree/master/packages/optimizer) should be ported into the plugin. Something important to note here that when pre-rendering is performed, there will somewhat counter-intui

[2018-02-14 10:47] westonruter opened #959 "Add caching of post processor output"
The preprocessor/sanitizer can be an expensive series of operations. If we take a hash of the pre-sanitized HTML and use this as the cache key for caching the sanitized output, it would be possible to short-circuit the entire sanitization process by serving the cache output directly. This would not preclude full page caches since PHP would still be generating the buffered output, but it would be a

[2018-02-14 10:53] westonruter opened #960 "Add admin notice if persistent object caching is not present"
The plugin really performs best (as does WordPress generally) when a persistent object cache is present. We detect whether it is present and inform if it is missing.

[2018-02-14 19:00] kienstra commented on #841
**Current Embed Support**

The matrix at the top of [this pull request](https://github.com/Automattic/amp-wp/pull/889) seems to track the current state of embed support. But I haven't verified it.

[2018-02-14 19:52] kienstra commented on #873
**Steps To Test**

1. Navigate to any page on the [test site](https://test-ampconfdemo.pantheonsite.io/)
2. View the HTML source of the page (in Chrome, Developer > View Source)
3. Search the source for `schema.org`
4. Expected: there are values for
* `@context`
* `publisher`
* `@type`
* `name`

Example:
[code]

[2018-02-15 09:30] westonruter opened #962 "Only add Schema.org metadata if not already added by another plugin"
Currently when theme support is enabled, `amp_print_schemaorg_metadata()` is called at the `wp_head` action. However, if another plugin is adding this Schema.org metadata then we should defer to the meta that it adds to prevent duplicates. So I think we should augment `AMP_Theme_Support::ensure_required_markup()` to check if the `script` is present after output-buffering, and if so, then add `amp_

[2018-02-15 10:46] westonruter commented on #689
@mjangda do you have any further info on what you had in mind for flattening out those two methods?

Otherwise, I think this issue can be closed.

[2018-02-15 11:39] notatamas opened #963 "Custom templates with amp_post_template_file filter results in error"
I get an error when I try to use custom templates.

AMP_Post_Template::verify_and_include was called incorrectly.Path validation for template (/var/www/html/wp-content/themes/xyz/amp/templates/single.php) failed. Path cannot traverse and must be located in `WP_CONTENT_DIR`

I use the amp_post_template_file filter as follows:
[code]

And the single.php file is just an exact copy of the one in the p

[2018-02-15 11:56] ahmadawais commented on #956
@westonruter I like that approach a lot. I'd 👍 for it to be there in the next version.

@amedina I agree that is possible but not everyone would want to go all in on AMP. E.g. I use this service called Intercom and I'm pretty sure the JS for that service will be stripped out via amp-wp 0.7 sanitizers.

So, for a site where I can't do without Intercom — I'll be left with the following options
1. No

[2018-02-15 13:00] ThierryA commented on #956
@ahmadawais I resonate with your concerns and you are most probably not the only only one facing this issue.

I am slightly torn between the two, technically we can definitely add the possibility to do what you are after as @westonruter suggested but I share @amedina concerns that dirty mode will become the easy solution and slow down the efforts to move things forward.

I believe the best would b

[2018-02-15 20:02] bhubbard opened #965 "Implement REST API endpoints for managing settings"
I would love to see this plugin support the WordPress Rest API. Here are the general endpoints I could imagine.

[code]

[2018-02-16 15:01] rockindolphin opened #966 "Problem with conversion of quotes"
For the Russian locale, wordpress uses wptexturize to convert opening curly double quote from symbol `'&#8220;'`  into `'&#171;'`
enabling of the plugin breaks this behavior

[2018-02-16 19:39] csossi commented on #873
verified in QA

[2018-02-17 17:53] westonruter commented on #965
The design settings I don't think will be implemented since they are very much tied the post templates currently in the plugin. We're going to be moving away from this built-in theme in favor of pushing for themes that either support AMP directly or which are enabled for AMP by the plugin. As such, it should be core that exposes the design settings in the same way that it should expose Customizer

[2018-02-19 09:22] emresque commented on #474
Hi,

I still get the question mark although i have permalinks enabled and my normal pages and posts have urls without question marks. And when i just type /amp et the end of my urls it goes 404. Can anybody help me on this? (example page-->[seo hizmeti](https://www.netseouzmani.com/seo-hizmeti/?amp)

[2018-02-19 17:33] rockindolphin commented on #966
found possible solution - call `wptexturize('non empty text',false)` with some text and `$reset` set to `true `before plugin init

[2018-02-19 18:07] davisshaver opened #968 "Implement AMP Stories"
**ISSUE 1: As a WordPress author, I need to be able to manage content for AMP stories using Gutenberg.**
Key PR: #1215

- [x] AC1: I should be able to create between 1 and _n_ pages for AMP stories.
   - [x] At this time, _n_ is assumed to be up to 20 pages (though this is not a hard limit).
- [x] AC2: I should be able to rearrange pages inside AMP stories.
- [x] AC3: I also, within each page, nee

[2018-02-19 18:32] westonruter commented on #968
Yes, this has just been talked about for the next major version, perhaps 0.8. In particular we're wanting to implement AMP Stories support via Gutenberg blocks. In short, we'd register a new `amp_story` custom post type. Then this post type would have a fixed template allowing for a single `amp-story` block. This block would be nesting, allowing for `amp-story-page` blocks inside of it. These bloc

[2018-02-19 18:37] westonruter commented on #474
@emresque The query var is used for pages and any other non-hierarchical post type. Please see https://wordpress.org/support/topic/0-6-0-not-working-for-pages/#post-9903766

[2018-02-19 19:07] westonruter commented on #963
One of the conditions in this method is failing:

https://github.com/Automattic/amp-wp/blob/8edc4152b1bd633dc27b6f9d78ea513670ce18c1/includes/templates/class-amp-post-template.php#L576-L588

That's where I'd look.

[2018-02-19 19:48] westonruter opened #969 "Force HTTPS Everywhere"
There is a WP Core Trac ticket for enforcing HTTPS everywhere: https://core.trac.wordpress.org/ticket/28521

There is already a degree of this HTTPS-enforcement as part of the whitelist sanitizer which would be more robust than what is possible in core, since core doesn't have access to the `DOMDocument` response. We could implement some of the ideas from the core ticket while waiting for it to la

[2018-02-19 20:25] emresque commented on #474
ah now i see, it is true that for blog posts i have normal urls without the question mark..good to know that it is ok from google's point of view..thanks for the information Weston!

[2018-02-19 21:34] RetroJamz opened #970 "The tag 'amp-ad extension .js script' appears more than once in the document."
Hi,

Anytime I activate your plugin, google search console mails me about an error as stated above, but when i disable the plugin the error is fixed.

I need a solution as this is really messing up my presence in search results.

[2018-02-20 01:01] westonruter commented on #966
@rockindolphin I'm not able to reproduce this problem. I created a new WP install with the AMP plugin v0.6.1. I installed and activated the ru_RU locale. I created a post as follows:

![image](https://user-images.githubusercontent.com/134745/36402904-61b22f7c-1596-11e8-9efb-dee3abb5c2ca.png)

The text is:

The AMP version of the post is then:

![image](https://user-images.githubusercontent.com/134

[2018-02-20 01:03] westonruter commented on #966
By any chance is your `DB_CHARSET` not set to `utf8`?

[2018-02-20 01:04] #957 closed

[2018-02-20 12:50] #966 closed

[2018-02-20 16:47] kienstra commented on #843
**Steps To Test**

1. Create a new post on the [test site](https://test-ampconfdemo.pantheonsite.io)
2. Paste the following content in the editor:
[code]
3. Click "Save Draft"
4. Expected a warning with:
* A message that the post isn't valid
* The invalid elements
* The invalid attributes

<img width="1062" alt="validation-failure-message" src="https://user-images.githubusercontent.com/4063887/364

[2018-02-20 18:40] westonruter commented on #843
This is due to the whitelist stanitizer removing empty parent elements when an invalid element is removed. I believe it is this logic here:

https://github.com/Automattic/amp-wp/blob/388f79f369997938224aa489fa86cf003a3eb9cd/includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php#L1479-L1485

At the very least this can be changed from `remove_invalid_child` to just `removeChild` since it is n

[2018-02-20 18:59] westonruter commented on #966
@rockindolphin was that the problem? It is a known issue that UTF-8 is required. See https://github.com/Automattic/amp-wp/issues/855

[2018-02-21 00:55] #933 closed

[2018-02-21 06:09] kienstra commented on #864
**Request For QA***

Hi @csossi,
Could you please test this ticket? The widgets look to appear and work as expected in my local environment.

The [test site](https://test-ampconfdemo.pantheonsite.io/) might not be the best place for this, as it'll distort the pages when we place 20-30 test widgets in the sidebar.

We should run the [widget test script](https://github.com/Automattic/amp-wp/blob/dev

[2018-02-21 09:55] ThierryA commented on #843
@westonruter @kienstra what is the reason for the preprocessor remove the parent if the parent is valid, is the intention not leave empty HTML Tag?

[2018-02-21 17:54] kienstra commented on #843
**Removed Parent Element**

Hi @ThierryA,
It looks like the intent is for the preprocessor to remove the parent if its only child was the removed element.

In that case, there's probably no reason to report its removal, as we don't know if it's invalid. @westonruter's suggestion works locally:

[code]

There's also a slightly-relate edge case where this doesn't report the removal of a parent if th

[2018-02-21 21:29] csossi commented on #843
@kienstra , not seeing any warning here
![image](https://user-images.githubusercontent.com/16945664/36506344-56516280-1724-11e8-9ebc-372a2bb6db6e.png)

[2018-02-22 03:11] kienstra commented on #843
**Dev Site**

Hi @csossi,
Thanks for testing this. Could you please use the [dev site](https://dev-ampconfdemo.pantheonsite.io)? It has more up-to-date code. That looks to display the error.

[2018-02-22 10:04] ashishyadav400 opened #972 "How can we use Syntax Highlighter in AMP ?"
is it possible to show Syntax Highlighted codes in AMP?

[2018-02-22 14:01] csossi commented on #843
verified in QA

[2018-02-22 16:51] westonruter commented on #972
Only if the syntax highlighting is done via PHP on the server and not by JS on the client. You can also use `amp-gist`.

[2018-02-22 16:51] #972 closed

[2018-02-22 17:05] #901 closed

[2018-02-22 19:39] westonruter commented on #689
We can re-open if need be.

[2018-02-22 19:39] #689 closed

[2018-02-22 23:29] kienstra commented on #841
**Test Page**

Hi @csossi,
Could you please use this [test page](https://dev-ampconfdemo.pantheonsite.io/?page_id=313&preview=true), which @westonruter created?

[2018-02-23 21:19] davisshaver commented on #968
Wanted to share what Mic product open sourced today. A story format in JSON. https://github.com/micnews/story-json

Not suggesting that we detour to their format. But they have built something very cool on top of this: a story JSON to video tool. https://github.com/micnews/story-json-to-amp

This could be a great feature for AMP WP too, or an extension plugin.

[2018-02-24 22:05] csossi commented on #841
Thanks, gents - on it

[2018-02-24 22:50] csossi commented on #841
@westonruter, @kienstra  - QA Results:
- CloudUp Image Embed (blank/white space)
- CollegeHumor Embed - (blank/black space)
- Flickr Video Embed - image appears, but no embedded video
- Photobucket Embed - displays URL only
- Screencast embed - "Unable to display content. Adobe Flash os required"

Please let me know if any of these are "ok as is"

[2018-02-25 21:30] davisshaver opened #974 "<img> tag with decimal in width or height will fail validation as <amp-img>"
Need to investigate whether this is responsive images or AMP WP plugin. Can be assigned to me. Will write additional test case.

[2018-02-26 06:50] westonruter opened #975 "Use Custom Logo instead of Site Icon for Publisher Logo"
The Site Icon was the best default we had at the time that Schema.org metadata were introduced in v0.3 (Feb 18, 2016) of the plugin:

https://github.com/Automattic/amp-wp/blob/ac753c4aeb60386e5e1364747aeb1952b853d86d/includes/amp-helper-functions.php#L399-L417

However, in WordPress 4.5 (April 2016) the Custom Logo feature was introduced. The Custom Logo is a much better choice than Site Icon sinc

[2018-02-26 06:50] westonruter commented on #147
Closing in favor of using Custom Logo introduced in WordPress 4.5. See #975.

[2018-02-26 06:50] #147 closed

[2018-02-26 06:59] westonruter commented on #974
@davisshaver could you also please take a look at the case when `0` is supplied for the `width` or `height`? See https://wordpress.org/support/topic/amp-img-not-setting-height-and-width/

[2018-02-26 09:01] ierpe opened #976 "MP4 Video shortcode creates invalid AMP page"
**As a user, I expect video shortcodes to work inside my WordPress posts when they are rendered as AMP.**
- [ ] AC1: The sanitizer should convert the `http` request to `https` as described below.

---

Hi,

You can see this problem directly within the AMP Google search console :
https://search.google.com/test/amp?skip_amp_follow=true&id=RH1_TwbRhxkrC2y1Hgap-Q

The post content generating the error

[2018-02-26 09:20] rubengonzalezmrf opened #977 "Malformed url in links creates an invalid AMP page"
If an editor ads a link like `<a href="http://foo%20bar">foo bar</a>` by mistake, the generated amp page will be invalid.

I think it would be great to add an AMP_Link_Sanitizer class that checks the urls of the links and remove the <a> tag if the url is malformed.

[2018-02-26 16:32] betozephyr commented on #752
Hello Everyone,
I faced the same issue on my website and it was a little hard for me as I know nothing about AMP. I'm using Godaddy server and I found the website below which helped me to resolve my problem. Issues have dropped 20% since yesterday.

https://www.platopost.com/business/technology/how-to-fix-amp-issue-user-authored-javascript-found-on-page/

[2018-02-26 18:40] westonruter commented on #977
Interesting. When validating the AMP Validator just links to https://www.ampproject.org/docs/reference/spec#links which says:

I'm not sure how the validator is understanding a URL like `http://foo%20bar`, but somehow the domain is causing a validation error. I don't see why such a URL would be disallowed from looking at the spec:

https://github.com/ampproject/amphtml/blob/master/validator/valida

[2018-02-26 18:56] westonruter commented on #976
Yes, this is a problem I've come across as well. The quick fix on your end is to just modify the URL from `http:` to `https:`.

However, this should be getting done automatically, such in [`AMP_Video_Sanitizer`](https://github.com/Automattic/amp-wp/blob/develop/includes/sanitizers/class-amp-video-sanitizer.php) by:

https://github.com/Automattic/amp-wp/blob/ac753c4aeb60386e5e1364747aeb1952b853d86d

[2018-02-26 19:04] westonruter commented on #841
This is expected. It's a problem on the CollegeHumor side. “The embed attempts to load http content through an https amp-iframe src (amp-iframe requires https). This causes the browser to reject it.” https://github.com/Automattic/amp-wp/pull/889

This is expected. This is a problem on the Screencast side. “I'm seeing the same error appear on the desktop version. This looks like it might be the dow

[2018-02-26 19:13] kienstra commented on #864
**Test Page**

Hi @csossi,
Could you please test the widgets on [this test page](https://dev-ampconfdemo.pantheonsite.io/2018/02/)?

Please verify these widgets:
* Audio
* Archives (without dropdown)
* Archives (with dropdown)
* Calendar
* Categories (without dropdown)
* Categories (with dropdown)
* Custom HTML
* Gallery
* Image
* Menu
* Pages
* Recent Posts
* RSS
* Tag Cloud (without count)
* Tag

[2018-02-26 19:18] kienstra commented on #841
**Thanks, Looking At The Results Now**

Hi @csossi,
Thanks a lot for testing this. I'm looking at the results now on the [test page](https://dev-ampconfdemo.pantheonsite.io/?page_id=313&preview=true).

[2018-02-26 20:28] kienstra commented on #841
**Initial Findings**

This seems to be related to Jetpack. On deactivating the 'Image Performance' setting in the Jetpack dashboard on the [dev site](https://dev-ampconfdemo.pantheonsite.io/wp-admin/admin.php?page=jetpack#/dashboard), this displayed as expected.

Jetpack seems to change the `src` of this embed's `<amp-img>` from:
https://i.cloudup.com/cTZsPiiemn-900x900.jpeg
to:
https://i2.wp.com/

[2018-02-26 22:13] BeaKara opened #980 "How Can I put videos in My AMP form?"
Hi.
If you can help me with that issue i will be so grateful.
I need that all videos that i insert in my post are visible on my Amp version.
How can I do that?
Thanks in advance for your help.

[2018-02-26 23:00] westonruter commented on #980
Hi there. This is a better question for the support forum: https://wordpress.org/support/plugin/amp

Thanks.

[2018-02-26 23:00] #980 closed

[2018-02-26 23:00] davisshaver commented on #968
Example story via Washington Post: https://www.washingtonpost.com/graphics/2018/world/amp-stories/imprisoned-journalists-around-the-world/?hpid=hp_no-name_no-name%3Ahomepage%2Fstory

[2018-02-27 07:38] rubengonzalezmrf commented on #977
Hi, the validator is complaining about the host, the protocol seems to be correct, it's `http:` but looking at the validator code, in the file:

`amphtml/validator/engine/parse-url.js`

There's this code in line 290 which validates that the host doesn't contain any url encoded content:

[code]

I agree it should be in `AMP_Tag_And_Attribute_Sanitizer` class but maybe in a new `check_attr_spec_rule

[2018-02-27 16:53] westonruter commented on #977
Sounds good!

[2018-02-27 17:16] csossi commented on #864
verified in QA

[2018-02-27 21:26] csossi commented on #874
verified in QA

[2018-02-27 22:00] #974 closed

[2018-02-27 22:01] csossi commented on #847
verified in qa

[2018-02-27 22:15] kienstra commented on #62
**No Functional Testing Needed**

Feel free to comment if you have another opinion, but I won't move this into QA. This could possibly use more technical testing, but I don't see a need for functional testing.

[2018-02-27 22:46] kienstra commented on #875
**No Functional Testing Needed**

Feel free to comment if you have another opinion, but I moved this out of the 'QA' column. This could possibly use more technical testing, but I don't see a need for functional testing.

[2018-02-28 12:53] davisshaver commented on #977
I have run into this, too. Other examples seen in the wild during validation:

- User types `mail to:` instead of `mailto`, breaks validation.
- User accidentally inputs text into link, breaks validation.
- User accidentally includes a space in the URL, which gets caught as mentioned at top.

Might be test case fodder, lemme know if you want help @rubengonzalezmrf

[2018-02-28 12:54] davisshaver commented on #975
See also https://github.com/Automattic/amp-wp/issues/552.

Since AMP and Parse.ly plugin have some bond I also created https://github.com/Parsely/wp-parsely/issues/85

[2018-02-28 13:13] davisshaver commented on #908
@glenngabe I recommend copying the templates into the `amp` folder of your theme so that they aren't overwritten during updates. Alternatively you could modify templates with hooks/filters. https://github.com/Automattic/amp-wp/wiki/Customization-and-Templating#head-and-footer

[2018-02-28 17:18] davisshaver opened #981 "Should we hydrate $authordata before calling templates?"
As described earlier in https://github.com/Automattic/amp-wp/issues/734, we may want to hydrate the global `$authordata` variable to improve developer experience in AMP templates.

[code]

[2018-02-28 17:19] davisshaver commented on #981
The use case for me was using the same function to generate GTM data layer JSON blob for AMP and non-AMP.

[2018-02-28 17:27] westonruter opened #982 "Ensure support for Dirty AMP"
AMP can be used as a component library even on non-AMP pages. This is called “Dirty AMP”. When a theme is doing this they will have to enqueue the AMP component scripts on their own whereas when AMP is active it will automatically add the component scripts to the `head` based on which components are actually used in the page. So if AMP components are being used like this on non-AMP pages then we n

[2018-02-28 17:39] jasti commented on #913
@amedina is there public documentation for the AdSense options already available that work with Wordpress generated from AMP?

[2018-02-28 17:45] davisshaver commented on #913
@jasti The AMP docs for AdSense units work, as seen here. https://onwardstate.com/2018/02/19/best-features-thon-2018/amp

This requires template change. Can you be more specific about the problem you are trying to solve?

[2018-02-28 18:17] kienstra commented on #842
**Discussion Is On PR**

Most of the discussion for this issue is now taking place on this [pull request](https://github.com/Automattic/amp-wp/pull/971#issuecomment-369043964).

[2018-02-28 21:16] westonruter commented on #977
@rubengonzalezmrf from your comments I assumed you were looking to open a PR?

[2018-02-28 21:30] westonruter commented on #981
We wouldn't you just do `$authordata = get_userdata( get_queried_object()->post_author )` always? Relying on the presence of a global variable is not ideal. I suppose the only reason to do so would be for the sake of plugins that are looking for `$authordata`.

Really the issue is not that `$authordata` is not being defined but rather that `setup_postdata( get_queried_object() )` is not being call

[2018-02-28 21:34] davisshaver commented on #981
I was using `get_the_author()` which assumes presence of `$authordata` global. I saw the issue as inconsistent behavior of core template functions but I understand the pagination side effect you are mentioning. Maybe the best step is just to close this and if anyone else runs into the same they can use the pattern above as a workaround?

[2018-02-28 21:52] westonruter commented on #551
See note on https://github.com/Automattic/amp-wp/issues/220#issuecomment-361473254

Modifying the post templates in the theme now will run the risk of conflicting with developers who have customized the templates in their theme. If we introduce a way to manipulate the header in some way, but the developer has already added Customizer controls for doing this, then the user could end up seeing two c

[2018-02-28 21:54] westonruter commented on #981
Yeah, agreed. The above workaround will work well. Since `pre_amp_render_post` will cease to be called with the move to AMP-supporting themes, the code will eventually cease to be required.

[2018-02-28 21:54] #981 closed

[2018-03-01 01:08] davisshaver commented on #551
@westonruter That direction sounds promising and it seems I need to read up on the changes going into 0.7. Perhaps this can be closed? cc @mjangda

[2018-03-01 09:30] rubengonzalezmrf commented on #977
@westonruter yes, i've done it already: [Pull request #983](https://github.com/Automattic/amp-wp/pull/983)

[2018-03-01 13:17] ThierryA commented on #864
@kienstra could kindly update the list of widget supported now that the work is done. It would be great to have it in the WIKI and then change all instances of the tables to link to the wiki to avoid confusion.

PS: this should apply to embeds too

[2018-03-01 14:38] glenngabe commented on #908
OK, thanks for the information. I'll look into this and see what I can do. But couldn't the plugin itself just have options for adding the tracking via GTM?? That seems like the easiest approach for users.

[2018-03-01 14:45] davisshaver commented on #908
@glenngabe As no other analytics are integrated into this project currently, I don't see why we would add GTM.

Perhaps you could reach out to whomever maintains the plugin you use for your main GTM integration and suggest that they integrate with this plugin.

[2018-03-01 14:52] glenngabe commented on #908
I'm not sure I understand. There's an analytics option in the the AMP plugin settings. That's where you can add GA code. Why not just expand that to GTM code as well?

[2018-03-01 14:58] davisshaver commented on #908
@glenngabe I see what you mean, but GA is not supported directly. That is a generic interface for adding `<amp-analytics>`. By following the existing documentation you could setup GTM through the existing interface. Or use the template action approach, as mentioned above.

For example, note how `attributes` is supported & documented on the wiki page: https://github.com/Automattic/amp-wp/wiki/Analy

[2018-03-01 18:41] kienstra commented on #864
**Added Page To Wiki**

Hi @ThierryA,
This [new page](https://github.com/Automattic/amp-wp/wiki/Native-WordPress-Widget-and-Embed-Support) in the project wiki has the updated matrices for widget and embed support. Also, I made a comment in [the](https://github.com/Automattic/amp-wp/issues/864#issuecomment-357834012) [existing](https://github.com/Automattic/amp-wp/issues/806#issuecomment-350790526)

[2018-03-02 07:43] rubengonzalezmrf commented on #977
@davisshaver if a user inputs just text in a link like "foo bar", wordpress automatically prepends the protocol http:// so it's the same case than the "http://foo bar"

[2018-03-02 12:58] davisshaver commented on #977
@rubengonzalezmrf I encountered the issue mentioned above while testing/migrating legacy content. Seems like the editor behavior probably changed since the content was originally produced but I still think the test cases are warranted for backwards compatibility (even if they seem unlikely to happen today).

[2018-03-02 21:08] mzakariya opened #987 "WooCommerce + AMP: Conflict"
A site owner with both WooCommerce + AMP is reporting that:

More details, including site URL, available in: 990666-zen

[2018-03-03 01:05] westonruter commented on #987
Please see: https://wordpress.org/support/topic/woocommece-usage-of-this-plugin/

[2018-03-03 01:05] #987 closed

[2018-03-03 10:40] otpidusprime opened #988 "AMP is not available"
Getting an `AMP is not available for the page currently being previewed.` message on the site: globaltripinfo.co when we go to AMP option in the customizer - even if the plugin is enabled and updated.

I tried to check if it is a plugin conflict, disabling other plugins did not help.

**ISSUE SCREENSHOT:**
![screen shot 2018-03-03 at 4 06 21 pm](https://user-images.githubusercontent.com/29238672/3

[2018-03-04 04:41] westonruter commented on #988
Look in the footer, you'll see an AMP toggle. Clicking it will reveal a tooltip with a link to load an AMP page into the preview:

![image](https://user-images.githubusercontent.com/134745/36942267-3d4e17ea-1f23-11e8-885a-11055e6f1233.png)

[2018-03-04 04:41] #988 closed

[2018-03-04 07:56] otpidusprime commented on #988
When I click on that toggle, the tooltip has no link to AMP compatible page.
![screen shot on 2018-03-04 at 13_25_28](https://user-images.githubusercontent.com/29238672/36943442-9224bfd0-1faf-11e8-9b22-85732bcfc611.png)

[2018-03-04 22:19] westonruter commented on #988
@otpidusprime do you have any posts published? Have you enable AMP support in the admin for the post types that you use on your site?

[2018-03-05 10:43] ThierryA commented on #864
Awesome, thanks @kienstra

[2018-03-05 16:07] otpidusprime commented on #988
@westonruter That is actually a site of the user that I am currently helping with.
Not sure if I should put the ticket number here as this issue thread is public.

However, I can say that there are no posts published on the site. Only some pages.

[2018-03-05 18:07] westonruter commented on #988
@otpidusprime ok, then it makes sense that this link would not work.

The URL that is used for this tooltip comes from `amp_admin_get_preview_permalink()`:

https://github.com/Automattic/amp-wp/blob/fc6d81cae20b164f8fea60b7080bb245f1d22497/includes/admin/functions.php#L38-L70

You can see that it looks for the default post type of `post`, which you don't have any of.

So what you should be able to