[2021-07-26 17:58] westonruter commented on #6485
@milindmore22 Please confirm if it is the same issue via https://github.com/ampproject/amp-wp/issues/5122#issuecomment-764883002 to turn off auto-lightbox.

[2021-07-26 18:32] westonruter commented on #3210
Follow-up discussion on whether there should ba a mechanism for explicitly opting-in to deleting data: https://github.com/google/web-stories-wp/issues/8453

We could add a new option on the settings screen which is disabled by default to ”Delete all plugin data upon uninstallation“. This could be disabled by default if we want to be extra cautious. If a user uninstalls the plugin and finds the dat

[2021-07-26 18:35] westonruter opened #6486 "Consider adding UI setting for data removal upon uninstall"
## Feature description

Please see https://github.com/google/web-stories-wp/issues/8453, where there is a discussion of whether uninstallation should require an explicit user opt-in to delete plugin data. This is a follow-up on https://github.com/ampproject/amp-wp/issues/3210.

---------------

_Do not alter or remove anything below. The following sections will be managed by moderators only._

##

[2021-07-26 20:23] jwold commented on #4386
Thanks for the feedback! So we'd want to simplify a few things. Is this an accurate representation of what you suggested above?

![#4386 Encourage Page Caching](https://user-images.githubusercontent.com/3411173/127053949-c8645601-94b9-4887-9f8a-805dd9238b08.jpg)

[2021-07-26 20:28] westonruter commented on #4386
Yes. That looks right. In both cases, we'll end up linking them off to our guide. What will differ between the two paths is the status of the check, whether it is a PASS or FAIL.

I missed this. The flow is essentially the same, although it is much simpler to detect whether object caching is implemented. We already have that implemented. What's missing is the recommended plugins, based on what cap

[2021-07-27 10:10] milindmore22 commented on #6485
Yes, it's the same issue, but it was reproducible with the Gutenberg plugin and not with Core Block Editor.

[2021-07-27 10:29] milindmore22 opened #6489 "Lightbox gallery always show first image."
## Bug Description

If a page/post has multiple images and all images are opted-in for AMP Lightbox, clicking on any image shows/focus the first image on the page.

## Expected Behaviour

The clicked image should be opened up/focused in the lightbox gallery.

## Steps to reproduce

1. Create a Post
2. Add 3-4 images and Opt-in for Lightbox
3. Open Same Post's AMP endpoint
4. Scroll down and click

[2021-07-27 17:26] westonruter commented on #6485
I'm confused. The issue doesn't happen when Gutenberg is deactivated?

[2021-07-27 22:17] jwold opened #6490 "Onboarding wizard sidebar stepper not showing step icons"
## Bug Description

When I'm going through the onboarding wizard, I'll occasionally see the icons missing for the first three steps in the sidebar.

This seems to only happen when reaching the end of the onboarding wizard, and attempting to go backward.

Note: This only seems to happen in Safari on Mac, couldn't get it to replicate in Chrome.

## Expected Behaviour

The onboarding wizard stepper i

[2021-07-27 22:34] pierlon commented on #6490
Seems to be only occurring in Safari, looking into this...

[2021-07-27 22:59] westonruter commented on #6489
It looks like this may be an issue with AMP core. See https://github.com/ampproject/amphtml/issues/35402.

[2021-07-27 23:02] westonruter commented on #6489
Nevertheless, I don't think the workaround described in https://github.com/ampproject/amphtml/issues/35402#issuecomment-887837815 will work in the plugin because the unused `amp-carousel` script would get stripped out.

[2021-07-28 11:23] rolandfarkasCOM opened #6492 "Redirect Loop with multiple spaces in the url"
## Bug Description

A redirect loop is caused when more than one spaces are in the url.

## Expected Behaviour

Page to work normally

## Steps to Reproduce

defeated-leopard.jurassic.ninja/?test=test+this+out+as+it+breaks+your+site

I have uninstalled Jetpack, installed AMP, enabled standard mode, selected a static homepage, and changed the permalink settings to Post Name.

So by the looks of it,

[2021-07-28 11:25] milindmore22 commented on #6485
I am unable to reproduce the issue today, I think it may be the cached results that got me confused, sorry to take your time I will mark this issue as closed.

[2021-07-28 11:25] #6485 closed, assigned to nobody

[2021-07-28 11:59] milindmore22 commented on #6492
I am able to reproduce this issue with Static Homepage and post name permalink structure.

[2021-07-28 22:21] westonruter commented on #6492
I can reproduce the issue as well, but only when a static front page is selected. It also happens only when the AMP plugin is active alone.

[2021-07-28 23:26] westonruter commented on #6492
I've traced the issue down to a behavior where `remove_query_arg()` is normalizing URLs to use `+` for spaces instead of `%20`:

[code]

In contrast, `redirect_canonical()` is [normalizing query strings](https://github.com/WordPress/wordpress-develop/blob/ad976addb3612a77e5e4e2211283514a2aedbf8a/src/wp-includes/canonical.php#L551-L562) to use `%20` instead of `+` for spaces, by means of `parse_str

[2021-07-28 23:55] westonruter commented on #6492
I've created the fix in #6494.

[2021-07-29 10:34] rolandfarkasCOM commented on #6492
Thanks @westonruter & @milindmore22 hopefully an update will be available soon.

[2021-07-29 14:30] westonruter commented on #6492
To be closed when the PR is merged.

We'll give you a prerelease build to use while waiting for 2.1.4.

[2021-07-29 14:34] rolandfarkasCOM commented on #6492
Thank you 👍🙏

[2021-07-29 19:48] jwold commented on #6443
We discussed this in our plugin sync today, and per the initial release this will be an experimental feature. We won't have a user interface to reveal the feature, but will instead make it available as a PHP filter for initial testing.

[2021-07-29 19:54] jwold commented on #5378
This will still be importance in a Bento world, since we can have a site off cache depending on its sandbox level. It’s currently blocked upstream in the AMP project.

[2021-07-29 20:41] jwold commented on #5101
From our meeting today:

This is blocked by plugin compatibility scanning. When we have the endpoint for scanning, we can delete the server side PHP code. Right now when a user activates a plugin there's a loopback request server side, this slows activation fo the plugin. Can take 15-20 seconds to activate. This has been fixed in the post editor by making validation async.

We can do the same here

[2021-07-29 20:57] westonruter commented on #6235
@pierlon this is being fixed in what you're doing to fix #6490?

[2021-07-29 21:02] pierlon commented on #6235
Oh yes that would resolve this issue as well. I'll create a separate PR with those changes then as they've become mutually exclusive to the actual issue I was fixing.

[2021-07-29 21:08] westonruter commented on #5678
After thinking about this some more, I don't think we should change the default theme we activate because we need the theme scanning results in order to safely do so (#4795). Also, we want to eventually make Standard mode the default for new activations. Therefore, any change here would be just changing the order of presentation for the Reader themes. So I'm going to close this for now.

[2021-07-29 21:08] #5678 closed, assigned to nobody

[2021-07-29 21:09] westonruter commented on #5552
Work in progress via https://github.com/ampproject/amp-wp/pull/6442.

[2021-07-30 00:30] #6492 closed, assigned to westonruter

[2021-07-30 00:58] #6490 closed, assigned to westonruter

[2021-07-30 01:09] westonruter commented on #6492
@rolandfarkasCOM Please use the 2.1.x production build linked from the [Development Builds wiki page](https://github.com/ampproject/amp-wp/wiki/Development-Builds#:~:text=2.1.x%20production).

[2021-07-30 09:25] rmccue opened #6499 "Plugin loading on plugins_loaded at PHP_INT_MIN before other plugins properly initialize"
## Bug Description

AMP loads at PHP_INT_MIN:

https://github.com/ampproject/amp-wp/blob/890617a5f28e555a63b4b28074a7dd949f52dec1/amp.php#L259

This means that other plugins may not properly have initialized, including dependencies of AMP itself.

In particular, AMP calls `wp_upload_dir()` via:
[code]

This means that any plugin which changes the upload directory, such as [S3 Uploads](https://gith

[2021-07-30 10:21] rmccue commented on #6499
This may _actually_ have been fixed in 02ace15e42a78eec1a256cd65a2765a4c0c72bbe, investigating; the version doesn't match exactly what I saw initially. (Honestly, trying to track these 40 levels of indirection is doing my head in a bit, so apologies if it has been.)

[2021-07-30 12:34] rmccue commented on #6499
This appears to have been fixed as a side-effect of 02ace15e42a78eec1a256cd65a2765a4c0c72bbe, so I _think_ the original bug surfaced by this issue has been fixed.

That said, loading the plugin this early does mess with other systems and can lead to unintended behaviour, so I'll leave this open at your discretion.

[2021-07-30 17:35] jwold commented on #6071
@westonruter

1. Will the plugin be able to detect the top level navigational menu items on a site, and auto-populate those links under the `Review your site` section? (example: https://d.pr/i/81hfri)
2. If we can detect those items, would it be possible to make them clickable so that selecting them updates the preview window on the right? (example: https://d.pr/i/YqDv9G)

[2021-07-30 18:32] westonruter commented on #6499
The PR with this fix was #6233. You can see with that change the `upload_dir` filter is no longer applying, if I understand the problem correctly with your conflict.

It could have called `amp_bootstrap_plugin()` right there in `amp.php` without deferring it to run at `plugins_loaded`. So in that way, it could actually be running earlier.

Are you actually referring to `PHP_INT_MIN` for the `plugi

[2021-07-30 18:42] westonruter commented on #6071
This could look at the theme's registered nav menu locations and obtain any links from the associated nav menus. But that may not be the most representative of all the various templates of the site. What may be more helpful is to use the same URLs that we're thinking to use for Site Scanning. As mentioned in https://github.com/ampproject/amp-wp/issues/4795, the `ScannableURLProvider::get_urls()` f

[2021-07-30 18:54] westonruter commented on #5578
@jwold IMO, the headings under the Other section for “Redirects” and “Dev Tools” are too similarly-sized to the toggles they are for. Maybe the headings are redundant?

[2021-07-30 20:06] jwold commented on #6071
That's great news, thanks!

[2021-07-30 20:35] jwold commented on #5578
@westonruter that's a good point. That heading level has always been a bit weird. I just submitted an attempted fix. Feel free to remove it if my code was incorrect; figured I'd try! 😀

Screenshot of what I'm trying to do: https://d.pr/i/CPtRce
- [Commit 1](https://github.com/ampproject/amp-wp/commit/344a98b0611fc279ec46db4a072eff621b3df072)
- [Commit 2](https://github.com/ampproject/amp-wp/commit

[2021-07-30 20:52] jwold commented on #4719
@westonruter a few questions have come up in terms of site scanning:

1. Do we have a sense of how long a site scan can take; in terms of the typical range?

2. What data will we want to reveal from the site scan in the onboarding wizard/settings? Assuming something like:
- Theme name, description of error found, number of error(s) found
- Plugin name, description of error(s) found, number of erro

[2021-07-30 23:19] westonruter commented on #4719
When running `wp amp validation run --limit=1` from the command line, it obtains one URL of each template and post type. These URLs are obtained via `\AmpProject\AmpWP\Validation\ScannableURLProvider::get_urls()`. On my test site, these include 8 URLs:

1. `post`
1. `page`
1. `attachment`
1. `category`
1. `post_tag`
1. `author`
1. `date`
1. `search`

(Aside: I see this is missing an explicit check

[2021-07-31 20:20] westonruter opened #6505 "Fatal error in PHP 8"
## Bug Description

The PHP 8 compatibility added in https://github.com/ampproject/amp-wp/issues/5480 was not proven to be exhaustive, and a [support topic](https://wordpress.org/support/topic/amp-plugins-not-working-using-php8/) has illuminated an area that needs to be fixed. They reported the following error:

Stack trace:

[code]

## Expected Behaviour

No error should occur in PHP 8.

## Steps

[2021-07-31 22:30] pierlon commented on #6505
Seems the issue lies within `get_option()` unserializing the cached response before returning it. I think checking if the `$cached_response` is a string before attempting to unserialize it would be sufficient then.

[2021-08-02 12:53] kenrodriguesdesign commented on #4843
Hey @westonruter, unfortunate that the CTA isn't possible, so we will continue working on it being just a promo for now.

I will take into consideration the placement of the prompt to be added into notification along with a couple more variations.

[2021-08-03 07:28] lucidgen commented on #6035
.wp-block-image [class^='align'] > figcaption {
	display: block;
}
Work for me, thank you @dkoo

[2021-08-03 15:59] #6505 closed, assigned to nobody

[2021-08-03 16:12] swissspidy opened #6507 "`<meta>` tags in post content not properly recognized"
## Bug Description

On my personal site I am using the Twenty Nineteen and a few common plugins like Jetpack, Site Kit, AMP, Polylang, Yoast SEO, etc.

Whenever I create a new post, the AMP plugin's validation tool tells me about some duplicate `<meta charset="UTF-8">` tags that it gladly removed for me.

However, I don't know why there would be two such tags. Especially since the Twenty Nineteen

[2021-08-03 17:13] westonruter commented on #6507
Interesting. If you switch to Transitional mode, do you see duplicated `meta[charset]` tags in the non-AMP version?

Also, could you try the Site Health Troubleshooting mode? If you have the theme active and AMP active alone in Troubleshooting mode, does the error still happen? If not, could you then re-enable each plugin in Troubleshooting mode and re-check AMP validation to see at what point the

[2021-08-03 17:21] swissspidy commented on #6507
Wow, I think I found the issue 🤦

I did some more testing and realized that this was only happening with this one draft post I was writing.

Then I turned on Transitional mode and looked for the duplicate tag in that post, only to find that this meta tag was somehow in the middle of my content:

![Screenshot 2021-08-03 at 19 18 10](https://user-images.githubusercontent.com/841956/128058434-ae23a7a

[2021-08-03 17:33] westonruter commented on #6507
This is an interesting case. The reason why the source attribution isn't working is because the meta sanitizer is moving `meta` tags up to the `head`:

https://github.com/ampproject/amp-wp/blob/2f929028d2506bc048439f698bb0e54d63e7b414/includes/sanitizers/class-amp-meta-sanitizer.php#L117-L154

When the tags are moved, they lose their source stack comments so that's why they show up without attribu

[2021-08-03 17:43] swissspidy opened #6508 "Empty AMP Settings panel for video block"
## Bug Description

I just inserted a video block in Gutenberg and selected a video and poster as usual.

There I noticed an empty "AMP Settings" panel in the block sidebar for this block.

## Expected Behaviour

If there are no AMP settings, just don't render the panel.

## Steps to reproduce

1. Insert video block
2. Notice empty AMP Settings panel in the block sidebar

## Screenshots

![Screens

[2021-08-03 20:20] westonruter commented on #6508
This looks to be something that was missed in https://github.com/ampproject/amp-wp/issues/4555 and/or https://github.com/ampproject/amp-wp/issues/4554 via https://github.com/ampproject/amp-wp/pull/5574 and https://github.com/ampproject/amp-wp/pull/5573. Namely, we've deprecated the AMP Layout setting, but we still show it if the user had previously set it while also showing a deprecation notice. W

[2021-08-04 00:49] westonruter commented on #809
The PR has been merged into `develop`. This work can proceed.

[2021-08-04 00:50] westonruter commented on #6060
The PR has been merged into `develop`. This work can proceed.

[2021-08-04 02:51] westonruter commented on #6505
Fix verified by user on WordPress.org! https://wordpress.org/support/topic/amp-plugins-not-working-using-php8/#post-14732454

[2021-08-04 17:57] jamesozzie commented on #6035
@westonruter Do you think there is any action required here or will we close out this one, given it would require a browser specific solution?

[2021-08-04 19:19] westonruter commented on #6035
I bet the problem has to do with the conversion to `amp-img` which then requires the image to have `display:inline-block` instead of `display:inline`, which somehow impacts Safari's rendering. Given that `amp-img` is going to be deprecated in favor of the native `img` (https://github.com/ampproject/amphtml/issues/30442), the AMP plugin will discontinue doing this conversion and the issue could be

[2021-08-05 00:23] westonruter commented on #6459
@ktmn The fix has been merged and cherry-picked into the `2.1` branch. It would be very helpful if you could test the [2.1.x production build](https://github.com/ampproject/amp-wp/wiki/Development-Builds#:~:text=2.1.x%20production) linked from the Development Builds wiki page.

[2021-08-05 01:05] westonruter opened #6516 "Add endpoint that lists out the entities registered by each theme/plugin"
## Feature description

In #4795 for theme compatibility scanning, we need a way to determine whether we can recommend a user to select a separate Reader theme in Reader template mode:

We need a way to determine if the theme is registering any such entities before we can recommend this.

In the same way, for plugin compatibility scanning (#4719), we may recommend to the user that they suppress ce

[2021-08-05 02:42] #5115 closed, assigned to bartoszgadomski

[2021-08-05 18:29] #5559 closed, assigned to nobody

[2021-08-09 10:56] swissspidy commented on #4635
Just ran into the `muted is deprecated` warning for a video with autoplay off.

The plugin's validation tool did not warn me about this deprecation message, so I only learned it through Search Console. It would be great if the plugin would warn me about this.

In https://github.com/ampproject/amphtml/issues/28041#issuecomment-620795887 it was mentioned that it's difficult or even impossible to rem

[2021-08-09 16:31] milindmore22 opened #6521 "AMP Block validation fails on widget screen"
## Bug Description

The Block based widgets are introduced in WordPress 5.8, The AMP plugins block validation runs on the widget editor which requires post ID and post type, creating 400 and 404 errors.

Also, The widget script adds PHP Notice for enqueuing script correctly.
`
Notice: wp_enqueue_script() was called incorrectly. "wp-editor" script should not be enqueued together with the new widget

[2021-08-09 20:06] westonruter commented on #4635
It's been awhile since I looked at this, so I'm confused. You're seeing the `muted is deprecated` notice when autoplay is _off_? I'm not seeing that warning in the the validator. I'm not seeing it when `autoplay` is absent (see [playground](https://playground.amp.dev/?format=websites&_gl=1*ozcu68*_ga*YW1wLTkyNW81TVZ3MmZjS0F6aVZfV2pfOHc.#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoSBpLWFtcGh0bWwtbGF5b3V

[2021-08-09 20:12] swissspidy commented on #4635
Yes. It's _absent_, to be precise. But in the editor it's "off" like this:

![Screenshot 2021-08-09 at 12 51 07](https://user-images.githubusercontent.com/841956/128768273-078d3301-dabb-429a-a5ba-2a2b8602df75.png)

The markup is as follows:

[code]

Search Console complains:

[2021-08-09 20:30] westonruter commented on #4635
Ah, it's specifically flagging the presence of `muted` on the `noscript > video` fallback element.

The `muted` attribute on `amp-video` itself is not deprecated: https://github.com/ampproject/amphtml/blob/530fc13c795099f03ac043739eac0aa22c7372e6/extensions/amp-video/validator-amp-video.protoascii#L75-L78

It is, however, on `amp-video > noscript > video`: https://github.com/ampproject/amphtml/blo

[2021-08-10 17:51] westonruter commented on #6459
@pierlon @schlessera  There seems to be a regression introduced with #6484. In particular, the `ValidationCounts` service is no longer getting registered:

![image](https://user-images.githubusercontent.com/134745/128909684-00fc75f4-3b69-4da1-804e-ae2ba1d05bb8.png)

I checked in both in the `develop` branch and the `2.1` branch and I see the same thing. If I try the `2.1.3` release, then I get the

[2021-08-11 02:33] #5549 closed, assigned to bartoszgadomski

[2021-08-12 14:48] wpgaurav opened #6535 "AMP Validation issue in Search Console"
Google is showing AMP validation issues on almost all of my AMP pages.

Looks like it has something to do with Gravatar images.

`<img alt class=i-amphtml-intrinsic-sizer height=auto src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjkxIiB3aWR0aD0iNTIwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg==" width=100%></i-amphtml-sizer><img alt="Gaurav Tiwari" class="i-amphtml-fill-

[2021-08-12 14:52] wpgaurav commented on #6535
I cannot seem to find this code on view-source: page.

[2021-08-13 14:47] thrijith opened #6536 "Allow mime type webp in Featured Image validation"
## Bug Description

As Core 5.8 and above allows WebP support by default, it is possible user may use WebP in Featured images, though the upload for WebP is allowed, the info/alert from AMP might be confusing.

![5a5adf7d048137e9ef59e50742b78615](https://user-images.githubusercontent.com/13589980/129374476-467d3a22-c10c-4a4f-9dfc-30684e4766da.png)

Can `webp` be added to the existing list here? ht

[2021-08-13 17:53] westonruter commented on #6536
Good catch.

The original issue that added this check was https://github.com/ampproject/amp-wp/issues/1812 which cited this Google Search requirement:

The requirements have been updated to replace that point with

<blockquote>The file format must be <a href="https://developers.google.com/search/docs/advanced/guidelines/google-images#supported-image-formats">supported by Google Images</a>.</blockq

[2021-08-13 17:57] westonruter commented on #6535
Please share one of the URLs that has the issue reported for it.

[2021-08-13 18:19] pierlon commented on #6536
Probably because AVIF [isn't supported](https://caniuse.com/avif) in (the stable versions of) Firefox nor Safari?

![image](https://user-images.githubusercontent.com/16200219/129402361-e662f3a5-5420-49fb-a9eb-466266081459.png)

[2021-08-13 18:34] westonruter commented on #6536
Maybe, but Google's requirements are for the sake of _Google_ being able to consume the image to surface in search results. I presume Google transforms the image into the required dimensions for SERPs and would use the required format at that time (e.g. taking what was originally a poorly-encoded JPEG and serving as an optimized WebP) rather than passing through the original format.

[2021-08-13 19:13] #6459 closed, assigned to westonruter

[2021-08-16 19:17] westonruter commented on #6182
@askmeoffers Do you have any findings?

[2021-08-17 08:27] dhaval-parekh commented on #5411
Currently, the Issue is not able to reproduce with the current version of the Jetpack plugin along with previous versions of it (First scenario). However, the Issue is able to reproduce with the "Bad Block" plugin (second scenario), But in the stylesheet meta, It shows AMP and Bad Block as source plugins.

<img width="1190" alt="image" src="https://user-images.githubusercontent.com/8168027/1296906

[2021-08-17 15:10] westonruter commented on #5411
Another issue which may actually be the same as this one: #6231.

[2021-08-17 22:54] askmeoffers commented on #6182
@westonruter Sorry for the delayed response due to COVID-19 issues within our family members.

The updates improved the speed but we still see the difference in speed with ESM_MODULES disabled/enabled.

When we disable ESM_MODULES Speed is +3 approximately as we noticed earlier.

We also tested with the default WordPress theme and other hosting providers( wpengine, pantheon, and flywheel servers)

[2021-08-18 12:29] kenrodriguesdesign commented on #4843
Hey @westonruter, the team has confirmed this design

<img width="1024" alt="#4843" src="https://user-images.githubusercontent.com/61531990/129898148-fd3caf92-8b3d-428c-bb09-b09407fd4e9b.png">

The "Learn More" link will lead to a section in [this page](https://amp-wp.org/documentation/getting-started/amp-site-setup/page-caching-with-amp-and-wordpress/) to inform the user why they need to flush th

[2021-08-18 14:41] kenrodriguesdesign commented on #5101
Hey @westonruter,
The UX UI team discussed an alternate flow to this issue and we concluded that this flow would be better from a UX perspective.

1. Select the “Activate” action.
2. We can intercept the activation of the plugin by using this `https://developer.wordpress.org/reference/functions/register_activation_hook/`
3. Once intercepted, the AMP Plugin can check for compatibility issues.
4. Ba

[2021-08-18 16:03] ktmn commented on #6459
Works for me, thanks!

[2021-08-19 00:26] #6521 closed, assigned to westonruter

[2021-08-19 00:29] westonruter commented on #6521
@milindmore22 The fix was just cherry-picked onto the 2.1 branch. Would you verify the fix for 2.1.4?

[2021-08-19 01:10] #6030 closed, assigned to bartoszgadomski

[2021-08-19 08:49] kenrodriguesdesign commented on #4386
Hey @westonruter, I'm working on the UI for this and in regards to your comment:

I went ahead and created this and wanted to know your thoughts about this.
<img width="1281" alt="#4386" src="https://user-images.githubusercontent.com/61531990/130038670-83a1fae0-7476-4f85-b126-53dade1e5c35.png">

[2021-08-19 12:51] milindmore22 commented on #6521
@westonruter Looks fine, one question can you please confirm if skipped block validation for widgets?

[2021-08-19 22:49] westonruter commented on #6521
@milindmore22 Do you mean the `amp-block-validation.css` and `amp-block-validation.js` assets? Yes, these are now omitted from the Widgets screen. The only AMP assets enqueued on the Widgets screen are `amp-validation-counts.css` and `amp-validation-counts.js` which are not for block validation but for lazily-populating the admin menu with validation counts.

[2021-08-19 23:23] westonruter commented on #5101
I don't think this will be feasible because the activation hook happens when activation happens and it doesn't provide an API to intercept activation.

If you try to output something in the activation hook, WordPress core outputs this notice:

![image](https://user-images.githubusercontent.com/134745/130155925-2c8ea5b9-7dd8-42f6-b982-767759d11e42.png)

If you try to `die` in the activation hook, t

[2021-08-19 23:25] westonruter commented on #4843
Yes, that looks good.

[2021-08-19 23:44] westonruter opened #6549 "Broken “Re-enable transient caching” button for “Transient caching of parsed stylesheets is disabled” site health test"
## Bug Description

The Site Health test for “Transient caching of parsed stylesheets is disabled” has a “Re-enable transient caching” button that is supposed to dismiss the site health test, but as can be seen here there is something wrong with the button. The styling seems to be missing:

![image](https://user-images.githubusercontent.com/134745/130157293-61334965-60b0-4a9a-b0bd-b2035216c733.png

[2021-08-19 23:45] westonruter commented on #4386
I'll note that the updated logic for detecting page caching is being made more robust in #6456 so we don't have to rely on `WP_CACHE`. Nevertheless, having such a button will provide a way to dismiss this site health test. We'll need to make sure that we have a link to the page caching documentation featured here.

Note there is an existing such button for another Site Health test for the styleshe

[2021-08-19 23:52] pierlon commented on #6549
The JS should be enqueued by the `ReenableCssTransientCachingAjaxAction` service, but that doesn't seem to be the case.

[2021-08-20 14:03] milindmore22 commented on #6521
@westonruter ok got it, tested seems working fine.

[2021-08-20 14:53] kenrodriguesdesign commented on #6486
I will be picking this issue up for the design

[2021-08-23 06:41] askmeoffers commented on #6182
Hi Team,

Below are URL's

With Enabled ESM Module :
https://dev-askmeoffers-global.pantheonsite.io/oyo-coupons/

With Disabled ESM Module
https://askmeoffers.com/oyo-coupons/

Thanks
Team

[2021-08-23 19:58] westonruter commented on #6182
Comparing the `live` environment with the `dev` environment may not give the most reliable results, as the `dev` environment has caching turned off. I recommend deploying a plugin to the `live` env that allows you to conditionally turn on/off ESM modules so that you can test more accurately.

Here's an example of such a plugin: https://gist.github.com/westonruter/279bcb54336449ce55d8887fb0fcf5b9

[2021-08-24 06:15] askmeoffers commented on #6182
@westonruter  Thank you!

I have activated the plugin on the live server
https://askmeoffers.com/oyo-coupons/

You can continue debugging

Thanks
Team-

[2021-08-24 06:35] stuartshields opened #6555 "AMP Next Page - Analytics loaded on next page causing 400px fixed height"
## Bug Description

When using `amp-next-page` and a post is loaded in, I am seeing a 400px fixed height around `noscript`:

[code]

This is what the noscript looks like for the GTM on the initial page load and is hidden:

[code]

It appears that `amp-next-page` is adding in the following on the newly added page:

[code]

Note: I've removed the GTM ID and added `<hidden-gtm-tag>`
## Expected Behav

[2021-08-24 13:13] swissspidy opened #6556 "Separate unit tests and integration tests"
## Feature description

With the addition of #6525, this repo now uses [`yoast/wp-test-utils`](https://github.com/Yoast/wp-test-utils) for the PHPUnit tests.

These PHPUnit tests are currently _integration tests_ as they are using `Yoast\WPTestUtils\WPIntegration\TestCase` / `WP_UnitTestCase` which requires running database and essentially a WordPress instance.

`yoast/wp-test-utils` also provides

[2021-08-24 13:27] wpgaurav commented on #6535
Hi,
Sorry for the delay. https://gauravtiwari.org/pass-core-web-vitals-test/?amp=1

Please check on this

[2021-08-24 13:29] wpgaurav commented on #6535
Here's the total source code that Search console sees: https://gist.github.com/wpgaurav/d14c648bac2421d93486afdd9ceca9a5

[2021-08-24 16:25] milindmore22 opened #6557 "Malformed media queries in Legacy theme."
## Bug Description

Recently we got two support topics ( [topic1](https://wordpress.org/support/topic/css-syntax-error-in-tag-style-amp-custom-19/#post-14800716), [topic2](https://wordpress.org/support/topic/css-syntax-error-in-tag-style-amp-custom-18/)) for malformed media queries warning reported by Google Search Console.
although the CSS is valid the issue is only reproducible on [AMP Playgroun

[2021-08-24 20:00] pierlon commented on #6557
The simple fix here seems to just remove the `calc()` instances with their pixel values, but I'm not sure why AMP Playground is emitting those validation warnings as yet.

[2021-08-24 20:39] westonruter commented on #6557
Wow! I didn't realize that _we_ were to blame for the `calc()` in media queries issue!

To reproduce this issue, you first have to add a block and give it the wide layout in Gutenberg:

Otherwise the `.alignwide` CSS rule is tree-shaken.

AMP Playground shows warnings where AMP Validator does not. I think validator.amp.dev is just out of date.

The Node.js and C++ AMP Validators are both issuing t

[2021-08-24 20:40] westonruter commented on #6557
The use of `calc()` was added in https://github.com/ampproject/amp-wp/commit/7400d2bd8b33463b768cfe75e15eb62f0d78b140 but I am not sure why.

[2021-08-24 22:47] pierlon commented on #6557
Could it be a bug in the AMP Validator? For example, given the media query:

[code]

I see that it starts to parse the media query [here](https://github.com/ampproject/amphtml/blob/7a3474dfea23101d9f039f86a6c5e86be885d66a/validator/js/engine/parse-css.js#L1217-L1220):

[code]

Which would then cause it to start [parsing the media expression](https://github.com/ampproject/amphtml/blob/7a3474dfea231

[2021-08-24 22:57] westonruter commented on #6182
I ran the two versions through 9 runs each on WebPageTest. The results are showing a performance _improvement_ with ESM enabled:

Variation | Performance results
------|--------------------
[ESM Disabled](https://www.webpagetest.org/result/210824_AiDcT8_a4c5d9cbd291abc572921d9cec8e0eb8/) | ![esm-disabled](https://user-images.githubusercontent.com/134745/130700254-d25fe292-e579-4b15-91f9-d19efb50f6

[2021-08-24 22:57] pierlon commented on #6557
The validator does seem to conform to the CSS 3 spec though, as it [states](https://www.w3.org/TR/css3-mediaqueries/#media1) that a media feature can:

While a CSS property may:

[2021-08-24 22:59] westonruter commented on #6557
Yes, [I believe](https://wordpress.org/support/topic/css-syntax-error-in-tag-style-amp-custom-18/#post-14788999) it is a bug with the AMP validator.

Nevertheless, the use of `calc()` in the media queries seems pointless and can e removed as well, right?

[2021-08-24 23:00] pierlon commented on #6557
Yep they can be removed. I'll open a PR doing that to resolve this in the interim.

[2021-08-24 23:26] westonruter commented on #6555
This seems like a bug with AMP core rather than with the AMP plugin.

You can block the AMP plugin from creating the `noscript` fallbacks with the following plugin code:

[code]

[2021-08-24 23:38] westonruter commented on #6535
You appear to have an optimization plugin or some other optimization layer which is injecting `width="100%"` and `height="auto"` into these `img` tags.

The tag generated by the AMP Optimizer in the AMP plugin is as follows:

[code]

@milindmore22 can provide further assistance if you can't identify where those attributes are coming from.

[2021-08-24 23:54] #6557 closed, assigned to westonruter

[2021-08-25 04:57] #6549 closed, assigned to westonruter

[2021-08-25 04:58] askmeoffers commented on #6182
@westonruter  Thank you!

I also notice the same from my end

The speed has improved with ESM Mode enabled in a live environment.

Earlier we compared the dev environment so that caused confusion

Thanks to the AMP team who have enabled us with such a powerful web framework!

I will deactivate the plugin now so that ESM mode is enabled and we can close this ticket now.

[2021-08-25 04:59] #6182 closed, assigned to nobody

[2021-08-25 05:23] #6060 closed, assigned to delawski

[2021-08-25 05:56] wpgaurav commented on #6535
Oh yeah. It was a plugin that adds height and width to all images. Rectified.

[2021-08-25 05:56] #6535 closed, assigned to nobody

[2021-08-25 06:10] pierlon commented on #6557
I've filed a bug report upstream: https://github.com/ampproject/amphtml/issues/35793.

[2021-08-25 10:50] pierlon commented on #6536
I forgot that WordPress doesn't support SVG images due to the possibility of code injection (here's an 8 year old [Trac ticket](https://core.trac.wordpress.org/ticket/24251) discussing it at length). Nevertheless, we can still add the SVG MIME type given that there are plugins that add support for it.

[2021-08-25 10:57] DarthJahus opened #6564 "Using this AMP plugin. Using ampUrls:batchGet function of the AMP API, we notice a strange behavior"
## Bug Description

When we pass some webpage's URL to `ampUrls:batchGet`, this is what we get as answer:

[code]

Note that the webpage does have the `<link rel="amphtml" href="//example.com/2021/08/25/some-article/amp/">` tag.

However, if we add `/amp/` to the link before calling the API, the result is returned successfully.

## Expected Behaviour

Return cached AMP url correctly.

## Steps to

[2021-08-25 12:27] kenrodriguesdesign commented on #5101
Hey @westonruter

Okay, I understood the flow that you've stated above and the errors that come along with it. So in this case we'll revert to the flow mentioned in the Implementation brief.

For the remaining comments:

<img width="1280" alt="Screenshot 2021-08-25 at 5 54 45 PM" src="https://user-images.githubusercontent.com/61531990/130789981-b27cb23e-3144-449d-bfdb-fa729776a1df.png">

<img widt

[2021-08-25 14:34] kswro opened #6566 "AMP-WP removing the sizes attribute from the amp-img markup"
## Bug Description

I'm having a problem with AMP-WP running in my installation. In both standard and transitional mode (with ?amp=1), it seems that AMP-WP remove the `sizes` attribute in the `<amp-img>` tag of the template. The WordPress theme that I created completely uses the AMPHTML format.

I've also read the issue #https://github.com/ampproject/amp-wp/issues/4606, but what I'm experiencing r

[2021-08-25 16:12] kenrodriguesdesign commented on #6486
Hey @westonruter

For this, there were a couple of locations where the user could encounter the option to delete data.

1. An option for data removal in the plugin settings screen.
<img width="1281" alt="Screenshot 2021-08-25 at 9 32 10 PM" src="https://user-images.githubusercontent.com/61531990/130825252-f13eb8a4-404f-471d-9b1c-a4145eb1774a.png">

2. When the user deletes the plugin in the Plugin

[2021-08-25 18:56] westonruter commented on #6535
@wpgaurav Which plugin was it? Ideally the plugin would be updated to not add attributes to `img` elements that have a `data:` URL as their `src` so others don't have this issue in the future.

[2021-08-25 19:08] westonruter commented on #6564
Your `amphtml` link lacks the URL scheme (either `http:` or `https:`):

[code]

I believe this is what is causing the AMP URL to not be recognized.

It's not showing up in the AMP Validator extension either. See [source code](https://github.com/ampproject/amphtml/blob/6b5c95112e73b0e1322d9d7503ec7c787ebf3262/validator/js/chromeextension/content_script.js#L46-L49) in Chrome extension:

[code]

So y

[2021-08-25 19:08] #6564 closed, assigned to nobody

[2021-08-25 19:10] westonruter commented on #6486
This could make sense in the new Other section: https://github.com/ampproject/amp-wp/pull/6501

This won't be feasible because when the plugin is deactivated we will not be able to provide a custom UI to add the checkbox.

[2021-08-25 19:53] DarthJahus commented on #6564
@westonruter, your answer has helped a lot. I have found what was changing scheme from `https://` to `//`. So I'm leaving this comment in case someone needs it. In this case, it was "Protocol relative" enabled on CloudFlare by WPRocket plugin.

[2021-08-25 20:44] jwold commented on #2313
The design for this is ready for engineering review and followup. Feel free to reach out with any questions!

**Plugin compatibility**
1. Within the WordPress admin > Add Plugins, we'll need to add: A `PX Enhancing` tab. This will show all the AMP compatible WordPress.org plugins in a single list.
2. Within `Add Plugins` we'll add a `Page Experience Enhancing` badge to any AMP Compatible plugins w

[2021-08-25 21:14] jwold commented on #6071
The design for this is ready for engineering review and followup. Feel free to reach out with any questions!

Updated onboarding will include a few changes.

## 1. New welcome screen - Updated bullet point. Note that the `Learn More` will turn blue on hover.

![Welcome](https://user-images.githubusercontent.com/3411173/130864726-1e1b9cce-2757-405e-9f05-94b1f8ce99e6.png)

## 2. Technical background

[2021-08-25 21:22] #6536 closed, assigned to delawski

[2021-08-25 21:45] jwold commented on #4719
@delawski here are the latest designs for Site Scanning ready for engineering review. cc @amedina and @westonruter, as there may be some minor copy changes.

We've had some followup discussions with the team, and wanted to drop an update. This will technically encompass #4795 as well as this ticket, as the scan results are revealed on the same page. If I need to break up the features let me know.

[2021-08-26 13:44] delawski commented on #6071
@jwold Thank you for providing the designs. I've already [started working](https://github.com/ampproject/amp-wp/compare/feature/6071-onboarding-site-review?expand=1) on this issue and have majority of work already done.

[2021-08-26 16:27] westonruter commented on #6235
This issue has arisen again when Gutenberg 11.3.0 is active:

![image](https://user-images.githubusercontent.com/134745/131000241-42044411-3230-439a-abe0-533177ce2ece.png)

[2021-08-26 16:52] delawski commented on #6071
@jwold I have a question about the buttons on the Settings page:

1. Does the "Browse Site" button redirect a user to the site front-end in the AMP mode?
2. Does the "Dismiss" button remove the entire panel indefinitely or should it re-appear in some circumstances?

[2021-08-26 16:54] jwold commented on #6071
1. Does the "Browse Site" button redirect a user to the site front-end in the AMP mode?

That's perfect!

2. Does the "Dismiss" button remove the entire panel indefinitely or should it re-appear in some circumstances?

Great question. I think it could re-appear when users change template modes. What do you think?

[2021-08-26 16:56] kenrodriguesdesign commented on #6486
Okay, noted.

Sending an updated UI.
<img width="1280" alt="Screenshot 2021-08-26 at 10 21 34 PM" src="https://user-images.githubusercontent.com/61531990/131003624-03307e3d-885f-4050-aa5c-2e3ef1902bd5.png">

I was looking at a couple of examples when deleting a plugin came across an option which mentions the deletion of data.
<img width="1281" alt="Screenshot 2021-08-26 at 10 23 51 PM" src="https:

[2021-08-26 16:59] delawski commented on #6071
Yes, this would be one of the scenarios. I think that changing a theme or adding new plugins could be another cases when it could re-appear. This may be a bit more complex, though.

One more thing I just noticed is about the second bullet:

Since we're already on the Settings page should we change the copy so that it better fits into the context?

[2021-08-26 17:06] kenrodriguesdesign commented on #4386
Duly noted about the updated logic.

I went ahead and updated the design by adding the page caching link. (Content needs to be reviewed)
I would also recommend using the primary button(present in design) instead of the secondary button as shown in the previous comments.
<img width="1281" alt="Screenshot 2021-08-26 at 10 35 31 PM" src="https://user-images.githubusercontent.com/61531990/131005549-73

[2021-08-26 17:08] kenrodriguesdesign commented on #4843
Added a small tweak to the design, by introducing a dismiss option.
<img width="1024" alt="Screenshot 2021-08-26 at 10 37 43 PM" src="https://user-images.githubusercontent.com/61531990/131005889-8b121e13-23aa-41c1-ad3f-c672b688496c.png">

[2021-08-26 17:23] westonruter commented on #6235
@pierlon Is there a quick fix that would address this for 2.1.4?

[2021-08-26 17:32] pierlon commented on #6235
Just created #6570 as a fix.

[2021-08-26 17:37] jwold commented on #6071
maybe for initial release we do it on template mode change. Site scan should trigger on new plugin activation, so I see that as a separate issue.

Good catch! How about if we change this to: “Try a different template mode”, and hyper link to that section.

[2021-08-26 17:43] westonruter opened #6571 "Videos with unknown dimensions appear as stretched"
## Bug Description

Given a post containing a Video block with an external source:

[code]

Actual | Expected
--------|----------
![image](https://user-images.githubusercontent.com/134745/131008317-02837686-185f-4300-9c00-8c34126f116f.png) | ![image](https://user-images.githubusercontent.com/134745/131009868-4bf2e02a-2ab3-47c2-86a1-c360e8c58fae.png)

Notice the unexpected stretching.

The HTML bei

[2021-08-26 18:46] westonruter commented on #6571
Apparently this is just how browsers work, as I get the same thing in a standalone example: https://codepen.io/westonruter/pen/wveadmy

What's strange is that `img` with `object-fit:inherit` is showing `fill` but _without_ any user agent stylesheet of `contain`, but `video` does have this user agent stylesheet:

`img` | `video`
-------|--------
![image](https://user-images.githubusercontent.com/13

[2021-08-26 19:37] westonruter commented on #6486
Unfortunately this is something that would have to be done in WordPress core. In fact, this is proposed in an old core ticket: https://core.trac.wordpress.org/ticket/20578

So it seems the best we can do is add the toggle to the plugin settings screen.

[2021-08-26 19:54] westonruter commented on #6486
I just thought of a hack which may actually work. What we could do is add the prompt instructing the user to enable to toggle to the plugin description so that it shows up when the plugin is inactive. Then when the plugin is active, we can strip the notice out of the description:

<img width="1270" alt="Screen Shot 2021-08-26 at 12 48 38" src="https://user-images.githubusercontent.com/134745/13102

[2021-08-26 20:41] pierlon commented on #6486
Quite an interesting workaround, I wonder how it would show on the WordPress plugins [search page](https://wordpress.org/plugins/search/amp/)...

![image](https://user-images.githubusercontent.com/16200219/131033007-5827e198-2290-4575-9157-a1dc5c198ae7.png)

[2021-08-26 21:25] westonruter commented on #6486
Unless I'm mistaken, that text comes from the `readme.txt`, which we have duplicated with `amp.php`:

https://plugins.trac.wordpress.org/browser/amp/tags/2.1.3/amp.php#L4
https://plugins.trac.wordpress.org/browser/amp/tags/2.1.3/readme.txt#L11

[2021-08-26 21:39] pierlon commented on #6486
Yep you're right. That can be verified with the Web Stories plugin that uses different descriptions in [`readme.txt`](https://github.com/google/web-stories-wp/blob/24fe648cb6e4f6c63a8e8d06a4fe2a8fec6a3920/readme.txt#L11) and [`web-stories.php`](https://github.com/google/web-stories-wp/blob/24fe648cb6e4f6c63a8e8d06a4fe2a8fec6a3920/web-stories.php#L11), for example:

`web-stories.php`

`readme.txt`

[2021-08-27 01:40] westonruter commented on #5101
In the case of there being validation errors detected for the newly activated plugin(s), I think there should be (1) a link to the Plugin Suppression section, and (2) a list of links to Validated URLs on which the plugins' have errors occurring.

The list of validated URLs could appear collapsed in a `details` element with the summary being `Found issues on X URL(s)`, and then expanding that summa

[2021-08-27 01:48] westonruter commented on #2313
Note in this context we can also include plugins that are _not_ on WordPress.org. We just wouldn't be able to offer installation from that screen. We wouldn't be able to offer the same in the search results.

What about "PX Verified" instead? That seems a bit more clear.

Ditto for my comments above about plugins.

I wonder if this maybe too much? Maybe there could be a "PX Verified" comment tucke

[2021-08-27 08:16] swissspidy commented on #6486
Hmm we should probably update the description in `web-stories.php` 🤔

Adding such an uninstall note to the description sounds very novel to me. Not aware of any other plugin doing this. Nice way to give users one last reminder before deletion.

What I am wondering: does the AMP plugin really need such a UI setting?

While the Web Stories plugin deals with user-generated content, the AMP plugin jus

[2021-08-27 13:49] delawski commented on #6536
**QA Passed**

I've dragged and dropped a WebP image into the Featured Image pane in the editor sidebar. No info/alert message about the file format has been shown as expected:

<img width="290" alt="Screenshot 2021-08-27 at 15 37 11" src="https://user-images.githubusercontent.com/478735/131137193-273b5551-b24e-4c71-afbc-63cd779311d3.png">

*Tested against Version 2.2.0-alpha-20210825T212353Z-ab5a

[2021-08-27 13:56] delawski commented on #6060
**QA Passed**

I've pasted a TikTok link into a post that got automatically converted into an embed. I've then visited the AMP version of the post and confirmed that - as expected - the `amp-tiktok` element has been used to render the embed:

<img width="969" alt="Screenshot 2021-08-27 at 15 55 25" src="https://user-images.githubusercontent.com/478735/131138547-6eeae025-4e96-4cca-9b5d-6e4c58609e14

[2021-08-27 15:40] westonruter commented on #6486
That's true. The AMP Settings could be a pain if they were wiped out unexpectedly, though. And validation errors have statuses (kept / removed) which would could be a pain to lose depending on the site. I dunno, safer than sorry seems usually to be the better approach.

[2021-08-27 16:42] westonruter commented on #6235
My cherry-pick (d4d2a7b) onto the 2.1 branch failed: https://github.com/ampproject/amp-wp/runs/3444490820#step:7:109

It appears due to the Gutenberg packages not being updated.

@pierlon Is this something that can be easily backported to 2.1.x? Or is it too much of a headache?

[2021-08-27 16:43] westonruter commented on #6060
(To re-check on 2.1.4)

[2021-08-27 16:44] westonruter commented on #6536
(To re-check on 2.1.4-alpha)

[2021-08-27 16:49] westonruter commented on #6060
I've fixed the 2.1 build errors via https://github.com/ampproject/amp-wp/pull/6574. That should allow a new 2.1 branch build to be created, although there is a JS unit test error still. See https://github.com/ampproject/amp-wp/issues/6235#issuecomment-907332957.

[2021-08-27 17:05] pierlon commented on #6235
It seems all that's needed is to update the JS test snapshots to match the version of the `VisuallyHidden` component in that branch.

[2021-08-27 17:18] westonruter commented on #6235
Great! Fixed as of https://github.com/ampproject/amp-wp/pull/6575.

[2021-08-27 17:42] jwold commented on #2313
Good call out! cc @delawski

@amedina  what do you think?

Good point. We could go with just the text; or try to make the design a little more subtle:

![Group 3614](https://user-images.githubusercontent.com/3411173/131167733-1e267cce-8713-4d49-8612-bc5733e758b6.png)

Yes I am thinking it would look the same as the theme directory.

Good point.

[2021-08-27 17:49] westonruter commented on #2313
Yes, and I think it can be shortened a bit more to just “PX Verified” here too. The text “Page Experience Enhancing” feels too verbose.

[2021-08-27 18:08] westonruter commented on #4719
Plugin icons are only available in the context of the directory. Icons are not distributed with plugins. So we'll have to show plugins in a list form rather than in card form. Perhaps the Plugin Suppression list table would be relevant in this context, except we wouldn't necessarily be including the UI to suppress the plugin (unless if the user is technical?), and we wouldn't be listing plugins th

[2021-08-27 18:09] westonruter commented on #6071
As I just commented on https://github.com/ampproject/amp-wp/issues/4719#issuecomment-907381453:

[2021-08-27 19:54] westonruter commented on #6071
The links should be actual links I think and not radio options. To me when I see a radio button I think that I'm going to be changing some setting.

The links will be those which are obtained from Site Scanning, which involves obtaining URLs for the various template types. So we'd not be using the menu to obtain the URLs. The paragraph before can mention, “See below for some example pages you chec

[2021-08-27 20:15] westonruter commented on #4386
Yeah, looks good to me.

[2021-08-27 20:57] pierlon commented on #6571
According to the CSS Images Module Level 3 spec the [`object-fit` property](https://drafts.csswg.org/css-images/#the-object-fit) does not inherit its value and its initial value is `fill`:

<img width="530" alt="image" src="https://user-images.githubusercontent.com/16200219/131187753-8c0bdade-aeef-4de8-8917-711f00deedc1.png">

[2021-08-27 21:02] pierlon commented on #6571
So as expected, If I omit the `object-fit: inherit;` rule we supply it does use the user-agent rule:

<img width="667" alt="image" src="https://user-images.githubusercontent.com/16200219/131188141-7a6979c2-ea75-4a31-aaa8-524010dfa24e.png">

[2021-08-30 06:28] #6571 closed, assigned to westonruter

[2021-08-30 15:43] delawski commented on #6536
Confirmed to be working as expected on 2.1.4-alpha:

<img width="957" alt="Screenshot 2021-08-30 at 17 43 09" src="https://user-images.githubusercontent.com/478735/131366226-8de8dae9-7bd8-4d88-9974-fa2662e06a85.png">

[2021-08-30 16:04] delawski commented on #6060
Confirmed to be working as expected on 2.1.4-alpha:

<img width="1527" alt="Screenshot 2021-08-30 at 18 03 58" src="https://user-images.githubusercontent.com/478735/131369238-d05ff419-f202-4ea7-b38e-ce7072dac4b0.png">

[2021-08-30 21:43] westonruter commented on #6235
Humm. With the latest Gutenberg active, I'm seeing the same issue still on 2.1.4-alpha:

![image](https://user-images.githubusercontent.com/134745/131409657-a35c068d-a686-4ac8-9d7f-5926cbfe5d82.png)

[2021-08-30 21:54] pierlon commented on #6235
Can confirm, looking into this.

[2021-08-30 21:55] westonruter commented on #6235
The issue is not present on 2.2-alpha:

![image](https://user-images.githubusercontent.com/134745/131410525-a1fb0f56-09c4-404b-967e-b18887d962ef.png)

2.1.4-alpha | 2.2-alpha
-----------|------------
<img width="1399" alt="Screen Shot 2021-08-30 at 14 47 55" src="https://user-images.githubusercontent.com/134745/131410724-365de645-9a56-4c60-ad99-2002f23aa7b0.png"> | <img width="1395" alt="Screen Sh

[2021-08-30 22:06] westonruter commented on #6492
**QA Passed**

After having set the template mode to Standard, setting the homepage to a static page, and setting the permalink structure to post name:

Before, going to: `https://wordpress-stable.lndo.site/?test=test+this+out+as+it+breaks+your+site`

After, no infinite redirect:

[2021-08-30 22:12] westonruter commented on #6490
**QA Passed**

The stepper icons are showing after repeated back-and-forth in Safari:

https://user-images.githubusercontent.com/134745/131412490-465bcd6a-63aa-49a9-b924-f40b0906d08a.mov

[2021-08-30 22:25] westonruter commented on #6235
I just noticed this issue is also present in the Reader theme carousel pagination:

![image](https://user-images.githubusercontent.com/134745/131413723-fa9286b3-e2d8-4294-9934-118627c16148.png)

[2021-08-30 22:29] westonruter commented on #6557
**QA Passed**

After adding an image with Wide Alignment, the resulting page included:

[code]

No `calc()` in the queries.

And there is no longer any AMP validation warning about CSS.

[2021-08-30 22:38] westonruter commented on #6521
**QA Passed**

Before on 2.1.3 there was a notice on the Widgets screen:

![image](https://user-images.githubusercontent.com/134745/131414549-7b5675ca-631d-45b7-9c2a-163f9b9c8020.png)

This goes away when switching to 2.1.4-alpha:

![image](https://user-images.githubusercontent.com/134745/131414605-313076e0-a9ef-4265-ad08-00ffad9c1c77.png)

Please note that if you activate Jetpack then the notice

[2021-08-30 22:40] pierlon commented on #6235
The version of the `@wordpress/components` package on the 2.1 branch does not include the styles for the `VisuallyHidden` component, so I'm working on updating the package to the latest stable version. That will also mean updating all the other Gutenberg packages to ensure compatibility between the packages.

[2021-08-30 22:56] westonruter commented on #6549
**QA Passed**

The button in the test appears with proper styling and clicking the button takes the expected action:

![image](https://user-images.githubusercontent.com/134745/131416010-a9648ee8-e8f3-4384-b7b0-77c56d9b3f17.png)

![image](https://user-images.githubusercontent.com/134745/131416030-ed021367-1960-4525-8f93-dc81cca781d6.png)

[2021-08-30 23:00] westonruter commented on #6459
**QA Passed**

I added the “Activate AMP Plugin” plugin as described in #6484:

![image](https://user-images.githubusercontent.com/134745/131416328-06236a74-4e25-49af-bab9-649e915f8631.png)

Upon activating, the AMP plugin was also activated successfully:

![image](https://user-images.githubusercontent.com/134745/131416363-fc80d1ef-5b85-4695-b8fe-a0d35adcb658.png)

Nothing is added to the error lo

[2021-08-30 23:11] westonruter commented on #6571
**QA Passed**

Adding an external video results in no stretching:

![image](https://user-images.githubusercontent.com/134745/131417047-cc5f0d5b-f713-4d54-a4fd-13cc5fc7594a.png)

The `video` is inheriting the `object-fit` from the parent:

![image](https://user-images.githubusercontent.com/134745/131417118-ce30922a-45d7-474b-81bc-0b0e2f5acaff.png)

And the parent has `object-fit:contain`:

![image]

[2021-08-31 04:05] westonruter commented on #6235
Fixed for 2.1.4 via https://github.com/ampproject/amp-wp/pull/6585. Ready for QA.

[2021-08-31 04:05] #6235 closed, assigned to westonruter

[2021-08-31 05:02] westonruter commented on #6235
## ✅ WordPress 5.6.4 w/ Gutenberg

Settings Screen | Onboarding Wizard | Post Editor
----------------|---------------------|-------------
![image](https://user-images.githubusercontent.com/134745/131443886-bac5eb7f-45f1-4046-ba2d-c06a0d149ac7.png) | ![image](https://user-images.githubusercontent.com/134745/131443964-0b53d290-c2a8-4e51-baf7-f392cef9c697.png) | ![image](https://user-images.githubuse

[2021-08-31 05:11] westonruter commented on #6235
## ✅ WordPress 5.6.4 w/o Gutenberg

Settings Screen | Onboarding Wizard | Post Editor
----------------|---------------------|-------------
![image](https://user-images.githubusercontent.com/134745/131445109-1fcea0ba-4061-4640-bc52-762f7bc4d782.png) | ![image](https://user-images.githubusercontent.com/134745/131445158-94383dc3-507a-46a4-9991-c65797721a4e.png) | ![image](https://user-images.githubus

[2021-08-31 05:20] westonruter commented on #6235
I've tested various screens in the different versions and everything seems to check out.

@delawski Maybe you have some other areas in mind to test as well. Otherwise, I'm moving this to **QA Passed**.

[2021-08-31 11:19] maitreyie-chavan commented on #2313
@dhaval-parekh is picking up this issue to work on the recently updated implementation brief, while in the meantime the design gets finalised/updated by this week.

[2021-08-31 16:07] delawski commented on #6235
All good here 👍

[2021-08-31 17:42] delawski commented on #6071
I'd vote for radio buttons in this case. I think a preview state is actually a local (page-level) setting.

A set of links would mean a page redirect (a set of buttons would be more appropriate, then). However, a set of radio buttons seem to be the best suited approach. All those radio buttons relate to the same output element – a preview, and there's no way to toggle multiple page previews at onc

[2021-08-31 20:32] jwold commented on #4719
Thanks for clarifying. Didn't realize this was a limitation. I've updated the design to account for that, minus the suppression part.

Agreed, for now I believe we should keep them separate.

This could probably be as simple as updating the error notices in the AMP config table to account for this. Correct? Screenshot: https://d.pr/i/tlrFka

I'm worried this would be a bit overwhelming, repeating

[2021-09-01 04:34] westonruter commented on #6071
I don't think I understand. Fundamentally the list of links is a nav menu. Clicking a link in the nav menu causes a navigation in the preview iframe. I don't see why radio buttons make more sense than links. The links can even be regular links so that they can be opened in new windows/tabs in addition to regular link clicks causing the navigation in the preview iframe.

[2021-09-01 09:46] kenrodriguesdesign commented on #6486
Looks like a really good solution @westonruter
I like it.

Would it be possible to make the instructions looks like steps the user needs to follow, it seems to get lost in the text preset?
Something like this?
<img width="1281" alt="Screenshot 2021-09-01 at 3 00 57 PM" src="https://user-images.githubusercontent.com/61531990/131648048-33e6a39b-5bae-4e66-88a2-62d301b0d265.png">

[2021-09-01 10:55] delawski commented on #6071
I guess my take on it comes from the fact that I think of the Onboarding Wizard (and so the site preview feature) as being more an app and less a web page. In this case, the preview iframe is an output element controlled by the nav menu (radio buttons/filters) and the AMP toggle. (Speaking of the AMP toggle above the preview, a user might think that it changes some setting, too.)

I'm open to go w

[2021-09-01 11:48] kenrodriguesdesign commented on #5101
Okay, understood.
But I think we should place the CTA for Plugin Suppression settings above the List of validated URLs rather than after the list.

Sending an Updated UI design for this.
For now, I have taken 3 URLs as an example, do let me know the number of URLs we decide to scan.

Collapsed view:
<img width="1281" alt="Screenshot 2021-09-01 at 4 45 29 PM" src="https://user-images.githubusercont

[2021-09-01 12:46] swissspidy opened #6587 "LGTM Code Analysis"
## Feature description

I noticed that the amphtml repo uses [LGTM](https://lgtm.com/) for code analysis, which seems to provide some useful results that might not be caught by other linters.

I've just set it up for the Web Stories repo and fixed quite a few bugs found by it:

https://github.com/google/web-stories-wp/pull/8900

For the AMP plugin there are not too many alerts, which is good: http

[2021-09-01 18:01] pierlon commented on #6587
This indeed looks like a good status check to have for our PRs. At the same time we could add the [CodeQL GitHub Action](https://github.com/github/codeql-action) to scan for security vulnerabilities.

@westonruter Any objection to adding the LGTM GitHub app?

[2021-09-01 18:06] pierlon commented on #6587
Note that LGTM (and CodeQL) at this time would only support our Python & JavaScript codebase, and not PHP. We already have PHPStan doing static code analysis on that part, though.

[2021-09-01 19:53] westonruter commented on #6587
SGTM! 😄

[2021-09-01 19:59] westonruter commented on #6486
Yes, that should be doable. There are some restrictions to the text which can appear in the description, so that's why I've used `em` and `strong` for example. Here are the allowed tags: https://github.com/WordPress/wordpress-develop/blob/baa5ba32d8698f6a6a5928bcbd4fea35bd47a8c1/src/wp-admin/includes/plugin.php#L173-L186

[2021-09-01 20:01] westonruter commented on #5101
Yeah, I think that's good.

The number will be variable, but figure on maybe up to 10. In any case, the list is collapsed by default so I don't think that's a problem.

[2021-09-01 20:11] westonruter commented on #4719
Right, I guess that is captured right now, but it isn't specifically identifying the theme or plugins as being why Standard is not recommended. Basically, any results from the site scan on the previous screen could mean Standard is not recommended, at least until the loose sandboxing level is the default.

Yeah, it may be excessive.

I'm not sure what is being linked to. The Figma screen is showin

[2021-09-01 20:12] swissspidy commented on #6587
Yeah we‘ve been using CodeQL for some time as well already. Some of its errors are apparently based on LGTM, so there‘s some overlap. Still useful though.

[2021-09-02 20:45] rolandfarkasCOM commented on #6492
Thanks for the help @westonruter it is very much appreciated!

[2021-09-03 17:36] jwold commented on #4719
@westonruter just curious, what other information is available? For instance, can we see `Last Updated: 2 weeks ago`, or `Version: 0.2.0`?

[2021-09-03 20:08] jwold commented on #4719
@westonruter and @amedina I've updated the prototype based on our last conversation, and look forward to your feedback.

**Video:**

https://user-images.githubusercontent.com/3411173/132060409-887cdf27-7980-4009-8147-e94f30dd0c91.mp4

This also accounts for #6071 with site review, so we'll go over them together. Happy to schedule a call Tuesday/Wednesday, otherwise we can go async. You can also ch

[2021-09-04 23:52] westonruter commented on #6295
Note that this did end up getting implemented, but it requires that you are not targeting for a valid AMP page. See https://github.com/ampproject/amp-wp/pull/6589.

[2021-09-06 20:47] dhaval-parekh commented on #2313
@jwold , @westonruter Could we remove the rating, active install part from the plugin card that is not listed in WordPress org? Since, that information is not available in amp-wp.org and showing that information will be misleading.

For example,
<img width="501" alt="image" src="https://user-images.githubusercontent.com/8168027/132259664-f14d9af5-d772-48d5-a0c2-f3eb0bcb8a74.png">

[2021-09-07 10:25] milindmore22 commented on #5780
A suggestion from the user from [support topic ](https://wordpress.org/support/topic/turn-off-persistent-object-cache-notification/#post-14845941)using varnish cache to suppress the recommendation, as varnish eliminates the need for persistent object caching @westonruter your thoughts on this one?

[2021-09-07 17:20] westonruter commented on #5780
That's a good question. I've [proposed](https://wordpress.org/support/topic/turn-off-persistent-object-cache-notification/#post-14847767) the following:

<blockquote cite="https://wordpress.org/support/topic/turn-off-persistent-object-cache-notification/#post-14847767"><p>Even though page caching like Varnish does reduce the need for persistent object caching, it is still recommended because it re

[2021-09-07 21:06] westonruter commented on #4719
@jwold Are the counts next to “theme issues” and “plugin issues” indicating the number of themes and plugins respectively that issues? Or is it indicating the number of issues across the themes and plugins? If the former, which seems to be indicated here, then the headings should perhaps be rather “Plugins with issues”.

Note that there will usually be one theme, or else a parent theme and child t

[2021-09-07 23:30] amedina commented on #4719
+1 on providing such access to advanced users.

Could the `Browse site` button at the end be placed on the right?

[2021-09-08 00:01] jwold commented on #4719
Good catch. Fixed. It's supposed to be "Plugins with issues."

I like that. Updated: https://d.pr/i/WQy2bG

Good point. That got lost in the mix. Added back in: https://d.pr/i/1OmyDm

What if we changed it then to "Plugins with AMP incompatibility?" That helps solve the problem in the meantime until we're ready for 2.3. Screenshot: https://d.pr/i/1OmyDm

We've discussed whether to include a link o

[2021-09-08 10:02] kenrodriguesdesign commented on #5101
Adding a Figma link for reference and copy as well.

https://www.figma.com/file/SfMlDvHc5KHxJmAZN12PIM/AMP-Design?node-id=2903%3A22353

[2021-09-08 10:03] kenrodriguesdesign commented on #6486
Adding a Figma link for reference and copy as well.

https://www.figma.com/file/SfMlDvHc5KHxJmAZN12PIM/AMP-Design?node-id=3293%3A26161

[2021-09-08 16:55] jwold commented on #4719
@delawski this is now unblocked: https://www.figma.com/file/SfMlDvHc5KHxJmAZN12PIM/?node-id=0%3A1

Happy to jump on a call if clarification is needed!

cc @westonruter and @amedina

[2021-09-08 22:12] westonruter commented on #6587
LGTM  has now been enabled for the repo: https://lgtm.com/projects/g/ampproject/amp-wp

[2021-09-09 21:48] fthead9 opened #6598 "AMP cache and Form IDs issues"
## Bug Description

We have a form block. When that block is rendered it generates a unique
temporary key that we include in the form as a hidden field in the form
with "xhrid" as the field name. This ID is used to store the form data
in a Wordpress transient that expires after X minutes (5 default). We
also use it as a prefix for each form field's name. When the form is
submitted through AJAX the

[2021-09-09 22:25] #4518 closed

[2021-09-09 22:36] westonruter commented on #6598
The AMP plugin does not cache the page output. Perhaps you have some other caching plugin that is caching blocks?

[2021-09-10 10:49] milindmore22 opened #6599 "Structured data broken by `amphtml` link relation in AMP-to-AMP linking"
## Bug Description

In a recent [support topic](https://wordpress.org/support/topic/error-in-required-structured-data-element-51/), we found out that BreadCrumbList schema (RDFa) doesn't allow `rel="amphtml"` attributes and marks structured data as invalid, As per discussion on slack Weston suggested we don't need it.

Example HTML Snippet :
[code]
Tests :

1. [Invalid Test ](https://search.google

[2021-09-10 16:13] #5780 closed, assigned to bartoszgadomski

[2021-09-13 00:02] Yink0 opened #6601 "GLOMEX Videos not playing on AMP"
## Bug Description

I use Glomex.com videos on my website, but when it comes to AMP page, the video is not working. I have blank (no dimensions video)

## Expected Behaviour

It should be able to AMP page

## Steps to reproduce

1. Go to "https://www.sportime.gr/panathinaikos/giovanovits-echoume-polla-akomi-na-kanoume-os-omada". The video works
2.  On "https://www.sportime.gr/panathinaikos/giovano

[2021-09-13 03:59] Sorata opened #6602 "Tag named amp can not be visit"
## Bug Description

If you add a Tag name amp, you can not visit by http://example.com/tag/amp, when you visit it you will be redirect to http://example.com/tag/.

## Expected Behaviour

It look like happened by \amp\src\PairedRouting.php redirect_extraneous_paired_endpoint function.

## Steps to reproduce

1. Add Tag named amp
2. Add post with the amp tag.
3. visit tag link
4. return 404

## Addi

[2021-09-13 12:40] milindmore22 commented on #6601
Hello @Yink0

As per [Glomex documentation](https://docs.glomex.com/publisher/video-player-integration/amp-code/), you can embed glomex player on AMP pages using the amp-iframe component, so I will recommend using [glomex iframe embed code](https://docs.glomex.com/publisher/video-player-integration/iframe-code/) so it will work on both AMP and non-AMP pages.

eg:
[code]
The AMP plugin will convert

[2021-09-13 12:40] #6601 closed, assigned to nobody

[2021-09-13 13:03] milindmore22 commented on #6602
@Sorata

Creating tag with slug `amp` will create conflict as the `amp` is a reserved slug for the AMP endpoint to avoid that it's safely redirected to a non-AMP page.

You will see a warning on the AMP settings section for AMP Paired URL structure

![image](https://user-images.githubusercontent.com/1132541/133088333-5a8db565-7974-485a-8dd7-41b0a7e973d9.png)

the easiest way to fix this is to chan

[2021-09-13 19:21] westonruter opened #6603 "Add support for no-JS styling and `noscript > style[amp-noscript]`"
## Feature description

In https://github.com/ampproject/amphtml/issues/20609 AMP now allows a `noscript > style[amp-noscript]` to style elements on pages for which the user has JavaScript disabled. Currently the AMP plugin unwraps all `noscript` elements (unless they have a `data-amp-no-unwrap` attribute) so any nested `style` will then automatically be added to `style[amp-custom]`. However, when

[2021-09-13 19:37] #5578 closed, assigned to bartoszgadomski

[2021-09-13 22:43] westonruter commented on #5939
Reopening to address code review feedback: https://github.com/ampproject/amp-wp/pull/6147#pullrequestreview-753206599

[2021-09-14 01:01] #6602 closed, assigned to nobody

[2021-09-14 21:23] #6587 closed, assigned to nobody

[2021-09-14 22:46] westonruter commented on #6601
I suppose they don't support [`amp-video-iframe`](https://amp.dev/documentation/components/amp-video-iframe/).

[2021-09-15 17:39] mxbclang commented on #5939
Had a chance to run through this today and it's looking good! Some suggested copy changes for the Support page, just make things crystal clear:

_In order to best assist you, please click the Send Data button below to send the following site information to our private database. Once you have done so, copy the the resulting Support UUID in the blue box that appears and include the ID in a new suppo

[2021-09-16 14:04] milindmore22 commented on #5939
I am not sure if we only capture plugin and themes validation errors, I noticed few things

**Support flow didn't send data/capture content validation errors**

1.  Create page/post add custom HTML block and add `<script>` tag.
2.  Create post add custom HTML block and add `div` with invalid attribute eg: `<div color="blue">I am red deal with it</div>`

Once you see a validation error in the valid

[2021-09-16 17:39] westonruter commented on #2313
Yes, this section would be omitted entirely:

![image](https://user-images.githubusercontent.com/134745/133659229-d0f09efb-becc-407b-8901-e3059263ef58.png)

[2021-09-17 14:33] joblog opened #6612 "AMP.printstate returning undefined"
## Bug Description

AMP.printState() is no longer working on a site using official AMP plugin for WordPress

## Expected Behaviour
With #development=1 appended to the url
AMP.printState() typed in console returns AMP state

## Steps to reproduce

AMP.printState() typed in console returns undefined

## Additional context
My pages are valid amp
Entering AMP.setLogLevel(5) in console makes no differe

[2021-09-17 15:22] westonruter commented on #6612
Closing per https://github.com/ampproject/amphtml/issues/35655#issuecomment-921882835.

[2021-09-17 15:22] #6612 closed, assigned to nobody

[2021-09-18 05:48] #4386 closed

[2021-09-18 11:30] kswro opened #6616 "noopener on <amp-twitter> placeholder"
## Bug Description

Does AMP-WP automatically add rel="noopener" or rel="noreferrer" to links with target="_blank" in the `<amp-twitter>` blockquote placeholder? Since it's tied to the `<amp>` tag I think AMP-WP does.

If so, it looks like AMP-WP missed adding the rel noopener/noreferrer property on links other than twitter.com (perhaps?). Please see the screenshot below.

![amp-twitter](https://u

[2021-09-18 16:52] westonruter commented on #6616
When I embed a Tweet, I get the following:

[code]

On the non-AMP version, HTML is as follows:

[code]

So you can see the `placeholder` for `amp-twitter` is copied exactly from the oEmbed response from Twitter.

The AMP plugin doesn't add `target=_blank` to Twitter placeholders. You may have another plugin that is doing that.

[2021-09-18 16:52] #6616 closed, assigned to nobody

[2021-09-20 18:38] westonruter commented on #4719
Only thing is that there shouldn't be a link for each plugin/theme, if that link is intended to take the user to a Validated URL. A given Validated URL may have validation errors from one or more plugins, and there's no 1:1 correspondence between URLs and plugins with validation errors. So instead of there being a link with each plugin, there should be one paragraph perhaps at the top that has one

[2021-09-20 18:46] westonruter commented on #4719
Or rather than passing in the specific post IDs, instead the URL could use the plugin slug. The only caveat here is that there is no taxonomy of the sources of validation errors, so what the Plugin Suppression table has to do is it grabs the latest 100 validated URLs, and for each that is not stale, obtains all the error sources and and builds up an in-memory index to then provide that information

[2021-09-22 05:31] #5411 closed, assigned to delawski

[2021-09-22 05:31] #6231 closed, assigned to delawski

[2021-09-22 15:47] jwold commented on #6441
This is ready for review but is parked. Building block piece not required to address for narrative. Not needed for 2.2, and needs further iterations in the future. Hence not being prioritized.

[2021-09-24 18:13] jamesozzie commented on #5939
Great work on this all. A couple of suggestions from testing:
- Would the "[Server Information](https://i.imgur.com/zThYYWE.png)" from a users Site Health information be a useful addition, given it would include additional PHP information and .htaccess rules?
- Is there documentation planned on the plugin website for this new feature? This could include a quick demo showing the steps involved and

[2021-09-24 18:25] westonruter commented on #6599
I've made an inquiry as to whether `rel` should indeed be invalid here.

[2021-09-24 23:58] pierlon commented on #5939
One other thing that should be addressed is to prevent the output of the AMP data summary when the [`AmpProject\AmpWP\Tests\Support\SupportCliCommandTest::test_send_diagnostic()`](https://github.com/ampproject/amp-wp/blob/5889868cf4f3336e7928aa98a765bc0fe94d9f67/tests/php/src/Support/SupportCliCommandTest.php#L114-L130) test is executed. Currently it looks like:

<img width="717" alt="image" src="

[2021-09-26 12:52] schlessera commented on #5939
I want to mention here that tests should be written for the CLI command(s) as `feature` files like this one: https://github.com/ampproject/amp-wp/blob/develop/tests/features/optimize-transformer-config-command.feature

[2021-09-27 19:25] westonruter commented on #4719
See https://github.com/ampproject/amp-wp/pull/6615

[2021-09-29 07:19] dhaval-parekh commented on #5939
Hey @jamesozzie,

Currently, We are not storing that information in PX insight.

---

@schlessera I have updated the test case and added the feature file in the new PR. #6627

[2021-09-29 08:35] dhaval-parekh commented on #4843
Hey @kenrodriguesdesign

I have updated the UI of the notice. However, didn't add dismiss button. since that will automatically remove once use make any other change or refresh the page.

[2021-09-29 18:17] #6071 closed, assigned to dhaval-parekh

[2021-10-01 21:03] jwold commented on #4719
@delawski Alberto and I met today on the [AMP config](https://docs.google.com/document/d/1yjpVpGV6PCPs641hzmUWXzo0a46VKvjiWTytFqxtyEk/edit#heading=h.johzuescajwh) file table. We simplified a few things.

1. Each template mode will now just have bullet points, instead of some text and a notice as the designs previously indicated. Those bullet points are listed under the right column: "Template Mode

[2021-10-05 00:32] juniormiranda89 opened #6637 "TikTok AMP CDN script tag output missing"
### Bug Description

The TikTok scipt tag mapping class (like `ScriptAmpTwitter`) is missing.

### Expected Behaviour

This issue is avoiding our Node.js app to render the `<script async custom-element="amp-tiktok" src="https://cdn.ampproject.org/v0/amp-tiktok-0.1.js"></script>` tag in the header.

### Screenshots

_No response_

### PHP Version

7.2

### Plugin Version

2.1.4

### AMP plugin temp

[2021-10-05 01:05] westonruter commented on #6637
Hi. I don't understand what the problem is. You're using an `amp-tiktok` element in the page but the AMP CDN script for it is not getting output?

[2021-10-05 01:08] juniormiranda89 commented on #6637
Hi, @westonruter.

It's exactly this.

All the other AMP CDN scripts (like amp-twitter) is getting output when needed, except the amp-tiktok script.

[2021-10-05 03:41] westonruter commented on #6637
Please share the `<amp-tiktok>` code you're putting on the page.

[2021-10-05 03:45] westonruter commented on #6637
I tried adding this to a Custom HTML block:

[code]

When I do so, on an AMP page I see the expected script(s) in v2.1.4:

[code]

[2021-10-05 14:07] juniormiranda89 commented on #6637
Thank you for the testing, but we are not getting output for `amp-tiktok` script trought rest on our Node.js app.

Here's one page generated by our Node.js app, that contains one Twitter and one TikTok embed:

[https://observatoriodeseries.uol.com.br/netflix/de-teorias-a-memes-segredo-do-sucesso-de-round-6-e-o-povao](https://observatoriodeseries.uol.com.br/netflix/de-teorias-a-memes-segredo-do-suc

[2021-10-05 16:01] westonruter commented on #6637
How does your Node.js app relate to the AMP plugin for WordPress?

Maybe you're issue is not with the AMP plugin but rather [amp-toolbox](https://github.com/ampproject/amp-toolbox)? Are you using the `AutoExtensionImporter` transformer in the Node.js AMP Optimizer? Maybe it is out of date.

[2021-10-06 16:31] delawski commented on #4719
@jwold Thank you for that! I've pushed a [few commits](https://github.com/ampproject/amp-wp/pull/6610/files/4130b2a50434a83e04f86bcb7c7e31b746e30fb6..08ce98e5389e4cd8eb0daae9a999df208638a296) as part of #6610 that introduce those changes.

Here's a sample screen shot of the updated Template Modes step:

![Screenshot 2021-10-06 at 18 30 19](https://user-images.githubusercontent.com/478735/136245471

[2021-10-06 17:32] jwold commented on #4719
You're welcome! I love it! 😀

[2021-10-06 22:20] #6486 closed, assigned to bartoszgadomski

[2021-10-07 15:18] #6637 closed, assigned to nobody

[2021-10-08 16:56] westonruter commented on #5552
Punting this since we now have what we need for 2.2 via #6615.

[2021-10-08 18:42] #4843 closed, assigned to delawski

[2021-10-11 00:16] westonruter opened #6643 "Duplicated script printed to hide admin bar in onboarding wizard"
### Bug Description

I just noticed that the we're printing the same script multiple times, including at `wp_head` and `wp_footer` and anywhere `wp_print_scripts()` is called:

![image](https://user-images.githubusercontent.com/134745/136717565-bb845391-f81c-46c2-b26a-ae8a07de683c.png)

The code in question is the following:

https://github.com/ampproject/amp-wp/blob/4547bfb2d6cd7f2699ae970a660c20

[2021-10-13 17:59] westonruter commented on #6599
OK, we should indeed omit the `amphtml` relation. We can discontinue adding relations altogether. They aren't being used anwayway, so they're just extra decoration.

[2021-10-13 20:54] #4624 closed, assigned to dhaval-parekh

[2021-10-13 20:54] #6443 closed, assigned to milindmore22

[2021-10-13 23:42] pierlon opened #6649 "Ensure the Twenty Twenty-Two theme is AMP compatible"
### Feature Description

Development of the [Twenty-Two core theme](https://github.com/WordPress/twentytwentytwo) is now underway and is set to be released along with WP 5.9 in December. We should ensure it will be AMP compatible and also add it to the list of Reader themes.

### Acceptance Criteria

- Ensure sure the Twenty-Two theme is AMP compatible
- Add the theme as a Reader theme option

###

[2021-10-13 23:45] westonruter commented on #6649
Since this theme depends on full-site editing, it doesn't seem like there will be anything in the theme itself which is not AMP-compatible, as it is comprised of blocks coming from core. Therefore it's likely the majority or the work here will be to ensure that FSE is AMP-compatible.

For example: #6115 and #6319.

[2021-10-13 23:46] westonruter commented on #6649
So the good thing here is that if we can ensure AMP is FSE-compatible, then any such theme will just work.

[2021-10-14 19:21] delawski opened #6650 "Validate only AMP-enabled pages in Site Scan"
### Feature Description

A list of URLs being validated by the Site Scan feature should vary depending on the current state of the Template Mode or Supported Templates option.

---

As part of the Site Scan feature proposed in #4719 and implemented in #6610, a client-side AMP validation is performed on a set of URL.

The URLs are provided by the `ScannableURLProvider` via `ScannableURLsRestControl

[2021-10-15 23:10] westonruter commented on #6650
Note that in #6520 I have changes which will allow `ScannableURLsRestController` to return URLs for pages that are actually have AMP enabled.

[2021-10-18 20:56] #5939 closed, assigned to dhaval-parekh

[2021-10-20 18:34] westonruter commented on #6650
Also from https://github.com/ampproject/amp-wp/pull/6520#issuecomment-947932263:

[2021-10-21 11:55] delawski commented on #6650
As per the next [comment on #6520](https://github.com/ampproject/amp-wp/pull/6520#issuecomment-948534464), this has been already addressed in #6610 (ffe1c0e).

[2021-10-21 14:25] #5750 closed, assigned to milindmore22

[2021-10-21 15:24] westonruter commented on #6650
- [ ] In Standard mode, only get the first scannable URL to preview per https://github.com/ampproject/amp-wp/pull/6520#discussion_r733722102

[2021-10-25 16:13] milindmore22 opened #6656 "Improve theme support for navigation menu toggle"
### Bug Description

We are adding theme support for the navigation menu, but there is a wide range of elements are being used for toggle button elements eg: `div`, `a`, `span`

After adding theme support to them creates an AMP validation error of missing `tabindex` and `role`

which can be avoided by adding those attributes in case the element is not a button in `AMP_Nav_Menu_Toggle_Sanitizer`

[

[2021-10-25 23:25] westonruter commented on #6656
Humm. This should have been handled automatically by the [`AMP_Accessibility_Sanitizer`](https://github.com/ampproject/amp-wp/blob/develop/includes/sanitizers/class-amp-accessibility-sanitizer.php).

[2021-10-26 04:15] westonruter commented on #5788
This is a natural next step after tests for object caching (#5780) and page caching (#4386).

[2021-10-26 04:15] westonruter commented on #5788
Images are some of the absolute worst offenders for frontend performance, so this makes sense to prioritize.

[2021-10-26 10:39] milindmore22 commented on #6656
Yes, that should have been handled by AMP_Accessibility_Sanitizer
in that case, the AMP_Accessibility_Sanitizer must be added at the very end of the sanitizers ie. post theme support sanitizers

[code]

[2021-10-26 17:54] westonruter commented on #6656
Ah yes. This will actually be fixed by https://github.com/ampproject/amp-wp/pull/6546 because now the key sanitizers get a [fixed order at the end](https://github.com/ampproject/amp-wp/pull/6546#:~:text=onload%3D%22alert(%27Hi!!!%27)%22%3E-,Sanitizer%20ordering,-Prior%20to%20this).

[2021-10-28 16:11] #4719 closed, assigned to fellyph, milindmore22

[2021-10-28 16:19] westonruter commented on #6650
Reopening because there is an outstanding issue not yet addressed with the merge of #6610: When legacy Reader mode is initially selected (as it currently is by default), the Site Scan in the onboarding wizard is only scanning the URLs that are available in legacy Reader mode (singular posts, pages, and attachments). In reality, since we're forcing Standard mode in the onboarding wizard's Site Scan

[2021-10-28 16:28] delawski commented on #4795
@westonruter Do you think we can close it via #6610 just like the Plugin compatibility scanning issue (#4719)?

[2021-10-28 18:35] westonruter commented on #4795
@delawski Almost. I think the outstanding piece here is to incorporate #6516. Namely, we need to determine if the theme is registering any custom post types, taxonomies, shortcodes, blocks, etc. This is captured in this point above:

If so, we cannot rightly recommend recommend a Reader theme since doing so would cause the user to lose their custom functionality on AMP pages.

[2021-10-29 13:38] delawski opened #6667 "Ignore WordPress core when there is another error source in block editor AMP sidebar"
### Bug Description

When a plugin generates a validation error by rendering invalid code in the block editor, the AMP Validation sidebar says WordPress core is the error source:

![image](https://user-images.githubusercontent.com/134745/138778167-2b607b01-e51a-4d18-b2ef-e7bb83b69068.png)

It seems the logic in the editor sidebar needs to be updated to treat Gutenberg like WordPress core, and also

[2021-10-29 13:53] milindmore22 opened #6668 "Site scanner Inconsistencies."
### Bug Description

As per comment https://github.com/ampproject/amp-wp/pull/6610#issuecomment-953006468 and https://github.com/ampproject/amp-wp/pull/6610#issuecomment-953169660

Rescanning the site show no errors however we do see errors in response pointing to the core, following is sample json

Here is full [Pastebin of a response](https://pastebin.com/hn4Uxc0r) JSON

### Expected Behaviour

[2021-10-29 17:28] #6599 closed, assigned to milindmore22

[2021-10-29 19:04] westonruter commented on #6668
I see. It's because bbPress is adding the Quicktags to the forum reply form:

![image](https://user-images.githubusercontent.com/134745/139484210-b35506f4-630f-4029-947b-675c92ed5974.png)

I can see the errors specifically when in legacy Reader mode:

![image](https://user-images.githubusercontent.com/134745/139486763-99f42601-79a4-4506-be6b-6a3e44337a25.png)

The reason we're not detecting it com

[2021-11-02 16:06] westonruter opened #6676 "Entire `picture` element tree is removed when `img` child is expected to persist"
### Bug Description

In #1316 we were originally looking to support the `picture` element, but we ended up closing it. We should at least ensure that the `img` child of a `picture` element is able to replace the `picture` element. Instead, as it stands right now, when the following markup as input:

[code]

The result is the entire tree is removed, unexpectedly.

### Expected Behaviour

Instead it

[2021-11-03 04:22] #2313 closed

[2021-11-04 18:46] westonruter commented on #6668
I've added the special case in #6670.

[2021-11-04 19:50] #6667 closed, assigned to nobody

[2021-11-05 04:25] westonruter opened #6689 "Improve action items for when there are theme/plugin incompatibilities"
### Feature Description

Currently when there are either theme or plugin compatibility issues, the same copy appears in a paragraph above boxes containing the incompatible themes and plugins.

- [ ] The action item to review and suppress plugins should rather only appear if there are plugins with incompatibilities, and this action item should appear inside the plugins box.
- [ ] In the incompatibl

[2021-11-05 04:31] westonruter opened #6690 "Hide recommendations when Site Scan results are stale"
### Feature Description

If the Site Scan results are stale or the Site Scan is currently in progress, none of the Template Modes should have “Recommended” or “Not recommended” appear anywhere. These should only be shown if the Site Scan is complete and the results are not stale.

Additionally, it may make sense to hide the notice above the template modes since the Site Scan box already is indicat

[2021-11-05 04:36] westonruter opened #6691 "Speed up Site Scan by doing up to 3 requests in parallel (with staggering)"
### Feature Description

The time it takes to perform a Site Scan could be sped up if some of the validation requests were parallelized. We wouldn't want to do too many requests in parallel for fear of overloading shared hosts, but up to 3 requests at a time seems reasonable. Additionally, in order to show some semblance of continuous progression in the progress bar and to avoid making multiple re

[2021-11-05 04:44] westonruter opened #6692 "Avoid showing Stale Results when landing on Settings Screen from Onboarding Wizard"
### Feature Description

Currently as soon as the Onboarding Wizard completes and the user is taken to the Settings Screen, the first thing they will see is stale results in the Site Scan. This would be confusing to the user because they had just performed a Site Scan in the Onboarding Wizard. There are two reasons why the Site Scan results from the Wizard aren't showing on Settings Screen:

1. Th

[2021-11-05 22:47] #6650 closed, assigned to nobody

[2021-11-05 22:47] #6692 closed, assigned to dhaval-parekh

[2021-11-06 15:11] zzTopperbot opened #6695 "￼"

[2021-11-08 08:41] delawski commented on #6690
The Template Mode recommendations (both on the AMP Settings screen and in the Wizard) are defined in [`getTemplateModeRecommendation()`](https://github.com/ampproject/amp-wp/blob/develop/assets/src/components/use-template-mode-recommendation/index.js#L61-L77) and that's where the logic needs to be updated. However, since the descriptions and the recommendation levels are based on the [matrix in th

[2021-11-08 11:16] #6695 closed, assigned to nobody

[2021-11-09 15:01] schlessera opened #6703 "PXE integration: check plugins/themes against AMP Compatibility DB"
### Feature Description

As discussed during a recent meeting, the first integration with the page experience engine library would be by pulling it into the plugin and extending it to add a new `Tool` that collects information about the currently active extensions (plugins, themes, ....?) and checks them against the AMP Compatibility DB to detect known issues.

Any needed adaptions in the PX Toolb

[2021-11-10 18:27] westonruter opened #6707 "Validated URL data may not be included with Support request"
### Bug Description

I realized that if you're on the frontend and you click the Support in the AMP admin bar menu:

If you hadn't first gone to “Validate URL” the result is that the URL will not be included among the validated URLs that are included in the request. I was on `https://wordpressdev.lndo.site/2021/03/amp/` but the URLs being sent are only the non-stale URLs checked by Site Scan:

The

[2021-11-10 19:25] #4750 closed, assigned to delawski

[2021-11-10 19:25] #6668 closed, assigned to fellyph, milindmore22

[2021-11-11 00:51] #6691 closed, assigned to fellyph

[2021-11-11 17:37] jamesozzie opened #6714 "Ensure any changes to the "Enable Developer Tools" option reload the page to in"
### Bug Description

When a user changes the status of the "_Enable Developer Tools_" option and saves their AMP settings the additional tabs enabled/disabled by this toggle don't appear until the page is reloaded or exited. The 2 tabs are:
- Validated URLs
- Error Index

![image](https://user-images.githubusercontent.com/41326532/141342545-6ca0812d-3649-483d-8731-6ecd64f2074b.png)

![image](https

[2021-11-16 04:42] westonruter commented on #6319
When the Twenty Twenty-Two theme active, two validation errors are currently being emitted because of this:

![image](https://user-images.githubusercontent.com/134745/141922236-7e2ea9e4-2d24-4229-aeb6-a5ae0f09a25f.png)

[2021-11-17 07:02] #6690 closed, assigned to dhaval-parekh

[2021-11-17 07:38] dhaval-parekh opened #6725 "Highlighting AMP-compatible themes and plugins in network theme/plugin screens is not working properly."
### Bug Description

The highlighting theme and plugin are not working properly in the network theme and plugin screens in the MU site setup.

**Installed Themes.**

The AMP-compatible theme does not show the message of "AMP Compatible" as we show on the installed plugin page.
<img width="1675" alt="image" src="https://user-images.githubusercontent.com/8168027/142154464-bb7fbe9f-eb82-4186-914d-982

[2021-11-17 07:39] dhaval-parekh commented on #6725
Related to #2313

[2021-11-17 16:24] milindmore22 commented on #5559
**QA Passed**

AMP settings screen panel for wizard now have links instead of buttons

| Before | After |
| ----------- | ----------- |
| ![image](https://user-images.githubusercontent.com/1132541/142238947-6ea6968e-6a9f-4d09-905c-675f55d50f03.png) | ![image](https://user-images.githubusercontent.com/1132541/142239022-8304c6c7-812f-45b4-a816-58ee099b68f3.png) |

Save Button padding has been reduce

[2021-11-18 11:18] dhaval-parekh commented on #6707
I also noticed that If there is no error information available, the "Support page" doesn't provide more information about why there is no error information, especially when a user doesn't request a specific URL.

There could be several reasons for not having AMP error information. Such as no validation has been done or results are stalled because of changes in AMP settings of the new plugin, or ma

[2021-11-18 11:20] dyderik opened #6729 "Author URL missing"
### Bug Description

The bug is described on https://wordpress.org/support/topic/google-search-console-problem-4/ James Osborne doesn't reply me anymore. Please assist. Thanks!

### Expected Behaviour

The Google rich snippet Warning should not be there. The plugin AMP for the theme GeneratePress is also installed. Version is 0.1

### Screenshots

_No response_

### PHP Version

_No response_

###

[2021-11-18 11:57] milindmore22 commented on #6729
Hello @dyderik

Sorry for the inconvenience, When you confirmed the issue is fixed we marked that topic as resolved, once we do that it doesn't show us your topic as "pending" so we are not able to notice that.

Can you please create a [new support topic](https://wordpress.org/support/plugin/amp/#new-topic-0) and we are happy to assist you further.

[2021-11-18 11:57] #6729 closed, assigned to nobody

[2021-11-18 12:11] dyderik commented on #6729
Ok done and thanks!

On Thu, Nov 18, 2021 at 7:57 PM Milind More ***@***.***>
wrote:

[2021-11-18 19:57] westonruter commented on #6707
If there are zero non-stale validated URLs and the user didn't request support from a specific frontend URL, one option would be to go ahead and obtain the site scan results for the scannable URLs. cc @delawski

[2021-11-18 20:23] delawski commented on #6707
@westonruter A general question: did you envision the single URL validation happening asynchronously, client-side, like in the Site Scan, or "traditionally", i.e. synchronously on the backend? I guess the latter and that's how it's implemented in #6718.

[2021-11-18 20:31] westonruter commented on #6707
I was hoping asynchronously client-side the same way as is done for Site Scan and the same way that is being implemented after plugin activation and when saving a post.

[2021-11-18 21:09] westonruter commented on #6319
Note: Instead of a `render_block` filter to the `AMP_Core_Block_Handler` class (which will entail manipulating an HTML string), it may make sense instead to utilize a sanitizer instead where the DOM can be interacted with instead. If the `render_block` filter is clean, then we can go ahead with that.

[2021-11-18 21:32] westonruter commented on #6319
If it ends up as being that `aria-modal` needs to be used in the AMP version, I've opened https://github.com/ampproject/amphtml/pull/37002 to recognize that missing attribute in the validator spec.

[2021-11-19 11:12] delawski commented on #4386
**QA Passed**

When tested without any caching plugin, Site Health displays a message that page caching was not detected. After installing and activating a caching plugin, page caching is detected on Site Health.

| No caching plugin | WP Super Cache enabled |
| --- | --- |
| ![Screenshot 2021-11-19 at 11 35 22](https://user-images.githubusercontent.com/478735/142612171-2896819f-9199-48db-9305-56d

[2021-11-19 11:33] delawski opened #6731 "User is asked to purge caches even if no page caching is enabled"
### Bug Description

Related: #4843, #4386

After deactivating a page caching plugin (WP Super Cache), a user is asked to purge caches when switching a template mode.

If Site Health is visited before switching a template mode, a user is not asked to purge the cache anymore.

It seems a page caching test should be done every time a plugin is deactivated (and possibly activated, too).

The video pr

[2021-11-19 11:36] delawski commented on #4386
**QA not passed**

Here's a video of the QA process:

https://user-images.githubusercontent.com/478735/142615825-648a1d71-8074-44ad-b316-82519f44ce45.mp4

Note that the user is asked to purge caches after switching a template mode even though a caching plugin has just been deactivated. It's because the page caching is currently detected only when visiting the Site Health page. I think the page cac

[2021-11-19 11:37] delawski commented on #4843
**QA not passed**

Here's a video of the QA process:

https://user-images.githubusercontent.com/478735/142615825-648a1d71-8074-44ad-b316-82519f44ce45.mp4

Note that the user is asked to purge caches after switching a template mode even though a caching plugin has just been deactivated. It's because the page caching is currently detected only when visiting the Site Health page. I think the page cac

[2021-11-19 11:45] delawski commented on #6707
This would require taking a quite different approach than what we have in #6718.

I could see the following as a potential way forward:
- Review and use the backend validation proposed in #6718 in the near term.
- Replace the backend validation with a client-side async process as soon as #6685 is done since it would share some code introduced there. I could take care of that next and I think there

[2021-11-19 17:10] westonruter commented on #6707
Doing async client-side validation requests is what I was intending to specify with the expected behavior:

So taking the same approach as Site Scan, whether that's on the Settings Screen, Onboarding Wizard, or (soon) plugin activation screen.

But assuming there us a frontend `url` provided, as opposed to incorporating all of the site scanning logic, to me it seems it could be as simple as just d

[2021-11-19 20:07] #6725 closed, assigned to delawski

[2021-11-22 10:37] bartoszgadomski commented on #5780
**QA passed:**

Caching services not available:
![Screenshot 2021-11-22 at 11 33 10](https://user-images.githubusercontent.com/4476915/142846517-093318c7-3307-402e-aabb-e4751cbcc4c9.png)

Memcached available:
![Screenshot 2021-11-22 at 11 32 49](https://user-images.githubusercontent.com/4476915/142846520-e1e81271-c81c-431b-8377-ca5b4b485e46.png)

Memcached and Redis available:
![Screenshot 2021-11

[2021-11-22 11:34] bartoszgadomski commented on #6486
**QA results:**

1. "Delete plugin data at uninstall" is set to "true" by default, while user have to opt-in for that in the earlier versions of AMP plugin. Is that change intentional? As @kenrodriguesdesign suggested in his designs, this option was supposed to be unchecked by default: https://github.com/ampproject/amp-wp/issues/6486#issuecomment-905673299, @dhaval-parekh @westonruter

2. Other th

[2021-11-22 11:55] bartoszgadomski commented on #6667
**QA passed:**

Source of an invalid element is correctly identified:
![Screenshot 2021-11-22 at 12 46 26](https://user-images.githubusercontent.com/4476915/142857358-803088be-65fe-490e-bf0f-e88cc86122ef.png)

[2021-11-22 16:14] jamesozzie opened #6734 "Captions with hyperlinks have a dark colour that's not compatible with the black captions banner - Twenty Twenty One theme"
### Bug Description

When there is a caption with a hyperlink in a gallery block this hyperlink is unreadable when it's displayed as a carousel on AMP URLs. This is only applicable for the Twenty Twenty One theme and [was identified by one user in the support forums](https://wordpress.org/support/topic/amp-carousel-link-color-not-readable-on-desktop/#post-15092423).

[Recording of this experience.

[2021-11-22 16:57] westonruter commented on #4386
I've also proposed this Site Health test for core: https://core.trac.wordpress.org/ticket/54423

[2021-11-22 18:51] delawski commented on #6443
**QA Passed**

After enabling the experimental feature (via the [example plugin](https://gist.github.com/westonruter/b0bd2cb92454428ba0f93dd08ba98929)), I've followed the QA process described in #6546 (Testing section).

The sandboxing level selected on the AMP settings page was set to Loose. All three sample posts passed the specified tests:

| Loose mode<br>`sandboxing-level=1:1` | Moderate mode

[2021-11-22 20:31] westonruter commented on #6734
The `.amp-wp-gallery-caption` currently has this white color alread:

https://github.com/ampproject/amp-wp/blob/2e31d810c4945474bd16a4278f7bb781401b0ffb/assets/css/src/amp-default.css#L54-L63

So yeah, I think it's just a matter of adding:

[code]

[2021-11-22 20:41] westonruter commented on #6731
Also, even though a caching plugin is activated, it may not be caching initially. With WP Super Cache, for example, caching has to be enabled after activating the plugin. So we wouldn't be able to check for that scenario.

Honestly, I'm not sure this is really needing to be fixed. It's unlikely that someone is going to be turning off their page caching plugin. And even if they do, the notice to as

[2021-11-23 01:48] #6689 closed, assigned to dhaval-parekh

[2021-11-23 07:43] delawski commented on #6731
I think that in this case we can close the issue, right?

[2021-11-23 07:59] delawski commented on #6707
Yes, it makes sense. It would be as simple as making a `fetch` request and then processing the response. No need to reuse the logic from Site Scan (the `SiteScanContextProvider` is pretty heavy and has a few other dependencies so it'd be better to have a lightweight replacement for fetching validation data for a single URL).

[2021-11-23 08:16] dhaval-parekh commented on #6707
Async would be a good idea. However, we can not use the same API that we use for site scanning. Since data will be different.

Support data service generates its own slugs for errors and errors source and does not use that is generated during validation. Also, it modifies the data (remove site domain from errors and error sources.)

To make it async, We need to add a new API that will return suppo

[2021-11-23 09:06] dhaval-parekh commented on #6731
I also noticed there can be the reverse scenario as well. Where "Page cache" is disabled initially but even after enabling it will not show any notice to flush the cache. It's because we are using the cached results of the "page cache" test.
(However, it will perfectly work if "Page cache" is already enabled or cached results are not available)

https://user-images.githubusercontent.com/8168027/14

[2021-11-23 10:37] milindmore22 commented on #6599
**QA Passed**

**Input**
[code]
**Output**
[code]

| Input | amphtml | nonamphtml | Link Type |
| ----------- | ----------- | ----------- | ----------- |
| Internal Link to AMP page | Removed | N/A | Link to AMP page |
| Internal Link to non-AMP Page | Removed | N/A | Link to AMP Page ( redirects to non-AMP ) |
| Internal Link with noamphtml attribute | Removed | Present | Link with nonamp=mobile

[2021-11-23 15:51] westonruter commented on #6731
True, but requests to `/amp/v1/test/page-cache` are slow due to the loopback requests. So if we wait for it to return, we'll be slowing down the save process and adding a lot of server load without much benefit, I feel.

While the `amp_has_page_caching` transient has a life of 1 month in the success case, in reality since Site Health runs via WP Cron on a weekly basis, the transient will never be

[2021-11-24 07:40] dhaval-parekh opened #6740 "Onboarding Wizard UI glitch."
### Bug Description

There are two minor UI glitches in Onboarding Wizard.

1. Empty list item in "Standard" mode drawer of "Template Modes" screen.
This can be reproduced when there are no plugins are suppressed and no AMP validation errors on the site.

2. In the footer when the focus is on the "Previous" button, the "Previous" and "Next" (or "Finish") buttons are too close.

<img width="1679" a

[2021-11-24 08:23] dhaval-parekh opened #6741 "Site scanning performed multiple times on Onboarding Wizard"
### Bug Description

On the "Onboarding Wizard" after selecting template mode, when we go to the next screen we are saving the AMP options. After saving settings, if we go back to the "Site scan" screen. It will rescan the site even though we already scanned the site.

Since We are forcing standard mode during scanning while on the "Onboarding Wizard".  I assume rescanning site will not provide di

[2021-11-24 08:56] dhaval-parekh commented on #6071
**QA passed for site review.** ✅

After setting up the AMP plugin from the onboarding wizard. I was able to review the site at the end of the wizard and able to navigate different pages.
And on the AMP setting page. after changing the template it also shows the displaying notice to the review site.

---
During the testing found two issues (which I don't think it is related to site review but relat

[2021-11-24 10:15] dhaval-parekh commented on #6486
Yes, It has been changed as per [feedback](https://github.com/ampproject/amp-wp/pull/6632#discussion_r722665083). The unchecked "Keep my data" (from the design) and checked "Delete plugin data at uninstalling" are the same, so I think that should not be an issue.

[2021-11-24 21:27] bartoszgadomski commented on #6319
After digging a bit into this I think we could use `<amp-lightbox>` instead of `<amp-sidebar>`, because the lightbox element introduces less CSS styles, so we wouldn't have to overwrite them later to achieve the menu styled in the same way as in "non-amp" version.

The original markup of `wp-block-navigation` looks like this:

[code]

We could do following changes to ampify it:
- "fake" the "open"

[2021-11-25 10:24] dhaval-parekh commented on #6443
✅  Automatically upgrading to sandboxing level if page supports it.

✅  I have tested with the QA process described in PR #6546 (Testing section) and that looks good to me.

⚠️  While doing testing in loose sandbox mode for video. I found that adding dimensions may cause some issues specifically video with higher dimensions than container width. Check the below images.

| None AMP Mode

[2021-11-25 13:10] milindmore22 commented on #5750
**QA Passed**
Testing a default run on a site populated with the theme unit test data (264 URLs) The runs were all completed successfully.

[code]
Testing individual URLs was also completed successfully.

Noticed Hourly Cron event for
[code]

[2021-11-26 19:37] laurelfulford opened #6748 "PHP error thrown in Customizer when using `object-fit="cover"` attribute and styles"
### Bug Description

When you have an image styled with `object-fit: cover` (including the `object-fit="cover"` attribute on the `img` tag), when you visit the Customizer, it throws a PHP error:

[code]

It looks like this started happening as of version 2.1.3 of the plugin; it works as expected in versions 2.1.2 and older.

I originally ran into this with the [Newspack Blocks](https://github.com/

[2021-11-29 16:28] delawski commented on #2313
**QA Passed**

The Add Plugins screen contains a new "AMP Compatible" tab. Also, plugins that are AMP compatible have a badge in the top left corner (when not on "AMP Compatible" tab)

| Add Plugins<br>Featured | Add Plugins<br>Popular | Add Plugins<br>AMP Compatible |
| --- | --- | --- |
| ![Screenshot 2021-11-29 at 17 15 59](https://user-images.githubusercontent.com/478735/143904382-4fb6744d-9a1

[2021-11-29 22:49] delawski commented on #6725
**QA Passed**

The AMP Compatible badges are displayed on Add Theme and Add Plugin screens in a Multisite setup.

| Add Theme | Add Plugin |
| --- | --- |
| ![Screenshot 2021-11-29 at 23 38 05](https://user-images.githubusercontent.com/478735/143954639-e477c373-f3ff-4dae-a50d-0c759b3262c1.png) | ![Screenshot 2021-11-29 at 23 37 41](https://user-images.githubusercontent.com/478735/143954676-132091b

[2021-11-29 23:02] delawski commented on #4750
**QA Passed**

After adding the sample snippet with `wp_set_script_translations()` to a theme/plugin, the AMP validation error was properly attributed (no longer to Core).

| Theme causing an error | Plugin causing an error |
| --- | --- |
| ![Screenshot 2021-11-29 at 23 57 40](https://user-images.githubusercontent.com/478735/143956316-31198315-4e6e-4462-8dd5-d6b0d6c1a110.png) | ![Screenshot 2021-

[2021-11-30 05:20] #6740 closed, assigned to bartoszgadomski

[2021-11-30 05:27] #6036 closed, assigned to fellyph

[2021-11-30 05:35] westonruter commented on #6748
Thanks for reporting! This is something I ran into as well in another context: https://github.com/ampproject/amp-toolbox-php/pull/319.

The issue is that when AMP Optimizer was performing server-side rendering (SSR), it wasn't accounting for the fact that Optimized AMP pages have a higher CSS byte limit due to the additional CSS which is generated (such as for `object-fit`).

Would you please re-t

[2021-11-30 05:36] westonruter commented on #6748
Also, I presume this is is happening in an “AMP Plus” context where there is more than 75KB of CSS being added to the page.

[2021-11-30 05:38] westonruter commented on #6748
Actually, I see that it was previously increasing the max byte count for SSR'ed pages:

![image](https://user-images.githubusercontent.com/134745/143991844-34a1ea22-857d-4450-aa3e-2693d79ee0a9.png)

So this may still be an issue.

[2021-11-30 05:59] westonruter commented on #6748
I'll investigate further. However…

As a workaround, you can do the styling with CSS instead. You can set the `object-fit` CSS style (i.e. via stylesheet) on an `amp-img` and it will now get inherited by the `img`. So you don't need to set the `object-fit` HTML attribute on an `amp-img` anymore. This landed in AMP v2.1 via https://github.com/ampproject/amp-wp/pull/5955. I see your page is running

[2021-11-30 22:17] westonruter commented on #6486
Yes, I think it makes sense to have this enabled by default regardless of whether it's a new install or an old install. When uninstalling WordPress will provide a prompt to say that uninstalling will delete data, so it's best if we go ahead and do that deletion by default. The user could go to the settings and toggle that option off if they want to keep the data, so even though the prompt will sti

[2021-11-30 23:14] westonruter commented on #6319
Since WordPress 5.9 has been delayed until January, I'm going to bump this to the 2.3 milestone.

[2021-11-30 23:22] westonruter commented on #6516
I'm punting this and theme compatibility (#4795) scanning to 2.3.

[2021-11-30 23:44] westonruter commented on #6731
Closing maybelater.

[2021-11-30 23:44] #6731 closed, assigned to dhaval-parekh

[2021-12-01 12:05] dhaval-parekh commented on #6692
**QA Passed**

Site scanning is initialized when a user came back from the onboarding wizard and there is stalled result. ✅

https://user-images.githubusercontent.com/8168027/144231449-58e08029-6255-4c07-bc91-5418a19435c7.mov

However, If initially the "Transitional" mode is selected and the user opens the onboarding and go through the process and came back to the AMP setting screen there will alw

[2021-12-01 12:30] bartoszgadomski commented on #6734
I think this is more a Gutenberg stylesheet issue rather than AMP, as the same appears in Block editor:

|Twenty Twenty-Two theme (editor)|
|--|
|![Screenshot 2021-12-1 at 13 09 28](https://user-images.githubusercontent.com/4476915/144232262-700ae84b-c6de-4351-a80b-df3c1e6acf3b.png)|

For Twenty Twenty theme, this issue is resolved in editor only, the same black link text appears on front-end:

|T

[2021-12-01 13:56] bartoszgadomski commented on #6734
Gutenberg issue: https://github.com/WordPress/gutenberg/issues/37032
PR with fix: https://github.com/WordPress/gutenberg/pull/37033

[2021-12-01 14:29] dhaval-parekh commented on #6650
**QA Passed**

✅  Only the AMP pages are returning from `/wp-json/amp/v1/scannable-urls`
✅  Only the AMP page gets validated during the site scanning.
✅  After changing the template mode or supported template on the "AMP Settings" page. Page is refetching the scannable URL.

[2021-12-01 14:51] delawski commented on #4518
**QA Passed**

✅ The YouTube video starts at the specified time mark (10s) on AMP and non-AMP version.

_Tested on AMP Version 2.2.0-alpha-20211123T020732Z-5405daa_

[2021-12-01 15:19] delawski commented on #4843
**QA Passed**

✅ The bug report #6731 has been closed. Since I found no other issues with this feature, this ticket can now safely land in the "QA Passed" lane.

[2021-12-01 16:28] delawski commented on #6231
**QA Passed**

✅ After activating the [TT1 Blocks](https://wordpress.org/themes/tt1-blocks/) theme and adding a Post Comments Form to a post, I got no "Invalid script" validation issue:

![Screenshot 2021-12-01 at 17 25 18](https://user-images.githubusercontent.com/478735/144273163-957c2000-2607-4baa-8471-87df6bf9e128.png)

Note that there was no Post Comments Form available in the regular Twenty

[2021-12-01 16:36] delawski commented on #6231
@westonruter While QA'ing this issue, I've noticed a potential new issue.

The TT1 Blocks theme replaces the default theme header with a block-based template part. The template part uses a Navigation block which seems to be enqueuing yet another script, `gutenberg/build/block-library/blocks/navigation/view.min.js`. Similarly to `comment-reply.js`, it causes an AMP validation error:

![Screenshot 2

[2021-12-01 16:49] dhaval-parekh commented on #6690
✅ Remove notice about stale scan results from the Template Mode section on the AMP Settings screen.

✅ Do not show any recommendations when the scan results are stale.

⚠️ Do not show any recommendations when a scan is in progress.
When results are not stale but the user still rescans the site. recommendations are still displayed to the user

https://user-images.githubusercontent.com/8168027/14427

[2021-12-01 19:01] laurelfulford commented on #6748
Thanks for all this extra information, @westonruter!

I'm not sure if this information was still needed, but I can confirm that the 2.2-alpha version of the plugin did fix this issue for me!

I'm afraid I grabbed that gist when I was running the older version of the plugin, trying to figure out when `object-fit` stopped being required. Thank you for confirming it's not with the newer versions of t

[2021-12-01 23:39] westonruter commented on #6231
@delawski I think this will be addressed by #6319 for #6649. So I think this is captured already and it's being tracked for v2.3.

[2021-12-02 02:00] westonruter commented on #6690
If the results are not stale, I don't think an in-progress scan should necessarily hide the recommendations. If the results _are_ stale then certainly the recommendations should be hidden, both before and _during_ a scan. @delawski Isn't that right?

[2021-12-02 02:12] westonruter commented on #6734
What about when the gallery has “Display as carousel” enabled?

![image](https://user-images.githubusercontent.com/134745/144343946-3d9ccae9-68ca-47f9-b1de-74c8cd505fe4.png)

I think that's the issue here. However, it seems that the new carousel is not working with the latest Gallery block in WordPress 5.9-beta (and the latest Gutenberg).

Could you double check that? Try enabling carousel on a Ga

[2021-12-02 04:47] westonruter commented on #6443
@dhaval-parekh Yes, I'm seeing that as well. Thanks for raising that. This seems like it may be a Gutenberg bug. Specifically, I'm seeing that Gutenberg has [this style rule](https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d0475695ccf3ae2829f/packages/block-library/src/video/style.scss#L4-L6):

[code]

The `width` and `height` attributes being present, along with a `width:100%` bu

[2021-12-02 06:43] westonruter commented on #6443
I've opened https://github.com/WordPress/gutenberg/pull/37052 to address this.

[2021-12-02 06:50] dhaval-parekh commented on #6690
I agree with that.

Yes, It is hidden when results are stale and during the scan (if results are stale).

With that can mark this issue as **QA Passed**.

[2021-12-02 09:08] dhaval-parekh commented on #6689
**QA Passed**

✅  When there are incompatible plugins. It provides a link to suppress plugins and provide a link to browse AMP-compatible plugins.
<img width="1010" alt="image" src="https://user-images.githubusercontent.com/8168027/144390476-94deeeea-6451-4d9d-b781-a93531cd60dc.png">

✅  When there is an incompatible theme. It shows a message to change templated mode and provide a link to browse A

[2021-12-02 15:29] delawski opened #6755 "On multisite some AMP validation issues have incorrect source"
### Bug Description

After activating the following test plugin on a site in a multisite network setup:

[code]

the AMP validation issue it causes is incorrectly attributed to `wp_footer` and not to the plugin. The same validation issue is attributed to the plugin on a non-multisite setup:

| Multisite | Single Site |
| --- | --- |
| ![Screenshot 2021-12-02 at 16 24 39](https://user-images.github

[2021-12-02 15:32] delawski commented on #6690
That is correct 👍

[2021-12-02 16:56] westonruter commented on #809
Punting since the bento experiment is still required: https://tundra-functional-double.glitch.me/

![image](https://user-images.githubusercontent.com/134745/144467430-507fb87c-0ccf-4491-95b2-54ccef334f27.png)

[2021-12-02 23:03] #5101 closed, assigned to fellyph

[2021-12-03 13:14] delawski opened #6759 "Replace `dangerouslySetInnerHTML` with `createInterpolateElement` in React apps"
### Feature Description

In React components we are often using a combination of `dangerouslySetInnerHTML` (or `<RawHTML>`) with one of the i18n functions like `__()` for rendering translated strings containing HTML elements like:

[code]

This approach has some limitations. One is that only simple HTML elements can be interpolated this way. E.g. it's not possible to interpolate a React component

[2021-12-03 14:18] delawski commented on #5411
**QA In Progress**

⚠️ After activating the Bad Block plugin, adding a block to a post and revalidating the post, the Sources contains both Bad Block and AMP:

![Screenshot 2021-12-03 at 15 04 14](https://user-images.githubusercontent.com/478735/144616065-28681571-945c-4322-8aef-ea0f41ee500f.png)

As far as I understand, the Sources should attribute those issues to Bad Block only. Is that correct?

[2021-12-03 18:23] westonruter commented on #5411
Hummm. I'm not seeing that:

![image](https://user-images.githubusercontent.com/134745/144653557-3eb53ba8-dfab-42dc-ae84-9e2cd29b1e06.png)

[2021-12-03 21:10] #6707 closed, assigned to milindmore22

[2021-12-06 11:55] delawski commented on #5411
**QA Passed**

✅ I've downloaded the latest 2.2-alpha production build of the and reinstalled the plugin on my local environment. When I repeated the QA process, the Sources column correctly stated that the "Bad Block" is the only source of the validation errors:

![Screenshot 2021-12-06 at 12 50 49](https://user-images.githubusercontent.com/478735/144841609-79862404-cf3e-49bb-a941-a6c32b2dd425.pn

[2021-12-06 17:15] fellyph opened #6765 "Red loader at AMP menu, without validation errors"
### Bug Description

When the users switch between amp plugin sections, there is a load with a red dot when the user has no errors:

https://user-images.githubusercontent.com/330792/144890026-084aa533-f542-4e95-9070-5882aa8c3d05.mp4

Steps to reproduce:
- At standard mode
- Click at Settings at AMP plugin menu and Validated URLs
- Repeat the process until see the loader

### Expected Behaviour

If

[2021-12-06 17:51] maitreyie-chavan commented on #6765
@delawski please could you take a look at this and if reproducible, see if we can include a fix for the same in 2.2?

[2021-12-06 19:27] westonruter commented on #6765
This is because the error count starts out as a spinner until the REST API request returns with the counts to display in the menu items. See https://github.com/ampproject/amp-wp/pull/5900. So this is working as expected, but I agree it's not ideal. Should the loading indicator be removed? Or should we show the loading indicator only if on a previous page the counts returned as non-zero? We could u

[2021-12-07 05:46] westonruter commented on #6755
I tried to replicate this on a multisite but I was unable. It seems to work as expected:

![image](https://user-images.githubusercontent.com/134745/144973470-c83aef81-788a-44f4-bcb9-df071b80e562.png)

I tested on the main network site, which it seems you did as well.

Is your `plugins` directory in a non-standard location perhaps?

[2021-12-07 06:04] westonruter commented on #4779
It's simpler than this. In #6763 I'm just checking if the current sanitized status is the same as what `AMP_Validation_Manager::is_sanitization_auto_accepted()` return. If so, the errors are safe to delete since they'd be re-generated with the same status.

[2021-12-07 06:18] westonruter commented on #6748
I can confirm this issue is fixed in 2.2. If I patch the plugin as follows:

[code]

I was able to reproduce this issue by activating the following plugin:

[code]

With a site in Standard mode, I tried going to the URL `/?css_padding=100000`. I would then get the error thrown.

This error is prevented by opting-out of enforcing the CSS limit when a page is in dev mode (which is the case in the Cu

[2021-12-07 06:18] #6748 closed, assigned to westonruter

[2021-12-07 09:20] delawski commented on #6755
My `plugins` directory is in the standard location.

What I noticed is that the Bad Block plugin is properly recognized, however my own AMP Error Plugin is not correctly attributed:

![Screenshot 2021-12-07 at 10 17 11](https://user-images.githubusercontent.com/478735/145001223-c46c3906-7e98-47e1-81d6-eabd9d449cba.png)

Here's the source of the plugin that's causing issues:

[code]

[2021-12-07 09:39] bartoszgadomski commented on #5115
**QA passed**

To test this, I created a simple plugin that inserted two images right after the `<body>` tag:

[code]

Dimensions for both images has been extracted in `extract_by_filename_or_filesystem` method, as expected.
Output of this method was also valid and as expected:

[code]

Well done 👍

[2021-12-07 10:19] bartoszgadomski commented on #6740
**QA passed:**

- there is no empty list item under "Standard" template-mode box
- there is a good margin between the "Previous" and "Next" buttons in the footer

Well done 👍

![Screenshot 2021-12-7 at 11 18 19](https://user-images.githubusercontent.com/4476915/145011222-9f140076-2a96-459d-9b48-eef9678cd19b.png)

[2021-12-07 12:56] bartoszgadomski commented on #6319
During further investigation I've found that one more thing needs to be addressed: user can choose to open submenu items "on click". When `li.open-on-click button.wp-block-navigation-submenu__toggle` element is clicked, the `aria-expanded` attribute changes from `false` to `true` (JS script does that change), and accompanying submenu is then displayed to the user.

To ampify it, I used the `<amp-s

[2021-12-07 16:20] delawski commented on #6765
I'm working on a slightly different solution.

I'm thinking of using a preload middleware for `apiFetch` whenever the submenu is opened. This way the number of URLs and errors would be available on page load, so there wouldn't be any loading state needed.

If the AMP menu is not expanded (so for any non-AMP related admin page), we would use the existing loading approach as implemented in #5900. I

[2021-12-07 17:04] milindmore22 commented on #6443
@westonruter

While testing sandboxing level with Strict Mode (develop branch), I noticed comment form is missing `on` attribute.

![image](https://user-images.githubusercontent.com/1132541/145073556-6cfd35e7-0e60-4b50-ab0f-97331b383ce2.png)

[2021-12-07 17:16] westonruter commented on #6765
The approach taken in #5900 was to use `IntersectionObserver` to delay fetching the counts until we know that the user will need them. No need to make an additional HTTP request on every admin page load if the counts aren't being displayed. Therefore, I don't think preloading is best for server performance.

[2021-12-07 17:21] westonruter commented on #6443
@milindmore22 I'm not seeing that in `develop`:

![image](https://user-images.githubusercontent.com/134745/145076232-1281168f-52cd-43d8-869f-2b81a672fc10.png)

[2021-12-07 17:23] westonruter commented on #6443
Were you testing with one of these test cases?

![image](https://user-images.githubusercontent.com/134745/145076647-83bd40b9-8dc1-4de7-9fa6-a032def80fee.png)

[2021-12-07 17:25] milindmore22 commented on #6443
yes, I was testing those test cases

[2021-12-07 17:26] westonruter commented on #6443
The fact that your screenshot is showing a red outline means that something is not working as expected. The test cases should only have green outlines if they are passing.

[2021-12-07 17:44] milindmore22 commented on #6443
JFI : I installed production build v2.2.0-alpha-20211207T172207Z-0ab628a on the test site to confirm
https://plugins.dev6.rt.gw/sandboxing-level-strict/

[2021-12-07 17:53] westonruter commented on #6443
Can you add me to that site?

[2021-12-07 17:58] westonruter commented on #6443
Nevermind, I'm able to reproduce it now. It doesn't happen when I have the Sandboxing level set to Loose and I'm upgraded to Strict since there is nothing AMP-invalid on the page. However, if I've set the level to Strict then it fails to add the `on` attribute. Investigating...

[2021-12-07 18:16] westonruter commented on #6443
Simple fix: https://github.com/ampproject/amp-wp/pull/6769

[2021-12-07 19:27] #4779 closed, assigned to milindmore22

[2021-12-07 19:46] westonruter commented on #6443
(And good catch!)

[2021-12-07 20:57] delawski commented on #6765
In #6770 we preload data only if the AMP submenu is expanded, i.e. only if it's needed on page load.

In #5900 an intersection observer is not even set if the submenu is expanded. The validation counts data is fetched via HTTP request right away. That's when we see the flicker of the loading spinner needlessly.

With #6770 we still use an intersection observer for fetching the data but only if the

[2021-12-08 10:33] milindmore22 commented on #6443
**QA Passed**

Sandboxing Levels are all well tested and Look good as per the QA process #6546

- [x] Remove amp attribute from html and add data-ampdevmode to Bento experiment opt-in script?

 - [x] The image sanitizer no longer converts img to amp-img but instead just ensures dimensions are provided.
- [x]  Bento versions of scripts are used instead of latest.
- [x] The amp-runtime is omitted as

[2021-12-08 13:28] milindmore22 commented on #4719
**QA**

| Scenario                                  | Plugins          | Theme         | User Type     | Recommendation | QA Status |
| ---------------------------- |--------------| ------------| -------------| ------------------ |------------- |
| Compatible Plugin and Theme | Yoast SEO | TwentyTwentyOne | Tech |Standard Mode recommended | ✅  |
| Compatible Plugin and Theme | Yoast SEO | TwentyTw

[2021-12-08 13:51] milindmore22 commented on #6668
**QA Passed**
Didn't notice any validation errors pointing to WP Core.

[2021-12-08 14:58] milindmore22 commented on #6741
**QA Passed**
Next and Previous button/links are disabled while performing Site Scan.
![image](https://user-images.githubusercontent.com/1132541/145230067-9194211f-b708-4ae0-a3a0-d44492a2cc9f.png)

Going back won't rescan the site, but when the user exists Onboarding Wizard, Settings screen scanner will scan the site for newly selected template mode.

![image](https://user-images.githubusercontent

[2021-12-08 15:08] fellyph commented on #5101
Hi @westonruter,

I have tested this item the validation work as expected if I activate a valid and invalid plugin:

Valid Scenario:
![Screen Shot 2021-12-08 at 14 48 07](https://user-images.githubusercontent.com/330792/145230834-c6619538-8bd6-427f-8d89-ba109a008a8a.png)

Invalid scenario:
![Screen Shot 2021-12-08 at 14 52 38](https://user-images.githubusercontent.com/330792/145230922-2742788d-c67

[2021-12-08 15:40] bartoszgadomski commented on #3210
**QA passed:**

Only AMP-related data has been removed from database; no AMP-related data left in database after removal. Attaching "before.sql" and "after.sql" DB dumps that I used to compare: [db-dumps.zip](https://github.com/ampproject/amp-wp/files/7677128/db-dumps.zip)

![Screenshot 2021-12-8 at 16 30 16](https://user-images.githubusercontent.com/4476915/145237227-c73cdb74-8254-40cd-b782-1693f

[2021-12-08 15:59] fellyph commented on #6741
I was testing other task and saw this behavior:

1. go to reopen wizard
2. go until site scan and let the scan run
3. click on close wizard
4. the test runs another time(is this second scan expected ?)

https://user-images.githubusercontent.com/330792/145240755-86b990ae-b548-40cb-a7ce-f821e2592400.mp4

[2021-12-08 16:05] bartoszgadomski commented on #5578
**QA passed**

#### ✅  &nbsp; Add new section in AMP Settings under Advanced Settings to "redirect mobile visitors to AMP". Turn on by default.

The "redirect mobile visitors to AMP" toggle is found under the "Other" section **when site is in "Transitional" or "Reader" mode:**

![Screenshot 2021-12-8 at 17 35 33](https://user-images.githubusercontent.com/4476915/145246891-209f3427-eaef-42ef-974c-b

[2021-12-08 16:14] bartoszgadomski commented on #6030
**QA passed**

I tested this with below plugin:

[code]

![Screenshot 2021-12-8 at 17 13 06](https://user-images.githubusercontent.com/4476915/145243266-506a64c7-2ce9-448b-bf46-2c5847b02334.png)
![Screenshot 2021-12-8 at 17 12 57](https://user-images.githubusercontent.com/4476915/145243268-fccdd5b0-b375-49b3-96ba-4a982e40811a.png)

[2021-12-08 16:30] bartoszgadomski commented on #5549
**QA passed**

I tested what has been implemented in https://github.com/ampproject/amp-wp/pull/6518, but the `amp_using_native_img` filter name provided in the PR description and code has been replaced with `amp_native_img_used` in https://github.com/ampproject/amp-wp/pull/6527 (see: https://github.com/ampproject/amp-wp/pull/6527#discussion_r686522575).

|Default|With `amp_native_img_used` set to

[2021-12-08 16:51] fellyph commented on #6036
**QA Passed:**

| Themes | Fonts | display | preconnect |
|--------- | ----- | ------- | ------------|
| twentyten | None |
| twentyeleven | None |
| twentytwelve | Open Sans | fallback | yes |
| twentythirteen | Source Sans Pro, Bitter, genericons | fallback | yes |
| twentyfourteen | Lato, Genericons | fallback | yes |
| twentyfifteen | Noto Serif, Noto Sans, Inconsolata | fallback | yes |
| twe

[2021-12-08 19:11] westonruter commented on #6741
Yes: This was added in https://github.com/ampproject/amp-wp/pull/6683

It needs to re-scan on the Settings screen if not in Standard mode since the scan in the Wizard always uses Standard.

[2021-12-08 20:37] westonruter opened #6775 "Enqueued scripts are not printed on validation screens in WP 4.9"
### Bug Description

When testing in WP 4.9, I noticed that the Details failed to expand the error info on the Validated URL screen:

![image](https://user-images.githubusercontent.com/134745/145279867-e49535ad-deb7-4fb3-8cf1-0ad419d5e8fe.png)

It's not just that, as the search box doesn't work and the filter doesn't do anything. I believe there is a script dependency present which doesn't exist i

[2021-12-08 20:49] westonruter opened #6776 "Errors from `wp-hooks` in WP 5.0-5.5"
### Bug Description

On the Settings Screen and Onboarding Wizard and AMP Customizer, I'm seeing `Uncaught TypeError: Cannot read properties of undefined (reading 'wp')` in WordPress 5.0-5.5:

Nevertheless, the screens seem to work properly.

This is low priority given the old WP version.

### Expected Behaviour

No errors should occur on these screens.

### Screenshots

_No response_

### PHP Ver

[2021-12-08 22:46] westonruter commented on #6776
In WordPress 5.3.10 & 5.4.8, the Customizer has many more errors than just this:

![image](https://user-images.githubusercontent.com/134745/145303420-47447eb5-8b90-4ad0-ba22-06ff1cb1ada0.png)

It breaks the Customizer entirely.

[2021-12-08 23:00] westonruter commented on #6776
The resolution for the Customizer issue should be just to disable AMP integration in WP<5.6.

**Update:** See https://github.com/ampproject/amp-wp/pull/6773#issuecomment-989544152.

[2021-12-08 23:18] westonruter commented on #6775
I think we should just prevent users access to validation screens in WP<5.6.

[2021-12-08 23:52] westonruter opened #6778 "Empty JS files are generated as part of build"
### Bug Description

Webpack is creating empty JS files when it is processing stylesheets:

![image](https://user-images.githubusercontent.com/134745/145309466-ed3e520e-5725-47fc-b625-9c74e512e028.png)

These need to be omitted from the build, either by preventing them from being generated or by deleting them after running webpack.

### Expected Behaviour

No empty JS files should be created.

###

[2021-12-09 06:32] westonruter commented on #5101
@fellyph That's correct. It will return results for all plugins, not just the one(s) activated. This was something that @delawski noted as well, but there's not a clean way to determine which plugin(s) have just been activated. And it's not entirely needed anyway.

@fellyph Are you saying that you have _suppressed_ Elementor, after activating _another_ plugin you still see validation errors coming

[2021-12-09 11:54] delawski commented on #6778
I found out that it the issue is caused because of Webpack update from version 4 to 5. The API for plugins has changed and now our `IgnoreExtraneousStyleAssets` plugin doesn't work as expected (actually it doesn't work at all). I'm working on a fix.

[2021-12-09 13:27] milindmore22 commented on #4779
**QA Passed**

Observed Cron event for garbage collection `amp_validation_data_gc` of validated URL running daily and Stylesheet running hourly `amp_validated_url_stylesheet_gc`

[code]

Screenshot Before running garbage collection showing total of **89 URL's**

![image](https://user-images.githubusercontent.com/1132541/145404294-0972b046-263c-4e0e-aa87-ce2f2e215a62.png)

[code]
Screenshot Before

[2021-12-09 13:51] delawski commented on #4719
@milindmore22 I think this works as expected but indeed may be confusing to the users.

Here's the entire flow:
- In the Wizard, a scan is done as if the site was in the Standard template mode.
- Since there's an issue with a plugin when in the Standard mode, the Reader and the Transitional modes are recommended.
- The Reader mode is selected and the user goes back to the AMP Settings screen.
- A

[2021-12-09 16:01] dhaval-parekh commented on #6776
While further debugging the issue, Found that while generating polyfill files it assigned the polyfill object into `this.wp` instead of global `wp` (or `window.wp`). This can be changed by removing the below line from the webpack.config.js file.

https://github.com/ampproject/amp-wp/blob/4cd08b2982682b5641c8376694f5f5ad414ee636/webpack.config.js#L205

Though testing these changes with other featur

[2021-12-09 17:51] westonruter commented on #6776
Humm. But that shouldn't matter, should it? It should be that in a browser context, `this === window`.

[2021-12-09 19:59] westonruter opened #6783 "Add support for dark mode user toggle in Twenty Twenty-One"
### Feature Description

When AMP compatibility was added to Twenty Twenty-One (https://github.com/ampproject/amp-wp/pull/5648), the dark mode toggle button had to be hidden on AMP pages since there was no way to persist the state:

However, as of https://github.com/ampproject/amphtml/pull/36958 there is now an `AMP.toggleTheme()` action which can be used to toggle dark mode via user preference. S

[2021-12-10 05:56] westonruter commented on #4719
Right, I can see this particularly being an issue in the legacy Reader theme since it doesn't use standard theme hooks. Therefore if a plugin is printing something in `wp_footer`, it won't trigger an error in legacy Reader mode like it would if you're using a Reader theme. That's a tricky one. I agree it's something we should mull over and it doesn't need to be fixed right now.

[2021-12-10 08:39] dhaval-parekh commented on #6776
Yes, ideally `this === window` by default. But when the function uses strict mode `this` remains undefined and has to define manually. [Reference](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this#function_context)

[2021-12-10 10:59] delawski commented on #4719
@milindmore22 Given the discussion above, do you think this issue can be moved to QA Passed lane?

[2021-12-10 11:16] dhaval-parekh commented on #4624
**Passed**

I have checked the current code in the `develop` branch and confirm that this is no longer the case and key of the default argument is updated and there is no other instance where a different key is being used. [reference](https://github.com/ampproject/amp-wp/blob/5ab441284a529c3c535e0145e1b869ecd2f3a03f/includes/sanitizers/class-amp-comments-sanitizer.php#L35)

[2021-12-10 11:20] milindmore22 commented on #6707
**QA Passed**

| Scenario         |    Support Link  | Validated URL included |QA Status  |
| --------------|----------------------- | --------------|--------------|
| Page with Validation error  |  Admin ToolBar | Yes | ✅  |
| Page with no validation errors error | Admin ToolBar | No (message displayed) |  ✅  |
| Page with Validation error  |  Validation Tool | Yes | ✅  |
| Page with no validatio

[2021-12-10 11:35] milindmore22 commented on #4719
@delawski Not sure if this is intentional, there is one failed QA, where the user has AMP-compatible plugins and theme but didn't get any recommendation if they choose to be a non-tech user, they should be given a Standard Mode as a recommendation?

https://recordit.co/WhXdDoIKQW

[2021-12-10 11:47] fellyph commented on #5101
**QA Passed**

I will open, low priority issues for the small items

[2021-12-10 13:14] delawski commented on #4719
I think it is expected (as per the [template mode recommendation logic](https://github.com/ampproject/amp-wp/blob/develop/assets/src/components/use-template-mode-recommendation/index.js#L327-L354)) but I'll defer to @westonruter since he's worked on the recommendation logic most recently.

[2021-12-10 16:39] westonruter commented on #6776
Ah yes, I forgot about strict mode. 👍

[2021-12-10 16:49] #6776 closed, assigned to bartoszgadomski

[2021-12-10 16:51] fellyph commented on #6691
**QA Passed**

<img width="1435" alt="Screen Shot 2021-12-10 at 16 22 55" src="https://user-images.githubusercontent.com/330792/145610612-66313e5f-2327-4f53-bc2b-39b7f109e71b.png">

- [X] Slow 3g
- [x] PHP 8
- [x] PHP 7.4.1
- [x] PHP 5.6
- [x] WordPress 5.8.2
- [x] WordPress 5.9 Beta

[2021-12-10 17:12] #6778 closed, assigned to westonruter

[2021-12-10 20:17] westonruter commented on #4719
Yeah, that's a good observation. Basically the thinking there is that in Standard mode without loose sandboxing being enabled, it is very likely that a non-technical user could end up activating a plugin later or adding some embed code that could cause validation errors. They could then end up with a broken site without a way for visitors to access the unbroken version. So in that case, Transition

[2021-12-10 20:18] westonruter commented on #6691
Great screenshot depicting what is going on! 👍

[2021-12-13 21:37] bartoszgadomski commented on #6776
### QA results

AMP plugin version: `2.2.0-RC1-20211210T171412Z-7e67d49`

#### Settings Screen

|WordPress version|Screenshot|Description|
|-|-|-|
|5.0.3, 5.1.1, 5.2.4, 5.3.2, 5.4.2|![Screenshot 2021-12-13 at 22 01 51](https://user-images.githubusercontent.com/4476915/145888296-afa33ffb-696d-4b35-8f63-a9577c5eb863.png)|REST requests failed for `/wp/v2/themes` (400: `Missing parameter(s): status`)

[2021-12-13 22:07] delawski commented on #6776
@bartoszgadomski Those issues are fixed in #6773. Since it's not merged yet, I think it's best to wait with the QA until it's in `develop`.

[2021-12-14 00:16] #6775 closed, assigned to westonruter

[2021-12-14 04:07] westonruter opened #6787 "Disabled tree shaking in Customizer causes stylesheet exclusions"
### Bug Description

I discovered a regression when testing Twenty Fifteen as a Reader theme. When I opened the AMP Customizer, I saw the theme without any styling:

![image](https://user-images.githubusercontent.com/134745/145930690-7d7bd717-ffaf-4088-a240-49f3c1cc85d8.png)

I see the same thing if I view the changeset preview link (`https://wordpress-stable.lndo.site/hello-world/?amp=1&customize

[2021-12-14 04:58] westonruter commented on #6787
The regression was introduced in #6546 in which the `allow_excessive_css` arg was added to `AMP_Style_Sanitizer` to be a more explicit opt-in to keeping excessive CSS, instead of using `skip_tree_shaking` to imply that excessive CSS should be kept:

![image](https://user-images.githubusercontent.com/134745/145935747-6ea118e1-d947-41cb-bc07-f9727c7b5be1.png)

So the only thing we need to do is:

[c

[2021-12-14 13:21] delawski commented on #6765
I've added a description to #6770 - it's now ready for review.

[2021-12-14 13:29] milindmore22 commented on #6741
As noticed by Dhaval, our recent changes might have brought back this issue, I am able to reproduce it.

📹  https://recordit.co/r5KGb0xIj7

[2021-12-14 14:03] fellyph opened #6790 "Mobile menu from Twenty Twenty-two isn't working"
### Bug Description

I know there are some work for the version 2.3, but I was testing the core theme Twenty Twenty-two and I found two validations errors:
![Screen Shot 2021-12-14 at 13 21 25](https://user-images.githubusercontent.com/330792/146011099-f7f96f86-29b0-4062-921e-b2be11af717b.png)
![Screen Shot 2021-12-14 at 13 21 52](https://user-images.githubusercontent.com/330792/146011110-54dfefe9

[2021-12-14 14:42] delawski commented on #6741
I can replicate it as well. Reopening and working on a fix right away.

[2021-12-14 15:46] #6787 closed, assigned to nobody

[2021-12-14 17:17] westonruter commented on #6790
I opened a PR to add `aria-modal` to the validator spec a few weeks ago: https://github.com/ampproject/amphtml/pull/37002

I've also identified the validation error in the existing issue regarding the responsive navigation block: https://github.com/ampproject/amp-wp/issues/6319#issuecomment-969854748

This should be fixed with https://github.com/ampproject/amp-wp/pull/6744

So I'm going to close t

[2021-12-14 17:17] #6790 closed, assigned to nobody

[2021-12-14 17:21] westonruter commented on #6787
**QA Passed** per https://github.com/ampproject/amp-wp/pull/6788#issuecomment-993431513

[2021-12-15 10:43] delawski commented on #6778
**QA Passed**

✅ There are no empty JS or extraneous `.asset.php` files in the `/assets/js` folder in the latest production build (files are ordered by size in the screenshot).

<img width="753" alt="Screenshot 2021-12-15 at 11 41 23" src="https://user-images.githubusercontent.com/478735/146172071-289d2a6e-b7e7-490b-94fe-c6086ad8dc83.png">

[2021-12-15 10:49] delawski commented on #6775
**QA Passed**

✅ The validation screens are not accessible on WP<5.6.

| WP 4.9 | WP 5.5 | WP 5.6 |
| --- | --- | --- |
| ![Screenshot 2021-12-15 at 11 47 50](https://user-images.githubusercontent.com/478735/146173062-44b4848d-1f52-447d-ae87-8272259681d1.png) | ![Screenshot 2021-12-15 at 11 47 17](https://user-images.githubusercontent.com/478735/146173094-8a336633-325c-40a0-bfc5-a2c5f3d9ed09.png)

[2021-12-15 11:04] delawski commented on #6776
**QA Passed**

| WordPress Version | QA | AMP Settings | QA | Onboarding Wizard |
| --- | --- | --- | --- | --- |
| 4.9.8 | ✅ | ![Screenshot 2021-12-15 at 11 57 21](https://user-images.githubusercontent.com/478735/146174686-af80b191-5842-4fde-9119-ec41a4d96f03.png) | ✅ | ![Screenshot 2021-12-15 at 11 58 21](https://user-images.githubusercontent.com/478735/146174707-355bf7c8-1c6e-4c85-b41b-b05b0e32

[2021-12-15 11:13] delawski commented on #6741
~As per https://github.com/ampproject/amp-wp/pull/6791#issuecomment-994634239 and https://github.com/ampproject/amp-wp/pull/6791#pullrequestreview-832644905 QA is complete - moving to QA Passed lane.~

Actually, the PR isn't merged yet. It has 2 approvals so it is ready for merge and final QA.

[2021-12-15 14:44] #6741 closed, assigned to milindmore22

[2021-12-15 14:46] #6765 closed, assigned to nobody

[2021-12-16 12:36] aaemnnosttv opened #6793 "AMP Standard: Admin menu item no longer shows in older versions of WP"
### Bug Description

The AMP admin menu item `#wp-admin-bar-amp` no longer appears in WP versions below 5.6 when using the Standard mode.

### Expected Behaviour

I would expect the menu item to be present in WP 4.9+ as it was in previous releases
![image](https://user-images.githubusercontent.com/1621608/146372906-86ead523-7120-4821-a915-bd61e2e9f8f5.png)

### Screenshots

_No response_

### PHP

[2021-12-16 14:31] earcos opened #6794 "v0.js preloading gone"
### Bug Description

The AMP plugin is removing the `<link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">` line from AMP output. This is happening since the 2.1 version of the plugin.

This is affecting LCP loading speed, and it's a recommendation according to the [AMP Page Experience Guide](ttps://amp.dev/page-experience) tool.

### Expected Behaviour

`<link rel="preload" as=

[2021-12-16 14:45] earcos commented on #6794
Nevermind… https://github.com/ampproject/amp-toolbox/issues/1255

[2021-12-16 14:46] #6794 closed, assigned to nobody

[2021-12-16 15:32] dhaval-parekh commented on #6793
I am able to reproduce this bug. After debugging found that the below code segment prevent it from adding the AMP node in the admin bar.

https://github.com/ampproject/amp-wp/blob/c2b9b38c4b21b152ec44138da49f73f27394dd30/src/DevTools/UserAccess.php#L66-L72

[2021-12-16 15:36] milindmore22 commented on #6793
More discussion can be found under [this comment ](https://github.com/ampproject/amp-wp/pull/6773#issuecomment-991375010)

[2021-12-16 15:48] westonruter commented on #6793
@aaemnnosttv Why is the site running WP 5.5? Certain features of the plugin are disabled in versions older than 5.6 as advised on the Settings screen.

That being said, whether the Settings link is displayed probably shouldn't be bound up with whether user has access to DevTools. It should be whether the user can `manage_options`.

[2021-12-16 18:26] aaemnnosttv commented on #6793
@westonruter this came up in our E2E tests on Site Kit where we actively test with AMP using WP 4.7 and 4.9 🙂  Is the AMP validation indicator in the admin bar no longer available for older versions of WP?

[2021-12-16 19:13] westonruter commented on #6793
That's right. We generally now hide the UI for the validation screens in WP<5.6. So if on an old version of WP, the site will behave as if the user had turned off AMP DevTools. This is so we don't have to maintain support those screens on old versions of WordPress. It's not only the validation screens at issue here but it's also the AMP Validation sidebar in the block editor. Since we can't show t

[2021-12-16 19:19] westonruter commented on #6793
Oh, I misread the original description. I thought it was saying that the Settings submenu item alone was missing. But the issue is the entire AMP menu item is missing. If so, then this is working as expected given that we hide the AMP validation UI in WP<5.6. If in Standard mode, there's little value to have an AMP menu item since there is no link to the non-AMP version. So it would only contains

[2021-12-17 09:15] aaemnnosttv commented on #6793
@westonruter we use the official AMP validator library for checking the page output as well, but only for non-logged in users. We use the AMP indicator specifically for checking the validity for a logged-in user since there are things there that it will ignore that the validator extension does not like `data-ampdevmode` (at least last time I checked!).

We don't need to access the screen, but the

[2021-12-17 13:15] dhaval-parekh commented on #6793
I think we can show the AMP menu item in the admin bar and disable specific sub-menu items based on it.
This PR #6797 might address this issue.

[2021-12-17 13:41] maitreyie-chavan opened #6798 "Update the Engineering Guidelines Documentation"
## Problem Statement

The current Engineering Guidelines are mostly outdated and need to be updated to ensure users are able to contribute to the plugin easily

## To-Do

Along with updating the contents under the existing sections, let's also include a setup guideline for the below development environments

- [ ] Local (formerly known as Local by Flywheel)
- [ ] Valet -- (to be written by @dhaval

[2021-12-21 13:21] maitreyie-chavan opened #6801 "QA Checklist for Issues"
## Problem Statement

There's a need for a new QA checklist to ensure all tickets are undergoing a similar testing process at all times. It needs to include testing across all major versions of WordPress and PHP supported.

## To Do

Create a QA checklist to be followed for all tickets to help covers points such as (but not limited to) key plugin interaction areas, console errors, seamless version

[2021-12-21 19:18] delawski commented on #6798
As part of this issue, I’m working on making sure that the docker-based local environment bundled with the repo works as expected and allows for a really quick set up for new contributors. It is because I realized that that my setup based on Local is pretty custom and not reliable, especially when it comes to PHP unit testing.

[2021-12-22 16:32] delawski commented on #6798
I've faced some issues with having 2 instances of both `wordpress` and `mysql` running at the same time so that one can be used for development and the other can be used for tests.

It's interesting that [`@wordpress/env`](https://github.com/WordPress/gutenberg/tree/trunk/packages/env) uses such a setup and everything works okay.

I've even tried replacing the custom docker-compose setup we have i

[2021-12-22 21:00] westonruter opened #6806 "Preload background images from hero Cover blocks when parallax used"
### Feature Description

Content-initial Cover blocks with a selected image will often be identified as a hero image candidate for the AMP Optimizer to apply SSR. When [opt-ing in to preloading responsive images](https://gist.github.com/westonruter/6adb64e6e8c858a40ac1dc51b03f16d8) (which is only supported by Chromium at the moment), such Cover block images will be successfully preloaded.

However

[2021-12-22 23:29] westonruter opened #6807 "Facilitate users to share validation issues with 3rd party theme/plugin developers"
### Feature Description

When a user indicates they are not technically savvy, we hide links to the Validated URLs screen. When Site Scanning completes, we list the plugins and themes that have AMP validation issues, and then we again only show the link to the Validated URLs screen if the user is technical. This is problematic in the case where a user may want to report validation errors to a them

[2021-12-23 01:03] westonruter opened #6809 "Plugin suppression can fail to work during validate requests"
### Bug Description

In a [support topic](https://wordpress.org/support/topic/site-scanner-results-allowing-developers-to-act-on-issues/#post-15189614) I discovered that even though I suppressed Autoptimize, validation errors for it were still showing up when validating the page. However, they would not appear in the admin bar.

I found a way to replicate the issue with the following plugin:

[cod

[2021-12-23 01:14] westonruter commented on #6809
The issue is that the `maybe_suppress_plugins` method runs at the `wp` action (unless a Reader theme is being served):

https://github.com/ampproject/amp-wp/blob/c2b9b38c4b21b152ec44138da49f73f27394dd30/src/PluginSuppression.php#L107-L123

Since it is running at `wp` and `AMP_Validation_Manager::wrap_hook_callbacks()` has already wrapped all the hooks in closures, `maybe_suppress_plugins` is not a

[2021-12-23 01:17] westonruter commented on #6809
I think `is_callback_plugin_suppressed` needs to do something similar to what was done in #6579 to get the original underlying callback:

https://github.com/ampproject/amp-wp/blob/c2b9b38c4b21b152ec44138da49f73f27394dd30/includes/validation/class-amp-validation-manager.php#L1297-L1302

[2021-12-23 15:31] yunvonks opened #6813 "Mixed Content Was Loaded Insecure"
### Bug Description

this is bug is mixed content on google search console

### Expected Behaviour

how to solve mixed content was loaded insecure on amp for wp

### Screenshots

![Screenshot_2021-12-22-22-02-09-264_com android chrome](https://user-images.githubusercontent.com/90853571/147261159-829b987c-599c-47df-9b7e-d4c983258227.jpg)

### PHP Version

7.4

### Plugin Version

1.07.9.33

### AMP

[2021-12-23 16:45] westonruter commented on #6813
Hi. You're not using this AMP plugin but rather https://github.com/ahmedkaludi/accelerated-mobile-pages

Please report the issue there or on their support forum: https://wordpress.org/support/plugin/accelerated-mobile-pages/

[2021-12-23 16:45] #6813 closed, assigned to nobody

[2021-12-23 20:02] westonruter opened #6814 "Do async site scanning after theme activation"
### Feature Description

With #6685 we now do async site scanning after plugin activation. The same should be done when activating a new theme. Granted, it is much less common to be switching themes vs activating plugins, so this is not as high of a priority. Also the weekly cron will show theme results when it runs eventually. But still it would be good to show scan results sooner rather than lat

[2021-12-24 11:57] ediamin commented on #6798
You can use `$npm_config_xyz` in your npm script and use that to pass additional args to phpunit using `--xyz` flag. For example in the package.json
[code]

Then in console we can use,
[code]

Here is my [wp-env setup](https://github.com/ediamin/amp-wp-dev) for amp-wp development.

[2022-01-03 12:49] delawski commented on #6798
@ediamin Thanks for the advice and for sharing a link to your setup. I think it'll be very helpful.

[2022-01-07 14:38] dhaval-parekh commented on #6115
We can use PHP but it needs to be with PHP DOM since while adding skip link we need to find the ID of the target element.

[2022-01-10 14:59] milindmore22 commented on #6489
Closing this as it's fixed in upstream https://github.com/ampproject/amphtml/pull/36103 and we are no longer able to reproduce the bug.

[2022-01-10 14:59] #6489 closed, assigned to nobody

[2022-01-10 17:13] milindmore22 opened #6826 "Optimize : Plugin uninstallation with data"
### Bug Description

We have been receiving support topics mentioning failing to delete data while uninstalling the plugin

1. https://wordpress.org/support/topic/delete-amp-plugin/
1. https://wordpress.org/support/topic/error-on-uninstall-amp/
1. https://wordpress.org/support/topic/can-not-uninstall-amp/
1. https://wordpress.org/support/topic/cant-delete-amp-plugin/
1. https://wordpress.org/suppo

[2022-01-10 23:08] westonruter opened #6827 "Error: `s.sources` is not iterable"
### Bug Description

As reported in a [support forum topic](https://wordpress.org/support/topic/s-sources-is-not-iterable/):

![image](https://user-images.githubusercontent.com/134745/148852747-9d934085-4fe8-4829-868f-61ee42cb5c24.png)

The culprit may be one of these lines:

https://github.com/ampproject/amp-wp/blob/c2b9b38c4b21b152ec44138da49f73f27394dd30/assets/src/block-validation/components/e

[2022-01-10 23:09] westonruter commented on #6827
cc @delawski

[2022-01-10 23:43] westonruter commented on #6826
I wonder if there are plugins that are trying to purge some caches after each `wp_delete_post()` call. If every call is causing a the site's page cache to be purged, then that could be why cause of the problem.

A challenge here is that the object cache can be left populated with data, but better to have stale cache than having data permanently left in the DB.

We could also consider obtaining the

[2022-01-10 23:45] westonruter commented on #6826
Another thought is that we could call `wp_suspend_cache_invalidation( true )` at the beginning before deleting everything, and then `wp_suspend_cache_invalidation( false )` at the end. But this assumes other plugins are checking the `$_wp_suspend_cache_invalidation` when the `delete_post` and `delete_term` actions fire.

[2022-01-11 05:34] westonruter commented on #6826
@milindmore22 Something to check is if users get the same error when they have the “uninstall at delete” toggle turned off in the settings. Is the issue the removal of data or that the plugin has a large number of files?

[2022-01-11 06:40] coachunt opened #6829 "AMP plugin broke my website"
Hi

I think the AMP plugin has broken my website and
Google stopped submitting my website homepage into sitemap after using AMP.

When I tried to uninstall the AMP plugin then I got the error “Deletion failed: There has been a critical error on this website. Learn more about troubleshooting WordPress.”

Could you please tell me how to fix this issue?

[2022-01-11 09:54] milindmore22 commented on #6829
Hello @coachunt
Please create a support topic in [WordPress support forums](https://wordpress.org/support/plugin/amp/#new-topic-0), We will recommend creating a support topic after submitting Site details using AMP->Support
https://www.youtube.com/watch?v=wXoHwRvYsW8

We are currently investigating an issue with failure on uninstalling you follow this [GitHub issue](https://github.com/ampproject/a

[2022-01-11 09:54] #6829 closed, assigned to nobody

[2022-01-11 12:43] KinG-InFeT opened #6830 "Page caching is not detected (wp-rocket)"
### Bug Description

detect cache plugin not work correctly, please see this ticket:
https://github.com/wp-media/wp-rocket/issues/4638

### Expected Behaviour

detect cache plugin correctly

### Screenshots

_No response_

### PHP Version

7.4.21 (fpm)

### Plugin Version

2.2

### AMP plugin template mode

Transitional

### WordPress Version

5.8.3

### Site Health

`
### wp-core ###

version: 5.

[2022-01-11 17:45] milindmore22 commented on #6826
[The user confirmed](https://wordpress.org/support/topic/delete-amp-plugin/#post-15241065) that by toggling off he is able to delete the AMP plugin.

[2022-01-11 19:41] westonruter commented on #6826
@milindmore22 Have you been able to identify a common factor across users who have data deletion failures? Do they have a caching plugin in common, for example?

[2022-01-12 11:26] milindmore22 commented on #6826
I have checked three site info, available  with us, they have very few similarities

| [ampwp-45d67ac7-6236-5036-b88d-8d797b7833cc](https://insights.amp-wp.org/admin/report/uuid/ampwp-45d67ac7-6236-5036-b88d-8d797b7833cc) | [ampwp-71a5b4c4-ff59-5e3c-b3a9-5aa95ef33186](https://insights.amp-wp.org/admin/report/uuid/ampwp-71a5b4c4-ff59-5e3c-b3a9-5aa95ef33186) | [ampwp-6fa79782-72ca-53ba-8f6d-c3893dd5

[2022-01-12 18:21] delawski commented on #6508
@westonruter Are we clear to remove everything related to `ampLayout` and `ampNoLoading` from the block editor sidebar for 2.3?

[2022-01-12 18:56] delawski commented on #6508
There's two more things I noticed. Even though they are not directly related to `ampLayout` or `ampNoLoading` described in this ticker, they are relevant to the AMP Settings panel contents.

1. Should the "Add lightbox effect" toggle be visible for images inside a core gallery block or should this be controlled only at the gallery block level? Right now both the gallery and the images inside the g

[2022-01-13 01:49] westonruter commented on #6508
Yes, let's. Nobody has raised any topics about wanting these settings.

No, they should not. The toggle should only be present for Image blocks that are not nested inside Gallery blocks.

I think this may be a regression introduced by the change to how the Gallery block is constructed. I noticed something similar in https://github.com/ampproject/amp-wp/issues/6734#issuecomment-984228274.

[2022-01-13 02:01] westonruter commented on #6826
Let's go ahead with just doing the SQL `DELETE` queries.

In looking at [what WooCommerce does](https://github.com/woocommerce/woocommerce/blob/cd73b571917b0bb64192c6cbe8b8e3569454b2c1/plugins/woocommerce/uninstall.php#L58-L110), they do SQL `DELETE` for posts and taxonomy terms, and then at the very end they do `wp_cache_flush()`. The flushing of the object cache at the end is the missing piece t

[2022-01-13 02:13] westonruter commented on #6830
See conversation at https://github.com/wp-media/wp-rocket/issues/4638#issuecomment-1011429544.

We may want to add `Last-Modified` and `ETag` as signals for whether page caching is enabled. It's true that this is not 100% indicative of page caching being active, but it's also true that `Expires`/`Cache-Control` are not 100% indicative either.

Also, along with `Age` we may need to add some host-sp

[2022-01-13 09:12] delawski opened #6832 "Remove "Add lightbox effect" toggle from Image blocks nested in Gallery block"
## Bug Description

Currently, the "Add lightbox effect" toggle in the block editor sidebar is displayed for every instance of Image block, including those that are part of a Gallery block.

The lightbox effect should be controlled on a Gallery block level. It means that there should be no toggle in Image blocks that are nested in a Gallery block.

## Expected Behaviour

1. The "Add lightbox effec

[2022-01-13 15:22] milindmore22 opened #6834 "Iframe having width="100%" with youtube embed link are not converted to fixed-height layout"
### Bug Description

As noted by Weston on the [support topic ](https://wordpress.org/support/topic/youtube-video-31/#post-15237963)
the `width="100%"` should be converted to `layout=fixed-height`

it converts other sites, but not for youtube embed links

Input Youtube Embed
[code]
Output:
No Output

Input Site
[code]
Output
[code]

### Expected Behaviour

Convert youtube embed with width="100%" i

[2022-01-13 17:19] westonruter commented on #4400
The Bento version of `amp-sidebar` is incompatible with non-Bento `amp-nested-menu`. Since there is no Bento version of `amp-nested-menu` yet, this issue is blocked.

[2022-01-13 17:28] westonruter commented on #6830
Also consider checking if `advanced-cache.php` is present as an adequate signal.

[2022-01-13 17:42] marziolek opened #6836 "No AMP blocks available"
### Bug Description

Fresh WP install, no plugins except for AMP. There are no available AMP blocks.

### Expected Behaviour

There should be multiple AMP blocks i.e JW Player block

### Screenshots

_No response_

### PHP Version

7.3.21

### Plugin Version

2.2.0

### AMP plugin template mode

Standard

### WordPress Version

5.8.3

### Site Health

_No response_

### Gutenberg Version

_No resp

[2022-01-13 18:50] westonruter commented on #6836
These blocks have been deprecated/removed due to low/no usage. See #4556. Registration of these blocks is now omitted if they are not being used on a post: #5575.

As an alternative to these blocks, you could just use the Custom HTML block and add the AMP markup directly. The blocks were not particularly well designed in terms of user interface, so you're not losing much by just adding the markup

[2022-01-13 19:55] westonruter commented on #6834
The lack of output is due to there being a validation error:

![image](https://user-images.githubusercontent.com/134745/149394533-b58c1c1f-6fb8-4758-bfc3-17fefd50b991.png)

The issue is that `AMP_Iframe_Sanitizer` is normally able to handle this case, as it is able reuse this logic in `AMP_Base_Sanitizer::set_layout()`:

https://github.com/ampproject/amp-wp/blob/bf8aa7f9cdb05c1ea745b69578f6bbbee49

[2022-01-13 20:40] #6836 closed, assigned to nobody

[2022-01-13 21:53] westonruter commented on #6830
See https://github.com/wp-media/wp-rocket/issues/4638#issuecomment-1012543999:

[2022-01-13 22:10] westonruter commented on #6830
Successful detection of page caching includes the following, where if any condition is true the rest are skipped:

1. The `advanced-cache.php` drop-in is present, `enable_loading_advanced_cache_dropin` filter returns true, and `WP_CACHE` is true. (New)
2. The `Cache-Control` response header is present and has a non-zero `max-age`. (Existing)
3. The `Expires` response header is present and has a fu

[2022-01-13 22:27] westonruter commented on #6830
For `response_timing`, the test is considered a pass if _one_ of the values are less than 200ms.

[2022-01-14 02:26] westonruter commented on #6830
This seems out of date. The current audit mentions a target of 100ms: https://github.com/GoogleChrome/lighthouse/blob/82772f93645989c9c250c78a0ad10d55f3372beb/lighthouse-core/audits/server-response-time.js#L27-L30

The web.dev article mentions the audit failing if it takes more than 600ms to load the main document: https://web.dev/time-to-first-byte/

It's probably unreasonable for page caching pl

[2022-01-14 02:30] westonruter commented on #6830
In regards to the 3-iteration loop in `check_for_page_caching`, instead of short-circuiting when it finds the first page caching response header present, it should instead continue iterating (up to 3 times) until it gets a sub-600ms response. (Alternatively, it could _always_ do 3 iterations and then the _median_ response time could be used for the test results as opposed to the _minimum_.)

[2022-01-14 16:35] sboerrigter commented on #5023
I updated the CSS framework we use (Tailwind CSS 2 > 3) and ran into this same error. After some debugging and googling I found this issue again that I created myself 😐. In Tailwind 3 the CSS with CSS variables looks like this:

[code]

I've fixed this now by replacing all CSS variables using https://github.com/MadLittleMods/postcss-css-variables, but this should probably be fixed in the AMP plugi

[2022-01-14 17:06] westonruter commented on #5023
@sboerrigter So the issue didn't happen in Tailwind CSS 2 but started happening again with v3? Or was there a change to PHP-CSS-Parser in a different version of the AMP plugin that caused the regression?

[2022-01-14 17:13] sboerrigter commented on #5023
@westonruter yes, I've tested this with previous versions of the AMP plugin as well.

[2022-01-14 18:15] westonruter commented on #5023
So to confirm, there's some difference in Tailwind CSS v3 that is causing this regression.

There are a couple open issues regarding CSS variables. I think the one in question is https://github.com/sabberworm/PHP-CSS-Parser/issues/186.

[2022-01-15 08:54] sboerrigter commented on #5023
That's right. The CSS output from Tailwind 3 is different then the CSS output from Tailwind 2 (see my previous comments).

I don't have this problem if I downgrade Tailwind to V2 and leave everything else in my codebase the same.

[2022-01-18 16:05] milindmore22 commented on #6827
[Another report ](https://wordpress.org/support/topic/r-sources-not-iterable/)for same issue

Possible cause :
[code]

[2022-01-18 17:11] ghost commented on #6826
Hey, I am also facing this issue. Cannot delete the plugin until I turn off that delete all data button. But why I am writing here is because AMP left some children somewhere and cannot find where to remove it.

This is the Notice I get from RankMath : SEO Notice: A previously published term has been moved to trash. You may redirect https://example.com/?taxonomy=amp_validation_error&term=a6703459a

[2022-01-18 17:30] milindmore22 commented on #6826
Hello @rfseapp We are working on optimizing the delete data process, which is likely to release with 2.2.1, meanwhile, you can try and use the WP CLI commands or SQL queries mentioned in [this reply](https://wordpress.org/support/topic/how-do-i-uninstall-the-plugin-and-databases-2/#post-13997354) (Please use those SQL queries at your own risk, also once you execute those queries please clear Site

[2022-01-18 19:50] westonruter commented on #6827
For that support topic, it's interesting to note that the error is slightly different: `r.sources is not iterable`. So here the object is `r` but in the original topic the object is `s`. That would seem to indicate it's happening in multiple places, perhaps two of the code instances I cited.

[2022-01-18 20:14] westonruter commented on #6827
I was able to reproduce the issue. In looking at the preloaded data for `scannable-urls`, the search results item included this:

[code]

I'm not sure why it was saved with `null`, and after rescanning it is no longer `null`.

[2022-01-18 20:19] westonruter commented on #6827
I think this code may be the problem:

https://github.com/ampproject/amp-wp/blob/bf8aa7f9cdb05c1ea745b69578f6bbbee495f876/includes/validation/class-amp-validation-manager.php#L785-L799

Notice how `$sources` is set to have an initial value of `null`, and then it is set to be an array only if `$error['sources']` is not empty or `$node` is not empty. But in the `else` condition, nothing happens and

[2022-01-18 20:22] westonruter commented on #6827
Or maybe actually even simpler to just ensure that `sources` is an array in the REST API response:

[code]

(This may also need to handle ensuring nested `sources` also being arrays.)

[2022-01-18 20:24] westonruter commented on #6827
This would need to be combined with fixing the non-cached validation response as well:

[code]

[2022-01-19 14:42] delawski commented on #6827
@westonruter Thanks for the investigation.

Can you share more on this? I tried reproducing the error on a multisite instance but with no luck.

[2022-01-19 17:05] #6834 closed, assigned to dhaval-parekh

[2022-01-19 19:53] westonruter commented on #6827
That's a good question. It was happening when I opened the Settings screen, but I don't know how I caused it! I then reproduced the issue by manually causing the condition to happen. I'm trying to find a way to reproduce the issue otherwise.

[2022-01-19 20:45] westonruter commented on #6827
I created an environment like this but I got no issues with detecting validation error sources.  I tried with Contact Form 7.

I also tried creating a multisite subdirectory install, and for a subdirectory subsite I also didn't get any errors from detecting sources.

So the kind of WordPress install may not be the issue. It may be a specific kind of error scenario that is resulting in `null` as `s

[2022-01-20 04:55] westonruter commented on #6827
I'm at a loss for how to replicate the issue (other than by forcing the error state by modifying the code). Maybe @milindmore22 or @fellyph will have better luck based on the active plugins from the users?

If we can't find the cause, I think we'll need to end up merging #6846 and then investigate further the failure to locate sources later.

[2022-01-20 14:30] delawski opened #6848 "AMP Carousel no longer works in WP 5.9 or latest Gutenberg"
### Bug Description

Relates to #6832
Relates to #6508

The AMP Carousel feature no longer works for the core Gallery block on WordPress 5.9-beta or the latest Gutenberg plugin version.

This is caused by the fact that the core Gallery block has been updated recently. Instead of storing media IDs in the block attributes property, the images are output as core Image blocks. Because of that, the new

[2022-01-21 18:32] #6827 closed, assigned to fellyph, dhaval-parekh

[2022-01-25 05:36] #6826 closed, assigned to nobody

[2022-01-25 06:02] westonruter commented on #6826
In addition to checking the uninstallation visually via the admin, here's a good way to QA the uninstallation by examining the result of the specific SQL `DELETE` queries being run:

[code]

The resulting diff will show the rows that have been deleted from the database.

[2022-01-25 16:37] fellyph opened #6855 "Site scan fail with custom post type"
### Bug Description

When the user selects only a custom post type to be served by AMP, at the plugin's settings the site scan fails. To reproduce this behavior, I have created a simple custom post type and selected only this CPT to be served by AMP.  The result is, the site scan started to fail because wasn't able to find AMP URLs.

### Expected Behaviour

If the user selects a specific custom po

[2022-01-25 18:10] westonruter commented on #6827
User QA [verified](https://wordpress.org/support/topic/r-sources-not-iterable/#post-15287471) fix:

[2022-01-25 18:25] westonruter commented on #6855
Did you create a Movie post in addition to having registered the post type?

[2022-01-25 18:39] westonruter commented on #6793
Sorry for the delay. Yes, this is something we've had filed for a while in https://github.com/ampproject/amp-wp/issues/5166. It's not implemented yet, of course.

If you wanted to add your own plugin that sets a flag in the document to detect whether there were validation errors, even without being logged-in to have the admin bar being shown, you could taken an alternative approach like this: http

[2022-01-25 18:42] westonruter commented on #6793
As such, I think I'll go ahead and close this.

[2022-01-25 18:42] #6793 closed, assigned to dhaval-parekh

[2022-01-25 22:41] fellyph commented on #6855
Hi @westonruter,

No, I haven't it was empty when I checked.
When I've included one Movie post it is working fine.
<img width="1098" alt="Screen Shot 2022-01-25 at 22 38 47" src="https://user-images.githubusercontent.com/330792/151071823-c872d452-8099-4b8f-9c42-fdd1fc6f900f.png">

[2022-01-25 23:22] #6319 closed, assigned to fellyph

[2022-01-25 23:28] westonruter commented on #6855
OK, then that's probably a pretty rare scenario, right?

If anything, when no scannable URLs are returned perhaps a special notice should be displayed saying that no URLs are available. This would be better and more specific than "Site scan failed. Try again."

[2022-01-25 23:54] fellyph commented on #6855
Sure, this is a rare scenario.

The message is not clear, that is why I got confused.

For example, if no post type is selected a different message is displayed:

<img width="1096" alt="Screen Shot 2022-01-25 at 23 50 19" src="https://user-images.githubusercontent.com/330792/151079316-0e392a54-c1f8-4995-9a77-3c7e4e76e7f8.png">

[2022-01-26 04:54] westonruter commented on #6848
I'm investigating this. It may end up making sense to fix as part of #6833. I may amend that PR with what I find.

[2022-01-26 14:57] delawski commented on #6826
**QA Passed**

The AMP-related data is successfully removed after deleting the plugin.

I've set up a set of test posts and activated several plugins that cause AMP incompatibilities. Then, I've validated a bunch of posts.

The DB dump before uninstalling had over 2000 lines. The dump done after the uninstall had almost 1600 lines which means that AMP related data has been removed.

I've also revi

[2022-01-26 18:47] #6809 closed, assigned to nobody

[2022-01-26 18:50] westonruter commented on #6809
(QA still necessary on 2.2 branch.)

[2022-01-26 19:35] #6115 closed, assigned to fellyph

[2022-01-27 01:17] westonruter commented on #6848
OK, I think I got it. See https://github.com/ampproject/amp-wp/pull/6833/commits/6271ffc3197acbb39346f818d7a66d3d54ce9f3b.

[2022-01-28 11:38] delawski commented on #6809
**QA Passed**

For QA I've used the sample plugin shared in the PR description and AMP Version 2.2.1-alpha-20220127T170248Z-78e27d9.

Before suppressing the plugin, an AMP validation issue was displayed in the WP admin bar, on the AMP Validated URL screen and in the Site Scan panel.

After suppressing the plugin, there was no AMP validation issue in neither of the mentioned locations:

| WP admin

[2022-01-28 12:00] delawski commented on #6649
**QA Not Passed**

✅ **Ensure sure the Twenty-Two theme is AMP compatible**

I've browsed a site based on WordPress 5.9 with Twenty-Two theme activated and everything seemed to be working as expected, including items like site navigation (navigation block), adding comments, and search.

There were no AMP validation errors reported.

🚫 **Add the theme as a Reader theme option**

Twenty-Two is not a

[2022-01-28 14:56] dhaval-parekh commented on #6834
✅ **QA Passed.**

The Youtube embeds (used in an iframe) are now converting into the `amp-youtube` component.

| Before                                                                                                                                   | After                                                                                                                                    |
|--------

[2022-01-28 15:25] dhaval-parekh commented on #6827
✅ **QA Passed.**

The Site scanning on AMP setting page work fine even when the error source is `null`.

<img width="1671" alt="image" src="https://user-images.githubusercontent.com/8168027/151573604-0786c7a7-9de5-4234-adfb-2348fbcbd130.png">

[2022-01-28 16:27] westonruter commented on #6649
If the only fail is the theme not being listed among the Reader themes, then great. We can easily add it. We'll just need a mobile screenshot to add to https://github.com/ampproject/amp-wp/tree/develop/assets/images/reader-themes

[2022-01-28 17:49] fellyph commented on #6319
Hi @westonruter,

I have tested on the developer Branch and I was QA passed

[2022-01-28 18:38] fellyph commented on #6115
Tested at 2.2.x  and **QA Passed**

[2022-01-28 19:10] fellyph commented on #6319
Tested at 2.2.x on Chrome and Safari and **QA Passed**

**Chrome**
![Screen Shot 2022-01-28 at 19 03 45](https://user-images.githubusercontent.com/330792/151606983-1ef1e816-eed8-45e0-90df-e99bc0b92336.png)

![Screen Shot 2022-01-28 at 19 03 59](https://user-images.githubusercontent.com/330792/151606979-e5567b06-1c28-4767-86d0-5f76fb4ac0ba.png)

**Safari**
![IMG_8822](https://user-images.githubuser

[2022-01-28 19:16] fellyph commented on #6827
Tested on 2.2.x and ✅  **QA Passed.**

[2022-01-28 22:19] #6830 closed, assigned to nobody

[2022-01-28 22:34] westonruter commented on #6830
@KinG-InFeT Would you be willing to test the improvement in the latest [2.2.x production build](https://github.com/ampproject/amp-wp/wiki/Development-Builds#:~:text=dev/amp.zip-,2.2.x%20Production,-%3A%20https%3A//storage.googleapis)?

[2022-01-28 22:59] #6855 closed, assigned to fellyph

[2022-01-29 00:35] #6508 closed, assigned to dhaval-parekh

[2022-01-29 00:35] #6832 closed, assigned to dhaval-parekh

[2022-01-29 00:35] #6848 closed, assigned to westonruter, delawski

[2022-01-29 08:48] fellyph commented on #6855
**QA Passed**

Site scan before:
<img width="1133" alt="Screen Shot 2022-01-29 at 08 43 39" src="https://user-images.githubusercontent.com/330792/151654467-bc7808d2-32e3-4cd6-93ab-2a91711c7f75.png">

Site scan version 2.2.x:
<img width="1120" alt="Screen Shot 2022-01-29 at 08 44 43" src="https://user-images.githubusercontent.com/330792/151654476-37391097-a977-47a4-a58b-fb174f91b530.png">

[2022-01-30 14:51] KinG-InFeT commented on #6830
yes, now Site Health not return the error for cache 👍
![image](https://user-images.githubusercontent.com/193969/151704768-e1d2a02f-9bdc-4316-85cb-52967b5dd7fb.png)

[2022-01-31 11:21] dhaval-parekh commented on #6832
~~**QA Passed.**~~

✅ The "Add lightbox effect" option is available for image and gallery blocks.

**Image block**
<img width="512" alt="image" src="https://user-images.githubusercontent.com/8168027/151783830-61416cef-b4a6-4569-94e9-8cebaa689cb2.png">

**Gallery block**
<img width="512" alt="image" src="https://user-images.githubusercontent.com/8168027/151783998-95c52ea3-f5e2-4262-aa70-71abe8510ae

[2022-01-31 13:17] dhaval-parekh commented on #6832
The image block is not working properly in WordPress 5.6 with the latest version. upon clicking on the existing image block, it breaks.

https://user-images.githubusercontent.com/8168027/151799816-1f085db1-c09c-40cf-8af5-051fb16a7303.mov

Below error message is coming in the console.
[code]

[2022-01-31 14:12] dhaval-parekh commented on #6508
✅ **QA Passed**

- The "AMP Settings" panel is not rendering in the block sidebar for the video block.

<img width="1676" alt="image" src="https://user-images.githubusercontent.com/8168027/151808921-b7ccad7c-9361-4327-b1e2-df9dcffb2eed.png">

[2022-01-31 14:46] dhaval-parekh commented on #6848
✅ **QA Passed**

-  "Display as carousel" option in the Gallary block is working fine with new markup (as well as with old markup)

[2022-01-31 14:59] delawski commented on #6649
Thanks for the hint. I've added a Twenty Twenty-Two thumbnail to the repo and added its slug to the list of supported Reader Themes in #6870.

One unexpected thing I noticed is that the "Edit site" menu item is rendered in WP admin bar when TT2 is set as a Reader Theme:

![Screenshot 2022-01-31 at 15 56 40](https://user-images.githubusercontent.com/478735/151816507-ea972c60-f671-471c-a4da-3441f549

[2022-01-31 17:13] delawski commented on #6832
@dhaval-parekh Thank you for catching this bug. I've issued a PR with a fix, please check it out: #6871

[2022-01-31 17:27] westonruter commented on #6649
Do you get the same issue when the AMP plugin is deactivated?

[2022-01-31 17:44] delawski commented on #6649
No, when I select TT2 as a regular theme in Standard or Transitional mode (not as a Reader Theme), the link leads to the new site editor. In the same way, if AMP is completely deactivated, the link works as expected.

So this is only the case if TT2 is set as a Reader Theme. I guess we should probably remove this link from the admin bar if in Reader Mode. What do you think?

[2022-01-31 17:46] westonruter commented on #6649
Oh yes, you're right. Humm, in that case I think we'll need to wait on adding TT2 to the list of Reader themes as we'll need to make the Site Editor accessible with the Reader theme active, in the same way we load the Reader theme when loading the AMP Customizer. Otherwise the user wouldn't be able to edit the AMP pages. It may end up being that the Site Editor can't be forced to load the Reader t

[2022-02-01 13:59] maitreyie-chavan commented on #6832
@dhaval-parekh please could you QA this again?

[2022-02-01 14:54] dhaval-parekh commented on #6832
**QA Passed**

✅ After recent changes from PR #6871. The image block is working fine in WordPress 5.6

https://user-images.githubusercontent.com/8168027/151991458-eea55984-2e23-4f40-9576-2253bbed9acd.mov

[2022-02-03 13:17] zdenys commented on #6827
Just wanted to let share that some WordPress.com customers have also been affected by this bug. Is there a timeline for when version 2.2.1 will be released?

[2022-02-03 17:22] westonruter commented on #6827
@zdenys The plan is to release 2.2.1 today.

[2022-02-03 18:19] westonruter opened #6883 "Improve determination of eligible post types for AMP"
### Feature Description

As noted in https://github.com/ampproject/amp-wp/pull/6881#issuecomment-1029267449:

### Acceptance Criteria

Only post types for which `is_post_type_viewable()` returns `true` should be listed among the post types for which AMP can be enabled. Only these post types should have an AMP preview button shown in a paired AMP mode (transitional or reader).

### Implementation B

[2022-02-04 05:18] westonruter commented on #6827
@zdenys It was released several hours ago: https://github.com/ampproject/amp-wp/releases/tag/2.2.1

[2022-02-04 10:45] delawski opened #6893 "AMP Preview button is not showing up in WP 5.6, 5.7, and 5.8 initially"
I've just noticed an issue: the preview button is not showing up in WP 5.6, 5.7, and 5.8 until the user makes a change and then saves a draft.

https://user-images.githubusercontent.com/134745/152435922-22360a24-892e-441e-8577-f17f71af929d.mov

It seems the container is empty:

![image](https://user-images.githubusercontent.com/134745/152436149-37b3741c-117e-42d5-bc53-ee948773316c.png)

And also,

[2022-02-07 11:10] rafaucau opened #6898 "[Gallery Block] Lightbox effect displays thumbnail after click instead of showing full size image"
### Bug Description

As in the title. Lightbox effect shows a pixelized thumbnail on full screen instead of full image. See screenshots below.

### Expected Behaviour

When you click on the thumbnail, a full quality image should show up.

### Screenshots

![image](https://user-images.githubusercontent.com/25438601/152780038-a07a4f06-f669-4d9d-affc-a93f0b69194a.png)

https://user-images.githubuserc

[2022-02-07 15:43] adrianvintu opened #6899 "Undefined class constant 'TIKTOK'"
### Bug Description

When requesting to see any article https://adrianvintu.net/articole/ like this one https://adrianvintu.net/2021/11/26/bitcoin-ul-la-romani/ as an AMP by addyng /amp/ to the link https://adrianvintu.net/2021/11/26/bitcoin-ul-la-romani/amp/, an error message appears:

![2022-02-07 17_34_38-Window](https://user-images.githubusercontent.com/33379688/152819703-b6576a53-88a0-4d86-b9

[2022-02-07 16:20] westonruter commented on #6899
The issue is probably because you have both the Accelerated Mobile Pages plugin _and_ the AMP plugin active at the same time. If the Accelerated Mobile Pages plugin includes an old copy of the `Extension` class, then it may not have its `TIKTOK` constant defined yet.

You can see that `Extension::TIKTOK` is present in the latest plugin version: https://plugins.trac.wordpress.org/browser/amp/tags/2

[2022-02-07 16:20] #6899 closed, assigned to nobody

[2022-02-07 16:22] westonruter commented on #6898
Is this a regression in v2.2.1?

[2022-02-07 16:37] adrianvintu commented on #6899
Deactivating
[code]
fixed the issue.

Thank you for your support.

[2022-02-07 20:00] rafaucau commented on #6898
IDK, I started using this plugin a few days ago

[2022-02-07 20:02] westonruter commented on #6898
OK, thanks. It may also be related to changes in WordPress 5.9. We'll investigate. Thanks for reporting.

[2022-02-08 09:44] maitreyie-chavan commented on #6656
@milindmore22 with #6546 being released, please could you verify if this issue is still valid? Will accordingly have it either closed or added to the next release milestone.

[2022-02-08 11:48] milindmore22 commented on #6656
Verified Fixed, Closing this as fixed in https://github.com/ampproject/amp-wp/pull/6546

[2022-02-08 11:48] #6656 closed, assigned to milindmore22

[2022-02-08 18:56] #6643 closed, assigned to nobody

[2022-02-09 17:31] delawski commented on #6898
There doesn't seem to be a regression in v2.2.2 compared to v2.2.1 in how a gallery or a lightbox is handled.

@rafaucau I think that you get pixelated images in lightbox because the "Image size" is set to "Thumbnail" in the Gallery block settings (as per the screenshot). AMP will use "at most" this image size when opening a lightbox. If you switch to a larger size, e.g. "Full size", you'll get no

[2022-02-09 18:11] rafaucau commented on #6898
Rather, it should work the same way as in the standard version, i.e. thumbnails are displayed and when I click it, the full size is loaded.

And an example from the site I work for. There are tens of thousands of posts which have the gallery set up this way. Previously, we were using [another AMP plugin](https://pl.wordpress.org/plugins/accelerated-mobile-pages/) and there it worked fine (but othe

[2022-02-09 21:31] maitreyie-chavan commented on #6734
@delawski please could you take a look at this and see if any further updates need to be made by us?

[2022-02-09 22:39] #6598 closed, assigned to nobody

[2022-02-09 22:39] #6499 closed, assigned to nobody

[2022-02-09 22:39] #6460 closed, assigned to nobody

[2022-02-09 22:40] #6457 closed, assigned to nobody

[2022-02-09 22:40] #6465 closed, assigned to nobody

[2022-02-09 22:41] #6429 closed, assigned to nobody

[2022-02-09 22:42] #3293 closed

[2022-02-09 22:44] westonruter commented on #4445
Error messages are now emitted by AMP in the console when there is a parse error. So this is no longer needed.

[2022-02-09 22:44] #4445 closed

[2022-02-09 22:49] westonruter commented on #4651
We will restrict this user opt-in to sharing site details when opening a support request.

[2022-02-09 22:49] #4651 closed, assigned to nobody

[2022-02-09 22:50] westonruter commented on #4664
The support screen was added in v2.2.

[2022-02-09 22:50] #4664 closed, assigned to nobody

[2022-02-09 22:51] #4672 closed, assigned to nobody

[2022-02-09 22:53] #4752 closed, assigned to nobody

[2022-02-09 22:54] #5167 closed, assigned to nobody

[2022-02-09 23:46] #5782 closed, assigned to nobody

[2022-02-09 23:59] westonruter commented on #5233
If there is an efficient way to obtain the dimensions for an external video in the same way dimensions are determined for images (via [FasterImage](https://github.com/willwashburn/fasterimage/tree/master/src/FasterImage)), this would be useful to have and may be suitable for inclusion in WordPress core via the [performance](https://github.com/WordPress/performance/) group.

Alternatively, if not d

[2022-02-10 00:01] westonruter commented on #4865
This was done in #6673 via c6fabaadfbfca16e8b4cfe9d52aacbfc6bf635fd.

[2022-02-10 00:01] #4865 closed, assigned to schlessera

[2022-02-10 00:07] #5405 closed, assigned to nobody

[2022-02-10 10:58] delawski commented on #6734
@maitreyie-chavan There still was an issue with the caption colors. It's addressed and now waits for a code review (#6907).

[2022-02-10 15:49] danirueda opened #6909 "CSS selectors with !important not working in next pages with amp-next-page component"
### Bug Description

# Target
I am working on implement AMP infinite scroll experience with `<amp-next-page>` component.

# Context
I am in transitional mode using same post template for AMP and no AMP version. Also I am using Bootstrap 4 for front-end building. I am using its utilities classes to get my expected CSS behaviour like `d-flex, d-none, align-items-center`... etc.

# Problem
I started

[2022-02-10 16:42] westonruter commented on #6898
I think I found the solution, and it is to implement thumbnail previews: https://amp.dev/documentation/components/amp-lightbox-gallery/#implement-thumbnail-previews

[2022-02-10 16:51] westonruter commented on #6898
Maybe not. I was thinking there should be some mechanism to select a different image to open in a lightbox when the small image is clicked. I thought that is what the “implement thumbnail previews” feature was for, but apparently it's for the thumbnails in ght lightbox view.

[2022-02-10 17:08] maitreyie-chavan commented on #6898
@rafaucau It would be super helpful if you are able to send in a Pull Request for this, contributions are always welcome! ❇️

Please do confirm if you would be able to send it over, I'll have the issue assigned to you accordingly.

[2022-02-10 17:16] westonruter commented on #6909
@danirueda Thanks for reporting this issue. I think this may be resolved by #6312 which takes an alternative approach to hacking the specificity of CSS selectors.

So given input CSS of:

[code]

Before this would get processed as:

[code]

And after it would instead be:

[code]

As you can see, the new proposed approach does not use `:root`.

Could you test that PR to see if it fixes the issue fo

[2022-02-11 00:51] #6734 closed, assigned to nobody

[2022-02-11 08:26] danirueda commented on #6909
@westonruter Yes it does!

I've changed selector in next page and it works. That PR is the solution.

When will those changes be merged into plugin?

Thank you!

[2022-02-11 15:22] mszylkowski opened #6911 "Story transformer should optimize images in story"
### Feature Description

The transformer currently doesn't optimize /compress all the images in stories, I'm not sure what images get compressed so I'll list all that need to. This improvement could bring **_very_** significant LCP improvements to most stories.

- `<amp-img src>`
- `<amp-img srcset>`
- `<image href>` and `<image xlink:href>` which are SVG-specific images.
- `<link rel=icon href>`

[2022-02-11 18:28] erwinmombay commented on #6911
cc @westonruter for input

[2022-02-11 19:12] westonruter commented on #6911
This should really rather get reported to https://github.com/GoogleForCreators/web-stories-wp

The AMP plugin doesn't do any image optimization. Rather, it relies on ecosystem plugins to do the optimization. For example, I opened pull requests so that Jetpack's Image CDN would apply to images in stories: https://github.com/Automattic/jetpack/pull/12821 and https://github.com/Automattic/jetpack/pul

[2022-02-11 19:16] westonruter commented on #6909
Excellent. Then I'll milestone this for the next minor release (v2.2.2). This would be likely due out in the next couple weeks.

[2022-02-11 19:18] erwinmombay commented on #6911
@westonruter my apologies, i was the one who pointed @mszylkowski here. thanks for pointing us to the correct repo!

[2022-02-11 20:22] swissspidy commented on #6911
@erwinmombay @mszylkowski Heya, TL fir the Web Stories WP plugin here 👋  Happy to go discuss this on our repo or offline.

Since the primary issue seems to be a very large outlink cta-image, some background:

In the WP editor, when adding outlinks we grab the target‘s favicon or Open Graph image by default. That image is sinpmy hotlinked, so we don‘t do any additional processing there.

If this is

[2022-02-12 19:21] danirueda commented on #6909
@westonruter Thank you!

[2022-02-14 19:11] #6883 closed, assigned to nobody

[2022-02-16 00:25] fellyph opened #6921 "PHP 8 Warning"
### Bug Description

A user at the AMP Support forum [reported](https://wordpress.org/support/topic/error-log-warnings-2/) the following warning:

`[09-Feb-2022 19:33:57 UTC] PHP Warning: Undefined array key "url" in /home/../wp-content/plugins/amp/src/Validation/ScannableURLsRestController.php on line 181
[09-Feb-2022 19:33:57 UTC] PHP Warning: Undefined array key "url" in /home/../wp-content/plu

[2022-02-16 21:30] rafaucau commented on #6898
I confirm, but I don't know if I can handle it and if it will be possible at all in AMP. I am new here. If you have any tips it would be helpful.

In my opinion, the best way to do it would be that if the media contains links, the lightbox should be used automatically, without checking a separate option in AMP. That way, sites that were previously using the lightbox in the standard theme (non-AMP)

[2022-02-17 00:30] rafaucau commented on #6898
I haven't looked into the code of this plugin yet, but I added such a sanitizer on my website based [on this gist](https://gist.github.com/westonruter/fefdcda37df7bde61c7b0f690fafc01c):
[code]
The `thumnail` size does not have `srcset`, so the sanitizer takes the original image and replaces the attributes on the current one.

[2022-02-17 19:40] westonruter opened #6925 "Use of `uniqid()` generated CSS class names in WP 5.9 breaks parsed CSS transient caching"
### Bug Description

See https://github.com/WordPress/gutenberg/issues/38889 and the [support forum topic](https://wordpress.org/support/topic/big-drop-in-page-speed-after-wordpress-5-9-update/).

I've created a mini plugin to fix the issue with layout container class names: https://gist.github.com/westonruter/71852bfeea22ebd7b570865a95b169d6

The same could be done for duotone and elements styles

[2022-02-21 11:10] dhaval-parekh commented on #6921
I'm not able to reproduce this issue with PHP version 8.0.16, And with same the AMP configuration provided  in `ampwp-16f02fc7-3324-5533-882a-b1cb9de83705` support request.

Waiting for further information from [WordPress.org support](https://wordpress.org/support/topic/error-log-warnings-2/)

[2022-02-22 19:40] schlessera opened #6931 "Add POC integration of the PX Engine"
### Feature Description

An immediate priority is to set integrate the PX Toolbox repository and use its PX Engine to augment the PX analysis we can provide per URL.

This integration is meant to provide the CWV field data (if available) and lab data for any requested URL. To that end, we need to finalize the tooling integration far enough to retrieve the field data from the PageSpeed Insights API

[2022-02-24 16:19] delawski commented on #6925
@westonruter I've been playing around with your plugin and was wondering if we really need to override the Gutenberg/Core filters in order to convert the unique IDs.

I've created this rough plugin that is a proof of concept for a different approach:
https://gist.github.com/delawski/31cf644d757b7068e8ebd2ac4c31c9ae

It first hooks into the `render_block` and searches for the specific class names l

[2022-02-24 19:12] westonruter commented on #5378
See latest comment on upstream issue: https://github.com/ampproject/amphtml/issues/29296#issuecomment-1048302915

[2022-02-24 21:11] westonruter opened #6937 "Site Health test for page caching does not account for `wp_remote_retrieve_header()` returning arrays"
### Bug Description

As reported in a [support forum topic](https://wordpress.org/support/topic/amp-plugin-breaks-my-site/), an error can occur in the page caching detection test:

[code]

The `preg_match()` call in question is here:

https://github.com/ampproject/amp-wp/blob/7c2b5ae700c460bea95fda7e68dde145ae6a0537/src/Admin/SiteHealth.php#L547-L549

The `$header_value` is being passed here:

htt

[2022-02-25 07:39] dhaval-parekh commented on #5122
As of now, I have added the filter to disable the auto lightbox. (by default auto lightbox will be enabled). Let me know if we should add a UI for that option.

cc: @westonruter

[2022-02-25 11:39] milindmore22 commented on #6898
Hello @rafaucau This may not be required by everyone, It will be really helpful if you can create a mini plugin with the fix, so anyone who needs it can download and use it, we can list your mini plugin on[ our site ](https://amp-wp.org/documentation/extending-amp-compatibility-extensions-and-mini-plugins/).

You can use this [skeleton plugin](https://github.com/milindmore22/amp-skeleton-compat) f